@(form: Form[Feedback])(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, token: play.filters.csrf.CSRF.Token)

<div class="slide-out-div">
    <a class="handle" href="@controllers.portal.routes.Feedback.feedback">@Messages("pages.feedback")</a>
    <div id="suggestions">
        <div id="suggestion-thanks" class="alert alert-success">
            <h4>@Messages("pages.feedback.thanks")</h4>
            @Messages("pages.feedback.thanks.message")
        </div>

        @feedbackForm(form)
    </div>
</div>