@()(implicit req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@footerLink(call: Call, code: String) = {
    <li class="@views.Helpers.maybeActive(call.url)">
        <a href="@call">@Messages(code)</a>
    </li>
}

<footer id="portal-footer" class="footer sticky">
    <p>@Messages("footerText")</p>

    <ul id="navbar-tertiary">
        @footerLink(controllers.portal.routes.Portal.contact(), "contact")
        @footerLink(controllers.portal.routes.Portal.terms(), "termsAndConditions")
        @footerLink(controllers.portal.routes.Portal.dataPolicy(), "dataPolicy")
    </ul>

    <div class="footer-blurb">
        <hr />
        &copy; @Messages("copyright.holder") &nbsp;&nbsp; @Messages("footer.funding")
        <img class="eu-logo" alt="EU Logo" src="//s3-eu-west-1.amazonaws.com/ehri-assets/eu_logo.gif" />
    </div>
</footer>
