@()(implicit req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@footerLink(call: Call, code: String) = {
    <li class="@views.Helpers.maybeActive(call.url)">
        <a href="@call">@Messages(code)</a>
    </li>
}

<footer class="footer sticky">
    <p>@Messages("footerText")</p>

    <ul id="navbar-tertiary">
        @footerLink(controllers.portal.routes.Portal.about, "about")
        @footerLink(controllers.portal.routes.Portal.contact, "contact")
        @footerLink(controllers.portal.routes.Portal.terms, "termsAndConditions")
        @footerLink(controllers.portal.routes.Portal.dataPolicy, "dataPolicy")
    </ul>

    <ul class="lang-switcher">
        @globalConfig.languages.map(c => (c, new java.util.Locale(c))).map { case (changeLang, locale) =>
        <li>
            @if(lang.toString.toLowerCase.contains(changeLang)) {
            @locale.getDisplayName(locale).toLowerCase
            } else {
            <a href="@controllers.portal.routes.PortalData.changeLocale(changeLang)">
                @locale.getDisplayName(locale).toLowerCase
            </a>
            }
        </li>
        }
    </ul>

    <div class="footer-blurb small clearfix" style="margin-top: 20px">
        <hr />
        &copy; @Messages("footer.copyright") &nbsp;&nbsp; @Messages("footer.funding")
        <img class="eu-logo" alt="EU Logo" src="//s3-eu-west-1.amazonaws.com/ehri-assets/eu_logo.gif" />
    </div>
</footer>
