@()(implicit req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<footer class="footer sticky">
    <p>@Messages("portal.footerText")</p>

    <ul id="navbar-tertiary">
        <li class="@views.Helpers.maybeActive(controllers.portal.routes.Portal.about.url)">
            <a href="@controllers.portal.routes.Portal.about">@Messages("portal.about")</a>
        </li>
        <li class="@views.Helpers.maybeActive(controllers.portal.routes.Portal.contact.url)">
            <a href="@controllers.portal.routes.Portal.contact">@Messages("portal.contact")</a>
        </li>
        <li class="@views.Helpers.maybeActive(controllers.portal.routes.Portal.terms.url)">
            <a href="@controllers.portal.routes.Portal.terms">@Messages("portal.terms")</a>
        </li>
    </ul>

    <ul class="lang-switcher">
        @globalConfig.languages.map(c => (c, new java.util.Locale(c))).map { case (changeLang, locale) =>
        <li>
            @if(lang.toString.toLowerCase.contains(changeLang)) {
            @locale.getDisplayName(locale).toLowerCase
            } else {
            <a href="@controllers.portal.routes.PortalData.changeLocale(changeLang)">
                @locale.getDisplayName(locale).toLowerCase
            </a>
            }
        </li>
        }
    </ul>

    <div class="footer-blurb small clearfix" style="margin-top: 20px">
        <hr />
        &copy; @Messages("portal.footer.copyright") &nbsp;&nbsp; @Messages("portal.footer.funding")
        <img class="eu-logo" alt="EU Logo" src="//s3-eu-west-1.amazonaws.com/ehri-assets/eu_logo.gif" />
    </div>
</footer>
