@(location: String, menu: (Guide, List[GuidePage]), sidebar: Option[Html] = None)(implicit request: RequestHeader, lang: Lang)

<div class="well">
	<article>
		@sidebar.getOrElse {
			@Html(views.Helpers.renderMarkdown(menu._1.description.getOrElse("")))
		}
	</article>
</div>
<hr />

<div class="well">
	<ul class="nav nav-pills nav-stacked">

		@for(page <- menu._2) {
			@if(page.position == GuidePage.MenuPosition.Side) {
				<li><a @if(location == page.path) { class="active" } href="@controllers.portal.routes.Guides.layoutRetrieval(menu._1.path, page.path)">@page.name</a></li>
			}
		}
	</ul>
</div>

<hr />