@(location : String, menu: (Guide, List[GuidePage]), guideName: String)(implicit request: RequestHeader, lang: Lang)

<div class="container">
	<div class="row">
		<div class="col-md-3  col-md-push-9 text-center">
			<a href="@controllers.portal.routes.Guides.listGuides()"><img src="@controllers.core.routes.Assets.at("images/text-logo.png")" class="img-responsive" alt="EHRI" /></a>
		</div>
		
		<div class="col-md-9 col-md-pull-3">
			<ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">

				@for(page <- menu._2) {
					@if(page.position == GuidePage.MenuPosition.Top) {
						<li><a @if(location == page.path) { class="active" } href="@controllers.portal.routes.Guides.layoutRetrieval(menu._1.path, page.path)">@page.name</a></li>

					}
				}
				<li><a @if(location == "browse") { class="active" } href="@controllers.portal.routes.Guides.guideFacets(menu._1.path)"> @Messages("portal.guides.faceted")</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="guide-title"><a href="@controllers.portal.routes.Guides.home(menu._1.path)">@guideName</a></h1>
			</div>
		</div>
	</div>
</div>


