@(guide: (GuidePage, (Guide, List[GuidePage])), scripts: Html = Html(""), styles: Html = Html(""), optionalContent: Option[Html] = None)(content: Html)(implicit request: RequestHeader, lang: Lang)

<!DOCTYPE html>

<html>
    <head>
        <title>@guide._2._1.name | @guide._1.name</title>
        <link rel="stylesheet" media="screen" href="@controllers.core.routes.Assets.versioned("css/guides.css")">
        @styles
        <style type="text/css">@guide._2._1.css.getOrElse("")</style>
    </head>
    <body>
	<header id="top">
		@guideHeader(guide._1.path, guide._2, guide._2._1.name, guide._1.name)
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-8" id="main">
				@content
			</div>
			<div class="col-md-4" id="right-bar">
				@guideSidebar(guide._1.path, guide._2, optionalContent)
			</div>
		</div>
	</div>
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
         <script src="@controllers.core.routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
	<script src="@controllers.portal.routes.PortalData.jsRoutes"></script>
	<script type="text/javascript">
		VIRTUAL_UNIT = "@guide._2._1.virtualUnit";
		VIRTUAL_UNIT_ROUTE = "@controllers.portal.routes.Guides.guideFacets(guide._2._1.path)?kw[]=";
		GUIDE_PATH = "@guide._2._1.path";
		$(document).ready(function() {

			$("#main").on('click', ".popover-accesspoints", function() {
				var e=$(this);
				if(e.data("loaded")) {
					return true;
				}
				e.data("loaded", true)

				e.unbind('click');
				e.css("cursor", "wait");
				$.get(jsRoutes.controllers.portal.Portal.linkedDataInContext(e.attr("data-target"), VIRTUAL_UNIT).url,function(d){
					var links = []
					if(d.length > 0) {
						$.each(d, function(index, link) {
									links.push('<li><a href="'+ jsRoutes.controllers.portal.Guides.browseDocument(GUIDE_PATH, link.id).url +'">'+ link.name+'</a></li>')
								})

						var html = '<small><ul class="list-unstyled">' + links.join(" ") + '<li>';
						if(links.length == 5) { var html = html + '<a href="'+ VIRTUAL_UNIT_ROUTE + e.attr("data-target") + '">' + (parseInt(e.attr("data-count")) - d.length) + ' more ...</a></li>'; }
						var html = html + '</ul></small>';
						e.popover({content: html, html: true, trigger: "click", container : "body"}).popover('show');
						e.css("cursor", "pointer");
					} else {

						if(e.find(".glyphicon-search").length > 0) {
							e.hide();
						}
						e.css("cursor", "pointer");
					}
				});
			});
		})
	</script>
		@scripts
    </body>
</html>
