@()(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, lang: Lang, globalConfig: global.GlobalConfig)


<header id="header" class="navigation">
    <div id="loader-bar">
        <span style="width:100%">
            <span></span>
        </span>
    </div>
    <div class="nav-primary">
       <nav role="navigation">
            <ul>
                <li id="navbar-logo" >
                    <a href="@controllers.portal.routes.Portal.index">
                        <img alt="EHRI" src="@controllers.portal.routes.Assets.versioned("img/logo-rect-bw.png")" rel="logo" />
                    </a>
                </li>
                <li class="@views.Helpers.maybeActive(controllers.portal.social.routes.Social.personalisedActivity().url)">
                    <a href="@controllers.portal.social.routes.Social.personalisedActivity()">@Messages("portal.activity")</a>
                </li>
                <li class="@views.Helpers.maybeActivePath(controllers.portal.social.routes.Social.browseUsers.url)">
                    <a href="@controllers.portal.social.routes.Social.browseUsers">@Messages("portal.social.users")</a>
                </li>
            </ul>
        </nav>
       <nav role="tool">
            @p.layout.headerAccountAdmin()
        </nav>
    </div>
    <div class="nav-secondary">
       <nav role="navigation">
            <ul>
                <li class="more">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </li>
                <li class="@views.Helpers.maybeActivePath(controllers.portal.routes.Portal.browseCountries.url)">
                    <a href="@controllers.portal.routes.Portal.browseCountries">@Messages("portal.type.country")</a>
                </li>
                <li class="@views.Helpers.maybeActivePath(controllers.portal.routes.Portal.browseRepositories.url)">
                    <a href="@controllers.portal.routes.Portal.browseRepositories">@Messages("portal.type.repository")</a>
                </li>
                <li class="@views.Helpers.maybeActivePath(controllers.portal.routes.Portal.browseDocuments.url)">
                    <a href="@controllers.portal.routes.Portal.browseDocuments">@Messages("portal.type.documentaryUnit")</a>
                </li>
                <li class="@views.Helpers.maybeActivePath(controllers.portal.routes.Portal.browseHistoricalAgents.url)">
                    <a href="@controllers.portal.routes.Portal.browseHistoricalAgents">@Messages("portal.type.historicalAgent")</a>
                </li>
            </ul>
        </nav>
       <nav role="tool">
            <ul class="toolbar">
                <li>
                    @helper.form(action = controllers.portal.routes.Portal.search, 'class -> "global-search inactive right-inner-addon", 'role -> "search") {
                    <input type="text" name="q" id="quicksearch" />
                    <span class="glyphicon glyphicon-search search-icon"></span>
                    }
                </li>
                <li>
                    @p.common.viewOptions(true)
                </li>
                <li>
                    @p.layout.feedback(models.Feedback.form)
                </li>
            </ul>
        </nav>
    </div>
</header>
