@(title: Any, styles: Html = Html(""))

<head>
    <title>EHRI - @title</title>

    <link rel="shortcut icon" type="image/png" href="@controllers.core.routes.Assets.at("images/favicon.png")">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@controllers.core.routes.Assets.at("css/portal.css")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="The European Holocaust Research Infrastructure Online Portal">
    <meta name="keywords" content="EHRI,Holocaust,Research,Shoah,Archives,History,Deportations,Camps,Ghettos">

    @styles
</head>
