@()(implicit userOpt: Option[UserProfile], globalConfig: global.GlobalConfig, lang: Lang)

<ul class="account-admin">
    @userOpt.map { user =>
    <li>
        <a href="@controllers.portal.routes.Profile.profile" class="gravitar">
            @defining(user.model.imageUrl.getOrElse(controllers.portal.routes.Assets.at("img/default-gravitar.png").url)) { src =>
            <img height="24" width="24" class="user-img-icon" src="@src" />
            }
            <span class="hidden-responsive">@user.model.name</span>
        </a>
    </li>
    @if(user.account.exists(_.staff)) {
        <li>
            <a href="/admin">@Messages("pages.admin")</a>
        </li>
    }
    <li>
        <a href="@controllers.portal.routes.Profile.logout">
            <span class="hidden-responsive">@Messages("portal.logout")</span>
            <span class="visible-responsive glyphicon glyphicon-off"></span>

        </a>
    </li>
    }.getOrElse {
    <li>
        <a href="@controllers.portal.routes.Profile.login">
            <span class="hidden-responsive">@Messages("portal.login")</span>
            <span class="visible-responsive glyphicon glyphicon-user"></span>
        </a>
    </li>
    }
</ul>
