@(breadcrumbs: Html)(content: Html)(controls: Html = Html(""))

<div class="info-bar">
    @if(!breadcrumbs.body.trim.isEmpty) {
        <ol class="collapsible breadcrumb">
            @breadcrumbs
            @if(!controls.body.isEmpty) {
                @controls
            }
        </ol>
    } else {
        @if(!controls.body.isEmpty) {
            <ol class="collapsible not breadcrumb">
                @controls
            </ol>
        }
    }
    @content
    <div class="clearfix"></div>
</div>

