
        <!--[if !(gte IE 8)]><!-->
            <script src="@controllers.portal.routes.Assets.at("js/dependencies/jquery.browserreject.min.js")"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $.reject({  
                        reject: { 
                            all: false,
                            msie5: true,
                            msie6: true,
                            msie7: true,
                            msie8: true,
                            msie9: true
                        }, // Reject all renderers for demo  
                        header : "@Messages("browser.header")",
                        paragraph1 : "@Messages("browser.p1")",
                        paragraph2 : "@Messages("browser.p2")",
                        closeLink : "@Messages("browser.close")",
                        closeMessage : "@Messages("browser.closing")",
                        closeCookie: true // Set cookie to remember close for this session  
                    });
                });
            </script>
        <!--<![endif]-->

        <script type="text/javascript">
            $(document).ready(function () {
                // activate cookie cutter
                $.cookieCuttr({
                    cookieDeclineButton: false,
                    cookieAnalyticsMessage: "@Messages("cuttr.message")",
                    cookieAcceptButtonText: "@Messages("cuttr.accept")",
                    cookieWhatAreLinkText: "@Messages("cuttr.what")"
                });
            });  
        </script>