@import utils.SessionPrefs

@import controllers.base.SessionPreferences

@(title: Any, itemClass: String = "", scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, prefs: utils.SessionPrefs)

@loginStyles = {
    @styles
    <style>
    .recaptchatable * {
    border: 0 !important;
    }

    .recaptchatable * {
    line-height: normal !important;
    }
    </style>
}


@views.html.p.layout.portalLayout(title, itemClass = itemClass, scripts = scripts, styles = loginStyles) {
    @views.html.layout.mainContent {
        <div class="login-page">
            <div class="login-or-signup">
                @content
            </div>
        </div>
    }
}