@(title: Any, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <title>@title</title>
        <!-- CND Bootstrap...
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"> -->

        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("bootstrap-custom/css/bootstrap.min.css")">

        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("css/portal.css")">

        <style type="text/css">
        </style>

        @styles

    </head>
    <body>

        @maybeActive(url: String) = {
            @(if(req.path.equals(url)) "active" else "")
        }

        @maybeActivePath(url: String) = {
            @(if(req.path.startsWith(url)) "active" else "")
        }

        <div id="wrap">
            <header>
                <div class="navigation clearfix">
                    <div>
                        <ul class="list-unstyled list-inline">
                            @helper.form(action = controllers.portal.routes.Portal.search, 'class -> "navbar-form navbar-right", 'role -> "search") {
                            <div class="form-group">
                                <input type="text" name="q" class="form-control" placeholder="@Messages("portal.globalSearch")" />
                            </div>
                            }
                        </ul>
                        <ul class="list-unstyled list-inline">
                            <li id="navbar-logo" >
                                <a href="@controllers.portal.routes.Portal.index">
                                    <img src="@controllers.portal.routes.Assets.at("img/logo-bw.png")" rel="logo" />
                                </a>
                            </li>
                            <li class="@maybeActive(controllers.portal.routes.Portal.personalisedActivity.url)">
                                <a href="@controllers.portal.routes.Portal.personalisedActivity">@Messages("portal.activity")</a>
                            </li>
                            <li class="@maybeActivePath(controllers.portal.routes.Portal.browseUsers.url)">
                                <a href="@controllers.portal.routes.Portal.browseUsers">@Messages("portal.social.users")</a>
                            </li>
                            @userOpt.map { _ =>
                            <li class="@maybeActive(controllers.portal.routes.Portal.profile.url)">
                                <a href="@controllers.portal.routes.Portal.profile">@Messages("portal.profile")</a>
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="nav-secondary clearfix">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href="@controllers.portal.routes.Portal.browseCountries">@Messages("portal.browse.countries")</a>
                            </li>
                            <li>
                                <a href="@controllers.portal.routes.Portal.browseRepositories">@Messages("portal.browse.repositories")</a>
                            </li>
                            <li>
                                <a href="@controllers.portal.routes.Portal.browseDocuments">@Messages("portal.browse.documents")</a>
                            </li>
                            <li>
                                <a href="@controllers.portal.routes.Portal.browseHistoricalAgents">@Messages("portal.browse.historicalAgents")</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <div class="page-content">
                @content
                <div id="push"></div>
            </div>
        </div>
        <footer class="footer sticky text-center">
            <div class="container">
                <p class="text-muted">@Messages("portal.footerText")</p>
                <small>
                    <ul class="text-muted lang-switcher pull-right list-inline list-unstyled">
                    @List("en", "fr", "de", "he").map { changeLang =>
                    <li>
                                @if(lang.toString.toLowerCase.contains(changeLang)) {
                        @changeLang
                        } else {
                        <a href="@controllers.core.routes.Application.changeLocale(changeLang)">@changeLang</a>
                        }
                    </li>
                    }
                    </ul>
                </small>
            </div>
        </footer>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="@controllers.portal.routes.Assets.at("js/jquery.validate.min.js")"></script>
        <script src="@controllers.portal.routes.Assets.at("js/jquery.autosize.min.js")"></script>
        <script src="@controllers.portal.routes.Assets.at("bootstrap-custom/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@controllers.portal.routes.PortalData.jsRoutes"></script>
        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("select2/select2.css")" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("select2/select2-bootstrap.css")" rel="stylesheet" type="text/css" />
        <script src="@controllers.portal.routes.Assets.at("select2/select2.js")"></script>

        <script src="@controllers.portal.routes.Assets.at("js/portal.min.js")"></script>

        @scripts
    </body>
</html>
