@(title: Any, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang)

<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <title>@title</title>
        <!-- CND Bootstrap...
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"> -->

        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("bootstrap-custom/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("select2/select2.css")" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("select2/select2-bootstrap.css")" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="@controllers.portal.routes.Assets.at("css/portal.css")">

        <style type="text/css">
        </style>

        @styles

    </head>
    <body>

        @maybeActive(url: String) = {
            @(if(req.path.equals(url)) "active" else "")
        }

        @maybeActivePath(url: String) = {
            @(if(req.path.startsWith(url)) "active" else "")
        }

        <div id="wrap">
            <header>
                <div class="navigation pull-right account-admin">
                    <ul class="list-unstyled list-inline">

                        @userOpt.flatMap(_.account).map { account =>
                            <li><a href="@controllers.portal.routes.Portal.logout">@account.email (@Messages("portal.logout"))</a></li>
                        }.getOrElse {
                            <li><a href="@controllers.portal.routes.Portal.login">@Messages("portal.login")</a></li>
                        }
                    </ul>
                </div>
                <div class="navigation clearfix">
                    <div>
                        <ul class="list-unstyled list-inline">
                            <li id="navbar-logo" >
                                <a href="@controllers.portal.routes.Portal.index">
                                    <img src="@controllers.portal.routes.Assets.at("img/logo-bw.png")" rel="logo" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <div class="page-content">
                @content
                <div id="push"></div>
            </div>
        </div>
        @p.layout.footer()
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="@controllers.core.routes.Assets.at("js/jquery.history.min.js")"></script>
        <script src="@controllers.portal.routes.Assets.at("js/jquery.validate.min.js")"></script>
        <script src="@controllers.portal.routes.Assets.at("js/jquery.autosize.min.js")"></script>
        <script src="@controllers.portal.routes.Assets.at("bootstrap-custom/js/bootstrap.min.js")"></script>
        <script src="@controllers.portal.routes.Assets.at("select2/select2.js")"></script>
        <!-- core common js -->
        <script src="@controllers.core.routes.Assets.at("js/common.js")" type="text/javascript"></script>

        <!-- portal-specific js -->
        <script src="@controllers.portal.routes.Assets.at("js/portal.js")"></script>

        @scripts
    </body>
</html>
