@(title: Any, itemClass: String = "", scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang)

<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@controllers.core.routes.Assets.at("css/portal.css")">

        @styles

    </head>
    <body>
        @p.layout.simpleHeader(itemClass)
        <div id="wrap">

            <div class="page-content">
                @content
                <div id="push"></div>
            </div>
        </div>
        @p.layout.footer()

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="@controllers.portal.routes.Assets.at("js/jquery.validate.min.js")"></script>
        <script src="@controllers.core.routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

        <script>
            // Validate any forms with 'validate-form' class...
            $(".validate-form").validate();
        </script>

        @scripts
    </body>
</html>
