@(title: Any, itemClass: String = "", scripts: Html = Html(""), styles: Html = Html(""), meta: Map[String,String] = Map.empty)(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

<!DOCTYPE html>

<html lang="@lang.code">
    @head(title, styles = styles, meta = meta)
    <body class="@itemClass">
        @preambleScripts()
        <div id="wrap">
            @p.layout.readOnly()
            <header id="header" class="navigation">
                @accountHeader(showSearch = true, showFeedback = true, showAdminLink = true)
                @primaryHeader()
            </header>

            @views.html.common.flash(flash)
            <div class="page-content container">
                @content
                <div id="push"></div>
            </div>
        </div>
        @p.layout.footer()
        @p.dataPolicyModal()
        @postambleScripts(extra = scripts)
    </body>
</html>
