@()(implicit userOpt: Option[UserProfile], lang: Lang)

<script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery.hoverIntent.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery.cookie.js")"></script>

<script src="@controllers.portal.routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

<!-- core common js -->
<script src="@controllers.portal.routes.PortalData.jsRoutes"></script>

<!-- portal-specific js -->
<script src="@controllers.portal.routes.Assets.versioned("js/portal.js")"></script>

@if(userOpt.isDefined) {
    <script src="@controllers.portal.routes.Assets.versioned("js/portal-connected.js")"></script>
}
