@()(implicit lang: Lang)

<script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery-1.8.3.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("js/feedback.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery.autosize.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery.history.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("js/lib/handlebar.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("js/lib/typeahead.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery.validate.js")"></script>
<script src="@controllers.portal.routes.Assets.versioned("select2/select2.js")"></script>
 @lang.language match {
    case "en" => {}
    case _ => {
        <script src="@controllers.portal.routes.Assets.versioned("select2/select2_locale_" + lang.language +".js")"></script>
    }
}
<script src="@controllers.portal.routes.Assets.versioned("js/common.js")" type="text/javascript"></script>
