@(item: AnyModel, watched: Boolean = false)(heading: Html)(body: Html = Html(""))(implicit lang: Lang)

<div class="search-item" id="@item.id">
    <div class="search-item-actions">
        <a data-item="@item.id" title="@Messages(if(watched) "portal.social.unwatchItem" else "portal.social.watchItem")"
                class="glyphicon glyphicon-star spinner watch-item @{if(watched) "unwatch" else "watch"}" href="@controllers.portal.routes.Portal.watchItem(item.id)">
        </a>
    </div>
    <div class="search-item-heading type-highlight @item.isA.toString">
        @heading
    </div>
    <div class="search-item-body">
        @body
    </div>
</div>
