@(title: Any, itemClass: String, result: utils.search.SearchResult[_], styles: Html = Html(""), scripts: Html = Html(""), meta: Map[String,String] = Map.empty)(html: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@views.html.p.layout.portalLayout(Messages("search.results.list", title, result.page.start, result.page.end, result.page.total, result.params.query.getOrElse("")), itemClass, styles = styles, scripts = scripts, meta = meta) {
    @views.html.layout.mainContent {
        @html
    }
}