@(item: Accessible)(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(item.toStringLang, itemClass = item.isA.toString) {
    @layout.mainContent {
        <div id="item-details">
            @p.layout.rightSidebar {
                @p.common.itemHeader(item.toStringLang) {
                }
                @content
            } {
                @p.common.typeLabel(item.isA) {
                }
                @p.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id))
            }
        </div>
    }
}
