@(itemClass: String = "")(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang)

<header id="header" class="navigation">
    <div id="loader-bar">
        <span style="width:100%">
            <span/>
        </span>
    </div>
    <div class="nav-primary">
        <nav role="navigation">
            <ul>
                <li id="navbar-logo" >
                    <a href="@controllers.portal.routes.Portal.index">
                        <img src="@controllers.portal.routes.Assets.at("img/logo-rect-bw.png")" rel="logo" />
                    </a>
                </li>
            </ul>
        </nav>
        <nav role="tool">
            @p.layout.headerAccountAdmin()
        </nav>
    </div>
</header>
