@(itemClass: String = "")(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang)

<header>
    <div class="navigation pull-right account-admin">
        <ul class="list-unstyled list-inline">

            @userOpt.flatMap(_.account).map { account =>
            <li><a href="@controllers.portal.routes.Portal.logout">@account.email (@Messages("portal.logout"))</a></li>
            }.getOrElse {
            <li><a href="@controllers.portal.routes.Portal.login">@Messages("portal.login")</a></li>
            }
        </ul>
    </div>
    <div class="navigation clearfix">
        <div>
            <ul class="list-unstyled list-inline">
                <li id="navbar-logo" >
                    <a href="@controllers.portal.routes.Portal.index">
                        <img src="@controllers.portal.routes.Assets.at("img/logo-bw.png")" rel="logo" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
