@(form: Form[(String,String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateHorizontal.f) }

@helper.form(action = action, 'class -> "login-form signup-form form form-horizontal") {
    @formHelpers.csrfToken()

    <div class="field">
        @formHelpers.globalErrors(form)
    </div>

    @helper.inputPassword(form("current"), 'type -> "password", '_label -> Messages("login.existingPassword"))
    @helper.inputPassword(form("password"), 'type -> "password", '_label -> Messages("login.newPassword"))
    @helper.inputPassword(form("confirm"), 'type -> "password", '_label -> Messages("login.confirmPassword"))

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-warning">
                @Messages("submitButton.changePassword")
            </button>
        </div>
    </div>
}
