@(form: Form[String], recaptchaKey: String, action: Call)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateSignUp.f) }

@views.html.p.layout.loginLayout(Messages("login.password.reset")) {

    @views.html.p.common.itemHeader(Messages("login.password.reset")) {
        <p>@Messages("login.password.reset.text")</p>
    }
    @helper.form(action = action, 'class -> "form signup-form login-form") {
        @formHelpers.csrfToken()
        @formHelpers.globalErrors(form)
        @common.recaptcha(recaptchaKey)

        @helper.inputText(form("email"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.email"), 'type -> "email")

        <div class="form-group">
            <input type="submit" class="login-button btn btn-post" value="@Messages("login.password.reset.submit")" />
        </div>
    }
}

