@(form: Form[String], recaptchaKey: String, action: Call)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplate.f) }

@styles = {
    <style>
        .recaptchatable * {
            border: 0 !important;
        }

        .recaptchatable * {
            line-height: normal !important;
        }
    </style>
}

@p.layout.portalLayoutSimple(Messages("login.passwordReset"), styles = styles) {

    @p.layout.mainContent {
        @formHelpers.globalErrors(form)

        @helper.form(action = action, 'class -> "login-form form-horizontal") {
            @formHelpers.csrfToken()

            @helper.inputText(form("email"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.email"))

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    @common.recaptcha(recaptchaKey)
                </div>
            </div>

            <div class="col-md-4 col-md-offset-2">
                <input type="submit" class="btn btn-primary" value="@Messages("login.sendPasswordResetLink")" />
            </div>
        }
    }
}(None, request, globalConfig, flash, lang)

