@(pwForm: Form[(String,String)], registerForm: Form[SignupData], registerAction: Call, recaptchaKey: String, openIdForm: Form[String], oauthProviders: Map[String,Call] = Map.empty, isLogin: Boolean = true)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token, prefs: utils.SessionPrefs)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateSignUp.f) }

@extraScripts = {
    <script>
        jQuery(function($) {
            // Openid
            $(".show-more").on("click", function(e) {
                e.preventDefault();
                $(".more-login-options").slideToggle();
            })
        });
    </script>
}

@views.html.p.layout.loginLayout(Messages("login"), scripts = extraScripts) {
    @views.html.p.common.itemHeader(Messages("login")) {
        <p>@Messages("login.benefits")</p>
        <ol>
            <li>@Messages("login.benefits.1")</li>
            <li>@Messages("login.benefits.2")</li>
            <li>@Messages("login.benefits.3")</li>
        </ol>
    }

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="@{if(isLogin) "active"}">
                <a href="#login" aria-controls="login" role="tab" data-toggle="tab">@Messages("login")</a>
            </li>
            <li role="presentation" class="@{if(!isLogin) "active"}">
                <a href="#register" aria-controls="signup" role="tab" data-toggle="tab">@Messages("login.signup")</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane @{if(isLogin) "active"}" id="login">
                @oauth2Form("login.loginWith", openIdForm, oauthProviders, isLogin)
                @loginForm(pwForm)
            </div>
            <div role="tabpanel" class="tab-pane @{if(!isLogin) "active"}" id="register">
                @oauth2Form("login.signupWith", openIdForm, oauthProviders, isLogin)
                @signupForm(registerForm, registerAction, recaptchaKey)
            </div>
        </div>
    </div>
}

