@()(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateSignUp.f) }

@views.html.p.layout.portalLayoutSimple(Messages("login.password.reset")) {

    @views.html.layout.mainContent {
        <div class="alert alert-info">
            @Messages("login.password.reset.sentLink")
        </div>
    }
}(None, request, globalConfig, flash, lang)

