@(form: Form[(String,String)], action: Call)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateSignUp.f) }

@p.layout.portalLayoutSimple(Messages("login.password.reset")) {

    @views.html.layout.mainContent {
        <div class="login-page">
            <div class="login-or-signup">
                @p.common.itemHeader(Messages("login.password.reset")) {
                }

                @helper.form(action = action, 'class -> "login-form form signup-form", 'role -> "form") {
                    @formHelpers.csrfToken()
                    @formHelpers.globalErrors(form)

                    @helper.inputPassword(form("password"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.password.new"))
                    @helper.inputPassword(form("confirm"), 'placeholder -> Messages("login.password.new.confirm"))

                    <div class="form-group">
                        <input type="submit" class="login-button btn btn-post" value="@Messages("login.password.reset.submit")" />
                    </div>
                }
            </div>
        </div>

    }
}(None, req, globalConfig, flash, lang)

