@(form: Form[(String,String)], action: Call)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@p.layout.portalLayoutSimple(Messages("login.passwordReset")) {

    p.layout.mainContent {
        @formHelpers.globalErrors(form)

        @helper.form(action = action, 'class -> "login-form form-horizontal") {
            @formHelpers.csrfToken()

            @helper.inputPassword(form("password"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.newPassword"))
            @helper.inputPassword(form("confirm"), 'placeholder -> Messages("login.confirmPassword"))

            <div>
                <input type="submit" class="btn btn-primary" value="@Messages("login.submitPasswordReset")" />
            </div>
        }
    }
}(None, req, globalConfig, flash, lang)

