@(form: Form[(String,String)], action: Call)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateSignUp.f) }

@p.layout.portalLayoutSimple(Messages("login.passwordReset")) {

    @views.html.layout.mainContent {

        @helper.form(action = action, 'class -> "login-form form signup-form", 'role -> "form") {
            @formHelpers.csrfToken()

            <h1 class="text-center">@Messages("login.passwordReset")</h1>
            <div class="field">
                @formHelpers.globalErrors(form)
            </div>

            @helper.inputPassword(form("password"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.newPassword"))
            @helper.inputPassword(form("confirm"), 'placeholder -> Messages("login.confirmPassword"))

            <div class="field">
                <div class="input">
                    <button type="submit" class="button post">@Messages("login.submitPasswordReset")</button>
                </div>
            </div>
        }
    }
}(None, req, globalConfig, flash, lang)

