@(signupForm: Form[(String,String,String,String)], action: Call, recaptchaKey: String)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateSignUp.f) }

@validationJs = {

}

@styles = {
    <style>
        .recaptchatable * {
            border: 0 !important;
        }

        body {
            line-height: normal !important;
        }
    </style>
}

@p.layout.portalLayoutSimple(Messages("portal.signup"), scripts=validationJs, styles = styles) {

    @p.layout.mainContent {
        @helper.form(action = action, 'class -> "login-form signup-form form form-horizontal") {
            <h1 class="text-center">@Messages("portal.signup")</h1>
            @formHelpers.csrfToken()

            @formHelpers.globalErrors(signupForm)

            @helper.inputText(signupForm("name"))
            @helper.inputText(signupForm("email"))
            @helper.inputPassword(signupForm("password"))
            @helper.inputPassword(signupForm("confirm"))

            <div class="field">
                <div class="text-center input">
                    @common.recaptcha(recaptchaKey)
                </div>
            </div>

            <div class="field">
                <div class="input">
                    <input type="submit" class="btn btn-primary" value="@Messages("submitButton.signup")" />
                </div>
            </div>


        }
        <div class="clearfix"></div>
    }
}(None, request, globalConfig, flash, lang)

