@(form: Form[SignupData], action: Call, recaptchaKey: String)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@validationJs = {

}

@styles = {
    <style>
        .recaptchatable * {
            border: 0 !important;
        }

        body {
            line-height: normal !important;
        }
    </style>
}

@p.layout.portalLayoutSimple(Messages("signup"), scripts=validationJs, styles = styles) {

    @views.html.layout.mainContent {
        @signupForm(form, action, recaptchaKey)
        <div class="clearfix"></div>
    }
}(None, request, globalConfig, flash, lang)

