@(form: Form[(String,String,String,String)], action: Call, recaptchaKey: String)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateSignUp.f) }

@helper.form(action = action, 'class -> "login-form signup-form form form-horizontal") {
    <h1 class="text-center">@Messages("portal.signup")</h1>
    @formHelpers.csrfToken()

    @formHelpers.globalErrors(form)

    @helper.inputText(form("name"))
    @helper.inputText(form("email"))
    @helper.inputPassword(form("password"))
    @helper.inputPassword(form("confirm"))

    <div class="field">
        <div class="text-center input">
            @common.recaptcha(recaptchaKey)
        </div>
    </div>

    <div class="field">
        <div class="input">
            <input type="submit" class="btn btn-primary" value="@Messages("submitButton.signup")" />
        </div>
    </div>
}
