@(item: AccessibleEntity, page: rest.Page[SystemEvent], params: ListParams)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import views.Helpers

@noSidebarLayout(Messages("actions.historyForItem", item), breadcrumbs = common.breadcrumbs(List(item))) {
    <h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)

    <ul class="unstyled">
    @page.items.map { item =>
        @systemEvents.listEntry(item)
    }
    </ul>
}