@(page: rest.Page[SystemEventMeta], params: ListParams)(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listSystemEvents")) {

	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

	<ul class="unstyled">
	@page.items.map { item =>
	  	<div class="list-item">
			<h4>
                <a data-timestamp="@item.time" href="@routes.SystemEvents.get(item.id)">
                    @item.scope.map { scope =>
                        @scope -
                    }
                    <i>@item</i>
                </a>
			</h4>
            <small>
                <ul class="unstyled muted inline inline-separator">
                    @item.actioner.map { accessor =>
                        <li><a class="alt" href="@views.Helpers.urlFor(accessor)">@accessor</a></li>
                    }
                    <li>@views.Helpers.prettyDate(item.model.timestamp)</li>
                </ul>
            </small>
            <small>
            @item.model.logMessage.map { lm =>
                <p>@lm</p>
            }
            </small>
		</div>
	}
	</ul>
    @common.pagination(page)

} {

}