@(item: SystemEvent, page: rest.Page[ItemWithId])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item)))(maybeUser, req) {

    <p>
	@item.actioner.map { accessor =>
        <a href="@views.Helpers.urlFor(accessor)">@accessor.name</a>:
	}
	@item.logMessage
    </p>
    <h3>@{Messages("actions.subjectsForAction") + ": " + Messages("pagination.displayingItems", page.offset + 1, page.offset + page.list.size, page.total)}</h3>
    @common.pagination(page)
    <ul class="unstyled">
    @page.list.map { item =>
        <li><a href="@views.Helpers.urlFor(item)">@item</a></li>
    }
    </ul>

} {

}