@(item: Concept, desc: ConceptDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, fieldPrefix: String)

@import ConceptF._
@import views.html.common.descriptionSection
@import views.html.common.textField
@import views.html.common.listField

@views.html.common.descriptionOutline(item, desc, annotations) {
    @defining(Annotation.fieldAnnotations(desc.id, annotations)) { implicit fieldAnnotations =>
        @* Description *must* have an ID here or something bad has gone wrong! *@
        @desc.id.map { descId =>

            @views.html.common.itemHeader(desc.name) {
                @views.html.common.otherNameList(desc.altLabels)
            }

            @listField(item, descId, desc.definition, DEFINITION)
            @listField(item, descId, desc.scopeNote, SCOPENOTE)
            @listField(item, descId, item.model.seeAlso, SEEALSO)
            @for(longitude <- item.model.longitude ; latitude <- item.model.latitude) {
                <div class="map" data-longitude="@longitude" data-latitude="@latitude">

                </div>
            }

            @descriptionSection(ACCESS_POINTS) {
                @views.html.common.accessPointLinks(item, desc, links)
            }
        }
    }
}
