@(item: Concept, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

<h5>@views.html.helpers.linkTo(item)</h5>
@item.data.primaryDescription.map { desc =>
    <ul class="search-item-details">
        <li class="secondary-attribute">@views.Helpers.languageCodeToName(desc.languageCode)</li>
        @item.latestEvent.map { event =>
            <li title="@event.time">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</li>
        }
    </ul>
}
@views.html.common.childCount(item) { count =>
    @views.html.helpers.link(controllers.portal.routes.Concepts.search(item.id), 'class -> "child-items-inline-load collapsed") {
        <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
        @Messages("cvocConcept.childCount", count)
    }
}
