@(item: Concept, annotations: Seq[Annotation], result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call, watched: Seq[String], dlid: Option[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@views.html.common.itemDetails {
    @defining("cvocConcept") { implicit fieldPrefix =>
        @defining(item.data.descriptionsWithSelected(dlid)) { descriptions =>
            @views.html.common.descriptionContainer(descriptions, dropdown = true, labelKey = "cvocConcept.languageCode") {
                @descriptions.map { case (desc, selected) =>
                    @description(item, desc, annotations, selected)
                }
                @for(longitude <- item.data.longitude; latitude <- item.data.latitude) {
                    <div class="point-map" data-lat="@latitude" data-lon="@longitude" data-point="@item.toStringLang"></div>
                    <script src="@controllers.portal.routes.PortalAssets.versioned("js/point-map.js")"></script>
                }

                @views.html.common.childCount(item) { count =>
                    @views.html.helpers.link(controllers.portal.routes.Concepts.search(item.id), 'class -> "child-items-inline-load collapsed") {
                        <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
                        @Messages("cvocConcept.childCount", count)
                    }
                }
            } {
                @views.html.common.typeLabelWithWatchButton(item, watched.contains(item.id))
            } {
                @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
            }
        }
    }
}
