@(result: services.search.SearchResult[(Concept,services.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@ogMeta = @{OgMeta(
    Messages("type.CvocConcept"),
    controllers.portal.routes.Concepts.searchAll(),
    Some(Messages("type.CvocConcept.description"))
)}

@views.html.layout.searchLayout(Messages("type.CvocConcept"), result, cls = EntityType.Concept.toString, ogMeta = ogMeta.toMap) {
    @views.html.common.search.searchForm(result, action, key = "search.CvocConcept") {
        @views.html.common.search.searchItemList(result, watched)
    } {
        @views.html.common.search.facetList(result.facetClasses, action)
    }
}
