@(result: utils.search.SearchResult[(Concept,utils.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@views.html.layout.searchLayout(Messages("type.cvocConcept"), EntityType.Concept.toString, result, meta = Map("description" -> Messages("type.cvocConcept.description")(Lang.defaultLang))) {
    @views.html.common.search.searchForm(result, action, autofocus = false) {
        @views.html.common.search.searchItemList(result, watched)
    } {
        @views.html.common.typeLabel(EntityType.Concept) {
        }
        @views.html.common.search.facetList(result.facetClasses, action)
    }
}