@(item: Concept, highlighter: views.Highlighter = views.NoopHighlighter)(implicit req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, descriptionId: Option[String] = None)

@item.data.primaryDescription(descriptionId).map { desc =>
    <ul class="search-item-details">
        @item.vocabulary.map { vocab =>
            <li>
                @views.html.helpers.link(views.Helpers.linkTo(vocab), Symbol("class") -> "alt") {
                    @highlighter.highlightText(vocab.toStringLang)
                }
            </li>
        }
        <li><span class="minor-notice">@views.Helpers.languageCodeToName(desc.languageCode)</span></li>
        @item.latestEvent.map { event =>
            <li title="@event.time">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</li>
        }
    </ul>

    @if(item.broaderTerms.nonEmpty) {
        <ul class="search-item-details">
            <li>@Messages("cvocConcept.broaderTerms")</li>
            @item.broaderTerms.map { bt =>
                <li>@views.html.helpers.linkTo(bt)</li>
            }
        </ul>
    }
    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @Markdown(highlighter.highlight(sc))
    }

    @views.html.common.childCount(item) { count =>
        @views.html.helpers.link(controllers.portal.routes.Concepts.search(item.id), 'class -> "child-items-inline-load collapsed") {
            <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
            @Messages("cvocConcept.childCount", count)
        }
    }
}

