@(item: Concept, result: services.search.SearchResult[(Concept,services.search.SearchHit)], action: Call, watched: Seq[String], dlid: Option[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.layout.itemSearchLayout(item, result) {
} {
    @views.html.common.itemDetailsLink(Messages("details.show"), controllers.portal.routes.Concepts.browse(item.id, dlid)) {
        @views.html.common.itemHeader(item.toStringLang)
    }

    @childItemSearch(item, result, action, watched)
}
