@(item: Concept, highlighter: views.Highlighter, watched: Boolean = false)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, descriptionId: Option[String] = None)

@views.html.common.searchItemOutline(item, watched) {
    @item.data.primaryDescription(descriptionId).map { desc =>
        @defining(if (item.descriptions.size > 1) desc.localId else None) { localDescId =>
            @views.html.helpers.linkTo(item, content = Html(highlighter.highlight(item.toStringLang)),
                    call = Some(controllers.portal.routes.Concepts.browse(item.id, localDescId)))
        }
    }
} {
    @listItemBody(item, highlighter = highlighter)
}
