@(item: Concept, annotations: Seq[Annotation], result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call, watched: Seq[String], dlid: Option[String], hasRelated: Boolean)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@extraCss = {
    <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("js/lib/leaflet/leaflet.css")"/>
}

@extraScript = {
    <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/leaflet/leaflet.js")"></script>
}

@views.html.layout.portalLayout(item.toStringLang, EntityType.Concept.toString, styles = extraCss, scripts = extraScript) {
    @infobar(item)

    @views.html.common.mainContent {
        @itemDetails(item, annotations, result, action, watched, dlid)

        @if(hasRelated) {
            <section id="@item.id-related-item-search" class="related-item-search">
                <h3>@Messages("item.related")</h3>
                @views.html.common.search.searchForm(result, action, key = Messages("item.related.search"), inline = true) {
                    @views.html.common.search.searchItemList(result, watched)
                } {
                    @views.html.common.search.facetList(result.facetClasses, action)
                }
            </section>
        }
    }
}
