@(item: HistoricalAgent)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Update)) {
        <a href="@controllers.authorities.routes.HistoricalAgents.update(item.id)">@Messages("item.update")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Annotate)) {
        <a href="@controllers.authorities.routes.HistoricalAgents.linkAnnotateSelect(item.id, EntityType.HistoricalAgent)">@Messages("link.create")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Delete)) {
        <a href="@controllers.authorities.routes.HistoricalAgents.delete(item.id)">@Messages("item.delete")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Grant)) {
        <a href="@controllers.authorities.routes.HistoricalAgents.managePermissions(item.id)">@Messages("permissions.manage")</a>
    }
}

@views.html.common.sidebarSection(Messages("export")) {
    @views.html.admin.common.sidebarActionGroup {
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.admin.routes.Data.getItemRawJson(item.isA, item.id)">@Messages("export.format.json")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.portal.routes.HistoricalAgents.export(item.id)">@Messages("export.format.eac")</a>
        }
    }
}
