@(item: HistoricalAgent, desc: HistoricalAgentDescriptionF, links: Seq[Link], annotations: Seq[Annotation], actions: Html = Html(""))(implicit fieldPrefix: String, userOpt: Option[UserProfile], request: RequestHeader, messages: Messages, md: MarkdownRenderer, conf: AppConfig)

@import Isaar._
@import views.html.admin.common.descriptionSection

@views.html.admin.common.descriptionOutline(item, desc, actions = actions) {
    @views.html.common.itemHeader(desc.name)

    @views.html.admin.common.dateSet(desc, DATES_OF_EXISTENCE)

    @descriptionSection(IDENTITY_AREA) {
        @views.html.admin.common.textValue(ENTITY_TYPE, Some(desc.entityType.toString))
        @views.html.admin.common.textValue(AUTHORIZED_FORM_OF_NAME, Some(desc.name))
        @views.html.admin.common.listValue(PARALLEL_FORMS_OF_NAME, desc.parallelFormsOfName)
        @views.html.admin.common.listValue(OTHER_FORMS_OF_NAME, desc.otherFormsOfName)
    }

    @descriptionSection(DESCRIPTION_AREA) {
        @views.html.admin.common.textValue(DATES_OF_EXISTENCE, desc.details.datesOfExistence)
        @views.html.admin.common.textValue(HISTORY, desc.details.history)
        @views.html.admin.common.listValue(PLACES, desc.details.places)
        @views.html.admin.common.listValue(LEGAL_STATUS, desc.details.legalStatus)
        @views.html.admin.common.listValue(FUNCTIONS, desc.details.functions)
        @views.html.admin.common.listValue(MANDATES, desc.details.mandates)
        @views.html.admin.common.textValue(INTERNAL_STRUCTURE, desc.details.internalStructure)
        @views.html.admin.common.textValue(GENERAL_CONTEXT, desc.details.generalContext)
    }

    @descriptionSection(CONTROL_AREA) {
        @views.html.admin.common.textValue(DESCRIPTION_IDENTIFIER, desc.control.descriptionIdentifier)
        @views.html.admin.common.textValue(INSTITUTION_IDENTIFIER, desc.control.institutionIdentifier)
        @views.html.admin.common.textValue(RULES_CONVENTIONS, desc.control.rulesAndConventions)
        @views.html.admin.common.textValue(LEVEL_OF_DETAIL, desc.control.levelOfDetail)
        @views.html.admin.common.textValue(DATES_CVD, desc.control.datesCDR)
        @views.html.admin.common.listValue(SOURCES, desc.control.sources)
        @views.html.admin.common.textValue(MAINTENANCE_NOTES, desc.control.maintenanceNotes)
    }

    @views.html.admin.link.accessPointLinks(item, desc, links)

    @desc.unknownProperties.map { e =>
        @views.html.admin.common.unknownData(e)
    }
}
