@(desc: Field)(implicit fieldPrefix: String, config: Option[forms.FormFieldHints], userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@import Isaar._
@import views.html.formHelpers._
@import Description._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.common.descriptionForm(desc) {
    @choiceInput(desc, LANG_CODE, views.Helpers.languagePairList, '_blank -> true)

    @descriptionFormSection(IDENTITY_AREA) {
        @enumChoiceInput(desc, ENTITY_TYPE, HistoricalAgentType, '_blank -> true)
        @lineInput(desc, AUTHORIZED_FORM_OF_NAME)
        @inlineNameSet(desc, PARALLEL_FORMS_OF_NAME)
        @inlineNameSet(desc, OTHER_FORMS_OF_NAME)
    }

    @descriptionFormSection(DESCRIPTION_AREA) {

        @inlineDateSet(desc, DATES)

        @defining(desc(DESCRIPTION_AREA)) { desc =>
            @textInput(desc, DATES_OF_EXISTENCE)
            @textInput(desc, HISTORY)
            @inlineNameSet(desc, PLACES)
            @inlineNameSet(desc, LEGAL_STATUS)
            @inlineNameSet(desc, FUNCTIONS)
            @inlineNameSet(desc, MANDATES)
            @textInput(desc, INTERNAL_STRUCTURE)
            @textInput(desc, GENERAL_CONTEXT)
        }
    }

    @descriptionFormSection(CONTROL_AREA) {
        @defining(desc(CONTROL_AREA)) { desc =>
            @lineInput(desc, DESCRIPTION_IDENTIFIER)
            @lineInput(desc, INSTITUTION_IDENTIFIER)
            @textInput(desc, RULES_CONVENTIONS)
            @textInput(desc, LEVEL_OF_DETAIL)
            @textInput(desc, DATES_CVD)
            @inlineTextSet(desc, SOURCES)
            @textInput(desc, MAINTENANCE_NOTES)
        }
    }
}
