@(item: models.base.DescribedModel, desc: HistoricalAgentDescriptionF)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@userOpt.map { user =>
    @if(user.hasPermission(defines.ContentTypes.HistoricalAgent, defines.PermissionType.Update)) {
        @desc.id.map { did =>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    @Messages("item.actions")
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@controllers.authorities.routes.HistoricalAgents.manageAccessPoints(item.id, did)">
                            @Messages("describedEntity.manageAccessPoints")
                        </a>
                    </li>
                </ul>
            </div>
        }
    }
}
