@(item: HistoricalAgent, desc: HistoricalAgentDescriptionF, holderIds: Seq[String] = Seq.empty)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.historicalAgent.itemPage(item) {
    @helper.javascriptRouter("adminJsRoutes")(
        controllers.portal.routes.javascript.Portal.filterItems,
        controllers.admin.routes.javascript.Data.forward,
        controllers.admin.routes.javascript.Data.getItemType,
        controllers.authorities.routes.javascript.HistoricalAgents.get,
        controllers.authorities.routes.javascript.HistoricalAgents.createLink,
        controllers.authorities.routes.javascript.HistoricalAgents.createAccessPoint,
        controllers.authorities.routes.javascript.HistoricalAgents.getLink,
        controllers.authorities.routes.javascript.HistoricalAgents.getAccessPointsJson,
        controllers.authorities.routes.javascript.HistoricalAgents.deleteAccessPoint,
        controllers.authorities.routes.javascript.HistoricalAgents.deleteLink,
        controllers.authorities.routes.javascript.HistoricalAgents.deleteLinkAndAccessPoint
    )

    <script>
        window.SERVICE = {
            filter: adminJsRoutes.controllers.portal.Portal.filterItems,
            get: adminJsRoutes.controllers.admin.Data.getItem,
            getItem: adminJsRoutes.controllers.admin.Data.getItemType,
            createLink: adminJsRoutes.controllers.authorities.HistoricalAgents.createLink,
            createAccessPoint: adminJsRoutes.controllers.authorities.HistoricalAgents.createAccessPoint,
            getAccessPoints: adminJsRoutes.controllers.authorities.HistoricalAgents.getAccessPointsJson,
            deleteLink: adminJsRoutes.controllers.authorities.HistoricalAgents.deleteLink,
            deleteAccessPoint: adminJsRoutes.controllers.authorities.HistoricalAgents.deleteAccessPoint,
            deleteLinkAndAccessPoint: adminJsRoutes.controllers.authorities.HistoricalAgents.deleteLinkAndAccessPoint,
            redirectUrl: function (id) {
                return adminJsRoutes.controllers.authorities.HistoricalAgents.get(id).url;
            }
        };
    </script>
    @views.html.admin.common.accessPointForm(item, desc, holderIds)
}
