@(f: Form[HistoricalAgentF], fieldHints: forms.FormFieldHints)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import Isaar._
@import views.html.formHelpers._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining("historicalAgent") { implicit fieldPrefix =>
    @defining(Some(fieldHints)) { implicit implicitFieldHints =>
        @lineInput(f(""), IDENTIFIER, 'autocomplete -> "off")

        @helper.repeat(f("descriptions"), min = math.max(f("descriptions").indexes.length, 1)) { desc =>
            @descriptionForm(desc)
        }

        @formHelpers.descriptionFormSection(ADMINISTRATION_AREA) {
            @defining(PUBLICATION_STATUS) { implicit fieldPrefix =>
                @formHelpers.enumChoiceInput(f(""), Messages(PUBLICATION_STATUS), PublicationStatus)
            }
        }
    }
}
