@(f: Form[HistoricalAgentF], defaults: Option[play.api.Configuration] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@import models.Isaar._
@import views.html.formHelpers._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining("historicalAgent") { implicit fieldPrefix =>
    @lineInput(f(""), IDENTIFIER)

    @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
        @defining(defaults) { implicit defs =>
            @descriptionForm(desc)
        }
    }
}