@(item: HistoricalAgent)(implicit req: RequestHeader, messages: Messages, md: views.MarkdownRenderer)

@common.search.searchItemOutline(item) {
    <a href="@controllers.authorities.routes.HistoricalAgents.get(item.id)">@item.toStringLang</a>
} {
    @item.data.descriptions.headOption.map { desc =>
        @common.otherNameList(desc.parallelFormsOfName ++ desc.otherFormsOfName)
        <div class="search-item-details">
            <ul>
                <li>@Messages("historicalAgent." + desc.entityType.toString)</li>
                @desc.dates.map { dp =>
                    <li>@dp.years</li>
                }
                @item.latestEvent.map { event =>
                    <li title="@common.eventTitle(event)">
                        <time datetime="@event.data.timestamp">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</time>
                    </li>
                }
            </ul>
        </div>
        @desc.details.datesOfExistence.map { d =>
            <p>@d</p>
        }
        @desc.details.history.map { d =>
            <p>@d</p>
        }
        @desc.details.generalContext.map { d =>
            <p>@d</p>
        }
    }.getOrElse {
        <small>@Messages("description.noDescriptions")</small>
    }
}
