@(item: HistoricalAgent, annotations: Seq[Annotation], links: Seq[Link], advisories: Seq[ValidationError])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import views.html.admin.common.validationErrors
@import views.html.admin.historicalAgent._

@views.html.admin.layout.adminLayout(item.toStringLang) {
    @breadcrumbs(item)
    @common.mainContent {
        @common.itemDetails {
            @defining("historicalAgent") { implicit fieldPrefix =>
                @defining(item.data.descriptionsWithSelected()) { descriptions =>
                    @common.descriptionContainer(descriptions) {
                        @descriptions.map { case (desc, _) =>
                            @description(
                                item,
                                desc,
                                links,
                                annotations,
                                validationErrors(advisories, fieldPrefix),
                                descriptionActions(item, desc)
                            )
                        }

                        @views.html.admin.link.annotationLinks(item, links)
                        @views.html.admin.link.externalLinks(item, links)

                    } {
                        @common.typeLabel(item.isA) {
                            @views.html.admin.common.publicButton(item)
                        }
                    } {
                        @views.html.admin.common.latestAction(item, controllers.authorities.routes.HistoricalAgents.history(item.id))
                        @views.html.admin.common.visibility(item, controllers.authorities.routes.HistoricalAgents.visibility(item.id), ContentTypes.HistoricalAgent)
                        @adminActions(item)
                    }
                }
            }
        }
    }
}
