@(title: String, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@extraScripts = {
    <script>
            var SOCKET_URI = "@action.webSocketURL(conf.https)";
            var DONE_MSG = "@utils.WebsocketConstants.DONE_MESSAGE";
            var ERR_MSG = "@utils.WebsocketConstants.ERR_MESSAGE";

            jQuery(function($) {
                $("#update-progress").show();

                function appendProgressMessage(msg) {
                    var $elem = $("#update-progress");
                    var $inner = $elem.find("> pre");
                    if ($inner.length === 0) {
                        $inner = $("<pre></pre>");
                        $elem.append($inner);
                    }
                    $inner.append(msg + "<br>");
                    $elem.show().scrollTop($inner.height());
                }


                var websocket = new WebSocket(SOCKET_URI);
                websocket.onopen = function() {
                    //websocket.send();
                    console.log("Opened connection!")
                };
                websocket.onerror = function(e) {
                    appendProgressMessage("ERROR. Try refreshing the page.");
                    $submit.attr("disabled", false);
                    console.log("Socket error!");
                };
                websocket.onclose = function() {
                  console.log("Closed!")
                };
                websocket.onmessage = function(e) {
                    var msg = JSON.parse(e.data);
                    appendProgressMessage(msg);
                    if (msg.indexOf(DONE_MSG) !== -1 || msg.indexOf(ERR_MSG) !== -1) {
                        websocket.close();
                        console.log("Closed socket")
                    }
                };
            });
    </script>
}


@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.adminLayout(title, extraScripts) {
    @common.mainContent {
        <h1>@title</h1>
        <form class="form-horizontal">
            <div id="update-progress"></div>
        </form>
    }
}
