@(f: Form[models.GuidesData], guides: List[GuidesData], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@breadcrumbs = {
	<ol class="breadcrumb">
		<li><a href="@controllers.guides.routes.GuidesAdmin.listGuides()">Guides</a></li>
	</ol>
}

@guidesAdminLayout(Messages("guides.create"), guides, breadcrumbs = breadcrumbs) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
    	@renderForm(None, f)

        @formHelpers.submitButtonWithLogMessageInput(Messages("guides.create"))
	}
}