@()(implicit request: RequestHeader, lang: Lang)

@js = {
	<script>
		$(document).ready(function() {
			$('dd').on('click', function() {
				$('#description-hover').parent().toggleClass("in");
			});
		});
	</script>
}

@layout.main(" Zuccker, Otto : history of the Terezin Ghetto", "item", scripts = js) {
	<article>
		<header>
			<ol class="breadcrumb ">
			  <li><a href="#">Jewish Museum in Prague</a></li>
			  <li><a href="#">Terezin Collection</a></li>
			  <li><a href="#">Testimonies about Terezin</a></li>
			</ol>
		</header>
		<section>
			<div class="row">
				<div class="col-md-4">
				<dl>
					<dt>Date(s) of creation</dt>
					<dd>1943</dd>
					<dt>Language(s)</dt>
					<dd>German</dd>
					<dt>Extent</dt>
					<dd>68 Folios</dd>
					<dt>Inventory no.</dt>
					<dd>244</dd>
					<dt>Access Restriction</dt>
					<dd>None</dd>
					<dt>Related Places</dt>
					<dd>Terezin</dd>
					<dt>People</dt>
					<dd>Zucker, Otto</dd>
					<dd>Zucker, Otto 2</dd>
					<dt>Organisations</dt>
					<dd>Terezin Magdeburger Kasserne</dd>
					<dt>Keywords</dt>
					<dd>Jewish Counseil</dd>
				</dl>
				</div>
				<div class="col-md-8">
					<div style="position:relative;">
						<img src="./assets/images/test-data/otto-test.jpg" class="img-responsive" />
						<div id="description-hover">
							<h3>1943 in Details</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. 
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. 
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. 
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. 
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. 
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. 
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer>
		</footer>
	</article>

}