@()(implicit request: RequestHeader, lang: Lang)

@js = {
	<script type="text/javascript">
	$(document).ready(function() {
		var niceCheck = function(item, apply) {
			//If the item is the checkbox itself
			var checkbox = item.siblings("input[type='checkbox']");
			
			//We get the reverse status of the checkbox if we are checking the box. If actually we apply style, we just get the normal status
			if(!apply) {
				var status = !checkbox.is(":checked");
			} else {
				var status = checkbox.is(":checked");
			}
						
			//We check the checkbox with the reverse status. As checkbox is a var, we need to get the DOM object through .get(0)
			checkbox.get(0).checked = status;
			
			//We set the css class
			var css = ((status == true) ? " fa-check-square-o" : " fa-square-o ");
			item.parent().toggleClass("checked", status);
			item.siblings(".item-option").children(".item-nice-checkbox").attr("class", "fa item-nice-checkbox " + css);
		}
		$(".list-item .item-title").each(function(index) {
			niceCheck($(this), true);
		});
		$(".list-item .item-title").on("click", function(e) { e.preventDefault();
			niceCheck($(this));
		});
		$(".list-item .item-option").on("click", function(e) { e.preventDefault();
			niceCheck($(this).siblings(".item-title"), false);
		});
		$(".show-hierarchy").on("click", function(e) { e.preventDefault();
			$(".content-results > .list-item").addClass("hierarchy");
			$(this).addClass("active");
			$(".show-list").removeClass("active");
		});
		$(".show-list").on("click", function(e) { e.preventDefault();
			$(".content-results > .list-item").removeClass("hierarchy");
			$(this).addClass("active");
			$(".show-hierarchy").removeClass("active");
		});
	});
	</script>
}

@layout.main("Keywords", "keywords", scripts = js) {
	<article>
		<header>
			<form role="form">
				<ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
					<li><input class="nav-ehri nav-ehri-black nav-ehri-input" name="search" placeholder="Quick Search" /></li>
				</ul>
				<ul class="nav nav-pills nav-ehri nav-ehri-grey nav-justified">
					<li class="active show-hierarchy"><a href="#"><i class="fa fa-indent "></i></a></li>
					<li class="show-list"><a href="#"><i class="fa fa-th-list "></i></a></li>
					<li><a href="#"><i class="fa fa-sort-numeric-asc"></i></a></li>
					<li><a href="#"><i class="fa fa-sort-amount-asc"></i></a></li>
					<li><a href="#"><i class="fa fa-sort-alpha-asc"></i></a></li>
				</ul>
			</form>
		</header>
		<section>
			<section class="content-results">
				<ul class="list-item hierarchy">
					<li class="item-wrapper">
						<div class="item-option"><i class="item-nice-checkbox fa fa-square-o"></i></div>
						<a class="item-title keyword-title"><span class="item-parent">Lorem</span>Lorem ipsum</a>
					
						<input class="item-checkbox" type="checkbox" value="5" />
					</li>
					<li class="item-wrapper">
						<div class="item-option"><i class="item-nice-checkbox fa fa-square-o"></i></div>
						<a class="item-title keyword-title"><span class="item-parent">Lorem</span><span class="item-parent">Lorem</span>Lorem ipsum</a>
						<input class="item-checkbox" type="checkbox" value="5" />
						
					</li>
					<li class="item-wrapper">
						<div class="item-option"><i class="item-nice-checkbox fa fa-square-o"></i></div>
						<a class="item-title keyword-title"><span class="item-parent">Lorem</span><span class="item-parent">Lorem</span><span class="item-parent">Lorem</span>Lorem ipsum</a>
						<input class="item-checkbox" type="checkbox" value="5" />
					</li>
					<li class="item-wrapper">
						<div class="item-option"><i class="item-nice-checkbox fa fa-square-o"></i></div>
						<a class="item-title keyword-title">Lorem ipsum</a>
						<input class="item-checkbox" type="checkbox" value="5" />
						<ul class="list-item">
							<li class="item-wrapper">
								<div class="item-option"><i class="item-nice-checkbox fa fa-square-o"></i></div>
								<a class="item-title keyword-title"><span class="item-parent">Internal Affairs</span> Registration</a>
								<input class="item-checkbox" type="checkbox" value="5" />
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</section>
		<footer>
		</footer>
	</article>

}
