@()(implicit request: RequestHeader, lang: Lang)

@js = {
	<script type="text/javascript">
	$(document).ready(function() {
		$(".preview-closer").on("click", function(e) { e.preventDefault();
			$(this).parent().removeClass("in");
		});
		$(".item-to-preview").on("click", function(e) { e.preventDefault();
			dat = $(this);
			previewDiv = $("#person-preview");
			if(previewDiv.parent().css("display") === "none") {	
				dat.siblings(".item-description").toggleClass("in");
			} else {	
				dat.siblings(".item-description").removeClass("in");
				previewDiv.addClass("in");
				html = dat.siblings(".item-description").html();
				name = dat.siblings(".item-title").text();
				$("#person-preview .person-desc").html(html);
				$("#person-preview h2").text(name);
			}
		});
	});
	</script>
}

@layout.main("People", "people", scripts = js) {
	<article>
		<header>
			<form role="form">
				<ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
					<li><input class="nav-ehri nav-ehri-black nav-ehri-input" name="search" placeholder="Name" /></li>
					<li><input class="nav-ehri nav-ehri-black nav-ehri-input" name="search" placeholder="Surname" /></li>
					<li><input class="nav-ehri nav-ehri-black nav-ehri-input" name="search" placeholder="Year of birth" /></li>
					<li><button type="button" class="nav-ehri nav-ehri-black nav-ehri-input"><span class="glyphicon glyphicon-search"></span><span class="text-hide">Search</span></button></li>
				</ul>
			</form>
		</header>
		<section>
			<section class="row">
				<section class="content-results col-md-8">
					<ul class="list-item">
						<li class="item-wrapper">
							<div class="item-option  item-to-preview"><i class="glyphicon glyphicon-info-sign"></i></div>
							<a class="item-title">Lorem ipsum</a>
							<div class="hidden-md hidden-lg item-description">
								<dl>
									<dt>Birth</dt>
									<dd>01-01-1902</dd>
									<dt>Death</dt>
									<dd>01-01-1972</dd>
								</dl>
								<p>Vivamus a ante vel neque malesuada vehicula non quis leo. Phasellus et enim rutrum, porttitor diam vel, faucibus diam. Aenean id pulvinar nisl. Sed ipsum nibh, pharetra eu felis quis, tempus egestas leo. Vestibulum ipsum lorem, pellentesque et nisi ut, tristique rhoncus odio. Morbi adipiscing eros quis quam auctor fermentum. Sed ultricies ligula augue, et suscipit lorem aliquet quis. Aenean vel nisl in massa consectetur sagittis. </p>
							</div>
						</li>
					</ul>
				</section>
				<section class="col-md-4 hidden-sm hidden-xs">
					<div  class="person-item" id="person-preview">
						<div class="preview-closer"><i class="close" aria-hidden="true" >&times;</i></div>
						<h2>
						</h2>
						<div class="person-desc">
						
						</div>
					</div>
				</section>
			</section>
		</section>
		<footer>
			<ul class="pagination">
				<li><a href="#">&laquo;</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>
		</footer>
	</article>

}