@(item: Option[Guide], f: Form[models.Guide], listPages: Option[List[GuidesPage]] = None)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(Guide.PREFIX) { implicit fieldPrefix =>
    @formHelpers.hiddenInput(f("objectId"))
    @formHelpers.lineInput(f(""), Guide.NAME)
    @formHelpers.lineInput(f(""), Guide.PATH)
    @formHelpers.lineInput(f(""), Guide.PICTURE)
    @formHelpers.textInput(f(""), Guide.DESCRIPTION)
    @formHelpers.choiceNumericInput(f("active"), Guide.ACTIVE, List(1 -> Messages("guides.active"), 0 -> Messages("guides.unactive")))
    @listPages match {
	    case Some(pages) => {
			@formHelpers.choiceNumericInput(f("default"), Guide.DEFAULT, pages.map(row => {
				row.objectId.getOrElse(0) -> row.name
			}))
		}
		case _ => {
			""
		}
	}
   
}