@()(implicit request: RequestHeader, lang: Lang)

@js = {
	
	<script type="text/javascript" src="@controllers.core.routes.Assets.at("js/jquery.ui.min.js")"></script>
	<script type="text/javascript">
	//A value is a number of months
	// Min and max month are defined
	var minMonth = { 
		show : "1933-09-01",
		month : 9,
		year : 33
	}
	var maxMonth = {
		show : "1948-12-31",
		month : 12,
		year : 48
	}
	//We compute the max month for the slider
	var maxIntMonth = (maxMonth.year - minMonth.year) * 12 + (maxMonth.month - minMonth.month);
	
	addZ = function (n){return n<10? '0'+n:''+n;}
	//We get some basic function to convert it
	//

	//Add afterShow event to datepicker
	$(function() {
		$.datepicker._updateDatepicker_original = $.datepicker._updateDatepicker;
		$.datepicker._updateDatepicker = function(inst) {
			$.datepicker._updateDatepicker_original(inst);
			var afterShow = this._get(inst, 'afterShow');
			if (afterShow)
				afterShow.apply((inst.input ? inst.input[0] : null));  // trigger custom callback
		}
	});

	$(document).ready(function() {
		resizePicker = function(el) {
			w = $(el).outerWidth();
			$("#ui-datepicker-div").width(w);
		}
		//Show item descriptions
		$(".item-option").on("click", function(e) { e.preventDefault();
			$(this).siblings(".item-description").toggleClass("in");
		});
		
		$("#slider-range").slider({
			range: true,
			min: 0,
			max: maxIntMonth,
			values: [ Math.floor(maxIntMonth/4),Math.floor(maxIntMonth/4*3)],
			step:1,
			slide : function(event, ui) {
				dat = $("#slider-val");
				
				//We create a basic object based on min time 
				generalDate = function() { 
					var generalDate;
					generalDate = new Date;
					generalDate.setMonth(minMonth.month-1);
					generalDate.setYear("19"+minMonth.year);
					generalDate.setDate(1);
					return generalDate;
				}
				
				//Which we duplicate and add to the number of month we have ! For minimal value, which should be ui.values[0]
				min = {}
				min.date = generalDate();
				min.date.setMonth(ui.values[0] + (minMonth.month - 1));
				min.show = min.date.toDateString();
				min.val = min.date.getFullYear() + "-" + addZ(min.date.getMonth()+1) + "-" + addZ(min.date.getDate());
				
				//And ui.values[1] should be the max slide point
				max = {}
				max.date = generalDate();
				max.date.setMonth(ui.values[1] + (minMonth.month));
				max.date.setDate(0);
				max.show = max.date.toDateString();
				max.val = max.date.getFullYear() + "-" + addZ(max.date.getMonth()+1) + "-" + addZ(max.date.getDate());
				
				 $("#slider-val .min-show").val(min.show);
				 $("#slider-val .max-show").val(max.show);
				 $("#date-range-min").val(min.val);
				 $("#date-range-max").val(max.val);
			}
		});
		 $( ".date-range-picker.min-show" ).datepicker({
		 	afterShow: function() { resizePicker(this); },
			changeMonth: true,
			changeYear: true,
			minDate: new Date("19" + minMonth.year, minMonth.month - 1, 1),
			maxDate: new Date("19" + maxMonth.year, maxMonth.month - 1, 0),
			dateFormat: "D M dd yy",
			altField: "#date-range-min",
			altFormat: "yy-mm-dd"
		});
		 $( ".date-range-picker.max-show" ).datepicker({ 
		 	afterShow: function() { resizePicker(this); },
			changeMonth: true,
			changeYear: true,
			minDate: new Date("19" + minMonth.year, minMonth.month - 1, 1),
			maxDate: new Date("19" + maxMonth.year, maxMonth.month - 1, 0),
			dateFormat: "D M dd yy",
			altField: "#date-range-max",
			altFormat: "yy-mm-dd"
		});
	});
	</script>
}

@layout.main("Time browsing", "creationTime", scripts = js) {
	<article>
		<header>
			<form role="form">
				<ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
					<li><input class="nav-ehri nav-ehri-black nav-ehri-input" name="search" placeholder="Quick Search" /></li>
					<li><button type="button" class="nav-ehri nav-ehri-black nav-ehri-input">Order by Date</button></li>
					<li><button type="button" class="nav-ehri nav-ehri-black nav-ehri-input">by Size</button></li>
					<li><button type="button" class="nav-ehri nav-ehri-black nav-ehri-input">by Title</button></li>
				</ul>
				<ul class="nav nav-pills nav-ehri nav-ehri-grey nav-justified border-top" id="slider-val">
					<li><input type="hidden" value="" id="date-range-min" /><input class="nav-ehri nav-ehri-grey nav-ehri-input date-range-picker min-show" data-target="date-range-min" placeholder="From" /></li>
					<li><input type="hidden" value="" id="date-range-max" /><input class="nav-ehri nav-ehri-grey nav-ehri-input date-range-picker max-show" data-target="date-range-max" placeholder="To" /></li>
				</ul>
				<div id="slider-range" style="clear:both; margin-top:20px;"></div>
							
			</form>
		</header>
		<section>
			<section class="content-results">
				<ul class="list-item">
					<li class="item-wrapper documentaryUnit">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper repository">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper historicalAgent">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper virtualCollection">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
				</ul>
			</section>
		</section>
		<footer>
		</footer>
	</article>

}