@(item: Option[GuidesPage], f: Form[models.GuidesPage])

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(GuidesPage.PREFIX) { implicit fieldPrefix =>
    @formHelpers.hiddenInput(f("objectId"))
    @formHelpers.lineInput(f(""), GuidesPage.NAME)
    @formHelpers.lineInput(f(""), GuidesPage.PATH)
   	@formHelpers.choiceInput(f("position"), GuidesPage.POSITION, GuidesPage.positions.map(row => {
   		row -> Messages(fieldPrefix + "." + row)
	}))

   	@formHelpers.choiceInput(f("layout"), GuidesPage.LAYOUT, GuidesPage.layouts.map(row => {
   		row -> Messages(fieldPrefix + "." + row)
	}))
    @formHelpers.textInput(f(""), GuidesPage.CONTENT)
    @formHelpers.hiddenInput(f("parent"))
}