@(item: VirtualUnit)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Create)) {
        <a href="@controllers.virtual.routes.VirtualUnits.createChild(item.id)">@Messages("virtualUnit.child.create")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Update)) {
        <a href="@controllers.virtual.routes.VirtualUnits.createChildRef(item.id)">@Messages("virtualUnit.createRef")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Update)) {
        <a href="@controllers.virtual.routes.VirtualUnits.deleteChildRef(item.id)">@Messages("virtualUnit.deleteRef")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Annotate)) {
        <a href="@controllers.virtual.routes.VirtualUnits.linkAnnotateSelect(item.id, EntityType.VirtualUnit)">@Messages("link.create")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Update)) {
        <a href="@controllers.virtual.routes.VirtualUnits.update(item.id)">@Messages("item.update")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Update)) {
        <a href="@controllers.virtual.routes.VirtualUnits.visibility(item.id)">@Messages("visibility.update")</a>
        }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Delete)) {
        <a href="@controllers.virtual.routes.VirtualUnits.delete(item.id)">@Messages("item.delete")</a>
        }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Grant)) {
        <a href="@controllers.virtual.routes.VirtualUnits.managePermissions(item.id)">@Messages("permissions.manage")</a>
    }
}

    @views.html.common.sidebarSection(Messages("export")) {
        @views.html.admin.common.sidebarActionGroup {
            @views.html.admin.common.sidebarAction() {
                <a href="@controllers.admin.routes.Data.getItemRawJson(item.isA, item.id)">@Messages("export.format.json")</a>
            }
        }
    }
