@(item: Option[models.base.Model], f: Form[VirtualUnitF], config: forms.FormConfig, vf: Form[Seq[String]], usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@breadcrumbs = {
    @item match {
        case _ => {
            @Html("")
        }
    }
}

@views.html.admin.layout.rightSidebar(Messages("virtualUnit.create"), breadcrumbs = breadcrumbs) {

	@helper.form(action = action) {
        @formHelpers.csrfToken()
		@form(f, config)

        @views.html.admin.permissions.visibilityForm(vf, usersAndGroups)
        @formHelpers.submitButtonWithLogMessageInput(Messages("virtualUnit.create.submit"), cancel = item.map(i => views.admin.Helpers.linkTo(i)))
    }
} {

}
