@(item: Option[Model], f: Form[VirtualUnitF], config: forms.FormFieldHints, vf: Form[Seq[String]], usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@breadcrumbs = {
    @item match {
        case _ => {
            @Html("")
        }
    }
}

@views.html.admin.layout.rightSidebarWithType(Messages("virtualUnit.create"), EntityType.VirtualUnit, breadcrumbs = breadcrumbs) {

	@helper.form(action = action) {
        @formHelpers.csrfToken()
		@form(f, config)

        @views.html.admin.permissions.visibilityForm(vf, usersAndGroups)
        @formHelpers.submitButtonWithLogMessageInput(Messages("virtualUnit.create.submit"), cancel = item.map(i => views.admin.Helpers.linkTo(i)))
    }
} {

}
