@(item: VirtualUnit, f: Form[VirtualUnitF], config: forms.FormConfig, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("describedEntity.createDescription"), item.isA, breadcrumbs = breadcrumbs(item), scripts = formHelpers.dateJs()) {
    @defining("documentaryUnit") { implicit fieldPrefix =>
        @defining(Some(config)) { implicit implicitConfig =>
            @helper.form(action = action) {
                @formHelpers.csrfToken()

                @formHelpers.hiddenInput(f(Entity.IDENTIFIER))
                @helper.repeatWithIndex(f("descriptions"), min = 0) { (desc, i) =>
                    @if(i < item.descriptions.length) {
                        @views.html.admin.documentaryUnit.hiddenDescriptionForm(desc)
                    }
                }
                @views.html.admin.documentaryUnit.descriptionForm(f("descriptions[" + item.descriptions.length + "]"))

                @formHelpers.submitButtonWithLogMessageInput(
                    Messages("describedEntity.createDescription.submit"),
                    defaultLogMessage = Messages("describedEntity.createDescription.logMessage"),
                    cancel = views.admin.Helpers.linkToOpt(item))
            }
        }
    }
} {
   @views.html.admin.documentaryUnit.formNav()
}
