@(item: VirtualUnit, rf: Form[String], refs: Seq[(String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import models.VirtualUnitF._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("virtualUnit.deleteRef"), item.isA, breadcrumbs = breadcrumbs(item)) {

	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @defining("virtualUnit") { implicit fieldPrefix =>
            @formHelpers.choiceInput(rf(""), INCLUDE_REF, refs.toList, '_blank -> true)
        }

        @formHelpers.submitButtonWithLogMessageInput(Messages("virtualUnit.deleteRef.submit"), cancel = Some(views.admin.Helpers.linkTo(item)))
    }
} {

}
