@(item: VirtualUnit, f: Form[models.VirtualUnitF], config: forms.FormConfig, did: String, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("describedEntity.updateDescription"), breadcrumbs = breadcrumbs(item), scripts = formHelpers.dateJs()) {

    @defining("documentaryUnit") { implicit fieldPrefix =>
        @defining(Some(config)) { implicit implicitConfig =>
            @helper.form(action = action) {
                @formHelpers.csrfToken()

                @formHelpers.hiddenInput(f(Entity.IDENTIFIER))
                @helper.repeat(f("descriptions"), min = 0) { desc =>
                    @if(desc(Entity.ID).value.contains(did)) {
                        @views.html.admin.documentaryUnit.descriptionForm(desc)
                    } else {
                        @views.html.admin.documentaryUnit.hiddenDescriptionForm(desc)
                    }
                }

                @formHelpers.submitButtonWithLogMessageInput(
                    Messages("describedEntity.updateDescription.submit"),
                    defaultLogMessage = Messages("describedEntity.updateDescription.logMessage", did),
                    cancel = views.admin.Helpers.linkToOpt(item))
            }
        }
    }
} {
   @views.html.admin.documentaryUnit.formNav()
}
