@(item: VirtualUnit, f: Form[models.DocumentaryUnitDescriptionF], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash, token: play.filters.csrf.CSRF.Token)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("describedEntity.updateDescription"), breadcrumbs = breadcrumbs(item), scripts = formHelpers.dateJs()) {

    @defining("documentaryUnit") { implicit fieldPrefix =>
        @helper.form(action = action, 'class -> "entity-form form-horizontal") {
            @formHelpers.csrfToken()
            @views.html.admin.documentaryUnit.descriptionForm(f(""))

            @formHelpers.submitButtonWithLogMessageInput(Messages("describedEntity.updateDescription.submit"), cancel = views.admin.Helpers.linkToOpt(item))
        }
    }
} {
   @views.html.admin.documentaryUnit.formNav()
}
