@(item: models.base.Model, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@details(d: DocumentaryUnit) = {
    @d.data.primaryDescription.map { desc =>
        <ul class="search-item-details">
            @views.html.documentaryUnit.listItemMeta(d, desc, highlighter)
        </ul>
    }

    @views.html.common.childCount(d) { count =>
        @views.html.admin.helpers.linkToWithBody(item, fragment = s"#${item.id}-child-item-search", attributes = Seq('class -> "child-items-inline-load collapsed")) {
            <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
            @Messages("documentaryUnit.childCount", count)
        }
    }
}

<h5> @views.html.admin.helpers.linkTo(item)</h5>
@views.html.virtualUnit.ifVirtual(item)(v => details(v.asDocumentaryUnit))(d => details(d))
