@(item: VirtualUnit, scripts: Html = Html(""), styles: Html = Html(""), sidebar: Html = Html(""))(html: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(item.data.identifier, item.isA, breadcrumbs = breadcrumbs(item), scripts = scripts, styles = styles) {
    @html
} {
    @sidebar

    @views.html.admin.common.visibility(item, controllers.virtual.routes.VirtualUnits.visibility(item.id), ContentTypes.VirtualUnit)
    @views.html.admin.common.latestAction(item, controllers.virtual.routes.VirtualUnits.history(item.id))
    @adminActions(item)
}
