@(page: utils.Page[VirtualUnit], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(Messages("virtualUnit.list"), defines.EntityType.VirtualUnit) {
    @views.html.admin.common.filterableList("pagination.displayingItems", page, params) {
        @itemList(page, Seq.empty)
    }
} {
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.VirtualUnit, PermissionType.Create)) {
            <a href="@controllers.virtual.routes.VirtualUnits.create()">@Messages("virtualUnit.create")</a>
        }
    }
}