@(item: models.base.Model, path: Seq[models.base.Model])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, descriptionId: Option[String] = None)

@common.search.searchItemOutline(item) {
    @* include an anchor to the selected description *@
    @defining(descriptionId.flatMap(models.base.Description.localId).map(did => "#desc-" + did).getOrElse("")) { anchor =>
        @if(path.nonEmpty) {
            @defining(path.map(_.id).mkString(",")) { pathStr =>
            <a href="@{controllers.virtual.routes.VirtualUnits.getInVc(pathStr, item.id) + anchor}">@item.toStringLang</a>
            }
        } else {
            <a href="@{controllers.virtual.routes.VirtualUnits.get(item.id) + anchor}">@item.toStringLang</a>
        }
    }
} {
    @listItemBody(item)
}
