@(path: List[AnyModel], item: AnyModel)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, descriptionId: Option[String] = None)

@common.search.searchItemOutline(item) {
    @* include an anchor to the selected description *@
    @defining(descriptionId.map(did => "#desc-" + did).getOrElse("")) { anchor =>
        @if(!path.isEmpty) {
            @defining(path.map(_.id).mkString(",")) { pathStr =>
            <a href="@{controllers.virtual.routes.VirtualUnits.getInVc(item.id, Some(pathStr)) + anchor}">@item.toStringLang</a>
            }
        } else {
            <a href="@{controllers.virtual.routes.VirtualUnits.get(item.id) + anchor}">@item.toStringLang</a>
        }
    }
} {
    @listItemBody(item)
}
