@(item: Model)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, descriptionId: Option[String] = None)

@views.html.virtualUnit.ifVirtual(item) { v =>
    @v.data.primaryDescription(descriptionId).map { desc =>
        @views.html.admin.virtualUnit.searchItemBody(v, desc)
    }.getOrElse {
        <small>@Messages("description.noDescriptions")</small>
    }
} { d =>
    @d.data.primaryDescription(descriptionId).map { desc =>
        @views.html.admin.documentaryUnit.searchItemBody(d, desc)
    }
}
