@(result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminSearchLayout(Messages("virtualUnit.search"), result, action) {
    @searchItemList(result, Seq.empty)
} {
    @common.typeLabel(defines.EntityType.VirtualUnit) {
    }
    @common.search.facetList(result.facetClasses, action)
}
