@(result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], path: Seq[models.base.Model])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

<ul class="list-unstyled">
    @result.page.map { case(item, hit) =>
        @defining(result.params.query.map(_ => hit.id)) { implicit descriptionId =>
            <li>
                @views.html.virtualUnit.ifVirtual(item)(v => listItem(v, path))(d => listItem(d, path))
            </li>
        }
    }
</ul>
