@(item: DocumentaryUnit, result: utils.search.SearchResult[(AnyModel, utils.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link], path: Seq[AnyModel])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@views.html.admin.layout.adminLayout(item.toStringLang) {
    <div class="virtual-collection-header">
        @path.headOption.map { vc =>
            <h3><a href="@controllers.virtual.routes.VirtualUnits.get(vc.id)">@vc.toStringLang</a></h3>
            @item.parent.filter(_.id != vc.id).map { parent =>
                @if(!(Some(parent.id) == path.headOption.map(_.id))) {
                    <h4>@Messages("documentaryUnit.parentItem"):
                        <a href="@controllers.units.routes.DocumentaryUnits.get(parent.id)">@parent.toStringLang</a>
                    </h4>
                }
            }
        }
    </div>
    @views.html.admin.common.breadcrumbs(path.toList :+ item)
    @layout.mainContent {
        @layout.itemDetails {
            <div class="header-actions clearfix">
                @item.holder.map { holder =>
                <h4>@Messages("documentaryUnit.heldBy"):
                    <a href="@controllers.institutions.routes.Repositories.get(holder.id)">@holder.toStringLang</a>
                </h4>
                }
                @item.parent.map { parent =>
                    <h4>@Messages("documentaryUnit.parentItem"):
                        <a href="@controllers.units.routes.DocumentaryUnits.get(parent.id)">@parent.toStringLang</a>
                    </h4>
                }
            </div>
            @defining("documentaryUnit") { implicit fieldPrefix =>
                @layout.descriptionContainer(item.model.descriptions) {
                    @item.model.descriptions.map { desc =>
                        @views.html.admin.documentaryUnit.description(item, desc, links, annotations, actions = descriptionActions(item, desc))
                    }

                    @views.html.admin.link.annotationLinks(item, links)
                    @views.html.admin.link.externalLinks(item, links)
                } {
                    @p.common.typeLabel(item.isA)  {
                    }
                } {
                    @common.identifiers(item.model.identifier, item.model.otherIdentifiers)
                    @views.html.admin.common.latestAction(item, controllers.units.routes.DocumentaryUnits.history(item.id))
                }
            }
            @item.childCount.filter(_ > 0).map { count =>
                @views.html.search.searchSection(Messages("documentaryUnit.searchInside", item.toStringAbbr(lang)), result) {
                    @views.html.common.search.searchForm(result, action, autofocus = false) {
                        @searchItemList(result.page, path :+ item)
                    } {

                    }
                }
            }
        }
    }
}