@(item: VirtualUnit, result: utils.search.SearchResult[(models.base.AnyModel, utils.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link], path: Seq[models.base.AnyModel] = Nil)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.admin.layout.adminLayout(item.toStringLang) {
    <div class="virtual-collection-header info-bar">
        @path.headOption.map { vc =>
            <h3><a href="@controllers.virtual.routes.VirtualUnits.get(vc.id)">@vc.toStringLang</a></h3>
            @item.parent.filter(_.id != vc.id).map { parent =>
                @if(!path.headOption.map(_.id).contains(parent.id)) {
                    <h4>@Messages("virtualUnit.parentItem"):
                        <a href="@controllers.virtual.routes.VirtualUnits.get(parent.id)">@parent.toStringLang</a>
                    </h4>
                }
            }
        }
    </div>
    @views.html.admin.common.breadcrumbs(path.toList ::: List(item))
    @layout.mainContent {
        @layout.itemDetails {
            @defining("documentaryUnit") { implicit fieldPrefix =>
                @layout.descriptionContainer(item.model.descriptions) {
                    @if(item.model.descriptions.isEmpty) {
                        <p class="text-muted">@Messages("documentaryUnit.noDescriptions")</p>
                        <a href="@controllers.virtual.routes.VirtualUnits.createDescription(item.id)" class="btn btn-primary">
                            @Messages("describedEntity.createDescription")
                        </a>
                    } else {
                        @item.model.descriptions.map { desc =>
                            @views.html.admin.documentaryUnit.description(item, desc, links, annotations, actions = descriptionActions(item, desc))
                        }
                    }

                    @views.html.admin.link.annotationLinks(item, links)
                    @views.html.admin.link.externalLinks(item, links)
                } {

                } {
                    @views.html.admin.common.latestAction(item, controllers.virtual.routes.VirtualUnits.history(item.id))
                    @views.html.admin.common.visibility(item, controllers.virtual.routes.VirtualUnits.visibility(item.id), defines.ContentTypes.VirtualUnit)
                    @views.html.admin.virtualUnit.adminActions(item)
                }

                @views.html.common.search.searchSection(item, Messages("documentaryUnit.childItems", item.toStringAbbr(messages)), result) {
                    @views.html.common.search.searchForm(result, action, autofocus = false) {
                        @views.html.admin.virtualUnit.searchItemList(result, path :+ item)
                    } {
                        @common.search.facetList(result.facetClasses, action)
                    }
                }
            }
        }

    }
}
