@(item: VirtualUnit, result: services.search.SearchResult[(models.base.AnyModel, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link], path: Seq[models.base.AnyModel] = Nil)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.admin.layout.adminLayout(item.toStringLang) {
    @views.html.admin.virtualUnit.vcHeader(item, path)
    @views.html.admin.common.breadcrumbs(path.toList ::: List(item))
    @common.mainContent {
        @common.itemDetails {
            @defining("documentaryUnit") { implicit fieldPrefix =>
                @common.descriptionContainer(item.model.descriptions) {
                    @if(item.model.descriptions.isEmpty) {
                        <p class="text-muted">@Messages("documentaryUnit.noDescriptions")</p>
                        <a href="@controllers.virtual.routes.VirtualUnits.createDescription(item.id)" class="btn btn-primary">
                            @Messages("describedEntity.createDescription")
                        </a>
                    } else {
                        @item.model.descriptions.map { desc =>
                            @views.html.admin.documentaryUnit.description(item, desc, links, annotations, actions = descriptionActions(item, desc))
                        }
                    }

                    @views.html.admin.link.annotationLinks(item, links)
                    @views.html.admin.link.externalLinks(item, links)
                } {

                } {
                    @views.html.admin.common.latestAction(item, controllers.virtual.routes.VirtualUnits.history(item.id))
                    @views.html.admin.common.visibility(item, controllers.virtual.routes.VirtualUnits.visibility(item.id), defines.ContentTypes.VirtualUnit)
                    @views.html.admin.virtualUnit.adminActions(item)
                }

                @views.html.common.search.searchSection(item, Messages("documentaryUnit.childItems", item.toStringAbbr(messages)), result) {
                    @views.html.common.search.searchForm(result, action, autofocus = false) {
                        @views.html.admin.virtualUnit.searchItemList(result, path :+ item)
                    } {
                        @common.search.facetList(result.facetClasses, action)
                    }
                }
            }
        }

    }
}
