@(item: VirtualUnit, result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link], dlid: Option[String], path: Seq[models.base.Model] = Nil)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(item.toStringLang) {
    @views.html.admin.virtualUnit.vcHeader(item, path)
    @views.html.admin.common.breadcrumbs(path.toList ::: List(item))
    @common.mainContent {
        @common.itemDetails {
            @defining("documentaryUnit") { implicit fieldPrefix =>
                @defining(item.data.descriptionsWithSelected(dlid)) { descriptions =>
                    @common.descriptionContainer(descriptions) {
                        @if(descriptions.isEmpty) {
                            <p class="minor-notice">@Messages("documentaryUnit.noDescriptions")</p>
                            <a href="@controllers.virtual.routes.VirtualUnits.createDescription(item.id)" class="btn btn-primary">
                            @Messages("describedEntity.createDescription")
                            </a>
                        } else {
                            @descriptions.map { case (desc, selected) =>
                                st@views.html.admin.documentaryUnit.description(item, desc, links, annotations, actions = descriptionActions(item, desc), visible = selected)
                            }
                        }

                        @views.html.admin.link.annotationLinks(item, links)
                        @views.html.admin.link.externalLinks(item, links)
                    } {
                        @common.typeLabel(item.isA) {
                        }
                    } {
                        @views.html.admin.common.latestAction(item, controllers.virtual.routes.VirtualUnits.history(item.id))
                        @views.html.admin.common.visibility(item, controllers.virtual.routes.VirtualUnits.visibility(item.id), defines.ContentTypes.VirtualUnit)
                        @views.html.admin.virtualUnit.adminActions(item)
                    }
                }

                @views.html.admin.search.searchSection(item, Messages("documentaryUnit.childItems", item.toStringAbbr(messages)), result) {
                    @views.html.common.search.searchForm(result, action, autofocus = false) {
                        @views.html.admin.virtualUnit.searchItemList(result, path :+ item)
                    } {
                        @common.search.facetList(result.facetClasses, action)
                    }
                }
            }
        }

    }
}
