<div class="search-bar">
<h1>{{desc.data.name}}</h1>
</div>
<article class="container document" style="padding-top:30px;">
	
	
	<div class="row">
		<div class="span8">
			<div class="ui-block" id="Identity" ng-show="(desc.data.extentAndMedium)" ng-class="(class.Identity.closed && 'closed') || (class.Identity.hidden && 'hidden')">
				<h2>Identity
					<div class="pull-right">
						<a class="filterBar-icon" ng-click="class.Identity.closed = !class.Identity.closed;"><i ng-class="(class.Identity.closed && 'icon-plus') || 'icon-minus'"></i>
						</a><a ng-click="class.Identity.hidden = !class.Identity.hidden;" class="filterBar-icon"><i class="icon-remove"></i></a></div>
					</h2>
				<div id="extentAndMedium" ng-show="(desc.data.extentAndMedium)">
					<h3>Extent and Medium of the Unit of Description </h3>
					<p>{{desc.data.extentAndMedium}}</p>
				</div>
				<!-- Source is in right span -->
			</div>
			<div class="ui-block" id="context" ng-show="(desc.data.adminBiogHistory) || (desc.data.archivalHistory)" ng-class="(class.context.closed && 'closed') || (class.context.hidden && 'hidden')">
				<h2>Context
					<div class="pull-right">
						<a class="filterBar-icon" ng-click="class.context.closed = !class.context.closed;"><i ng-class="(class.context.closed && 'icon-plus') || 'icon-minus'"></i>
						</a><a ng-click="class.context.hidden = !class.context.hidden;" class="filterBar-icon"><i class="icon-remove"></i></a></div>
					</h2>
				<div id="adminBiogHistory" ng-show="(desc.data.adminBiogHistory)">
					<h3>Administrative and biographical history</h3>
					<p>{{desc.data.adminBiogHistory}}</p>
				</div>
				<div id="archivalHistory" ng-show="(desc.data.archivalHistory)">
					<h3>Archival History</h3>
					<p>{{desc.data.archivalHistory}}</p>
				</div>
				<!-- Source is in right span -->
			</div>

			<div class="ui-block" id="Content" ng-show="(desc.data.scopeAndContent || desc.data.appraisal || desc.data.accruals || desc.data.systemOfArrangement)" ng-class="(class.Content.closed && 'closed') || (class.Content.hidden && 'hidden')">
				<h2>Content
					<div class="pull-right">
						<a class="filterBar-icon" ng-click="class.Content.closed = !class.Content.closed;"><i ng-class="(class.Content.closed && 'icon-plus') || 'icon-minus'"></i>
						</a><a ng-click="class.Content.hidden = !class.Content.hidden;" class="filterBar-icon"><i class="icon-remove"></i></a></div>
				</h2>
				<div id="scopeAndContent" ng-show="(desc.data.scopeAndContent)">
					<h3> Scope and Content </h3>
					<p>{{desc.data.scopeAndContent}}</p>
				</div>
				
				<div id="appraisal" ng-show="(desc.data.appraisal)">
					<h3> Appraisal </h3>
					<p>{{desc.data.appraisal}}</p>
				</div>
				
				<div id="accruals" ng-show="(desc.data.accruals)">
					<h3> Accruals </h3>
					<p>{{desc.data.accruals}}</p>
				</div>
				
				<div id="systemOfArrangement" ng-show="(desc.data.systemOfArrangement)">
					<h3> System of Arrangement </h3>
					<p>{{desc.data.systemOfArrangement}}</p>
				</div>
			</div>

			<div class="ui-block" id="conditions" ng-show="(desc.data.conditionsOfAccess || desc.data.conditionsOfReproduction || desc.data.physicalCharacteristics || desc.data.findingAids)" ng-class="(class.conditions.closed && 'closed') || (class.conditions.hidden && 'hidden')">
				<h2>Conditions
					<div class="pull-right">
						<a class="filterBar-icon" ng-click="class.conditions.closed = !class.conditions.closed;"><i ng-class="(class.conditions.closed && 'icon-plus') || 'icon-minus'"></i>
						</a><a ng-click="class.conditions.hidden = !class.conditions.hidden;" class="filterBar-icon"><i class="icon-remove"></i></a></div>
				</h2>
				<div id="conditionsOfAccess" ng-show="(desc.data.conditionsOfAccess)">
					<h3>Conditions Governing Access </h3>
					<p>{{desc.data.conditionsOfAccess}}</p>
				</div>
				<div id="conditionsOfReproduction" ng-show="(desc.data.conditionsOfReproduction)">
					<h3>Conditions Governing Reproduction </h3>
					<p>{{desc.data.conditionsOfReproduction}}</p>
				</div>
				<div id="physicalCharacteristics" ng-show="(desc.data.physicalCharacteristics)">
					<h3>Physical Characteristics and Technical Requirements </h3>
					<p>{{desc.data.physicalCharacteristics}}</p>
				</div>
				<div id="findingAids" ng-show="(desc.data.findingAids)">
					<h3>Finding Aids</h3>
					<p>{{desc.data.findingAids}}</p>
				</div>
			</div>

			<div class="ui-block" id="materials" ng-show="(desc.data.locationOfOriginals || desc.data.locationOfCopies || desc.data.relatedUnitsOfDescription || desc.data.publicationNote)" ng-class="(class.materials.closed && 'closed') || (class.materials.hidden && 'hidden')">
				<h2>Materials
					<div class="pull-right">
						<a class="filterBar-icon" ng-click="class.materials.closed = !class.materials.closed;"><i ng-class="(class.materials.closed && 'icon-plus') || 'icon-minus'"></i>
						</a><a ng-click="class.materials.hidden = !class.materials.hidden;" class="filterBar-icon"><i class="icon-remove"></i></a></div>
				</h2>
				<div id="locationOfOriginals" ng-show="(desc.data.locationOfOriginals)">
					<h3>Existence and Location of Originals </h3>
					<p>{{desc.data.locationOfOriginals}}</p>
				</div>
				<div id="locationOfCopies" ng-show="(desc.data.locationOfCopies)">
					<h3>Existence and Location of Copies </h3>
					<p>{{desc.data.locationOfCopies}}</p>
				</div>
				<div id="relatedUnitsOfDescription" ng-show="(desc.data.relatedUnitsOfDescription)">
					<h3>Related Units of Description </h3>
					<p>{{desc.data.relatedUnitsOfDescription}}</p>
				</div>
				<div id="publicationNote" ng-show="(desc.data.publicationNote)">
					<h3>Publication Note </h3>
					<p>{{desc.data.publicationNote}}</p>
				</div>

			</div>

			<div class="ui-block" id="control" ng-show="(desc.data.archivistNote || desc.data.rulesAndConventions || desc.data.datesOfDescriptions)" ng-class="(class.control.closed && 'closed') || (class.control.hidden && 'hidden')">
			<h2>Control
					<div class="pull-right">
						<a class="filterBar-icon" ng-click="class.control.closed = !class.control.closed;"><i ng-class="(class.control.closed && 'icon-plus') || 'icon-minus'"></i>
						</a><a ng-click="class.control.hidden = !class.control.hidden;" class="filterBar-icon"><i class="icon-remove"></i></a></div>
				</h2>
				<div id="archivistNote" ng-show="(desc.data.archivistNote)">
					<h3>Archivist Note </h3>
					<p>{{desc.data.archivistNote}}</p>
				</div>
				<div id="rulesAndConventions" ng-show="(desc.data.rulesAndConventions)">
					<h3>Rules and Conventions </h3>
					<p">{{desc.data.rulesAndConventions}}</p>
				</div>
				<div id="datesOfDescriptions" ng-show="(desc.data.datesOfDescriptions)">
					<h3>Dates of Descriptions </h3>
					<p>{{desc.data.datesOfDescriptions}}</p>
				</div>
			</div>
			<div id="accessPoints" class="ui-block" ng-class="(class.accessPoints.closed && 'closed') || ((!desc.relationships.relatesTo || class.accessPoints.hidden) && 'hidden')">
				<h2>Access
					<div class="pull-right">
						<a class="filterBar-icon" ng-click="class.accessPoints.closed = !class.accessPoints.closed;"><i ng-class="(class.accessPoints.closed && 'icon-plus') || 'icon-minus'"></i>
						</a><a ng-click="class.accessPoints.hidden = !class.accessPoints.hidden;" class="filterBar-icon"><i class="icon-remove"></i></a></div></h2>
				<div>
					<ul class="tags accessPoints">
						<li ng-repeat="access in desc.relationships.relatesTo" class="{{access.data.type}}">{{access.data.name}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="ui-block">
				<h2 class="nomargin">Available blocks</h2>
				<ul class="list-item">
					<li ng-show="(desc.data.extentAndMedium) && class.Identity.hidden ">
						Identity Area
						<a ng-click="class.Identity.hidden = false;" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
					</li>
					<li ng-show="(desc.data.adminBiogHistory) || (desc.data.archivalHistory) && class.context.hidden ">
						Context Area
						<a ng-click="class.context.hidden = false;" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
					</li>
					<li ng-show="(desc.data.scopeAndContent || desc.data.appraisal || desc.data.accruals || desc.data.systemOfArrangement) && class.Content.hidden ">
						Content Area
						<a ng-click="class.Content.hidden = false;" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
					</li>
					<li ng-show="(desc.data.conditionsOfAccess || desc.data.conditionsOfReproduction || desc.data.physicalCharacteristics || desc.data.findingAids) && class.conditions.hidden ">
						Conditions Area
						<a ng-click="class.conditions.hidden = false;" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
					</li>
					<li ng-show="(desc.data.locationOfOriginals || desc.data.locationOfCopies || desc.data.relatedUnitsOfDescription || desc.data.publicationNote) && class.materials.hidden ">
						Materials Area
						<a ng-click="class.materials.hidden = false;" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
					</li>
					<li ng-show="(desc.data.archivistNote || desc.data.rulesAndConventions || desc.data.datesOfDescriptions) && class.control.hidden ">
						Control Area
						<a ng-click="class.control.hidden = false;" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
					</li>
					<li ng-show="desc.relationships.relatesTo && class.accessPoints.hidden ">
						Access Area
						<a ng-click="class.accessPoints.hidden = false;" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
					</li>
				</ul>
			</div>
			<div class="ui-block">
				<h2 class="nomargin">Available descriptions</h2>
				<ul class="list-item">
					<li class="ng-scope" ng-repeat="desc in item.relationships.describes">
					{{desc.data.languageCode}} - {{desc.data.name}}
					<a class="filterBar-icon" href="#/item/documentaryUnit/{{item.id}}?description={{desc.id}}"><i class="icon-chevron-right"></i></a>
					</li>
				</ul>
			</div>
			<div class="ui-block">
				<h2 class="nomargin">Compare with</h2>
				<form class="form" ng-submit="doSearch()">
					<a class="filterBar-icon" ng-click="doSearch();"><i class="icon-search"></i></a><input type="text" ng-model="searchParams.q" placeholder="Type your query here" 
					/><div class="filterBar-icon dropdown">
						<a class="dropdown-toggle"><i class="icon-sort-by-order icon-large"></i></a>
						<ul class="dropdown-menu">
							<li><a ng-click="doFilter('type', 'lastUpdated')"><i class="icon-sort-by-order icon-large"></i><div class="legend">Update Time</div></a></li>
							<li><a ng-click="doFilter('type', 'name_sort')"><i class="icon-sort-by-alphabet icon-large"></i><div class="legend">Name</div></a></li>
							<li><a ng-click="doFilter('type', 'score')"><i class="icon-sort-by-attributes icon-large"></i><div class="legend">Relevance</div></a></li>
						</ul>
					</div><div class="filterBar-icon dropdown">
						<a class="dropdown-toggle"><i class="icon-sort icon-large"></i></a>
						<ul class="dropdown-menu">
							<li><a ng-click="doFilter('order', 'desc')"><i class="icon-long-arrow-down icon-large"></i><div class="legend">Descendant</div></a></li>
							<li><a ng-click="doFilter('order', 'asc')"><i class="icon-long-arrow-up icon-large"></i><div class="legend">Ascendant</div></a></li>
						</ul>
					</div>
			
				</form>
				<ul class="list-item">
					<li ng-repeat="item in quickSearch">{{item.relationships.describes[0].data.name}}</li>
				</ul>
			</div>
		</div>
	</div>
</article>