<div>
	<section >
	
		<section class="result-column">
		
			<article>
					<header>
					<form class="search-bar">
						<nav class="navbar">
							<div class="navbar-inner">
								<ul class="nav">
									<li class="dropdown">
										<a class="dropdown-toggle"><i class="icon-sort-by-order"></i> Sort</a> 
										<ul class="dropdown-menu">
											<li>
												<a ng-click="setQuery('sort', 'score.desc')"> Relevance </a>
												<a ng-click="setQuery('sort', 'name_sort.desc')"> Name </a>
												<a ng-click="setQuery('sort', 'lastUpdated.desc')"> Recently Updated </a>
											</li>
										</ul>
									</li>
									<li ng-repeat="facet in page.facets" ng-show="facet.count > 1"  class="dropdown">
										<a class="dropdown-toggle"><i class="icon-{{facet.param}}"></i> {{(searchParams[facet.param]) || facet.name}}</a> 
										<ul class="dropdown-menu">
											<li ng-click="removeFilterByKey(facet.param)"><a>All</a></li>
											<li ng-repeat="option in facet.facets.0" ng-show="option.count != 0" ng-click="setQuery(facet.param, option.param)" ng-class="(option.applied && 'disabled')">
												<a>{{option.param}} ({{option.count}})</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="nav pull-right">
									<li><a ng-click="map.activate()"><i class="icon-map-marker"></i> Activate map</a></li>
								</ul>
							</div>
						</nav>
						</div>
						
					</form>
					<div class="container">
						<div class="row">
							<div class="filterBar ">
								<input type="text" class="filterBar-input span8 open" style="width:80%; padding-left:10px;" ng-change="(!noSearchOnChange && setQuery('q', searchTerm))" ng-model="searchTerm" placeholder="Type your query here"/><div class="filterBar-icon">
									<a ng-click="setQuery('q', searchTerm)"><i class="icon-search"></i></a></div><div class="filterBar-icon" ng-class="(noSearchOnChange && 'desactivated')">
									<a ng-click="noSearchOnChange = !noSearchOnChange;"><i class="icon-refresh"></a></i></div>
							</div>
							<p class="muted">
								<small>
									<em>
										Displaying item {{(page.offset + 1)}} to {{page.limit + page.offset}} of {{page.total}}
									</em>
								</small>
							</p>
						</div>
						
					</div>
					</header>
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span2" ng-class="(map.activated && 'hide')">
							</div>
							
							<div id="content" class="span8" when-scrolled="loadMore()" >
								<div ng-repeat="pagify in pages| orderBy:pagify.id_page:number">
									<article annotate="item" id="{{item.id}}" class="search-item" ng-repeat="item in pagify.items" >
										
										<div ng-show="item.page" class="pagination-page muted" id="page-{{item.page}}">
											<a title="Page {{item.page}}">
												{{item.page}}
											</a>
										</div>
										
										<div class="logo" data-tooltip="{{item.type}}">
											<i class="iehri-{{item.type}} icon-4x"></i>
										</div>
										<!-- If desc inside relationship -->
										<div ng-show="(item.relationships.describes)" ng-repeat="desc in item.relationships.describes | descLang:langFilter">
											<header>
												<a ng-show="desc.data.name" href="#/item/{{item.type}}/{{item.id}}"><b>{{desc.data.name}}</b></a> 
												<span class="filterBar filterBar-inline pull-right">
													<a class="filterBar-icon" title="Add to basket" ng-click="addBasket(item)">
														<i class="icon-bookmark"></i>
													</a>
													<a class="filterBar-icon" title="Drag this item" drag="item" dragStyle="drag">
														<i class="icon-move"></i>
													</a>
													<a ng-show="map.activated" class="filterBar-icon" title="See on map" ng-click="map.addMarker(item, desc.data.name, item.id)">
														<i class="icon-map-marker"></i>
													</a>
												</span>
												
											</header>
											
											<p>
												{{(desc.data.biographicalHistory.length > 360 && (desc.data.biographicalHistory.substring(0, 360) + '...')) || desc.data.biographicalHistory}}
											</p>
										</div>
										
										<!-- If desc not inside relationship -->
										<div class="content" ng-show="(!item.relationships.describes)">
											<header>
												<a ng-click="getLink(item.type, item.id)">
													<b>{{item.data.name || item.data.identifier}}</b>
												</a>
												<span class="filterBar filterBar-inline pull-right">
													<a class="filterBar-icon" title="Add to basket" ng-click="addBasket(item)">
														<i class="icon-bookmark"></i>
													</a>
												</span>
											</header>
										</div>
									</article>
								</div>
								<div ng-show="loadingPage" class="well" style="text-align:center;"><i class="icon-spinner icon-spin icon-large"></i></div>
							</div>
							<div ng-class="(map.activated && 'span3') || 'span2'">
								&nbsp;
								<div ng-show="map.activated">
									<sap id="map" style="width:100%!important; height:400px;" mapMarkers="mapMarkers">
									</sap>
									<ul class="unstyled basket">
										<li class="basket-item" ng-repeat="marker in mapMarkers.markers">
											<div class="basket-item-title">{{marker.data.title}}</div>
											<div class="icon-pack">
												<a ng-click="map.center(marker.data)"><i class="icon-map-marker"></i></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
						
				
			</article>
				
		</section>
		
	</section>
</div>