@(item: AuthoritativeSet, f: play.api.data.Form[models.AuthoritativeSetF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@layout.rightSidebar(Messages("actions.updateAuthoritativeSet"), breadcrumbs = common.breadcrumbs(List(item))) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @authoritativeSet.renderForm(Some(item), f)

        @common.submitButtonWithLogMessageInput(Messages("submitButton.updateAuthoritativeSet"), cancel = Some(globalConfig.routeRegistry.urlFor(item)))
	}
} {

}
