@(page: rest.Page[AuthoritativeSet], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(Messages("actions.listAuthoritativeSets")) {

	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)
	
	<ul class="unstyled">
	@page.items.map { item =>
	  	<li>
            @authoritativeSet.listItem(item)
	  	</li>
	}
	</ul>

} {
    @common.sidebarSection(None) {
        @userOpt.map { user =>
            @if(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Create)) {
                <a class="btn btn-primary" href="@controllers.authorities.routes.AuthoritativeSets.create">@Messages("actions.createAuthoritativeSet")</a>
            }
        }
    }

}