@(page: backend.Page[AuthoritativeSet], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(Messages("actions.listAuthoritativeSets")) {

	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)
	
	<ul class="list-unstyled">
	@page.items.map { item =>
	  	<li>
            @authoritativeSet.listItem(item)
	  	</li>
	}
	</ul>

} {
    @common.sidebarActions { user =>
        @common.sidebarAction(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Create)) {
            <a href="@controllers.authorities.routes.AuthoritativeSets.create">@Messages("actions.createAuthoritativeSet")</a>
        }
    }
}