@(guide: Guide, page: GuidePage, pages: Seq[GuidePage])(implicit request: RequestHeader, messages: Messages)

<div class="container">
        <a class="guides-logo" href="@controllers.portal.guides.routes.Guides.listGuides()">
            <img src="@controllers.portal.routes.PortalAssets.versioned("img/text-logo.png")" alt="EHRI" />
        </a>

        <nav id="guide-navbar">
            <ul class="nav">
                @for(otherPage <- pages.filter(_.position == GuidePage.MenuPosition.Top)) {
                    <li><a class="@{if(page.path == otherPage.path) "active"}" href="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, otherPage.path)">
                        @otherPage.name
                    </a></li>
                }
                <li>
                    <a class="@{if(page.path == "browse") "active"}" href="@controllers.portal.guides.routes.Guides.guideFacets(guide.path)">
                        @Messages("guides.faceted")
                    </a>
                </li>
            </ul>
        </nav>
</div>
<div id="page-title">
    <div class="container">
        <h1 class="guide-title"><a href="@controllers.portal.guides.routes.Guides.home(guide.path)">@guide.name</a></h1>
    </div>
</div>


