@(guide: Guide, page: GuidePage, pages: Seq[GuidePage], scripts: Html = Html(""), styles: Html = Html(""), optionalContent: Option[Html] = None, otherTitle: Option[String] = None)(content: Html)(implicit userOpt: Option[UserProfile], globalConfig: global.GlobalConfig, request: RequestHeader, messages: Messages, md: views.MarkdownRenderer)

<!DOCTYPE html>

@extraStyles = {
    <link rel="stylesheet" media="screen" href="@controllers.portal.guides.routes.GuideAssets.versioned("css/guides.css")">
    <style type="text/css">@Html(guide.css.getOrElse(""))</style>
    @styles
}

@extraScripts = {
    <script src="@controllers.portal.guides.routes.Guides.jsRoutes()"></script>
    <script>
        VIRTUAL_UNIT = "@guide.virtualUnit";
        VIRTUAL_UNIT_ROUTE = "@controllers.portal.guides.routes.Guides.guideFacets(guide.path)?kw=";
        GUIDE_PATH = "@guide.path";
    </script>
    <script src="@controllers.portal.guides.routes.GuideAssets.versioned("js/portal-guide.js")"></script>
    @scripts
}

<html lang="en">
    @views.html.common.head(
        title = s"${guide.name} | ${otherTitle.getOrElse(page.name)}",
        meta = page.description.map(s => "description" -> s).toMap,
        styles = extraStyles
    )
    <body class="guides">
        @views.html.common.preambleScripts()
        <header id="top" class="navigation">
            @views.html.layout.guideHeader(guide, page, pages)
        </header>
        <div class="container">
            @views.html.common.rightSidebar(content) {
                @views.html.layout.guideSidebar(guide, page, pages, optionalContent)
            }
        </div>
        @views.html.common.footer()
        @views.html.common.postambleScripts(extra = extraScripts)
    </body>
</html>
