@(guide: Guide, page: GuidePage, pages: Seq[GuidePage], sidebar: Option[Html] = None)(implicit request: RequestHeader, messages: Messages, md: views.MarkdownRenderer)

@articleHTML(optionalText: Option[Html]) = {
    @optionalText.map { html =>
        <div class="detail-section">
            <article>
                @html
            </article>
        </div>
    }
}

@articleString(optionalText: Option[String]) = {
    @optionalText.map { html =>
        <div class="detail-section">
            <article>
                @Markdown(html)
            </article>
        </div>
    }
}

@articleHTML(sidebar)

<div class="detail-section">
    <ul class="nav nav-pills nav-stacked">
        @for(otherPage <- pages.filter(_.position == GuidePage.MenuPosition.Side)) {
            <li><a class="@{
                if(page.path == otherPage.path) "active"
            }" href="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, otherPage.path)">
            @otherPage.name
            </a>
            </li>
        }
        <li><a href="@controllers.portal.guides.routes.Guides.listGuides()">@Messages("guides")</a></li>
    </ul>
</div>

@articleString(guide.description)

<hr />
