@(guide: Guide, page: GuidePage, pages: List[GuidePage])(implicit request: RequestHeader, lang: Lang)

<div class="container">
    <div class="row">
        <div class="col-md-3  col-md-push-9 text-center">
            <a href="@controllers.portal.guides.routes.Guides.listGuides()"><img src="@controllers.portal.routes.Assets.at("img/text-logo.png")" class="img-responsive" alt="EHRI" /></a>
        </div>

        <div class="col-md-9 col-md-pull-3">
            <ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
                @for(otherPage <- pages.filter(_.position == GuidePage.MenuPosition.Top)) {
                    <li><a class="@{if(page.path == otherPage.path) "active"}" href="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, otherPage.path)">
                        @otherPage.name
                    </a></li>
                }
                <li>
                    <a class="@{if(page.path == "browse") "active"}" href="@controllers.portal.guides.routes.Guides.guideFacets(guide.path)">
                        @Messages("guides.faceted")
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="guide-title"><a href="@controllers.portal.guides.routes.Guides.home(guide.path)">@guide.name</a></h1>
            </div>
        </div>
    </div>
</div>


