@(guide: Guide, page: GuidePage, pages: List[GuidePage], sidebar: Option[Html] = None)(implicit request: RequestHeader, lang: Lang)

@articleHTML(optionalText: Option[Html]) = {
	@optionalText.map  { html =>
		<div class="well well-sm">
			<article>
				@html
			</article>
		</div>
	}
}

@articleString(optionalText: Option[String]) = {
	@optionalText.map  { html =>
		<div class="well well-sm">
			<article>
				@Html(views.Helpers.renderMarkdown(html))
			</article>
		</div>
	}
}

@articleHTML(sidebar)

<div class="well well-sm">
    <ul class="nav nav-pills nav-stacked">
            @for(otherPage <- pages.filter(_.position == GuidePage.MenuPosition.Side)) {
                <li><a class="@{if(page.path == otherPage.path)"active"}" href="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, otherPage.path)">
                    @otherPage.name
                </a></li>
            }
        <li><a href="@controllers.portal.guides.routes.Guides.listGuides()">@Messages("guides")</a></li>
    </ul>
</div>

@articleString(guide.description)

<hr />
