@(descriptions: Seq[Description])(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages)

@if(descriptions.size > 1) {
<div class="sidebar-section">
    <header>@Messages("description.multiple.text")</header>
    <div class="list-group description-switcher">
        @descriptions.map { desc =>
        <a class="list-group-item description-switch"
            title="@views.Helpers.languageCodeToName(desc.languageCode) - @desc.name"
            href="#desc-@desc.localId"
            data-id="@desc.localId">
            @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
        </a>
        }
    </div>
</div>
}
