@(f: Form[BookmarkSet], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash, token: play.filters.csrf.CSRF.Token)

@views.html.layout.portalLayout(Messages("bookmarkSet.create"), EntityType.UserProfile.toString) {
    @layout.infobar {
        <h1>@Messages("bookmarkSet.create")</h1>
    }

    @views.html.layout.mainContent {
        @form(f, action)
    }
}
