@(f: Form[BookmarkSet], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages)

@import BookmarkSet._

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplate.f) }

@helper.form(action = action, attrs._role -> "form", attrs._class -> "validate-form", attrs._id -> "bookmark-set-form") {
    @formHelpers.csrfToken()
    @helper.inputText(f(NAME))
    @helper.inputText(f(DESCRIPTION))

    <div class="form-group">
        <button type="submit" class="btn btn-post">@Messages("bookmarkSet.create.submit")</button>
    </div>
}
