@(parent: Option[AnyModel], them: UserProfile, result: utils.search.SearchResult[AnyModel], more: Boolean, watched: Seq[String])(implicit req: RequestHeader, userOpt: Option[UserProfile], messages: Messages, md: views.MarkdownRenderer, globalConfig: global.GlobalConfig)

@defining(userOpt.exists(_.id == them.id)) { isCurrentUser =>

    @if(result.nonEmpty) {
        <ul class="list-group bookmark-list">
            @itemListItems(parent, result.page.items, result.params, more, watched)
        </ul>
    }
}