@(parent: Option[Model], them: UserProfile, paging: utils.PageParams, result: services.search.SearchResult[Model], more: Boolean, watched: Seq[String])(implicit req: RequestHeader, userOpt: Option[UserProfile], messages: Messages, md: MarkdownRenderer, conf: AppConfig)

@defining(userOpt.exists(_.id == them.id)) { isCurrentUser =>

    @if(result.nonEmpty) {
        <ul class="list-group bookmark-list">
            @views.html.bookmarks.itemListItems(parent, result.page.items, paging, result.params, more, watched)
        </ul>
    }
}
