@(paging: utils.PageParams, result: services.search.SearchResult[VirtualUnit], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@js = {
    <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery-ui/jquery-ui.js")" type="text/javascript"></script>
    <script src="@controllers.portal.routes.PortalAssets.versioned("js/bookmarks.js")"></script>
}

@css = {
    <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery-ui/jquery-ui.css")">
}

@* user should always be defined here *@
@userOpt.map { user =>
    @views.html.layout.searchLayout(Messages("bookmarkSet.list"), result, cls = EntityType.UserProfile.toString, scripts = js, styles = css) {
        @views.html.common.itemHeader(Messages("bookmarkSet.list"))
        @views.html.bookmarks.itemList(None, user, paging, result, more = false, watched)
        <a class="btn post" href="@controllers.portal.routes.Bookmarks.createBookmarkSet()">@Messages("bookmarkSet.create")</a>
    }

}
