@(f: play.api.data.Field, enum: Enumeration, label: String, blank: Boolean = false)(implicit fieldPrefix: String = "", fieldConstructor: views.html.helper.FieldConstructor)

@nameString(enumVal: Enumeration#Value) = {

}

@helper.select(
  field = f,
  options = (if(blank) List("" -> "---") else Nil) ::: enum.values.map(m => (m.toString,
        Messages(if (fieldPrefix.isEmpty) m.toString else fieldPrefix + "." + m.toString))).toList,
  args = '_label -> Messages(if(fieldPrefix.isEmpty) label else fieldPrefix + "." + label), 'class -> "form-control"
)

