@(desc: play.api.data.Field, fieldName: String, secondaryClass: String = "form-control ")(implicit prefix: String = "", defaults: Option[play.api.Configuration] = None, fieldConstructor: views.html.helper.FieldConstructor)

@defining(desc(fieldName)) { field =>
    @helper.inputText(field.copy(value = field.value.orElse(defaults.flatMap(_.getString(fieldName)))), 'title -> views.Helpers.renderMarkdown(Messages((if (prefix != "") prefix + "." else "") + fieldName + ".description")), 'class -> secondaryClass, '_label -> Messages(if (prefix.isEmpty) fieldName else "%s.%s".format(prefix, fieldName)))
}
