@(desc: play.api.data.Field, fieldName: String)(implicit prefix: String = "", defaults: Option[play.api.Configuration] = None, lang: Lang, fieldConstructor: views.html.helper.FieldConstructor)

@defining(desc(fieldName)) { field =>
    @helper.textarea(field.copy(value = field.value.orElse(defaults.flatMap(_.getString(fieldName)))), 'title -> views.Helpers.renderMarkdown(Messages(prefix + "." + fieldName + ".description")), 'rows -> 4, 'class -> "form-control", '_label -> Messages(if (prefix.isEmpty) fieldName else "%s.%s".format(prefix, fieldName)))
}
