@(item: AccessibleEntity, src: ItemWithId, form: play.api.data.Form[models.forms.AnnotationF], action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.linkAnnotate", item.identifier, src.name))(Some(user), req) {
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<fieldset id="annotate-area">

        <legend>@Messages("Identity")</legend>
            @helper.inputText(form(models.forms.AnnotationF.BODY), '_label -> Messages("annotation.bodyText"))
            <input type="hidden" value="@models.forms.AnnotationType.Link" name="@form(models.forms.AnnotationF.ANNOTATION_TYPE).name" />
		</fieldset>
	  
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("submitButton.linkAnnotate")</button>
		</div>
	}
} {

}