@(item: Annotation, annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item.identifier)(maybeUser, req) {

    @common.annotated(item, annotations, routes.Annotations.annotate(item.id)) {
        TODO
    }
} {
    @common.latestAction(item, routes.Annotations.history(item.id))
    @common.visibility(item)

    <ul class="item-actions">
    @maybeUser.map { user =>
        @if(user.hasPermission(ContentType.Annotation, PermissionType.Update)) {
            <li><a href="@routes.Annotations.visibility(item.id)">@Messages("actions.setVisibility")</a></li>
            }
        <li><a href="@routes.Annotations.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}