@(item: Annotation, annotations: Map[String,List[Annotation]])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item))) {

    @common.annotated(item, annotations) {
        TODO
    }
} {
    @common.visibility(item, routes.Annotations.visibility(item.id), ContentType.Annotation)
    @common.latestAction(item, routes.Annotations.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
    @userOpt.map { user =>
        @if(user.hasPermission(ContentType.Annotation, PermissionType.Delete)) {
            <li><a href="@routes.Annotations.delete(item.id)">@Messages("actions.deleteAnnotation")</a></li>
        }

    }
    </ul>
}