@(item: LinkMeta, annotations: Map[String,List[AnnotationMeta]], src: Option[String] = None)(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("link.itemLink"), breadcrumbs = common.breadcrumbs(List(item))) {

    @common.annotated(item, annotations) {
        @item.model.description

        <h4>@Messages("link.items")</h4>
        <ul>
        @item.targets.map { item =>
            <li><a href="@routes.Application.getType(item.isA, item.id)">@item.toStringLang</a></li>
        }
        </ul>

        @item.user.map { u =>
            <h4>@Messages("link.creator")</h4>
            <a href="@routes.Application.getType(u.isA, u.id)">@u</a>
        }

    }
} {
    @common.visibility(item, routes.Links.visibility(item.id), ContentType.Link)
    @common.latestAction(item, routes.Links.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
    @userOpt.map { user =>
        @if(user.hasPermission(ContentType.Link, PermissionType.Delete)) {
            <li><a href="@routes.Links.delete(item.id, src)">@Messages("actions.deleteLink")</a></li>
        }
    }
    </ul>
}