.descriptions {
  .make-row();
  .description-viewport {
    .make-sm-column(9);
    .make-sm-column-pull(3);
  }
  .description-sidebar {
    .make-sm-column(3);
    .make-sm-column-push(9);
  }
}

.date-period > td {
  padding-right: @small-padding;
}

.item-header {
  .other-name-list {
    font-size: 1.3em;
    &:extend(.list-unstyled, .list-inline, .text-mute);
  }

  h1, h2 {
    margin-top: 0;
  }
  margin-bottom: @large-margin;
}

.description-holder {

  .description-annotations {
    position: relative;
  }
  .description-section, .description-annotations {

    padding-bottom: @medium-padding;

    &.empty {
      display: none;
    }
    .item-text-field {
      position: relative;
      .make-row();
      margin-bottom: 5px;

      .item-text-field-header {
        .make-md-column(3);

        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
      }

      .item-text-field-value {
        .make-md-column(9);

        @media (min-width: @screen-xs-min)  and (max-width: @screen-sm-max) {
          text-indent: 1em;
        }

        ul {
          list-style: none;
          padding-left: 0;
        }
      }
    }
  }
}

.item-details {
  //width:100%;
  //display:table;
  border-bottom: 1px solid @table-border-color;

  &:last-child {
    border-bottom: 0;
  }

  address {
    .url, .email {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.archival-context {

  a {
    font-size: 1.1em;
  }
  .ancestor {
    padding-left: @medium-padding;
    margin-bottom: @medium-margin;
  }

  margin-bottom: @large-margin;
}

.resolved-access-point, .unresolved-access-point {
  .access-point-description {
    &:extend(.text-muted, .small);
  }
}