.panel-color(@header-bg: @ehri-purple, @header-color: white, @headerSelector : panel-heading, @footerSelector : panel-footer, @opacity-ft : 1) {
	.@{headerSelector} {
		background-color:@header-bg;
		color:@header-color;
	}
	.@{footerSelector} {
		opacity:@opacity-ft;
		color:@header-color;
	}
} 
.panel-rework(@headerSelector : panel-heading, @bodySelector : panel-body, @footerSelector : panel-footer) {
	.panel;
	
	border:0;
	border-radius:0;
	.box-shadow(none);

	.@{headerSelector} {
		.panel-heading;
		border-radius:0;
		border:0;
		box-shadow:0;
		font-family: 'Lato', sans-serif;
	}
	.@{bodySelector} {
		border-radius:0;
		border:0;
	}
	.@{footerSelector} {
		border:0;
	}
}
.panel-rework(@headerSelector : panel-heading, @bodySelector : panel-body, @footerSelector : panel-footer) when (@headerSelector = panel-heading) {

	.@{headerSelector} {
		h3 {
			.panel-title;
		}
		.expander {
			display:none;
		}
		&:hover {

			.expander {
				display:inline-block;
			}
		}
	}
}
.panel-rework(@headerSelector : panel-heading, @bodySelector : panel-body, @footerSelector : panel-footer) when not(@headerSelector = panel-heading) {

	.@{headerSelector} {
		.panel-title;
	}
}