
.facet-list li a {
  color: #666;
  font-size: 0.9em;
}

.facet-list li.selected-filter {
  font-weight: bolder;
  .highlight-glow();
}

.selected-facet {
  margin-right: @small-margin;
  padding: @small-padding;

  & {
    .make-btn-group(@btn-size: xs);
  }

  > a.remove-filter {
    color:white!important;
    .remove {
      .glyphicon;
      .glyphicon-remove;
      font-size:11px;
    }
    &:hover {
      text-decoration:none;
      color:@pale-gray;
    }
  }
}

/** child items */
.child-count a {
  margin-top: @small-margin;
  color: @almost-black;
  font-weight: lighter;
  .highlight-glow();
}

.search-sort {
  margin-top: @medium-margin;
}

.search-summary {
  margin-top: @medium-margin;
  font-size: 1.3em;
  line-height: 1.1;
  font-weight: 500;
}

/* Highlight the current search sort */
.current-search-sort {
  text-decoration: underline;
  text-shadow: rgba(82, 168, 236, 0.8) 0 0 10px;
}

em.highlight {
  text-shadow: rgba(255, 255, 180, 0.8) 0 0 10px;
}