@(item: HistoricalAgent, f: play.api.data.Form[HistoricalAgentF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@layout.rightSidebar(Messages("actions.updateHistoricalAgent"), breadcrumbs = common.breadcrumbs(List(item)), scripts = formHelpers.dateJs()) {
    @helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @historicalAgent.renderForm(Some(item), f)

        <fieldset id="admin-area">
        <legend>@Messages("Administration")</legend>
        @formHelpers.enumChoiceInput(f("publicationStatus"), defines.PublicationStatus, "Publication Status")
        </fieldset>

        @common.submitButtonWithLogMessageInput(Messages("submitButton.updateHistoricalAgent"), cancel = Some(globalConfig.routeRegistry.urlFor(item)))
    }
} {
    @formNav()
}
