@(item: HistoricalAgent, scripts: Html = Html(""), styles: Html = Html(""))(html: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(item.toStringLang, breadcrumbs = common.breadcrumbs(item.set.toList ++ List(item)), scripts = scripts, styles = styles) {

    @html

} {
    @common.latestAction(item, controllers.authorities.routes.HistoricalAgents.history(item.id))
    @common.visibility(item, controllers.authorities.routes.HistoricalAgents.visibility(item.id), ContentTypes.HistoricalAgent)

    @common.sidebarActions { user =>
        @common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Update)) {
            <a href="@controllers.authorities.routes.HistoricalAgents.update(item.id)">@Messages("actions.updateItem")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Delete)) {
            <a href="@controllers.authorities.routes.HistoricalAgents.delete(item.id)">@Messages("actions.deleteItem")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Grant)) {
            <a href="@controllers.authorities.routes.HistoricalAgents.managePermissions(item.id)">@Messages("actions.managePermissions")</a>
        }
        @common.sidebarAction() {
            <a href="@controllers.authorities.routes.HistoricalAgents.history(item.id)">@Messages("item.history")</a>
        }
        @common.sidebarAction() {
            <a href="@controllers.core.routes.ApiController.getItem(ContentTypes.HistoricalAgent.toString, item.id)">@Messages("actions.exportJson")</a>
        }
    }
}