@(item: HistoricalAgent)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@historicalAgent.itemPage(item) {

    <h3>@Messages("actions.linkTo")</h3>

    <ul>
        <li><a href="@controllers.authorities.routes.HistoricalAgents.linkAnnotateSelect(item.id, defines.EntityType.HistoricalAgent)">@Messages("actions.linkToHistoricalAgent")</a></li>
        <li><a href="@controllers.authorities.routes.HistoricalAgents.linkAnnotateSelect(item.id, defines.EntityType.Concept)">@Messages("actions.linkToConcept")</a></li>
        <li><a href="@controllers.authorities.routes.HistoricalAgents.linkAnnotateSelect(item.id, defines.EntityType.DocumentaryUnit)">@Messages("actions.linkToDocumentaryUnit")</a></li>
    </ul>

}