@(template: (GuidePage, Guide), page: utils.search.ItemPage[(Any,utils.search.SearchHit)], params: utils.search.SearchParams, pageParam: String = "page")(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@getTitle(d: Concept, href:Boolean = false) = {
    <a @d.broaderTerms.map { bt =>  data-toggle="tooltip" data-placement="top" title="@bt.toStringLang" } @if(href) { href="@controllers.portal.routes.Guides.layoutRetrieval(template._2.path, template._1.path)?parent=@d.id" }>
}

@page.items.map { case(item, hit) =>
    
    @defining(Some(hit.id)) { implicit descriptionId =>
            @item match {
                case d: HistoricalAgent => {
        <li class="facet" data-target="@d.id" >
            <input type="checkbox" name="kw[]" value="@d.id" /> 
                    <a class="item-title">@d.toStringLang</a>
                }
                case d: Concept => {
        <li class="facet" data-target="@d.id" >
            <input type="checkbox" name="kw[]" value="@d.id" /> 
                    
                    <span class="item-title">
                        @template._1.layout match { 
                            case GuidePage.Layout.Organisation => {
                                @if(d.childCount.getOrElse(0) > 0) {
                                     @getTitle(d, true)
                                } else {
                                     @getTitle(d)
                                }
                            } 
                            case _ => {
                                 @getTitle(d)
                            }
                        }
                            @d.toStringLang
                        </a>
                         <a class="popover-accesspoints" data-target="@d.id"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                    @if(d.childCount.getOrElse(0) > 0) {
                        <ul></ul>
                    }
                }
                case _ => {
                    ""
                }
            }
    }
    </li>

}
@if(page.hasMultiplePages) {
    @if(page.numPages >= page.page.toInt + 1) {
        <li class="facet-scroll" data-target="@utils.joinPath(request.path, request.queryString.updated(pageParam, Seq((page.page.toInt + 1).toString)))">Loading</li>
    }
}