@(resultsNumber: Int, results: List[DocumentaryUnit], accessPoints: List[AnyModel], template: (GuidePage, (Guide, List[GuidePage])))(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import models.{GuidePage, Guide}

@js = {
    <script type="text/javascript">
    $(document).ready(function() {
        $(".facet-form h1 .search").on("click", function(e) {
            e.preventDefault();
            cross = $(this).children(".glyphicon");
            if(cross.hasClass("glyphicon-search")) {
                $(this).parents(".facet-form").children(".facet-search").show();
                cross.removeClass("glyphicon-search").addClass("glyphicon-remove");
            } else {
                $(this).parents(".facet-form").children(".facet-search").hide();
                cross.removeClass("glyphicon-remove").addClass("glyphicon-search");
                $.get(
                    form.attr("data-target"),
                    {},
                    function(data) {
                        form.children("ul.facet-list").html(data).show();
                        if(cross.hasClass("glyphicon-plus-sign")) {
                            cross.removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
                        }
                    },
                    "html"
                );
            }
        });
        $(".facet-form .facet-search button[type='submit']").on("click", function(e) {
            e.preventDefault();
            dat = $(this);
            form = dat.parents(".facet-form");
            Q = form.find("input.q").val();
            $.get(
                form.attr("data-target") + "?q=" + Q,
                {},
                function(data) {
                    form.children("ul.facet-list").html(data).show();
                },
                "html"
            );
        });
                   
        $(".facet-form h1 .more").on("click", function(e) {
            e.preventDefault();
            dat = $(this);
            cross = dat.children(".glyphicon");
            form = dat.parents(".facet-form");
            if(form.find("li.facet").length == 0) {
                $.get(
                    form.attr("data-target"),
                    {},
                    function(data) {
                        form.children("ul.facet-list").html(data).show();
                        if(cross.hasClass("glyphicon-plus-sign")) {
                            cross.removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
                        }
                    },
                    "html"
                );
            } else {
                form.children("ul.facet-list").toggle();
                if(cross.hasClass("glyphicon-plus-sign")) {
                    cross.removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
                } else {
                    cross.addClass("glyphicon-plus-sign").removeClass("glyphicon-minus-sign");
                }
            }
        });
        $(".facet-form").on("click", " ul.facet-list a[href]", function(e) {
            e.preventDefault();
            form = $(this);
            list = form.parent().parent("li.facet").children("ul");
            if(list.children("li").length > 0) {
                list.toggle();
            } else {
                $.get(
                    form.attr("href"),
                    {},
                    function(data) {
                        list.html(data);
                    },
                    "html"
                );
            }
        });
        $(".facet-form ul.facet-list").each(function() {
            $(this).data("ajaxready", true).scroll(function() {
                dat = $(this);
                milestone = dat.children(".facet-scroll");

                if($(this).data("ajaxready") == false || milestone.length == 0) {
                    return;
                }

                offset = milestone.position();

                if(($(this).height() + 5) > offset.top) {
                    $(this).data("ajaxready", false);
                    milestone.show();
                    $.get(
                        milestone.attr("data-target"),
                        {},
                        function(data) {
                            milestone.remove();
                            dat.append(data);
                            if(dat.find(".facet-scroll") && dat.find(".facet-scroll").length == 1) {
                                dat.data("ajaxready", true);
                            }
                        },
                        "html"
                    );
                }
            });
        });
    });
    </script>
}
@facets = {
    @for(page <- template._2._2) {
        @if(page.position == GuidePage.MenuPosition.Top && page.layout != GuidePage.Layout.Markdown) {
            <ul class="list-unstyled">
                <li>
                    <div class="facet-form" data-target="@controllers.portal.routes.Guides.layoutRetrieval(template._2._1.path, page.path)">
                        <h1 class="nav-ehri nav-ehri-black">
                            @page.name
                            <a class="btn-sm btn-default pull-right search"><span class="glyphicon glyphicon-search"></span></a>
                            <a class="btn-sm btn-default pull-right more" href="#@page.path"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </h1>
                        <ul class="nav nav-pills nav-ehri nav-grey-black nav-justified facet-search">
                            <li><input class="nav-ehri nav-ehri-grey nav-ehri-input q" placeholder="Quick Search" /></li>
                            <li><button type="submit" class="nav-ehri nav-ehri-grey nav-ehri-input"><span class="glyphicon glyphicon-search"></span><span class="text-hide">Search</span></button></li>
                        </ul>
                        <ul class="list-unstyled nav-ehri nav-ehri-light-grey facet-list" id="@page.path">

                        </ul>
                    </div>
                </li>
            </ul>
        }
    }
}

@wrapParent(doc: DocumentaryUnit, parent: Option[DocumentaryUnit]) = {
    @parent.map { p =>
        @wrapParent(doc, p.parent)
        <li>
            <a class="search-item-parent-name" href="@controllers.portal.routes.Portal.browseDocument(p.id)">@p.toStringLang</a>
        </li>
    }
}

@itemResult(item: DocumentaryUnit) = {
    <div class="search-item" id="@item.id">
            <h3 class="search-item-heading type-highlight @item.isA.toString">
                <a href="@controllers.portal.routes.Portal.browseDocument(item.id)">@item.toStringLang</a>
            </h3>
            <div class="search-item-body">
                <ol class="collapsible">@wrapParent(item, item.parent)</ol>
                @p.documentaryUnit.listItemBody(item, false)
            </div>
    </div>
}


@p.layout.guideLayoutFacet(template, facets= facets, scripts = js) {
    <article>
        <header>
            @resultsNumber Results
            <p class="selected-facets">
            @accessPoints.map { access =>
                
                <span class="selected-facet">
                    <span class="facet">@access.toStringLang</span>
                    <a class="remove-filter" href="#">
                        <span class="remove"></span>
                    </a>
                </span>
            }
            </p>
        </header>
        <section>
            <section class="content-results">
                @if(results.size > 0) {
                    @results.map { doc =>
                        @itemResult(doc)
                    }
                }
            </section>
        </section>
        <footer>
        </footer>
    </article>

}
