@(items: utils.search.ItemPage[DocumentaryUnit], template: (GuidePage, (Guide, List[GuidePage])))(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import models.{GuidePage, Guide}

@js = {
    <script type="text/javascript" src="@controllers.portal.routes.Assets.versioned("js/portal-guide-facet.js")"></script>
}
@facets = {
    
    @views.html.common.search.selectedFacets(items)

    @for(page <- template._2._2) {
        @if(page.position == GuidePage.MenuPosition.Top && page.layout != GuidePage.Layout.Markdown) {
            <ul class="list-unstyled">
                <li>
                    <div class="facet-form @page.path" data-name="@page.path" data-target="@controllers.portal.routes.Guides.layoutRetrieval(template._2._1.path, page.path)">
                        <h1 class="nav-ehri nav-ehri-black">
                            @page.name
                            <a class="btn-sm btn-default pull-right search"><span class="glyphicon glyphicon-search"></span></a>
                            <a class="btn-sm btn-default pull-right more" href="#@page.path"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </h1>
                        <ul class="nav nav-pills nav-ehri nav-grey-black nav-justified facet-search">
                            <li><input class="nav-ehri nav-ehri-grey nav-ehri-input q" name="@page.path" placeholder="Quick Search" /></li>
                            <li><button type="submit" class="nav-ehri nav-ehri-grey nav-ehri-input"><span class="glyphicon glyphicon-search"></span><span class="text-hide">Search</span></button></li>
                        </ul>
                        <ul class="list-unstyled nav-ehri nav-ehri-light-grey facet-list" id="@page.path">

                        </ul>
                    </div>
                </li>
            </ul>
        }
    }
}

@wrapParent(doc: DocumentaryUnit, parent: Option[DocumentaryUnit]) = {
    @parent.map { p =>
        @wrapParent(doc, p.parent)
        <li>
            <a class="search-item-parent-name" href="@controllers.portal.routes.Guides.browseDocument(template._2._1.path, p.id)">@p.toStringLang</a>
        </li>
    }
}

@itemResult(item: DocumentaryUnit) = {
    <div class="search-item" id="@item.id">
            <h3 class="search-item-heading type-highlight @item.isA.toString">
                <a href="@controllers.portal.routes.Guides.browseDocument(template._2._1.path, item.id)">@item.toStringLang</a>
            </h3>
            <div class="search-item-body">
                <ol class="collapsible">

                    @item.holder.map { holder =>
                        <li>
                            @linkTo(holder, template)
                        </li>
                    }
                    @wrapParent(item, item.parent)
                </ol>
                @p.documentaryUnit.listItemBody(item, false)
            </div>
    </div>
}


@p.layout.guideLayoutFacet(template, facets = facets, scripts = js) {
    <article>
        <header>
            <h3>@Messages("pagination.displayingItems", items.offset + 1, items.offset + items.items.size, items.total)</h3>
        </header>
        <section>
            <section class="content-results">
                    @items.items.map { doc =>
                        @itemResult(doc)
                    }
            </section>
        </section>
        <footer>
                @common.pagination(items)
        </footer>
    </article>

}
