@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, flash: Flash, lang: Lang)

@layout.adminLayoutSimple(title, scripts, styles) {

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h2>@title</h2>

                @common.errorFlash(flash)

                @content
            </div>
        </div>
    </div>
}