@(items: List[AnyModel] = Nil)(implicit lang: Lang, globalConfig: global.GlobalConfig)

@if(globalConfig.isStageMode) {
    <div class="testing-banner alert-info">
        <H1>STAGING <span class="info"><strong>Warning</strong>: Data is for staging purposes only.</span></H1>
    </div>
} else {
    @if(globalConfig.isTestMode) {
        <div class="testing-banner alert-danger">
            <H1>TESTING <span class="info"><strong>Warning</strong>: Data is for test purposes only.</span></H1>
        </div>
    }
}

@layout.infobar {
    @defining(if (!items.isEmpty) 200 / items.length else 300) { truncateLength =>
        @if(!items.isEmpty) {
            @items.init.map { i =>
                <li>
                    <a title="@i.toStringLang" href="@views.admin.Helpers.linkTo(i)">
                        @i.toStringAbbr
                    </a>
                </li>
            }

            <li title="@items.last.toStringLang" class="active">
                <a href="@views.admin.Helpers.linkTo(items.last)">
                    <em>@items.last.toStringAbbr</em>
                </a>
            </li>
        }
    }
} {

}

