.annotation-set a {
	color: @almost-black;
}
a.annotate-field.inactive, .annotable a.annotate-field.inactive {
	opacity: 0;
	color:black;
	border-size:0px;
}
.annotable:hover {
	background-color: @pale-gray!important;
}
a.annotate-field {
	&:extend(.btn);
	text-decoration: none;
	background-color: @pale-gray;
	opacity:1;
	color:black;
	display:inline-block;
	border-width:0px;
	text-align:left;
	padding:3px 3px;
}
a.annotate-item:hover {
	text-decoration: none;
	background-color: @glow-color;
	opacity:1;
	color:black;
}
a.annotate-field:hover {
	padding:2px 2px;
	border-width:1px;
	background-color:white;
	&:after {
		content:attr(title);
		display:inline-block;
	}
}
a.time-permalink {
	text-decoration: none;
	color: @muted-gray;
}
select.custom-accessors {
	width: 200px;
}

.annotation-right {
	position:relative;
	
	.close {
		position:absolute;
		display:block;
		width:20px;
		height:20px;
		line-height:20px;
		text-align:center;
		top:0;
		right:10px;
	}
}


.item-text-field-annotation-container {
	.make-md-column-offset(3);
	.make-md-column(9);

	.item-text-field-annotations {
		.make-row();
		color: @muted-gray;

		.annotation {
			blockquote {
				clear: both;
			}

			.context {
				float: right;
			}

			border-bottom: 1px solid @pale-gray;
			margin-bottom: @medium-margin;
			padding: @small-padding;
			font-size: 0.9em;		
		}

		.annotate-item-header {
			.make-md-column(3); 
			opacity:0;		
			margin-top:0;
			margin-bottom:0;
			overflow:hidden;
			height:1px;
		}

		.annotation-list {
			margin: 0;

			.promoted {
				background-color: @promoted-color;
				color: darken(@muted-gray, 20%);
			}

			/*
			.personal {		 }

			.other {		}
			*/
		}
		.annotate-item-controls {
			float: none;

			display: block;
			position: absolute;
			right: 0;
			top: -30px;

			opacity: 0.8;

			line-height: 20px;

			a {
				float:right;
				display:block;
				height: 20px;
				background-color: #FFFFFF;
				margin-right:0;
				width: 20px;
				text-align: center;
				color:@ehri-purple;

				&:hover, &:visited, &:focus {
					text-decoration:none;
					cursor:pointer;
				}

			}
			a.show-other-annotations {
				color: @muted-gray;
				width:auto;
				font-width:12px;
			}

		}
	}
}


.annotation-form {
	background-color:@well-bg;
	font-size:12px;
	line-height:1.2;
	padding: @small-padding;

	label {
		font-weight: inherit;
	}

	.container {
		margin: 0;
		padding: @small-padding;
	}

	textarea {
		padding: @small-padding;
	}

	select {
		font-size: 0.9em;
		padding: @small-padding;
	}

	.select2-container .select2-choice div {
		font-size: inherit;
		padding: @small-padding;
		display: block;
		width: 18px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}

	input[type="radio"],input[type="checkbox"] {
		margin-top:-0px;
	}
	button[type="submit"] {
		margin:0 auto;
		.btn-xs;
		&:first-letter {
			text-transform: uppercase;
		}
	}

	.form-group {
		margin-top:2px;
		margin-bottom:2px;
		margin-right:15px;
	}

	text-area {
		max-width:100%;
	}
	.checkbox {
		margin:0 0;
	}
	.custom-visibility {
		margin:5px 0;
	}
	.checkbox-inline {
		input[type="checkbox"] {
			margin-left:-5px;
		}
	}
}

.annotation.item-text-field {
	> .item-text-field-header {
		font-size:@font-size-base!important; 
		line-height:@line-height-base!important;
	}
}
.description-annotations {
	.annotate-item {
		&:extend(.button);
		&:extend(.btn-default);
	}
}