
.annotation-set a {
  color: @almost-black;
}

.annotate-field-controls, .annotate-item-controls {
  opacity: 0.5;
  a {
    float: right;
    color: @muted-gray;
    font-size: 0.8em;
    margin-right: @medium-margin;
  }
}

a.annotate-field.inactive {
  opacity: 0;
}

a.annotate-field:hover, a.annotate-item:hover {
  text-decoration: none;
  background-color: @glow-color;
}


.annotation {
  blockquote {
    clear: both;
  }

  .context {
    float: right;
  }

  border-bottom: 1px solid @pale-gray;
  margin-bottom: @medium-margin;
  padding: @small-padding;
}

.annotation-item-form {
  dl {

  }
}

.annotation-list {

  margin: 0;

  .promoted {
    background-color: @promoted-color;
    color: darken(@muted-gray, 20%);
  }

  .personal {

  }

  .other {

  }
}

a.time-permalink {
  text-decoration: none;
  color: @muted-gray;
}

.item-text-field-annotations {
  color: @muted-gray;

  .annotation {
    font-size: 0.9em;
  }
}

select.custom-accessors {
  width: 200px;
}

.annotation-form {
  background-color: @glow-color;
  padding: @small-padding;
  font-size: 0.9em;
  label {
    font-weight: inherit;
  }

  .container {
    margin: 0;
    padding: @small-padding;
  }

  textarea {
    padding: @small-padding;
  }

  select {
    font-size: 0.9em;
    padding: @small-padding;
  }

  .select2-container .select2-choice div {
    font-size: inherit;
    padding: @small-padding;
    display: block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}