header#header {
  position: relative;
  color: white;
  font-weight: 700;

//  background-position: center center;
//  background-image: url("/v/img/itsarolsen_effects.jpg");
//  background-repeat: no-repeat;
//  background-size: 100% auto;

  @media screen and (max-width: @screen-sm-min) {
    background-size: auto;
  }

  #navbar-primary-container {
    padding-top: @medium-padding;
    padding-bottom: @medium-padding;
    //background: rgba(0, 0, 0, 0.5);
    background-color:  @pale-gray;
    font-family: serif;
    border: none;
    border-bottom: 1px solid darken(@pale-gray, 30%);

    .navbar-default > .navbar-nav > .active {
      background-color: transparent;
    }

    #navbar-primary {
      ul {
        li#navbar-logo {
          img {
            vertical-align: bottom;
          }
        }

        li.active {
          a {
            background-color: @pale-gray;
          }
        }

        li.country, li.repository, li.documentaryUnit, li.historicalAgent {
          padding-top: @small-padding;
          margin: @medium-margin @medium-margin;

          a {
            //background-color: rgba(255,255,255,0.5);
            color: #fff;
            font-size: 1.2em;
            padding: @small-padding @small-padding;
            border-bottom: @small-padding solid transparent;
          }
        }

        li.country {
          a {
            color: @country-color;
          }

          &.active {
            a {
              border-bottom-color: @country-color;
            }
          }
        }
        li.repository {
          a {
            color: @repo-color;
          }

          &.active {
            a {
              border-bottom-color: @repo-color;
            }
          }
        }
        li.documentaryUnit {
          a {
            color: @doc-color;
          }

          &.active {
            a {
              border-bottom-color: @doc-color;
            }
          }
        }
        li.historicalAgent {
          a {
            color: @agent-color;
          }

          &.active {
            a {
              border-bottom-color: @agent-color;
            }
          }
        }
      }
    }
  }

  .account-admin {
    font-size: 12px;
  }

  .right-inner-addon {
    position: relative;

    input {
      padding: 1px 25px 1px 3px;
    }

    .search-icon {
      position: absolute;
      right: 0px;
      padding: 3px 7px;
      pointer-events: none;
      color: @almost-black;
    }
  }
  .global-search {
//    background-color:white;
//    input {
//      border: 0px;
//      color: @almost-black;
//    }
//    .search-icon {
//      color: @almost-black;
//    }

//    &.inactive {
//      background-color: inherit;
//      .search-icon {
//        color: white;
//      }
//
//      input {
//        color: white;
//        background-color: inherit;
//        cursor: default;
//      }
//    }

  }

  li {
    padding: 0px;
  }
}

.user-img-icon {
  &:extend(.img-responsive);
  display: inline;
  vertical-align: top;
}

/*
 *    Nav Primary and nav-secondary shared features
 */
.nav-primary , .nav-secondary {
  nav {
    & > ul  {
      .list-inline;
      & > li {
        padding:0 2px;
      }
    }
    &[role="tool"]:after {
      content: " ";
      display: table;
    }
  }
  .clearfix();
}


/*
 *    -> Nav Secondary Features
 */
.account-admin, .toolbar {
  text-align:right;
  > li {
    text-align:left;
  }
}


/*
//Responsive
@media (max-width: @screen-sm-min) {
   header#header { 
    .nav-secondary {
      & > nav[role="navigation"] > ul  {
        .list-unstyled!important;
        & > li {
          display:block;
          padding:0;
        }
      }
    }
  }
}
*/
//Color change ~ type of document

//body.documentaryUnit header#header #navbar-primary-container {
//  background-color: @doc-color;
//}
//
//body.country header#header #navbar-primary-container {
//  background-color: @country-color;
//}
//
//body.repository header#header #navbar-primary-container {
//  background-color: @repo-color;
//}
//
//body.historicalAgent header#header #navbar-primary-container {
//  background-color: @agent-color;
//}
//
//body.user header#header #navbar-primary-container {
//  background-color: @user-color;
//}
//
