#search-helper {
  .well;
  .well-sm;

  display: none;
  font-size: 90%;
  border-radius: 0;
  padding-right: 20px;

  a.close {
    float: right;
  }

  h1 {
    font-size: 100%;
    margin: 0 0 @small-margin 0;
    padding: 0;
    color: #666666;
  }
  .example {
    color: #666666;
    font-size: 85%;
  }
}

.search-helper-toggle {
  .hidden-one-col;
  font-size: 90%;
  color: #666666;
  position: relative;

  &:hover {
    cursor: help;
    text-decoration: none;
  }
}