// Variables
@primary-highlight: #6C003B;

@pale-gray: #F5F5F5;
@muted-gray: #999999;
@medium-gray: #dddddd;
@dark-gray: #cccccc;
@almost-black: #333;
@glow-color: #FFF9C0;

@doc-color: @primary-highlight;
@repo-color: #034153;
@country-color: #864300;
@agent-color: #517C00;
@promoted-color: #F6F6FF;

@shadow-depth: 5px;
@shadow-blur: 5px;
@shadow-color: @dark-gray;
@shadow-opacity: 0.7;

@search-hit-highlight: #FFFFDD;

@gravitar-size: 48px;

@footer-height: 100px;

.downward-shadow (@height: @shadow-depth, @blur: @shadow-blur) {
  box-shadow: 0px @height @height @blur @shadow-color;
}


// Spacings
@search-item-spacing: 1.5em;
@menu-height: 50px;

// Margins
@small-margin: 5px;
@medium-margin: 10px;
@large-margin: 20px;

// Padding
@small-padding: 5px;
@medium-padding: 10px;
@large-padding: 20px;