@(item: AuthoritativeSet, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@views.html.common.itemDetails {
    @views.html.common.rightSidebar {
        @views.html.common.itemHeader(item.toStringLang)
        @item.data.description.map { desc =>
            @Markdown(desc)
        }
    } {
        @views.html.common.typeLabelWithWatchButton(item, watched.contains(item.id), introNotice())
        @views.html.common.childItemSidebar(item, EntityType.HistoricalAgent)
        @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
    }
}
