@(item: AuthoritativeSet)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@item.latestEvent.map { event =>
    <ul class="search-item-details">
        <li title="@event.time">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</li>
    </ul>
}

@item.data.description.map { desc =>
    @Markdown(desc)
}

@views.html.common.childCount(item) { count =>
    @views.html.helpers.link(controllers.portal.routes.AuthoritativeSets.search(item.id), attrs._class -> "child-items-inline-load collapsed") {
        <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
        @Messages("authoritativeSet.childCount", count)
    }
}

