@(item: AuthoritativeSet, result: services.search.SearchResult[(HistoricalAgent, services.search.SearchHit)], annotations: Seq[Annotation], links: Seq[Link], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@defining(Map(
    "title" -> item.toStringLang,
    "description" -> item.data.description.getOrElse(""),
    "url" -> controllers.portal.routes.AuthoritativeSets.browse(item.id).absoluteURL(conf.https)
)) { ogMeta =>
    @views.html.layout.portalLayout(item.toStringLang, EntityType.AuthoritativeSet.toString, ogMeta = ogMeta) {
        @views.html.common.mainContent {
            @itemDetails(item, annotations, links, watched)

            @childItemSearch(item, result, action, watched)
        }
    }
}
