logs
project/project
project/target
target
tmp
.history
.cache
.classpath
.project
.settings
.target
bin
dist
*.sublime-workspace

# Intellij stuff
*.iml
fonts
.fonts
.idea
.idea_modules

# stupid Mac stuff
.DS_Store
