@(item: HistoricalAgent, desc: HistoricalAgentDescriptionF)(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="item-details panel panel-default">
    <dl class="dl-horizontal">
        <dt>@Messages("portal.historicalAgent.identifier")</dt>
        <dd>@item.model.identifier</dd>
        @if(!desc.dates.isEmpty) {
            <dt>@Messages("portal.historicalAgent.dates")</dt>
            <dd>@desc.dates.map(_.years).mkString(", ")</dd>
        }
        <dt>@Messages("portal.historicalAgent.entityType")</dt>
        <dd>@Messages("portal.historicalAgent.entityType." + desc.entityType)</dd>
    </dl>
</div>