@(item: HistoricalAgent, annotations: Seq[Annotation], links: List[Link], watched: List[AnyModel])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(item.toStringLang, EntityType.HistoricalAgent.toString) {
    @layout.infobar {
    } {
        @userOpt.map { user =>
            @p.common.watchButtons(item, watched.exists(_.id == item.id))
        }
    }

    @views.html.layout.mainContent {
        @defining(EntityType.HistoricalAgent.toString) { implicit fieldPrefix =>
            @views.html.layout.descriptionContainer(item.model.descriptions) {
                @item.model.descriptions.map { desc =>
                    @renderDescription(item, desc, links, annotations)
                }
            } {
                @p.common.tablePanel(Messages("portal.item.details")) {
                    @item.model.descriptions.map { desc =>
                        @details(item, desc)
                    }
                }

                @p.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id))
            }

            @p.common.relatedItemsContainer(item) {
                @p.common.relatedItems(item, links, watched)
            }
        }
    }
}