@(item: HistoricalAgent, annotations: Seq[Annotation], links: List[Link], watched: Boolean = false)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(item.toStringLang) {
    @p.layout.breadcrumbs(item.isA.toString) {
        <li><a href="@controllers.portal.routes.Portal.browseHistoricalAgents">@Messages("portal.browse.historicalAgents")</a></li>
        @p.helpers.breadcrumbCurrent(item.toStringLang)
    }

    @infobar(item, watched)

    @defining(Isaar.FIELD_PREFIX) { implicit fieldPrefix =>
        @p.common.descriptionContainer(item.model.descriptions) {
            @item.model.descriptions.map { desc =>
                @renderDescription(item, desc, links, annotations)
            }
        }
    }
}