@(group: Group, item: Accessor, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("accessor.groups.add.item", item.toStringLang, group.toStringLang), group.isA, breadcrumbs = views.html.admin.group.breadcrumbs(Some(group))) {
	
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @views.html.formHelpers.submitButton(Messages("accessor.groups.add.submit"))
	}
} {

}
