@(group: Group, item: Accessor, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("accessor.groups.add.item", item.toStringLang, group.toStringLang)) {
	
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            	<button type="submit" class="btn btn-primary">@Messages("accessor.groups.add.submit")</button>
            </div>
        </div>

	}		
} {

}
