@(f: Form[models.GroupF], vf: Form[Seq[String]], usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("group.create")) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @form(None, f)
        @views.html.admin.group.memberForm(usersAndGroups)

        @formHelpers.submitButtonWithLogMessageInput(Messages("group.create.submit"))
	}
} {

}
