@(item: Option[Group], f: Form[GroupF])(implicit messages: Messages, md: MarkdownRenderer, appConfig: AppConfig)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining("group") { implicit prefix =>
    @formHelpers.lineInput(f(""), Entity.IDENTIFIER, attrs._autocomplete -> "off")
    @formHelpers.lineInput(f(""), GroupF.NAME)
    @formHelpers.textInput(f(""), GroupF.DESCRIPTION)
    @if(item.isDefined && item.exists(!_.isSystemGroup(appConfig.defaultPortalGroups))) {
        @formHelpers.checkbox(f(""), GroupF.ACTIVE)
    }
}
