@(item: Group)(implicit req: RequestHeader, messages: Messages, md: views.MarkdownRenderer)

@common.search.searchItemOutline(item) {
    <a href="@controllers.groups.routes.Groups.get(item.id)">@item.toStringLang</a>
} {
    <small>
        <ul class="list-unstyled text-muted inline inline-separator">
            @item.latestEvent.map { event =>
                <li title="@common.eventTitle(event)">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</li>
            }
        </ul>
    </small>
    @item.model.description
}
