@(item: Accessor, groups: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@removeLink(group: Group) = {
	@if(item.isA == EntityType.Group) {
		<a class="ajax-action" href="@controllers.groups.routes.Groups.checkRemoveFromGroup(item.id, group.id)" title="@Messages("accessor.groups.remove.item", item.toStringLang, group.toStringLang)">@Messages("accessor.groups.remove")</a>
	} else {
		<a class="ajax-action" href="@controllers.users.routes.UserProfiles.checkRemoveFromGroup(item.id, group.id)" title="@Messages("accessor.groups.remove.item", item.toStringLang, group.toStringLang)">@Messages("accessor.groups.remove")</a>
	}
}

@addLink(groupId: String, groupName: String) = {
	@if(item.isA == EntityType.Group) {
		<a class="ajax-action" href="@controllers.groups.routes.Groups.checkAddToGroup(item.id, groupId)" title="@Messages("accessor.groups.add.item", item.toStringLang, groupName)">@groupName</a>
	} else {
		<a class="ajax-action" href="@controllers.users.routes.UserProfiles.checkAddToGroup(item.id, groupId)" title="@Messages("accessor.groups.add.item", item.toStringLang, groupName)">@groupName</a>
	}
}

@views.html.admin.layout.rightSidebarWithType(Messages("accessor.groups.manage"), item.isA, breadcrumbs = views.html.admin.group.breadcrumbs(Some(item))) {
	
	@if(item.groups.nonEmpty) {
	  <strong>@Messages("accessor.currentGroups"): </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@controllers.groups.routes.Groups.get(group.id)">@group.toStringLang</a> (@removeLink(group))
	  }	  
	}
    
	<hr>

	@if(groups.isEmpty) {
	  <strong>@Messages("accessor.itemCannotBeAddedToAdditionalGroups", item.isA)</strong>
	} else {
	  <strong>@Messages("accessor.addNewGroup"): </strong>&nbsp;
	  <ul>
	  @groups.map { case (id, name) =>
	  	<li>
	    	@addLink(id, name)
	  	</li>
	  }	  
	  </ul>
	}	
} {

}
