@(item: Group, current: Set[String], usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(Messages("group.members.manage"), EntityType.Group) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @if(item.isSystemGroup(conf.defaultPortalGroups)) {
            <p class="error-notice">
                @Messages("group.members.manage.system")
            </p>
        } else {
            @views.html.admin.group.memberForm(usersAndGroups, current)

            @formHelpers.submitButtonWithLogMessageInput(Messages("group.members.submit"))
        }
	}
} {

}
