@(usersAndGroups: UsersAndGroups)(implicit messages: Messages, md: MarkdownRenderer)

@import services.data.Constants.MEMBER

<div class="form-group">
    <label class="control-label" for="id_group_members">@Messages("group.members")</label>
    <div class="control-elements">
        <select class="form-control select2" name="@{MEMBER}[]" multiple id="id_group_members">
            <optgroup label="@Messages("contentTypes.UserProfile")">
            @usersAndGroups.users.map { case (id,name) =>
            <option value="@id">@name (@id)</option>
            }
            </optgroup>
            <optgroup label="@Messages("contentTypes.Group")">
            @usersAndGroups.groups.map { case (id,name) =>
            <option value="@id">@name</option>
            }
            </optgroup>
        </select>
    </div>
</div>
