@(group: Group, item: Accessor, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("accessor.groups.remove.item", item.toStringLang, group.toStringLang), breadcrumbs = views.html.admin.group.breadcrumbs(Some(item))) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
		@views.html.formHelpers.submitButton(Messages("accessor.groups.remove.submit"))
	}
} {

}
