@(result: services.search.SearchResult[(Group, services.search.SearchHit)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminSearchLayout(Messages("group.search"), result, action) {
    @views.html.admin.search.searchItemList(result)
} {
    @common.typeLabel(EntityType.Group) {
    }
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Create)) {
            <a href="@controllers.groups.routes.Groups.create()">
                <i class="fa fa-fw fa-plus-square-o"></i>
                @Messages("group.create")
            </a>
        }
    }
    @common.search.facetList(result.facetClasses, action)
}
