@(result: services.search.SearchResult[(Group, services.search.SearchHit)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.adminSearchLayout(Messages("group.search"), result, action) {
    @views.html.admin.search.searchItemList(result)
} {
    @common.typeLabel(defines.EntityType.Group) {
    }
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Create)) {
            <a href="@controllers.groups.routes.Groups.create">@Messages("group.create")</a>
        }
    }
    @common.search.facetList(result.facetClasses, action)
}