@(item: Group, page: utils.Page[models.base.Accessor], params: utils.PageParams, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@removeLink(acc: models.base.Accessor) = {
    @if(acc.isA == EntityType.Group) {
        <a class="ajax-action" href="@controllers.groups.routes.Groups.checkRemoveFromGroup(acc.id, item.id)" title="@Messages("accessor.groups.remove.item", acc.toStringLang, item.toStringLang)">
            @Messages("accessor.groups.remove")
        </a>
    } else {
        <a class="ajax-action" href="@controllers.users.routes.UserProfiles.checkRemoveFromGroup(acc.id, item.id)" title="@Messages("accessor.groups.remove.item", acc.toStringLang, item.toStringLang)">
            @Messages("accessor.groups.remove")
        </a>
    }
}

@views.html.admin.layout.rightSidebarWithType(item.toStringLang, item.isA,  breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @defining("group") { implicit prefix =>
        @views.html.admin.common.textValue(models.GroupF.DESCRIPTION, item.data.description)
    }

    @if(item.groups.nonEmpty) {
        <hr />
        <strong>@Messages("group.parentGroups"):</strong>&nbsp;
        @item.groups.map { group =>
            <a href="@controllers.groups.routes.Groups.get(group.id)">@group.toStringLang</a>
        }
    }

    @views.html.admin.common.filterableList("group.membersPageHeader", page, params) {
        <ul>
            @page.items.map { member =>
                <h4><a href="@views.admin.Helpers.linkTo(member)">@member.toStringLang</a></h4>
                @removeLink(member)
                <hr />
            }
        </ul>
    }
} {
    @views.html.admin.common.latestAction(item, controllers.groups.routes.Groups.history(item.id))

    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Create)) {
            <a href="@controllers.groups.routes.Groups.create">@Messages("group.create")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Update)) {
            <a href="@controllers.groups.routes.Groups.update(item.id)">@Messages("group.edit")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.groups.routes.Groups.managePermissions(item.id)">@Messages("permissions.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.groups.routes.Groups.permissions(item.id)">@Messages("permissions.global.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.groups.routes.Groups.grantList(item.id)">@Messages("permissions.itemLevel.show")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.groups.routes.Groups.membership(item.id)">@Messages("accessor.groups.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Delete)) {
            <a href="@controllers.groups.routes.Groups.delete(item.id)">@Messages("group.delete")</a>
        }
    }
}