@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

    @extrascripts = {
        @helper.javascriptRouter("jsRoutes")(
            controllers.admin.routes.javascript.SearchFilter.filter,
            controllers.admin.routes.javascript.Admin.get,
            controllers.admin.routes.javascript.Admin.getType,
            controllers.units.routes.javascript.DocumentaryUnits.linkMultiAnnotatePost,
            controllers.units.routes.javascript.DocumentaryUnits.get,
            controllers.units.routes.javascript.DocumentaryUnits.createLink,
            controllers.units.routes.javascript.DocumentaryUnits.createAccessPoint,
            controllers.units.routes.javascript.DocumentaryUnits.getLink,
            controllers.units.routes.javascript.DocumentaryUnits.getAccessPointsJson,
            controllers.units.routes.javascript.DocumentaryUnits.deleteAccessPoint,
            controllers.units.routes.javascript.DocumentaryUnits.deleteLink,
            controllers.units.routes.javascript.DocumentaryUnits.deleteLinkAndAccessPoint
        )
        <script src="@controllers.core.routes.Assets.versioned("js/lib/handlebar.js")"></script>
        <script src="@controllers.core.routes.Assets.versioned("js/lib/typeahead.js")"></script>
        <script src="@controllers.core.routes.Assets.versioned("js/bootstrap.confirmation.js")"></script>
        <script src="@controllers.core.routes.Assets.versioned("js/accessPoints.js")"></script>
        <style type="text/css">
            .modal-dialog { width: 80%;}
            .model { display:none; }
            .new-access-point { display: none; }
            .pages { display: none; }
            .submit-group { display : none; }
        </style>
    }

@import AccessPointF._

@filterDropdown(t: String, option: String = "") = {
    <li data-value="@t" class="active type" @option><a>@Messages("contentTypes." + t)</a></li>
}
@documentaryUnit.itemPage(item, scripts = extrascripts) {
    <h4>&quot;@desc.name&quot;</h4>
    <ul class="list-unstyled">
    @AccessPointType.values.toList.map { accessPointType =>
        <li class="accessPointList @accessPointType">
            <h3>@Messages("documentaryUnit." + Description.ACCESS_POINTS + "." + accessPointType)</h3>
            <ul class="item-annotation-links list-unstyled" data-id="@item.id" data-did="@desc.id">
                <li class="access-saved model" id="linkId">
                    <a href="#" class="access-saved-name"></a> 
                    <a class="access-saved-delete" title="@Messages("accessPoint.delete")"><span class="glyphicon glyphicon-remove"></span></a>
                    <small class="access-saved-description text-muted"></small>
                </li>
                <li class="add-access-toggle-container">
                    <a href="#" class="add-access-toggle"><small><i class="glyphicon glyphicon-plus-sign"></i>@Messages("accessPoint.create")</small></a>

                    <div class="form-horizontal new-access-point" data-type="@accessPointType.toString" style="">
                        <h4>@Messages("accessPoints.newAccessPoint")</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @Messages("accessPoint.name")
                            </label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control quicksearch" name="@accessPointType.toString" type="text" placeholder="@Messages("accessPoint.name")" autofocus="true" />
                                     <div class="input-group-btn">
                                        <a class="btn btn-default">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </a>
                                        <button class="btn btn-success add-access-text" title="Add a text access point"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                        <button class="btn btn-info pages change-page"><span class="glyphicon glyphicon-minus"></span></button>
                                        <button class="btn btn-info pages"><span class="page"></span>/<span class="max"></span></button>
                                        <button class="btn btn-info pages change-page"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Filters <span class="caret"></span></button>
                                        <ul class="dropdown-menu filters pull-right">
                                            <li class="dropdown-header">@Messages("contentTypes")</li>
                                            @accessPointType match {
                                                case AccessPointType.CreatorAccess | AccessPointType.PersonAccess => {
                                                    @filterDropdown("historicalAgent", "data-disabled='true'")
                                                }
                                                case AccessPointType.PlaceAccess => {
                                                    @filterDropdown("cvocConcept")
                                                    @filterDropdown("country")
                                                }
                                                case AccessPointType.SubjectAccess => {
                                                    @filterDropdown("cvocConcept", "data-disabled")
                                                }
                                                case _ => { 
                                                    @filterDropdown("cvocConcept")
                                                    @filterDropdown("historicalAgent")
                                                    @filterDropdown("documentaryUnit")
                                                }
                                            }
                                            <li class="divider"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="append-in">
                            <div class="form-group model element" style="display:none;">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <a class="btn btn-success">
                                                <i class="glyphicon glyphicon-link"></i>
                                            </a>
                                            <button class="btn btn-success element-name" name="@accessPointType.toString" data-did="" value="">
                                            </button>
                                        </div>
                                        <input type="text" class="form-control element-description" placeholder="@Messages("accessPoint.description")" />
                                        <div class="input-group-btn">
                                            <a title="@Messages("accessPoint.delete")" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group submit-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-small btn-primary element-save">
                                    @Messages("save")</button>
                                <button class="btn btn-small btn-danger">@Messages("cancel")</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <hr />
        </li>
    }
    </ul>
}
