@(item: UserProfile, checkForm: Form[String], action: Call, cancel: Call)(
implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@layout.rightSidebar(Messages(item.isA + ".delete.item", item.toStringLang), breadcrumbs = common.breadcrumbs(List(item))) {
    <p class="alert alert-danger">
        @Messages(EntityType.UserProfile + ".delete.confirm")
    </p>
    @helper.form(action = action, 'class -> "form-horizontal") {
        @formHelpers.csrfToken()

        @defining(EntityType.UserProfile.toString) { implicit fieldPrefix =>
            @formHelpers.lineInput(checkForm(""), "delete.check")
        }

        @formHelpers.submitButtonWithLogMessageInput(Messages(item.isA + ".delete.submit"), cancel = Some(cancel))
    }
} {

}

