@(item: WithDescriptions[Description], desc: models.base.Description, links: Seq[Link])(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@if(!desc.accessPoints.isEmpty) {
    <h3>@Messages(prefix + ".accessPoints")</h3>
    @AccessPointF.AccessPointType.values.toList.map { apt =>
        @defining(desc.accessPoints.filter(_.accessPointType == apt)) { linksOfType =>
            <h4>@Messages("accessPoint.type." + apt.toString)</h4>
            @if(!linksOfType.isEmpty) {
                <ul class="access-point-links">
                    @linksOfType.map { ap =>
                        @ap.target(item, links).map { case (link, other) =>
                            <li class="access-point-link resolved-access-point">
                                @itemLink(link, other)
                            </li>
                        }.getOrElse {
                            <li class="access-point">
                                @ap.name
                                @ap.description.map { desc =>
                                    <br/>
                                    <small class="text-muted">@desc</small>
                                }
                            </li>
                        }
                    }
                </ul>
            }
        }
    }
}
