@(item: models.base.Model, links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages)

@defining(links.filter(_.bodies.isEmpty)) { annotationLinks =>
    @if(annotationLinks.nonEmpty) {
        <h3>@Messages("link.linkTo")</h3>
        <ul class="annotation-links">
            @for(link <- annotationLinks ; other <- link.opposingTarget(item)) {
                <li class="annotation-link">
                    @itemLink(link, other, Some(item))
                </li>
            }
        </ul>
    }
}
