@(item: Model, src: Model, form: play.api.data.Form[LinkF], action: Call, copy: Boolean = false)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(Messages("link.create.item", item.toStringLang, src.toStringLang), item.isA, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

	@helper.form(action = action) {
        @if(copy) {
            <div class="alert alert-warning">@Messages("link.copy.create")</div>
        }
        @views.html.admin.link.linkForm(form)

        @formHelpers.submitButtonWithLogMessageInput(Messages("link.linkTo.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {

}
