@(item: models.base.DescribedModel, links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@defining(item.externalLinks(links)) { externalLinks =>
    @if(externalLinks.nonEmpty) {
        <h3>@Messages("accessPoint.externalReferences")</h3>
        <ul class="external-links">
            @for(link <- externalLinks ; other <- link.opposingTarget(item)) {
                <li class="external-item-link">
                    @views.html.admin.link.itemLink(link, other, Some(item))
                </li>
            }
        </ul>
    }
}
