@(item: DescribedMeta[Description, Described[Description]], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@defining(item.externalLinks(links)) { externalLinks =>
    @if(externalLinks.nonEmpty) {
        <div class="external-links">
            <hr />
            <h3>@Messages("accessPoint.externalReferences")</h3>
            <ul>
                @for(link <- externalLinks ; other <- link.opposingTarget(item)) {
                    <li class="external-item-link">
                        @itemLink(link, other)
                    </li>
                }
            </ul>
        </div>
    }
}
