@(link: Link, item: models.base.Model, src: Option[models.base.Model], text: Option[String] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@views.html.admin.helpers.linkTo(item, content = Html(text.getOrElse(item.toStringLang)))
<small>
    <span class="badge badge-dark">@Messages("link." + link.data.linkType.toString)</span>
</small>
<a class="inline-action" title="@Messages("link.update")" href="@controllers.links.routes.Links.getAndRedirect(link.id, src.map(_.id))">
    <i class="fa fa-link"></i>
</a>
<a class="ajax-action inline-action" title="@Messages("link.delete")?"
        href="@controllers.links.routes.Links.delete(link.id, src.map(_.id))">
    <i class="fa fa-remove"></i>
</a>

@if(link.data.dates.nonEmpty) {
    <small>@link.data.dateRange</small>
}
@link.data.description.map { desc =>
    <p class="link-description">@desc</p>
}
