@(form: play.api.data.Form[LinkF])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@import LinkF._

@formHelpers.csrfToken()
<fieldset id="annotate-area">
    <legend>@Messages("link.create")</legend>
    @defining("link") { implicit fieldPrefix =>
        @defining(form("")) { desc =>
            @formHelpers.textInput(desc, DESCRIPTION)
            @formHelpers.enumChoiceInput(desc, LINK_TYPE, LinkType, attrs._blank -> true)
            @formHelpers.enumChoiceInput(desc, LINK_FIELD, LinkField, attrs._blank -> true)
            @formHelpers.inlineDateSet(desc, DATES)
        }
    }
</fieldset>
