@(item: Model, result: services.search.SearchResult[(Model, services.search.SearchHit)], entityType: EntityType.Value, action: Call, linkAction: (String, Boolean) => Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminSearchLayout(Messages("link.create"), result, action, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <div class="search-section link-source-list" id="@(item.id)-child-item-search">
        <h4>@Messages("contentTypes." + entityType.toString)</h4>
        @if(result.nonEmpty) {
            @views.html.admin.search.searchItemListWithAdditionalContent(result) { otherItem =>
                <div class="link-select-controls">
                    <a class="select-link-target btn btn-block btn-warning" href="@linkAction(otherItem.id, false)">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        @Messages("link.linkTo.item")
                    </a>
                    @Link.copyLinkType(item, otherItem).map { _ =>
                        <a class="select-link-target btn btn-block btn-info" href="@linkAction(otherItem.id, true)">
                            <i class="fa fa-copy" aria-hidden="true"></i>
                            @Messages("link.linkTo.copy")
                        </a>
                    }
                </div>
            }
        }
    </div>
} {
    @common.typeLabel(item.isA) {
    }
    @common.search.facetList(result.facetClasses, action)
}
