@(item: Model, form: play.api.data.Form[List[(String,LinkF,Option[String])]], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("link.create.item", item), item.isA) {
	
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @helper.repeat(form("annotation"), min = 2) { annf =>
            <fieldset id="annotate-area">
                <legend>@Messages("annotation.relatedItem")</legend>

                @helper.inputText(annf("id"), attrs._label -> "item")
                @defining(annf("data")) { formData =>
                    @helper.inputText(formData(LinkF.DESCRIPTION), attrs._label -> Messages("link.description"))
                    <input type="hidden" value="@LinkF.LinkType.Associative" name="@formData(LinkF.LINK_TYPE).name" />
                }
            </fieldset>
        }

        <div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("link.linkTo.submit")</button>
		</div>
	}
} {

}
