@(item: Link)(implicit req: RequestHeader, userOpt: Option[UserProfile], conf: AppConfig, messages: Messages, md: MarkdownRenderer)


<div class="search-item" id="@item.id" dir="auto">
    <h2 class="search-item-heading">
        <a href="@controllers.links.routes.Links.get(item.id)">
            <span class="fa fa-link"></span>
        </a>
        @defining(item.sortedTargets) { targets =>
            @targets.dropRight(1).map { t =>
                @views.html.admin.helpers.linkTo(t) ⇆
            }
            @targets.lastOption.map { t =>
                @views.html.admin.helpers.linkTo(t)
            }
        }
    </h2>
    <div class="search-item-body">
        <ul class="search-item-details">
            @item.data.dates.map { dp =>
                <li>@dp.years</li>
            }
            @item.latestEvent.map { event =>
                <li title="@common.eventTitle(event)">
                    <time datetime="@event.data.timestamp">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</time>
                </li>
            }
        </ul>

        @item.data.description.map(d => Markdown(d))
    </div>
</div>
