@(item: Link, annotations: Seq[Annotation], src: Option[String] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(Messages("link.itemLink"), item.isA, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @views.html.admin.common.annotated(item, annotations) {
        @defining("link") { implicit fieldPrefix =>
            @views.html.admin.common.textValue(LinkF.DESCRIPTION, item.data.description)
            @views.html.admin.common.dateSet(item.data, LinkF.DATES)
            <span class="badge badge-dark">@Messages("link." + item.data.linkType.toString)</span>
            @item.data.linkField.map { field =>
                <span class="badge badge-warning">@Messages("link." + field.toString)</span>
            }

            @item.source.map { src =>
                <h4>@Messages("link.source")</h4>
                @views.html.admin.helpers.linkTo(src)
            }

            @item.destination.map { dst =>
                <h4>@Messages("link.destination")</h4>
                @views.html.admin.helpers.linkTo(dst)
            }

            @if(!item.isDirectional) {
                <h4>@Messages("link.items")</h4>
                <ul>
                @item.sortedTargets.map { item =>
                    <li>
                        <a href="@views.admin.Helpers.linkTo(item)">@item.toStringLang</a>
                    </li>
                }
                </ul>
            }

            @item.linker.map { u =>
                <h4>@Messages("link.creator")</h4>
                <a href="@views.admin.Helpers.linkTo(u)">@u.toStringLang</a>
            }
        }
    }
} {
    @views.html.admin.common.promotion(item, controllers.links.routes.Links.promote(item.id), controllers.links.routes.Links.demote(item.id), ContentTypes.Link)
    @views.html.admin.common.visibility(item, controllers.links.routes.Links.visibility(item.id), ContentTypes.Link)
    @views.html.admin.common.latestAction(item, controllers.links.routes.Links.history(item.id))

    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Link, PermissionType.Update)) {
            <a href="@controllers.links.routes.Links.update(item.id, src)">@Messages("item.update")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Link, PermissionType.Delete)) {
            <a href="@controllers.links.routes.Links.delete(item.id, src)">@Messages("link.delete")</a>
        }
    }
}
