@()(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, sessionPrefs: SessionPrefs, flash: Flash, messages: Messages)

@views.html.layout.textLayout(Messages("contact")) {
    <h2>@Messages("contact.header")</h2>

    <p>@Messages("contact.p1")</p>
    <address>
        @conf.configuration.get[Seq[String]]("ehri.portal.contact.address").map { line =>
            @line<br>
        }
    </address>

    <p>@Messages("contact.p2")</p>
    @defining((
            conf.configuration.getOptional[String]("ehri.portal.emails.privacy").getOrElse("privacy@example.com"),
            conf.configuration.getOptional[String]("ehri.portal.emails.feedback").getOrElse("feedback@example.com"))) { case (privacyMail, feedbackMail) =>
    <ul>
        <li>@Html(Messages("contact.p2.1", s"<a href='mailto:$privacyMail'>$privacyMail</a>"))</li>
        <li>@Messages("contact.p2.2")</li>
        <li>@Html(Messages("contact.p2.3", s"<a href='mailto:$feedbackMail'>$feedbackMail</a>"))</li>
    </ul>
    }
}
