@(entityTypeMetadata: Map[models.EntityType.Value, models.EntityTypeMetadata], fieldMetadata: Map[models.EntityType.Value, models.FieldMetadataSet], templates: Map[models.EntityType.Value, Seq[(String, Seq[String])]])(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, sessionPrefs: SessionPrefs, flash: Flash, messages: Messages, md: MarkdownRenderer)

@extraStyles = {
    <style>
        .data-model-category {
            background-color: #f5f5f5;
            font-weight: bold;
        }
        .data-model-see-also a + a {
            margin-left: 1em;
        }
        .data-model-entity-type {
            margin-bottom: 2rem;
        }
    </style>
}

@views.html.layout.textLayout(Messages("dataModel"), styles = extraStyles) {

    <div class="row">
        <div class="col-md-12">
            <h2>@Messages("dataModel")</h2>
            <p>@Messages("dataModel.description")</p>
        </div>
    </div>

    @for((entityType, fieldSet) <- fieldMetadata) {
        <div class="row data-model-entity-type">
            <div class="col-md-12">
                <h3>@entityTypeMetadata.get(entityType).map(_.name).getOrElse(Messages(s"type.$entityType"))</h3>
                @entityTypeMetadata.get(entityType).flatMap(_.description).map { desc =>
                    @Markdown(desc)
                }

                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>@Messages("dataModel.field.name")</th>
                            <th>@Messages("dataModel.field.description")</th>
                            <th>@Messages("dataModel.field.usage")</th>
                            <th>@Messages("dataModel.field.seeAlso")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @fieldSet.grouped.map { case (category, catFields) =>
                        @category.map { cat =>
                            <tr>
                                <td colspan="4" class="data-model-category"><strong>@Messages(s"dataModel.$entityType.$cat")</strong></td>
                            </tr>
                        }

                        @for(field <- catFields) {
                            <tr>
                                <td class="data-model-name">@field.name</td>
                                <td class="data-model-description">
                                    @field.description.map { desc =>
                                        @Markdown(desc)
                                    }
                                </td>
                                <td class="data-model-usage">@field.usage</td>
                                <td class="data-model-see-also">
                                    @field.seeAlso.map { sa =>
                                        <a href="@sa" target="_blank">@sa</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @for((entityType, fields) <- fieldMetadata) {
    }
}
