@()(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, sessionPrefs: utils.SessionPrefs, flash: Flash, messages: Messages)

@views.html.layout.textLayout(Messages("dataPolicy")) {

    <h2 id="data-privacy-policy">@Messages("dataAndPrivacyPolicy.header")</h2>
    <p>@Messages("dataAndPrivacyPolicy.1")</p>
    <p>@Messages("dataAndPrivacyPolicy.2")</p>

    <h2 id="data-privacy">@Messages("privacy.header")</h2>

    <h3>@Messages("privacy.users.header")</h3>
    <p>@Messages("privacy.users.1")</p>
    <p>@Messages("privacy.users.2")</p>
    <p>@Messages("privacy.users.3")</p>
    <p>@Messages("privacy.users.4")</p>
    <p>@Messages("privacy.users.5")</p>
    <ul>
        <li>@Messages("privacy.users.5.a")</li>
        <li>@Messages("privacy.users.5.b")</li>
        <li>@Messages("privacy.users.5.c")</li>
    </ul>
    <p>@Messages("privacy.users.6")</p>


    <h2>@Messages("dataPolicy.header")</h2>

    <h3>@Messages("dataPolicy.data.header")</h3>
    <p>@Messages("dataPolicy.data.1")</p>
    <p>@Messages("dataPolicy.data.2")</p>
    <p>@Messages("dataPolicy.data.3")</p>
    <p>@Messages("dataPolicy.data.4")</p>
    <p>@Messages("dataPolicy.data.5")</p>

    <h3>@Messages("privacy.cookies.header")</h3>
    <p>@Messages("privacy.cookies.1")</p>
    <p>@Html(Messages(
        "privacy.cookies.2",
        "<a class='external' target='_blank' href='https://www.ehri-project.eu'>https://www.ehri-project.eu</a>",
        "<a class='external' target='_blank' href='https://training.ehri-project.eu'>https://training.ehri-project.eu</a>"
    ))</p>
    <ol class="cookie-usage">
        <li>@Messages("privacy.cookies.3.a")</li>
        <li>@Messages("privacy.cookies.3.b")</li>
    </ol>
    @defining(controllers.portal.routes.Portal.index().absoluteURL(globalConfig.https)) { siteUrl =>
        <p>@Html(Messages(
            "privacy.cookies.4",
            s"<a href='$siteUrl'>$siteUrl</a>"
        ))</p>
    }
    <ol class="cookie-usage">
        <li>@Messages("privacy.cookies.5.a")</li>
        <li>@Messages("privacy.cookies.5.b")</li>
        <li>@Messages("privacy.cookies.5.c")</li>
        <li>@Messages("privacy.cookies.5.d")</li>
    </ol>
    <p>@Html(Messages(
        "privacy.cookies.6",
        "<a class='external' target='_blank' href='https://blog.ehri-project.eu'>https://blog.ehri-project.eu</a>"
    ))</p>
    <ol class="cookie-usage">
        <li>@Messages("privacy.cookies.6.a")</li>
    </ol>
    <p>@Messages("privacy.cookies.7")</p>
    <ol class="cookie-usage">
        <li>@Messages("privacy.cookies.7.a")</li>
        <li>@Messages("privacy.cookies.7.b")</li>
    </ol>

    <h2>@Messages("privacy.rights.header")</h2>
    <h3>@Messages("privacy.rights.header.2")</h3>
    <p>@Messages("privacy.rights.1")</p>
    <ul>
        <li>@Messages("privacy.rights.1.a")</li>
        <li>@Messages("privacy.rights.1.b")</li>
        <li>@Messages("privacy.rights.1.c")</li>
        <li>@Messages("privacy.rights.1.d")</li>
        <li>@Messages("privacy.rights.1.e")</li>
        <li>@Messages("privacy.rights.1.f")</li>
    </ul>

    @defining(globalConfig.configuration.getOptional[String]("ehri.portal.emails.privacy").getOrElse("?")) { email =>
        <p>@Html(Messages(
            "privacy.rights.2",
            s"<a href='mailto:$email'>$email</a>"
        ))</p>
    }
    @defining(globalConfig.configuration.getOptional[String]("ehri.portal.contact.dataProtection.name").getOrElse("?")) { name =>
        @defining(globalConfig.configuration.getOptional[String]("ehri.portal.contact.dataProtection.phone").getOrElse("?")) { phone =>
            @defining(globalConfig.configuration.getOptional[String]("ehri.portal.emails.dataProtection").getOrElse("?")) { email =>
                <p>@Messages("privacy.rights.2.1")</p>
                <p>@Messages("privacy.rights.2.2", name)</p>
                <p>@Html(Messages("privacy.rights.2.3", phone, s"<a href='mailto:$email'>$email</a>"))</p>
            }
        }
    }

    <h3>@Messages("privacy.authority.header")</h3>
    <p>@Messages("privacy.authority.1")</p>

    <h3>@Messages("privacy.changes.header")</h3>
    <p>@Messages("privacy.changes.1")</p>

    <h3>@Messages("privacy.entry.header")</h3>
    <p>@Messages("privacy.entry.1")</p>
}