@(entityTypeMetadata: Map[models.EntityType.Value, models.EntityTypeMetadata], fieldMetadata: Map[models.EntityType.Value, models.FieldMetadataSet], templates: Map[models.EntityType.Value, Map[String, Seq[String]]])(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, sessionPrefs: SessionPrefs, flash: Flash, messages: Messages, md: MarkdownRenderer)

@extraStyles = {
    <style>
            .data-model-category {
                background-color: #f5f5f5;
                font-weight: bold;
            }

            .data-model-entity-type {
                margin-bottom: 2rem;
            }

            .data-model-usage {
                white-space: nowrap;
            }

            .data-model-see-also a + a {
                display: inline-block;
            }

            .data-model-see-also a + a:before {
                content: ", ";
            }

            #data-model-nav {
                position: sticky;
                top: 1rem;
            }

            #data-model-nav ul {
                flex-direction: column;
            }

            #data-model-nav ul li ul {
                padding-left: 1rem;
                font-size: 0.9rem;
            }
            #data-model-nav ul li ul li a {
                display: block;
                padding: 0.5rem 1rem;
            }
    </style>
}

@fieldRow(field: FieldMetadata) = {
    <tr class="data-model-field @field.usage.map(_.toString).getOrElse("")">
        <td class="data-model-name">
            <div>@field.name</div>
        </td>
        <td class="data-model-usage">
        @field.usage.map { usage =>
        <span class="badge badge-@usage">@Messages(s"dataModel.field.usage.$usage")</span>
        }.getOrElse {
            <span class="badge badge-optional">@Messages("dataModel.field.usage.optional")</span>
        }
        </td>
        <td class="data-model-description">
        @field.description.map { desc =>
            @Markdown(desc)
        }
        @if(field.seeAlso.nonEmpty && field.description.nonEmpty) {
            <hr/>
        }
        @if(field.seeAlso.nonEmpty) {
            <div class="data-model-see-also">
                <strong>@Messages("dataModel.field.seeAlso"):</strong>
                @field.seeAlso.map { sa =>
                    <a href="@sa" target="_blank">@sa</a>
                }
            </div>
        }
        </td>
    </tr>

}

@views.html.layout.rightSidebarLayout(Messages("dataModel"), styles = extraStyles) {

    <div class="row">
        <div class="col-md-12">
            <h2>@Messages("dataModel")</h2>
            <p>@Messages("dataModel.description")</p>
        </div>
    </div>

    @for((entityType, categories) <- templates) {
        @entityTypeMetadata.get(entityType).map { metadata =>
            <div class="data-model-entity-type">
                <h3 id="section-@entityType">@metadata.name</h3>
                @metadata.description.map { desc =>
                    @Markdown(desc)
                }
                @fieldMetadata.get(entityType).map { fieldSet =>
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>@Messages("dataModel.field.name")</th>
                                <th>@Messages("dataModel.field.usage")</th>
                                <th>@Messages("dataModel.field.description")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @categories.keys.toSeq.map { category =>
                            @if(category.equals("_")) {
                                @for(field <- fieldSet.noCategory) {
                                    @fieldRow(field)
                                }
                            } else {
                                @if(fieldSet.withCategory(category).nonEmpty) {
                                    <tr>
                                        <td colspan="4" class="data-model-category" id="section-@entityType-@category"><strong>@Messages(s"dataModel.$entityType.$category")</strong></td>
                                    </tr>
                                    @for(field <- fieldSet.withCategory(category)) {
                                        @fieldRow(field)
                                    }
                                }
                            }
                        }
                        </tbody>
                    </table>
                }
            </div>
        }
    }

    <script>
        jQuery(function($) {
          $("body").scrollspy({ target: "#data-model-nav" });
        });
    </script>
} {
    <div id="data-model-nav">
        <ul class="nav nav-pills">
        @for((entityType, categories) <- templates) {
            @entityTypeMetadata.get(entityType).map { metadata =>
                <li class="nav-item">
                    <a class="nav-link" href="#section-@entityType">@metadata.name</a>
                    @if(categories.keys.toSeq.nonEmpty) {
                        <ul class="nav nav-pills">
                        @categories.keys.toSeq.map { category =>
                            @if(!category.equals("_")) {
                                @if(fieldMetadata.get(entityType).exists(_.withCategory(category).nonEmpty)) {
                                    <li class="nav-item">
                                        <a href="#section-@entityType-@category">
                                            @Messages(s"dataModel.$entityType.$category")
                                        </a>
                                    </li>
                                }
                            }
                        }
                        </ul>
                    }
                </li>
            }
        }
        </ul>
    </div>
}
