@(stats: utils.Stats, accountForms: forms.AccountForms)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateSignUp.f) }

@countLink(url: String, key: String, params: Any*) = {
<a href="@url">@Messages(key, params: _*)</a>
}

@extraStyles = {
    @globalConfig.bannerImageUrl.map { url =>
        <style>
            body.home #header {
              background-image: url(@url);
            }
        </style>
    }
}

<!DOCTYPE html>

<html lang="@messages.lang.code">
    @views.html.common.head(Messages("welcome.title"), styles = extraStyles)
    <body class="home">
        @views.html.common.preambleScripts()
        @views.html.common.readOnly()
        @views.html.common.message()
        @views.html.common.ipFilter()
        <header id="header" class="navigation">
            @views.html.common.accountHeader(prefsOpt = Some(prefs))
            <div id="welcome-banner">
                @views.html.common.primaryHeader(showSearch = false)
                <div id="welcome-container">
                    <h1>@Messages("welcome")</h1>
                    @helper.form(action = controllers.portal.routes.Portal.search(services.search.SearchParams.empty, utils.PageParams.empty)) {
                        @views.html.common.search.searchBar(services.search.SearchParams.empty, placeholder = Messages("search.global"))
                    }
                </div>
            </div>
        </header>

        @views.html.common.flash(flash)
        @views.html.common.mainContent {
            <section id="welcome-lead">
                @Markdown(Messages("welcome.blurb"))
            </section>
            <section id="portal-sections">
                <div class="welcome-section">
                    <h2><a href="@controllers.portal.routes.Countries.searchAll()">@Messages("type.Country")</a>
                    </h2>
                    <p>@Messages("type.Country.description")</p>
                    <p class="welcome-section-footer">
                        @(Html(Messages(
                            "landingBlurb.Country",
                            countLink(controllers.portal.routes.Countries.searchAll().url,
                                "landingBlurb.Country.link", stats.countryCount).body.trim
                        )))
                    </p>
                </div>
                <div class="welcome-section">
                    <h2><a href="@controllers.portal.routes.Repositories.searchAll()">@Messages("type.Repository")</a>
                    </h2>
                    <p>@Messages("type.Repository.description")</p>
                    <p class="welcome-section-footer">
                        @(Html(Messages(
                            "landingBlurb.Repository",
                            countLink(controllers.portal.routes.Repositories.searchAll().url,
                                "landingBlurb.Repository.link", stats.repositoryCount).body.trim,
                            countLink(controllers.portal.routes.Countries.searchAll().url + "?data=yes",
                                "landingBlurb.Repository.Country.link", stats.inCountryCount).body.trim
                        )))
                    </p>
                </div>
                <div class="welcome-section">
                    <h2><a href="@controllers.portal.routes.DocumentaryUnits.searchAll()">@Messages("type.DocumentaryUnit")</a>
                    </h2>
                    <p>@Messages("type.DocumentaryUnit.description")</p>
                    <p class="welcome-section-footer">
                        @(Html(Messages(
                            "landingBlurb.DocumentaryUnit",
                            countLink(controllers.portal.routes.DocumentaryUnits.searchAll().url,
                                "landingBlurb.DocumentaryUnit.link", stats.documentaryUnitCount).body.trim,
                            countLink(controllers.portal.routes.Vocabularies.searchAll().url + "?data=yes",
                                "landingBlurb.DocumentaryUnit.Repository.link", stats.inRepositoryCount).body.trim
                        )))
                    </p>
                </div>
                <div class="welcome-section">
                    <h2><a href="@controllers.portal.routes.Vocabularies.searchAll()">@Messages("type.CvocVocabulary")</a></h2>
                    <p>@Messages("type.CvocVocabulary.description")</p>
                    <p class="welcome-section-footer">
                        <a href="@controllers.portal.routes.Vocabularies.searchAll()">
                            @Messages("landingBlurb.CvocVocabulary")
                        </a>
                    </p>
                </div>
                <div class="welcome-section">
                    <h2><a href="@controllers.portal.routes.AuthoritativeSets.searchAll()">@Messages("type.AuthoritativeSet")</a>
                    </h2>
                    <p>@Messages("type.AuthoritativeSet.description")</p>
                    <p class="welcome-section-footer">
                        <a href="@controllers.portal.routes.AuthoritativeSets.searchAll()">
                        @Messages("landingBlurb.AuthoritativeSet")
                        </a>
                    </p>
                </div>
                <div class="welcome-section account">
                    @userOpt.map { user =>
                        <a class="edit-profile" href="@controllers.portal.users.routes.UserProfiles.updateProfile()">
                            @Messages("profile.edit")
                        </a>
                        <h2><a href="@controllers.portal.users.routes.UserProfiles.profile()">@Messages("profile")</a></h2>

                        <ul class="user-actions">
                            <li>
                                <a href="@controllers.portal.users.routes.UserProfiles.activity()">
                                    <i class="fa fa-list"></i> @Messages("activity")
                                </a>
                            </li>
                            <li>
                                <a href="@controllers.portal.users.routes.UserProfiles.watching()">
                                    <span class="fa fa-star"></span>
                                    @Messages("profile.watch.list")
                                </a>
                            </li>
                            <li>
                                <a href="@controllers.portal.users.routes.UserProfiles.annotations()">
                                    <span class="fa fa-edit"></span>
                                    @Messages("annotation.list")
                                </a>
                            </li>
                        </ul>
                    }.getOrElse {
                        <a class="signup" href="@controllers.portal.account.routes.Accounts.signup()">@Messages("login.signup")</a>
                        <h2>@Messages("login")</h2>

                        <div class="oauth-providers form-field">
                            @accountForms.oAuth2Config.providers.map { provider =>
                                <a href="@controllers.portal.account.routes.Accounts.oauth2(provider.name)" class="btn btn-@provider.name"
                                title="@Html(Messages("login.loginWith", provider.name.capitalize))">
                                    <i class="fa fa-fw fa-@provider.name"></i>
                                </a>
                            }
                        </div>

                        @helper.form(action = controllers.portal.account.routes.Accounts.passwordLoginPost()) {
                            @formHelpers.csrfToken()
                            @helper.inputText(accountForms.passwordLoginForm("email"), 'id -> "signup_email", 'class -> "form-control", 'autocomplete -> "email", 'placeholder -> Messages("login.email"), 'type -> "email", 'required -> true)
                            @helper.inputPassword(accountForms.passwordLoginForm("password"), 'id -> "login_password", 'class -> "form-control", 'autocomplete -> "current-password", 'placeholder -> Messages("login.password"), 'required -> true)

                            <div class="welcome-section-footer">
                                <a class="forgot" href="@controllers.portal.account.routes.Accounts.forgotPassword()">
                                @Messages("login.password.forgot")
                                </a>
                                <button type="submit" class="btn btn-primary">@Messages("login")</button>
                            </div>
                        }
                    }
                </div>
            </section>

            <section id="portal-info">
                <div class="info-container" id="intro-video">
                    <h2>@Messages("welcome.video.heading")</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/IUFqR7l5qW8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="info-container feed" id="blog-feed" data-name="blog"></div>
            </section>
        }
        @views.html.common.footer()
        @views.html.dataPolicyModal()
        @views.html.common.postambleScripts()

        <script>
            jQuery(document).ready(function ($) {
                $(".feed").each(function(item, elem) {
                    var $item = $(elem), name = $item.data("name");
                    $item.load(jsRoutes.controllers.portal.Portal.externalFeed(name).url);
                });
            });
        </script>
    </body>
</html>
