@(stats: utils.Stats)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@countLink(url: String, key: String, params: Any*) = {
<a href="@url">@Messages(key, params: _*)</a>
}

<!DOCTYPE html>

<html lang="@messages.lang.code">
    @views.html.layout.head(Messages("welcome.title"))
    <body>
        @views.html.layout.preambleScripts()
        <div id="wrap">
            @views.html.layout.readOnly()
            @views.html.layout.message()
            @views.html.layout.ipFilter()
            <header id="header" class="navigation">
                @views.html.layout.accountHeader(showSearch = false, showAdminLink = true)
            </header>
            <div class="page-content">
                <div class="jumbotron-container">
                    <div class="jumbotron">
                        <div class="container">
                            <h1>@Messages("welcome")</h1>
                            @helper.form(action = controllers.portal.routes.Portal.search()) {
                                @views.html.common.search.searchBar(utils.search.SearchParams.empty)
                            }
                        </div>
                    </div>
                </div>

                @views.html.common.flash(flash)

                <div class="container">
                    <div class="row">
                        <div class="welcome-lead">
                            @Html(md.renderMarkdown(Messages("welcome.blurb")))
                        </div>
                    </div>
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="welcome-section country">
                            <h2><a href="@controllers.portal.routes.Countries.searchAll()">@Messages("type.country")</a>
                            </h2>

                            <p>@Messages("type.country.description")</p>
                        </div>
                        <div class="welcome-section repository">
                            <h2><a href="@controllers.portal.routes.Repositories.searchAll()">@Messages("type.repository")</a>
                            </h2>

                            <p>@Messages("type.repository.description")</p>
                        </div>
                        <div class="welcome-section documentaryUnit">
                            <h2><a href="@controllers.portal.routes.DocumentaryUnits.searchAll()">@Messages("type.documentaryUnit")</a>
                            </h2>

                            <p>@Messages("type.documentaryUnit.description")</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="welcome-section country">
                            @{Html(Messages(
                            "landingBlurb.country",
                            countLink(controllers.portal.routes.Countries.searchAll().url,
                            "landingBlurb.country.link", stats.countryCount).body.trim
                            ))}
                        </div>
                        <div class="welcome-section repository">
                            @{Html(Messages(
                            "landingBlurb.repository",
                            countLink(controllers.portal.routes.Repositories.searchAll().url,
                            "landingBlurb.repository.link", stats.repositoryCount).body.trim,
                            countLink(controllers.portal.routes.Countries.searchAll().url + "?data=yes",
                            "landingBlurb.repository.country.link", stats.inCountryCount).body.trim
                            ))}
                        </div>
                        <div class="welcome-section documentaryUnit">
                            @{Html(Messages(
                            "landingBlurb.documentaryUnit",
                            countLink(controllers.portal.routes.DocumentaryUnits.searchAll().url,
                            "landingBlurb.documentaryUnit.link", stats.documentaryUnitCount).body.trim,
                            countLink(controllers.portal.routes.Repositories.searchAll().url + "?data=yes",
                            "landingBlurb.documentaryUnit.repository.link", stats.inRepositoryCount).body.trim
                            ))}
                        </div>
                    </div>
                    <div class="row">
                        <div class="news-feed-container">
                            <hr/>
                            <h3>@Messages("newsFeed")</h3>
                            <ul id="news-feed" class="list-unstyled panel-body front-page-panel-content">

                            </ul>
                        </div>
                    </div>
                </div>
                <div id="push"></div>
            </div>
            <!-- /container -->
        </div>
        @views.html.layout.footer()
        @views.html.dataPolicyModal()
        @views.html.layout.postambleScripts()

        <script>
            jQuery(document).ready(function ($) {
                $("#news-feed")
                        .load("@controllers.portal.routes.Portal.newsFeed().absoluteURL(secure = globalConfig.https)")
            });
        </script>
    </body>
</html>
