@()(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@title = { }
@extrascripts = {
	<script>
		var ANGULAR_ROOT = "/assets/javascripts";
	</script>
	
	<script type="text/javascript" src="@controllers.portal.routes.Application.jsRoutes"></script>
		
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js"type="text/javascript"></script>
	
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	 
	<script src="@controllers.portal.routes.Assets.at("javascripts/libs/ui-bootstrap-0.2.0.min.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/libs/ng-infinite-scroll.min.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/libs/ui-sortable.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
	
	<script src="@controllers.portal.routes.Assets.at("javascripts/modules/helpers.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/modules/directives.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/modules/services.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/modules/filters.js")" type="text/javascript"></script>
	
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlSearch.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlBottom.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlRepo.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlDoc.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlBasket.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlConcept.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlCountry.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlAgent.js")" type="text/javascript"></script>
	<script src="@controllers.portal.routes.Assets.at("javascripts/controller/CtrlHeader.js")" type="text/javascript"></script>
	
	<script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js" type="text/javascript"></script>

	
	
}

@extrastyles = { 
}

<!DOCTYPE html>
<html lang="en" >
	<head>
	<title> </title>
		<link rel="stylesheet" href='@controllers.portal.routes.Assets.at("stylesheets/portal.css")' />
		<link rel="stylesheet" href='@controllers.portal.routes.Assets.at("stylesheets/portal.responsive.css")' />
		<link rel="stylesheet" href='@controllers.portal.routes.Assets.at("stylesheets/main.css")' />
		<link rel="stylesheet" href='http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css' />
	</head>
	<body ng-app="portalSearch" > 
		<script type="text/ng-template" id="fileTree.html">
				<li ng-repeat="item in item.children" id="{{item.id}}">
					<i ng-show="item.type=='Folder'" class="icon-folder-open" ></i>
					<i ng-show="item.type=='File'" class="icon-file" ></i> {{item.name}} ( {{item.children.length}} )
					<ul ng-show="item.children.length > 0" ng-include src="'fileTree.html'"></ul>
				</li>
		</script>
		
	<ng-include src="'@controllers.portal.routes.Assets.at("javascripts/view/common-view/header.html")'"></ng-include>
	
	<div ng-view>
	
	</div>
	
	
	
	@extrascripts
	</body>
</html>