@(params: utils.search.SearchParams)(implicit req: RequestHeader)

@import utils.search.{SearchParams,SearchOrder}

<div class="search-sort btn-group btn-group-xs pull-right">
    @List(SearchOrder.Score, SearchOrder.Id, SearchOrder.Name, SearchOrder.DateNewest, SearchOrder.Detail).map { sortKey =>
        @defining(Messages("search.sort." + sortKey.replace(",", "-") + ".title")) { title =>
            @if(params.sort.equals(Some(sortKey))) {
                <a class="btn btn-xs btn-default btn-active current-search-sort" title="@title" href="@utils.joinPath(req.path, req.queryString.filterKeys(_ != SearchParams.SORT))">
                @Messages("search.sort." + sortKey.replace(",", "-"))
                </a>
            } else {
                <a class="btn btn-default btn-xs" title="@title" href="@utils.joinPath(req.path, req.queryString.updated(SearchParams.SORT, Seq(sortKey.toString)))">
                @Messages("search.sort." + sortKey.replace(",", "-"))
                </a>
            }
        }
    }

    @params.sort.map { currentSort =>
        @if(req.getQueryString(SearchParams.SORT).isDefined) {
            <input type="hidden" name="@SearchParams.SORT" value="@currentSort">
        }
    }
</div>
