@(result: utils.search.ItemPage[(_,utils.search.SearchHit)], params: utils.search.SearchParams)(implicit req: RequestHeader)

@import utils.search.SearchParams

<div class="search-summary">
    @Messages("pagination.displayingItems", result.start, result.end, result.total)

    @result.spellcheck.map { case (actual, corrected) =>
        @* Argh, lots of weirdness with spelling correction and multi-lingual expansion. *@
        @println(s"Correcting: ${params.query.getOrElse("").trim.toLowerCase} -> ${corrected.trim.toLowerCase}")
        @params.query.map(_.trim.toLowerCase).map { query =>
            @if(query != corrected.trim.toLowerCase && query.contains(actual.trim.toLowerCase)) {
                (@Messages("search.spellingSuggestion") <i>
                    <strong>
                        <a href="@utils.joinPath(req.path, req.queryString.updated(SearchParams.QUERY, Seq(corrected)))">@corrected</a>
                    </strong>
                </i>?)
            }
        }
    }
</div>