@(page: utils.search.ItemPage[_])(implicit req: RequestHeader, lang: Lang)

@import utils.search._

<div class="selected-facets">
    @page.facets.map{ fclass =>
        @fclass.sorted.map{ facet =>
            @if(facet.applied) {
                <div class="selected-facet">
                    <span class="facet-name">@fclass.name: @fclass.pretty(facet)</span>
                    <a class="remove-filter" href="@pathWithoutFacet(fclass, facet, req.path, req.queryString.filterKeys(_!="page"))">
                        <span class="remove"></span>
                    </a>
                </div>
            }
        }
    }
</div>