@(page: rest.Page[Country], params: ListParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listCountries")) {

	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)
	
	<ul class="unstyled">
	@page.items.map { item =>
	  	<div class="list-item">
			<h5>
				<a href="@controllers.archdesc.routes.Countries.get(item.id)">@item.toStringLang</a>
			</h5>
		</div>
	}
	</ul>

} {
    @common.sidebarSection(None) {
        @userOpt.map { user =>
            @if(user.hasPermission(ContentType.Country, PermissionType.Create)) {
                <a class="btn btn-primary" href="@controllers.archdesc.routes.Countries.create">@Messages("actions.createCountry")</a>
            }
        }
    }

}