@(item: models.base.Accessor, action: Call, maybeUser: Option[models.sql.User], req: RequestHeader)
 
@import defines._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

  @main("Update Permissions")(maybeUser, req) {
	
    <h4>Set Permissions: @item.identifier</h4>
    
	@if(!item.groups.isEmpty) {
	  <strong>Parent Groups: </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@routes.Groups.get(group.id)">@group.name</a>
	  }	  
	}
    
	<hr />
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<fieldset id="access-area">
			<legend>@Messages("Set Visibility")</legend>


		</fieldset>
	  			
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Update")</button>
        </div>
	}
		
}
