@(item: models.base.Accessor, perms: acl.GlobalPermissionSet[models.base.Accessor], action: Call, user: UserProfile, req: RequestHeader)
 
@import defines._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

  @main("Update Permissions")(Some(user), req) {
	
    <h4>Set Permissions: @item.identifier</h4>
    
	@if(!item.groups.isEmpty) {
	  <strong>Parent Groups: </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@routes.Groups.get(group.identifier)">@group.name</a>
	  }	  
	}
    
	<hr />
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<fieldset id="permissions-area">
			<legend>@Messages("Permissions")</legend>

			<table class="permissions-matrix">
				<tr>
					<th></th>
					@PermissionType.values.toList.map { perm =>
					  <th>@perm.toString</th>					  
					}
				</tr>
				@ContentType.values.toList.map { entity =>
				  	<tr>
						<td>@entity.toString</td>
						@PermissionType.values.toList.map { perm =>
							<td>
								@defining(perms.get(entity, perm)) { permOpt =>
									<input type="checkbox" name="@entity.toString" value="@perm.toString" 
											@if(permOpt.isDefined && permOpt.flatMap(_.inheritedFrom).isEmpty) {
												checked
											} />
									@permOpt.flatMap(_.inheritedFrom).map { user =>
										<span title="@Messages("Inherited from " + user.name)">*</span>								  									  
									}								  
								}
							</td>					  						    
						}						
					</tr>				  
				}
			</table>

		</fieldset>
	  			
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Update")</button>
        </div>
	}
		
}
