@()(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.isAdmin) {
        <a href="@controllers.cypher.routes.CypherQueries.createQuery()">@Messages("cypherQuery.create")</a>
    }
    @views.html.admin.common.sidebarAction(user.isAdmin) {
        <a href="@controllers.cypher.routes.CypherQueries.cypherForm()">@Messages("cypherQuery.console")</a>
    }
    @views.html.admin.common.sidebarAction(user.isAdmin) {
        <a href="@controllers.cypher.routes.CypherQueries.checkQueries()">@Messages("cypherQuery.checkAll")</a>
    }
}
