@(f: Form[CypherQuery], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("item.create")) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @views.html.admin.cypherQueries.form(None, f, action)

        @formHelpers.submitButton(Messages("item.create.submit"))
	}
} {

}
