@(item: CypherQuery, action: Call, cancel: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("cypherQuery.delete"),
        breadcrumbs = views.html.admin.cypherQueries.breadcrumbs(Some(item))) {
    <p>@Messages("cypherQuery.delete.description")</p>
    @helper.form(action = action) {
        @formHelpers.csrfToken()
        @formHelpers.submitButtonWithLogMessageInput(Messages("cypherQuery.delete.submit"), cancel = Some(cancel))
    }
} {

}

