@(query: Option[CypherQuery], form: Form[CypherQuery], call: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining("cypherQuery") { implicit prefix =>
    @formHelpers.lineInput(form(""), CypherQuery.NAME)
    @formHelpers.textInput(form(""), CypherQuery.QUERY)
    @formHelpers.textInput(form(""), CypherQuery.DESCRIPTION)
    @formHelpers.checkbox(form(""), CypherQuery.PUBLIC)
}