@(annotation: Annotation)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="annotation clearfix" id="@annotation.id">

    @annotation.target.map { src =>
        @p.helpers.linkToWithFragment(src, "#" + annotation.id)
    }
    @annotation.model.field.map { field =>
        <strong>@field</strong>
    }

    <blockquote>@annotation.model.body</blockquote>
    @for(user <- annotation.user ; event <- annotation.latestEvent) {
        <small class="context text-muted">@Html(Messages("portal.annotation.createdBy", p.helpers.linkTo(user).body.trim, event.model.datetime))</small>
    }
</div>