@(annotation: Annotation, editable: Boolean)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="annotation clearfix @{if(annotation.isPromoted) "promoted"}" id="@annotation.id">
    @Html(views.Helpers.renderMarkdown(annotation.model.body))
    @for(user <- annotation.user ; event <- annotation.latestEvent) {
        - <small class="text-muted">
            @p.helpers.linkTo(user)
            <a class="time-permalink" href="#@annotation.id">@views.Helpers.relativeDate(event.model.timestamp)</a>

            @if(editable && !annotation.isPromoted) {
                <a data-item="@annotation.id" title="@Messages("portal.annotation.update.title")" class="edit-annotation" href="@controllers.portal.routes.Annotations.editAnnotation(annotation.id)">
                    @Messages("portal.annotation.update")
                </a>
                <a data-item="@annotation.id" title="@Messages("portal.annotation.delete.title")" class="delete-annotation" href="@controllers.portal.routes.Annotations.deleteAnnotation(annotation.id)">
                    @Messages("portal.annotation.delete")
                </a>
            }
            @userOpt.map { user =>
                @if(!annotation.isPromoted && user.hasPermission(defines.ContentTypes.Annotation, defines.PermissionType.Promote) && annotation.model.isPromotable) {
                    <a data-item="@annotation.id" title="@Messages("portal.annotation.promote.title")" class="promote-annotation" href="@controllers.portal.routes.Annotations.promoteAnnotation(annotation.id)">
                        @Messages("portal.annotation.promote")
                    </a>
                } else {
                    @if(annotation.isPromoted && user.hasPermission(defines.ContentTypes.Annotation, defines.PermissionType.Promote)) {
                        <a data-item="@annotation.id" title="@Messages("portal.annotation.demote.title")" class="demote-annotation" href="@controllers.portal.routes.Annotations.demoteAnnotation(annotation.id)">
                            @Messages("portal.annotation.demote")
                        </a>
                    }
                }
            }
        </small>
    }
</div>