@(f: Form[AnnotationF], visForm: Form[utils.ContributionVisibility.Value], accessorsForm: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@import AnnotationF._
@import utils.ContributionVisibility.{Me,Groups,Custom,PARAM}
@import backend.rest.Constants.ACCESSOR_PARAM

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateEmpty.f) }

<textarea
        autofocus required minlength="15" maxlength="600"
        class="col-sm-12 col-md-12 col-lg-12 autosize"
        name="@BODY"
        placeholder="@Messages("portal.social.annotation.placeholder")">@f(BODY).value</textarea>

<label for="@PARAM">@Messages("portal.contributionVisibility")</label>
<span id="@PARAM">
    <input class="visibility" type="radio" id="@(PARAM)_@(Me)" name="@PARAM" value="@Me" @{if(visForm.value == Some(Me)) "checked"}>
    <label for="@(PARAM)_@(Me)">@Messages("portal.contributionVisibility.me")</label>
    <input class="visibility" type="radio" id="@(PARAM)_@(Groups)" name="@PARAM" value="@Groups" @{if(visForm.value == Some(Groups)) "checked"}>
    <label for="@(PARAM)_@(Groups)">@Messages("portal.contributionVisibility.groups")</label>
    <input class="visibility" type="radio" id="@(PARAM)_@(Custom)" name="@PARAM" value="@Custom" @{if(visForm.value == Some(Custom)) "checked"}>
    <label for="@(PARAM)_@(Custom)">@Messages("portal.contributionVisibility.custom")</label>

    <span class="custom-visibility" style="@{if(visForm.value != Some(Custom)) "display:none"}">
        @defining(views.Helpers.fieldValues(accessorsForm(ACCESSOR_PARAM))) { values =>
            <select class="select2 custom-accessors" style="width:300px" multiple name="@(ACCESSOR_PARAM)[]">
                <option></option>
                <optgroup label="Groups">
                    @for((id, name) <- groups) {
                        <option value="@id" @{if(values.contains(id)) "selected"}>@name</option>
                    }
                </optgroup>
                <optgroup label="Users">
                    @for((id, name) <- users) {
                        <option value="@id" @{if(values.contains(id)) "selected"}>@name</option>
                    }
                </optgroup>
            </select>
        }
    </span>
</span>
