@(annotation: Annotation, editable: Boolean)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="annotation item-text-field clearfix @{if(annotation.isPromoted) "promoted"}" id="@annotation.id">
	<div class="item-text-field-header">
	    @for(them <- annotation.user ; event <- annotation.latestEvent) {
            <div>@p.helpers.linkTo(them)</div>
	        <small class="text-muted">
	            <a class="time-permalink" href="#@annotation.id"><span class="glyphicon glyphicon-time"></span> @views.Helpers.relativeDate(event.model.timestamp)</a>

	            @if(editable) {
	            	<ul class="list-inline">
		                <li>
                            <a data-item="@annotation.id" class="edit-annotation" href="@controllers.portal.routes.Annotations.editAnnotation(annotation.id)">
                                @Messages("portal.social.editAnnotation")
                            </a>
                        </li>
		                <li>
                            <a data-item="@annotation.id" title="@Messages("portal.social.deleteAnnotation")" class="delete-annotation" href="@controllers.portal.routes.Annotations.deleteAnnotation(annotation.id)">
                            @Messages("portal.social.deleteAnnotation")
                            </a>
                        </li>
		            </ul>
	            }
                @userOpt.map { user =>
                    @if(!annotation.isPromoted && user.hasPermission(defines.ContentTypes.Annotation, defines.PermissionType.Promote) && annotation.model.isPromotable) {
                        <ul class="list-inline">
                            <li>
                                <a data-item="@annotation.id" title="@Messages("portal.social.promoteAnnotation.title")" class="promote-annotation" href="@controllers.annotation.routes.Annotations.promote(annotation.id)">
                                    @Messages("portal.social.promoteAnnotation")
                                </a>
                            </li>
                        </ul>
                    }
                }
	        </small>
	    }
	</div>
	<div class="item-text-field-value">
	    @Html(views.Helpers.renderMarkdown(annotation.model.body))
   </div>
</div>