@(f: Form[AnnotationF], visForm: Form[utils.ContributionVisibility.Value])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@import AnnotationF._
@import utils.ContributionVisibility.{Me,Groups}
@import backend.rest.Constants.ACCESSOR_PARAM

<div class="row">
    <textarea class="col-sm-12 col-md-12 col-lg-12" name="@BODY" placeholder="@Messages("portal.social.annotation.placeholder")">
        @f(BODY).value
    </textarea>
</div>

<label for="@ACCESSOR_PARAM">@Messages("portal.contributionVisibility")</label>
<span class="buttonset" id="@ACCESSOR_PARAM">
    <input type="radio" id="@(ACCESSOR_PARAM)_@(Me)" name="@ACCESSOR_PARAM" value="@Me" checked>
    <label for="@(ACCESSOR_PARAM)_@(Me)">@Messages("portal.contributionVisibility.me")</label>
    <input type="radio" id="@(ACCESSOR_PARAM)_@(Groups)" name="@ACCESSOR_PARAM" value="@Groups">
    <label for="@(ACCESSOR_PARAM)_@(Groups)">@Messages("portal.contributionVisibility.groups")</label>
</span>
