@(f: Form[AnnotationF], visForm: Form[utils.ContributionVisibility.Value], accessorsForm: Form[List[String]], action: Call, users: Seq[(String,String)], groups: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@import AnnotationF._
@import utils.ContributionVisibility.{Me,Groups}
@import backend.rest.Constants.ACCESSOR_PARAM

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateCheckbox.f) }

@helper.form(action = action, 'role -> "form", 'class -> "form validate-form", 'class -> "annotation-form annotate-item-form validate-form") {
    <div class="row annotation-right">
        <div class="col-md-12">
            @annotationForm(f, visForm, accessorsForm, users, groups)
            <div class="form-group pull-right">
                <div class="checkbox-inline" data-toggle="tooltip" title="@Messages("portal.contribution.visibility.allowPublic.title")">
                    @helper.checkbox(f(ALLOW_PUBLIC), '_label -> Messages("portal.contribution.visibility.allowPublic"))
                </div>
                <button class="btn btn-primary" type="submit" class="submit-annotation">
                    @Messages("portal.annotation.create")
                </button>
            </div>
        </div>
        <a class="close" href="#">&times;</a>
    </div>
}