@(descriptions: List[models.base.Description])(html: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

<div class="descriptions">
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            @if(descriptions.size > 1) {
            <div class="alert alert-block alert-info multiple-descriptions-note">
                @Messages("portal.multipleDescriptions")
                <ul class="list-unstyled multiple-descriptions-switcher">
                    @descriptions.map { desc =>
                    @desc.id.map { id =>
                    <li lang="@desc.languageCode">
                        <a class="description-switch" href="#desc-@id">@desc.name</a>
                    </li>
                    }
                    }
                </ul>
            </div>
            }

            @sidebar
        </div>
        <div class="col-md-9 col-md-pull-3 description-viewport">
            @html
        </div>
    </div>
</div>