@(item: AnyModel, desc: Description, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, lang: Lang, globalConfig: global.GlobalConfig)

<div class="description-annotations annotation-set clearfix">
    <h3 class="block-header small">
        @Messages("portal.annotation")
    </h3>
    @defining(Annotation.itemAnnotations(desc.id, annotations).filter(_.model.field.isEmpty)) { annotations =>
        @p.common.annotationBlockList(annotations)
    }
    @userOpt.map { user =>
        @item.contentType.map { ct =>
            @if(user.hasPermission(ct, PermissionType.Annotate)) {
                <div class="annotate-item-controls">
                    @desc.id.map { did =>
                        <a data-item="@item.id" data-did="@did" class="annotate-item"
                           href="@controllers.portal.routes.Annotations.annotate(item.id, did)">
                            <span class="glyphicon glyphicon-edit"></span> @Messages("portal.annotation.create")
                        </a>
                    }
                </div>
            }
        }
    }
</div>