@(f: Form[AnnotationF], visForm: Form[utils.ContributionVisibility.Value], accessorsForm: Form[List[String]], action: Call, users: Seq[(String,String)], groups: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@import AnnotationF._
@import utils.ContributionVisibility.{Me,Groups,Custom,PARAM}

@helper.form(action = action, 'role -> "form", 'class -> "form-horizontal validate-form", 'class -> "edit-annotation-form validate-form") {
    <div row">
        <div class="col-sm-10 col-md-10 col-lg-10">
            @annotationForm(f, visForm, accessorsForm, users, groups)
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <a class="close" href="#">&times;</a>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="@ALLOW_PUBLIC" @if(f(ALLOW_PUBLIC).value) {"checked"} />
                    @Messages("portal.contributionVisibility.allowPublic")
                </label>
            </div>
            <button class="btn btn-xs btn-primary" type="submit" class="edit-annotation">
                @Messages("portal.social.editAnnotation")
            </button>
        </div>
    </div>
}