@(event: SystemEvent)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@import defines.EventType

@eventBody(event: SystemEvent)(html: Html) = {
    <li class="activity-stream-event">
        <small class="text-muted time">@views.Helpers.relativeDate(event.model.timestamp)</small>
        <div class="title">@html</div>
        @event.model.logMessage.filterNot(_.trim.isEmpty).map { msg =>
            <blockquote class="log-message blockquote">@msg</blockquote>
        }
    </li>
}

@* NB: This will ignore events for which we don't have a type, user, subject, and subject count, which is
        probably how it should be anyway. *@
@for(et <- event.model.eventType; user <- event.actioner; subject <- event.firstSubject; count <- event.childCount) {
    @eventBody(event) {
        @et match {
            case EventType.modification if user.id == subject.id => {
                <a title="@user.toStringLang" href="@controllers.portal.routes.Portal.browseUser(user.id)">
                    @Messages("portal.activity.modifiedProfile")
                </a>
            }
            case EventType.creation => {
                @Html(Messages("portal.activity.userCreatedItem", p.helpers.linkTo(user), p.helpers.linkTo(subject), count - 1))
            }
            case EventType.modification | EventType.createDependent | EventType.modifyDependent | EventType.deleteDependent => {
                @Html(Messages("portal.activity.userUpdatedItem", p.helpers.linkTo(user), p.helpers.linkTo(subject), count - 1))
            }
            case EventType.ingest => {
                @Html(Messages("portal.activity.userImportedItem", p.helpers.linkTo(user), p.helpers.linkTo(subject), count - 1))
            }
            case EventType.link => {
                @* Annotations and links are special cases. We could like directly to the item but it wouldn't be very useful for the user.
                Instead we link to the scope item (if it's available), with the link/comment id as a fragment. *@
                @event.scope.map { scope =>
                    @if(scope.id == subject.id) {
                        @Html(Messages("portal.activity.userLinkedItem", p.helpers.linkTo(user), p.helpers.linkTo(subject), count - 1))
                    } else {
                        @Html(Messages("portal.activity.userLinkedItem", p.helpers.linkTo(user), p.helpers.linkToWithFragment(scope, "#" + subject.id), count - 1))
                    }
                }
            }
            case EventType.annotation => {
                @event.scope.map { scope =>
                    @if(scope.id == subject.id) {
                        @Html(Messages("portal.activity.userAnnotatedItem", p.helpers.linkTo(user), p.helpers.linkTo(subject), count - 1))
                    } else {
                        @Html(Messages("portal.activity.userAnnotatedItem", p.helpers.linkTo(user), p.helpers.linkToWithFragment(scope, "#" + subject.id), count - 1))
                    }
                }
            }
            case _ => {
                @* Not bothering with other events yet... *@
                @et
            }
        }
    }
}

