@(item: DescribedMeta[_,_], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@defining(item.externalLinks(links)) { links =>
    @if(!links.isEmpty) {
    <h3>@Messages("portal.item.externalLinks")</h3>
    <ul class="external-links list-unstyled item-links">
        @for(link <- links) {
        <li class="external-link">
            @link.opposingTarget(item).map { t =>
                @p.listItem(t, watched = watched.exists(_ == t.id))
            }
            @link.model.description.map { desc =>
            <small>
                @desc
            </small>
            }
        </li>
        }
    </ul>
    }
}
