@(item: AnyModel, nodeId: String, key: String, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang)

<div class="item-text-field-annotation-container">
    <div class="item-text-field-annotations annotation-set">
        <h5 class="annotate-item-header">@Messages("portal.social.createFieldAnnotation")</h5>
        @p.common.inlineAnnotationList(annotations)

        @userOpt.map { user =>
        <div class="annotate-item-controls">
            @item.contentType.map { ct =>
                @if(user.hasPermission(ct, PermissionType.Annotate)) {
                    <a title="@Messages("portal.social.createFieldAnnotation")" data-item="@item.id" data-did="@nodeId" data-field="@key" class="annotate-field inactive" href="@controllers.portal.routes.Portal.annotateField(item.id, nodeId, key)">
                    <span class="glyphicon glyphicon-comment"></span>
                    </a>
                }
            }
            @defining(annotations.count(!_.isOwnedBy(userOpt))) { otherCount =>
                @if(otherCount > 0) {
                    <a title="@Messages("portal.social.showPublicAnnotations", otherCount)" class="show-other-annotations" href="#">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        @otherCount
                    </a>
                }
            }
        </div>
        }
    </div>
</div>