@(item: AnyModel, nodeId: String, key: String, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang)

<div class="item-text-field-annotation-container">
    <div class="item-text-field-annotations annotation-set">
        <h5 class="annotate-item-header">@Messages("annotation.field.create")</h5>
        @p.annotation.inlineAnnotationList(annotations)

        <div class="annotate-item-controls" data-target="@nodeId-@key">
        </div>
    </div>
</div>