@(item: AnyModel, nodeId: String, key: String, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang)

<div class="item-text-field-annotation-container">
    <div class="item-text-field-annotations annotation-set">
        <h5 class="annotate-item-header">@Messages("portal.annotation.field.create")</h5>
        @p.annotation.inlineAnnotationList(annotations)

        @userOpt.map { user =>
        <div class="annotate-item-controls" data-target="@nodeId-@key">

            @defining(annotations.count(!_.isOwnedBy(userOpt))) { otherCount =>
                @if(otherCount > 0) {
                    <a title="@Messages("portal.annotation.showPublic", otherCount)" class="show-other-annotations" href="#">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        @otherCount
                    </a>
                }
            }
        </div>
        }
    </div>
</div>