@(annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@isOwnAnnotation(annotation: Annotation) = @{
    (for {
        user <- userOpt
        annotator <- annotation.user
    } yield annotator.id == user.id).getOrElse(false)
}

<ul class="list-unstyled">
    @for(ann <- annotations if isOwnAnnotation(ann)) {
        <li class="personal-annotation">@p.common.annotationInline(ann, true)</li>
    }
    @for(ann <- annotations if !isOwnAnnotation(ann)) {
        <li class="other-annotation" style="display: none;">@p.common.annotationInline(ann, false)</li>
    }
</ul>
