@(annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, lang: Lang, globalConfig: global.GlobalConfig)

@import views.p.AnnotationViewType._

@defining(views.p.Helpers.sortAnnotations(annotations)) { sortedMap =>
    <ul class="annotation-list">
        @for(ann <- sortedMap.getOrElse(Mine, Seq.empty)) {
            <li class="personal">@p.common.annotationInline(ann, true)</li>
        }
        @for(ann <- sortedMap.getOrElse(Promoted, Seq.empty)) {
            <li class="promoted user-content" style="@{if(!prefs.showUserContent) "display: none;"}">@p.common.annotationInline(ann, false)</li>
        }
        @for(ann <- sortedMap.getOrElse(Other, Seq.empty)) {
            <li class="other user-content" style="@{if(!prefs.showUserContent) "display: none;"}">@p.common.annotationInline(ann, false)</li>
        }
    </ul>
}
