@(item: Accessible, historyUrl: Call)(implicit request: RequestHeader)

@item.latestEvent.map { ev =>
    @p.common.footerPanel(Messages("portal.item.history"), "history") {
        <strong title="@common.eventTitle(ev)">@views.Helpers.relativeDate(ev.model.timestamp)</strong>
        <p class="text-muted">
            <em>@ev.toStringLang</em>
        </p>
    } {
        <a data-toggle="modal" href="@historyUrl" data-target="#history-modal" data-backdrop="false">
            @Messages("actions.history")
        </a>
        <div class="modal" id="history-modal" tabindex="-1" role="dialog" aria-labelledby="history-modal-label" aria-hidden="true">
            <div class="modal-dialog">  
                <div class="modal-content"></div>  
            </div>
        </div><!-- /.modal -->   
    }
}