@(item: AnyModel, nodeId: String, value: Option[List[String]], key: String, transformFunc: (String => String) = { s => s})(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, fieldAnnotations: Seq[Annotation])

@value.map { list =>
	@defining(fieldAnnotations.filter(_.model.field==Some(key))) { anns =>
	    @if(!list.isEmpty) {
	        <div class="item-text-field @{if(views.p.Helpers.isAnnotatable(item, userOpt)) "annotable"}" id="@nodeId-@key">
	            <h4 class="item-text-field-header">
	            	@Messages(if (fieldPrefix.isEmpty) key else "%s.%s".format(fieldPrefix, key))
                	@fieldAnnotationButton(item, nodeId, key, anns)
	            </h4>
	            <div class="item-text-field-value">
			        <ul>
			            @list.map { item =>
			                <li>@Html(views.Helpers.renderMarkdown(transformFunc(item)))</li>
			            }
			        </ul>
	            </div>
                @fieldAnnotationControls(item, nodeId, key, anns)
	        </div>
	    }
	}
}