@(item: AnyModel, nodeId: String, valueOpt: Option[String], key: String)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, fieldAnnotations: Seq[Annotation])

@defining(fieldAnnotations.filter(_.model.field==Some(key))) { anns =>
    @valueOpt.filterNot(_.isEmpty).map { value =>
        <div class="item-text-field @{if(views.p.Helpers.isAnnotatable(item, userOpt)) "annotable"}" id="@nodeId-@key">
            <h4 class="item-text-field-header" dir="auto">
                @Messages(fieldPrefix + "." + key)
                @fieldAnnotationButton(item, nodeId, key)
            </h4>
            <div class="item-text-field-value" dir="auto">
                @Html(views.Helpers.renderMarkdown(value))
            </div>
            @fieldAnnotationControls(item, nodeId, key, anns)
        </div>
    }
}