@(hasUserContent: Boolean)(implicit userOpt: Option[UserProfile], prefs: utils.SessionPrefs, request: RequestHeader, lang: Lang)

<div class="btn-group">
    <button type="button" class="view-options">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <span style="@{if(!prefs.showUserContent) "display:none"}" class="gylphicon gylphicon-ok"></span>
            <a href="#">@Messages("portal.viewOptions.showUserContent")</a>
        </li>
    </ul>
</div>