@(item: AnyModel, watching: Boolean)(implicit lang: Lang)

<div class="watch-controls pull-right btn-group">
    <a data-item="@item.id"
       class=" btn  btn-danger unwatch"
       style="@(if(!watching) "display: none;")" title="@Messages("portal.social.unwatch.tooltip")" href="@controllers.portal.routes.Social.unwatchItem(item.id)">
        <span class="glyphicon glyphicon-star"></span>
        <span class="legend">@Messages("portal.social.unwatch")</span>
    </a>
    <a data-item="@item.id"
       class=" btn  btn-danger watch"
       style="@(if(watching) "display: none")" title="@Messages("portal.social.watch.tooltip")" href="@controllers.portal.routes.Social.watchItem(item.id)">
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="legend">@Messages("portal.social.watch")</span>
    </a>
</div>
