@(item: AnyModel, watching: Boolean)(implicit userOpt: Option[UserProfile], lang: Lang)

@if(userOpt.isDefined) {
    <div class="watch-controls @item.isA">
        <a data-item="@item.id"
           class="unwatch glyphicon glyphicon-star" title="@Messages("portal.profile.unwatch.tooltip")"
           style="@(if(!watching) "display: none")" href="@controllers.portal.routes.Profile.unwatchItem(item.id)"></a>
        <a data-item="@item.id"
           class="watch glyphicon glyphicon-star-empty"  title="@Messages("portal.profile.watch.tooltip")"
           style="@(if(watching) "display: none")" href="@controllers.portal.routes.Profile.watchItem(item.id)"></a>
    </div>
}
