@(params: utils.PageParams)(implicit req: RequestHeader)

@import backend.rest.Constants._

<ul class="pagination" id="pagination">
    @if(params.offset > 0) {
    <li>
        <a href="@utils.joinPath(req.path, req.queryString.updated(PAGE_PARAM, Seq((math.max(1, params.page - 1)).toString)))">
            @Messages("systemEvent.newerEvents")</a>
    </li>
    } else {
    <li class="disabled"><a>@Messages("systemEvent.newerEvents")</a></li>
    }
    <li><a href="@utils.joinPath(req.path, req.queryString.updated(PAGE_PARAM, Seq((params.page + 1).toString)))">
        @Messages("systemEvent.olderEvents")</a></li>
</ul>
