@(result: solr.ItemPage[(Entity,String)], params: solr.SearchParams, action: Call, autofocus: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import solr.SearchParams

@helper.form(action = action, 'class -> "") {
    <div class="controls-row">
        <div class="input-append search-query span10">
            <input type="text"
                placeholder="@Messages("search.queryPlaceholder")"
                class="input-block-level span15" name="@SearchParams.QUERY" value="@params.query" @{if(autofocus) "autofocus"} />
            <button class="btn">
                <i class="icon-search"></i>
                @Messages("forms.search")
            </button>
        </div>
    </div>

    <div class="controls-row">
        <div class="btn-group pull-right" style="margin-top: 10px">
        @solr.SearchOrder.values.map { sortKey =>
            @if(params.sort.equals(Some(sortKey))) {
                <a class="btn btn-mini current-search-sort" href="@utils.joinPath(req.path, req.queryString.filterKeys(_ != SearchParams.SORT))">
                    @Messages("search." + sortKey)
                </a>
            } else {
                <a class="btn btn-mini" href="@utils.joinPath(req.path, req.queryString.updated(SearchParams.SORT, Seq(sortKey.toString)))">
                    @Messages("search." + sortKey)
                </a>
            }
        }
        </div>
        <h4>
            @Messages("pagination.displayingItems", result.offset + 1, result.offset + result.items.size, result.total)
            @result.spellcheck.map { case (actual, corrected) =>
                @defining(params.query.map(_.replace(actual, corrected))) { suggestion =>
                    (@Messages("search.spellingSuggestion")
                    <i>
                        <strong>
                            <a href="@utils.joinPath(req.path, req.queryString.updated(SearchParams.QUERY, suggestion.toSeq))">@suggestion</a>
                    </strong>
                    </i>?)
                }
            }
        </h4>
    </div>
    <p>
        @common.selectedFacets(result)
    </p>

    <ul class="unstyled">
    @result.items.map { case(item, id) =>
        @defining(Some(id)) { implicit descriptionId =>
            <li>
                @item.isA match {
                    case EntityType.DocumentaryUnit => {
                        @documentaryUnit.listItem(DocumentaryUnit(item))
                    }
                    case EntityType.HistoricalAgent => {
                        @historicalAgent.listItem(HistoricalAgent(item))
                    }
                    case EntityType.Repository => {
                        @repository.listItem(Repository(item))
                    }
                    case EntityType.Concept => {
                        @concept.listItem(Concept(item))
                    }
                    case EntityType.Country => {
                        @country.searchItem(Country(item))
                    }
                    case EntityType.UserProfile => {
                        @userProfile.searchItem(UserProfile(item))
                    }
                    case EntityType.Group => {
                        @group.searchItem(Group(item))
                    }
                    case EntityType.AuthoritativeSet => {
                        @authoritativeSet.searchItem(AuthoritativeSet(item))
                    }
                    case EntityType.Vocabulary => {
                        @vocabulary.searchItem(Vocabulary(item))
                    }
                    case _ => {
                        @common.searchItem(item)
                    }
                }
            </li>
        }
    }
    </ul>
    @common.pagination(result)
}
