@(result: solr.ItemPage[(MetaModel[_],String)])(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang)

<ul class="unstyled">
    @result.items.map { case(item, id) =>
        @defining(Some(id)) { implicit descriptionId =>
            <li>
                @item match {
                    case d: DocumentaryUnitMeta => {
                        @documentaryUnit.listItem(d)
                    }
                    case d: HistoricalAgent => {
                        @historicalAgent.listItem(d)
                    }
                    case d: Repository => {
                        @repository.listItem(d)
                    }
                    case d: Concept => {
                        @concept.listItem(d)
                    }
                    case d: Country => {
                        @country.searchItem(d)
                    }
                    case d: UserProfile => {
                        @userProfile.searchItem(d)
                    }
                    case d: Group => {
                        @group.searchItem(d)
                    }
                    case d: AuthoritativeSet => {
                        @authoritativeSet.searchItem(d)
                    }
                    case d: Vocabulary => {
                        @vocabulary.searchItem(d)
                    }
                    case _ => {
                        @common.searchItem(item)
                    }
                }
            </li>
        }
    }
</ul>
