@(result: solr.ItemPage[(MetaModel[_],String)])(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang)

<ul class="unstyled">
    @result.items.map { case(item, id) =>
        @defining(Some(id)) { implicit descriptionId =>
            <li>
                @item match {
                    case d: DocumentaryUnitMeta => {
                        @documentaryUnit.listItem(d)
                    }
                    case d: HistoricalAgentMeta => {
                        @historicalAgent.listItem(d)
                    }
                    case d: RepositoryMeta => {
                        @repository.listItem(d)
                    }
                    case d: ConceptMeta => {
                        @concept.listItem(d)
                    }
                    case d: CountryMeta => {
                        @country.searchItem(d)
                    }
                    case d: UserProfileMeta => {
                        @userProfile.searchItem(d)
                    }
                    case d: GroupMeta => {
                        @group.searchItem(d)
                    }
                    case d: AuthoritativeSetMeta => {
                        @authoritativeSet.searchItem(d)
                    }
                    case d: VocabularyMeta => {
                        @vocabulary.searchItem(d)
                    }
                    case _ => {
                        @common.searchItem(item)
                    }
                }
            </li>
        }
    }
</ul>
