@(item: AuthoritativeSet, f: Form[HistoricalAgentF], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.createHistoricalAgent")) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @historicalAgent.renderForm(None, f)

        <fieldset id="admin-area">
            <legend>@Messages("Administration")</legend>
            @formHelpers.enumChoiceInput(f("publicationStatus"), defines.PublicationStatus, "Publication Status")

            @permissions.renderVisibilityForm(vf, users, groups)
        </fieldset>

        @common.submitButtonWithLogMessageInput(Messages("submitButton.createHistoricalAgent"))
	}
} {

}
