@(item: HistoricalAgent, scripts: Html = Html(""), styles: Html = Html(""))(html: Html)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item)), scripts = scripts, styles = styles) {

    @html

} {
    @common.latestAction(item, routes.HistoricalAgents.history(item.id))
    @common.visibility(item, routes.HistoricalAgents.visibility(item.id), ContentType.HistoricalAgent)

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.HistoricalAgent, PermissionType.Annotate)) {
                <li><a href="@routes.HistoricalAgents.linkTo(item.id)">@Messages("actions.linkTo")</a></li>
            }
            @if(user.hasPermission(ContentType.HistoricalAgent, PermissionType.Update)) {
                <li><a href="@routes.HistoricalAgents.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.HistoricalAgent, PermissionType.Delete)) {
                <li><a href="@routes.HistoricalAgents.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.HistoricalAgent, PermissionType.Grant)) {
                <li><a href="@routes.HistoricalAgents.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.HistoricalAgents.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>

    <ul class="item-actions nav nav-tabs nav-stacked">
        <li><a href="@routes.ApiController.getItem(ContentType.HistoricalAgent.toString, item.id)">@Messages("actions.exportJson")</a></li>
    </ul>
}