@(item: HistoricalAgentMeta)(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash)

@historicalAgent.itemPage(item) {

    <h3>@Messages("actions.linkTo")</h3>

    <ul>
        <li><a href="@routes.HistoricalAgents.linkAnnotateSelect(item.id, defines.EntityType.HistoricalAgent)">@Messages("actions.linkToHistoricalAgent")</a></li>
        <li><a href="@routes.HistoricalAgents.linkAnnotateSelect(item.id, defines.EntityType.Concept)">@Messages("actions.linkToConcept")</a></li>
        <li><a href="@routes.HistoricalAgents.linkAnnotateSelect(item.id, defines.EntityType.DocumentaryUnit)">@Messages("actions.linkToDocumentaryUnit")</a></li>
    </ul>

}