@(page: rest.Page[HistoricalAgent], params: ListParams)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listHistoricalAgents")) {
    @common.filterableList("pagination.displayingItems", page, params, HistoricalAgents.listFilterMappings.keys, HistoricalAgents.orderMappings.keys) {
        @historicalAgent.itemList(page)
    }
} {

    @common.sidebarSection(None) {
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.HistoricalAgent, PermissionType.Create)) {
                <a class="btn btn-primary" href="@routes.HistoricalAgents.create">@Messages("actions.createNewHistoricalAgent")</a>
            }
        }
    }
}
