@(item: HistoricalAgent)(implicit req: RequestHeader, lang: Lang)

@import Isaar._

@common.searchItemOutline(item.id) {
    <a href="@routes.HistoricalAgents.get(item.id)">@item</a>
} {
    @item.descriptions.headOption.map { desc =>
        @defining(desc.listProperty(OTHER_FORMS_OF_NAME).getOrElse(Nil)) { ofn =>
            @if(!ofn.isEmpty) {
                <small>
                    <strong>
                        <ul class="unstyled inline inline-separator">
                            @ofn.map { on =>
                                <li>@on</li>
                            }
                        </ul>
                    </strong>
                </small>
            }
         }
        <small>
            <ul class="unstyled muted inline inline-separator">
                @desc.stringProperty(ENTITY_TYPE).map { et =>
                    <li>@Messages("isaar." + et)</li>
                }
                @item.latestEvent.map { event =>
                    <li title="@common.eventTitle(event)">@Messages("systemEvents.lastUpdated", views.Helpers.prettyDate(event.timeStamp))</li>
                }
            </ul>
        </small>
        @desc.stringProperty(DATES_OF_EXISTENCE).map { d =>
            <p>@d</p>
        }
        @desc.stringProperty(HISTORY).map { d =>
            <p>@d</p>
        }
        @desc.stringProperty(GENERAL_CONTEXT).map { d =>
            <p>@d</p>
        }
    }.getOrElse {
        <small>@Messages("describedEntity.noDescriptions")</small>
    }
}
