@(items: rest.Page[HistoricalAgent], params: ListParams)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listHistoricalAgents")) {

	<h3>@Messages("pagination.displayingItems", items.offset + 1, items.offset + items.items.size, items.total)</h3>

	@common.pagination(items)
	
	<ul class="unstyled">
	@items.items.map { item =>
	  	<li>
			@historicalAgent.listItem(item)
		</li>
	}
	</ul>
    
} {

    @common.sidebarSection(None) {
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.HistoricalAgent, PermissionType.Create)) {
                <a class="btn btn-primary" href="@routes.HistoricalAgents.create">@Messages("actions.createNewHistoricalAgent")</a>
            }
        }
    }
}
