@(item: HistoricalAgentDescription)(implicit req: RequestHeader, lang: Lang)

@import Isaar._

@defining(item.item) { ownerOpt =>
    @ownerOpt.map { owner =>
        @common.searchItemOutline(item.id) {
            <a href="@routes.HistoricalAgents.get(owner.id)">@owner</a>
        } {
            <small>
                <ul class="unstyled muted inline inline-separator">
                    @item.stringProperty(ENTITY_TYPE).map { et =>
                        <li>@Messages("isaar." + et)</li>
                    }
                    @item.dates.headOption.flatMap(_.formableOpt).map { dp =>
                        <li>@dp.years</li>
                    }
                </ul>
            </small>
            @item.stringProperty(DATES_OF_EXISTENCE)
            @item.stringProperty(HISTORY)
            @item.stringProperty(GENERAL_CONTEXT)
        }
    }.getOrElse {
        <div class="alert alert-error">
            <strong>Oh dear.</strong> Unable to fetch owner object for description @item.id.
        </div>
    }
}
