@(item: HistoricalAgent, annotations: Map[String,List[Annotation]], links: List[Link])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import Isaar._
@import common.descriptionSection

@historicalAgent.itemPage(item) {

    @common.annotated(item, annotations) {
        @defining(Isaar.FIELD_PREFIX) { implicit fieldPrefix =>
            @common.stringValue(item, IDENTIFIER)
            @if(!item.descriptions.isEmpty) {
                @item.descriptions.map { desc =>
                    @common.descriptionOutline(desc, desc.languageCode) {

                        @common.renderDates(desc, DATES_OF_EXISTENCE)

                        @descriptionSection(IDENTITY_AREA) {
                            @common.stringValue(desc, ENTITY_TYPE)
                            @common.stringValue(desc, AUTHORIZED_FORM_OF_NAME)
                            @common.listValue(desc, PARALLEL_FORMS_OF_NAME)
                            @common.listValue(desc, OTHER_FORMS_OF_NAME)
                        }

                        @descriptionSection(DESCRIPTION_AREA) {
                            @common.stringValue(desc, DATES_OF_EXISTENCE)
                            @common.stringValue(desc, HISTORY)
                            @common.stringValue(desc, PLACES)
                            @common.stringValue(desc, LEGAL_STATUS)
                            @common.stringValue(desc, FUNCTIONS)
                            @common.stringValue(desc, MANDATES)
                            @common.stringValue(desc, INTERNAL_STRUCTURE)
                            @common.stringValue(desc, GENERAL_CONTEXT)
                        }

                        @descriptionSection(CONTROL_AREA) {
                            @common.stringValue(desc, DESCRIPTION_IDENTIFIER)
                            @common.stringValue(desc, INSTITUTION_IDENTIFIER)
                            @common.stringValue(desc, RULES_CONVENTIONS)
                            @common.stringValue(desc, STATUS)
                            @common.stringValue(desc, LEVEL_OF_DETAIL)
                            @common.stringValue(desc, DATES_CVD)
                            @common.listValue(desc, LANGUAGES_USED, transformFunc = {s => views.Helpers.languageCodeToName(s)})
                            @common.listValue(desc, SCRIPTS_USED, transformFunc = {s => views.Helpers.scriptCodeToName(s)})
                            @common.listValue(desc, SOURCES)
                            @common.stringValue(desc, MAINTENANCE_NOTES)
                        }

                        @common.relatedLinks(item, desc, links)

                        @desc.unknownProperty.map { e =>
                            @common.unknownData(e)
                        }
                    }
                }
            }
        }
    }

    @common.annotationLinks(item, links)
}