@(item: Group, page: backend.Page[Accessor], params: utils.PageParams, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(item.toStringLang, breadcrumbs = common.breadcrumbs(List(item))) {

    @defining(EntityType.Group.toString) { implicit prefix =>
        @common.stringValue(item.model.description, models.GroupF.DESCRIPTION)
    }

    @if(!item.groups.isEmpty) {
        <hr />
        <strong>@Messages("group.parentGroups"):</strong>&nbsp;
        @item.groups.map { group =>
            <a href="@controllers.admin.routes.Groups.get(group.id)">@group</a>
        }
    }

    @common.filterableList("group.membersPageHeader", page, params) {
        <ul>
            @page.items.map { member =>
                <h4><a href="@globalConfig.routeRegistry.urlFor(member)">@member.toStringLang</a></h4>
                <a class="ajax-action" href="@controllers.admin.routes.Groups.removeMember(item.id, member.isA, member.id)" title="@Messages("accessor.groups.remove.item", member.toStringLang, item.toStringLang)">
                    @Messages("accessor.groups.remove")
                </a>
                <hr />
            }
        </ul>
    }
} {
    @common.latestAction(item, controllers.admin.routes.Groups.history(item.id))

    @common.sidebarActions { user =>
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Create)) {
            <a href="@controllers.admin.routes.Groups.create">@Messages("group.create")</a></li>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Update)) {
            <a href="@controllers.admin.routes.Groups.update(item.id)">@Messages("group.edit")</a></li>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.admin.routes.Groups.permissions(item.id)">@Messages("permissions.global.manage")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.admin.routes.Groups.grantList(item.id)">@Messages("permissions.itemLevel.show")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.admin.routes.Groups.membership(item.isA, item.id)">@Messages("accessor.groups.manage")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Delete)) {
            <a href="@controllers.admin.routes.Groups.delete(item.id)">@Messages("group.delete")</a>
        }
        @common.sidebarAction() {
            <a href="@controllers.admin.routes.Groups.history(item.id)">@Messages("item.history")</a>
        }
    }
}