@(page: utils.RangePage[Seq[SystemEvent]], params: utils.RangeParams, filterForm: Form[utils.SystemEventParams], users: Seq[(String,String)], call: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)


@views.html.admin.layout.rightSidebar(Messages("systemEvent.list")) {

    @views.html.admin.systemEvent.eventFilter(
        filterForm,
        params,
        call,
        users
    )

	<ul class="event-list">
	    @page.map(e => views.html.admin.systemEvent.aggregateEntry(e))
	</ul>

    @common.rangePagination(page)
} {

}
