@(filterForm: Form[utils.SystemEventParams], range: utils.RangeParams, action: Call, users: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import services.data.Constants._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

<fieldset class="event-filter">
    <legend>@Messages("systemEvent.filter")</legend>
    @helper.form(action = action, 'class -> "", 'role -> "form") {
        <input type="hidden" name="@OFFSET_PARAM" value="@range.offset" />
        <input type="hidden" name="@LIMIT_PARAM" value="@range.limit" />
        @defining("systemEvent") { implicit fieldPrefix =>
            @formHelpers.enumChoiceInput(
                filterForm(""),
                EVENT_TYPE,
                EventType,
                '_autosubmit -> true,
                'multiple -> true
            )
            @formHelpers.choiceInput(
                filterForm(""),
                USERS,
                users.toList,
                '_autosubmit -> true,
                'multiple -> true
            )
        }
    }
</fieldset>
