@(item: SystemEvent)(implicit globalConfig: global.GlobalConfig, messages: Messages)

<h4 class="event-title">
    <a data-timestamp="@item.time" href="@controllers.events.routes.SystemEvents.get(item.id)">
        @item.scope.map(_.toStringLang)
        <i>@item.toStringLang</i>
    </a>
</h4>
<div class="event-details">
    <ul class="event-meta">
        @item.actioner.map { accessor =>
            <li><a class="alt" href="@views.admin.Helpers.linkTo(accessor)">@accessor.toStringLang</a></li>
        }
        <li title="@item.model.datetime">@views.Helpers.relativeDate(item.model.timestamp)</li>
    </ul>
</div>
<div class="small">
    @item.firstSubject.map { s =>
    <a href="@controllers.events.routes.SystemEvents.get(item.id)#subjects">
    @Messages("systemEvent.subjects.list", s.toStringLang, item.childCount.map(_ - 1).getOrElse(0))
    </a>
    }.getOrElse {
        @item.version.map { version =>
            @Messages("systemEvent.deletion.itemInfo", version.model.itemType, version.model.itemId)
            @version.model.entity.map { entity =>
            <p>@entity.toStringLang</p>
            }.getOrElse {
                @Messages("systemEvent.deletion.noInfo")
            }
        }.getOrElse {
            @Messages("systemEvent.deletion.noInfo")
        }
    }
    @item.model.logMessage.filterNot(_.trim.isEmpty).map { lm =>
        <blockquote>@lm</blockquote>
    }
</div>
