@(filterForm: Form[utils.SystemEventParams], params: utils.RangeParams, action: Call, users: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

@import backend.rest.Constants._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.cleanFieldTemplate.f) }

<div class="event-filter">
@helper.form(action = action, 'class -> "form-inline", 'role -> "form") {
    <input type="hidden" name="@OFFSET_PARAM" value="@params.offset" />
    <input type="hidden" name="@LIMIT_PARAM" value="@params.limit" />
    @defining(defines.EntityType.SystemEvent.toString) { implicit fieldPrefix =>
        @formHelpers.multiselectInput(
            filterForm(EVENT_TYPE),
            EVENT_TYPE,
            defines.EventType.values.map(e => e.toString -> Messages(fieldPrefix + "." + e.toString)).toSeq.sorted,
            autosubmit = true
        )
        @formHelpers.multiselectInput(
            filterForm(USERS),
            USERS,
            users,
            autosubmit = true
        )
    }
}
</div>
