@(item: SystemEvent)(implicit conf: AppConfig, messages: Messages)

<h4 class="event-item-heading">
    <a data-timestamp="@item.time" href="@controllers.events.routes.SystemEvents.get(item.id)">
        @item.scope.map(_.toStringLang)
        <em class="event-item-action">@item.toStringLang</em>
    </a>
</h4>
<div class="event-item-details">
    <ul class="event-item-meta">
        @item.actioner.map { accessor =>
            <li><a class="alt" href="@views.admin.Helpers.linkTo(accessor)">@accessor.toStringLang</a></li>
        }
        <li title="@item.data.datetime">@views.Helpers.relativeDate(item.data.timestamp)</li>
    </ul>
</div>
<div class="small">
    @item.firstSubject.map { s =>
        <a href="@controllers.events.routes.SystemEvents.get(item.id)#subjects">
            @Messages("systemEvent.subjects.list", s.toStringLang, item.childCount.map(_ - 1).getOrElse(0))
        </a>
    }.getOrElse {
        @item.version.map { version =>
            @Messages("systemEvent.deletion.itemInfo", version.data.itemType, version.data.itemId, item.childCount.map(_ - 1).getOrElse(0))
            @version.data.entity.map { entity =>
                <p>@entity.toStringLang</p>
            }
        }.getOrElse {
            @Messages("systemEvent.deletion.noInfo")
        }
    }
    @item.data.logMessage.filterNot(_.trim.isEmpty).map { lm =>
        <div class="event-item-message">@lm</div>
    }
</div>
