@(page: utils.RangePage[Seq[SystemEvent]], params: utils.RangeParams, filterForm: Form[utils.SystemEventParams], users: Seq[(String, String)], call: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{views.html.helper.FieldConstructor(formHelpers.cleanFieldTemplate.f)}

@views.html.admin.layout.rightSidebar(Messages("systemEvent.list")) {
    @views.html.admin.systemEvent.eventFilter(
        filterForm,
        params,
        call,
        users
    )

    <ul class="event-list">
        @views.html.admin.systemEvent.aggregateList(page)
    </ul>

    @common.rangePagination(page)
} {
}
