@(item: SystemEvent, page: utils.Page[models.base.Model], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(item.title, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <p>
        @item.actioner.map { accessor =>
            <a href="@views.admin.Helpers.linkTo(accessor)">@accessor.toStringLang</a>:
        }
        <time>@item.time</time>
        (@views.Helpers.relativeDate(item.data.timestamp))
    </p>

    @item.data.logMessage.filterNot(_.trim.isEmpty).map { lm =>
        <blockquote>@lm</blockquote>
    }

    @item.scope.map { scope =>
        @Messages("systemEvent.scope"):  <a href="@views.admin.Helpers.linkTo(scope)">@scope.toStringLang</a>
    }

    <div id="subjects">
        @* If it's a deletion event the subject won't be available (because
            it's been deleted. In this case we have to look for data in
            the last connected item version. *@
        @if(item.data.eventType.contains(defines.EventType.deletion)) {
            @item.version.map { version =>
                @Messages("systemEvent.deletion.itemInfo", version.data.itemType, version.data.itemId, item.childCount.map(_ - 1).getOrElse(0))
                @version.data.entity.map { entity =>
                    <h4>@entity.toStringLang</h4>
                }
            }.getOrElse {
                @Messages("systemEvent.deletion.noInfo")
            }
        } else {
                <h4>@Messages("systemEvent.subjects"): @Messages("pagination.displayingItems", page.start, page.end, page.total)</h4>
                @common.pagination(page)
                <ul class="list-unstyled">
                    @page.items.map { item =>
                        <li>
                            @views.admin.Helpers.linkToOpt(item).map { url =>
                                <a href="@url">@item.toStringLang</a>
                            }.getOrElse {
                                @item.toStringLang
                            }
                        </li>
                    }
                </ul>
        }
    </div>
} {

}
