@(item: Model, page: utils.Page[Version], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@import views.Helpers

@views.html.admin.layout.noSidebar(Messages("item.versions.item", item.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)

    <ul class="list-unstyled">
        @page.items.map { version =>
            <li>
                @version.data.id
                @version.event.map { event =>
                    @event.data.eventType
                }
            </li>
        }
    </ul>
}
