@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

    @extrascripts = {
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js"></script>
        <script src="@controllers.core.routes.Assets.at("js/ui-bootstrap-0.10.0.min.js")" type="text/javascript"></script>
        <script src="@controllers.archdesc.routes.Assets.at("js/AccessPointLinker.js")" type="text/javascript"></script>

        @helper.javascriptRouter("jsRoutes")(
            controllers.core.routes.javascript.Application.get,
            controllers.core.routes.javascript.ApiController.getItem,
            controllers.core.routes.javascript.SearchFilter.filter,
            controllers.archdesc.routes.javascript.DocumentaryUnits.linkMultiAnnotatePost,
            controllers.archdesc.routes.javascript.DocumentaryUnits.get,
            controllers.archdesc.routes.javascript.DocumentaryUnits.createLink,
            controllers.archdesc.routes.javascript.DocumentaryUnits.createAccessPoint,
            controllers.archdesc.routes.javascript.DocumentaryUnits.getLink,
            controllers.archdesc.routes.javascript.DocumentaryUnits.getAccessPointsJson,
            controllers.archdesc.routes.javascript.DocumentaryUnits.deleteAccessPointAction,
            controllers.archdesc.routes.javascript.DocumentaryUnits.deleteLink
        )
        <style type="text/css">
            .modal-dialog { width: 80%;}
        </style>
    }

@import AccessPointF._

@documentaryUnit.itemPage(item, scripts = extrascripts) {
    <h4>&quot;@desc.name&quot;</h4>
    <div ng-app="AccessPointLinker" class="ng-cloak">
        <div ng-controller="LinkerCtrl" ng-init="init('@item.id','@desc.id')">
            <ul class="list-unstyled">
            @AccessPointType.values.toList.map { accessPointType =>
                <li class="accessPointList @accessPointType">
                    <h3>@Messages("documentaryUnit." + IsadG.ACCESS_POINTS + "." + accessPointType)</h3>
                    <ul class="item-annotation-links list-unstyled">
                        <li ng-repeat="access in getAccessPointsWithType('@accessPointType')" id="{{access.accessPoint.id}}">
                            <span ng-switch="access.link != null">
                                <span ng-switch-when="true">
                                    <a href="{{getTypeUrl(access.target.type, access.target.id)}}">{{access.accessPoint.name}}</a>
                                    <a title="@Messages("accessPoint.removeAccessPoint")"
                                    class="glyphicon glyphicon-remove" ng-click="deleteAccessPointWithLink(access.accessPoint.id, access.link.id, access.accessPoint.name)"></a>
                                </span>

                                <span ng-switch-when="false">
                                    {{access.accessPoint.name}}
                                    <a title="@Messages("accessPoint.removeAccessPoint")"
                                        class="glyphicon glyphicon-remove" ng-click="deleteAccessPoint(access.accessPoint.id, access.accessPoint.name)"></a>
                                </span>
                            </span>
                            <small ng-show="access.accessPoint.description">
                                <p class="text-muted">{{access.accessPoint.description}}</p>
                            </small>
                        </li>

                        <li ng-switch="editInProgress('@accessPointType')">
                            <small ng-switch-when="false">
                                <a ng-click="initialiseEdit('@accessPointType')">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                    @Messages("accessPoint.create")
                                </a>

                            </small>
                            <div class="form-horizontal" ng-switch-when="true" class="new-access-point">
                                <h4>@Messages("accessPoints.newAccessPoint")</h4>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        @Messages("accessPoint.name")
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="@Messages("accessPoint.name")" ng-change="queryNameMatches()" ng-model="tempAccessPoint.name" autofocus="true" />
                                             <div class="input-group-btn">
                                                <a class="btn btn-default" ng-click="openBrowseDialog()">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="help-block">
                                            <div class="potential-matches list-group list-group-small" style="overflow: auto; max-height: 200px">
                                                <a class="list-group-item" ng-repeat="item in matches" ng-click="selectLinkMatch(item)">
                                                    <span class="badge">{{readableType(item[2])}}<span ng-show="item[3]!=''"> / {{item[3]}}</span></span>
                                                    {{item[1]}}
                                                </a>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        @Messages("accessPoint.description")
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="@Messages("accessPoint.description")" ng-model="tempAccessPoint.description" />
                                    </div>
                                </div>
                                <div class="form-group" ng-switch="tempAccessPoint.link != null">
                                    <label ng-switch-when="true"  class="col-sm-3 control-label">Options
                                    </label>
                                    <div ng-switch-when="true" class="col-sm-9">
                                        <i class="glyphicon glyphicon-link"></i>
                                        <a target="_blank" href="{{getUrl(tempAccessPoint.link.target)}}">{{tempAccessPoint.link.name}}</a>
                                        <a title="@Messages("accessPoint.removeAccessPointLink")"
                                           class="glyphicon glyphicon-remove" ng-click="removeTempAccessPointLink()"></a>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button class="btn btn-small btn-primary" ng-click="saveNewAccessPoint()" ng-disabled="!hasValidNewAccessPoint('@accessPointType')">
                                            @Messages("save")</button>
                                        <button class="btn btn-small btn-danger" ng-click="cancelAddAccessPoint()">@Messages("cancel")</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <hr />
                </li>
            }
            </ul>
        </div>
    </div>
}
