@(item: DocumentaryUnit, f: play.api.data.Form[DocumentaryUnitF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.updateDocumentaryUnit"), breadcrumbs = documentaryUnit.breadcrumbs(item)) {
		
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
		@documentaryUnit.renderForm(f)
        @common.submitButtonWithLogMessageInput(Messages("submitButton.updateDocumentaryUnit"), cancel = Some(globalConfig.routeRegistry.urlFor(item)))
	}
} {
    @documentaryUnit.formNav()
}
