@()

<script src="@controllers.core.routes.Assets.at("js/bootstrap-datepicker.js")" type="text/javascript"></script>

<script>
    $(document).ready(function() {
    	//Shared variables
		re = /(\w+)\.dates\[([0-9]+)\]/;
		var defaultStartView = "decade";
		var defaultFormat = 'yyyy-mm-dd';

		//Callback functions
		function dateField(name, regResults) {
			precision = regResults[1] + ".dates[" + regResults[2] + "]." + name
			precision = "*[name='" + precision + "']";
			return precision;
		}

		function defaultMinViewMode(that, datepick) {
    		if(typeof datepick === false) {
    			console.log("datepick is false");
	    		precision = that.val();
	    	} else {
				var m;
	    		name = that.attr("name");
	    		m = re.exec(name);
	    		precision = $(dateField("precision", m)).val();
	    	}

    		switch (precision) {
				case 'month':
				case 'quarter':
					precision = 1;
					break;
				case 'year':
				case 'decade':
					precision = 2;
					break;
				default:
					precision = 0;
					break;
			}

    		return precision || false;
		}

		function hasDatepicker(obj) {
			if(typeof obj.datepicker === "undefined") {
				return false;
			} else {
				return true;
			}
		}

		//jQuery Handler
		$(document).on("change", ".precision", function() {
    		var m;
			that = $(this);
			m = re.exec(that.attr("name"));

			start = $(dateField("startDate", m));
			end = $(dateField("endDate", m));

			if(hasDatepicker(start)) { start.datepicker("remove"); }
			start.datepicker({
            	startView: defaultStartView, 
            	format: defaultFormat,
            	minViewMode : function() {
            		console.log(defaultMinViewMode(that));
            		return defaultMinViewMode(that, true);
            	}
			});
			if(hasDatepicker(end)) { end.datepicker("remove"); }
			end.datepicker({
            	startView: defaultStartView, 
            	format: defaultFormat,
            	minViewMode : function() {
            		return defaultMinViewMode(that, true);
            	}
			});
		});
        $(document).on('click', 'input.datepicker', function () {
        	that = $(this);
            that.datepicker({
            	startView: defaultStartView, 
            	format: defaultFormat,
            	minViewMode : function() {
            		console.log(that);
            		return defaultMinViewMode(that, false);
            	}
            }).datepicker('show');
            console.log(that);
        });
    });
</script>
