@(item: DocumentaryUnit, form: play.api.data.Form[LinkF])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@extrascripts = {
    @helper.javascriptRouter("jsRoutes")(
        controllers.core.routes.javascript.SearchFilter.filter,
        controllers.admin.routes.javascript.Admin.get,
        controllers.admin.routes.javascript.Admin.getType,
        controllers.archdesc.routes.javascript.DocumentaryUnits.linkAnnotatePost,
        controllers.archdesc.routes.javascript.DocumentaryUnits.get
    )
    <script src="@controllers.core.routes.Assets.versioned("js/lib/handlebar.js")"></script>
    <script src="@controllers.core.routes.Assets.versioned("js/lib/typeahead.js")"></script>
    <script src="@controllers.core.routes.Assets.versioned("js/bootstrap.confirmation.js")"></script>
    <script src="@controllers.core.routes.Assets.versioned("js/admin-linker.js")"></script>
    <script type="text/javascript">
        LINK_ACTION = "documentaryUnit";
        SAVE_LABEL = "@Messages("save")";
        CONTROLLER_NAME = "DocumentaryUnits"
        MODULE_NAME = "archdesc";
    </script>
    <style type="text/css">
        .modal-dialog { width: 80%;}
        .model { display:none; }
        .new-access-point { display: none; }
        .pages { display: none; }
        .submit-group { display : none; }
        /*.element .form-group { margin-bottom:0;}*/
        .help-block { display:none;}
        .form-group.element:not(.model) {
            border:1px solid rgba(252,​ 252,​ 252, 1.0);
            padding:5px;
        }
    </style>
}

@import DocumentaryUnitF.LinksTypes

@documentaryUnit.itemPage(item, scripts = extrascripts) {
    <h3>@Messages("link.create")</h3>

    <ul class="list-unstyled">
    @LinksTypes.values.toList.map { linkType =>
        @formHelpers.adminLinker(item.id, linkType.toString, form)
    }
    </ul>
}