@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@documentaryUnit.itemPage(item) {

    <h3>@Messages("actions.linkTo")</h3>

    <ul>
        <li><a href="@controllers.archdesc.routes.DocumentaryUnits.linkAnnotateSelect(item.id, defines.EntityType.HistoricalAgent)">@Messages("actions.linkToHistoricalAgent")</a></li>
        <li><a href="@controllers.archdesc.routes.DocumentaryUnits.linkAnnotateSelect(item.id, defines.EntityType.Concept)">@Messages("actions.linkToConcept")</a></li>
        <li><a href="@controllers.archdesc.routes.DocumentaryUnits.linkAnnotateSelect(item.id, defines.EntityType.DocumentaryUnit)">@Messages("actions.linkToDocumentaryUnit")</a></li>
    </ul>

}