@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, links: List[Link])(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang)

@import defines._
@import models.IsadG._
@import views.html.common.descriptionSection

@common.descriptionOutline(desc, desc.languageCode) {
    <h2>@desc.name</h2>

    @descriptionSection(IDENTITY_AREA) {
        @common.stringValue(desc.`abstract`, ABSTRACT)
        @common.renderDates(desc, DATES)
        @common.stringValue(Some(desc.levelOfDescription.toString), LEVEL_OF_DESCRIPTION)
        @common.stringValue(desc.extentAndMedium, EXTENT_MEDIUM)
    }
    @descriptionSection(CONTEXT_AREA) {
        @common.stringValue(desc.context.biographicalHistory, ADMIN_BIOG)
        @common.stringValue(desc.context.archivalHistory, ARCH_HIST)
        @common.stringValue(desc.context.acquisition, ACQUISITION)
    }

    @descriptionSection(CONTENT_AREA) {
        @common.stringValue(desc.content.scopeAndContent, SCOPE_CONTENT)
        @common.stringValue(desc.content.appraisal, APPRAISAL)
        @common.stringValue(desc.content.accruals, ACCRUALS)
        @common.stringValue(desc.content.systemOfArrangement, SYS_ARR)
    }

    @descriptionSection(CONDITIONS_AREA) {
        @common.stringValue(desc.conditions.conditionsOfAccess, ACCESS_COND)
        @common.stringValue(desc.conditions.conditionsOfReproduction, REPROD_COND)

        @common.listValue(desc.conditions.languageOfMaterials, LANG_MATERIALS, transformFunc = {s => views.Helpers.languageCodeToName(s)})
        @common.listValue(desc.conditions.scriptOfMaterials, SCRIPT_MATERIALS, transformFunc = {s => views.Helpers.scriptCodeToName(s)})
        @common.stringValue(desc.conditions.physicalCharacteristics, PHYSICAL_CHARS)
        @common.stringValue(desc.conditions.findingAids, FINDING_AIDS)
    }

    @descriptionSection(MATERIALS_AREA) {
        @common.stringValue(desc.materials.locationOfOriginals, LOCATION_ORIGINALS)
        @common.stringValue(desc.materials.locationOfCopies, LOCATION_COPIES)
        @common.stringValue(desc.materials.relatedUnitsOfDescription, RELATED_UNITS)
        @common.stringValue(desc.materials.publicationNote, PUBLICATION_NOTE)
    }

    @descriptionSection(NOTES_AREA) {
        @common.listValue(desc.notes, NOTES)
    }

    @descriptionSection(CONTROL_AREA) {
        @common.stringValue(desc.control.archivistNote, ARCHIVIST_NOTE)
        @common.stringValue(desc.control.rulesAndConventions, RULES_CONVENTIONS)
        @common.stringValue(desc.control.datesOfDescriptions, DATES_DESCRIPTIONS)
    }

    @common.relatedLinks(item, desc, links)

    @desc.unknownProperties.map { e =>
        @common.unknownData(e)
    }
}
