@(f: play.api.data.Form[DocumentaryUnitF])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@import models.IsadG._
@import models.DocumentaryUnitF._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(IsadG.FIELD_PREFIX) { implicit fieldPrefix =>

    @formHelpers.lineInput(f(""), Entity.IDENTIFIER)
    @formHelpers.inlineNameSet(f(""), OTHER_IDENTIFIERS)

    @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
        @documentaryUnit.renderDescriptionForm(desc)
    }
}

@formHelpers.descriptionFormSection(ADMINISTRATION_AREA) {
    @formHelpers.enumChoiceInput(f(PUB_STATUS), defines.PublicationStatus, Messages(PUB_STATUS))
    @defining("copyrightStatus") { implicit fieldPrefix =>
        @formHelpers.enumChoiceInput(f(COPYRIGHT), CopyrightStatus, Messages(COPYRIGHT))
    }
    @defining("scope") { implicit fieldPrefix =>
        @formHelpers.enumChoiceInput(f(SCOPE), Scope, Messages(SCOPE))
    }
}
