@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@import org.apache.commons.lang3.StringUtils

@desc.identity.parallelFormsOfName.map { ofn =>
    @if(!ofn.isEmpty) {
        <small>
            <strong>
                <ul class="list-unstyled inline inline-separator">
                    @ofn.map { on =>
                    <li>@on</li>
                    }
                </ul>
            </strong>
        </small>
    }
}



@if(!item.ancestors.isEmpty) {
    <small>
        <ul class="list-unstyled text-muted inline inline-separator">
            @item.ancestors.reverse.map { parent =>
                <li>
                    <a href="@controllers.archdesc.routes.DocumentaryUnits.get(parent.id)">@views.Helpers.ellipsize(parent.toStringLang,100)</a>
                </li>
            }
        </ul>
    </small>
}
<small>
    <ul class="list-unstyled text-muted inline inline-separator">
        @item.holder.map { holder =>
            <li><a class="alt" href="@controllers.archdesc.routes.Repositories.get(holder.id)">@holder.toStringAbbr</a></li>
        }
        <li><span class="text-muted">@views.Helpers.languageCodeToName(desc.languageCode)</span></li>

        @desc.dates.headOption.map { dp =>
            <li>@dp.years</li>
        }
        @desc.identity.extentAndMedium.map { s =>
            <li>@s</li>
        }
        @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">
                <time datetime="@event.model.timestamp">@Messages("systemEvents.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</time>
            </li>
        }
    </ul>
    @views.html.common.childCount(item) { count =>
        @if(count > 0) {
            <a href="@controllers.archdesc.routes.DocumentaryUnits.get(item.id)#search-items">@Messages(EntityType.DocumentaryUnit + ".childCount", count)</a>
        }
    }
</small>
@desc.displayText.map(StringUtils.abbreviate(_, 600)).map { sc =>
    <p>@sc</p>
}


