@(f: Form[models.Guide], guides: List[Guide], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@breadcrumbs = {
    <li><a href="@controllers.guides.routes.Guides.list()">@Messages("guide.heading")</a></li>
}

@views.html.admin.layout.guidesAdminLayout(Messages("guide.create"), guides, breadcrumbs = breadcrumbs) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
    	@renderForm(None, f, pages = Nil)

        @formHelpers.submitButton(Messages("guide.create"))
	}
}
