@(f: Form[models.Guide], guides: List[Guide], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@breadcrumbs = {
	<ol class="breadcrumb">
		<li><a href="@controllers.guides.routes.Guides.list()">@Messages("guide.heading")</a></li>
	</ol>
}

@views.html.admin.layout.guidesAdminLayout(Messages("guide.create"), guides, breadcrumbs = breadcrumbs) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
    	@renderForm(None, f, pages = Nil)

        @formHelpers.submitButton(Messages("guide.create"))
	}
}