@(g: Guide, f: Form[models.Guide], guides: List[Guide], pages: List[GuidePage], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@breadcrumbs = {
    <li><a href="@controllers.guides.routes.Guides.list()">@Messages("guide.heading")</a></li>
    <li><a class="active" href="@controllers.guides.routes.Guides.show(g.path)">@g.name</a></li>
}

@sidebar = {
	<a class="btn btn-danger" href="@controllers.guides.routes.Guides.delete(g.path)">
        @Messages("guide.delete")
    </a>
}

@views.html.admin.layout.guidesAdminLayout(Messages("guide.update.item", g.name), guides, breadcrumbs = breadcrumbs, sideBar= sidebar) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
    	@renderForm(None, f, pages)

        @formHelpers.submitButton(Messages("guide.update.submit"))
	}
}
