@(guides: List[Guide])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.guidesAdminLayout(Messages("guide.heading"), guides) {
	<h4>Available Guides</h4>
	<ul class="nav nav-pills nav-stacked">
		@for(guide <- guides) {
			<li>
				<a href="@controllers.guides.routes.Guides.show(guide.path)">@guide.name</a>
			</li>
		}
		<li>
			<a href="@controllers.guides.routes.Guides.create()"><span class="fa fa-plus-circle"></span> @Messages("guide.create")</a>
		</li>
	</ul>
}
