@(item: Option[Guide], f: Form[Guide], pages: List[GuidePage])(implicit messages: Messages, md: MarkdownRenderer)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(Guide.PREFIX) { implicit fieldPrefix =>
    @formHelpers.lineInput(f(""), Guide.NAME)
    @formHelpers.lineInput(f(""), Guide.PATH)
    @formHelpers.lineInput(f(""), Guide.PICTURE)
    @formHelpers.lineInput(f(""), Guide.VIRTUALUNIT)
    @formHelpers.textInput(f(""), Guide.DESCRIPTION)
    @formHelpers.textInput(f(""), Guide.CSS)
    @formHelpers.checkbox(f(""), Guide.ACTIVE)

    @if(pages.nonEmpty) {
        @helper.select(
            f(Guide.DEFAULT_PAGE),
            pages.map(p => p.id.getOrElse(0).toString -> p.name),
            attrs._class -> "select2 form-control",
            attrs._default -> "---",
            attrs._label -> Messages(Guide.PREFIX + "." + Guide.DEFAULT_PAGE)
        )
    } else {
        @formHelpers.hiddenInput(f(Guide.DEFAULT_PAGE))
    }
}
