@(g: Guide, pages: List[GuidePage], guides: List[Guide])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@breadcrumbs = {
    <li><a href="@controllers.guides.routes.Guides.list()">@Messages("guide.heading")</a></li>
    <li><a class="active" href="@controllers.guides.routes.Guides.show(g.path)">@g.name</a></li>
}

@views.html.admin.layout.guidesAdminLayout("Guide", guides, Some(g  -> pages), breadcrumbs) {
	<h3>@g.name - <a href="@controllers.guides.routes.Guides.edit(g.path)">@Messages("guide.update")</a></h3>
	<h4>@Messages("guidePage.list")</h4>
	<ul class="nav nav-pills nav-stacked">
		@for(pa <- pages) {
			<li>
				<a href="@controllers.guides.routes.GuidePages.edit(g.path, pa.path)">@pa.name <span class="badge">@Messages(GuidePage.PREFIX + "." + pa.layout)</span></a>
			</li>
		}
		<li>
			<a href="@controllers.guides.routes.GuidePages.create(g.path)"><span class="fa fa-plus-circle"></span> @Messages("guidePage.create")</a>
		</li>
	</ul>
}
