<div class="modal-header">
	<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
	<ul class="nav nav-pills nav-justified">
        <li  ng-class="(type == []) && 'active'" ng-show="availableTypes.length != 1">
            <a ng-click="setType()">
                All
            </a>
        </li>
		<li  ng-class="(type == ['documentaryUnit']) && 'active'" ng-show="availableTypes.length == 0">
			<a ng-click="setType('documentaryUnit')">
				Documentary Units
			</a>
        </li>
		<li  ng-class="(type == ['historicalAgent']) && 'active'" ng-show="availableTypes.length == 0">
			<a ng-click="setType('historicalAgent')">
				Authorities
			</a>
        </li>
		<li  ng-class="(type == ['cvocConcept']) && 'active'" ng-show="availableTypes.length == 0">
			<a ng-click="setType('cvocConcept')">
				Concepts
			</a>
		</li>
		<li  ng-class="(type == [aType]) && 'active'" ng-repeat="aType in availableTypes" ng-show="availableTypes.length > 1">
			<a ng-click="setType(aType)" ng-bind="aType"></a>
		</li>
		<li style="opacity:0;" ng-show="availableTypes.length == 1"><a></a></li>
	</ul>
</div>
<div class="modal-body" style="padding-bottom:0;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div style="height:50px; line-height:50px;">
					<form class="form-inline" name="searchForm" >
						<input type="text" class="form-control search-query" ng-model="q" ng-change="doSearch(q)" placeholder="Type your query there">
					</form>
				</div>
				
				<div style="overflow:auto; height:290px;" id="results" ng-show="results.length" ng-clock>
					<div class="result list-group list-group-small">
						<a class="list-group-item" ng-class="result.isSelected && 'active'" ng-repeat="result in results[pageInfos.currentPage]" ng-click="setItem(result)">
                            {{result.1}}
                            <span class="badge">{{readableType(result.2)}}</span>
						</a>
					</div>
				</div>
				
				<div style="padding-top:4px;">
					<!-- Pagination -->
					<pagination items-per-pages="1" total-items="pageInfos.numPages" page="pageInfos.currentPage" class="pagination-sm pagination-no-margin" previous-text="&laquo;" next-text="&raquo;" max-size="pageInfos.maxSize"></pagination>
				</div>
			</div>
			
			<div class="col-md-4" style="height:400px;">
				<div  class="description" style="overflow:auto; max-height:305px;">
					<h5>{{itemData.relationships.describes[0].data.name}}</h5>
					<p ng-bind-template="{{itemData.relationships.describes[0].data.scopeAndContent}}"></p>
                    <p ng-bind-template="{{itemData.relationships.describes[0].data.history}}"></p>
					<p ng-bind-template="{{itemData.relationships.describes[0].data.archivalHistory}}"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Cancel</button>
	<button class="btn btn-primary btn-success" ng-click="selectItem()" ng-class="item == null && 'disabled'">Select Item</button>
</div>
