@(list: List[SystemEvent], params: utils.ListParams, filterForm: Form[utils.SystemEventParams], users: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import defines.EventType
@import backend.rest.Constants._
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.cleanFieldTemplate.f) }


@layout.rightSidebar(Messages("systemEvent.list")) {

    <div class="event-filter">
        @helper.form(action = controllers.users.routes.SystemEvents.list, 'class -> "form-inline", 'role -> "form") {
            <input type="hidden" name="@OFFSET_PARAM" value="@params.offset" />
            <input type="hidden" name="@LIMIT_PARAM" value="@params.limit" />
            @defining(EntityType.SystemEvent.toString) { implicit fieldPrefix =>
                @formHelpers.multiselectInput(
                    filterForm(EVENT_TYPE),
                    EVENT_TYPE,
                    EventType.values.map(e => e.toString -> Messages(fieldPrefix + "." + e.toString)).toSeq.sorted,
                    autosubmit = true
                )
                @formHelpers.multiselectInput(
                    filterForm(USERS),
                    USERS,
                    users,
                    autosubmit = true
                )
            }
        }
    </div>

	<ul class="list-unstyled">
	@list.map { item =>
	  	<div class="list-item">
			<h4>
                <a data-timestamp="@item.time" href="@controllers.users.routes.SystemEvents.get(item.id)">
                    @item.scope.map { scope =>
                        @scope.toStringLang -
                    }
                    <i>@item.toStringLang</i>
                </a>
			</h4>
            <small>
                <ul class="list-unstyled text-muted inline inline-separator">
                    @item.actioner.map { accessor =>
                        <li><a class="alt" href="@globalConfig.routeRegistry.urlFor(accessor)">@accessor.toStringLang</a></li>
                    }
                    <li>@views.Helpers.relativeDate(item.model.timestamp)</li>
                </ul>
            </small>
            <small>
            @item.firstSubject.map { s =>
                <a href="@controllers.users.routes.SystemEvents.get(item.id)#subjects">@Messages("systemEvent.subjects", s.toStringLang, item.childCount.map(_ - 1).getOrElse(0))</a>
            }
            @item.model.logMessage.map { lm =>
                <p>@lm</p>
            }
            </small>
		</div>
	}
	</ul>

    <div id="pagination" class="pull-right">
        <ul class="pagination">
            @if(params.offset > 0) {
                <li>
                    <a href="@utils.joinPath(req.path, req.queryString.updated(OFFSET_PARAM, Seq((math.max(0,params.offset - params.limit)).toString)))">
                        @Messages("systemEvents.newerEvents")</a>
                </li>
            } else {
                <li class="disabled"><a>@Messages("systemEvent.newerEvents")</a></li>
            }
            <li><a href="@utils.joinPath(req.path, req.queryString.updated(OFFSET_PARAM, Seq((params.offset + params.limit).toString)))">
            @Messages("systemEvent.olderEvents")</a></li>
        </ul>
    </div>
} {

}