@(item: AnyModel, page: backend.Page[Version], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import views.Helpers

@layout.noSidebar(Messages("item.versions.item", item.toStringLang), breadcrumbs = common.breadcrumbs(List(item))) {
    <h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)

    <ul class="list-unstyled">
        @page.items.map { version =>
            <li>
                @version.model.id
                @version.event.map { event =>
                    @event.model.eventType
                }
            </li>
        }
    </ul>
}