@**
* Render annotation comments around some HTML content
*
*@
@(item: DescribedMeta[Description, Described[Description]], desc: models.base.Description, links: List[Link])(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig)

@relatedLinks(list: List[AccessPointF], accessPointType: AccessPointF.AccessPointType.Value) = {
    @if(!list.isEmpty) {
        <h4>
            @Messages(prefix + ".accessPoints." + accessPointType)
        </h4>
        <ul class="item-annotation-links">
            @list.map { accessPoint =>
                @accessPoint.target(item, links).map { case (link, other) =>
                    <li class="resolved-access-point" id="@accessPoint.id">
                         <a href="@globalConfig.routeRegistry.urlFor(other)">@accessPoint.name</a> [<a href="@controllers.linking.routes.Links.get(link.id)">*</a>]
                        @link.model.description.map { desc =>
                            <small><p class="muted">@desc</p></small>
                        }
                    </li>
                }.getOrElse {
                    <li class="unresolved-access-point" id=" @accessPoint.id">
                        @accessPoint.name
                        @accessPoint.description.filter(_.trim.isEmpty).map { desc =>
                            <small><p class="muted">@desc</p></small>
                        }
                    </li>
                }
            }
        </ul>
    }
}


@if(!desc.accessPoints.isEmpty) {
    <h3>@Messages(prefix + ".accessPoints")</h3>
    @AccessPointF.AccessPointType.values.toList.map { accessPointType =>
        @relatedLinks(desc.accessPoints.filter(_.accessPointType == accessPointType), accessPointType)
    }
}
