@(item: Link, annotations: Seq[Annotation], src: Option[String] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(Messages("link.itemLink"), breadcrumbs = common.breadcrumbs(List(item))) {

    @common.annotated(item, annotations) {
        @item.model.description

        <h4>@Messages("link.items")</h4>
        <ul>
        @item.targets.map { item =>
            <li>
                <a href="@globalConfig.routeRegistry.urlFor(item.isA, item.id)">@item.toStringLang</a>
            </li>
        }
        </ul>

        @item.user.map { u =>
            <h4>@Messages("link.creator")</h4>
            <a href="@globalConfig.routeRegistry.urlFor(u)">@u.toStringLang</a>
        }

    }
} {



    @common.promotion(item, controllers.linking.routes.Links.promote(item.id), controllers.linking.routes.Links.demote(item.id), ContentTypes.Link)
    @common.visibility(item, controllers.linking.routes.Links.visibility(item.id), ContentTypes.Link)
    @common.latestAction(item, controllers.linking.routes.Links.history(item.id))

    @common.sidebarActions { user =>
        @common.sidebarAction(user.hasPermission(ContentTypes.Link, PermissionType.Delete)) {
            <a href="@controllers.linking.routes.Links.delete(item.id, src)">@Messages("link.delete")</a>
        }
    }
}