@(id: String, page: rest.Page[ActionLog], showAction: String => Call, user: UserProfile, req: RequestHeader)

@main(Messages("actionLogs.heading"))(Some(user), req) {
    <h2>@Messages("actions.historyForItem", id)</h2>
	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.list.size, page.total)</h3>
  
	<div id="pagination" class="pagination">
    	<ul>
		@views.Helpers.paginationRanges(page.page.toInt + 1, page.numPages.toInt).map { range =>
			@range.map { cp =>
	        	@if(cp == page.page.toInt) {
	                <li class="disabled"><a>@cp</a></li>
	            } else {
	                <li><a href="@utils.joinPath(req.path, req.queryString.updated("page", Seq(cp.toString)))">@cp</a></li>
	            }
	        }
	        @if(range.last != page.numPages) {
	        	<li class="disabled"><a>...</a></li>
	        }
		}
		</ul>
	</div>
	
	<ul>
	@page.list.map { item =>
	  	<div class="list-item">
			<h4><a href="@routes.ActionLogs.get(item.id)">@item.time</a>
			@item.actioner.map { accessor =>
				@accessor match {
	
			    case u: UserProfile => {
			    	- <a href="@routes.UserProfiles.get(u.id)">@u.name</a>
			    }
			    case g: Group => {
			    	- <a href="@routes.Groups.get(g.id)">@g.name</a>
			    }
		
			    case _ => {
			    }		    
	
				}
			}
			</h4>
			<p>@item.logMessage</p>
		</div>
	}
	</ul>    
}