@(item: ActionLog)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang)

@import defines._

@main("Action " + item.identifier)(maybeUser, req) {

	<h2>@item.timeStamp</h2>
	@item.actioner.map { accessor =>
		@accessor match {

	    case u: UserProfile => {
	    	<h5><a href="@routes.UserProfiles.get(u.id)">@u.name</a></h5>
	    }
	    case g: Group => {
	    	<h5><a href="@routes.Groups.get(g.id)">@g.name</a></h5>
	    }

	    case _ => {
	    }		    

		}
	}
	<p>@item.logMessage</p>
  
	<ul class="item-actions">
	    <li><a href="@routes.ActionLogs.list()">@Messages("actions.backToList")</a></li>
    </ul>
}