@(field: play.api.data.Field)(implicit fieldPrefix: String, messages: Messages, md: views.MarkdownRenderer)

@import Isdiah._
@import views.html.formHelpers._

<div class="address-form inline-element">
    <a class="close remove-inline-element" tabindex="-1" href="#">&times;</a>
    @formHelpers.hiddenInput(field(Entity.ID))
    @formHelpers.lineInput(field, ADDRESS_NAME)
    @formHelpers.lineInput(field, CONTACT_PERSON)
    @inlineGeoname(field, CITY, "city")
    @formHelpers.choiceInput(field, COUNTRY_CODE, views.Helpers.countryPairList, '_blank -> true)
    @inlineGeoname(field, REGION, "region")
    @inlineGeoname(field, POSTAL_CODE, "postal")
    @inlineGeoname(field, STREET_ADDRESS, "address")
    @inlineNameSet(field, EMAIL)
    @inlineNameSet(field, TELEPHONE)
    @inlineNameSet(field, FAX)
    @inlineNameSet(field, URL)
</div>
