@(item: Repository)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.DocumentaryUnit, PermissionType.Create)) {
        <a href="@controllers.institutions.routes.Repositories.createDoc(item.id)">@Messages("documentaryUnit.create")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Annotate)) {
        <a href="@controllers.institutions.routes.Repositories.linkAnnotateSelect(item.id, EntityType.Repository)">@Messages("link.create.to.Repository")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Annotate)) {
        <a href="@controllers.institutions.routes.Repositories.linkAnnotateSelect(item.id, EntityType.DocumentaryUnit)">@Messages("link.create.to.DocumentaryUnit")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Update)) {
        <a href="@controllers.institutions.routes.Repositories.update(item.id)">@Messages("item.update")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Delete)) {
        <a href="@controllers.institutions.routes.Repositories.delete(item.id)">@Messages("item.delete")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Grant)) {
        <a href="@controllers.institutions.routes.Repositories.managePermissions(item.id)">@Messages("permissions.manage")</a>
    }
    @views.html.admin.common.sidebarAction(user.isAdmin) {
        <a href="@controllers.institutions.routes.Repositories.updateIndex(item.id)">@Messages("search.index.update")</a>
    }
}

@views.html.admin.common.sidebarSection(Some(Messages("export"))) {
    @views.html.admin.common.listGroup {
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.admin.routes.Data.getItemRawJson(item.isA, item.id)">@Messages("export.format.json")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.portal.routes.Repositories.export(item.id)">@Messages("export.format.eag")
            </a>
        }
        @if(item.hasChildren) {
            @views.html.admin.common.sidebarAction() {
                <a href="@controllers.portal.routes.Repositories.export(item.id)?format=ead">@Messages("export.format.ead")</a>
            }
        }
    }
}

@views.html.admin.common.sidebarSection(Some(Messages("ingest"))) {
    @views.html.admin.common.listGroup {
        @views.html.admin.common.sidebarAction(userOpt.forall(_.isAdmin)) {
            <a href="@controllers.institutions.routes.Repositories.ingest(item.id)">@Messages("ingest.format.ead")</a>
        }
        @views.html.admin.common.sidebarAction(userOpt.forall(_.isAdmin)) {
            <a href="@controllers.institutions.routes.Repositories.ingest(item.id, sync = true)">@Messages("ingest.format.ead-sync")</a>
        }
    }
}
