@(item: Country, f: Form[RepositoryF], defaults: Option[play.api.Configuration], vf: Form[Seq[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("repository.create"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @form(f, defaults)
        @views.html.admin.permissions.visibilityForm(vf, users, groups)
        @formHelpers.submitButtonWithLogMessageInput(Messages("repository.create.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {
	@formNav()
}
