@(item: Country, f: Form[RepositoryF], vf: Form[Seq[String]], fieldHints: forms.FormFieldHints, usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("repository.create"), EntityType.Repository, breadcrumbs = views.html.admin.country.breadcrumbs(Some(item)), scripts = formHelpers.formJs(f)) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @formHelpers.lineInput(f(""), Entity.IDENTIFIER, attrs._readonly -> true)

        @views.html.admin.repository.form(f, fieldHints)
        @views.html.admin.permissions.visibilityForm(vf, usersAndGroups)
        @formHelpers.submitButtonWithLogMessageInput(Messages("repository.create.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {
	@views.html.admin.repository.formNavigation()
}
