@(item: Repository)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

<!DOCTYPE html>

<html lang="@messages.lang.code">
    <head>
        <title>@Messages("repository.data", item.toStringLang)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="@controllers.portal.routes.PortalAssets.versioned("img/favicon.png")">
        <link href="@controllers.portal.routes.PortalAssets.versioned("bootstrap/css/datepicker.css")" rel="stylesheet">
        <link href="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/css/select2.css")" rel="stylesheet">
        <link href="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/css/select2-bootstrap.css")" rel="stylesheet">
        <link href="@controllers.admin.routes.AdminAssets.versioned("css/datamanager.css")" rel="stylesheet">

        @globalConfig.extraHeadContent.map(c => Html(c))
    </head>
    <body>

        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery-3.4.1.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery.history.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/js/select2.full.min.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/bootstrap.bundle.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/common.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/admin.js")"></script>
        <script src="@controllers.portal.routes.PortalData.jsRoutes()"></script>
        @helper.javascriptRouter("dataManagerRoutes")(
            controllers.admin.routes.javascript.Tasks.taskMonitorWS,
            controllers.institutions.routes.javascript.RepositoryData.listFiles,
            controllers.institutions.routes.javascript.RepositoryData.validateFiles,
            controllers.institutions.routes.javascript.RepositoryData.deleteFiles,
            controllers.institutions.routes.javascript.RepositoryData.deleteAll,
            controllers.institutions.routes.javascript.RepositoryData.ingestFiles,
            controllers.institutions.routes.javascript.RepositoryData.ingestAll,
            controllers.institutions.routes.javascript.RepositoryData.uploadHandle,
            controllers.institutions.routes.javascript.RepositoryData.fileUrls,
            controllers.institutions.routes.javascript.RepositoryData.harvestOaiPmh,
            controllers.institutions.routes.javascript.RepositoryData.cancelOaiPmhHarvest,
            controllers.institutions.routes.javascript.RepositoryData.getOaiPmhConfig,
            controllers.institutions.routes.javascript.RepositoryData.saveOaiPmhConfig,
            controllers.institutions.routes.javascript.RepositoryData.deleteOaiPmhConfig,
            controllers.institutions.routes.javascript.RepositoryData.testOaiPmhConfig,
            controllers.institutions.routes.javascript.RepositoryData.convertFile,
            controllers.institutions.routes.javascript.RepositoryData.convert,
            controllers.institutions.routes.javascript.RepositoryData.cancelConvert,
            controllers.institutions.routes.javascript.RepositoryData.getConvertConfig,
            controllers.institutions.routes.javascript.RepositoryData.saveConvertConfig,
            controllers.institutions.routes.javascript.RepositoryData.listDataTransformations,
            controllers.institutions.routes.javascript.RepositoryData.getDataTransformation,
            controllers.institutions.routes.javascript.RepositoryData.createDataTransformation,
            controllers.institutions.routes.javascript.RepositoryData.updateDataTransformation,
            controllers.institutions.routes.javascript.RepositoryData.deleteDataTransformation
        )

        <script>
                window.SERVICE = dataManagerRoutes.controllers.institutions.RepositoryData;
                window.CONFIG = {
                    repositoryId: "@item.id",
                    upload: "@defines.FileStage.Upload",
                    ingest: "@defines.FileStage.Ingest",
                    oaipmh: "@defines.FileStage.OaiPmh",
                    previewLoader: "@controllers.admin.routes.AdminAssets.versioned("js/datamanager.worker.js")",
                    monitorUrl: jobId => dataManagerRoutes.controllers.admin.Tasks.taskMonitorWS(jobId)
                                .absoluteURL(location.protocol === "https:")
                                .replace(/^http/, "ws"),
                    defaultTab: "@defines.FileStage.Upload",
                };
                let DONE_MSG = "@utils.WebsocketConstants.DONE_MESSAGE";
                let ERR_MSG = "@utils.WebsocketConstants.ERR_MESSAGE";
        </script>

        @if(globalConfig.isTestMode) {
            <script src="https://cdn.jsdelivr.net/npm/vue@@2.6.12/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sortablejs@@1.8.4/Sortable.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vuedraggable@@2.24.1/dist/vuedraggable.umd.js"></script>
        } else {
            <script src="https://cdn.jsdelivr.net/npm/vue@@2.6.12"></script>
            <script src="https://cdn.jsdelivr.net/npm/sortablejs@@1.8.4"></script>
            <script src="https://cdn.jsdelivr.net/npm/vuedraggable@@2.24.1"></script>
        }

        <script src="@controllers.admin.routes.AdminAssets.versioned("js/lib/axios.min.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/lib/lodash.min.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/lib/luxon.min.js")"></script>
        <script src="@controllers.portal.routes.PortalData.localeData()"></script>

        <div id="flex-wrapper">
            <header id="header" class="navigation">
                @views.html.admin.common.adminNavBar()
            </header>
            @views.html.admin.common.testWarning()
            @views.html.admin.common.breadcrumbs(List(item))
            <div id="flex-content">
                <div id="vue-app"></div>
            </div>
        </div>
      <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/codemirror-5.52.2/codemirror.js")"></script>
      <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/codemirror-5.52.2/xml.js")"></script>
      <link rel="stylesheet" property="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("js/lib/codemirror-5.52.2/codemirror.css")">

      <script src="@controllers.admin.routes.AdminAssets.versioned("js/datamanager-dao.js")"></script>
      <script src="@controllers.admin.routes.AdminAssets.versioned("js/datamanager-common.js")"></script>
      <script src="@controllers.admin.routes.AdminAssets.versioned("js/datamanager-transformations.js")"></script>
      <script src="@controllers.admin.routes.AdminAssets.versioned("js/datamanager.js")"></script>
    </body>
</html>
