@(item: Repository, desc: RepositoryDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, fieldPrefix: String)

@import Isdiah._
@import views.html.admin.common.descriptionSection

@views.html.admin.common.descriptionOutline(item, desc) {
    @views.html.common.itemHeader(desc.name)

    @descriptionSection(IDENTITY_AREA) {
        @views.html.admin.common.textValue(AUTHORIZED_FORM_OF_NAME, Some(desc.name))
        @views.html.admin.common.listValue(PARALLEL_FORMS_OF_NAME, desc.parallelFormsOfName)
        @views.html.admin.common.listValue(OTHER_FORMS_OF_NAME, desc.otherFormsOfName)
    }

    @descriptionSection(ADDRESS_AREA) {
        @if(desc.addresses.nonEmpty) {
            @desc.addresses.zipWithIndex.map { case (address, i) =>
                <address title="@address.name">
                    <dl>
                        <dt>@Messages(fieldPrefix + "." + STREET_ADDRESS)</dt>
                        <dd>
                            @address.name.map { an =>
                                <strong>@an</strong><br/>
                            }
                            @address.contactPerson.map { an =>
                                <i>@an</i><br/>
                            }
                            @address.streetAddress.map { an =>
                                @an.split("\\n").map { addressLine =>
                                    @addressLine<br />
                                }
                            }
                            @address.city.map { city =>
                                @city<br/>
                            }
                            @address.region.map { region =>
                                @region<br/>
                            }
                            @address.postalCode.map { post =>
                                @post<br/>
                            }
                            @address.countryCode.map { cc =>
                                @views.Helpers.countryCodeToName(cc)<br />
                            }

                        </dd>
                        @List(EMAIL, TELEPHONE, FAX).zip(List(address.email, address.telephone, address.fax)).map { case (name, addressPart) =>
                            @addressPart.map { addressPartValue =>
                                <dt>@Messages(fieldPrefix + "." + name)</dt>
                                <dd>@addressPartValue</dd>
                            }
                        }
                        @address.url.map { url =>
                            <dt>@Messages(fieldPrefix + "." + URL)</dt>
                            <dd><a target="_blank" rel="noopener" href="@url">@url</a></dd>
                        }
                    </dl>
                </address>
            }
        }
    }

    @descriptionSection(DESCRIPTION_AREA) {
        @views.html.admin.common.textValue(HISTORY, desc.details.history)
        @views.html.admin.common.textValue(GEOCULTURAL_CONTEXT, desc.details.generalContext)
        @views.html.admin.common.textValue(MANDATES, desc.details.mandates)
        @views.html.admin.common.textValue(ADMINISTRATIVE_STRUCTURE, desc.details.administrativeStructure)
        @views.html.admin.common.textValue(RECORDS, desc.details.records)
        @views.html.admin.common.textValue(BUILDINGS, desc.details.buildings)
        @views.html.admin.common.textValue(HOLDINGS, desc.details.holdings)
        @views.html.admin.common.textValue(FINDING_AIDS, desc.details.findingAids)
    }

    @descriptionSection(ACCESS_AREA) {
        @views.html.admin.common.textValue(OPENING_TIMES, desc.access.openingTimes)
        @views.html.admin.common.textValue(CONDITIONS, desc.access.conditions)
        @views.html.admin.common.textValue(ACCESSIBILITY, desc.access.accessibility)
    }

    @descriptionSection(SERVICES_AREA) {
        @views.html.admin.common.textValue(RESEARCH_SERVICES, desc.services.researchServices)
        @views.html.admin.common.textValue(REPROD_SERVICES, desc.services.reproductionServices)
        @views.html.admin.common.textValue(PUBLIC_AREAS, desc.services.publicAreas)
    }

    @descriptionSection(CONTROL_AREA) {
        @views.html.admin.common.textValue(DESCRIPTION_IDENTIFIER, desc.control.descriptionIdentifier)
        @views.html.admin.common.textValue(INSTITUTION_IDENTIFIER, desc.control.institutionIdentifier)
        @views.html.admin.common.textValue(RULES_CONVENTIONS, desc.control.rulesAndConventions)
        @views.html.admin.common.textValue(LEVEL_OF_DETAIL, desc.control.levelOfDetail)
        @views.html.admin.common.textValue(DATES_CVD, desc.control.datesCDR)
        @views.html.admin.common.listValue(SOURCES, desc.control.sources)
        @views.html.admin.common.textValue(MAINTENANCE_NOTES, desc.control.maintenanceNotes)
    }

    @views.html.admin.link.accessPointLinks(item, desc, links)

    @desc.unknownProperties.map { e =>
        @views.html.admin.common.unknownData(e)
    }
}
