@(item: Repository, f: play.api.data.Form[RepositoryF], config: forms.FormConfig, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("repository.update"), item.isA, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @helper.form(action = action) {
        @formHelpers.csrfToken()
        @formHelpers.hiddenInput(f(Entity.IDENTIFIER))
        @views.html.admin.repository.form(f, config)

        @formHelpers.submitButtonWithLogMessageInput(Messages("repository.update.submit"), cancel = views.admin.Helpers.linkToOpt(item))
    }
} {
	@views.html.admin.repository.formNav()
}
