@(f: Form[RepositoryF], defaults: Option[play.api.Configuration] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@import Isdiah._
@import RepositoryF._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

<script type="text/javascript" src="@controllers.portal.routes.PortalAssets.versioned("js/lib/typeahead.js")"></script>
<script type="text/javascript" src="@controllers.portal.routes.PortalAssets.versioned("js/lib/handlebar.js")"></script>
<script type="text/javascript" src="@controllers.portal.routes.PortalAssets.versioned("js/address.js")"></script>

@defining("repository") { implicit fieldPrefix =>
    @formHelpers.lineInput(f(""), IDENTIFIER)

    @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
        @defining(defaults) { implicit defs =>
            @descriptionForm(desc)
        }
    }
    @formHelpers.descriptionFormSection(ADMINISTRATION_AREA) {
        @formHelpers.lineInput(f(""), URL_PATTERN)
        @formHelpers.lineInput(f(""), LOGO_URL)
        @defining("publicationStatus") { implicit fieldPrefix =>
            @formHelpers.enumChoiceInput(f(PUBLICATION_STATUS), PublicationStatus, Messages(PUBLICATION_STATUS))
        }
        @formHelpers.choiceInput(f(PRIORITY), PRIORITY, 1.to(5).map(i => (i.toString,i.toString)).toList ++ List(("-1", "Reject")), blank=true)
    }
    @formHelpers.hiddenInput(f(LONGITUDE))
    @formHelpers.hiddenInput(f(LATITUDE))
}

