@(f: Form[RepositoryF], fieldHints: forms.FormFieldHints)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import Isdiah._
@import RepositoryF._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

<script type="text/javascript" src="@controllers.portal.routes.PortalAssets.versioned("js/lib/typeahead.bundle.js")"></script>
<script type="text/javascript" src="@controllers.portal.routes.PortalAssets.versioned("js/lib/handlebars.js")"></script>
<script type="text/javascript" src="@controllers.portal.routes.PortalAssets.versioned("js/address.js")"></script>

@defining("repository") { implicit fieldPrefix =>
    @defining(Some(fieldHints)) { implicit implicitFieldHints =>
        @helper.repeat(f("descriptions"), min = math.max(f("descriptions").indexes.length, 1)) { desc =>
            @descriptionForm(desc)
        }
        @formHelpers.descriptionFormSection(ADMINISTRATION_AREA) {
            @formHelpers.lineInput(f(""), URL_PATTERN, '_showConstraints -> false)
            @formHelpers.lineInput(f(""), LOGO_URL, '_showConstraints -> false)
            @defining(PUBLICATION_STATUS) { implicit fieldPrefix =>
                @formHelpers.enumChoiceInput(f(""), PUBLICATION_STATUS, PublicationStatus)
            }
            @formHelpers.choiceInput(f(""), PRIORITY, 1.to(5).map(i => (i.toString, i.toString)).toList ++ List(("-1", "Reject")), '_blank -> true)
        }
        @formHelpers.hiddenInput(f(LONGITUDE))
        @formHelpers.hiddenInput(f(LATITUDE))
    }
}

