@(item: Repository, f: play.api.data.Form[OaiPmhConfig], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@import OaiPmhConfig._

@views.html.admin.layout.rightSidebar(Messages("oaipmh"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @helper.form(action = action, 'enctype -> "multipart/form-data") {
        @formHelpers.csrfToken()
        @formHelpers.globalErrors(f)

        @defining("oaipmh") { implicit fieldPrefix =>
            <div class="form-field">
                @formHelpers.lineInput(f(""), URL)
                @formHelpers.choiceInput(f(""), METADATA_FORMAT, List("ead" -> "EAD", "oai_dc" -> "DC"))
            </div>
        }

        @formHelpers.submitButton(Messages("oaipmh.submit"))
    }
} {
}
