@(desc: play.api.data.Field, fieldName: String, geonameRemote: String = "")(implicit prefix: String = "", defaults: Option[play.api.Configuration] = None, fieldConstructor: views.html.helper.FieldConstructor, messages: Messages, md: views.MarkdownRenderer)

@*
 *	For convenience, this field take a data-remote parameter for GeoName remote plugin configured in `app/admin/views/repository/edit.scala.html
 *
 *
*@
@defining(desc(fieldName)) { field =>
    @helper.inputText(
        field.copy(value = field.value.orElse(defaults.flatMap(_.getOptional[String](fieldName)))),
        'title -> md.renderMarkdown(Messages((if (prefix != "") prefix + "." else "") + fieldName + ".description")),
        'class -> "form-control typeahead", Symbol("data-remote") -> geonameRemote,
        '_label -> Messages(if (prefix.isEmpty) fieldName else "%s.%s".format(prefix, fieldName)))
}
