@(item: Repository, scripts: Html = Html(""), styles: Html = Html(""))(html: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(item.toStringLang, item.isA, breadcrumbs = breadcrumbs(item), scripts = scripts, styles = styles) {
    @html
} {
    @views.html.admin.common.latestAction(item, controllers.institutions.routes.Repositories.history(item.id))
    @views.html.admin.common.visibility(item, controllers.institutions.routes.Repositories.visibility(item.id), ContentTypes.Repository)

    @adminActions(item)
}