@(item: Repository)(implicit req: RequestHeader, lang: Lang)

@import Isdiah._
@import org.apache.commons.lang3.StringUtils

@common.search.searchItemOutline(item) {
    <a href="@controllers.institutions.routes.Repositories.get(item.id)">@item.toStringLang</a>
} {
    @item.model.primaryDescription.map { desc =>
        @common.otherNameListSmall((desc.parallelFormsOfName ++ desc.otherFormsOfName).flatten.toList)

        <small>
            <ul class="list-unstyled text-muted inline inline-separator">
                @item.country.map { ct =>
                    <li><strong><a class="alt" href="@controllers.countries.routes.Countries.get(ct.id)">@ct.toStringLang</a></strong></li>
                }
                @desc.addresses.headOption.map { address =>
                    @views.html.admin.common.propertyList(address.streetAddress, address.city, address.region)
                }
                @item.latestEvent.map { event =>
                    <li title="@common.eventTitle(event)">
                        <time datetime="@event.model.timestamp">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</time>
                    </li>
                }
            </ul>
            @views.html.common.childCount(item) { count =>
                <a href="@controllers.institutions.routes.Repositories.get(item.id)#search-items">@Messages("repository.childCount", count)</a>
            }
        </small>

        @desc.displayText.map(StringUtils.abbreviate(_, 600)).map { sc =>
            @Markdown(sc)
        }
    }.getOrElse {
        <small>@Messages("description.noDescriptions")</small>
    }
}
