@(item: Repository)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@import org.apache.commons.lang3.StringUtils

@common.search.searchItemOutline(item) {
    <a href="@controllers.institutions.routes.Repositories.get(item.id)">@item.toStringLang</a>
} {
    @item.data.primaryDescription.map { desc =>
        @common.otherNameList(desc.parallelFormsOfName ++ desc.otherFormsOfName)
        <ul class="search-item-details">
            @item.country.map { ct =>
                <li><strong><a class="alt" href="@controllers.countries.routes.Countries.get(ct.id)">@ct.toStringLang</a></strong></li>
            }
            @desc.addresses.headOption.map { address =>
                @views.html.admin.common.propertyList(Seq(address.streetAddress, address.city, address.region))
            }
            @item.latestEvent.map { event =>
                <li title="@common.eventTitle(event)">
                    <time datetime="@event.data.timestamp">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</time>
                </li>
            }
        </ul>

        @desc.displayText.map(StringUtils.abbreviate(_, 600)).map { sc =>
            @Markdown(sc)
        }
    }.getOrElse {
        <small>@Messages("description.noDescriptions")</small>
    }

    @views.html.common.childCount(item) { count =>
        @views.html.admin.helpers.linkToWithBody(item, fragment = "#search-items", attributes = Seq('class -> "child-items-inline-load collapsed")) {
            <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
            @Messages("repository.childCount", count)
        }
    }
}
