@(item: Repository, result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(item.toStringLang) {
    @breadcrumbs(item)
    @common.mainContent {
        @common.itemDetails {
            @defining("repository") { implicit fieldPrefix =>
                @item.data.identifier
                @item.data.priority.map { p =>
                    <span class="badge badge-info priority@p">
                    @Messages("repository.priority"):
                    @p match {
                        case p if p == 0 =>  { @Messages("repository.priority.zero") }
                        case p if p == 1 =>  { @Messages("repository.priority.one") }
                        case p if p == 2 =>  { @Messages("repository.priority.two") }
                        case p if p == 3 =>  { @Messages("repository.priority.three") }
                        case p if p == 4 =>  { @Messages("repository.priority.four") }
                        case p if p == 5 =>  { @Messages("repository.priority.five") }
                        case p if p == -1 => { @Messages("repository.priority.reject") }
                    }
                    </span>
                }
                @defining(item.data.descriptionsWithSelected()) { descriptions =>
                    @common.descriptionContainer(descriptions) {
                        @descriptions.map { case (desc, _) =>
                            @description(item, desc, links, annotations)
                        }

                        @views.html.admin.link.annotationLinks(item, links)
                        @views.html.admin.link.externalLinks(item, links)
                    } {
                        @common.typeLabel(item.isA) {
                            @views.html.admin.repository.logo(item)
                            <a href="@controllers.institutions.routes.Repositories.updateLogoImage(item.id)">
                                <i class="fa fa-institution" aria-hidden="true"></i>
                                @Messages("repository.logo.edit")
                            </a>

                        }
                    } {
                        @views.html.admin.common.latestAction(item, controllers.institutions.routes.Repositories.history(item.id))
                        @views.html.admin.common.visibility(item, controllers.institutions.routes.Repositories.visibility(item.id), ContentTypes.Repository)
                        @adminActions(item)
                    }
                }

                @views.html.admin.search.searchSection(item, Messages("repository.searchInside", item.toStringAbbr(messages)), result) {
                    @views.html.common.search.searchForm(result, action, autofocus = false) {
                        @views.html.admin.search.searchItemList(result)
                    } {

                    }
                }
            }
        }
    }
}
