@(files: Seq[services.storage.FileStorage#File], item: Repository, f: play.api.data.Form[String], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@script = {
    <script>
        jQuery(function($) {
          $(".add-file-field").on("click", function() {

          })
        })();
    </script>
}

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("repository.data"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @if(files.nonEmpty) {
        <table id="repository-files" class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <td>@Messages("repository.data.upload.file.name")</td>
                    <td>@Messages("repository.data.upload.file.lastModified")</td>
                    <td>@Messages("repository.data.upload.file.size")</td>
                </tr>
            </thead>
            <tbody>
                @files.map { file =>
                    <tr>
                        <td>@file.key</td>
                        <td>@views.Helpers.relativeDate(java.util.Date.from(file.lastModifed))</td>
                        <td>@file.size</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    } else {
        <div class="admin-help-notice">
            @Messages("repository.data.upload.files.empty")
        </div>
    }
    <h3>@Messages("repository.data.upload")</h3>
    @helper.form(action = action, 'enctype -> "multipart/form-data", 'id -> "upload-form") {
        @formHelpers.csrfToken()
        @formHelpers.globalErrors(f)

        @helper.inputFile(f("file"), '_label -> Messages("repository.data.upload.files"), 'multiple -> false)

        @formHelpers.submitButton(Messages("repository.data.upload.submit"))
    }

    <script>
        jQuery(function($) {
          $("#upload-form").submit(function(e) {
            e.preventDefault();

            let file = document.getElementById("file").files[0];
            let fr = new FileReader(file);
            let url = e.target.action;

            let xhr = new XMLHttpRequest();
            xhr.open("PUT", url);
            xhr.overrideMimeType("application/octet-stream; charset=x-user-defined-binary");




          })
        }())
    </script>
} {
}
