@(item: Repository, files: Seq[services.storage.FileMeta])(implicit messages: Messages)

@if(files.nonEmpty) {
    <table id="repository-files" class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <td>@Messages("repository.data.upload.file.name")</td>
                <td>@Messages("repository.data.upload.file.lastModified")</td>
                <td>@Messages("repository.data.upload.file.size")</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        @files.map { file =>
            <tr>
                <td>@file.key</td>
                <td>@views.Helpers.relativeDate(java.util.Date.from(file.lastModified))</td>
                <td>@file.size</td>
                <td><a class="delete-item" href="@controllers.institutions.routes.RepositoryData.deleteDataPost(item.id, file.key)">
                    @Messages("repository.data.upload.file.delete")
                </a></td>
            </tr>
        }
        </tbody>
    </table>
    <hr>
} else {
    <div class="admin-help-notice">
    @Messages("repository.data.upload.files.empty")
    </div>
}

