@(item: Country, result: utils.search.SearchResult[(Repository,utils.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

@if(item.childCount.getOrElse(0) > 0) {
    <div id="@item.id-child-item-search" class="child-item-search">
        @views.html.common.search.searchForm(result, action, key = Messages("country.searchInside"), autofocus = false) {
            @views.html.common.search.searchItemList(result, watched)
        } {
            @views.html.common.search.facetList(result.facetClasses, action)
        }
    </div>
}