@(item: Country, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: cookies.SessionPrefs, conf: config.AppConfig, messages: Messages, md: MarkdownRenderer)

@import CountryF._
@import views.html.common.textField

@views.html.common.itemDetails {
    @views.html.common.rightSidebar {
        @views.html.common.itemHeader(item.toStringLang)
        @views.html.helpers.contentOrEmpty {
            @defining(Annotation.itemAnnotations(annotations)) { implicit fieldAnnotations =>
                @defining("country") { implicit fieldPrefix =>
                    @textField(item, item.id, ABSTRACT, item.data.abs)
                    @textField(item, item.id, HISTORY, item.data.history)
                    @textField(item, item.id, SITUATION, item.data.situation)
                    @textField(item, item.id, DATA_SUMMARY, item.data.summary)
                    @textField(item, item.id, DATA_EXTENSIVE, item.data.extensive)
                }
            }
        } {
            <p class="empty-description">@Messages("country.description.empty")</p>
        }
    } {
        @views.html.common.typeLabelWithWatchButton(item, watched.contains(item.id), introNotice())

        @views.html.common.sidepanelToc {
            @views.html.common.sidebarSection(Messages("country.report.toc"), cls = "country-toc") {
                <ul>
                    @if(item.data.history.isDefined) {
                        <li role="presentation">
                            <a href="#@item.id-@HISTORY">@Messages("country." + HISTORY)</a>
                        </li>
                    }
                    @if(item.data.situation.isDefined) {
                        <li role="presentation">
                            <a href="#@item.id-@SITUATION">@Messages("country." + SITUATION)</a>
                        </li>
                    }
                    @if(item.data.summary.isDefined) {
                        <li role="presentation">
                            <a href="#@item.id-@DATA_SUMMARY">@Messages("country." + DATA_SUMMARY)</a>
                        </li>
                    }
                    @if(item.data.extensive.isDefined) {
                        <li role="presentation">
                            <a href="#@item.id-@DATA_EXTENSIVE">@Messages("country." + DATA_EXTENSIVE)</a>
                        </li>
                    }
                    @item.childCount.filter(_ > 0).map { count =>
                        <li role="presentation" class="active">
                            <a class="type-highlight @EntityType.Repository child-item-link" href="#@item.id-child-item-search">
                            @Messages(s"country.childItems.search", count)
                            </a>
                        </li>
                    }
                </ul>
            }
            @views.html.common.exportItem(conf.exportProxies(item.isA, item.id).toMap)
            @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
        }
    }
}
