@(item: Country, highlighter: views.Highlighter)(implicit messages: Messages)

<li title="@Messages("country.identifier.description"): @item.model.identifier.toUpperCase(messages.lang.toLocale)">@Html(highlighter.highlight(item.model
        .identifier.toUpperCase(messages.lang.toLocale)))</li>
@item.latestEvent.map { event =>
    <li title="@common.eventTitle(event)">
        <time datetime="@event.model.timestamp">
            @Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))
        </time>
    </li>
}
