@(item: Country, highlighter: views.Highlighter)(implicit messages: Messages)


<li title="@Messages("country.identifier.description"): @item.data.identifier.toUpperCase(messages.lang.toLocale)">@Html(highlighter.highlight(item.data
        .identifier.toUpperCase(messages.lang.toLocale)))</li>
@item.latestEvent.map { event =>
    <li title="@common.eventTitle(event)">
        <time datetime="@event.data.timestamp">
            @Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))
        </time>
    </li>
}
