@(item: Country, highlighter: views.Highlighter = views.NoopHighlighter)(implicit req: RequestHeader, messages: Messages)

@views.html.common.childCount(item) { count =>
    @if(count > 0) {
        <div class="search-item-details">
            <a href="@controllers.portal.routes.Countries.search(item.id)">@Messages("country.childCount", count)</a>
        </div>
    }
}

@item.model.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
    <div class="national-report">
        @Markdown(highlighter.highlight(sc))
    </div>
}
