@(item: Country, highlighter: views.Highlighter = views.NoopHighlighter)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

<div class="search-item-details">
    <ul class="country-search-details">
        @views.html.country.listItemMeta(item, highlighter)
    </ul>
</div>

@views.html.common.childCount(item) { count =>
    @views.html.helpers.link(controllers.portal.routes.Countries.search(item.id), 'class -> "child-items-inline-load collapsed") {
        <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
        @Messages("country.childCount", count)
    }
}
