@(item: Country, highlighter: views.Highlighter, watched: Boolean = false)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@image = {
    <img alt="Country Flag" width="48" height="48" src="https://www.countryflags.io/@item.id.toLowerCase/flat/48.png"/>
}

@views.html.common.searchItemOutline(item, watched, views.html.helpers.linkTo(item, content = image)) {
    @views.html.helpers.linkTo(item, content = Html(highlighter.highlight(item.toStringLang)))
} {
    @listItemBody(item)
}
