@(item: Country, result: services.search.SearchResult[(Repository, services.search.SearchHit)], annotations: Seq[Annotation], links: Seq[Link], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@ogMeta = @{OgMeta(
    item.toStringLang,
    controllers.portal.routes.Countries.browse(item.id),
    item.data.displayText.orElse(Some(Messages("country.description.empty")))
)}

@views.html.layout.portalLayout(item.toStringLang, EntityType.Country.toString, ogMeta = ogMeta.toMap) {
    @views.html.common.mainContent {
        @itemDetails(item, annotations, links, watched)
        @childItemSearch(item, result, action, watched)
    }
}
