@(f: play.api.data.Form[(String, String, String, String, String)], gf: Form[List[String]], groups: Seq[(String,String)], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("admin.createNewUser")) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @helper.inputText(f("email"), 'autofocus -> "autofocus", '_label -> Messages("users.email"))
        @helper.inputText(f("username"), '_label -> Messages("users.username"))
        @helper.inputText(f("name"), '_label -> Messages("users.realname"))
        @helper.inputPassword(f("password"), '_label -> Messages("users.password"))
        @helper.inputPassword(f("confirm"), '_label -> Messages("users.passwordConfirm"))

        <div class="control-group">
            <label class="control-label" for="@gf("group").id">@Messages("users.groups")</label>
            <div class="controls controls-row">
                @{println(gf.value)}
                <select class="chzn-select" data-placeholder="@Messages("visibility.chooseGroups")" name="@(gf("group").name)[]" id="@gf("group").id" multiple>
                    @groups.map { case(id, name) =>
                        <option value="@id" @{if(gf.value.map(_.contains(id)).getOrElse(false)) "selected"}>@name</option>
                    }
                </select>

            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("submitButton.createUser")</button>
        </div>
	}
} {

}
