@(form: Form[(String,String,Boolean)])(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(views.html.p.helpers.fieldTemplateSignUp.f) }

@helper.form(action = controllers.portal.routes.Helpdesk.helpdeskPost(), 'role -> "form", 'id -> "helpdesk-form") {
    @formHelpers.csrfToken()
    @helper.inputText(form("email"), 'placeholder -> Messages("helpdesk.email"), 'type -> "helpdesk.email")
    @helper.textarea(form("query"), '_label -> Messages("helpdesk.query"), 'placeholder -> Messages("helpdesk.query.placeholder"), 'rows -> "8")
    @helper.checkbox(form("copyMe"), '_label -> Messages("helpdesk.copyMe"))
    <div class="form-actions">
        <button type="submit" class="submit btn btn-default">@Messages("helpdesk.query.submit")</button>
    </div>
}