@(annotation: Annotation, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="annotation" id="@annotation.id">
    <div class="annotation-header">
        @annotation.target.map { src =>
            @views.html.p.helpers.linkToWithFragment(src, "#" + annotation.id, content = highlighter.highlight(src.toStringLang))
            @annotation.model.field.map { field =>
            - <strong>@Messages(src.isA.toString + "." + field)</strong>
            }
        }
    </div>
    <blockquote class="annotation-body">
        @highlighter.highlight(views.Helpers.renderUntrustedMarkdown(annotation.model.body))
    </blockquote>
    <div class="annotation-meta">
        @for(user <- annotation.user ; event <- annotation.latestEvent) {
            <span class="glyphicon glyphicon-time"></span>
            @views.Helpers.relativeDate(event.model.timestamp)
        }
    </div>
</div>