@(item: UserProfile, users: utils.AbstractPage[UserProfile], params: utils.PageParams, myFollowing: Seq[UserProfile], canMessage: Boolean)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(item.toStringLang, EntityType.UserProfile.toString) {

    @views.html.layout.mainContent {
        @itemDetails(item, followed = myFollowing.exists(_.id == item.id), canMessage = canMessage) {
            <div class="user-profile-activity">
                <h2 class="block-header userProfile">@Messages("social.usersFollowedBy", item.toStringLang)</h2>
                <div class="browse-users-following">
                    @followingList(item, users, params, myFollowing)
                </div>
            </div>
        }
    }
}