@(item: UserProfile, watchList: utils.search.SearchResult[(AnyModel,utils.search.SearchHit)], followed: Boolean, canMessage: Boolean)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, "userProfile") {
    @views.html.layout.mainContent {
        @itemDetails(item, followed = followed, canMessage = canMessage) {
            <div class="user-profile-content">
                <h2 class="block-header userProfile">@Messages("profile.watch.list") </h2>
                <div id="user-watched">
                    @views.html.p.userProfile.itemWatchList(item, watchList)
                </div>
            </div>
        }
    }
}