.annotation-set a {
  color: $almost-black;
}

.field-annotation-controls {
  a {
    text-decoration: none;
    font-size: 11px;
    color: darken($muted-gray, 50%);
    padding: 3px;
    &:hover {
      cursor: pointer;
      background-color: $glow-color;
      color: $almost-black;
    }
  }
}

.user-annotation-list {
  @include list-unstyled;
  .annotation {
    .annotation-body {
      font-size: 1em;
      font-style: italic;
      margin: $small-margin 0;

    }
    .annotation-meta {
      @include small-muted;
      @extend .pull-right;
    }
    @include clearfix;
  }
}

a.annotate-field.inactive, .annotable a.annotate-field.inactive {
  opacity: 0;
  color: black;
}

.annotable:hover {
  background-color: $pale-gray !important;
}

$annotate-field-padding: 3px;
$annotate-field-border: 1px;

a.annotate-field {
  @extend .btn;
  font-size: 11px;
  font-family: $font-family-sans-serif;
  text-decoration: none;
  background-color: $pale-gray;
  opacity: 1;
  display: inline-block;
  border-width: 0;
  text-align: left;
  padding: $annotate-field-padding;

  &:hover {
    padding: $annotate-field-padding - $annotate-field-border;
    border-width: $annotate-field-border;
    background-color: $glow-color;
  }
}

a.annotate-item:hover {
  text-decoration: none;
  background-color: $glow-color;
  opacity: 1;
  color: black;
}


a.time-permalink {
  text-decoration: none;
  color: $muted-gray;
}

select.custom-accessors {
  width: 200px;
}

.annotation-list {
  @include list-unstyled;

  >li, >div {
    padding-left: $medium-padding;
  }
}

.annotation-right {
  @include make-row();
  position: relative;

  .close {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    top: 0;
    right: 10px;
  }

  .annotation-form-controls {
    @include make-col-ready();
    @include make-col(12);

    .visibility-controls {
      @extend .pull-left;
      .preset-visibility, .custom-visibility {
        display: inline-block;
      }
      .custom-visibility {
        font-size: 0.8em;
        .select2-container {

        }
      }
    }
  }

  .annotation-submit-controls {
    @extend .pull-right;
  }
}

.item-text-field-annotation-container {
  @include make-col-ready();
  @include make-col-offset(3);
  @include make-col(9);

  .item-text-field-annotations {
    @include make-row();
    clear: none;
    color: $muted-gray;

    .annotation {
      blockquote {
        clear: both;
      }

      .context {
        float: right;
      }

      border-bottom: 1px solid $pale-gray;
      margin-bottom: $medium-margin;
      padding: $small-padding;
      font-size: 0.9em;
    }

    .annotation-list {
      // apply a left-right margin to match the text content
      margin: 0 $small-margin + $medium-margin;

      .promoted {
        background-color: $promoted-color;
        color: darken($muted-gray, 20%);
      }

      /*
      .personal {		 }

      .other {		}
      */
    }
    .annotate-item-controls {
      float: none;

      display: block;
      position: absolute;
      right: 0;
      top: -30px;

      opacity: 0.8;

      line-height: 20px;

      a {
        float: right;
        display: block;
        height: 20px;
        background-color: #FFFFFF;
        margin-right: 0;
        width: 20px;
        text-align: center;
        color: $ehri-purple;

        &:hover, &:visited, &:focus {
          text-decoration: none;
          cursor: pointer;
        }

      }
    }
  }
}

.annotation-meta {
  @include clearfix;
  @include small-muted;
  display: inline-block;

  a {
    color: $muted-gray !important;
  }
}

.annotation-form {
  // FIXME: BS4
  background-color: #f5f5f5;
  font-size: $font-size-sm;
  line-height: 1.2;
  padding: $small-padding;

  label {
    font-weight: inherit;
  }

  .container {
    margin: 0;
    padding: $small-padding;
  }

  textarea {
    padding: $small-padding;
  }

  .select2-container .select2-choice div {
    .select2-search-field {
      font-size: 10px;
    }
    font-size: 10px;
    padding: 0 2px;
    display: block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    .select2-search-choice {
      margin: 0 1px;
    }
  }

  input[type="radio"], input[type="checkbox"] {
    margin-top: -0px;
  }
  button[type="submit"] {
    margin: 0 auto;
    @extend .btn-sm;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .form-group {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 15px;
  }

  textarea {
    max-width: 100%;
  }
  .checkbox {
    margin: 0 0;
  }
  .custom-visibility {
    margin: 5px 0;
  }
  .checkbox-inline {
    padding-right: 0.5em;
    input[type="checkbox"] {
      margin-left: -1.5em;
    }
  }
}

.annotation.item-text-field {
  > .item-text-field-header {
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
  }
}

.description-annotations {
  .description-annotations-header {
    margin-top: 0;
  }
  ul.annotation-list {
    margin: 0;
  }
  .annotate-item {
    //@extend .button;
  }

  .annotate-item-controls {
    padding-left: $medium-padding;
    a {
      margin-top: $medium-margin;
    }
  }
}
