
.drag-handle {
  width: 20px;
  float: right;
}

.moveable > .bookmark-data > .drag-handle {
  background-image: url('/v/img/drag-handle.png');
  background-repeat: no-repeat;
  background-position: top right;
  cursor: move;
}

.dragging {
  z-index: 1000;
}