
#feedback-dropdown {
  padding-bottom: 0;
  padding-top: 0;
}

.feedback {
  min-width: 250px;
}

.feedback-thanks {
  @extend .alert, .alert-success;
  display: none;
  position: absolute;
  z-index: 5000;
}

.feedback-form fieldset {
  @extend .modal-body;
}

.feedback-submit {
  @extend .btn;

  &:disabled {
    @extend .disabled;
  }
}

.feedback-cancel {
  @extend .btn, .btn-danger;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #fff;
  }
}

.feedback-form {
  background-color: white;

  .blank-check {
    display: none !important;
  }
}

.feedback-form-footer {
  @extend .modal-footer;
  background-color: $pale-gray;
}
