.landing-header, .landing-blurb, .landing-news {
	@include make-col-ready();
	@include make-col(8);
	@include make-col-offset(2);
}
.landing-header, .landing-news {
	@extend .tertiary-content;
}
.landing-news {
	padding:0;
}
.landing-header, .block-header {
	font-size:16px;
	padding: 10px 15px;
	background-color:$medium-gray;
	color:black;
	> a, 
	> a:hover,
	> a:visited {
		color:black;
	}
}

.block-header.small {
	padding: 5px 10px;
}
