// Mixin for applying heading-like text to
// certain items
%heading-text {
  font-size: $h4-font-size;
  font-family: $headings-font-family;
  font-weight: 400;
  text-transform: uppercase;
}

// Labels for fields and e.g. definition list terms (dt)
%field-label {
  font-size: $font-size-sm;
  font-family: $headings-font-family;
  text-transform: uppercase;
  color: var(--secondary);
  font-weight: 500;
}

%small-muted {
  font-size: $font-size-xs;
  color: $text-muted;
}

%nav-link {
  display: block;
  padding: 1rem 0;

  @include media-breakpoint-up(lg) {
    padding: .5rem 1rem;
  }
}

@mixin list-inline($sep: '\00a0') {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @if($sep != '') {
    > li:after {
      content: $sep;
    }
    > li:last-child:after {
      content: '';
    }
  }
}

// A search box with an embedded search
// icon. The input should have the `form-control`
// class and the icon `form-control-feedback`
@mixin search-box($color: $gray-100, $opacity: 0.1, $border-opacity: 0.3) {
  @include clearfix();
  background-color: rgba(255,255,255, $opacity);

  input.form-control {
    font-size: 14px;
    box-shadow: none;
    float: left;
    padding-right: 2.375rem;
    background-color: transparent;
    border-radius: 0;
    border-color: rgba($color, $border-opacity);
    color: $color;

    &::placeholder {
      color: $color;
    }
  }

  .form-control-feedback {
    font-size: $font-size-base;
    position: absolute;
    display: block;
    float: right;
    right: 2rem;
    z-index: 20;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: $color;
  }
}


