// Profile-related less
.user-list-item {
  .clearfix;
}


.profile-form-section {
  .clearfix;
  .control-label {
    .make-md-column(4);
  }

  .control-elements {
    .make-md-column(8);
  }

  // Labels which are also elements (e.g. checkboxes)
  // should be pushed right...
  label.control-elements {
    .make-md-column-push(4);
  }

  .form-submit, .form-global-errors {
    .make-md-column-push(4);
    .make-md-column(8);
  }
}
.user-list-info {
  .user-locations {
    &:extend(.small, .list-unstyled);
  }
}

.user-profile-info {
  dt {
    float: left;
    width: (@component-offset-horizontal - 20);
    clear: left;
    text-align: right;
    .text-overflow();
  }
  dd {
    margin-left: @component-offset-horizontal;
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }
}

.user-img-icon, .user-img-full {
  &:extend(.img-responsive);
}

.user-profile-social {
  a {
    color: @muted-gray;
    font-size: @font-size-small;
  }
}

.user-list-item {
  position: relative;
  .gravitar {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: @small-margin;

    img {
      border-radius: 5px;
    }
  }

  .user-list-info {
    margin-left: @gravitar-size + @small-margin;
  }

  .follow-controls {
    float: right;
  }
}

.user-list-item.current {
  background-color: @pale-gray;
}