
.user-grid {
  @include list-unstyled;
  @include make-row();

  .user-grid-item {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }

    margin-bottom: $large-margin;
  }

  .user-info-details {
    h3 {
      font-size: 1.2em;
      margin: $small-margin 0;
    }

    .user-info {
      @include list-unstyled;
      color: $text-muted;
      font-size: $font-size-sm;
    }
  }
  .img-container {
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: $pale-gray;
    margin-right: $medium-margin;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    // The helper makes the image vertically centered,
    // as described: http://stackoverflow.com/a/7310398/285374
    .helper {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    img {
      zoom: 2;
      max-height: 100%;
      height: auto;
      max-width: 100%;
      width: auto;
      margin: auto;
      margin-left: -4px;
      vertical-align: middle;
    }
  }
}

// Profile-related less
.user-list-item {
  @include clearfix;
}


.profile-form-section {
  @include clearfix;
  .control-label {
    @include make-col-ready();
    @include make-col(4);
  }

  .control-elements {
    @include make-col-ready();
    @include make-col(8);
  }

  // Labels which are also elements (e.g. checkboxes)
  // should be pushed right...
  label.control-elements {
    @include make-col-ready();
    @include make-col-offset(4);
  }

  .form-submit, .form-global-errors {
    @include make-col-ready();
    @include make-col-offset(4);
    @include make-col(8);
  }
}

.user-list-info {
  .user-locations {
    @include list-unstyled;
    font-size: $font-size-sm;
  }
}

.user-profile-info {
  dt {
    float: left;
    // FIXME: BS4
    //width: ($component-offset-horizontal - 20);
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    //margin-left: $component-offset-horizontal;
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }
}

.user-img-icon, .user-img-full {
  @extend .img-fluid;
}

.user-profile-social {
  a {
    color: $muted-gray;
    font-size: $font-size-sm;
  }
}

.user-list-item {
  padding: $small-padding 0;
  @include clearfix;
  position: relative;
  .gravitar {
    @include gravitar-image(5px);
  }

  .follow-controls {
    float: right;
  }
}

.user-list-item.current {
  background-color: $pale-gray;
}

.watched-items {
  @include list-unstyled;
}

.message-form {
  .modal-footer {
    background-color: $pale-gray;
  }
}
