
.promotion-action.promote, .promotion-action.demote {
  color: $gray-light;
  font-size: 1.3em;
  &.undo {
    color: $promoted-arrow-color;
  }
}

.promotion-score {
  color: $gray-light;
  font-size: 1.1em;
}
