@import "mixins";

// Certain headings are uppercased
//h2, h4 {
//text-transform: uppercase;
//}

// TODO: Add a default button style
.btn {
}

// Secondary-coloured headings
.item-header h1,
.block-header h2,
.welcome-section h2,
.facet-class h4,
.sidebar-section-heading h4,
.item-text-field-header h4 {
  color: var(--secondary);
}

// Uppercased headings
.sidebar-section-heading h4,
.item-text-field-header h4,
.facet-class h4,
.block-header h2,
.welcome-section h2 {
  text-transform: uppercase;
}

// 0-margin headings
.block-header h2 {
  margin-bottom: 0;
}

aside.sidebar {
  @include media-breakpoint-up(lg) {
    // FIXME: should have important here
    // really...
    padding-left: 2rem;
  }
}

.block-header {
  background-color: $ehri-gray;
  color: var(--white);
  padding: $margin-xs;
  margin-bottom: $margin-sm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1, h2, h3, h4, h5, h6 {
    //color: var(--white);
  }
}

// Top navbar
#navbar-top-container {
  font-size: $font-size-xs;
  @extend .bg-dark;
}

// Both navbars are dark expanding  containers
#navbar-top, #navbar-primary {
  @extend .container, .navbar, .navbar-dark;
}

#navbar-top {
  padding-top: 0;
  padding-bottom: 0;
  @extend .navbar-expand-lg;
}

#navbar-primary {
  @extend .navbar-expand-lg;
}

// Primary navbar
#navbar-primary-container {
  font-size: $font-size-sm;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: var(--secondary);
}

#navbar-primary-container-overlay {
  position: relative;
  height: 100%;
  background-color: rgba(54, 15, 79, 0.68);
}

#navbar-primary > #navbar-primary-dropdown > ul,
#navbar-top > #navbar-actions > ul,
#navbar-top > #navbar-account > ul {
  @extend .navbar-nav;
}

// Actions menu is always flat...
#navbar-actions > ul {
  flex-direction: row !important;
  @extend .mr-auto;

  > li {
    margin-right: $margin-sm;
  }

  @include media-breakpoint-up(lg) {
    > li:first-child a {
      // neg margin to correct inset
      margin-left: -1rem;
    }
  }
}

#navbar-account > ul {
  @extend .ml-auto;

  > li:last-child > a {
    margin-right: -1rem;
  }

  .dropdown-menu > li {
    padding: 0;
    &:active {
      background-color: $gray-100;
    }
  }

  .dropdown-menu > li.dropdown-header {
    font-size: $font-size-xs;
    color: $text-darkened;
    padding: $margin-xs $margin-sm;
  }

  .dropdown-menu > li > a {
    font-size: $font-size-sm;
    display: block;
    padding: $margin-xs $margin-sm;
    clear: both;
    color: $black;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
      background-color: $gray-200;
    }

    &:focus {
      text-decoration: none;
      background-color: $gray-100;
    }
  }
}

#navbar-actions,
#navbar-account {
  > ul > li > a:hover {
    text-decoration: none;
    background-color: $gray-900;
  }
}

body.home #navbar-primary-container {
  background-color: transparent !important;
}

#navbar-primary ul > li > a,
#navbar-primary .navbar-brand {
  @extend %heading-text;
  font-size: $font-size-sm;
}

#navbar-primary ul > li > a,
#navbar-primary .navbar-brand,
#navbar-actions > ul > li > a,
#navbar-account > ul > li > a {
  @extend %nav-link;
  color: $white;
}

#header-logo {
  width: 6.625rem;
}

// At narrow display, add borders and extra vertical padding
// to navbar items
#navbar-nav-dropdown > li {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#navbar-nav-dropdown #navbar-nav-search {
  padding: 1.5rem 0;

  #site-search-controls {
    width: 100%;
  }
}

#navbar-primary-dropdown #site-search-controls {
  margin: 1.5rem 0 1rem 0;

  @include search-box();

  // Hack for Twitter typeahead size
  .twitter-typeahead {
    display: block;
    float: left;
    width: 100% !important;
  }

  .tt-menu {
    background-color: $white;
    box-shadow: 2px 2px 5px 0 rgba(153, 153, 153, 1);

    .tt-suggestion {
      padding: $margin-xs;
    }

    .tt-cursor {
      background-color: $gray-200;
    }
  }
}

#navbar-primary-dropdown {
  margin-top: $margin-sm;
}

#navbar-primary-dropdown > ul > li {
  border-top: 1px solid rgba(224, 224, 224, 0.3);
}

#navbar-primary-dropdown > ul > li:last-child > a {
  display: flex;
  align-items: center;
}

// At wide display, pad navbar items
@include media-breakpoint-up(lg) {

  #navbar-actions > ul,
  #navbar-account > ul {
    align-items: center;
  }

  #navbar-primary {
    padding-top: 0;
    padding-bottom: 0;
  }

  #navbar-primary-container {
    padding: 0;
  }

  #navbar-primary-dropdown {
    margin-top: 0;

    .nav-item {
      margin-right: $margin-lg;
    }
  }

  #navbar-logo {
    padding-right: 1.5rem;
  }

  #navbar-primary-dropdown > ul > li {
    border-top: 0;
  }

  #navbar-primary-dropdown > ul > li {
    padding: 0;
  }

  #navbar-primary-dropdown > ul > li > a {
    padding: 1.5rem 0;
    border-bottom: 0.5rem solid transparent;
    border-top: 0.5rem solid transparent;
  }

  #navbar-primary-dropdown > ul > li.active > a {
    border-bottom: .5rem solid $white;
  }

  #navbar-primary-dropdown > ul {
    justify-content: space-between;
    flex-grow: 1;

    > li:last-child {
      display: flex;
      align-items: center;
      padding-right: 0;
    }
  }

  #navbar-primary-dropdown #site-search-controls {
    margin: 0;
  }
}

// Quicksearch controls
#quicksearch-controls {
  color: $white;

  input[type='text'] {
    @extend .form-control;
  }
}

// Boolean toggles in view preferences...
.toggle-boolean-preference.boolean-true:before {
  content: '\2611';
}
.toggle-boolean-preference.boolean-false:before {
  content: '\2610';
}

// End navbar

// Home page
body.home {
  #header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    //background-image: url(https://s3-eu-west-1.amazonaws.com/ehri-assets/itsarolsen_effects-bw.jpg);
    background-image: url(https://s3-eu-west-1.amazonaws.com/ehri-assets/warsaw_teunisse-crop-bw.jpg);
  }

  @include media-breakpoint-up(md) {
    #navbar-logo {
      margin-right: 3rem;
    }
  }

  #welcome-banner {
    background-color: rgba(68, 47, 81, .85);
    padding-bottom: $margin-lg;
    color: var(--white);

    h1 {
      margin-top: $margin-lg;
      color: var(--white);
    }
  }

  #welcome-lead {
    font-size: $font-size-lg;
    color: var(--secondary);
    margin-bottom: $margin-xl;
  }

  .welcome-section {
    display: flex;
    flex-direction: column;
    background-color: $ehri-gray;
    padding: $margin-md;
    font-size: $font-size-sm;
    margin-bottom: $margin-md;

    h2 a {
      color: var(--secondary);
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
    }

    .content-summary,
    .welcome-section-footer {
      margin-top: auto;
    }

    border-bottom: $margin-xs solid var(--primary);
  }

  #portal-sections {
    margin-bottom: $margin-xl;
  }

  .welcome-section.account {
    display: block;
    background-color: lighten($gray-200, 3%);
    border-bottom: $margin-xs solid lighten($gray-200, 3%);

    ul.user-actions {
      margin-top: $margin-sm;
      @include list-unstyled();

      li {
        margin-bottom: $margin-xs;
      }
    }

    a.edit-profile,
    a.signup,
    a.forgot {
      float: right;
    }

    a.forgot {
      font-size: $font-size-xs;
    }

    input::placeholder {
      font-size: $font-size-sm;
    }
  }

  @include media-breakpoint-up(md) {
    #portal-sections {
      display: grid;
      grid-template-areas: ". . ." ". . .";
      grid-template-columns: 33% 33% 33%;
      // FIXME: this makes the cells look a bit big. Better
      // to somehow size them *all* by the height of the largest
      // cell (not largest cell per row).
      grid-template-rows: repeat(2, minmax(250px, auto));
      grid-column-gap: $margin-md;
    }
  }

  .rss-feed-description {
    font-size: $font-size-sm;
    color: $text-darkened;
  }

  ul.rss-feed {
    @include list-unstyled();

    .rss-item p.date {
      @extend %small-muted;
    }
  }
}

// Footer
#portal-footer {
  background-color: $gray-200;
  font-size: $font-size-sm;

  #footer-navs {
    padding: $margin-lg 0;
  }

  padding-bottom: $margin-lg;

  #footer-navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #lang-switcher,
  #navbar-tertiary {
    @include list-unstyled();
    display: flex;
    flex-direction: row;

    li {
      a {
        padding: .5rem 1rem;
      }
    }

    li.active a {
      pointer-events: none;
      color: var(--secondary);
      font-weight: $font-weight-bold;
    }
  }

  #lang-switcher {
    margin-left: auto;

    li:last-child {
      margin-right: -1rem;
    }
  }

  #navbar-tertiary {
    li:first-child {
      margin-left: -1rem;
    }
  }

  #footer-blurb {
    @extend %small-muted;
    justify-content: center;

    > * {
      margin-right: $margin-md;

      &:last-child {
        margin-right: 0;
      }
    }

  }
}

// Info bar / breadcrumbs
.info-bar {
  background-color: $gray-200;

  .breadcrumb {
    background-color: inherit;
  }

  ol,
  ul {
    margin-bottom: 0;
  }
}

// Main content
.main-content {
  padding-top: $margin-lg;
  padding-bottom: $margin-lg;
}

// Search controls
.search-result-errata {
  background-color: $ehri-gray;
  padding: $margin-xs $margin-sm;
  align-items: center;

  .search-summary {
    @extend %heading-text;
    color: var(--secondary);
  }

  .search-sort {
    i {
      color: $text-muted;
    }

    ul > li > a {
      @extend %small-muted;
    }

    ul > li.active > a {
      color: var(--secondary);
      font-weight: bold;
    }

    ul > li + li {
      margin-left: $margin-xs;
    }
  }
}

.search-controls {
  margin-bottom: $margin-md;
}

.search-bar {
  align-items: center;
  margin-bottom: $margin-md;

  .input-group {
    border: $border-width solid $border-color;
  }
;

  input[type='search'] {
    background-color: transparent;
    border: 0;
  }

  input[type=search]::placeholder {
    font-size: $font-size-sm;
  }

  .input-group-addon {
    height: $input-height;
    z-index: 2;
  }

  #submit-search i {
    float: left;
    color: var(--primary);
  }

  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .search-helper-toggle {
    margin: $margin-xs 0 0 0;
    white-space: nowrap;
    font-size: $font-size-xs;
    align-items: center;

    i {
      vertical-align: middle;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Home page search bar style overrides
// Make search bar semi-transparent with
// light text and border
body.home {
  .search-bar {
    .input-group {
      background-color: rgba(224, 224, 224, 0.19);
      color: var(--white);
      border-color: rgba(224, 224, 224, 0.59);

      #submit-search i {
        color: var(--white);
      }
    }

    input[type=search] {
      color: var(--white);
    }

    input[type=search]::placeholder {
      color: rgba(255, 255, 255, .8);
    }

    .form-control:focus,
    #submit-search:focus {
      box-shadow: 0 0 0 0.2rem rgba(244, 244, 244, 0.25);
    }

    .search-helper-toggle {
      color: var(--white);
    }

    #search-helper {
      color: var(--white) !important;
      background-color: rgba(244, 244, 244, .1);

      dl dt {
        color: var(--white);
        text-transform: none;
        @include make-col-ready();
        @include make-col(2);
      }

      .available-fields {
        @include list-unstyled();
        @include list-inline(",\00a0");
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .search-bar .search-box {
    flex-wrap: nowrap;
  }
  .search-bar .search-helper-toggle {
    margin: 0 0 0 $margin-sm;
  }
}


#search-helper {
  font-size: $font-size-xs;
  margin-top: $margin-md;
  border: $border-width solid $border-color;
  padding: $margin-sm;
  background-color: $gray-100;
}

.selected-facets {
  font-size: $font-size-lg; // increase space between block elements

  .selected-facet {
    display: inline-block;
    font-size: $font-size-sm;
    margin-bottom: $margin-xs;
    border: $border-width solid $border-color;
    color: $text-darkened;
    padding-left: $margin-xs;

    .remove-filter {
      display: inline-block;
      padding: $margin-xs;

      i {
        font-size: $font-size-sm;
        vertical-align: middle;
        color: var(--red);
      }

      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }

  margin-bottom: $margin-md;
}

.search-sort {
  font-size: $font-size-sm;
  display: flex;
  flex-direction: row;
  align-items: center;

  ul {
    margin: 0 0 0 $margin-sm;
    @include list-unstyled();
    @include list-inline();
  }

  @include media-breakpoint-up(lg) {
    margin-left: auto;
  }
}

.control-elements .help-inline {
  @extend %small-muted;
}

// General form styling
.control-label .required-input,
.control-elements .help-block.errors,
.control-elements .help-inline.errors {
  color: var(--danger);
}

.form-field.has-error {
  .form-control {
    border-color: var(--danger);
  }

  .help-block {
    color: var(--danger);
    font-size: $font-size-xs;
  }
}

.profile-form-section {
  padding-bottom: $margin-md;
  border-bottom: $border-width solid $border-color;
  margin-bottom: $margin-lg;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}


.form-field {
  margin-bottom: $margin-sm;
}

.signup-check {
  display: none;
}

// General buttons
.btn-post {
  @include button-variant($primary, $primary);
}

// Login / Register social buttons
.btn-facebook {
  @include button-variant(#354E84, #354E84);
}

.btn-google {
  @include button-variant(#DD4B39, #DD4B39);
}

.btn-yahoo {
  @include button-variant(#7B0099, #7B0099);
}

.btn-openid {
  @include button-variant(#949494, #949494);
}

.more-login-options {
  display: none;

  &.errors {
    display: block;
  }
}

.login-disclaimer {
  font-size: $font-size-sm;
  color: $text-darkened;
}

// Pagination
ul.pagination {
  font-size: $font-size-sm;

  > li > a {
    padding: .75rem $margin-sm;
    border-left: 0;
    border-right: 0;
  }

  > li:first-child > a {
    border-left: $pagination-border-width solid $pagination-border-color;
  }

  > li:last-child > a {
    border-right: $pagination-border-width solid $pagination-border-color;
  }
}


// User grid
.user-grid {
  .user-grid-item {
    margin-bottom: $list-margin-bottom;

    .user-info-details {
      margin-left: $margin-md;
    }
  }
}

.user-list {
  .user-info {
    margin-bottom: $list-margin-bottom;

    .user-info-details {
      margin-left: $margin-xs;
    }
  }
}

// User profile pages
.user-controls {
  @include list-unstyled();

  > li {
    margin-bottom: $margin-xs;
  }
}


// Search results
.search-result-list {
  margin-bottom: $margin-lg;

  > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .search-item {
      flex-grow: 4;
    }

    > .copy-links {
      flex-basis: 30%;
    }
  }
}

.search-item {
  h2.search-item-heading {
    font-family: $font-family-base;
    text-transform: none;
    margin-bottom: 0;
  }

  .search-item-details,
  .item-children {
    font-size: $font-size-sm;
  }

  .search-item-body {
    font-size: $font-size-base;
    margin-right: $margin-sm;

    .holders {
      @include list-unstyled();
      @include list-inline(" /\00a0");
      font-size: $font-size-sm;
    }

    p {
      margin-bottom: .5rem;
    }

    p + p {
      margin-top: .5rem;
    }
  }

  .search-item-actions {
    margin-left: $margin-sm;

    a:hover {
      text-decoration: none;
    }
  }

  .search-item-footer {
    @include clearfix();

    .list-item-meta,
    .list-item-actions {
      float: right;
      @include list-unstyled();
      @include list-inline();
      @extend %small-muted;

      .material-icons {
        font-size: $font-size-base;
        vertical-align: middle;
      }
    }
  }

  margin-bottom: $list-margin-bottom;
}

// Annotation lists
.user-annotation-list {
  @include list-unstyled;

  .annotation-meta {
    @extend %small-muted;
    float: right;
  }

  > li {
    padding-bottom: $margin-xs;
    border-bottom: 1px dashed $gray-400;
  }
}

// List export options
ul.list-export-options {
  float: right;
  @include list-unstyled();
  @include list-inline();

  align-items: center;
  font-weight: $font-weight-bold;

  a {
    font-size: $font-size-sm;
    color: $black;
  }

  i:first-child {
    margin-right: $margin-xs;
  }
}

// Child item lists...
.child-items-inline-load {
  //color: var(--green);
}

.child-items-inline {
  > ol,
  > ul {
    @include list-unstyled();
    margin-left: $margin-lg;

    h5 {
      font-size: $font-size-base;
      margin-bottom: 0;
    }
  }
}

// Other name lists
.other-name-list {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;

  @include list-unstyled();
  @include list-inline(" /\00a0");
}

// Inline search/filter
.block-header .inline-search-filter {

  @include search-box($secondary);
  margin-left: auto;
}

// Sidebar facets
.search-facets {
  .search-facets-remove-all {
    font-size: $font-size-sm;
    color: var(--red);
    margin-bottom: $margin-md;
    display: inline-block;

    i {
      font-size: $font-size-sm;
      vertical-align: middle;
    }
  }

  .search-facets-heading {
    margin-bottom: $margin-md;
  }

  .facet-options {
    @include list-unstyled();
    font-size: $font-size-sm;
  }

  .facet-class {
    .facet-label {
      font-size: $font-size-sm;
      margin-bottom: $margin-sm;
    }

    > .facet-options li {
      margin-bottom: $margin-xs;
    }

    > .facet-options li > a {
      color: $text-darkened;
    }

    > .facet-options li.remove-filter > a > i {
      font-size: $font-size-sm;
      color: var(--red);
      vertical-align: middle;
    }

    margin-bottom: $margin-md;
  }
}

.sidepanel-toc {
  position: sticky;
  top: 2rem;
}

.sidebar-section {
  font-size: $font-size-sm;
  margin-bottom: $margin-lg;

  .sidebar-section-heading {
    color: var(--secondary);
    h4 {
      font-size: $font-size-sm;
    }
    margin-bottom: $margin-sm;
  }

  .sidebar-section-body > ul {
    @include list-unstyled();

    > li {
      margin-bottom: $margin-xs;
    }
  }
}

// Hide certain sidebar sections except
// on wide widths: FIXME
.sidebar-section.history,
.sidebar-section.export,
.sidebar-section.archival-context,
.sidebar-section.child-items {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

// Make modal dialogs wider with wide screens...
@include media-breakpoint-up(lg) {
  .modal-dialog {
    max-width: map_get($container-max-widths, md);
  }
}

// Description list terms and
// field headings
.item-text-field-header h4,
dl dt {
  @extend %field-label;
}

// Item pages
.item-header {
  margin-bottom: $margin-md;
}

.item-meta ul {
  @include list-unstyled();
  margin-bottom: 0;
}

.item-text-field-list {
  @include list-unstyled();
}

// Descriptions
.description-holder {
  margin-bottom: $margin-lg;
}

.description-viewport {
  .item-children {
    > a {
      font-size: $font-size-sm;
    }

    margin-bottom: $margin-lg;
  }
}

.description-section {
  margin-bottom: $margin-md;
}

.archival-context .ancestor {
  margin-left: $margin-sm;

  .material-icons {
    vertical-align: text-bottom;
    color: $text-darkened;
    font-size: $font-size-lg;
  }
}

.import-disclaimer {
  @extend %small-muted;
}

.link-description {
  @extend %small-muted;
}

.minor-notice {
  color: $text-muted;
}

.secondary-attribute {
  columns: $text-muted;
}

.unknown-data-section {
  @extend %small-muted;
}

.description-switcher {
  .sidebar-section-body {

    .multiple-description-help {
      color: $text-darkened;
    }

    > ul > li {
      margin-bottom: 0;
    }

    > ul > li > a {
      font-size: $font-size-xs;
      color: var(--secondary);
      padding: $margin-sm;
      display: block;
      border: $border-width solid $border-color;
      border-top: 0;

      &:hover {
        text-decoration: none;
        background-color: $gray-200;
      }
    }

    > ul > li:first-child > a {
      border-top: $border-width solid $border-color;
    }

    > ul > li > a.active {
      background-color: var(--info);
      color: var(--white);
    }
  }
}

.detail-section {
  border: $border-width solid $border-color;
  background-color: $gray-100;
  padding: $margin-sm;
  border-radius: $border-radius;
}

.description-notice-text {
  @extend .detail-section;
  font-size: $font-size-sm;
  margin-bottom: $margin-sm;
}

.description-attributes dt ul,
.description-attributes dt ol {
  @include list-unstyled();
}

// Annotations etc

.annotate-field.inactive {
  opacity: 0;
}

.annotate-item,
.annotate-field {
  font-size: $font-size-xs;

  &:hover {

  }
}

.annotation-form {
  font-size: $font-size-xs;
  border: $border-width solid $border-color;
  background-color: $gray-100;
  padding: 0 $margin-xs $margin-xs $margin-xs;
  margin-bottom: $margin-sm;

  input,
  textarea {
    background-color: rgba($white, .3);
    margin-bottom: $margin-xs;
  }
}

.annotation-form-controls {
  // Prevents covering close control...
  clear: both;

  .markdown {
    position: relative;
    .markdown-helper {
      position: absolute;
      bottom: 0;
      right: -$margin-xs;
      padding-right: $margin-xs * 2;
      cursor: help;
      font-style: italic;
      color: $text-darkened;
    }

  }
}

.markdown-cheatsheet {
  display: none;
}

.annotation-submit-controls {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .checkbox-inline {
    margin: 0 $margin-xs;
  }
}

// Activity stream
#activity-stream {
  > .timeline-event {
    margin-bottom: $list-margin-bottom;
  }
}

.timeline-event {
  > .timeline-body {
    margin-left: $margin-sm;
  }

  .timeline-event-title {
    margin-bottom: 0;
  }

  .timeline-event-time {
    @extend %small-muted;
  }

  .timeline-summary-subjects {
    @include list-unstyled();
    font-size: $font-size-sm;
  }

  .timeline-badge {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;

    &.success {
      background-color: $success;
    }

    &.info {
      background-color: $info;
    }

    &.warning {
      background-color: $warning;
    }
  }

  @include media-breakpoint-up(md) {
    dl.timeline-summary {
      @include make-row();

      dt {
        @include make-col-ready();
        @include make-col(2);
      }

      dd {
        @include make-col-ready();
        @include make-col(10);
      }
    }
  }
}

#activity-stream-fetchmore {
  @extend .btn;
}

// Annotations


.item-text-field .annotation-set {
  @include media-breakpoint-up(mg) {
    @include make-col-ready();
    @include make-col-offset(3);
    @include make-col(9);
  }
}

.annotation-set {
  font-size: $font-size-xs;

  .annotation-list {
    &:empty {
      display: none;
    }
    @include list-unstyled();
    margin-bottom: 0;

    > li + li {
      margin-top: $margin-sm;
    }

    > li {
      padding: $margin-xs;
      background-color: $gray-100;
      @include clearfix();

      p {
        margin-bottom: .5rem;
      }

      p + p {
        margin-top: .5rem;
      }
    }

    .annotation-meta {
      float: right;
      a {
        font-size: $font-size-xs;
        @extend %small-muted;
      }

      &:before {
        content: '- ';
      }

      .material-icons {
        font-size: $font-size-sm;
        vertical-align: middle;
      }
    }
  }
}

// Feedback
.feedback {
  width: 300px;
  padding: $margin-sm;
  @include clearfix();

  .feedback-form-footer {
    float: right;
  }
}

.feedback-thanks {
  @extend .alert, .alert-success;
  position: absolute;
  left: $margin-sm;
  right: $margin-sm;
  z-index: 10;
  display: none;
  box-shadow: $box-shadow;
}

.feedback-list {
  width: 100%;
  @extend .table, .table-bordered, .table-striped;
}



