.user-list {
  @include list-unstyled();
}

.user-thumbnail {
  width: 3rem;
  height: 3rem;
}

.user-grid {
  @include clearfix();
  @include list-unstyled();
  @extend .list-inline;

  .user-info {
    @include float-left();
    width: 30rem;

    img {
      width: 10rem;
    }
  }
}

.user-info {
  @extend .media;

  .user-info-details {
    @extend .media-body;

    > ul {
      @include list-unstyled();
    }
  }

  .follow-controls {
    //@include float-right();
    @extend .ml-auto;
  }
}

