<div class="item-page">
    <div ng-switch on="itemData.isA">
        <div ng-switch-when="documentaryUnit">
            <h2>Doc</h2>
        </div>
        <div ng-switch-when="repository">
            <h2>Repo</h2>
        </div>
        <div ng-switch-when="historicalAgent">
            <h2>Agent</h2>
        </div>
        <div ng-switch-when="cvocConcept">
            <h2>Concept</h2>
        </div>
        <div ng-switch-when="cvocVocabulary">
            <h2>Vocab</h2>
        </div>
        <div ng-switch-when="authoritativeSet">
            <h2>Set</h2>
        </div>
        <div ng-switch-default>
            <h2>Nope: {{EntityTypes.documentaryUnit}}</h2>
        </div>
    </div>
</div>