@(item: Option[Agent], f: play.api.data.Form[models.forms.AgentF], action: Call)(
implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.updateAgent"))(Some(user), req) {
    @helper.form(action = action, 'class -> "entity-form form-horizontal") {

        @agent.renderForm(item, f)

        <fieldset id="admin-area">
        <legend>@Messages("Administration")</legend>
        @formHelpers.enumChoiceInput(f("publicationStatus"), defines.PublicationStatus, "Publication Status")
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("submitButton.updateAgent")</button>
        </div>
    }
} {

}
