@(item: Agent, maybeUser: Option[UserProfile], req: RequestHeader)

@import defines._
@import models.forms.Isdiah._

@main(item.name)(maybeUser, req) {

	<h3>@item.name (@item.identifier)</h3>

	@if(!item.descriptions.isEmpty) {
	  <h4>@Messages("Available Descriptions")</h4>
		@item.descriptions.map { desc =>
		  <h5>Language: @desc.languageCode</h5>

		  <h5>Description</h5>
		  @common.stringValue(desc, HISTORY)
		  @common.stringValue(desc, GENERAL_CONTEXT)
		  @common.stringValue(desc, MANDATES)
		  @common.stringValue(desc, ADMINISTRATIVE_STRUCTURE)
		  @common.stringValue(desc, RECORDS)
		  @common.stringValue(desc, BUILDINGS)
		  @common.stringValue(desc, HOLDINGS)
		  @common.stringValue(desc, FINDING_AIDS)
		}
	}

	@common.visibility(item)

  	<hr />
	<a href="@routes.Agents.list(1, 20)">@Messages("actions.backToList")</a>
	@maybeUser.map { user =>
	  @defining(ContentType.Agent) { implicit contentType =>
		@if(user.hasPermission(PermissionType.Create)) {
		  &nbsp;|&nbsp;
		  <a href="@routes.Agents.create">@Messages("actions.createNewRepository")</a>
		}
  		@if(user.hasPermission(PermissionType.Create)(ContentType.DocumentaryUnit)) {
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Agents.docCreate(item.id)">@Messages("actions.createNewDocUnit")</a>
  		}
  		@if(user.hasPermission(PermissionType.Update)) {
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Agents.visibility(item.id)">@Messages("actions.setVisibility")</a>
  		}
  		@if(user.hasPermission(PermissionType.Update)) {
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Agents.update(item.id)">@Messages("actions.updateItem")</a>
  		}
  		@if(user.hasPermission(PermissionType.Delete)) {
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Agents.delete(item.id)">@Messages("actions.deleteItem")</a>
  		}
      }
	}
}