@(item: Agent, page: rest.Page[DocumentaryUnit], params: ListParams, annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import Isdiah._

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item))) {

    @common.annotated(item, annotations, routes.Agents.annotate(item.id)) {
        @defining("isdiah") { implicit fieldPrefix =>
            @if(!item.descriptions.isEmpty) {
                <h3>@Messages("Available Descriptions")</h3>
                @item.descriptions.map { desc =>
                    <h5>Language: @desc.languageCode</h5>

                    @desc.addresses.map { address =>
                        <address title="@address.stringProperty(ADDRESS_NAME)">
                        @List(CONTACT_PERSON, STREET_ADDRESS,CITY,REGION).map { addressPart =>
                            @address.stringProperty(addressPart).map { addressPartValue =>
                                @addressPartValue<br />
                            }
                        }
                        @address.stringProperty(COUNTRY_CODE).map { cc =>
                            @* TODO: Map country code to name *@
                            @cc<br />
                        }
                        @List(EMAIL, TELEPHONE, FAX, URL).map { addressPart =>
                            @address.stringProperty(addressPart).map { addressPartValue =>
                                @addressPartValue<br />
                            }
                        }
                        </address>
                    }


                    <h4>@Messages(fieldPrefix + "." + DESCRIPTION_AREA)</h4>
                    <div class="description-section">
                        @common.stringValue(desc, HISTORY)
                        @common.stringValue(desc, GENERAL_CONTEXT)
                        @common.stringValue(desc, MANDATES)
                        @common.stringValue(desc, ADMINISTRATIVE_STRUCTURE)
                        @common.stringValue(desc, RECORDS)
                        @common.stringValue(desc, BUILDINGS)
                        @common.stringValue(desc, HOLDINGS)
                        @common.stringValue(desc, FINDING_AIDS)
                    </div>

                    <h4>@Messages(fieldPrefix + "." + ACCESS_AREA)</h4>
                    <div class="description-section">
                        @common.stringValue(desc, OPENING_TIMES)
                        @common.stringValue(desc, CONDITIONS)
                        @common.stringValue(desc, ACCESSIBILITY)
                    </div>

                    <h4>@Messages(fieldPrefix + "." + SERVICES_AREA)</h4>
                    <div class="description-section">
                        @common.stringValue(desc, RESEARCH_SERVICES)
                        @common.stringValue(desc, REPROD_SERVICES)
                        @common.stringValue(desc, PUBLIC_AREAS)
                    </div>

                    <h4>@Messages(fieldPrefix + "." + CONTROL_AREA)</h4>
                    <div class="description-section">
                        @common.stringValue(desc, DESCRIPTION_IDENTIFIER)
                        @common.stringValue(desc, INSTITUTION_IDENTIFIER)
                        @common.stringValue(desc, RULES_CONVENTIONS)
                        @common.stringValue(desc, STATUS)
                        @common.stringValue(desc, LEVEL_OF_DETAIL)
                        @common.stringValue(desc, DATES_CVD)
                        @common.stringValue(desc, LANGUAGES_USED)
                        @common.stringValue(desc, SCRIPTS_USED)
                        @common.stringValue(desc, SOURCES)
                        @common.stringValue(desc, MAINTENANCE_NOTES)
                    </div>
                }
            }
        }
    }

    @common.relatedLinks(item, annotations)

    @common.filterableList("pagination.displayingItems", page, params, DocumentaryUnits.listFilterMappings.keys, DocumentaryUnits.orderMappings.keys) {
        @documentaryUnit.itemList(page)
    }

} {
    @common.latestAction(item, routes.Agents.history(item.id))
    @common.visibility(item, routes.Agents.visibility(item.id), ContentType.Agent)

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
        @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Create)) {
            <li><a href="@routes.Agents.createDoc(item.id)">@Messages("actions.createNewDocUnit")</a></li>
            }
        @if(user.hasPermission(ContentType.Agent, PermissionType.Update)) {
            <li><a href="@routes.Agents.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
        @if(user.hasPermission(ContentType.Agent, PermissionType.Delete)) {
            <li><a href="@routes.Agents.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
        @if(user.hasPermission(ContentType.Agent, PermissionType.Grant)) {
            <li><a href="@routes.Agents.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
        <li><a href="@routes.Agents.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}