@(item: Agent)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import models.forms.Isdiah._

@main(item.name)(maybeUser, req) {

    @defining("isdiah") { implicit fieldPrefix =>
        <h2>@item.name @item.identifier </h2>

        @common.flash(flash)

        @if(!item.descriptions.isEmpty) {
            <h3>@Messages("Available Descriptions")</h3>
            @item.descriptions.map { desc =>
                <h5>Language: @desc.languageCode</h5>

                <h4>@Messages(fieldPrefix + "." + ADDRESS_AREA, desc.addresses.size)</h4>
                @desc.addresses.map { address =>
                    @common.stringValue(address, ADDRESS_NAME)
                    @common.stringValue(address, CONTACT_PERSON)
                    @common.stringValue(address, STREET_ADDRESS)
                    @common.stringValue(address, CITY)
                    @common.stringValue(address, REGION)
                    @common.stringValue(address, COUNTRY_CODE)
                    @common.stringValue(address, EMAIL)
                    @common.stringValue(address, TELEPHONE)
                    @common.stringValue(address, FAX)
                    @common.stringValue(address, URL)
                }

                <h4>@Messages(fieldPrefix + "." + DESCRIPTION_AREA)</h4>
                <div class="description-section">
                    @common.stringValue(desc, HISTORY)
                    @common.stringValue(desc, GENERAL_CONTEXT)
                    @common.stringValue(desc, MANDATES)
                    @common.stringValue(desc, ADMINISTRATIVE_STRUCTURE)
                    @common.stringValue(desc, RECORDS)
                    @common.stringValue(desc, BUILDINGS)
                    @common.stringValue(desc, HOLDINGS)
                    @common.stringValue(desc, FINDING_AIDS)
                </div>

                <h4>@Messages(fieldPrefix + "." + ACCESS_AREA)</h4>
                <div class="description-section">
                    @common.stringValue(desc, OPENING_TIMES)
                    @common.stringValue(desc, CONDITIONS)
                    @common.stringValue(desc, ACCESSIBILITY)
                </div>

                <h4>@Messages(fieldPrefix + "." + SERVICES_AREA)</h4>
                <div class="description-section">
                    @common.stringValue(desc, RESEARCH_SERVICES)
                    @common.stringValue(desc, REPROD_SERVICES)
                    @common.stringValue(desc, PUBLIC_AREAS)
                </div>

                <h4>@Messages(fieldPrefix + "." + CONTROL_AREA)</h4>
                <div class="description-section">
                    @common.stringValue(desc, DESCRIPTION_IDENTIFIER)
                    @common.stringValue(desc, INSTITUTION_IDENTIFIER)
                    @common.stringValue(desc, RULES_CONVENTIONS)
                    @common.stringValue(desc, STATUS)
                    @common.stringValue(desc, LEVEL_OF_DETAIL)
                    @common.stringValue(desc, DATES_CVD)
                    @common.stringValue(desc, LANGUAGES_USED)
                    @common.stringValue(desc, SCRIPTS_USED)
                    @common.stringValue(desc, SOURCES)
                    @common.stringValue(desc, MAINTENANCE_NOTES)
                </div>
            }
        }
    }

    <hr />
	@common.visibility(item)

  	<ul class="item-actions">
        <li><a href="@routes.Agents.list()">@Messages("actions.backToList")</a></li>
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Create)) {
                <li><a href="@routes.Agents.createDoc(item.id)">@Messages("actions.createNewDocUnit")</a></li>
            }
            @if(user.hasPermission(ContentType.Agent, PermissionType.Update)) {
                <li><a href="@routes.Agents.visibility(item.id)">@Messages("actions.setVisibility")</a></li>
            }
            @if(user.hasPermission(ContentType.Agent, PermissionType.Update)) {
                <li><a href="@routes.Agents.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Agent, PermissionType.Delete)) {
                <li><a href="@routes.Agents.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Agent, PermissionType.Grant)) {
                <li><a href="@routes.Agents.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.ActionLogs.historyFor(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>

}