@(item: Option[AccessibleEntity], f: play.api.data.Form[_], action: Call)(implicit maybeUser: Option[models.sql.User], req: RequestHeader)
 
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main("Update item")(maybeUser, req) {
	
	@item.map { v =>
		<h4>Update @v.identifier</h4>
	}.getOrElse {
		<h4>Create</h4>
	}
	

	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		@helper.inputText(f("identifier"), '_label -> "Identifier")
		@helper.inputText(f("name"), '_label -> "Authorised form of Name")
		
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages(item.map(s => "Update Authority").getOrElse("Create Authority"))</button>
        </div>
	}
	
}