@(perm: Option[backend.rest.PermissionDenied] = None)(implicit req: RequestHeader, lang: Lang)

@layout.errorLayout(Messages("errors.permissionDenied")) {

	<p class="text-error">@Messages("errors.permissionDeniedExplanation")</p>

    @perm.map { error =>
        <hr/>
        <p>
            <strong>@Messages("errors.errorDetails"):</strong>
            <dl>
                <dt>user</dt><dd>@error.user</dd>
                <dt>item</dt><dd>@error.item</dd>
                <dt>permission</dt><dd>@error.permission</dd>
                <dt>scope</dt><dd>@error.scope</dd>
            </dl>
        </p>
    }.getOrElse {
        <p>@Messages("errors.noFurtherInfo")</p>
    }
}