@ehri-purple : #6C003B;

/*
*
*	APPLYING
*
*/

@link-color:            @ehri-purple;
@link-hover-color:      darken(@link-color, 15%);

@btn-default-color:              #fff;
@btn-default-bg:                 @ehri-purple;
@btn-default-border:             darken(@link-color, 15%);