@ehri-purple : #6C003B;

/*
*
*	APPLYING
*
*/

@link-color:            @ehri-purple;
@link-hover-color:      darken(@link-color, 15%);

/*
	@btn-default-color:              #fff;
	@btn-default-bg:                 @ehri-purple;
	@btn-default-border:             darken(@link-color, 15%);
*/

@btn-post-color:		#fff;
@btn-post-bg:			@ehri-purple;
@btn-post-border:		darken(@ehri-purple, 15%);

@btn-get-color:			@btn-default-color;
@btn-get-bg:			@btn-default-bg;
@btn-get-border:		@btn-default-border;