@ehri-purple : #6C003B;

/*
*
*	APPLYING
*
*/

@small-padding: 5px;
@medium-padding: 10px;
@large-padding: 20px;

@icon-font-path:          "../bootstrap/police/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:	"glyphicons_halflingsregular";



@link-color:            @ehri-purple;
@link-hover-color:      darken(@link-color, 15%);

/*
	@btn-default-color:              #fff;
	@btn-default-bg:                 @ehri-purple;
	@btn-default-border:             darken(@link-color, 15%);
*/

@btn-post-color:		#fff;
@btn-post-bg:			@ehri-purple;
@btn-post-border:		darken(@ehri-purple, 15%);

@btn-get-color:			@btn-default-color;
@btn-get-bg:			@btn-default-bg;
@btn-get-border:		@btn-default-border;

@btn-cancel-color:              #000;
@btn-cancel-bg:                 @btn-default-bg;
@btn-cancel-border:             @btn-default-border;

/* Zocial */
@icon-zocial-name : "zocial";
