# Scala CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/sample-config/ for more details
#
version: '2.1'
orbs:
  node: circleci/node@4.2.0
jobs:
  test:
    machine: 
      image: ubuntu-1604:202007-01
    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb
      SMTP_PORT: 2500
      SBT_VERSION: 1.4.1

    steps:
      - run:
          name: Get sbt binary
          command: |
            sudo curl -L -o sbt-$SBT_VERSION.deb https://scala.jfrog.io/artifactory/debian/sbt-$SBT_VERSION.deb
            sudo dpkg -i sbt-$SBT_VERSION.deb
            sudo rm sbt-$SBT_VERSION.deb

      - checkout

      # Do some faff magic to get the right node version installed
      - run:
          name: Setup NVM
          command: |
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo ' [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV

      - run: |
          nvm install v16.13.1
          nvm alias default v16.13.1

      - node/install-packages:
          override-ci-command: npm i

      - run:
          command: npm test

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.sbt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Compile
          command: sbt test:compile

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies--{{ checksum "build.sbt" }}

      # Start service dependencies
      - run:
          name: Start Service Dependencies
          command: docker-compose up -d

      # run tests!
      - run:
          name: Run tests
          command: sbt test:test

workflows:
  build_and_test:
    jobs:
      - test
