@(item: models.base.LinkableEntity, page: rest.Page[models.base.LinkableEntity], params: ListParams, entityType: defines.EntityType.Value, action: (String,String,String) => Call)(
implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import controllers.base.EntityAnnotate

@noSidebarLayout(Messages("actions.listDocumentaryUnits")) {
    @common.filterableList("pagination.displayingItems", page, params, EntityAnnotate.listFilterMappings.keys, EntityAnnotate.orderMappings.keys) {
        <ul>
            @page.items.map { e =>
                <li><a href="@action(item.id, entityType.toString, e.id)">@e</a></li>
            }
        </ul>
    }
}