@(item: AnyModel, page: utils.search.ItemPage[(AnyModel,String)], params: solr.SearchParams, facets: List[solr.facet.AppliedFacet], entityType: EntityType.Value, action: Call, linkAction: (String,String,String) => Call)(
implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.linkTo"), breadcrumbs = common.breadcrumbs(List(item))) {
    @views.html.search.searchSection(Messages("contentTypes." + entityType.toString)) {
        @views.html.search.searchForm(page, params, action, autofocus = false) {
            <ul>
                @page.items.map { case (otherItem, descId) =>

                    <li>
                        <a href="@linkAction(item.id, entityType.toString, otherItem.id)">
                            @otherItem
                            @* FIXME: Check this    LinkableEntity.fromEntity(otherItem).map(_.toStringLang).getOrElse(item)*@
                        </a>
                    </li>
                }
            </ul>
        }
    }
} {

}