@(item: LinkableEntity, form: play.api.data.Form[List[(String,LinkF)]], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.linkAnnotate", item)) {
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @helper.repeat(form("annotation"), min = 2) { annf =>
            <fieldset id="annotate-area">
                <legend>@Messages("annotation.relatedItem")</legend>

                    @helper.inputText(annf("id"), '_label -> "item")
                    @defining(annf("data")) { formData =>
                        @helper.inputText(formData(LinkF.DESCRIPTION), '_label -> Messages("link.description"))
                        <input type="hidden" value="@LinkF.LinkType.Associative" name="@formData(LinkF.LINK_TYPE).name" />
                    }
            </fieldset>
        }

        <div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("submitButton.linkAnnotate")</button>
		</div>
	}
} {

}