@(item: VirtualUnit, result: utils.search.ItemPage[(AnyModel, utils.search.SearchHit)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call, annotations: Seq[Annotation], links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@actions(title: String, id: String, did: String) = {
    @userOpt.map { user =>
        @if(user.hasPermission(ContentTypes.DocumentaryUnit, PermissionType.Update)) {
        <div class="btn-group pull-right">
            <a class="button get dropdown-toggle" data-toggle="dropdown" href="#">
                @title
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@controllers.archdesc.routes.VirtualUnits.updateDescription(id, did)">@Messages("describedEntity.editDescription")</a></li>
                <li><a class="alert alert-danger" href="@controllers.archdesc.routes.VirtualUnits.deleteDescription(id, did)">@Messages("describedEntity.deleteDescription")</a></li>
            </ul>
        </div>
        }
    }
}


@extrascripts = {

}

@sidebar = {

    @if(!item.descriptions.isEmpty) {
        <div class="sidebar-section">
            <header><h3>@Messages("describedEntity.availableDescriptions")</h3></header>
            <ul class="list-group description-switcher">
                @defining(item.descriptions ++ item.descriptionRefs) { allDescriptions =>
                    @allDescriptions.map { d =>
                    <li class="list-group-item">
                        <a class="description-switch" href="#desc-@d.id">
                            @views.Helpers.languageCodeToName(d.languageCode) - @d.name
                        </a>
                    </li>
                    }
                }
            </ul>
            <div class="sidebar-section-footer">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <a href="@controllers.archdesc.routes.VirtualUnits.createDescription(item.id)">@Messages("actions.createDescription")</a>
            </div>
        </div>
    }
}

@descriptionSet(descriptions: Seq[DocumentaryUnitDescriptionF], editable: Boolean)(implicit fieldPrefix: String) = {
    @if(!descriptions.isEmpty) {
        <div class="description-viewport">
            @descriptions.zipWithIndex.map { case (desc,i) =>
                @defining(desc.id.getOrElse("INVALID_DESC_ID")) { descId =>
                    <div class="description-holder" id="desc-@descId">
                        @if(editable) {
                            @actions("Actions", item.id, descId)
                        }
                        @documentaryUnit.renderDescription(item, desc, links)
                    </div>
                }
            }
        </div>
    }
}

@virtualUnit.itemPage(item, scripts = extrascripts, sidebar = sidebar) {
    @common.annotated(item, annotations) {

        <div class="header-actions clearfix">
            @item.parent.map { parent =>
            <h4>@Messages("virtualUnit.parentItem"): <a href="@controllers.archdesc.routes.VirtualUnits.get(parent.id)">@parent.toStringLang</a></h4>
            }
        </div>

        @* NB: We should NOT have *both* virtual and referenced descriptions! *@
        @defining(EntityType.DocumentaryUnit.toString) { implicit fieldPrefix =>
            @descriptionSet(item.descriptions, editable = true)
        }

        @defining(EntityType.DocumentaryUnit.toString) { implicit fieldPrefix =>
            @descriptionSet(item.descriptionRefs, editable = false)
        }

        @link.annotationLinks(item, links)
    }

    @item.childCount.map { count =>
        @views.html.search.searchSection(Messages(EntityType.DocumentaryUnit + ".searchInside", item.toStringAbbr(lang))) {
            @views.html.search.searchForm(result, params, action, autofocus = false) {
                @documentaryUnit.searchItemList(result)
            }
        }
    }
}
