<div class="modal-body" ng-controller="SearchCtrl">
    <form name="searchForm" ng:submit="doSearch(q)" >
        <label>Search</label>
        <input type="text" ng-model="q">
    </form>
    <div id="results" ng-show="results.length" ng-clock >
        <div class="result" ng-class="result.isSelected && 'active'"
             ng-click="selectResult(result)"
             ng-repeat="result in results">
            <h4><a href="#/search/{{result.id}}">{{result.data.name}}</a></h4>
        </div>
        <button ng-click="moreResults(q)">More...</button>
    </div>
</div>