@(user: UserProfile, users: utils.search.ItemPage[UserProfile], params: utils.search.SearchParams, following: Seq[UserProfile])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import utils.search.SearchParams

@p.layout.portalLayout(Messages("portal.social.browseUsers")) {
    @layout.infobar {
    } {
    }

    @views.html.layout.mainContent {
        <h1>@Messages("portal.social.browseUsers")</h1>

        @if(params.isFiltered || !users.items.isEmpty) {
            @helper.form(action = controllers.portal.social.routes.Social.browseUsers, 'role -> "form", 'class -> "form-horizontal") {
                <div class="row search-bar">
                    <div class="col-md-2">
                        <h4>@Messages("portal.search")</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-inline search-box">
                            <div class="input-group">
                                <input type="search" class="form-control"
                                       placeholder="@Messages("search.queryPlaceholder")"
                                name="@SearchParams.QUERY" value="@params.query" autofocus />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default">
                                            <span class="glyphicon glyphicon-search"></span>
                                            @Messages("forms.search")
                                        </button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>
                        <ul class="list-unstyled user-list">
                            @browseUsersList(user, users.items, following)
                        </ul>
                        @common.pagination(users)
                    </div>
                </div>
            }
        }
    }
}