@(them: UserProfile, events: List[SystemEvent], followed: Boolean)(implicit req: RequestHeader, userOpt: Option[UserProfile], globalConfig: global.GlobalConfig, flash: Flash, lang: Lang)

@p.layout.portalLayout(them.toStringLang) {
    @p.layout.infobar {
        <li><a href="@controllers.portal.routes.Portal.browseUsers">@Messages("portal.social.browseUsers")</a></li>
    } {
        <h1>@them.toStringLang</h1>
    } {
        @for(user <- userOpt if user.id != them.id) {
            @p.common.followingButtons(them, followed)
        }
    }

    <div class="main-content">
        <div class="row">
            <div class="col-md-2">
                @profileForUser(them)
            </div>
            <div class="col-md-10">
                @p.common.panel(Messages("portal.activity")) {
                    @if(!events.isEmpty) {
                        <ul id="activity-stream" class="list-unstyled">
                            @p.common.eventItems(events)
                        </ul>
                    } else {
                        <p class="text-muted">@Messages("portal.activity.noUserActivityYet")</p>
                    }
                }
            </div>
        </div>
    </div>
}