@(user: UserProfile, users: utils.search.ItemPage[UserProfile], params: utils.search.SearchParams, following: List[UserProfile])(implicit req: RequestHeader, userOpt: Option[UserProfile], lang: Lang)

@users.items.map { other =>
    <li class="user-list-item">
        @defining(following.exists(_.id == other.id)) { follows =>
            <span class="unfollow pull-right" style="display: @(if(follows) "inline" else "none")">
                <a class="btn btn-sm btn-danger" href="@controllers.portal.routes.Portal.unfollowUser(other.id)">@Messages("portal.social.unfollow")</a>
            </span>
            <span class="follow pull-right" style="display: @(if(!follows) "inline" else "none")">
                <a class="btn btn-sm btn-default" href="@controllers.portal.routes.Portal.followUser(other.id)">@Messages("portal.social.follow")</a>
            </span>
        }
        <a href="@controllers.portal.routes.Portal.browseUser(other.id)" class="gravitar">
            <img height="48" width="48" class="img-responsive img-thumbnail" src="@controllers.portal.routes.Assets.at("img/default-gravitar.png")" />
        </a>
        <div class="user-list-info">
            <a class="name" href="@controllers.portal.routes.Portal.browseUser(other.id)">@other.model.name</a>
            <small>
                <ul class="list-unstyled comma-sep">
                    <li>@other.model.location</li>
                </ul>
            </small>
        </div>
        <div class="clearfix"></div>
    </li>
}