@(them: UserProfile, users: Iterable[UserProfile], following: Seq[UserProfile] = Nil)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@isCurrentUser(user: UserProfile) = @{
    userOpt.exists(_.id == user.id)
}

@users.map { other =>
    <li class="user-list-item search-item @{if(isCurrentUser(other)) "current"}">
        @if(!isCurrentUser(other)) {
            @defining(following.exists(_.id == other.id)) { follows =>
                <div class="follow-controls">
                @p.common.followingButtons(other, follows)
                </div>
            }
        }
        <a href="@controllers.portal.social.routes.Social.browseUser(other.id)" class="gravitar">
            <img height="48" width="48" class="img-responsive img-thumbnail" src="@views.p.Helpers.gravitar(other.model.imageUrl)" />
        </a>
        <h3 class="search-item-heading type-highlight userProfile">
            <a class="name" href="@controllers.portal.social.routes.Social.browseUser(other.id)">@other.model.name</a>
        </h3>
        <div class="user-list-info">
            <ul class="user-locations comma-sep">
                <li>@other.model.location</li>
            </ul>
        </div>
    </li>
}
