@(them: UserProfile, users: utils.AbstractPage[UserProfile], params: utils.PageParams, myFollowing: List[UserProfile])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(Messages("portal.social.userFollowers", them.toStringLang), "user") {

    @p.social.profileBar(them){
        @for(user <- userOpt if user.id != them.id) {
            @p.common.followingButtons(them, myFollowing.exists(_.id == them.id))
        }
    }

    <div class="main-content">
        @profileForUser(them)
        <div class="user-profile-activity">
            <h3 class="block-header user">@Messages("portal.social.userFollowing", them.toStringLang)</h3>
            <div class="browse-users-followers">
                @followerList(them, users, params, myFollowing)
            </div>
        </div>
    </div>
}