@(them: UserProfile, users: utils.AbstractPage[UserProfile], params: utils.PageParams, myFollowing: Seq[UserProfile])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(Messages("portal.social.usersFollowedBy", them.toStringLang), EntityType.UserProfile.toString) {

    @profileBar(them) {
        @for(user <- userOpt if user.id != them.id) {
            @p.common.followingButtons(them, myFollowing.exists(_.id == them.id))
        }
    }

    @views.html.layout.mainContent {
        @profileForUser(them, true)
        <div class="user-profile-activity">
            <h3 class="block-header user">@Messages("portal.social.usersFollowedBy", them.toStringLang)</h3>
            <div class="browse-users-following">
                @followingList(them, users, params, myFollowing)
            </div>
        </div>
    }
}