@(user: UserProfile, form: Form[(String,String)], action: Call, recaptchaKey: String)(implicit userOpt: Option[UserProfile], globalConfig: global.GlobalConfig, request: RequestHeader, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplate.f) }

@helper.form(action = action, 'class -> "message-form form-horizontal", 'role -> "form") {
    @formHelpers.csrfToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>@Messages("portal.social.message.send", user.toStringLang)</h4>
        <p class="text-muted">
            @Messages("portal.social.message.send.warning")
        </p>
    </div>
    <div class="modal-body">
        <div class="row">
            @helper.inputText(form("subject"), 'required -> "true", '_label -> Messages("portal.social.message.send.subject"), 'inputDivClass -> "col-md-8 autofocus")
            @helper.textarea(form("message"), 'required -> "true", 'rows -> "6", '_label -> Messages("portal.social.message.send.message"), 'inputDivClass -> "col-md-8")
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class=" btn  btn-post ">@Messages("portal.social.message.send.submit")</button>
    </div>

}

