@(user: UserProfile, profilePage: Boolean = false)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

<div class="user-profile-sidebar">
    <ul class="user-profile-info">
        @user.model.location.map { loc =>
            <li>
                <span class="glyphicon glyphicon-map-marker"></span>
                @loc
            </li>
        }
        @user.model.about.map { about =>
            <li class="user-profile-description">
                @about
            </li>
        }
    </ul>
    <hr />
    <ul class="nav">
        <li class="@views.Helpers.maybeActive(controllers.portal.routes.Social.browseUser(user.id).url)"><a href="@controllers.portal.routes.Social.browseUser(user.id)"><i class="glyphicon glyphicon-list"></i> @Messages("portal.activity")</a></li>
        <li class="@views.Helpers.maybeActive(controllers.portal.routes.Social.watchedByUser(user.id).url)"><a href="@controllers.portal.routes.Social.watchedByUser(user.id)"><span class="glyphicon glyphicon-star"></span> @Messages("portal.profile.watch.list")</a></li>
        @userOpt.map { currentUser =>
            @if(currentUser.id == user.id) {
                <li class="@views.Helpers.maybeActive(controllers.portal.routes.Profile.profile.url)"><a href="@controllers.portal.routes.Profile.profile"><span class="glyphicon glyphicon-edit"></span> @Messages("portal.annotation.list")</a></li>
            }
        }
    </ul>
    <hr />
    <div class="user-profile-social">
        <a class="followers" href="@controllers.portal.routes.Social.followersForUser(user.id)">
            @Messages("portal.social.followers"): <span class="user-follower-count">@user.followerCount</span>
        </a>
        <a class="following" href="@controllers.portal.routes.Social.followingForUser(user.id)">
            @Messages("portal.social.following"): <span class="user-following-count">@user.followingCount</span>
        </a>
    </div>
</div>