@(user: UserProfile, profilePage: Boolean = false)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

<div class="user-profile-sidebar">
    <ul class="user-profile-info">
        @user.model.location.map { loc =>
            <li>
                <span class="glyphicon glyphicon-map-marker"></span>
                @loc
            </li>
        }
        @user.model.about.map { about =>
            <li class="user-profile-description">
                @about
            </li>
        }
    </ul>
    <hr />

    @defining(request.getQueryString("tab").getOrElse("0")) { activeTab =>
        <ul class="nav">
            @userOpt.map { currentUser =>
                @if(currentUser.id == user.id) {
                    @if(profilePage) {
                        <li><a href="@controllers.portal.routes.Social.browseUser(user.id)"><i class="glyphicon glyphicon-list"></i> @Messages("portal.activity")</a></li>
                        <li class="@(if(activeTab == "0") "active")"><a href="#user-watch-list" data-tabidx="0" data-toggle="tab"><span class="glyphicon glyphicon-star"></span> @Messages("portal.profile.watchedItems")</a></li>
                        <li class="@(if(activeTab == "1") "active")"><a href="#user-annotations" data-tabidx="1" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span> @Messages("portal.annotation.list")</a></li>
                    } else {
                        <li class="active"><a href="@controllers.portal.routes.Social.browseUser(user.id)"><i class="glyphicon glyphicon-list"></i> @Messages("portal.activity")</a></li>
                        <li><a href="@controllers.portal.routes.Profile.profile?tab=0"><span class="glyphicon glyphicon-star"></span> @Messages("portal.profile.watchedItems")</a></li>
                        <li><a href="@controllers.portal.routes.Profile.profile?tab=1"><span class="glyphicon glyphicon-edit"></span> @Messages("portal.annotation.list")</a></li>
                    }
                } else {
                    <li><a href="@controllers.portal.routes.Social.browseUser(user.id)"><i class="glyphicon glyphicon-list"></i> @Messages("portal.activity")</a></li>
                }
            }
        </ul>
    }
    <hr />
    <div class="user-profile-social">
        <a class="followers" href="@controllers.portal.routes.Social.followersForUser(user.id)">
            @Messages("portal.social.followers"): <span class="user-follower-count">@user.followerCount</span>
        </a>
        <a class="following" href="@controllers.portal.routes.Social.followingForUser(user.id)">
            @Messages("portal.social.following"): <span class="user-following-count">@user.followingCount</span>
        </a>
    </div>
</div>