@(guideData: (GuidePage, (Guide, List[GuidePage])), scripts: Html = Html(""), styles: Html = Html(""), optionalContent: Option[Html] = None, otherTitle: Option[String] = None)(content: Html)(implicit globalConfig: global.GlobalConfig, request: RequestHeader, lang: Lang)

<!DOCTYPE html>


@defining(guideData) { case (page, guidePages) =>
	@defining(guidePages) { case (guide, pages) =>
	<html>
		<head>
			<title>@guide.name | @otherTitle.getOrElse(page.name)</title>
			<link rel="stylesheet" media="screen" href="@controllers.portal.routes.Assets.versioned("css/guides.css")">
			@styles
			<style type="text/css">@Html(guide.css.getOrElse(""))</style>
		</head>
		<body>
		<header id="top">
			@views.html.p.layout.guideHeader(page.path, guidePages, guide.name)
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-8" id="main">
					@content
				</div>
				<div class="col-md-4" id="right-bar">
					@views.html.p.layout.guideSidebar(page.path, guidePages, optionalContent)
				</div>
			</div>
		</div>
			  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			  <script src="@controllers.portal.routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
		<script src="@controllers.portal.guides.routes.Guides.jsRoutes()"></script>
		<script type="text/javascript">
			VIRTUAL_UNIT = "@guide.virtualUnit";
			VIRTUAL_UNIT_ROUTE = "@controllers.portal.guides.routes.Guides.guideFacets(guide.path)?kw[]=";
			GUIDE_PATH = "@guide.path";
		</script>
			<script type="text/javascript" src="@controllers.portal.guides.routes.Assets.at("js/portal-guide.js")"></script>
			@scripts
		</body>
	</html>
	}
}