@(item: HistoricalAgent, desc: HistoricalAgentDescriptionF, links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang)

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 container">
                <p />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@Messages("portal.historicalAgent.set")</strong>
                    </div>
                    <div class="panel-body">
                        @item.set.map { s =>
                            @helpers.linkTo(s)
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                @defining(Isaar.FIELD_PREFIX) { implicit fieldPrefix =>
                    @renderDescription(item, desc, links)
                }

                @link.externalLinks(item, links)
                @link.annotationLinks(item, links)
            </div>
        </div>
    </div>
</div>
