@(item: HistoricalAgent, annotations: Map[String,List[Annotation]], links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.portalLayout(item.toStringLang) {
    @layout.breadcrumbs(item.isA.toString) {
        <li><a href="@controllers.portal.routes.Portal.browseHistoricalAgents">@Messages("portal.browse.historicalAgents")</a></li>
        @helpers.breadcrumbCurrent(item.toStringLang)
    }

    @infobar(item)

    @item.model.primaryDescription.map { desc =>
        @renderItem(item, desc, links)
    }.getOrElse {
        <p class="alert-error">
            No descriptions found
        </p>
    }
}