@(item: HistoricalAgent, annotations: Map[String,List[Annotation]], links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.portalLayout(item.toStringLang) {

    <div class="row top-bar">
        <div class="container">
            <ol class="breadcrumb">
                @item.set.map { set =>
                    <li>
                        <a href="@controllers.portal.routes.Portal.browseAuthoritativeSet(set.id)">@set.toStringLang</a>
                    </li>
                }
                <li><strong>@item.toStringLang</strong></li>
            </ol>
        </div>
    </div>

    @item.model.primaryDescription.map { desc =>
        @renderItem(item, desc, links)
    }.getOrElse {
        <p class="alert-error">
            No descriptions found
        </p>
    }
}