@(item: HistoricalAgent, annotations: Map[String,List[Annotation]], links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.portalLayout(item.toStringLang) {
    @layout.breadcrumbs(item.isA.toString) {
        @item.set.map { set =>
            <li>
                <a href="@controllers.portal.routes.Portal.browseAuthoritativeSet(set.id)">@set.toStringLang</a>
            </li>
        }
        <li>@item.toStringLang</li>
    }

    @infobar(item)

    @item.model.primaryDescription.map { desc =>
        @renderItem(item, desc, links)
    }.getOrElse {
        <p class="alert-error">
            No descriptions found
        </p>
    }
}