@(result: utils.search.ItemPage[(AnyModel,String)], params: utils.search.SearchParams, facets: List[solr.facet.AppliedFacet], action: Call)(
    implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("country.search")) {
    @views.html.search.searchForm(result, params, action) {
        @views.html.search.searchItemList(result)
    }
} {
    @common.sidebarSection(None) {
        @userOpt.map { user =>
            @if(user.hasPermission(ContentType.Country, PermissionType.Create)) {
                <a class="btn btn-primary" href="@routes.Countries.create">@Messages("actions.createCountry")</a>
            }
        }
    }
    @common.facetList(result.facets, action)
}