@(item: Country, result: solr.ItemPage[(Entity,String)], params: solr.SearchParams, facets: List[solr.facet.AppliedFacet], action: Call, annotations: Map[String,List[Annotation]], links: List[Link])(
        implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item.toStringLang, breadcrumbs = common.breadcrumbs(List(item))) {

    @common.annotated(item, annotations, routes.Countries.annotate(item.id)) {
        <p class="alert-info">TODO: Add country information here</p>
    }

    @views.html.search.searchSection(Messages("country.searchInside", item.toStringAbbr)) {
        @views.html.search.searchForm(result, params, action, autofocus = false)
    }
} {
    @common.facetList(result.facets, action)
    @common.visibility(item, routes.Countries.visibility(item.id), ContentType.Country)
    @common.latestAction(item, routes.Countries.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Repository, PermissionType.Create)) {
                <li><a href="@routes.Countries.createRepository(item.id)">@Messages("actions.createRepository")</a></li>
            }
            @if(user.hasPermission(ContentType.Country, PermissionType.Update)) {
                <li><a href="@routes.Countries.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Country, PermissionType.Delete)) {
                <li><a href="@routes.Countries.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Country, PermissionType.Grant)) {
                <li><a href="@routes.Countries.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.Countries.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}