@(form: play.api.data.Form[AnnotationF])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, fieldConstructor: helper.FieldConstructor, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import AnnotationF._

<fieldset id="annotate-area">
    <legend>@Messages("annotation.create")</legend>
    @defining("annotation") { implicit fieldPrefix =>
        @defining(form("")) { desc =>
            @formHelpers.csrfToken()
            @formHelpers.textInput(form(""), BODY)
            @formHelpers.hiddenInput(form(FIELD))
            @formHelpers.hiddenInput(form(ANNOTATION_TYPE))
        }
    }
</fieldset>
