@(form: play.api.data.Form[AnnotationF])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@import AnnotationF._

<fieldset id="annotate-area">
    <legend>@Messages("annotation.create")</legend>
    @defining("annotation") { implicit fieldPrefix =>
        @defining(form("")) { desc =>
            @formHelpers.csrfToken()
            @formHelpers.textInput(form(""), BODY)
            @formHelpers.hiddenInput(form(FIELD))
            @formHelpers.hiddenInput(form(ANNOTATION_TYPE))
        }
    }
</fieldset>
