@(item: Annotation, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(item.toStringLang, defines.EntityType.Annotation, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @views.html.admin.common.annotated(item, annotations) {

        <blockquote>
            @item.data.body
        </blockquote>

        @item.user.map { u =>
            <h4>@Messages("annotation.creator")</h4>
            <a href="@views.admin.Helpers.linkTo(u)">@u.toStringLang</a>
        }

        @item.target.map { t =>
            <h4>@Messages("annotation.target")</h4>
            <a href="@views.admin.Helpers.linkTo(t)">@t.toStringLang</a>
        }
    }
} {
    @if(item.data.isPromotable) {
        @views.html.admin.common.promotion(item, controllers.annotation.routes.Annotations.promote(item.id), controllers.annotation.routes.Annotations.demote(item.id), ContentTypes.Annotation)
    }
    @views.html.admin.common.visibility(item, controllers.annotation.routes.Annotations.visibility(item.id), ContentTypes.Annotation)
    @views.html.admin.common.latestAction(item, controllers.annotation.routes.Annotations.history(item.id))

    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Annotation, PermissionType.Delete)) {
            <a href="@controllers.annotation.routes.Annotations.delete(item.id)">@Messages("annotation.delete")</a>
        }
    }
}
