@(event: SystemEvent)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@import defines.EventType

@eventBody(event: SystemEvent)(html: Html) = {
    <li class="activity-stream-event">
        <small class="text-muted time">@views.Helpers.prettyDate(event.model.timestamp)</small>
        <div class="title">@html</div>
        @event.model.logMessage.filterNot(_.trim.isEmpty).map { msg =>
            <blockquote class="log-message blockquote">@msg</blockquote>
        }
    </li>
}

@messageForEvent(event: SystemEvent) = {
    @for(et <- event.model.eventType; user <- event.actioner; subject <- event.firstSubject; count <- event.childCount) {
        @eventBody(event) {
            @et match {
                case EventType.creation => {
                    @Html(Messages("portal.activity.userCreatedItem", helpers.linkTo(user), helpers.linkTo(subject), count - 1))
                }
                case EventType.modification | EventType.createDependent | EventType.modifyDependent => {
                    @Html(Messages("portal.activity.userUpdatedItem", helpers.linkTo(user), helpers.linkTo(subject), count - 1))
                }
                case EventType.ingest => {
                    @Html(Messages("portal.activity.userImportedItem", helpers.linkTo(user), helpers.linkTo(subject), count - 1))
                }
                case EventType.link => {
                    @Html(Messages("portal.activity.userLinkedItem", helpers.linkTo(user), helpers.linkTo(subject), count - 1))
                }
                case EventType.annotation => {
                    @Html(Messages("portal.activity.userAnnotatedItem", helpers.linkTo(user), helpers.linkTo(subject), count - 1))
                }
                case _ => {
                    @* Not bothering with other events yet... *@
                    @et
                }
            }
        }
    }
}

@messageForEvent(event)

