@(item: Concept, desc: ConceptDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, fieldPrefix: String)

@import ConceptF._
@import views.html.p.common.descriptionSection
@import views.html.p.common.textField
@import views.html.p.common.listField

@p.common.descriptionOutline(item, desc, annotations) {
    @defining(Annotation.fieldAnnotations(desc.id, annotations)) { implicit fieldAnnotations =>
        @* Description *must* have an ID here or something bad has gone wrong! *@
        @desc.id.map { descId =>

            @p.common.itemHeader(desc.name) {
                @p.common.otherNameList(desc.altLabels)
            }

            @listField(item, descId, desc.definition, DEFINITION)
            @listField(item, descId, desc.scopeNote, SCOPENOTE)
            @for(longitude <- desc.longitude ; latitude <- desc.latitude) {
                <div class="map" data-longitude="@longitude" data-latitude="@latitude">

                </div>
            }

            @descriptionSection(ACCESS_POINTS) {
                @p.common.accessPointLinks(item, desc, links)
            }
        }
    }
}
