@(item: Concept, highlighter: views.Highlighter = views.NoopHighlighter)(implicit req: RequestHeader, lang: Lang, descriptionId: Option[String] = None)

@item.model.primaryDescription(descriptionId).map { desc =>
    <div class="search-item-details">
        <ul class="concept-search-details">
            @item.vocabulary.map { vocab =>
                <li><a class="alt" href="@controllers.portal.routes.Vocabularies.browse(vocab.id)">@vocab.toStringLang</a></li>
            }
            <li><span class="text-muted">@views.Helpers.languageCodeToName(desc.languageCode)</span></li>
            @item.latestEvent.map { event =>
                <li title="@event.time">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</li>
            }
        </ul>
        @if(item.broaderTerms.size > 0) {
            <ul class="concept-broader-terms">
                <li>@Messages("cvocConcept.broaderTerms")</li>
                @item.broaderTerms.map { bt =>
                <li>
                    <a href="@controllers.portal.routes.Concepts.browse(bt.id)">
                        @bt.toStringLang
                    </a>
                </li>
                }
            </ul>
        }
    </div>

    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @highlighter.highlight(views.Helpers.renderMarkdown(sc))
    }
}

