@(item: Country, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

<div id="item-details">
    @p.layout.rightSidebar {
        @p.common.itemHeader(item.toStringLang) {
        }
        @item.model.report.map { report =>
            @Html(views.Helpers.renderMarkdown(report))
        }
    } {
        @p.common.typeLabelWithWatchButton(item, watched.contains(item.id))
        @p.common.childItemSidebar(
            item,
            EntityType.Repository,
            controllers.portal.routes.Portal.searchCountry(item.id)
        )
        @p.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
    }
</div>
