@(item: Country, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import CountryF._
@import views.html.p.common.textField

<div id="item-details">
    @p.layout.rightSidebar {
        @p.common.itemHeader(item.toStringLang) {
        }
        @defining(Annotation.fieldAnnotations(Some(item.id), annotations)) { implicit fieldAnnotations =>
            @defining("country") { implicit fieldPrefix =>
                @textField(item, item.id, item.model.abs, ABSTRACT)
                @textField(item, item.id, item.model.history, HISTORY)
                @textField(item, item.id, item.model.situation, SITUATION)
                @textField(item, item.id, item.model.summary, DATA_SUMMARY)
                @textField(item, item.id, item.model.extensive, DATA_EXTENSIVE)
            }
        }
    } {
        @p.common.typeLabelWithWatchButton(item, watched.contains(item.id))
        @p.common.childItemSidebar(
            item,
            EntityType.Repository,
            controllers.portal.routes.Countries.search(item.id)
        )
        @p.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
    }
</div>
