@(item: Country, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import CountryF._
@import views.html.common.textField

@views.html.layout.itemDetails {
    @views.html.p.layout.rightSidebar {
        @views.html.common.itemHeader(item.toStringLang) {
        }
        @defining(Annotation.fieldAnnotations(Some(item.id), annotations)) { implicit fieldAnnotations =>
            @defining("country") { implicit fieldPrefix =>
                @textField(item, item.id, item.model.abs, ABSTRACT)
                @textField(item, item.id, item.model.history, HISTORY)
                @textField(item, item.id, item.model.situation, SITUATION)
                @textField(item, item.id, item.model.summary, DATA_SUMMARY)
                @textField(item, item.id, item.model.extensive, DATA_EXTENSIVE)
            }
        }
    } {
        @views.html.common.typeLabelWithWatchButton(item, watched.contains(item.id), introNotice())

        @views.html.p.layout.sidepanelToc {
            <div class="child-items panel-details">
                <div class="panel-heading">
                    <h3 class="panel-title">@Messages("country.report.toc")</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav">
                        @if(item.model.history.isDefined) {
                            <li role="presentation" class="active"><a href="#@{item.id}-@HISTORY">@Messages("country." + HISTORY)</a></li>
                        }
                        @if(item.model.situation.isDefined) {
                            <li role="presentation" class="active"><a href="#@{item.id}-@SITUATION">@Messages("country." + SITUATION)</a></li>
                        }
                        @if(item.model.summary.isDefined) {
                            <li role="presentation" class="active"><a href="#@{item.id}-@DATA_SUMMARY">@Messages("country." + DATA_SUMMARY)</a></li>
                        }
                        @if(item.model.extensive.isDefined) {
                            <li role="presentation" class="active">
                                <a href="#@{item.id}-@DATA_EXTENSIVE">@Messages("country." + DATA_EXTENSIVE)</a>
                            </li>
                        }
                        <li role="presentation" class="active">
                            <a class="type-highlight @defines.EntityType.Repository child-item-link" href="#@{item.id}-child-item-search">
                                @Messages(s"${item.isA}.childItems.search", item.childCount.getOrElse(0))
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
        }
    }
}
