@(page: utils.search.ItemPage[(Country,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(Messages("actions.listCountries")) {
    @p.layout.breadcrumbs(defines.EntityType.Country.toString) {
        @p.helpers.breadcrumbCurrent(Messages("portal.browse.countries"))
    }
    @p.searchForm(page, params, action, autofocus = false) {
        @p.searchItemList(page)
    } {
        @p.facetList(page.facets, action)
    }
}