@(item: Country, result: utils.search.SearchResult[(Repository,utils.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@views.html.p.layout.itemSearchLayout(item.toStringLang, EntityType.Country.toString, result) {
    @infobar(item)
} {
    @views.html.p.common.itemDetailsLink(Messages("details.show"), controllers.portal.routes.Countries.browse(item.id)) {
        @views.html.p.common.itemHeader(item.toStringLang) {
        }
    }

    @childItemSearch(item, result, action, watched)
}