@(item: Country, result: utils.search.ItemPage[(Repository,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call, annotations: Map[String,List[Annotation]], links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(item.toStringLang) {
    @p.layout.breadcrumbs(item.isA.toString) {
        @p.helpers.breadcrumbCurrent(item.toStringLang)
    }

    @infobar(item)

    @p.searchForm(result, params, action, headerKey = "country.repositoriesPageHeader", key = "", autofocus = false) {
        @p.searchItemList(result)
    } {
        @p.facetList(result.facets, action)
    }
}