@(item: UserProfile, checkForm: Form[String], action: Call, cancel: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("userProfile.delete.item", item.toStringLang), item.isA, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <p class="alert alert-danger">
        @Messages("userProfile.delete.confirm")
    </p>
    @helper.form(action = action) {
        @formHelpers.csrfToken()

        @helper.inputText(
            checkForm("deleteCheck"),
            '_label -> Messages("userProfile.deleteCheck.description"),
            'class -> "form-control"
        )

        @formHelpers.submitButtonWithLogMessageInput(Messages("userProfile.delete.submit"), cancel = Some(cancel))
    }
} {

}

