@(item: UserProfile, f: play.api.data.Form[AdminUserData], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("userProfile.update"), item.isA, breadcrumbs = views.html.admin.userProfile.breadcrumbs(Some(item))) {

    @helper.form(action = action) {
        @formHelpers.csrfToken()
        @views.html.admin.userProfile.form(item, f)

        @formHelpers.submitButtonWithLogMessageInput(Messages("userProfile.update.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
		
} {

}
