@(item: UserProfile)(html: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import UserProfileF._

@activeBadge(user: UserProfile) = {
    @if(user.model.active) {
    <div class="label label-info">
        @Messages("userProfile.active.true")
    </div>
    } else {
    <div class="label label-warning">
        @Messages("userProfile.active.false")
    </div>
    }
}



@views.html.admin.layout.rightSidebar(Html(item.toStringLang + activeBadge(item)), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @html
} {
    @views.html.admin.common.latestAction(item, controllers.users.routes.UserProfiles.history(item.id))

    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Update)) {
            <a href="@controllers.users.routes.UserProfiles.update(item.id)">@Messages("userProfile.update")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.permissions(item.id)">@Messages("permissions.global.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.grantList(item.id)">@Messages("permissions.itemLevel.show")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.membership(item.id)">@Messages("accessor.groups.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.managePermissions(item.id)">@Messages("permissions.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.isAdmin, danger = true) {
            <a href="@controllers.users.routes.UserProfiles.delete(item.id)">@Messages("userProfile.delete")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.users.routes.UserProfiles.history(item.id)">@Messages("item.history")</a>
        }
    }

}