@(item: UserProfile)(html: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(item.toStringLang, extraTitle = views.html.admin.userProfile.statusBadges(item), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @html
} {
    @common.typeLabel(item.isA) {
    }
    @views.html.admin.common.latestAction(item, controllers.users.routes.UserProfiles.history(item.id))

    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Update)) {
            <a href="@controllers.users.routes.UserProfiles.update(item.id)">@Messages("userProfile.update")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.permissions(item.id)">@Messages("permissions.global.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.grantList(item.id)">@Messages("permissions.itemLevel.show")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.membership(item.id)">@Messages("accessor.groups.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.UserProfile, PermissionType.Grant)) {
            <a href="@controllers.users.routes.UserProfiles.managePermissions(item.id)">@Messages("permissions.manage")</a>
        }
        @views.html.admin.common.sidebarAction(user.isAdmin, danger = true) {
            <a href="@controllers.users.routes.UserProfiles.delete(item.id)">@Messages("userProfile.delete")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.users.routes.UserProfiles.history(item.id)">@Messages("item.history")</a>
        }
    }

}
