@(item: UserProfile)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, md: MarkdownRenderer)

@common.search.searchItemOutline(item) {
    <a href="@controllers.users.routes.UserProfiles.get(item.id)">@item.toStringLang</a>
    @views.html.admin.userProfile.statusBadges(item)
} {
    <ul class="search-item-details">
        @item.groups.distinct.map { acc =>
            <li><a class="alt" href="@controllers.groups.routes.Groups.get(acc.id)">@acc.toStringLang</a></li>
        }
        @item.data.location.filterNot(_.trim.isEmpty).map { loc =>
            <li>@loc</li>
        }
        @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</li>
        }
        @if(userOpt.exists(_.isAdmin)) {
            @item.account.flatMap(_.lastLogin).map { ll =>
                <li>@Messages("userProfile.lastLogin") @views.Helpers.relativeDate(ll)</li>
            }
        }
    </ul>
    @item.data.about.filterNot(_.trim.isEmpty).map { about =>
        <p>@about</p>
    }
}
