@(items: utils.Page[UserProfile], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("userProfile.list")) {

    @views.html.admin.common.filterableList("pagination.displayingItems", items, params) {
        <ul class="list-unstyled">
        @items.items.map { item =>
            <li>
                @views.html.admin.userProfile.listItem(item)
            </li>
        }
        </ul>
    }
} {
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.isAdmin && user.hasPermission(ContentTypes.UserProfile, PermissionType.Create)) {
            <a href="@controllers.users.routes.UserProfiles.createUser">@Messages("userProfile.create")</a>
        }
    }
}
