@(item: UserProfile, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.userProfile.itemPage(item) {

    <dl class="description">
        @if(userOpt.exists(_.isAdmin)) {
            @item.account.map { account =>
                <dt>@Messages("userProfile.email")</dt>
                <dd>@account.email</dd>
            }
        }
        @item.data.location.map { loc =>
            <dt>@Messages("userProfile.location")</dt>
            <dd>@loc</dd>
        }
        @if(item.data.languages.nonEmpty) {
            <dt>@Messages("userProfile.languages")</dt>
            <dd>@item.data.languages.map(lang => views.Helpers.languageCodeToName(lang)).mkString(", ")</dd>
        }
        @if(userOpt.exists(_.isAdmin)) {
            @item.account.flatMap(_.lastLogin).map { ll =>
                <dt>@Messages("userProfile.lastLogin")</dt>
                <dd>@views.Helpers.relativeDate(ll)</dd>
            }
        }
    </dl>

    @item.data.about.map { about =>
        <div class="about">
            @about
        </div>
    }

    <hr>
    @if(item.groups.nonEmpty) {
        <strong>@Messages("accessor.currentGroups")</strong>&nbsp;
        @item.groups.map { group =>
            <a class="badge" href="@controllers.groups.routes.Groups.get(group.id)">@group.toStringLang</a>
        }
    } else {
        <i>@Messages("accessor.notInAnyGroups")</i>
    }
}
