@(user: UserProfile)(implicit messages: Messages)

<span class="user-status">
    @if(user.data.active) {
        <span class="active">@Messages("userProfile.active.true")</span>
    } else {
        <span class="inactive">@Messages("userProfile.active.false")</span>
    }

    @user.account.map { account =>
        @if(!account.verified) {
            <span class="unverified" title="@Messages("userProfile.unverified.description")">@Messages("userProfile.unverified")</span>
        }
    }.getOrElse {
        <span class="no-account">@Messages("userProfile.missingAccount")</span>
    }
</span>

