@(item: AnyModel, page: rest.Page[SystemEvent], params: ListParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@import views.Helpers

@noSidebarLayout(Messages("actions.historyForItem", item.toStringLang), breadcrumbs = common.breadcrumbs(List(item))) {
    <h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)

    <ul class="unstyled">
        @page.items.map(s => systemEvents.listEntry(s))
    </ul>
}