@(item: DocumentaryUnit, action: Call, maybeUser: Option[models.sql.User], req: RequestHeader)
 
@import defines._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

  @main("Set Visibility")(maybeUser, req) {
	
    <h4>Set Visibility: @item.identifier</h4>
    
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<fieldset id="visibility-area">
			<legend>@Messages("Visibility")</legend>


		</fieldset>
	  			
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Update")</button>
        </div>
	}
		
}
