<!--
  ~ Copyright (C) 2009-2013 Typesafe Inc. <http://www.typesafe.com>
  -->
<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
     <file>${application.home}/logs/application.log</file>
     <encoder>
       <pattern>%date - [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
     </encoder>
   </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

    <!-- Woraround for issue https://github.com/playframework/playframework/issues/4574 -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <expression>event.getMessage().contains("Logger configuration in conf files is deprecated and has no effect.")</expression>
      </evaluator>
      <onMatch>DENY</onMatch>
    </filter>

    <encoder>
      <pattern>%highlight(%-5level) %logger{15} - %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="akka" level="WARN" />
  <logger name="play" level="INFO" />
  
  <!-- Off these ones as they are annoying, and anyway we manage configuration ourself -->
  <logger name="org.apache.logging" level="WARN" />
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
  <logger name="play.core.server.netty.NettyModelConversion" level="ERROR"/>
  <logger name="play.filters.csrf.CSRFFilter" level="DEBUG"/>
  <logger name="play.filters.cors.CORSFilter" level="DEBUG"/>

  <!-- Turn down the default level of some classes that log with each
       application restart -->
  <logger name="com.zaxxer.hikari" level="ERROR" />
  <logger name="play.api.http.HttpErrorHandlerExceptions" level="WARN" />
  <logger name="play.api.db.HikariCPConnectionPool" level="WARN" />
  <logger name="play.api.libs.concurrent.ActorSystemProvider" level="ERROR" />

  <!-- Change to DEBUG to see backend request HTTP calls -->
  <logger name="services" level="INFO" />

  <!-- Uncomment to see how indexed entities are converted to Solr docs.
       Don't leave this on in production. -->
  <!-- <logger name="services.search" level="TRACE" /> -->
  <logger name="services.geocoding" level="DEBUG" />

  <!-- Uncomment to see Solr requests -->
  <!-- <logger name="eu.ehri.project.search.solr" level="DEBUG" /> -->

  <!-- Uncomment to log backend transaction opening and closing -->
  <!-- <logger name="eu.ehri.project.core.impl" level="TRACE" /> -->

  <!-- Uncomment to see misc controller logging -->
    <logger name="controllers" level="INFO" />


    <logger name="actors" level="INFO" />

  <!-- Uncomment to see mailer debug, when play.mailer.debug=yes in configuration -->
  <!--  <logger name="play.mailer" level="DEBUG" />-->
  
  <!--<logger name="akka.stream" level="TRACE" />-->

  <!-- Uncomment to show LOTS of debug info about HTTP calls -->
  <!-- <logger name="play.shaded.ahc.org.asynchttpclient" level="DEBUG" />-->

  <!-- Configure SQL statement logging (depends on configuration value of
       db.default.logSql being set to true -->
  <logger name="org.jdbcdslog.ConnectionLogger" level="OFF"  />
  <logger name="org.jdbcdslog.StatementLogger"  level="OFF" />
  <logger name="org.jdbcdslog.ResultSetLogger"  level="OFF"  />

  <logger name="application" level="WARN" />

  <root level="ERROR">
    <appender-ref ref="ASYNCSTDOUT" />
    <appender-ref ref="ASYNCFILE" />
  </root>
  
</configuration>
