@(item: AuthoritativeSet, page: solr.ItemPage[(Entity,String)], params: solr.SearchParams, facets: List[solr.facet.AppliedFacet], action: Call, annotations: Map[String,List[Annotation]], links: List[Link])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item))) {

    @defining("authoritativeSet") { implicit  prefix =>
        @common.stringValue(item, models.AuthoritativeSetF.DESCRIPTION)
    }

    @views.html.search.searchSection(Messages("authoritativeSet.items")) {
        @views.html.search.searchForm(page, params, action, autofocus = false)
    }
} {
    @common.facetList(page.facets, action)

    @common.visibility(item, routes.AuthoritativeSets.visibility(item.id), ContentType.AuthoritativeSet)
    @common.latestAction(item, routes.AuthoritativeSets.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.HistoricalAgent, PermissionType.Create)) {
                <li><a href="@routes.AuthoritativeSets.createHistoricalAgent(item.id)">@Messages("actions.createHistoricalAgent")</a></li>
            }
            @if(user.hasPermission(ContentType.AuthoritativeSet, PermissionType.Update)) {
                <li><a href="@routes.AuthoritativeSets.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.AuthoritativeSet, PermissionType.Delete)) {
                <li><a href="@routes.AuthoritativeSets.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.AuthoritativeSet, PermissionType.Grant)) {
                <li><a href="@routes.AuthoritativeSets.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.AuthoritativeSets.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}