@(form: Form[String], recaptchaKey: String, action: Call)(implicit request: RequestHeader, globalConfig: GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@noSidebarLayout(Messages("login.login")) {

    <div class="alert alert-info">
        @Messages("login.adminLoginMessage")
    </div>

    @formHelpers.globalErrors(form)

    @helper.form(action = action, 'class -> "login-form form-horizontal") {
        @formHelpers.csrfToken()

        @helper.inputText(form("email"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.email"))

        <div class="controls-row">
            <div class="controls">
                <script type="text/javascript"
                        src="http://www.google.com/recaptcha/api/challenge?k=@recaptchaKey">
                </script>
                <noscript>
                    <iframe src="http://www.google.com/recaptcha/api/noscript?k=@recaptchaKey"
                            height="300" width="500" frameborder="0"></iframe><br>
                    <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                    </textarea>
                    <input type="hidden" name="recaptcha_response_field"
                           value="manual_challenge">
                </noscript>
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="@Messages("login.sendPasswordResetLink")" />
        </div>
    }
}(None, request, globalConfig, flash, lang)

