@(form: Form[(String,String)], action: Call)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@layout.adminLoginLayout(Messages("login.login")) {

        <h2>@Messages("login.login")</h2>

        <div class="alert alert-info">
            @Messages("login.adminLoginMessage")
        </div>


        @common.errorFlash(flash)

        @formHelpers.globalErrors(form)

        @helper.form(action = action, 'class -> "form", 'role -> "form") {
            @formHelpers.csrfToken()

            <input type="email" id="email" name="email" class="form-control" autofocus="autofocus" placeholder="@Messages("login.email")" />
            <input type="password" id="password" name="password" class="form-control" placeholder="@Messages("login.password")" />

            <input type="submit" class="login-button" value="@Messages("submitButton.loginWithPassword")" />
        }

        <p>
            <a href="@controllers.core.routes.Admin.forgotPassword">@Messages("login.forgotPasswordLink")</a>
        </p>
        <p>
            <a href="@controllers.core.routes.Admin.openIDLogin">@Messages("login.linkToOpenIDLogin")</a>
        </p>
}(None, request, globalConfig, lang)

