@(form: Form[(String,String)], action: Call)(implicit request: RequestHeader, globalConfig: GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@noSidebarLayout(Messages("login.login")) {

    <div class="alert alert-info">
        @Messages("login.adminLoginMessage")
    </div>

    @formHelpers.globalErrors(form)

    @helper.form(action = action, 'class -> "login-form form-horizontal") {
        @formHelpers.csrfToken()

        @helper.inputText(form("email"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.email"))
        @helper.inputPassword(form("password"), 'placeholder -> Messages("login.password"))

        <div>
            <input type="submit" class="btn btn-primary" value="@Messages("submitButton.loginWithPassword")" />
        </div>
    }
}(None, request, globalConfig, flash, lang)

