@(form: Form[(String,String)], action: Call)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@layout.noSidebar(Messages("login.passwordReset")) {

    @formHelpers.globalErrors(form)

    @helper.form(action = action, 'class -> "login-form form-horizontal") {
        @formHelpers.csrfToken()

        @helper.inputPassword(form("password"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.newPassword"))
        @helper.inputPassword(form("confirm"), 'placeholder -> Messages("login.confirmPassword"))

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            	<input type="submit" class="btn btn-primary" value="@Messages("login.submitPasswordReset")" />
            </div>
        </div>
    }
}(None, req, globalConfig, flash, lang)

