@(item: VirtualUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, descriptionId: Option[String] = None)

@common.search.searchItemOutline(item.id) {
    @* include an anchor to the selected description *@
    @defining(descriptionId.map(did => "#desc-" + did).getOrElse("")) { anchor =>
        <a href="@{controllers.virtual.routes.VirtualUnits.get(item.id) + anchor}">@item.toStringLang</a>
    }
} {
    @item.model.primaryDescription(descriptionId).map { desc =>
        @documentaryUnit.searchItemBody(item.asDocumentaryUnit, desc)
    }.getOrElse {
        @item.includedUnits.flatMap(_.descriptions).headOption.map { desc =>
            @documentaryUnit.searchItemBody(item.asDocumentaryUnit, desc)
        }.getOrElse {
            <small>@Messages("describedEntity.noDescriptions")</small>
        }
    }
}
