.ap-editor-types {
  @include list-unstyled;
}

.ap-editor-remove-access-point {
  cursor: pointer;
}

.ap-editor-new-access-point {
  @include clearfix;
  border: 1px solid $medium-gray;
  padding: $medium-padding;
}

.ap-editor-autocomplete-widget,
.vocab-editor-autocomplete-widget {
  @include clearfix;
}

.ap-editor-autocomplete-widget .suggestion-type {
  @extend .pull-right;
}

.ap-editor-autocomplete-widget .dropdown-list {
  position: relative;
}

.ap-editor-autocomplete-widget-suggestions {
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(153,153,153,0.54);
  border: 1px solid $admin-border;
  position: absolute;
  top: 100%;
  z-index: 100;
  right: auto;
  width: 100%;
  background-color: #fff;
}

.ap-editor-autocomplete-widget-input {
  position: relative;
}

.ap-editor-autocomplete-widget-suggestion,
.vocab-editor-autocomplete-widget-suggestion {
  padding: 5px;
}

.ap-editor-autocomplete-widget-suggestion:hover, .ap-editor-autocomplete-widget-suggestion.selected {
  background-color: darken($pale-gray, 10%);
}

.ap-editor-pending-items {
  @include list-unstyled;
}

.ap-editor-pending-item-link-note {
  @extend .text-info;
  @extend .bg-info;
}

.ap-editor-new-access-point-controls, .ap-editor-pending-items li {
  margin-top: $medium-margin;
  @include make-col-ready();
  @include make-col-offset(3);
  @include make-col(9);
}

.ap-editor-access-points {
  @include list-unstyled;
  margin-bottom: $medium-margin;
}

.ap-editor-add-toggle {
  cursor: pointer;
  @extend small;
}

.ap-editor-access-point-description {
  @extend .small, .text-muted;
}

.ap-editor-access-point .loading-spinner {
  background-image: url('../img/ajax-loader-small.gif');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 15px;
  @extend .text-muted;
}
