
// Colors
$highlight-color: #6c003b;

$background-highlight: #ffffbb;

// gray border
$admin-border: #ebebeb;

// Spacings
$search-item-spacing: 1.5em;

// Margins
$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 20px;

// Padding
$small-padding: 5px;
$medium-padding: 10px;
$large-padding: 20px;

/* Sticky footer styles
-------------------------------------------------- */

.popover {
  max-width:none;
}

// Banners
.testing-banner, .staging-banner {
  padding: 10px;
  font-family: sans-serif;
  .info {
    font-size: 0.6em;
  }
}

/** Experimental! Collapse username under 900px */
.navbar-inner {
    min-width: 800px;
}

@media (max-width: 900px) {
    .nav-collapse.collapse {
        height: 0 !important;
        overflow: hidden !important;
    }
}

/**
    Item CSS
*/

.priority0 {
    background-color: #FFB2B2;
}
.priority1 {
    background-color: #FF8080;
}
.priority2 {
    background-color: #FF4D4D;
}
.priority3 {
    background-color: #FF1919;
}
.priority4 {
    background-color: #E60000;
}
.priority5 {
    background-color: #B70000;
}
.priority-1 {
    background-color: #E0E0EB;
}

/** Boxes used for overview facts on the index page */
.overview-box {
    padding-right: 3 * $medium-padding;
    padding-top: 3 * $medium-padding;
}

.overview-item {
    border: 1px solid #F2F2F2;
    padding: 2em;
    height: 300px;
}

.overview-item.loading {
    background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

/** National reports are HTML already, so munge their header sizes to fit elsewhere */
.national-report h1 {
    font-size: 1.2em;
}

.national-report h2 {
    font-size: 1.1em;
}

/** Add spacing for description header */
.header-actions {
    margin-bottom: 1em;
}

.entity-form fieldset legend {
    padding-top: 80px;
}

/** Template fields for inline formset items should be display: none;
    This will prevent them being submitted like normal values. */
.form-template {
    display: none;
}

/** Required inputs */
.required-input {
    color: #FF0000;
}

/** Prevent scrolling when a Bootstrap modal is open */
.modal-body {
    max-height: 800px;
}

body.modal-open {
    overflow: hidden;
}

/* Prettification for unknown-data-section collapseable trigger */
.unknown-data-toggle:after {
    content: "\25BC";
}

.unknown-data-toggle.collapsed:after {
    font-size: 0.9em;
    content: "\25B6";
}

.unknown-data-toggle:hover {
  text-decoration: none;
  cursor: pointer;
}

/** 'Sticky' footers which pin themselves to the
    botton of the viewport when initially outside it. */
.sticky {
    //-webkit-box-shadow: 0px -2px 5px 5px rgba(200, 200, 200, 0.2);
    //box-shadow: 0px -2px 5px 5px rgba(200, 200, 200, 0.2);
}

/** Search items */
.search-item {
    padding-bottom: 0.5em;
    border-bottom: 1px dashed $admin-border;
    margin-bottom: 1.5em;
}

.search-item-heading {
    font-size: 1.0em;
    font-weight: bolder;
    margin-bottom: 0.2em;
}

.event-list {
  @include list-unstyled;
}

/** List items */
.event-item {
    padding-bottom: 0.5em;
    border-bottom: 1px dashed $admin-border;
    margin-bottom: 0.5em;
}

.event-item-heading {
  @extend .search-item-heading;
}

.event-item-action {
  font-weight: normal;
  font-size: 0.95em;
}

.event-item-details {
  @extend small;
}

.event-item-meta {
  @extend .list-inline, .text-muted;
}

.event-item-message {
  @extend .text-muted;
  font-size: 0.9em;
  font-style: italic;
}


/** Inline lists - Bootstrap doesn't actually do this by itself */
ul.inline li {
    display: inline;
    padding-left: 0;
}

/** Put a separator between the bars of inline lists */
ul.inline-separator li:after {
    content: " | ";
}

ul.inline-separator li:last-child:after {
    content: "";
}

/** Alternative link color - just bolded */
a.alt {
    color: #000;
    font-weight: bolder;
}

.search-item h4 {
    margin-bottom: 0.2em;
}

/** Turn of link styling on badges... */
.badge a {
    color: inherit;
    font-weight: inherit;
}

#signin, #signout {
    color: #999999;
}

#signin:hover, #signout:hover {
    color: #ffffff;
    text-decoration: none;
}

.page-content {
    padding-top: $navbar-height;
    padding-bottom: $navbar-height;
}

.sidebar .affix {

}

#form-nav-sidebar {
    top: 40px;
}

#head-signin {
    padding: 10px 15px 10px;
    color: $pale-gray;
}

#footer {
    text-align: center;
    /*   padding: 20px 20px;*/
    border-top: 1px solid darken($pale-gray, 20%);
    background-color: $pale-gray;
}

.event-filter {
  form {
    .select2 {
      min-width: 10 * $large-margin;
    }

    margin-bottom: $large-margin;
  }
}

.primary-identifier {
  color: #000;
  background-color: $background-highlight;
  font-weight: normal;
}

.overview-items {
  @include make-row();

  .overview-box {
    @include make-col-ready();
    @include make-col(6);
  }
}

.annotation-links, .external-links {
  @include list-unstyled;
}

a.inline-action {
  opacity: .5;
}

a.inline-action:hover {
  opacity: 1;
}

// Progress for long-running tasks
#update-progress {
  display: none;
  margin-top: $large-margin;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #ccc;

  pre {
    margin: 1px;
    background-color: #fff;
    font-size: 0.7em;
    border: none;
  }
}

// Hack to prevent select2 accessibility thing from
// showing at the bottom of the screen...
.select2-hidden-accessible {
  display: none !important;
  visibility: hidden !important;
}

.testing-banner {
  font-size: 2.2em;
}

// This is a hack: in the admin make typeahead
// bigger: it's used on the access point form
// with regular inputs whereas on the portal it's
// only used on the global search bar
.twitter-typeahead {
  display: block !important;
  // FIXME:BS4
  //height: $input-height-base;
}

.copy-links {
  float: right;
  padding-bottom: $small-padding;
  word-wrap: break-word;
}

.select-link-target a {
  @extend .btn, .btn-sm, .btn-warning;
  width: 100%;
  margin-bottom: $medium-margin;
}

.select-copy-link-target a {
  @extend .btn, .btn-sm, .btn-info;
  width: 100%;
  margin-bottom: $medium-margin;
}

