legend {
  font-size: $font-size-lg;
  width: unset;
}

.testing-banner {
  margin-bottom: 0;

  .testing-banner-content {
    @include make-container();
    @include make-container-max-widths();
  }
}

body > .admin-content > .flash {
  margin-bottom: 0;
}

.flash.alert-success {
  float: right;
  position: fixed;
  right: 0;
  .close {
    margin-right: -$margin-sm;
  }
}

.form-descriptions {
  margin-bottom: $margin-md;
}

.form-actions {
  padding: $margin-sm $margin-md;
  border: $border-width solid $ehri-border-gray;
  background-color: $gray-100;
  box-shadow: $box-shadow-sm;

  &.sticky {
    border: none;
    border-top: $border-width solid $ehri-border-gray;
    box-shadow: $box-shadow-lg;
    z-index: 1000;
  }
}

.empty-attribute {
  color: $text-muted;
}

#update-progress {
  border: $border-width solid $border-color;
  margin-top: $margin-lg;
  padding: $margin-sm;
  max-height: 15rem;
  overflow: auto;
  font-size: $font-size-sm;

  // don't show if no content
  &:empty {
    display: none;
  }
}

#form-nav-sidebar {
  position: sticky;
  top: 2rem;
}

.form-navigation {
  @extend .flex-column;

  li.nav-item {
    padding: 0;
  }

  li.nav-item > .nav-link {
    padding: $margin-xs $margin-sm;

    &:hover {
      background-color: $gray-100;
    }
  }

  .markdown-helper {
    font-style: italic;
    cursor: help;
  }
}

.inline-remove > a:hover {
  text-decoration: none;
  cursor: pointer;
}

.address-form,
.concept-description-form {
  background-color: $gray-100;
  padding: $margin-md;
  padding-left: $margin-lg;
  font-size: $font-size-sm;
  margin-bottom: $margin-md;
  border: 1px solid $border-color;

  .form-group {
    margin-bottom: $margin-sm;
  }

  .remove-inline-element {
    margin-bottom: $margin-md;
  }

  .remove-inline-element+* {
    clear: both;
  }

  .tt-dataset {
    width: 100%;
    background-color: $white;

    .tt-suggestion {
      padding: $margin-sm;
    }
  }
}

.address-form+.address-form {
  padding-top: $margin-md;
}

.add-address {
  float: right;
}

.admin-help-notice {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  padding: $margin-xs;
  background-color: $gray-100;
}

.admin-section {
  margin-bottom: $margin-md;
}

.admin-section+.admin-section {
  border-top: $border-width solid $border-color;
  padding-top: $margin-md;
}

.description-section {
  .no-info {
    @extend %small-muted;
  }

  border-bottom: 1px dotted $ehri-border-gray;

  @include media-breakpoint-up(lg) {
    padding-right: $margin-md;
  }
}

.help-block {
  font-size: $font-size-xs;
  &.info {
    color: $text-muted;
  }
}

aside.sidebar {
  border: 1px solid $ehri-border-gray;
  box-shadow: $box-shadow-sm;
  background-color: $gray-100;
  margin-bottom: $margin-md;

  // Since we've outlined and shaded it we need
  // to add padding in collapsed mode.
  @include media-breakpoint-down(md) {
    padding: $margin-xs $margin-sm;
  }

  .multiple-description-help {
    padding: $margin-xs 0;
  }
}

aside.sidebar .sidebar-section {
  @include media-breakpoint-down(md) {
    margin-bottom: $margin-xs;
  }
}


// Type headings
.type-heading {
  > header.sidebar-section-heading {

    @include media-breakpoint-up(lg) {
      // This makes the colour fill its surround
      margin-left: -($grid-gutter-width / 2);
      margin-right: -($grid-gutter-width / 2);
    }

    background-color: $secondary;
    color: $white;

    padding: $margin-xs;
    text-align: center;
    //margin-bottom: 0;
    > * {
      color: inherit;
      margin: 0;
    }
  }

  &.documentaryunit > .sidebar-section-heading {
    background-color: $documentary-unit-color;
  }

  &.repository > .sidebar-section-heading {
    background-color: $repository-color;
  }

  &.historicalagent > .sidebar-section-heading {
    background-color: $historical-agent-color;
  }

  &.cvocconcept > .sidebar-section-heading {
    background-color: $concept-color;
  }

  &.country > .sidebar-section-heading {
    background-color: $country-color;
  }
}

// Sidebar action groups
.action-group {
  .danger a {
    @extend .text-danger;
  }
}

// Events
.event-filter {
  padding: $margin-md;
  border: $border-width solid $border-color;
  margin-bottom: $margin-md;
}

.event-list {
  @include list-unstyled();
}
.event-item {
  margin-bottom: $list-margin-bottom;

  .event-item-meta {
    @include list-unstyled;
    @include list-inline();
    @extend %small-muted;
  }
}

.source-info {
  display: inline-flex;
  background-color: lighten($ehri-gray, 5%);
  padding: $margin-xxs 0;
  font-size: $font-size-sm;
  span {
    margin-right: $margin-xs;
  }
  a {
    color: $blue;
  }
}

.source-file-list {
  @include list-unstyled;
}

pre.code-format {
  border: $border-width solid $border-color;
  background-color: $gray-100;
  padding: $margin-xs;
  font-size: $font-size-xs;
}

// Links etc
.annotation-links,
.external-links {
  @include list-unstyled();
}

.user-status {
  font-size: $font-size-sm;

  .active {
    @extend .badge, .badge-info;
  }
  .inactive {
    @extend .badge, .badge-warning;
  }
  .unverified {
    @extend .badge, .badge-warning;
  }
  .no-account {
    @extend .badge, .badge-dark;
  }
  .staff {
    @extend .badge, .badge-success;
  }
}

// Concept forms
.concept-description-form {
  margin-bottom: $margin-md;
}

.add-description {
  margin-bottom: $margin-md;
  @include clearfix();
  a {
    float: right;
  }
}

.inline-element-block-controls {
  @include clearfix();
  .remove-inline-element {
    float: right;
  }
}

// Filterable lists
.item-list > ul {
  @include list-unstyled();
}

// List of potential link target items
.link-source-list {
  .search-result-list > li {
    padding: $margin-sm 0;
    border-bottom: 1px dashed $border-color;

    display: grid;
    grid-template-areas: "link-item link-controls";
    grid-template-columns: auto max-content;
    grid-column-gap: $margin-md;

    .search-item {
      margin-bottom: 0;
      border-bottom: none;
      grid-area: link-item;
    }
    .select-link-controls {
      grid-area: link-controls;
    }

    .link-select-controls .btn {
      opacity: .6;
    }

    &:hover {
      background-color: $gray-100;
      .link-select-controls .btn {
        opacity: unset;
      }
    }
  }

  .link-select-target a {
    @extend .btn, .btn-primary;
  }
}

#admin-info {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .admin-info-item {
      flex: 0 1 45%;
    }
  }
}

// Metrics
.overview-items {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(400px, auto));
  grid-auto-flow: row;

  grid-gap: $margin-lg;

  .overview-box {
    float: left;

    .overview-item {
      float: left;
      width: 100%;
      height: 100%;
    }
  }
}

// Cypher queries
.cypher-query {
  .search-item-heading {
    margin-bottom: $margin-sm;
  }
  .query-description {
    margin-bottom: $margin-sm;
  }
}

// EAD validation

 #validation-results {
   font-size: $font-size-sm;

   thead {
     background-color: $gray-200;
   }
   .file-name {
     white-space: nowrap;
   }
   .ead-error {
     font-size: $font-size-xs;
   }
   .validation-errors {
     margin-top: $margin-xs;
     overflow: auto;
     max-height: 16rem;
   }
}

// Vue Single-page applications
%expanding-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

%expanding-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

%overflow-contents {
  flex: 1;
  flex-basis: 0;
  overflow: auto;
}

body.spa-app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: $gray-100;
}

.app-content {
  @extend %expanding-column;
}

.app-content-inner {
  @include make-container();
  @include make-container-max-widths();
  @extend %expanding-column;
  margin-top: $margin-md;
}

.priority-badge {
  display: block;
  font-size: $font-size-base;
}
