legend {
  font-size: $font-size-lg;
  width: unset;
}

.testing-banner {
  margin-bottom: 0;
}

body > .flash {
  margin-bottom: 0;
}

.success-pullup {
  float: right;
}

.form-descriptions {
  margin-bottom: $margin-md;
}

.form-actions {
  padding: $margin-md;
  background-color: $gray-200;
}

#update-progress {
  border: $border-width solid $border-color;
  margin-top: $margin-lg;
  padding: $margin-sm;
  max-height: 15rem;
  overflow: auto;
  font-size: $font-size-sm;

  // don't show if no content
  &:empty {
    display: none;
  }
}

#form-nav-sidebar {
  position: sticky;
  top: 2rem;
}

.form-navigation {
  @extend .flex-column;
}

.admin-help-notice {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  padding: $margin-xs;
  background-color: $gray-100;
}

.admin-section {
  margin-bottom: $margin-md;
}

.admin-section+.admin-section {
  border-top: $border-width solid $border-color;
  padding-top: $margin-md;
}

.description-section .no-info {
  @extend %small-muted;
}

.help-block {
  font-size: $font-size-xs;
  &.info {
    color: $text-muted;
  }
}

// Events
.event-filter {
  padding: $margin-md;
  border: $border-width solid $border-color;
  margin-bottom: $margin-md;
}

.event-list {
  @include list-unstyled();
}
.event-item {
  margin-bottom: $list-margin-bottom;

  .event-item-meta {
    @include list-unstyled;
    @include list-inline();
    @extend %small-muted;
  }
}

pre.code-format {
  border: $border-width solid $border-color;
  background-color: $gray-100;
  padding: $margin-xs;
  font-size: $font-size-xs;
}

// Links etc
.annotation-links,
.external-links {
  @include list-unstyled();
}

.user-status {
  font-size: $font-size-sm;

  .active {
    @extend .badge, .badge-info;
  }
  .inactive {
    @extend .badge, .badge-warning;
  }
  .unverified {
    @extend .badge, .badge-warning;
  }
  .no-account {
    @extend .badge, .badge-dark;
  }
}

// Concept forms
.concept-description-form {
  margin-bottom: $margin-md;
}

.add-description {
  margin-bottom: $margin-md;
  @include clearfix();
  a {
    float: right;
  }
}

.inline-element-block-controls {
  @include clearfix();
  .remove-inline-element {
    float: right;
  }
}
