// Admin forms

// Inline form controls
.inline-control {
  @include make-col-ready();
  @include make-col(11);
}

.inline-remove {
  @include make-col-ready();
  @include make-col(1);
}

.inline-label {
  @include make-col-ready();
  @include make-col(3);
}

.inline-element-list {
  @include make-col-ready();
  @include make-col(9);
}

.inline-element {
  &-data {
    @include make-col-ready();
    @include make-col(11);

    // Tables within data elements (e.g. date selectors)
    // require some tweaks to look consistent, namely,
    // moving them up a few pixels and removing padding
    // from the first-and-last cells
    table {
      margin-top: -$small-padding;
      tr {
        td:first-child {
          padding-left: 0;
        }
        td:last-child {
          padding-right: 0;
        }
      }
    }
  }
  &-remove {
    @include make-col-ready();
    @include make-col(1);
  }
}

// standard form controls
.form-group {
  >.control-label {
    @include make-col-ready();
    @include make-col(3);
  }

  >.control-elements {
    @include make-col-ready();
    @include make-col(9);
  }
}

.inline-element-block {
  @include make-col-ready();
  @include make-col(12);

  .inline-element-block-controls {
    margin-bottom: $medium-margin;
    @include clearfix;
    .remove-inline-element {
      @extend .pull-right;
    }
  }
  .control-element {
    @include make-col-ready();
    @include make-col(9);
  }
}

// CodeMirror overrides
.CodeMirror {
  border:1px solid #ccc;
  margin-bottom: 10px;
  &.danger {
    border-color: $danger;
  }
}
