// Form templates are hidden elements used to generate
// a new inline item...
.form-template {
  display: none;
}

// Form sidebar navigation
ul.form-navigation {
  @extend .list-group;
  > li {
    @extend .list-group-item;
  }
}

.description-actions {
  float: right;

  .btn {
    @extend .btn-outline-secondary;
  }
}

.form-actions .buttons {
  margin-top: $margin-sm;

  .btn {
    font-size: $font-size-base;
  }
}

// Remove outline from file input
input[type=file] {
  border: none;
}
