@import "lib/docview-portal/css/portal.scss";

//Admin
@import "./admin/admin";
@import "./admin/forms";

$active-table-row: #e7f1ff;

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.info-bar {
  margin-bottom: $margin-md;
}

#flex-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: $gray-100;
}

#flex-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#batch-ops-log {
  display: flex;
  border: 1px solid $border-color;
  height: 10rem;
}

#dataset-manager-container {
  font-size: $font-size-sm;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: $margin-sm;
}

#dataset-manager {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#dataset-manager-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dataset-selector-list {
  max-height: 40rem;
  overflow-y: auto;
}

.dataset-actions {
  display: flex;
  :first-child {
    flex-basis: 100%;
  }
}

.dataset-manager-list {
  overflow-y: auto;
  margin-bottom: $margin-xs;
  // FIXME: hack because I can't figure out
  // how to make it expand but overflow: auto
  // when the size of the parent.
  max-height: 70vh;
}

.dataset-manager-item {
  padding: $margin-sm;
  margin-bottom: $margin-sm;
  background-color: $white;
  border: 1px solid $border-color;
  box-shadow: $box-shadow-sm;
  cursor: pointer;

  &:hover {
    background-color: darken($white, 2%);
  }

  .badge {
    border-radius: $border-radius-sm;
    float: right;

    &.badge-upload {
      color: $white;
      background-color: $info;
    }
    &.badge-oaipmh {
      color: $white;
      background-color: $purple;
    }
  }

}
#delete-dataset {
  margin-right: auto;
}

.dataset-loading-indicator {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: $text-muted;
}

.dataset-menu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

#app-error-notice {
  position: absolute;
  bottom: $margin-sm;
  right: $margin-sm;
  padding: $margin-xs $margin-sm;
  z-index: 100;

  .close {
    margin-left: $margin-xs;
    margin-top: -3px;
    cursor: pointer;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.1);
}

#stage-tabs {
  font-size: $font-size-lg;
  margin-bottom: $margin-sm;
}

.stage-tab {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.stage-manager-container
{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: $margin-sm;
}

.modal-alert {
  z-index: 1000;
  display: flex !important;

  .modal-content {
    box-shadow: $box-shadow-lg;
  }
}

.file-picker {
  display: flex;
  align-items: center;

  .file-picker-stage-selector {
    width: unset;
  }

  .file-picker-input-container {
    position: relative;
    flex: 1;
    align-items: center;

    .dropdown-backdrop {
      z-index: 50;
    }

    .file-picker-input {
      z-index: 51;
      height: unset;
    }
  }

  .file-picker-suggestions {
    position: absolute;
    z-index: 100;
    box-shadow: $box-shadow;
    background-color: $white;
    min-width: 100%;
    cursor: pointer;
    max-height: 20rem;
    overflow-y: auto;

    .file-picker-suggestion {
      &.selected,
      &:hover
      {
        background-color: $gray-100;
      }
      padding: $margin-xxs $margin-sm;
      white-space: nowrap;
    }

    .file-picker-suggestions-empty {
      color: $text-muted;
      padding: $margin-xs $margin-sm;
    }
  }

  .loading-indicator {
    position: absolute;
    right: $margin-xs;
    top: $margin-xs;
  }
}

.filter-control {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;

  .filter-input {
    flex: 1;
  }

  .filtering-indicator {
    position: absolute;
    right: $margin-xs;
  }
}

#preview-file-selector {
  flex-grow: 1;
}

#convert-options {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#opt-convert-map {
  display: flex;
  flex: 1;
  margin-bottom: $margin-xs;
  border: 1px solid $gray-300;
}

#convert-mappings {
  display: flex;
  flex: 1;
  margin-bottom: $margin-xs;
  flex-direction: row;
  flex-basis: 0;
  overflow-y: auto;

  .card {
    flex-basis: 50%;
  }

  .spacer {
    flex-basis: $margin-sm;
  }

  .transformation-list-placeholder {
    color: $text-muted;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .transformation-list {
    flex: 1;
    list-style: none;
    overflow-y: auto;
    padding: 0;
    border-collapse: collapse;
    margin: $margin-sm;
    &:first-child {
      margin-right: 0;
    }

    > .transformation-list-header {
      text-align: center;
      padding: $margin-xs;
      background-color: $gray-200;
      margin: 0;
    }

    > .transformation-item {
      padding: $margin-xs;
      list-style-type: none;
      border: 1px solid $ehri-border-gray;

      &.enabled {
        background-color: $white;
      }

      &.is-disabled {
        .transformation-item-name,
        .transformation-item-meta {
          opacity: .5;
        }
      }

      .badge {
        border-radius: $border-radius-sm;

        &.badge-xslt {
          color: $white;
          background-color: $info;
        }
        &.badge-xquery {
          color: $white;
          background-color: $green;
        }
      }

      display: grid;
      grid-gap: $margin-xs;
      grid-template-areas: "name params mute edit" "meta params mute edit";
      grid-template-columns: auto min-content min-content min-content;
      grid-template-rows: auto;

      .transformation-item-name {
        grid-area: name;

        white-space: nowrap;;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .transformation-item-edit {
        grid-area: edit;
        align-self: start;
      }

      .transformation-item-params {
        grid-area: params;
      }

      .transformation-item-mute {
        grid-area: mute;
      }

      .transformation-item-meta {
        grid-area: meta;
      }

      .transformation-item-comments {
        font-size: $font-size-xs;
        color: $text-muted;
      }
    }
  }
}

.dropdown-menu.show {
  box-shadow: $box-shadow;
}

.dropdown-backdrop {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#transformation-editor {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid $ehri-border-gray;
  background-color: $gray-100;
}

#transformation-editor-modal {
  display: flex !important;
}

#transformation-editor-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: $margin-sm;
  max-width: 100%;
  margin-bottom: 0;

  .modal-content {
    box-shadow: $box-shadow-lg;
  }
}

#transformation-editor-panes {
  padding: $margin-xs;
  //position: fixed;
}

#transformation-editor-controls {
  display: flex;
  background-color: $gray-100;
  padding-bottom: $margin-xs;
  align-items: center;
  flex-wrap: wrap;

  label {
    margin: 0 $margin-xs 0 $margin-sm;
  }

  > :first-child {
    margin-left: 0;
  }

  #transformation-comments {
    flex-grow: 1;
  }

  .buttons {
    display: inline-flex;
    margin-left: $margin-sm;
    min-width: max-content;
    justify-content: flex-end;
    > .btn {
      margin-right: 0;
    }
  }
}

#transformation-editor-map {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 10%;
}

#transformation-editor-map-input {
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  background-color: $gray-100;

  textarea {
    flex: 1;
  }
}

#transformation-editor-map-parameters {
  .CodeMirror {
    height: 100px;
    box-shadow: none;
  }
}

#transformation-editor-preview-section {
}

#transformation-editor-preview-select {
  padding: $margin-xxs 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  label {
    margin: 0 $margin-sm 0 0;
  }
  :last-child {
    flex: 1;
  }
}

#transformation-editor-preview-refresh:focus {
  outline: 0;
  box-shadow: none;
}

#transformation-editor-previews {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.transformation-editor-preview-window {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.xquery-editor {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid $ehri-border-gray;
}

.xquery-editor-data {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  flex-basis: 0;
}

.xquery-editor-toolbar {
  display: flex;
  justify-content: right;
}

.xquery-editor-toolbar-info {
  align-self: center;
  margin-left: auto;
  font-size: $font-size-xs;
  color: $text-muted;
  padding: $margin-xs;
}

.xquery-editor-header {
  position: sticky;
  top: 0;
  background-color: $white;

  input {
    font-weight: bold;
  }
}

.xquery-editor-header,
.xquery-editor-mappings {
  font-size: $font-size-xs;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .selected {
    background-color: lighten($blue, 60%);
  }
}

.xslt-editor {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  textarea {
    flex: 1;
  }

  .CodeMirror {
    flex: 1;
    flex-basis: 0;
  }
}

.file-list-container {
  position: relative;
  overflow-y: auto;
  flex: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin-bottom: $margin-xs;
  border: 1px solid $gray-300;

  &.dropping {
    border-color: $warning;
  }

  table {
    border-collapse: collapse;
    position: relative;
  }

  // Experimental sticky header. Unfortunately the
  // row and its borders scrolls behind, which looks
  // a bit weird.
  //thead th {
  //  position: sticky;
  //  top: 0;
  //  background-color: $white;
  //  border: 1px solid $gray-300;
  //}

  tbody tr {
    cursor: pointer;
  }
  tbody tr.active {
    background-color: $active-table-row;
  }
}

.file-list-loading-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
}

.file-meta {
  overflow: auto;
}

.info-table {
  @extend .table, .table-striped, .table-bordered, .table-sm;
  tr td:first-child {
    font-weight: $font-weight-bold;
  }
}

.valid-indicator {
  position: absolute;
  top: 3px;
  left: 3px;
  color: $success;

  z-index: 50;
  opacity: .7;
  animation: fadeIn .5s ease-in;
}

.validation-loading-indicator {
  position: absolute;
  top: 3px;
  left: 3px;
  color: $link-color;

  z-index: 50;
  opacity: .7;
  animation: fadeIn .5s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.preview-loading-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .5;
  background-color: $gray-100;
  z-index: 50;
}

.drag-handle {
  cursor: ns-resize;
  display: flex;
  height: 100%;
}

.panel-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bottom-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;

  .status-panel-tabs {
    user-select: none;
    .nav-link {
      padding: $margin-xxs $margin-xs;
    }

    li:last-child {
      flex: 1;
    }
  }

  .status-panels {
    border: 1px solid $gray-300;
    border-top: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .status-panel {
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 0;
    overflow: auto;
  }
}

.log-container pre {
  padding: $margin-xs;
  margin: 0;
  line-height: 1.2rem;
  flex: 1;
}

.panel-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-lg;
  color: $text-muted;
  flex: 1;
}

.actions-bar {
  margin-bottom: $margin-xs;
  display: flex;

  button {
    margin-left: $margin-xs;
  }

  .file-picker {
    flex: 1;
  }
}

.file-upload-button {
  position: relative;

  &.dropping {
    border-color: $warning;
  }
}

.file-selector-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
}

.upload-progress-container {
  position: absolute;
  bottom: $margin-sm;
  left: $margin-sm;
  max-height: 20rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border: 1px solid $ehri-border-gray;
  background-color: $ehri-gray;
  padding: $margin-xs;
  box-shadow: $box-shadow-sm;

  .close {
    font-size: $font-size-sm;
    padding: 0 0 $margin-xxs $margin-xxs;
  }

  .upload-progress {
    min-width: 20rem;
    margin-bottom: $margin-xs;
    overflow-y: auto;
    flex: 1;

    .progress-container {
      background-color: lighten($ehri-gray, 1%);
      display: flex;
      flex-direction: row;
      align-items: center;
      .cancel-button {
        margin-left: auto;
        padding: .1rem .3rem;
      }

      margin-bottom: $margin-xs;
      &:last-child {
        margin-bottom: 0;
      }

      .progress {
        flex-grow: 1;
        height: 1.6rem;
        background-color: darken($ehri-gray, 20%);
      }
      .progress-bar {
        padding: $margin-sm 0;
      }
    }
  }
}

.preview-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  .pretty-xml {
    position: absolute;
    right: $margin-xs;
    font-size: $font-size-xs;
    z-index: 100;
    color: $text-muted;
    &.active {
      color: $success;
    }
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}

.preview-container .CodeMirror {
  border: 0;
  flex: 1;
  flex-basis: 0;
}

.preview-container .CodeMirror .validation-errors {
  width: 10px;
}

.preview-container .CodeMirror .validation-error:hover {
  cursor: pointer;
}

.preview-container .CodeMirror .line-error {
  background: rgba(255, 197, 199, 0.32) !important;
  color: #8a1f11 !important;
}

.preview-container .CodeMirror-gutters {
  background-color: $gray-100;
}

.options-form {
  padding: $margin-md;
}

.options-form .small.form-text {
  color: $text-muted;
}

.data-manager-form-item {
  margin-bottom: $margin-xs;
  @include make-row();
  > .label {
    @include make-col-ready();
    @include make-col(2);
  }
  > .controls {
    @include make-col-ready();
    @include make-col(10);
  }
}

.data-manager-form-item.text-field {
  margin-bottom: $margin-xs;
  @include make-row();
  > .label,
  > .controls
  {
    @include make-col-ready();
    @include make-col(12);
  }
}

.ingest-options-properties-container {
  height: 6rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  background-color: $gray-100;

  .panel-placeholder {
    position: relative;
  }
}

#opt-new-props {
  position: relative;
}

.opt-new-props-input {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.ingest-options-properties tr {
  cursor: pointer;
  &.active {
    background-color: $active-table-row;
  }
}

#snapshot-manager {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#snapshot-manager-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#snapshot-manager-inspector {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#snapshot-manager-snapshot-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#snapshot-manager-diff {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  flex-basis: 0;
  font-size: $font-size-sm;
}

#coreference-manager {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#coreference-manager-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#coreference-manager-coreference-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#coreference-manager-coreference-table {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  flex-basis: 0;
  font-size: $font-size-sm;
}

#coreference-import-result {
  margin-left: $margin-md;
}

.coreference-loading-indicator {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: $text-muted;
}

.confirm-orphan-delete-list {
  display: flex;
  flex: 1;
  flex-basis: 0;
  overflow: auto;
  max-height: 20rem;
}
