@import "apps";

$active-table-row: #e7f1ff;

.app-wrapper {
  background-color: $white;
}

// Make content area scrollable, this prevents
// weird behaviour with modal popups
.app-content {
  overflow: auto;
  flex-basis: 0;
}

.section {
  background-color: $gray-100;
  font-weight: bold;
}

.fm-list td.fm-actions {
  width: 5rem;
}

.fm-see-also strong {
  margin-right: $margin-xs;
}

.fm-see-also a + a {
  display: inline-block;
}

.fm-see-also a + a:before {
  content: ", ";
}

.fm-usage {
  white-space: nowrap;
}

.fm-list td:last-child a {
  margin-left: $margin-xs;
}

#delete-metadata {
  margin-right: auto;
}

#auditor-suggestions-container {
  @extend %expanding-column;
  @extend %overflow-contents;
  table-layout: fixed;
  margin-bottom: $margin-md;
}

.auditor-options {
  margin-bottom: $margin-md;
}
