@import "lib/docview-portal/css/portal.scss";

//Admin
@import "./admin/admin";
@import "./admin/forms";

$active-table-row: #e7f1ff;

.app-wrapper {
  background-color: $white;
}
// TODO: de-dup from dataset manager
.options-form {
  padding: $margin-md;
  input:invalid {
    background-color: lighten($danger, 40%);
  }
}

.resizable .options-form {
  flex: 1;
}

// TODO: de-dup from dataset manager
#app-error-notice {
  position: absolute;
  bottom: $margin-sm;
  right: $margin-sm;
  padding: $margin-xs $margin-sm;
  z-index: 100;

  .close {
    margin-left: $margin-xs;
    margin-top: -3px;
    cursor: pointer;
  }
}


