@import "lib/docview-portal/css/portal.scss";

//Admin
@import "./admin/admin";
@import "./admin/forms";

body {
  height: 100%;
  margin: 0;
  width: 100%;
}
#flex-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#flex-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vocab-editor-autocomplete-widget .suggestion-type {
  @extend .pull-right;
}

.vocab-editor-autocomplete-widget .dropdown-list {
  position: fixed;
  z-index: 1000;
  @include clearfix;
}

.vocab-editor-autocomplete-widget-suggestions {
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(153,153,153,0.54);
  border: 1px solid $admin-border;
  top: 100%;
  z-index: 1000;
  right: auto;
  width: inherit;
  background-color: #fff;
}

.vocab-editor-autocomplete-widget-input {
  position: relative;
}

.vocab-editor-autocomplete-widget-suggestion {
  padding: $small-padding;
  width: inherit;
}

.vocab-editor-autocomplete-widget-suggestion:hover,
.vocab-editor-autocomplete-widget-suggestion.selected {
  background-color: darken($pale-gray, 10%);
}


#vocab-editor-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: $large-padding;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  margin-bottom: $large-margin;
}

#vocab-editor-listnav {
  flex: 40%;
  display: flex;
  flex-direction: column;
}

#vocab-editor-editpanel {
  flex: 60%;
  display: flex;
  flex-direction: column;
  margin-left: $large-margin;
}

#vocab-editor-load-note {
  flex: 1;
  color: lighten($text-muted, 20%);
  padding-top: 100px;
  text-align: center;
}

.vocab-editor-controls {
  margin-bottom: $large-margin;
}

.vocab-editor-list {
  background-color: #fff;
  overflow: auto;
  padding: $medium-padding;
  border: 1px solid #e3e3e3;
  flex: 1;
  flex-basis: 0;
  margin-bottom: $large-margin;
}

.vocab-editor-concept-title {
  cursor: pointer;
}

.vocab-editor-concept-title:hover {
  background-color: #f0f0f0;
}

.vocab-editor-concept-list {
  @include list-unstyled;
  margin-left: $large-margin;
}

.vocab-editor-top-concepts {
  margin-left: 0;
}

.vocab-editor-concept.is-search {
  font-weight: bold;
}

#concept-editor, #concept-creator {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#concept-editor-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.concept-editor-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.concept-editor-tab .concept-editor-tab-form {
  padding: $large-padding;
  overflow: auto;
  flex: 1;
  flex-basis: 0;
}

.concept-editor-tab-form-footer {
  padding: $large-padding;
  border-top: 1px solid $list-group-border;
}

.concept-editor-description-tabs li {
  cursor: pointer !important;
}

.concept-editor-description-tab {
  cursor: pointer;
}

.concept-editor-tab {
  border-top: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

#concept-creator .concept-editor-tab {
  border-top: 1px solid #ddd;
}

.concept-editor-tab.error {
  border: 1px solid red;
}

.concept-editor-new-description-form {
  background-color: #fff;
  padding: $large-padding;
  border: 1px solid $list-group-border;
  margin-top: 13px;
}


