@(item: Country, f: play.api.data.Form[models.CountryF], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("country.update"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @form(Some(item), f)

        @formHelpers.submitButtonWithLogMessageInput(Messages("country.update.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {

}
