@(item: Country)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, md: views.MarkdownRenderer)

@common.search.searchItemOutline(item) {
    <a href="@controllers.countries.routes.Countries.get(item.id)">@item.toStringLang</a>
} {
    <div class="search-item-details">
        @views.html.common.childCount(item) { count =>
            <a href="@controllers.countries.routes.Countries.get(item.id)#search-items">@Messages("country.childCount", count)</a>
        }
    </div>
    @item.data.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        <div class="national-report">
            @Markdown(sc)
        </div>
    }
}
