@(result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminSearchLayout(Messages("country.search"), result, action) {
    @views.html.admin.search.searchItemList(result)
} {
    @common.typeLabel(defines.EntityType.Country) {
    }
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Country, PermissionType.Create)) {
            <a href="@controllers.countries.routes.Countries.create">@Messages("country.create")</a>
        }
    }
    @common.search.facetList(result.facetClasses, action)
}
