@(item: Country, result: services.search.SearchResult[(Model, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import CountryF._
@import views.html.admin.common.textValue

@views.html.admin.layout.rightSidebar(item.toStringLang, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @views.html.admin.common.annotated(item, annotations) {
        @defining("country") { implicit fieldPrefix =>
            @textValue(ABSTRACT, item.data.abs)
            @textValue(HISTORY, item.data.history)
            @textValue(SITUATION, item.data.situation)
            @textValue(DATA_SUMMARY, item.data.summary)
            @textValue(DATA_EXTENSIVE, item.data.extensive)
        }
    }

    @views.html.admin.search.searchSection(item, Messages("country.searchItems", item.toStringAbbr), result) {
        @views.html.common.search.searchForm(result, action) {
            @views.html.admin.search.searchItemList(result)
        } {
            @common.search.facetList(result.facetClasses, action)
        }
    }
} {
    @common.typeLabel(item.isA) {
        @views.html.admin.common.publicButton(item)
    }
    @views.html.common.childItemSidebar(item, EntityType.Repository)
    @views.html.admin.common.visibility(item, controllers.countries.routes.Countries.visibility(item.id), ContentTypes.Country)
    @views.html.admin.common.latestAction(item, controllers.countries.routes.Countries.history(item.id))

    @adminActions(item)
}
