@(item: Country, result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@import CountryF._

@views.html.admin.layout.rightSidebar(item.toStringLang, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @views.html.admin.common.annotated(item, annotations) {
        @defining("country") { implicit fieldPrefix =>
            @views.html.admin.common.textValue(ABSTRACT, item.data.abs)
            @views.html.admin.common.textValue(HISTORY, item.data.history)
            @views.html.admin.common.textValue(SITUATION, item.data.situation)
            @views.html.admin.common.textValue(DATA_SUMMARY, item.data.summary)
            @views.html.admin.common.textValue(DATA_EXTENSIVE, item.data.extensive)
        }
    }

    @views.html.common.search.searchSection(item, Messages("country.searchItems", item.toStringAbbr), result) {
        @views.html.common.search.searchForm(result, action, autofocus = false) {
            @views.html.admin.search.searchItemList(result)
        } {
            @common.search.facetList(result.facetClasses, action)
        }
    }
} {
    @common.search.facetList(result.facetClasses, action)
    @views.html.admin.common.visibility(item, controllers.countries.routes.Countries.visibility(item.id), ContentTypes.Country)
    @views.html.admin.common.latestAction(item, controllers.countries.routes.Countries.history(item.id))

    @adminActions(item)
}
