@import "ehri/variables";
@import "bootstrap/variables";

$fullscreen-footer-height: 2em;

body.fullscreen .info-bar {
  * {
    color: #fff;
  }
}

body.fullscreen.DocumentaryUnit .info-bar {
  background-color: $doc-color;
}

body.fullscreen.Repository .info-bar {
  background-color: $repo-color;
}

body.fullscreen.Country .info-bar {
  background-color: $country-color;
}

body.fullscreen.VirtualUnit .info-bar {
  background-color: $virtual-color;
}

body.fullscreen #wrap {
  margin: 0 auto -$fullscreen-footer-height;
}

body.fullscreen #push, footer {
  height: $fullscreen-footer-height;
}

footer#fullscreen-footer {
  border-top: 1px solid $dark-gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.25em;
  background-color: $pale-gray;
  a#open-in-portal {
    float: right;
    padding: 0 $medium-padding + $small-padding;
    color: $almost-black;
    &:hover {
      text-decoration: none;
      background-color: darken($pale-gray, 10%);
    }
  }
}
