
// Variables
@primary-highlight: #6C003B;

@pale-gray: #F5F5F5;
@dark-gray: #cccccc;
@almost-black: #333;

@doc-color: #360f4f;
@repo-color: #034153;
@country-color: #864300;
@agent-color: #517C00;

@shadow-depth: 5px;
@shadow-blur: 5px;
@shadow-color: @dark-gray;
@shadow-opacity: 0.7;

@gravitar-size: 48px;


.downward-shadow (@height: @shadow-depth, @blur: @shadow-blur) {
  box-shadow: 0px @height @height @blur @shadow-color;
}


// Spacings
@search-item-spacing: 1.5em;
@menu-height: 50px;

// Margins
@small-margin: 5px;
@medium-margin: 10px;
@large-margin: 20px;

// Padding
@small-padding: 5px;
@medium-padding: 10px;
@large-padding: 20px;

body {
  padding-top: @menu-height;

}

/* Sticky footer styles
    -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#navbar-logo {
  a {
    padding: @small-padding;
    img {
      height: @menu-height - @medium-padding;
    }
  }
}

.navbar-form {
  .form-group {
    input[type='text'] {
      border: none;
      background-color: @almost-black;
    }

    input[type='text']:focus {
      background-color: @pale-gray;
    }
  }
}

.facet-class {
  padding-bottom: @medium-padding * 2;
  border-bottom: 1px solid @pale-gray;
}

.facet-select-dropdown {
  max-width: 400px;
}

// nav menu color fixes
.nav .caret, .nav a:hover .caret {
  border-top-color: #fff;
}

.dropdown-menu>li > a:hover, .dropdown-menu > li > a:focus {
  background-color: @dark-gray;
}

/** Type highlights */
.type-highlight {

}

.documentaryUnit a, a.documentaryUnit {
  color: @doc-color;
}

.top-bar {
  background-color: @primary-highlight;
}

.top-bar.documentaryUnit {
  background-color: @doc-color;
}

.country a, a.country {
  color: @country-color;
}

.top-bar.country {
  background-color: @country-color;
}

.repository a, a.repository {
  color: @repo-color;
}

.top-bar.repository {
  background-color: @repo-color;
}

.historicalAgent a, a.historicalAgent {
  color: @agent-color;
}

.top-bar.historicalAgent {
  background-color: @agent-color;
}

.landing-header {
  color: white;
  border-bottom: 1px solid @pale-gray;
  padding: @small-padding;
  a {
    color: white !important;
  }
}

.landing-header.documentaryUnit {
  background-color: @doc-color;
}
.landing-header.repository {
  background-color: @repo-color;
}
.landing-header.country {
  background-color: @country-color;
}
.landing-header.historicalAgent {
  background-color: @agent-color;
}

/** Heading which divides a set of search results */
.search-group-heading {
  margin-bottom: 30px;
}

a.alt {
  color: @almost-black;
  font-weight: bolder;
}

.search-box {
  margin-top: 10 + 5px;
}

.selected-facet {
  margin-right: @small-margin;
  padding: @small-padding;
}

.sidebar {
}

.top-bar {
  .downward-shadow();
  color: @pale-gray;
  font-size: 1.1em;
}

.breadcrumb {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  margin-bottom: 0px;
}

.breadcrumb a {
  text-decoration: underline;
  color: @pale-gray;
}

.search-bar {
  border-top: solid 1px @dark-gray;
  border-bottom: solid 1px @pale-gray;
  background-color: white;
  margin-bottom: 10px;
}

.info-bar {
  background-color: @pale-gray;
}

.main-content {
}

.tertiary-content {
  margin-top: @menu-height;
}

.front-page-panel-content {
  padding: 10px;
  font-size: 0.9em;
  height: 300px;
  overflow: auto;
}

#news-feed {
}

#news-feed img {
  display: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push, footer {
  height: 99px;
}

footer {
  background-color: @pale-gray;
  padding-left: 20px;
  padding-right: 20px;
}

footer .container {
  padding-top: 20px;
}

/** Search items */
.search-item {
  padding-bottom: 0.5em;
  border-bottom: 1px dashed @dark-gray;
  margin-bottom: @search-item-spacing;
  padding-right: @large-padding;
}

.search-item-heading {
  font-size: 1.0em;
  font-weight: bolder;
  margin-bottom: 0.2em;
}

.search-item-actions {
  float: right;
  width: @large-margin;

  .watch-item.watch {
    opacity: 0.3;
  }
}

/** Inline lists - Bootstrap doesn't actually do this by itself */
ul.inline li {
  display: inline;
  padding-left: 0em;
}

/** Put a separator between the bars of inline lists */
ul.inline-separator li:after {
  content: " | ";
}

ul.inline-separator li:last-child:after {
  content: "";
}

/** Inline lists with a comma separator */
ul.comma-sep {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.comma-sep li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.comma-sep li:after {
  content: ", ";
  color: #aaa;
}

ul.comma-sep li:last-child:after {
  content: "";
}

// Forms
label.disabled {
  color: @dark-gray;
}

// Descriptions...
.descriptions {
  margin-top: @large-margin;
}

.activity-stream-wrapper {
  margin-bottom: @large-margin;
}

.activity-stream-event {
  margin-top: @large-margin;
  .log-message {
    font-size: 0.9em;
  }
}

#activity-stream {
  margin-bottom: @large-margin;
}

.search-result-list {
  margin-top: @large-margin;
}

.user-list {
  .user-list-item {
    position: relative;
    .gravitar {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 48px;
      height: 48px;

      img {
        border-radius: 5px;
      }
    }

    .user-list-info {
      margin-left: @gravitar-size + @small-margin;
      a.name {
        font-size: 1.2em;
      }
      height: @gravitar-size + @small-margin;
    }

    margin-bottom: @large-margin;
    border-bottom: 1px solid @pale-gray;
  }
}

.profile-social {
  color: @dark-gray;
  font-size: 1.2em;
}