@(params: utils.search.SearchParams, id: String, label: String)(implicit req: RequestHeader)

@import utils.search.SearchParams.QUERY

<div class="inline-search-filter">
    <label for="@id" class="sr-only" aria-hidden="true">@label</label>
    <input class="@{if(params.query.nonEmpty) "active"}" id="@id" type="text" name="@QUERY" value="@params.query" />
    @params.query.map { q =>
        <a title="@Messages("search.clear")" class="alt" href="@utils.joinPath(req.path, req.queryString - QUERY)"><span class="fa fa-times"></span></a>
    }
</div>