@(item: models.base.AnyModel, fragment: String, attributes: (Symbol,String)*)(implicit globalConfig: global.GlobalConfig, userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@url(item: models.base.AnyModel) = {
    @item match {
        case m: Country => { @controllers.portal.routes.Portal.browseCountry(m.id).url }
        case m: DocumentaryUnit => { @controllers.portal.routes.Portal.browseDocument(m.id).url }
        case m: Repository => { @controllers.portal.routes.Portal.browseRepository(m.id).url }
        case m: HistoricalAgent => { @controllers.portal.routes.Portal.browseHistoricalAgent(m.id).url }
        case m: AuthoritativeSet => { @controllers.portal.routes.Portal.browseAuthoritativeSet(m.id).url }
        case m: UserProfile => { @controllers.portal.routes.Portal.browseUser(m.id) }
        case m: Link => { @controllers.portal.routes.Portal.browseLink(m.id) }
        case m: Annotation => { @controllers.portal.routes.Portal.browseAnnotation(m.id) }
        case _ => { "#" }
    }
}
<a href="@{url(item).body.trim + fragment}" class="@("type-highlight " + item.isA)" @attributes.map(a => s"${a._1}='${a._2}'").mkString(" ") >@item.toStringLang</a>