@()(
    implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.portalLayout(Messages("portal.browse")) {
    @layout.breadcrumbs() {
        @* TODO: Add content *@
        <li>&nbsp;</li>
    }

    TODO: Make nicer...
    <ul>
        <li><a href="@controllers.portal.routes.Portal.browseCountries">@Messages("portal.browseCountries")</a></li>
        <li><a href="@controllers.portal.routes.Portal.browseRepositories">@Messages("portal.browseRepositories")</a></li>
        <li><a href="@controllers.portal.routes.Portal.browseDocuments">@Messages("portal.browseDocuments")</a></li>
        <li><a href="@controllers.portal.routes.Portal.browseHistoricalAgents">@Messages("portal.browseHistoricalAgents")</a></li>
    </ul>
}