@()(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@import utils.search.SearchParams

@extrascripts = {
    <script>
        jQuery(document).ready(function($) {
            $("#news-feed")
                    .load("@controllers.portal.routes.Portal.newsFeed.url")
        });
    </script>
}

@layout.portalLayout(Messages("forms.search"), scripts = extrascripts) {

    @helper.form(action = controllers.portal.routes.Portal.search, 'role -> "form") {
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>@Messages("portal.welcome")</h1>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="input-group">
                    <input type="search"
                           placeholder="@Messages("search.queryPlaceholder")" class="form-control" name="@SearchParams.QUERY" value="" autofocus />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            @Messages("forms.search")
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>

        <div class="row tertiary-content">
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-4 col-md-4 col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Messages("portal.latestUpdates")</h3>
                    </div>
                    <ul id="latest-events" class="list-unstyled panel-body front-page-panel-content">

                    </ul>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Messages("portal.newsFeed")</h3>
                    </div>
                    <ul id="news-feed" class="list-unstyled panel-body front-page-panel-content">

                    </ul>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
        </div>

    }
}