@(result: utils.search.ItemPage[(AnyModel,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang)

<ul class="list-unstyled">
    @result.items.map { case(item, id) =>
        @defining(Some(id)) { implicit descriptionId =>
            <li>
                @item match {
                    case d: DocumentaryUnit => {
                        @documentaryUnit.listItem(d)
                    }
                    case d: HistoricalAgent => {
                        @historicalAgent.listItem(d)
                    }
                    case d: Repository => {
                        @repository.listItem(d)
                    }
                    case d: Country => {
                        @country.listItem(d)
                    }
                    case _ => {
                        @views.html.common.searchItem(item)
                    }
                }
            </li>
        }
    }
</ul>
