@(result: utils.search.ItemPage[(AnyModel,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.portalLayout(Messages("forms.search")) {
    @layout.breadcrumbs() {
        <li><strong>@Messages("portal.search")</strong></li>
    }

    @searchForm(result, params, action) {
        @searchItemList(result)
    } {
        @facetList(result.facets, action)
    }
}