@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF)(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="item-details">
    <dl>
        <dt>@Messages("portal.documentaryUnit.identifier")</dt>
        <dd>@item.model.identifier</dd>
    </dl>
        @item.model.otherIdentifiers.map { idents =>
            <dl>
                <dt>@Messages("portal.documentaryUnit.otherIdentifiers")</dt>
                <dd>
                    <ul class="list-inline">
                    @idents.map { ident =>
                        <li>@ident</li>
                    }
                    </ul>
                </dd>
            </dl>
        }
        @if(!desc.dates.isEmpty) {
            <dl>
                <dt>@Messages("portal.documentaryUnit.dates")</dt>
                <dd>@desc.dates.map(_.years).mkString(", ")</dd>
            </dl>
        }
        @desc.identity.levelOfDescription.map { e =>
            <dl>
                <dt>@Messages("portal.documentaryUnit.levelOfDescription")</dt>
                <dd>@e</dd>
            </dl>
        }
        @desc.conditions.languageOfMaterials.map { langs =>
            @if(!langs.isEmpty) {
                <dl>
                    <dt>@Messages("portal.documentaryUnit.languageOfMaterials")</dt>
                    <dd>
                        <ul class="list-inline">
                            @langs.map { l =>
                                <li>@views.Helpers.languageCodeToName(l)</li>
                            }
                        </ul>
                    </dd>
                </dl>
            }
        }
        @desc.conditions.scriptOfMaterials.map { scr =>
            @if(!scr.isEmpty) {
                <dl>
                    <dt>@Messages("portal.documentaryUnit.scriptOfMaterials")</dt>
                    <dd>
                        <ul class="list-unstyled">
                            @scr.map { s =>
                            <li>@views.Helpers.scriptCodeToName(s)</li>
                            }
                        </ul>
                    </dd>
                </dl>
            }
        }
    </dl>
</div>
