@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF)(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<table class="item-details table table-condensed">
    <tr>
        <td>@Messages("portal.documentaryUnit.identifier")</td>
        <td>@item.model.identifier</td>
    </tr>
    @item.model.otherIdentifiers.map { idents =>
        <td>@Messages("portal.documentaryUnit.otherIdentifiers")</td>
        <td>
            <ul class="list-unstyled">
            @idents.map { ident =>
                <li>@ident</li>
            }
            </ul>
        </td>
    }
    @if(!desc.dates.isEmpty) {
        <tr>
            <td>@Messages("portal.documentaryUnit.dates")</td>
            <td>@desc.dates.map(_.years).mkString(", ")</td>
        </tr>
    }
    @desc.extentAndMedium.map { e =>
        <tr>
            <td>@Messages("portal.documentaryUnit.extentAndMedium")</td>
            <td>@e</td>
        </tr>
    }
    @desc.levelOfDescription.map { e =>
        <tr>
            <td>@Messages("portal.documentaryUnit.levelOfDescription")</td>
            <td>@e</td>
        </tr>
    }
    @desc.conditions.languageOfMaterials.map { langs =>
        @if(!langs.isEmpty) {
        <tr>
            <td>@Messages("portal.documentaryUnit.languageOfMaterials")</td>
            <td>
                <ul class="list-unstyled">
                    @langs.map { l =>
                        <li>@views.Helpers.languageCodeToName(l)</li>
                    }
                </ul>
            </td>
        </tr>
        }
    }
    @desc.conditions.scriptOfMaterials.map { scr =>
        @if(!scr.isEmpty) {
        <tr>
            <td>@Messages("portal.documentaryUnit.scriptOfMaterials")</td>
            <td>
                <ul class="list-unstyled">
                    @scr.map { s =>
                    <li>@views.Helpers.scriptCodeToName(s)</li>
                    }
                </ul>
            </td>
        </tr>
        }
    }

</table>
