@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@item.holder.map { holder =>
    <div class="panel-details repository">
        <div class="panel-heading ">
            <h3>@p.helpers.linkTo(holder)</h3>
        </div>
        @if(!holder.model.primaryDescription.flatMap(_.parallelFormsOfName).isEmpty || !holder.model.logoUrl.isEmpty) {
            <div class="panel-body">
                @if(!holder.model.primaryDescription.flatMap(_.parallelFormsOfName).isEmpty || !holder.model.logoUrl.isEmpty) {
                    <ul class="list-unstyled">
                        @holder.model.primaryDescription.map { d =>
                            @d.parallelFormsOfName.map { pfn =>
                                <li>@pfn</li>
                            }
                        }
                    </ul>
                }
                @holder.model.logoUrl.map { logo =>
                    @defining(holder.url.map(_.toString).getOrElse(req.path)) { url =>
                        <a href="@url">
                            <img class="repository-logo" src="@logo" alt="@item.toStringLang" />
                        </a>
                    }
                }
            </div>
        }
    </div>
}