@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, links: List[Link], annotations: Map[String,List[Annotation]])(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@import defines._
@import models.IsadG._
@import p.common.descriptionSection
@import p.common.textField


@p.common.descriptionOutline(desc, annotations) {
    @defining(Annotation.fieldAnnotations(annotations)) { implicit fieldAnnotations =>
        @textField(item, desc.`abstract`, ABSTRACT)
        
        @descriptionSection(CONTEXT_AREA) {
            @textField(item, desc.context.biographicalHistory, ADMIN_BIOG)
            @textField(item, desc.context.archivalHistory, ARCH_HIST)
            @textField(item, desc.context.acquisition, ACQUISITION)
        }
        
        @descriptionSection(CONTENT_AREA) {
            @textField(item, desc.content.scopeAndContent, SCOPE_CONTENT)
            @textField(item, desc.content.appraisal, APPRAISAL)
            @textField(item, desc.content.accruals, ACCRUALS)
            @textField(item, desc.content.systemOfArrangement, SYS_ARR)
        }
        
        @descriptionSection(CONDITIONS_AREA) {
            @textField(item, desc.conditions.conditionsOfAccess, ACCESS_COND)
            @textField(item, desc.conditions.conditionsOfReproduction, REPROD_COND)
            @textField(item, desc.conditions.physicalCharacteristics, PHYSICAL_CHARS)
            @textField(item, desc.conditions.findingAids, FINDING_AIDS)
        }
        
        @descriptionSection(MATERIALS_AREA) {
            @textField(item, desc.materials.locationOfOriginals, LOCATION_ORIGINALS)
            @textField(item, desc.materials.locationOfCopies, LOCATION_COPIES)
            @textField(item, desc.materials.relatedUnitsOfDescription, RELATED_UNITS)
            @textField(item, desc.materials.publicationNote, PUBLICATION_NOTE)
        }
        
        @descriptionSection(NOTES_AREA) {
            @common.listValue(desc.notes, NOTES)
        }
        
        @descriptionSection(CONTROL_AREA) {
            @textField(item, desc.control.archivistNote, ARCHIVIST_NOTE)
            @textField(item, desc.control.rulesAndConventions, RULES_CONVENTIONS)
            @textField(item, desc.control.datesOfDescriptions, DATES_DESCRIPTIONS)
        }        
    }

    @link.relatedLinks(item, desc, links)
}
