@(item: DocumentaryUnit, hit: utils.search.SearchHit, watched: Boolean, showRepository: Boolean = true, activeQuery: Boolean = false)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, descriptionId: Option[String] = None, context: Option[models.base.Holder[_]] = None)

@wrapParent(doc: DocumentaryUnit, parent: Option[DocumentaryUnit]) = {
    @if(parent.map(_.id) != context.map(_.id)) {
        @parent.map { p =>
            @wrapParent(doc, p.parent)
            <li>
                <a class="search-item-parent-name" href="@controllers.portal.routes.DocumentaryUnits.browse(p.id)">
                    @hit.highlight(p.toStringLang)
                </a>
            </li>
        }
    }
}

@anchor = @{if(item.model.descriptions.size > 1) s"#desc-${hit.id.substring(hit.id.indexOf(".") + 1)}" else "" }

<div class="search-item" id="@item.id">
    <div class="search-item-actions">
    @views.html.p.common.watchButtonsSmall(item, watched)
    </div>
    <h3 class="search-item-heading type-highlight @item.isA.toString">
        <a href="@controllers.portal.routes.DocumentaryUnits.browse(item.id)@anchor">
        @hit.highlight(item.toStringLang)
        </a>
    </h3>
    <div class="search-item-body">
        <ol class="breadcrumb">@wrapParent(item, item.parent)</ol>
        @views.html.p.documentaryUnit.listItemBody(item, showRepository, highlighter = hit)
    </div>
</div>
