@(item: DocumentaryUnit, hit: utils.search.SearchHit, watched: Boolean, showRepository: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, descriptionId: Option[String] = None, context: Option[Holder[_]] = None)

@wrapParent(doc: DocumentaryUnit, parent: Option[DocumentaryUnit]) = {
    @if(parent.map(_.id) != context.map(_.id)) {
        @parent.map { p =>
            @wrapParent(doc, p.parent)
            <li>
                <a class="search-item-parent-name" href="@controllers.portal.routes.DocumentaryUnits.browse(p.id)">
                    @hit.highlight(p.toStringLang)
                </a>
            </li>
        }
    }
}

<div class="search-item" id="@item.id">
        <div class="search-item-actions">
            @p.common.watchButtonsSmall(item, watched)
        </div>
        <h3 class="search-item-heading type-highlight @item.isA.toString">
            <a href="@controllers.portal.routes.DocumentaryUnits.browse(item.id)">
                @hit.highlight(item.toStringLang)
            </a>
        </h3>
        <div class="search-item-body">
            <ol class="breadcrumb">@wrapParent(item, item.parent)</ol>
            @listItemBody(item, showRepository, highlighter = hit)
        </div>
</div>
