@(item: DocumentaryUnit, result: utils.search.ItemPage[(DocumentaryUnit,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call, annotations: Seq[Annotation], links: List[Link], watched: Boolean = false)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(item.toStringLang) {
    @p.layout.breadcrumbs(item.isA.toString) {
        @item.holder.flatMap(_.country).map { country =>
            <li>
                <a href="@controllers.portal.routes.Portal.browseCountry(country.id)">@country.toStringLang</a>
            </li>
        }
        @item.holder.map { repo =>
            <li>
                <a href="@controllers.portal.routes.Portal.browseRepository(repo.id)">@views.Helpers.ellipsize(repo.toStringLang, 30)</a>
            </li>
        }
        @item.ancestors.map { ann =>
            <li>@p.helpers.linkTo(ann)</li>
        }
        @p.helpers.breadcrumbCurrent(views.Helpers.ellipsize(item.toStringLang, 50))
    }

    @infobar(item, watched)

    @defining(IsadG.FIELD_PREFIX) { implicit fieldPrefix =>
        @p.common.descriptionContainer(item.model.descriptions) {
            @item.model.descriptions.map { desc =>
                @renderDescription(item, desc, links, annotations)
            }
        } {
            @p.common.tablePanel(Messages("portal.item.details")) {
                @item.model.descriptions.map { desc =>
                    @details(item, desc)
                }
            }
        }

        @p.common.relatedItemsContainer(item) {
            @p.common.relatedItems(item, links)
        }
    }

    @p.searchForm(result, params, action, key = "", autofocus = false) {
        @p.searchItemList(result)
    } {
        @p.facetList(result.facets, action)
    }
}