@(item: models.base.Model, action: Call, cancel: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("item.delete", item.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    <p>@Messages("item.delete.info", item.toStringLang)</p>
    @helper.form(action = action) {
        @formHelpers.csrfToken()
        @formHelpers.submitButtonWithLogMessageInput(Messages("item.delete.submit"), cancel = views.admin.Helpers.linkToOpt(item))
    }
} {

}

