@(form: Form[Int], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar("Import Legacy Users (Careful Now!)") {
    @helper.form(action = action, 'class -> "entity-form form-horizontal", 'enctype -> "multipart/form-data", 'acceptcharset -> "UTF-8") {
        @formHelpers.csrfToken()
        <div class="form-group">
            <label class="control-label" for="id_offset">Specify the user ID offset</label>
            <div class="control-elements">
                <input class="form-control" type="number" name="offset" id="id_offset" min="100" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="id_csv">Select the user CSV file...</label>
            <div class="control-elements">
                <input class="form-control" type="file" name="csv" id="id_csv" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Import Users" />
        </div>
    }
} {
}
