@(events: Iterable[Seq[SystemEvent]], recentItems: Seq[Model])(implicit userOpt: Option[UserProfile] = None, req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("admin.home.title")) {

    @helper.form(action = controllers.admin.routes.AdminSearch.search()) {
        @views.html.common.search.searchBar(services.search.SearchParams.empty, autofocus = true, tips = false, placeholder = Messages("search.queryPlaceholder"))
    }


    <div id="admin-info">
        @if(recentItems.nonEmpty) {
            <div id="admin-recently-viewed" class="admin-info-item">
                <h3>@Messages("admin.recentlyViewed")</h3>
                <ol class="search-result-list">
                    @recentItems.map { item =>
                        <li>@views.html.admin.search.searchItem(item)</li>
                    }
                </ol>
            </div>
        }
        @if(events.nonEmpty) {
            <div id="admin-recent-activity" class="admin-info-item">
                <h3>@Messages("admin.recentActivity")</h3>
                <ol id="activity-stream">
                    @for(eventSeq <- events) {
                        @for(event <- eventSeq.headOption) {
                            @views.html.admin.systemEvent.listEntry(event)
                        }
                    }
                </ol>
            </div>
        }
    </div>

} {
    @views.html.common.sidebarSection(Messages("admin.home"), cls = "type-heading") {
    }
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.isAdmin) {
            <a href="@controllers.admin.routes.Home.metrics()">
                <i class="fa fa-fw fa-pie-chart"></i>
                @Messages("admin.metrics.show")
            </a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.events.routes.SystemEvents.list()">
                <i class="fa fa-fw fa-clock-o"></i>
                @Messages("systemEvent.list")
            </a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.cypher.routes.CypherQueries.listQueries()">
                <i class="fa fa-fw fa-database"></i>
                @Messages("cypherQuery.list")
            </a>
        }
    }
}
