@(events: Iterable[Seq[SystemEvent]], recentItems: Seq[models.base.Model])(implicit userOpt: Option[UserProfile] = None, req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("admin.home.title")) {

    <div id="admin-info">
        @if(recentItems.nonEmpty) {
            <div id="admin-recently-viewed" class="admin-info-item">
                <h3>@Messages("admin.recentlyViewed")</h3>
                <ol class="search-result-list">
                    @recentItems.map { item =>
                        <li>@views.html.admin.search.searchItem(item)</li>
                    }
                </ol>
            </div>
        }
        @if(events.nonEmpty) {
            <div id="admin-recent-activity" class="admin-info-item">
                <h3>@Messages("admin.recentActivity")</h3>
                <ol id="activity-stream">
                    @views.html.admin.systemEvent.aggregateList(events)
                </ol>
            </div>
        }
    </div>

} {
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.isAdmin) {
            <a href="@controllers.admin.routes.Home.metrics()">@Messages("admin.metrics.show")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.events.routes.SystemEvents.list()">@Messages("systemEvent.list")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.cypher.routes.CypherQueries.listQueries()">@Messages("cypherQuery.list")</a>
        }
    }
}
