@(form: Form[String], action: Call, name: String)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)


@extrascripts = {
    <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/codemirror-5.47.0/codemirror.js")"></script>
    <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/codemirror-5.47.0/" + name.toLowerCase + ".js")"></script>
    <script type="application/javascript">
        jQuery(function($) {
            var editor = CodeMirror.fromTextArea(document.getElementById("id_q"), {
                mode:'@(name.toLowerCase)',
                lineNumbers: true
            });
            var $f = $("#query-form"),
                $submit = $f.find("[type='submit']"),
                $update = $("#update-progress");

            function setRunning(running) {
                $submit.attr("disabled", running)
                    .toggleClass("running", running);
            }
            $f.submit(function(e) {
                e.preventDefault();
                readDataStream("GET", $f.attr("action") + "?" + $.param({q: editor.getValue()}), {
                    start: function() {
                        setRunning(true);
                    },
                    progress: function(xhr) {
                        $update.show().html("<pre>" + xhr.responseText + "</pre>");
                    },
                    stop: function() {
                        setRunning(false);
                    }
                });
            });
        });
    </script>
}

@extrastyles = {
    <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("js/lib/codemirror-5.47.0/codemirror.css")">
}

@views.html.admin.layout.noSidebar(name, scripts = extrascripts, styles = extrastyles) {
    @helper.form(action = action, 'id -> "query-form") {
        <textarea id="id_q" name="q">@form("q").value</textarea>
        <div class="control-group">
            <button type="submit" class="btn btn-primary btn-progress">
                Submit
            </button>
        </div>
    }

    <div id="update-progress"></div>
}
