@()(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@styles = {
    <link href="@controllers.admin.routes.AdminAssets.versioned("css/datasets.css")" rel="stylesheet">
}

@breadcrumbRoot = {
    <a href="@controllers.fieldmeta.routes.FieldMetadata.editor()">@Messages("fieldmeta")</a>
}

@views.html.admin.layout.adminSinglePageAppLayout(Messages("fieldmeta"), styles = styles,
    breadcrumbs = views.html.admin.common.breadcrumbs(List(), breadcrumbRoot)) {
} {
    @helper.javascriptRouter("fieldMetadataApi")(
        controllers.fieldmeta.routes.javascript.FieldMetadataApi.list,
        controllers.fieldmeta.routes.javascript.FieldMetadataApi.get,
        controllers.fieldmeta.routes.javascript.FieldMetadataApi.save,
        controllers.fieldmeta.routes.javascript.FieldMetadataApi.delete,
        controllers.fieldmeta.routes.javascript.FieldMetadataApi.templates,
        controllers.fieldmeta.routes.javascript.EntityTypeMetadataApi.list,
        controllers.fieldmeta.routes.javascript.EntityTypeMetadataApi.save,
        controllers.fieldmeta.routes.javascript.EntityTypeMetadataApi.delete
    )

    <script src="@controllers.admin.routes.AdminAssets.versioned("js/fmeditor/app.js")"></script>
    <script>
            window.SERVICE = {
                list: fieldMetadataApi.controllers.fieldmeta.FieldMetadataApi.list,
                get: fieldMetadataApi.controllers.fieldmeta.FieldMetadataApi.get,
                save: fieldMetadataApi.controllers.fieldmeta.FieldMetadataApi.save,
                delete: fieldMetadataApi.controllers.fieldmeta.FieldMetadataApi.delete,
                templates: fieldMetadataApi.controllers.fieldmeta.FieldMetadataApi.templates,
                listET: fieldMetadataApi.controllers.fieldmeta.EntityTypeMetadataApi.list,
                saveET: fieldMetadataApi.controllers.fieldmeta.EntityTypeMetadataApi.save,
                deleteET: fieldMetadataApi.controllers.fieldmeta.EntityTypeMetadataApi.delete
            }
            Vue.createApp({
                render: function() {
                    return Vue.h(App.default, {
                        service: window.SERVICE
                    });
                },
            }).mount("#vue-app");
    </script>
}
