@(item: Repository)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@common.sidebarActions { user =>
    @common.sidebarAction(user.hasPermission(ContentTypes.DocumentaryUnit, PermissionType.Create)) {
        <a href="@controllers.institutions.routes.Repositories.createDoc(item.id)">@Messages("documentaryUnit.child.create")</a>
    }
    @common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Update)) {
        <a href="@controllers.institutions.routes.Repositories.update(item.id)">@Messages("item.update")</a>
    }
    @common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Delete)) {
        <a href="@controllers.institutions.routes.Repositories.delete(item.id)">@Messages("item.delete")</a>
    }
    @common.sidebarAction(user.hasPermission(ContentTypes.Repository, PermissionType.Grant)) {
        <a href="@controllers.institutions.routes.Repositories.managePermissions(item.id)">@Messages("permissions.manage")</a>
    }
    @common.sidebarAction() {
        <a  href="@controllers.institutions.routes.Repositories.history(item.id)">@Messages("item.history")</a>
    }
    @common.sidebarAction(user.isAdmin) {
        <a href="@controllers.institutions.routes.Repositories.updateIndex(item.id)">@Messages("search.updateIndex")</a>
    }
    @common.sidebarAction() {
        <a href="@controllers.admin.routes.ApiController.getItem(item.isA, item.id)">@Messages("item.export.json")</a>
    }
}