@(item: Country, f: Form[RepositoryF], defaults: Option[play.api.Configuration], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@layout.rightSidebar(Messages("actions.createRepository"), breadcrumbs = common.breadcrumbs(List(item))) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @repository.renderForm(None, f, defaults)
        @permissions.renderVisibilityForm(vf, users, groups)
        @formHelpers.submitButtonWithLogMessageInput(Messages("submitButton.createRepository"), cancel = Some(globalConfig.routeRegistry.urlFor(item)))
	}
} {
	@formNav()
}
