@(item: Repository, f: play.api.data.Form[RepositoryF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.updateRepository"), breadcrumbs = common.breadcrumbs(List(item))) {
    @helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @repository.renderForm(Some(item), f)

        @common.submitButtonWithLogMessageInput(Messages("submitButton.updateRepository"), cancel = Some(globalConfig.routeRegistry.urlFor(item)))
    }
} {
	@formNav()
}
