@(item: Repository)(implicit req: RequestHeader, lang: Lang)

@import Isdiah._

@common.searchItemOutline(item.id) {
    <a href="@controllers.archdesc.routes.Repositories.get(item.id)">@item.toStringLang</a>
} {
    @item.model.primaryDescription.map { desc =>

        @defining((desc.parallelFormsOfName ++ desc.otherFormsOfName).flatten) { ofn =>
            @if(!ofn.isEmpty) {
                <small>
                    <strong>
                        <ul class="list-unstyled inline inline-separator">
                            @ofn.map { on =>
                                <li>@on</li>
                            }
                        </ul>
                    </strong>
                </small>
            }
         }
        <small>
            <ul class="list-unstyled text-muted inline inline-separator">
                @item.country.map { ct =>
                    <li><strong><a class="alt" href="@controllers.archdesc.routes.Countries.get(ct.id)">@ct.toStringLang</a></strong></li>
                }
                @desc.addresses.headOption.map { address =>
                    @common.propertyList(address.streetAddress, address.city, address.region)
                }
                @item.latestEvent.map { event =>
                    <li title="@common.eventTitle(event)">
                        <time datetime="@event.model.timestamp">@Messages("systemEvents.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</time>
                    </li>
                }
            </ul>
            @views.html.common.childCount(item) { count =>
                <a href="@controllers.archdesc.routes.Repositories.get(item.id)#search-items">@Messages(EntityType.Repository + ".childCount", count)</a>
            }
        </small>

        @desc.details.generalContext.map { gc =>
            <p>@gc</p>
        }
    }.getOrElse {
        <small>@Messages("describedEntity.noDescriptions")</small>
    }
}
