@(item: Repository, result: utils.search.ItemPage[(AnyModel,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call, annotations: Map[String,List[Annotation]], links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@repository.itemPage(item) {

    @common.annotated(item, annotations) {
        @defining(Isdiah.FIELD_PREFIX) { implicit fieldPrefix =>
            @item.model.identifier
            @if(!item.model.descriptions.isEmpty) {
                @item.model.descriptions.map { desc =>
                    @repository.renderDescription(item, desc, links)
                }
            }
        }
    }

    @views.html.search.searchSection(Messages("repository.searchInside", item.toStringAbbr(lang))) {
        @views.html.search.searchForm(result, params, action, autofocus = false) {
            @documentaryUnit.searchItemList(result)
        }
    }
}