@(item: Promotable)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@userOpt.map { user =>
    @if(item.isPromotable) {
        @if(!item.isPromotedBy(user)) {
            <a class="promotion-action promote"
               title="@Messages("portal.annotation.promote.title")"
               href="@controllers.portal.annotate.routes.Annotations.promoteAnnotation(item.id, isList = true)">
                <span class="fa fa-caret-up"></span>
            </a>
        } else {
            <a class="promotion-action promote undo"
               title="@Messages("portal.annotation.promote.remove.title")"
               href="@controllers.portal.annotate.routes.Annotations.removeAnnotationPromotion(item.id, isList = true)">
                <span class="fa fa-caret-up"></span>
            </a>
        }
        <span class="promotion-score">@item.promotionScore</span>
        @if(!item.isDemotedBy(user)) {
            <a class="promotion-action demote"
               title="@Messages("portal.annotation.demote.title")"
               href="@controllers.portal.annotate.routes.Annotations.demoteAnnotation(item.id, isList = true)">
                <span class="fa fa-caret-down"></span>
            </a>
        } else {
            <a class="promotion-action demote undo"
               title="@Messages("portal.annotation.demote.remove.title")"
               href="@controllers.portal.annotate.routes.Annotations.removeAnnotationDemotion(item.id, isList = true)">
                <span class="fa fa-caret-down"></span>
            </a>
        }
    }
}
