@(item: Annotation, hit: utils.search.SearchHit)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@item.target.map { src =>
    @p.layout.searchItemOutlineWithActions(src) {
        @p.helpers.linkToWithFragment(src, "#" + item.id)
    } {
        @listActions(item)
    } {
        @listItemBody(item, hit)
    }
}.getOrElse {
    @p.layout.searchItemOutlineWithActions(item) {
        <strong>[No Target]</strong>@p.helpers.linkTo(item)
    } {
        @listActions(item)
    } {
        @listItemBody(item, hit)
    }
}