@(item: Country, result: utils.search.ItemPage[(Repository,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call, annotations: Map[String,List[Annotation]], links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.portalLayout(item.toStringLang) {

    <h2>@item.toStringLang</h2>

    @views.html.search.searchSection(Messages("country.searchInside", item.toStringAbbr)) {
        @views.html.search.searchForm(result, params, action, autofocus = false) {
            @repository.searchItemList(result)
        }
    }
}