<div class="navbar navbar-fixed-top" ng-controller="headerCtrl">
	<img src="/assets/images/logo2.png" alt="EHRI" class="pull-left navbar-fixed-top-picture" />
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<a class="blue" href="#/">
					<i class="icon-search"></i>	Search
				</a>
			</li>
			<li>
				<a class="orange" href="#/basket">
					<i class="icon-shopping-cart"></i>	Basket
					<span class="badge badge-warning" ng-show="(ui.basket.size.val > 0)">{{ui.basket.size.val}}</span>
				</a>
			</li>
		</ul>
		<div class="pull-right flat-form ">
			<form ng-submit="ui.search.submit()" class="quick-search"><input class="input" type="text" ng-model="searchTerm" placeholder="Quick search" ng-class="(topFormShow && 'open')"/><a class="icon" ng-click="topFormShow = !topFormShow;">
				<i class="icon-large icon-search"></i>
			</a></form><div class="menu-container" >
				<a class="icon" ng-click="topLoginShow = !topLoginShow;"><i class="icon-large icon-signin"></i></a>
				<div class="login-menu" ng-class="(topLoginShow && 'open')">
					<a class="icon"><i class="icon-large icon-google-plus"></i>
					</a><a class="icon"><i class="icon-large icon-flickr"></i>
					</a><a class="icon"><i class="icon-large icon-twitter"></i>
					</a><a class="icon"><i class="icon-large icon-pinterest"></i>
					</a><a class="icon"><i class="icon-large icon-tumblr"></i>
					</a><a class="icon"><i class="icon-large icon-github-alt"></i>
					</a><a class="icon"><i class="icon-large icon-facebook"></i>
					</a>
					<div class="login-row">
						<div class="icon empty"><i class="icon-envelope-alt"></i></div><input class="input" type="text" name="username" placeholder="Username"/>
					</div>
					<div class="login-row">
						<div class="icon empty"><i class="icon-key"></i></div><input class="input" type="password" name="username" placeholder="Password"/>
					</div>
					<div class="login-row">
						<div class="column2">
							<button class="btn btn-success">Sign in</button>						
						</div><div class="column2">
							<button class="btn btn-info">Sign up</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>