@(item: Accessible, f: Form[DocumentaryUnitF], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(
    implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@breadcrumbs = {
    @item match {
        case d: DocumentaryUnit => {
            @documentaryUnit.breadcrumbs(d)
        }

        case r: Repository => {
            @common.breadcrumbs(List(r))
        }

        case _ => {
            @Html("")
        }
    }
}

@rightSidebarLayout(Messages("actions.createDocumentaryUnit"), breadcrumbs = breadcrumbs) {

	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
		@documentaryUnit.renderForm(f)

        @permissions.renderVisibilityForm(vf, users, groups)
		@common.submitButtonWithLogMessageInput(Messages("submitButton.createDocumentaryUnit"), cancel = Some(item))
	}
} {
   @documentaryUnit.formNav()
}
