@(item: models.base.AccessibleEntity, f: play.api.data.Form[DocumentaryUnit], action: Call, user: UserProfileRepr, req: RequestHeader)
 
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main(Messages("Create Documentary Unit"))(Some(user), req) {
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		@documentaryUnit.renderForm(f)
	
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("Create")</button>
		</div>
	}
}
