@(item: DocumentaryUnit, desc: models.base.Description)(implicit userOpt: Option[UserProfile], lang: Lang, req: RequestHeader, flash: Flash)

@extrascripts = {
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js"></script>
    <script src="@routes.Assets.at("javascripts/ui-bootstrap-0.2.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/DocumentaryUnit.js")" type="text/javascript"></script>
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.DocumentaryUnits.get,
        routes.javascript.DocumentaryUnits.createLinkJson,
        routes.javascript.DocumentaryUnits.createAccessPointLinkJson,
        routes.javascript.DocumentaryUnits.getLinkJson,
        routes.javascript.DocumentaryUnits.getAccessPointsJson,
        routes.javascript.Links.deletePost
    )
}

@documentaryUnit.itemPage(item, scripts = extrascripts) {

}