@(item: Option[DocumentaryUnit], f: play.api.data.Form[DocumentaryUnitF], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages(item.map(s => "actions.updateDocumentaryUnit").getOrElse("actions.createDocumentaryUnit"))) {
		
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		@documentaryUnit.renderForm(f)
	
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages(item.map(s => "submitButton.updateDocumentaryUnit").getOrElse("submitButton.createDocumentaryUnit"))</button>
		</div>
	}
} {
    @documentaryUnit.formNav()
}
