@(doc: Option[DocumentaryUnit], f: play.api.data.Form[DocumentaryUnit], action: Call)(implicit maybeUser: Option[models.sql.User], req: RequestHeader)
 
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

  @main("Update item")(maybeUser, req) {
	
		@doc.map { v =>
			<h4>Update @v.identifier</h4>
		}.getOrElse {
			<h4>Create</h4>
		}
		
	
		@helper.form(action = action, 'class -> "entity-form form-horizontal") {
			<fieldset id="identity-area">
				<legend>@Messages("Identity")</legend>
				@helper.inputText(f("identifier"), '_label -> "Identifier")
				@helper.inputText(f("name"), '_label -> "Name")
			</fieldset>
		  
			@helper.repeat(f("descriptions"), min=f("descriptions").indexes.length + 1) { desc =>
			   <input type="hidden" value="@desc("id").value" name="id" />
			   @helper.inputText(desc("languageCode"), '_label -> "Language Code")
			   @helper.inputText(desc("title"), '_label -> "Title")
			   @helper.inputText(desc("scopeAndContent"), '_label -> "Scope and Content")
			}
			
			<fieldset id="admin-area">
				<legend>@Messages("Administration")</legend>
				@common.descriptionChoice(f("publicationStatus"), defines.PublicationStatus, "Publication Status")
			</fieldset>
			
			<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages(doc.map(s => "Update").getOrElse("Create"))</button>
        </div>
	}
		
}
