@(item: DocumentaryUnit, desc: models.base.Description)(implicit userOpt: Option[UserProfile], lang: Lang, req: RequestHeader, flash: Flash)

    @extrascripts = {
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-0.2.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/AccessPointLinker.js")" type="text/javascript"></script>

        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Application.get,
            routes.javascript.Application.getType,
            routes.javascript.Search.filterType,
            routes.javascript.DocumentaryUnits.linkMultiAnnotatePost,
            routes.javascript.DocumentaryUnits.get,
            routes.javascript.DocumentaryUnits.createLink,
            routes.javascript.DocumentaryUnits.createAccessPoint,
            routes.javascript.DocumentaryUnits.getLink,
            routes.javascript.DocumentaryUnits.getAccessPointsJson,
            routes.javascript.DocumentaryUnits.deleteAccessPoint,
            routes.javascript.DocumentaryUnits.deleteLink
        )
    }

@import AccessPointF._

@documentaryUnit.itemPage(item, scripts = extrascripts) {
    <h4>&quot;@desc&quot;</h4>
    <div ng-app="AccessPointLinker" class="ng-cloak">
        <div ng-controller="LinkerCtrl" ng-init="init('@item.id','@desc.id')">
            <ul class="unstyled">
            @AccessPointType.values.toList.map { accessPointType =>
                <li class="accessPointList @accessPointType">
                    <h3>@Messages("isadg." + IsadG.ACCESS_POINTS + "." + accessPointType)</h3>
                    <ul class="item-annotation-links unstyled">
                        <li ng-repeat="access in getAccessPointsWithType('@accessPointType')" id="{{access.accessPoint.id}}">
                            <span ng-switch="access.link != null">
                                <span ng-switch-when="true">
                                    <a href="{{getTypeUrl(access.target.type, access.target.id)}}">{{access.accessPoint.data.name}}</a>
                                    <a title="@Messages("accessPoint.removeAccessPoint")"
                                    class="icon icon-remove" ng-click="deleteAccessPointWithLink(access.accessPoint.id, access.link.id, access.accessPoint.data.name)"></a>
                                </span>

                                <span ng-switch-when="false">
                                    {{access.accessPoint.data.name}}
                                    <a title="@Messages("accessPoint.removeAccessPoint")"
                                        class="icon icon-remove" ng-click="deleteAccessPoint(access.accessPoint.id, access.accessPoint.data.name)"></a>
                                </span>
                            </span>
                            <small ng-show="access.accessPoint.data.description">
                                <p class="muted">{{access.accessPoint.data.description}}</p>
                            </small>
                        </li>

                        <li ng-switch="editInProgress('@accessPointType')">
                            <small ng-switch-when="false">
                                <a ng-click="initialiseEdit('@accessPointType')">
                                    <i class="icon icon-plus-sign"></i>
                                    @Messages("accessPoints.addNew")
                                </a>

                            </small>
                            <div class="well well-small" ng-switch-when="true" class="new-access-point">
                                <h4>@Messages("accessPoints.newAccessPoint")</h4>
                                <div class="control-group">
                                    <div class="controls-row input-append">
                                    <input type="text" placeholder="@Messages("accessPoints.name")" ng-change="queryNameMatches()" ng-model="tempAccessPoint.name" autofocus="true" />
                                        <a class="btn" ng-click="openBrowseDialog()">
                                            <i class="icon icon-search"></i>
                                        </a><br />
                                    </div>
                                    <input type="text" placeholder="@Messages("accessPoints.description")" ng-model="tempAccessPoint.description" /><br />
                                    <div ng-switch="tempAccessPoint.link != null">
                                        <span ng-switch-when="true">
                                            <i class="icon icon-hand-right"></i>
                                            <a target="_blank" href="{{getUrl(tempAccessPoint.link.target)}}">{{tempAccessPoint.link.name}}</a>
                                            <a title="@Messages("accessPoint.removeAccessPointLink")"
                                               class="icon icon-remove" ng-click="removeTempAccessPointLink()"></a>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-small btn-primary" ng-click="saveNewAccessPoint()" ng-disabled="!hasValidNewAccessPoint('@accessPointType')">
                                    Save</button>
                                <button class="btn btn-small" ng-click="cancelAddAccessPoint()">Cancel</button>
                                <p>
                                    <small class="control-group">
                                        <ul class="potential-matches" style="overflow: auto; max-height: 200px">
                                            <li ng-repeat="item in matches">
                                                <a ng-click="selectLinkMatch(item)">{{item[1]}} <span class="badge pull-right">{{item[2]}}</span></a>
                                            </li>
                                        </ul>
                                    </small>
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            }
            </ul>
        </div>
    </div>
}
