@(item: AccessibleEntity, f: Form[models.forms.DocumentaryUnitDescriptionF], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.createDescription")) {

    @defining("isadg") { implicit fieldPrefix =>
        @helper.form(action = action, 'class -> "entity-form form-horizontal") {
            @documentaryUnit.renderDescriptionForm(f(""))

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("submitButton.createDescription")</button>
            </div>
        }
    }
} {
   @documentaryUnit.formNav();
}
