@(items: Seq[DocumentaryUnit], showAction: String => Call, maybeUser: Option[models.sql.User], req: RequestHeader)

@main("View item")(maybeUser, req) {

	<h3>Items:</h3>
  
	<ul>
	@items.map { item =>
	  	<div class="list-item">
			<h4>
				<a href="@showAction(item.identifier)">@item.name</a>
				@item.holder.map { holder =>
					<strong> - @holder.name</strong>
				}
			</h4>
			@item.descriptions.headOption.map { desc =>
			  @desc.scopeAndContent.map { sc =>
			    <p>@sc</p>
			  }
			  
			}
		</div>
	}
	</ul>
    
}