@(page: rest.Page[DocumentaryUnit], showAction: String => Call, maybeUser: Option[models.sql.User], req: RequestHeader)

@main("View item")(maybeUser, req) {

	<h3>Displaying items @(page.offset + 1) to @(page.offset + page.list.size) of @page.total</h3>
  
	<div id="pagination" class="pagination">
    	<ul>
		@views.Helpers.paginationRanges(page.page.toInt + 1, page.numPages.toInt).map { range =>
			@range.map { cp =>
	        	@if(cp == page.page.toInt) {
	                <li class="disabled"><a>@cp</a></li>
	            } else {
	                <li><a href="@utils.joinPath(req.path, req.queryString.updated("page", Seq(cp.toString)))">@cp</a></li>
	            }
	        }
	        @if(range.last != page.numPages) {
	        	<li class="disabled"><a>...</a></li>
	        }
		}
		</ul>
	</div>
	
	<ul>
	@page.list.map { item =>
	  	<div class="list-item">
			<h4>
				<a href="@showAction(item.identifier)">@item.name</a>
				@item.holder.map { holder =>
					<strong> - <a href="@controllers.routes.Agents.get(holder.identifier)">@holder.name</a></strong>
				}
			</h4>
			@item.descriptions.headOption.map { desc =>
			  @desc.scopeAndContent.map { sc =>
			    <p>@sc</p>
			  }
			  
			}
		</div>
	}
	</ul>
    
}