@(item: DocumentaryUnit, desc: DocumentaryUnitDescription)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@import defines._
@import models.IsadG._
@import views.html.common.descriptionSection

@common.descriptionOutline(desc, desc.languageCode) {
    @descriptionSection(IDENTITY_AREA) {
        @if(!desc.dates.isEmpty) {
            <h4>@Messages(fieldPrefix + "." + DATES)</h4>
            <table>
                @desc.dates.map(_.formable).map { dp =>
                <tr id="@dp.id">
                    <td>
                        @defining(dp.`type`) { typeOpt =>
                            @typeOpt.map { t =>
                                @Messages(fieldPrefix + "." + t)
                            }
                        }
                    </td>
                    <td>@dp.years.trim</td>
                </tr>
                }
            </table>
        }

        @common.stringValue(desc, EXTENT_MEDIUM)
    }
    @descriptionSection(CONTEXT_AREA) {
        @common.stringValue(desc, ADMIN_BIOG)
        @common.stringValue(desc, ARCH_HIST)
        @common.stringValue(desc, ACQUISITION)
    }

    @descriptionSection(CONTENT_AREA) {
        @common.stringValue(desc, SCOPE_CONTENT)
        @common.stringValue(desc, APPRAISAL)
        @common.stringValue(desc, ACCRUALS)
        @common.stringValue(desc, SYS_ARR)
    }

    @descriptionSection(CONDITIONS_AREA) {
        @common.stringValue(desc, ACCESS_COND)
        @common.stringValue(desc, REPROD_COND)
        @common.listValue(desc, LANG_MATERIALS, transformFunc = {s => views.Helpers.languageCodeToName(s)})
        @common.listValue(desc, SCRIPT_MATERIALS, transformFunc = {s => views.Helpers.scriptCodeToName(s)})
        @common.stringValue(desc, PHYSICAL_CHARS)
        @common.stringValue(desc, FINDING_AIDS)
    }

    @descriptionSection(MATERIALS_AREA) {
        @common.stringValue(desc, LOCATION_ORIGINALS)
        @common.stringValue(desc, LOCATION_COPIES)
        @common.stringValue(desc, RELATED_UNITS)
        @common.stringValue(desc, PUBLICATION_NOTE)
    }

    @descriptionSection(CONTROL_AREA) {
        @common.stringValue(desc, ARCHIVIST_NOTE)
        @common.stringValue(desc, RULES_CONVENTIONS)
        @common.stringValue(desc, DATES_DESCRIPTIONS)
    }
}
