@(f: play.api.data.Form[models.forms.DocumentaryUnitF])

@import models.forms.IsadG._

@defining("isadg") { implicit fieldPrefix =>
	<fieldset id="identity-area">
		<legend>@Messages(fieldPrefix + ".identity")</legend>
		@helper.inputText(f(Entity.IDENTIFIER), '_label -> Messages("%s.%s".format(fieldPrefix, Entity.IDENTIFIER)))
		@helper.inputText(f(NAME), '_label -> Messages("%s.%s".format(fieldPrefix, NAME)))
		</fieldset>

        @helper.repeat(f("dates"), min=math.max(f("dates").indexes.length, 1)) { desc =>

            @helper.input(desc(Entity.ID)) { (id, name, value, args) =>
                <input type="hidden" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
            }
            @helper.inputText(desc("startDate"), '_label -> Messages("dates.startDate"))
            @helper.inputText(desc("endDate"), '_label -> Messages("dates.endDate"))

        }

		@helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
			<fieldset id="identity-area">
			<legend>@Messages("Description")</legend>
			@helper.input(desc(Entity.ID)) { (id, name, value, args) =>
					<input type="hidden" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
			}
			@helper.inputText(desc("languageCode"), '_label -> "Language Code")
			@formHelpers.lineInput(desc, TITLE)
		</fieldset>
			<fieldset id="context-area">
			<legend>@Messages(fieldPrefix + "." + CONTEXT_AREA)</legend>
			@defining(desc(CONTEXT_AREA)) { desc =>
					@formHelpers.textInput(desc, ADMIN_BIOG)
					@formHelpers.textInput(desc, ARCH_HIST)
					@formHelpers.textInput(desc, ACQUISITION)
				}
		</fieldset>
		  	<fieldset id="content-area">
			<legend>@Messages(fieldPrefix + "." + CONTENT_AREA)</legend>
			@defining(desc(CONTENT_AREA)) { desc =>
					@formHelpers.textInput(desc, SCOPE_CONTENT)
					@formHelpers.textInput(desc, APPRAISAL)
					@formHelpers.textInput(desc, ACCRUALS)
					@formHelpers.textInput(desc, SYS_ARR)
				}
		</fieldset>
		  	<fieldset id="conditions-area">
					<legend>@Messages(fieldPrefix + "." + CONDITIONS_AREA)</legend>
			@defining(desc(CONDITIONS_AREA)) { desc =>
					@formHelpers.textInput(desc, ACCESS_COND)
					@formHelpers.textInput(desc, REPROD_COND)
					@formHelpers.textInput(desc, PHYSICAL_CHARS)
					@formHelpers.textInput(desc, FINDING_AIDS)
				}
		</fieldset>
		  	<fieldset id="materials-area">
			<legend>@Messages(fieldPrefix + "." + MATERIALS_AREA)</legend>
			@defining(desc(MATERIALS_AREA)) { desc =>
					@formHelpers.textInput(desc, LOCATION_ORIGINALS)
					@formHelpers.textInput(desc, LOCATION_COPIES)
					@formHelpers.textInput(desc, RELATED_UNITS)
					@formHelpers.textInput(desc, PUBLICATION_NOTE)
				}
			</fieldset>
		}

	<fieldset id="admin-area">
		<legend>@Messages("Administration")</legend>
		@formHelpers.enumChoiceInput(f("publicationStatus"), defines.PublicationStatus, "Publication Status")
	</fieldset>

}

