@(item: DocumentaryUnit, desc: DocumentaryUnitDescription)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader)

<h5>Language: @desc.languageCode</h5>

@import defines._
@import models.forms.IsadG._

@userOpt.map { user =>
    @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Update)) {
        (<a href="@routes.DocumentaryUnits.updateDescription(item.id, desc.id)">@Messages("actions.edit"))</a>
    }
}

@desc.dateString.map { d =>
    <h4>@d</h4>
}

<h4>@Messages(fieldPrefix + "." + CONTEXT_AREA)</h4>
<div class="description-section">
    @common.stringValue(desc, ADMIN_BIOG)
    @common.stringValue(desc, ARCH_HIST)
    @common.stringValue(desc, ACQUISITION)
</div>

<h4>@Messages(fieldPrefix + "." + CONTENT_AREA)</h4>
<div class="description-section">
    @common.stringValue(desc, SCOPE_CONTENT)
    @common.stringValue(desc, APPRAISAL)
    @common.stringValue(desc, ACCRUALS)
    @common.stringValue(desc, SYS_ARR)
</div>

<h4>@Messages(fieldPrefix + "." + CONDITIONS_AREA)</h4>
<div class="description-section">
    @common.stringValue(desc, ACCESS_COND)
    @common.stringValue(desc, REPROD_COND)
    @common.stringValue(desc, PHYSICAL_CHARS)
    @common.stringValue(desc, FINDING_AIDS)
</div>

<h4>@Messages(fieldPrefix + "." + MATERIALS_AREA)</h4>
<div class="description-section">
    @common.stringValue(desc, LOCATION_ORIGINALS)
    @common.stringValue(desc, LOCATION_COPIES)
    @common.stringValue(desc, RELATED_UNITS)
    @common.stringValue(desc, PUBLICATION_NOTE)
</div>

<h4>@Messages(fieldPrefix + "." + CONTROL_AREA)</h4>
<div class="description-section">
    @common.stringValue(desc, ARCHIVIST_NOTE)
    @common.stringValue(desc, RULES_CONVENTIONS)
    @common.stringValue(desc, DATES_DESCRIPTIONS)
</div>
