@(desc: play.api.data.Field)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@import DatePeriodF._

@*implicitField = @{ views.html.helper.FieldConstructor(common.dateFieldTemplate.f) }*@


<div class="inline-element control-group" id="@desc.id">
    @formHelpers.hiddenInput(desc(Entity.ID))
    <label class="control-label"></label>
    <div class="controls">
        <table>
            <tr>
                <td class="control-group">
                    <select class="input-small" name="@desc("TYPE").name">
                    @DatePeriodType.values.toList.sorted.map { v =>
                    <option @{if(desc("TYPE").value == v) "selected" else ""} value="@v">@Messages(fieldPrefix + "." + v)</option>
                    }
                    </select>
                </td>
                @List(START_DATE, END_DATE).map { fname =>
                    @defining(desc(fname)) { field =>
                    <td class="control-group @{if(field.hasErrors) "error"}">
                        <input class="input-small" placeholder="yyyy-mm-dd" type="text" name="@field.name" value="@field.value" placeholder="@Messages(fieldPrefix + "." + fname)" id="@field.id" />
                    </td>
                    }
                }
                <td>
                    <a class="close remove-inline-element pull-right" tabindex="-1" href="#">&times;</a>
                </td>
            </tr>
        </table>
    </div>
</div>
