@(item: DocumentaryUnitDescription)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@defining(item.item) { ownerOpt =>
    @ownerOpt.map { owner =>
        @common.searchItemOutline {
            <a href="@routes.DocumentaryUnits.get(owner.id)">@owner</a>
        } {
            @documentaryUnit.searchItemBody(owner, item)
        }
    }.getOrElse {
        <div class="alert alert-error">
            <strong>Oh dear.</strong> Unable to fetch owner object for description @item.id.
        </div>
    }
}