@(item: DocumentaryUnit, desc: DocumentaryUnitDescription)(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang)

@import org.apache.commons.lang3.StringUtils

@if(!item.ancestors.isEmpty) {
    <small>
        <ul class="unstyled muted inline inline-separator">
            @item.ancestors.map(DocumentaryUnit).reverse.map { parent =>
                <li>
                    <a href="@routes.DocumentaryUnits.get(parent.id)">@views.Helpers.ellipsize(parent.toStringLang,100)</a>
                </li>
            }
        </ul>
    </small>
}
<small>
    <ul class="unstyled muted inline inline-separator">
        @item.holder.map { holder =>
            <li><a class="alt" href="@routes.Repositories.get(holder.id)">@holder.toStringAbbr</a></li>
        }
        <li><span class="muted">@views.Helpers.displayLanguage(desc.languageCode)</span></li>

        @desc.dates.headOption.map { dp =>
            <li>@dp.formable.years</li>
        }
        @desc.stringProperty(IsadG.EXTENT_MEDIUM).filterNot(_.trim.isEmpty).map { s =>
            <li>@s</li>
        }
        @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">
                <time datetime="@event.timeStamp">@Messages("systemEvents.lastUpdated", views.Helpers.prettyDate(event.timeStamp))</time>
            </li>
        }
    </ul>
</small>
@desc.displayText.map(StringUtils.abbreviate(_, 600)).map { sc =>
    <p>@sc</p>
}

