@(item: DocumentaryUnitRepr, maybeUser: Option[models.sql.User], req: RequestHeader)

@import defines._

@main("View item")(maybeUser, req) {

	<h3>@item.name (@item.identifier)</h3>
  
	@item.holder.map { holder =>
	  <h4>Held by: <a href="@routes.Agents.get(holder.identifier)">@holder.name</a></h4>
	}

	@item.parent.map { parent =>
	  <h4>Parent item: <a href="@routes.DocumentaryUnits.get(parent.identifier)">@parent.name</a></h4>
	}
	
	@if(!item.descriptions.isEmpty) {
	  <h4>@Messages("Available Descriptions")</h4>
		@item.descriptions.map { desc =>
		  <h5>Language: @desc.languageCode</h5>
		  
		  <h5>Scope and content</h5>
		  <p>@desc.e.stringProperty("scopeAndContent")</p>
		}
	}

	@common.visibility(item)
	
  	<hr />
	<a href="@routes.DocumentaryUnits.list(1, 20)">Back to List</a>&nbsp;
	@maybeUser.map { user =>
	  @user.permissions.map { pset =>
  		@pset.get(ContentType.DocumentaryUnit, PermissionType.Create).map { p =>
  		  <a href="@routes.DocumentaryUnits.docCreate(item.identifier)">Create Child Item</a>&nbsp;
  		}
  		@pset.get(ContentType.DocumentaryUnit, PermissionType.Update).map { p =>
  		  <a href="@routes.DocumentaryUnits.update(item.identifier)">Update</a>&nbsp;
  		}
  		@pset.get(ContentType.DocumentaryUnit, PermissionType.Update).map { p =>
  		  <a href="@routes.DocumentaryUnits.visibility(item.identifier)">Set Visibility</a>&nbsp;
  		}
  		@pset.get(ContentType.DocumentaryUnit, PermissionType.Delete).map { p =>
  		  <a href="@routes.DocumentaryUnits.delete(item.identifier)">Delete</a>&nbsp;
  		}	    
	  }
	}
}