@(item: DocumentaryUnit, page: rest.Page[DocumentaryUnit], params: ListParams, annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import models.forms.IsadG._

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(item.holder.map(List(_)).getOrElse(Nil) ::: item.ancestors.reverse.map(DocumentaryUnit(_)) ::: List(item))) {

    @common.annotated(item, annotations, routes.DocumentaryUnits.annotate(item.id)) {

        @item.holder.map { holder =>
            <h4>@Messages("documentaryUnit.heldBy"): <a href="@routes.Agents.get(holder.id)">@holder.name</a></h4>
        }

        @item.parent.map { parent =>
            <h4>@Messages("documentaryUnit.parentItem"): <a href="@routes.DocumentaryUnits.get(parent.id)">@parent.name</a></h4>
        }

        @defining("isadg") { implicit fieldPrefix =>
            @if(!item.descriptions.isEmpty) {
                <h4>@Messages("documentaryUnit.availableDescriptions")</h4>

                <div class="tabbable">
                    <ul class="nav nav-tabs">
                         @item.descriptions.headOption.map { desc =>
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">@desc.stringProperty(TITLE).getOrElse("Untitled Description: FIXME I18N")</a>
                            </li>
                        }
                        @item.descriptions.zipWithIndex.tail.map { case (desc,i) =>
                            <li>
                                <a href="#tab@{i+1}" data-toggle="tab">@desc.stringProperty(TITLE).getOrElse("Untitled Description: FIXME I18N")</a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content">
                        @item.descriptions.headOption.map { desc =>
                            <div class="tab-pane active" id="tab1">
                                @documentaryUnit.renderDescription(item, desc)
                            </div>
                        }
                        @item.descriptions.zipWithIndex.tail.map { case (desc,i) =>
                            <div class="tab-pane" id="tab@{i+1}">
                                @documentaryUnit.renderDescription(item, desc)
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }

    @common.relatedLinks(item, annotations)

    @common.filterableList("pagination.displayingItems", page, params, DocumentaryUnits.listFilterMappings.keys, DocumentaryUnits.orderMappings.keys) {
        @documentaryUnit.itemList(page)
    }



} {

    @common.visibility(item, routes.DocumentaryUnits.visibility(item.id), ContentType.DocumentaryUnit)
    @common.latestAction(item, routes.DocumentaryUnits.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
        @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Create)) {
            <li><a href="@routes.DocumentaryUnits.createDoc(item.id)">@Messages("actions.createChildDocUnit")</a></li>
            }
        @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Update)) {
            <li><a href="@routes.DocumentaryUnits.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
        @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Update)) {
            <li><a href="@routes.DocumentaryUnits.visibility(item.id)">@Messages("actions.setVisibility")</a></li>
            }
        @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Delete)) {
            <li><a href="@routes.DocumentaryUnits.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
        @if(user.hasPermission(ContentType.DocumentaryUnit, PermissionType.Grant)) {
            <li><a href="@routes.DocumentaryUnits.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
        }
    </ul>

}