<div class="search-bar">
<nav class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li ng-repeat="desc in item.relationships.describes">
				<a href="#/item/documentaryUnit/{{item.id}}?description={{desc.id}}" title="{{desc.data.name}}">{{desc.data.languageCode}}</a>
			</li>
		</ul>
	</div>
</nav>
</div>
<article class="container document" style="padding-top:30px;">
<header class="span4 pull-right well well-small">
	<div class="text-center"><h5 class="text-center">{{desc.data.name}}</h5></div>
	
	<small>Ref. : {{item.id}}</small>
	
	<dl class="dl-horizontal" ng-show="(desc.relationships.hasDate)">
		<dt>Dates</dt>
		<dd title="Dates">
			<ul class="unstyled" ng-repeat="date in desc.relationships.hasDate" id="{{date.type + '' + date.id}}">
				<li title="Start date">
					{{formatDate(date.data.startDate)}}
				</li>
				<li title="End date">
					{{formatDate(date.data.endDate)}}
				</li>
			</ul>
			{{desc.data.date}}
		</dd>
	</dl>
	
	<dl class="dl-horizontal" ng-show="(desc.data.languageOfMaterials)">
		<dt>Language</dt>
		<dd title="Language of Materials">
			<ul ng-repeat="lg in desc.data.languageOfMaterials" class="unstyled"><li>{{lg}}</li></ul>
		</dd>
	</dl>
	
	<dl class="dl-horizontal" ng-show="(desc.data.scriptOfMaterials)">
		<dt>Scripts</dt>
		<dd title="Scripts of Materials">
			<ul ng-repeat="lg in desc.data.scriptOfMaterials" class="unstyled"><li>{{lg}}</li></ul>
		</dd>
	</dl>
	
	<dl class="dl-horizontal" ng-show="(desc.data.levelOfDescription)">
		<dt>Level of Description</dt>
		<dd title="Level of Description">
			{{desc.data.levelOfDescription}}
		</dd>
	</dl>
	
	<dl class="dl-horizontal" ng-show="((!desc.data.levelOfDescription) && (getAlt('data.levelOfDescription', true) != undefined))">
		<dt>Level of Description</dt>
		<dd title="Level of Description from other description" class="muted">
			{{alt["data.levelOfDescription"][0].text}}
		</dd>
	</dl>
	
	<dl class="dl-horizontal" ng-show="(desc.data.extentAndMedium)">
		<dt>Extent and Medium</dt>
		<dd title="Extent and Medium of the Unit of Description">
			{{desc.data.extentAndMedium}}
		</dd>
	</dl>
	
	<dl class="dl-horizontal" ng-show="(desc.data.acquisition)">
		<dt>Source of Acquisition</dt>
		<dd title="Immediate Source of Acquisition or Transfer">
			{{desc.data.acquisition}}
		</dd>
	</dl>
		
</header>

<h1>{{desc.data.name}}</h1>

<div id="context" ng-show="(desc.data.adminBiogHistory || desc.data.archivalHistory)">
	<h2>Context</h2>
	<div id="adminBiogHistory" ng-show="(desc.data.adminBiogHistory)">
		<h3>Administrative and biographical history</h3>
		<p>{{desc.data.adminBiogHistory}}</p>
	</div>
	<div id="archivalHistory" ng-show="(desc.data.archivalHistory)">
		<h3>Archival History</h3>
		<p>{{desc.data.archivalHistory}}</p>
	</div>
	<!-- Source is in right span -->
</div>

<div id="context" ng-show="(desc.data.scopeAndContent || desc.data.appraisal || desc.data.accruals || desc.data.systemOfArrangement)">
	<h2>Content</h2>
	<div id="scopeAndContent" ng-show="(desc.data.scopeAndContent)">
		<h3> Scope and Content </h3>
		<p>{{desc.data.scopeAndContent}}</p>
	</div>
	<div id="appraisal" ng-show="(desc.data.appraisal)">
		<h3> Appraisal </h3>
		<p>{{desc.data.appraisal}}</p>
	</div>
	<div id="accruals" ng-show="(desc.data.accruals)">
		<h3> Accruals </h3>
		<p>{{desc.data.accruals}}</p>
	</div>
	<div id="systemOfArrangement" ng-show="(desc.data.systemOfArrangement)">
		<h3> System of Arrangement </h3>
		<p>{{desc.data.systemOfArrangement}}</p>
	</div>
</div>

<div id="conditions" ng-show="(desc.data.conditionsOfAccess || desc.data.conditionsOfReproduction || desc.data.physicalCharacteristics || desc.data.systemOfArrangement)">
	<h2>Conditions</h2>
	<div id="conditionsOfAccess" ng-show="(desc.data.conditionsOfAccess)">
		<h3>Conditions Governing Access </h3>
		<p>{{desc.data.conditionsOfAccess}}</p>
	</div>
	<div id="conditionsOfReproduction" ng-show="(desc.data.conditionsOfReproduction)">
		<h3>Conditions Governing Reproduction </h3>
		<p>{{desc.data.conditionsOfReproduction}}</p>
	</div>
	<div id="physicalCharacteristics" ng-show="(desc.data.physicalCharacteristics)">
		<h3>Physical Characteristics and Technical Requirements </h3>
		<p>{{desc.data.physicalCharacteristics}}</p>
	</div>
	<div id="findingAids" ng-show="(desc.data.findingAids)">
		<h3>Finding Aids</h3>
		<p>{{desc.data.findingAids}}</p>
	</div>
</div>

<div id="materials" ng-show="(desc.data.locationOfOriginals || desc.data.locationOfCopies || desc.data.relatedUnitsOfDescription || desc.data.publicationNote)">
	<h2>Materials</h2>
	<div id="locationOfOriginals" ng-show="(desc.data.locationOfOriginals)">
		<h3>Existence and Location of Originals </h3>
		<p>{{desc.data.locationOfOriginals}}</p>
	</div>
	<div id="locationOfCopies" ng-show="(desc.data.locationOfCopies)">
		<h3>Existence and Location of Copies </h3>
		<p>{{desc.data.locationOfCopies}}</p>
	</div>
	<div id="relatedUnitsOfDescription" ng-show="(desc.data.relatedUnitsOfDescription)">
		<h3>Related Units of Description </h3>
		<p>{{desc.data.relatedUnitsOfDescription}}</p>
	</div>
	<div id="publicationNote" ng-show="(desc.data.publicationNote)">
		<h3>Publication Note </h3>
		<p>{{desc.data.publicationNote}}</p>
	</div>

</div>

<div id="control" ng-show="(desc.data.archivistNote || desc.data.rulesAndConventions || desc.data.datesOfDescriptions)">
<h2>Control</h2>
	<div id="archivistNote" ng-show="(desc.data.archivistNote)">
		<h3>Archivist Note </h3>
		<p>{{desc.data.archivistNote}}</p>
	</div>
	<div id="rulesAndConventions" ng-show="(desc.data.rulesAndConventions)">
		<h3>Rules and Conventions </h3>
		<p>{{desc.data.rulesAndConventions}}</p>
	</div>
	<div id="datesOfDescriptions" ng-show="(desc.data.datesOfDescriptions)">
		<h3>Dates of Descriptions </h3>
		<p>{{desc.data.datesOfDescriptions}}</p>
	</div>
</div>
</article>