<div class=="container-fluid">
	<section class="row-fluid">
		<section class="span9 result-column">
				<article>
					<header><h1>Search<</h1><header>
					<p>Displaying item X to X of X</p>
				</article>
				<form id="search-form">
					<div class="input-append search-query">
						<input class="input-block-level" type="text" autofocus="" ng-model="searchTerm">
						<button class="btn">
							<i class="icon-search"></i>
							Search
						</button>
					</div>
					<div class="form-options form-filter">
						<div class="btn-group pull-right" style="margin-top: 10px">
							<a class="btn btn-mini current-search-sort" href="/search"> Relevance </a>
							<a class="btn btn-mini" href="/search?sort=name_sort.asc"> Name </a>
							<a class="btn btn-mini" href="/search?sort=lastUpdated.desc"> Recently Updated </a>
						</div>
					</div>
				</form>
				
				<article ng-repeat="item in page.items" id="{{item.id}}" class="search-item">
					<header class="search-item-heading">
						<a href="/cpf/show/ehri-pers-6959">Adolf Hitler</a>
						<dl id="{{item.id}}-datas" class="inline-separator">
							<dt>Extra data</dt>
							<dd ng-repeat="datas in extraData()">HJ</dd>
						</dl>
					</header>
					<p ng-bind="item.relationships.describes.0.data.biographicalHistory">
					</p>
					<footer>
						<ul class="unstyled muted inline inline-separator">
							<li>Corporate Body</li>
							<li title=" 2013-05-15 15:42:23 Mike Bryant: Imported from command-line ">Updated 5 days ago</li>
						</ul>
					</footer>
				</article>
		</section>
		<aside class="span3 facets-column">
			<dl ng-repeat="facet in page.facets">
				<dt id="facet-{{facet.key}}">{{facet.name}}</dt>
					<dd ng-repeat="option in facet.facets"><a ng-click="setFacet(facet.key, option.param)"></a>{{option.param}}></dd>
			</dl>
		</aside>
	</section>
</div>