<div class=="container-fluid">
	<section class="row-fluid">
	
		<section class="span9 result-column">
		
				<article>
					<header><h1>Search</h1><header>
					<p>Displaying item {{(page.offset + 1)}} to {{(page.limit + page.offset)}} of {{page.total}}</p>
				
				<form id="search-form">
					<div class="input-append search-query">
						<input class="input-block-level span9" type="text" autofocus="" ng-change="setQuery('q', searchTerm)" ng-model="searchTerm">
						<button class="btn" ng-click="setQuery('q', searchTerm)">
							<i class="icon-search"></i>
							Search
						</button>
					</div>
					<div class="form-options form-filter">
						<div class="btn-group pull-right" style="margin-top: 10px">
							<a class="btn btn-mini" ng-class="(searchParams.sort == 'score.desc' && 'current-search-sort')" ng-click="setQuery('sort', 'score.desc')"> Relevance </a>
							<a class="btn btn-mini" ng-class="(searchParams.sort == 'name_sort.desc' && 'current-search-sort')" ng-click="setQuery('sort', 'name_sort.desc')"> Name </a>
							<a class="btn btn-mini" ng-class="(searchParams.sort == 'lastUpdated.desc' && 'current-search-sort')" ng-click="setQuery('sort', 'lastUpdated.desc')"> Recently Updated </a>
						</div>
					</div>
					<div>
						<a class="btn btn-info" ng-repeat="param in searchParams | noButtonFilter" ng-click="removeFilter(param)">{{param}} <i class="icon-remove"></i></a>
					</div>
				</form>
				
				<article ng-repeat="item in page.items" id="{{item.id}}" class="search-item">
					<div ng-show="(item.relationships.describes)" ng-repeat="desc in item.relationships.describes | descLang:langFilter">
						<header class="search-item-heading">
							<a ng-show="desc.data.name" ng-click="getLink(item.type, item.id)">{{desc.data.name}}</a>
							<dl id="{{item.id}}-datas" class="inline inline-separator extra-data">
								<dt class="hide">Extra datas : </dt> 
								<dd ng-repeat="extraText in desc.data | extraHeader" class="{{extraText.key}}" title="{{extraText.key}}">{{extraText.content}}</dd>
							</dl>
						</header>
						
						<p>{{desc.data.biographicalHistory}}</p>
						
						<footer>
							<ul class="unstyled muted inline inline-separator">
								<li>{{desc.data.typeOfEntity}}</li>
								<li title="{{getTitleAction(item)}}">{{getSimpleTimeDesc(item)}}</li>
							</ul>
						</footer>
					</div>
					<div ng-show="(!item.relationships.describes)">
						<article>
							<header>
								<a ng-show="item.data.name" ng-click="getLink(item.type, item.id)">{{item.data.name}}</a>
								<a ng-show="!(item.data.name)" ng-click="getLink(item.type, item.id)">{{item.data.identifier}}</a>
							</header>
							<footer>
								<ul class="unstyled muted inline inline-separator">
									<li>{{item.type}}</li>
									<li title="{{getTitleAction(item)}}">{{getSimpleTimeDesc(item)}}</li>
								</ul>
							</footer>
						</article>
					</div>
				</article>
				
				<footer>
					<pagination num-pages="numPages" current-page="currentPage" class="pagination-small pagination-no-margin" previous-text="&laquo;" next-text="&raquo;" max-size="maxSize"></pagination>
				</footer>
				
			</article>
				
		</section>
		
		<aside class="span3 facets-column">
			<dl ng-repeat="facet in page.facets">
				<dt id="facet-{{facet.key}}">{{facet.name}}</dt>
				<dd ng-repeat="option in facet.facets.0">
					<a ng-show="option.count != 0" ng-click="setQuery(facet.param, option.param)" ng-class="(option.applied && 'muted') || (searchParams[facet.key] && 'muted')">{{option.param}} ({{option.count}}) <i class="icon-remove" ng-show="searchParams[facet.key] == option.param"></i></a>
				</dd>
			</dl>
		</aside>
		
	</section>
</div>