<div class=="container-fluid">
	<section class="row-fluid">
	
		<section class="span9 result-column">
		
				<article>
					<header><h1>Search</h1><header>
					<p>Displaying item {{page.offset}} to {{page.limit}} of {{page.total}}</p>
				</article>
				
				<form id="search-form">
					<div class="input-append search-query">
						<input class="input-block-level span9" type="text" autofocus="" ng-model="searchTerm">
						<button class="btn" ng-click="setQuery('q', searchTerm)">
							<i class="icon-search"></i>
							Search
						</button>
					</div>
					<div class="form-options form-filter">
						<div class="btn-group pull-right" style="margin-top: 10px">
							<a class="btn btn-mini current-search-sort" ng-click="setQuery('sort', 'score.desc')"> Relevance </a>
							<a class="btn btn-mini"ng-click="setQuery('sort', 'name_sort.asc')"> Name </a>
							<a class="btn btn-mini"ng-click="setQuery('sort', 'lastUpdated.desc')"> Recently Updated </a>
						</div>
					</div>
					<div>
						<a class="btn btn-info" ng-repeat="param in searchParams | noButtonFilter" ng-click="removeFilter(param)">{{param}} <i class="icon-remove"></i></a>
					</div>
				</form>
				
				<article ng-repeat="item in page.items" id="{{item.id}}" class="search-item">
					<div ng-show="(item.relationships.describes)" ng-repeat="desc in item.relationships.describes | descLang:langFilter">
						<header class="search-item-heading">
							<a href="/cpf/show/ehri-pers-6959">{{desc.data.name}}</a>
							<dl id="{{item.id}}-datas" class="inline inline-separator extra-data">
								<dt class="hide">Extra datas : </dt> 
								<dd ng-repeat="extraText in desc.data | extraHeader" class="{{extraText.key}}" title="{{extraText.key}}">{{extraText.content}}</dd>
							</dl>
						</header>
						
						<p>{{desc.data.biographicalHistory}}</p>
						
						<footer>
							<ul class="unstyled muted inline inline-separator">
								<li>{{desc.data.typeOfEntity}}</li>
								<li title="{{getTitleAction(item)}}">{{getSimpleTimeDesc(item)}}</li>
							</ul>
						</footer>
					</div>
					<div ng-show="(!item.relationships.describes)">
						<article>
							<header>
								<a href="/cpf/show/ehri-pers-6959">{{item.data.name}}</a>
							</header>
							<footer>
								<ul class="unstyled muted inline inline-separator">
									<li>{{item.type}}</li>
									<li title="{{getTitleAction(item)}}">{{getSimpleTimeDesc(item)}}</li>
								</ul>
							</footer>
						</article>
					</div>
				</article>
		</section>
		
		<aside class="span3 facets-column">
			<dl ng-repeat="facet in page.facets">
				<dt id="facet-{{facet.key}}">{{facet.name}}</dt>
				<dd ng-repeat="option in facet.facets.0">
					<a ng-click="setQuery(facet.key, option.param)">{{option.param}}</a>
				</dd>
			</dl>
		</aside>
		
	</section>
</div>