<div>
{{desc.extentAndMedium}}
<ul class="{{colorclass}} unstyled">
<li identifier="identity" title="Identity" itemtitle="desc.name" class="documentBlock"  itemid="desc.id" show="(desc.identity)">
	<div ng-repeat="(fieldName, fieldValue) in desc.identity" id="{{fieldName}}">
		<h3>{{fieldName}}</h3>
		<p>{{fieldValue}}</p>
	</div>
</li>

<li identifier="context"  title="Context" itemtitle="desc.name" class="documentBlock"  itemId="desc.id" show="(desc.context)">
	<div ng-repeat="(fieldName, fieldValue) in desc.context" id="{{fieldName}}">
		<h3>{{fieldName}}</h3>
		<p>{{fieldValue}}</p>
	</div>
</li>

<li identifier="content"  title="Content" itemtitle="desc.name" class="documentBlock"  itemId="desc.id" show="(desc.content)">
	<div ng-repeat="(fieldName, fieldValue) in desc.content" id="{{fieldName}}">
		<h3>{{fieldName}}</h3>
		<p>{{fieldValue}}</p>
	</div>
</li>


<li title="Conditions" itemtitle="desc.name" class="documentBlock"  itemId="desc.id"  identifier="conditions"  show="(desc.conditions)">
	<div ng-repeat="(fieldName, fieldValue) in desc.conditions" id="{{fieldName}}">
		<h3>{{fieldName}}</h3>
		<p>{{fieldValue}}</p>
	</div>
</li>

<li  title="Materials" itemtitle="desc.name" class="documentBlock"  itemId="desc.id"  identifier="materials"  show="(desc.materials)">
	<div ng-repeat="(fieldName, fieldValue) in desc.materials" id="{{fieldName}}">
		<h3>{{fieldName}}</h3>
		<p>{{fieldValue}}</p>
	</div>

</li>

<li title="Control" itemtitle="desc.name" class="documentBlock"  itemId="desc.id"  identifier="control"  show="(desc.data.archivistNote || desc.data.rulesAndConventions || desc.data.datesOfDescriptions)">
	<div id="archivistNote" ng-show="(desc.data.archivistNote)">
		<h3>Archivist Note </h3>
		<p>{{desc.data.archivistNote}}</p>
	</div>
	<div id="rulesAndConventions" ng-show="(desc.data.rulesAndConventions)">
		<h3>Rules and Conventions </h3>
		<p">{{desc.data.rulesAndConventions}}</p>
	</div>
	<div id="datesOfDescriptions" ng-show="(desc.data.datesOfDescriptions)">
		<h3>Dates of Descriptions </h3>
		<p>{{desc.data.datesOfDescriptions}}</p>
	</div>
</li>

<li title="Unknown property" itemtitle="desc.name" class="documentBlock"  itemId="desc.id" identifier="unknownFields"  show="desc.relationships.hasUnknownProperty" reduce="true">
	<div ng-repeat="(key,val) in desc.relationships.hasUnknownProperty.0.data" id="unknown-{{key}}">
		<h3>{{key}}</h3>
		<p>{{val}}</p>
	</div>
</li>

<li title="Access" itemtitle="desc.name" class="documentBlock"  itemId="desc.id" identifier="accessPoints"  show="desc.relationships.relatesTo">
	<div>
		<ul class="tags accessPoints">
			<li ng-repeat="access in desc.relationships.relatesTo" class="{{access.data.type}}">{{access.data.name}}</li>
		</ul>
	</div>
</li>
</ul>
</pre>