<ul class="{{colorclass}} unstyled">
	<li identifier="details" title="Details" itemtitle="desc.name" class="documentBlock"  itemid="desc.id" show="desc.details">
		<div ng-repeat="(fieldName, fieldValue) in desc.details" id="{{fieldName}}">
			<h3>{{fieldName}}</h3>
			<p>{{fieldValue}}</p>
		</div>
	</li>
	<li identifier="control" title="Control" itemtitle="desc.name" class="documentBlock"  itemid="desc.id" show="desc.control">
		<div ng-repeat="(fieldName, fieldValue) in desc.control" id="{{fieldName}}">
			<h3>{{fieldName}}</h3>
			<p>{{fieldValue}}</p>
		</div>
	</li>
	<li identifier="services" title="Services" itemtitle="desc.name" class="documentBlock"  itemid="desc.id" show="desc.services">
		<div ng-repeat="(fieldName, fieldValue) in desc.services" id="{{fieldName}}">
			<h3>{{fieldName}}</h3>
			<p>{{fieldValue}}</p>
		</div>
	</li>
	<li identifier="access" title="Access" itemtitle="desc.name" class="documentBlock"  itemid="desc.id" show="desc.access">
		<div ng-repeat="(fieldName, fieldValue) in desc.access" id="{{fieldName}}">
			<h3>{{fieldName}}</h3>
			<p>{{fieldValue}}</p>
		</div>
	</li>
</ul>