@(page: rest.Page[models.PermissionGrant], pageParamName: String, req: RequestHeader)

@import defines._

<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.list.size, page.total)</h3>

<div id="pagination" class="pagination">
    <ul>
    @views.Helpers.paginationRanges(page.page.toInt + 1, page.numPages.toInt).map { range =>
        @range.map { cp =>
            @if(cp == page.page.toInt) {
                <li class="disabled"><a>@cp</a></li>
            } else {
                <li><a href="@utils.joinPath(req.path, req.queryString.updated(pageParamName, Seq(cp.toString)))">@cp</a></li>
            }
        }
        @if(range.last != page.numPages) {
            <li class="disabled"><a>...</a></li>
        }
    }
    </ul>
</div>

<ul>
@page.list.map { item =>
    <div class="list-item">
        <h4>@item.permission.map(_.toString).getOrElse(item)</h4>
        <ul>
            @item.accessor.map { accessor =>
                <li>@Messages("permissionGrant.accessor"): @accessor.name</li>
            }
            @item.targets.map { t =>
                <li>@Messages("permissionGrant.targets"): @t.id</li>
            }
            @item.scope.map { s =>
                <li>@Messages("permissionGrant.scope"): @s.name</li>
            }
            @item.grantee.map { s =>
                <li>@Messages("permissionGrant.grantedBy"): @s.name</li>
            }
        </ul>
    </div>
}
</ul>
