@(item: AccessibleEntity, itemPage: rest.Page[PermissionGrant], scopePage: rest.Page[PermissionGrant], itemPermAction: Call, scopePermAction: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.managePermissions", item), breadcrumbs = common.breadcrumbs(List(item))) {


    <h3>@Messages("actions.manageItemPermissions")</h3>
    <div class="well well-small muted">
        <i class="icon-info-sign"></i>
        @Messages("actions.manageItemPermissionsText")
    </div>
    <a href="@itemPermAction">@Messages("actions.manageItemPermissions")</a>

    @permissions.permissionList(None, itemPage, "page")

    <hr />

    <h3>@Messages("actions.manageScopedPermissions")</h3>
    <div class="well well-small muted">
        <i class="icon-info-sign"></i>
        @Messages("actions.manageScopedPermissionsText")
    </div>
    <a href="@scopePermAction">@Messages("actions.manageScopedPermissions")</a>

    @permissions.permissionList(None, scopePage, "spage")

} {

}
