@(item: AccessibleEntity, itemPage: rest.Page[PermissionGrant], scopePage: rest.Page[PermissionGrant], itemPermAction: Call, scopePermAction: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.managePermissions", item)) {


    <h3>@Messages("actions.manageItemPermissions")</h3>
    <a href="@itemPermAction">@Messages("actions.manageItemPermissions")</a>

    @permissions._permissionList(itemPage, "page")

    <hr />

    <h3>@Messages("actions.manageScopedPermissions")</h3>

    <a href="@scopePermAction">@Messages("actions.manageScopedPermissions")</a>

    @permissions._permissionList(scopePage, "spage")

} {

}
