@(item: AccessibleEntity, page: rest.Page[PermissionGrant], itemPermAction: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)

@import defines._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.manageItemPermissionsForItem", item.identifier), Some(user), req) {

    <a href="@itemPermAction">@Messages("actions.manageItemPermissions")</a>

    @permissions._permissionList(page, "page", req)

} {

}
