@(item: AccessibleEntity, page: rest.Page[PermissionGrant], itemPermAction: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.manageItemPermissionsForItem", item), breadcrumbs = common.breadcrumbs(List(item))) {

    <a href="@itemPermAction">@Messages("actions.manageItemPermissions")</a>

    @permissions.permissionList(None, page, "page")
} {

}
