@(item: AccessibleEntity, itemPage: rest.Page[PermissionGrant], scopePage: rest.Page[PermissionGrant], itemPermAction: Call, scopePermAction: Call)(
    implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main(Messages("actions.manageScopedPermissionsForItem", item.identifier))(Some(user), req) {

    <h2>@Messages("actions.manageScopedPermissionsForItem", item.identifier)</h2>

    @common.flash(flash)

    <a href="@itemPermAction">@Messages("actions.manageItemPermissions")</a>

    @permissions._permissionList(itemPage, "page", req)

    <hr />

    <h2>@Messages("permissions.scopedPermissionsForItem", item.identifier)</h2>

    <a href="@scopePermAction">@Messages("actions.manageScopedPermissions")</a>

    @permissions._permissionList(scopePage, "spage", req)

}
