@(item: AccessibleEntity, users: Seq[(String,String)], groups: Seq[(String,String)], action: (String,String,String) => Call, user: UserProfile, req: RequestHeader)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main(Messages("actions.manageItemPermissionsForAccessor", item.identifier))(Some(user), req) {

    <h2>@Messages("actions.manageItemPermissionsForAccessor", item.identifier)</h2>

    @if(!groups.isEmpty) {
        <strong>@Messages("contentTypes.group"): </strong>&nbsp;
        <ul>
        @groups.map { case (id, name) =>
        <li>
            <a href="@action(item.id, EntityType.Group, id)">@name</a>
        </li>
        }
        </ul>
        <hr />
    }

    @if(!users.isEmpty) {
        <strong>@Messages("contentTypes.userProfile"): </strong>&nbsp;
        <ul>
        @users.map { case (id, name) =>
        <li>
            <a href="@action(item.id, EntityType.UserProfile, id)">@name</a>
        </li>
        }
        </ul>
    }
}
