@(item: AccessibleEntity, users: Seq[(String,String)], groups: Seq[(String,String)], action: (String,String,String) => Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.manageItemPermissionsForAccessor", item), breadcrumbs = common.breadcrumbs(List(item))) {
    <div class="well well-small muted">
        <i class="icon-info-sign"></i>
        @Messages("actions.manageItemPermissionsText")
    </div>

    @if(!groups.isEmpty) {
        <strong>@Messages("contentTypes.group"): </strong>&nbsp;
        <ul>
        @groups.map { case (id, name) =>
        <li>
            <a href="@action(item.id, EntityType.Group, id)">@name</a>
        </li>
        }
        </ul>
        <hr />
    }

    @if(!users.isEmpty) {
        <strong>@Messages("contentTypes.userProfile"): </strong>&nbsp;
        <ul>
        @users.map { case (id, name) =>
        <li>
            <a href="@action(item.id, EntityType.UserProfile, id)">@name</a>
        </li>
        }
        </ul>
    }
} {

}
