@(f: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)])(implicit req: RequestHeader)

<fieldset id="visibility-area">

<div class="control-group">
    <label class="control-label" for="visibility_groups">@Messages("contentTypes.group")</label>
    <div class="controls input">
        <select class="chzn-select" placeholder="@Messages("visibility.chooseGroups")" multiple
        name="@rest.RestPageParams.ACCESSOR_PARAM">
        @groups.map{t =>
            <option value="@t._1" @(if(f.value.map(_.contains(t._1)).getOrElse(false))
                        "selected" else "")>@t._2</option>
        }
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="visibility_users">@Messages("contentTypes.userProfile")</label>
    <div class="controls input">
        <select class="chzn-select" placeholder="@Messages("visibility.chooseUsers")" multiple
        name="@rest.RestPageParams.ACCESSOR_PARAM">
            @{println(s"Form data: ${f.data}")}
        @users.map{t =>
            <option value="@t._1" @(if(f.value.map(_.contains(t._1)).getOrElse(false))
                        "selected" else "")>@t._2</option>
        }
        </select>
    </div>
</div>

</fieldset>
