@(item: AccessibleEntity, f: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)


@rightSidebarLayout(Messages("actions.setVisibility")) {
	
	@if(item.accessors.isEmpty) {
        <h3>@Messages("visibility.visibleToEveryone")</h3>
        <p>@Messages("visibility.visibleToEveryoneMessage")</p>
    } else {
        <h3>
            <i class="icon-lock"></i>
            @Messages("visibility.restrictedVisibility")
        </h3>
        <p>
            @Messages("visibility.restrictedVisibilityMessage")
            <ul>
                @item.accessors.sortBy(_.isA).map { a =>
                    <li><a href="@views.Helpers.urlFor(a)">@a</a></li>
                }
            </ul>
        </p>

    }
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @permissions.renderVisibilityForm(f, users, groups)
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("submitButton.setVisibility")</button>
		</div>
	}
} {

}