@(form: Form[_], msg: String = "")(implicit messages: Messages)

@if(form.globalErrors.nonEmpty) {
    <div class="alert alert-danger alert-block form-global-errors" role="alert">
        <h4>@{if(msg.nonEmpty) msg else Messages("error.globalErrors")}</h4>
        @if(form.globalErrors.size > 1) {
            <ul>
            @form.globalErrors.map { error =>
                <li>@Messages(error.message)</li>
            }
            </ul>
        } else {
            @Messages(form.globalErrors.head.message)
        }
    </div>
}
