@(desc: play.api.data.Field, fieldName: String, args: (Symbol,Any)*)(implicit prefix: String = "", config: Option[forms.FormFieldHints] = None, fieldConstructor: views.html.helper.FieldConstructor, messages: Messages, md: MarkdownRenderer)

@views.html.formHelpers.configuredField(desc, fieldName, config) { field =>
    @helper.inputText(
        field = field,
        args = views.Helpers.argsWithConfig(fieldName, views.Helpers.argsWithDefaults(
            args.map { case (s, v) => if(s == attrs._class) s -> (v.toString + " form-control") else s -> v },
            attrs._label -> config.flatMap(_.name(fieldName)).getOrElse(Messages(if(prefix.isEmpty) fieldName else s"$prefix.$fieldName")),
            attrs._title -> md.renderMarkdown(config.flatMap(_.description(fieldName)).getOrElse(Messages((if(prefix != "") prefix + "." else "") + fieldName + ".description"))),
            attrs._class -> "form-control"
        )): _*
    )
}
