@(heading: String, subject: String, message: String, isCopy: Boolean = false)(implicit req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@views.html.layout.mailLayout(heading) {

    <blockquote>
        <h4>@subject</h4>
        @Markdown(message)
    </blockquote>

    <hr>
    <p>
        <small>
            @if(!isCopy) {
                @Messages("mail.message.replyFooter"):
                <a href="@controllers.portal.users.routes.UserProfiles.updateProfile().absoluteURL(secure = conf.https)">
                    @Messages("profile.preferences.updatePreferences")
                </a>
            }
        </small>
    </p>
}

