@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@wrapParent(doc: DocumentaryUnit)(html: Html) = {
    @doc.parent.map { parent =>
        @wrapParent(parent) {
            <div class="ancestor">
                <h4>@p.helpers.linkTo(parent)</h4>
                @html
            </div>
        }
    }.getOrElse {
        @html
    }
}


<section class="archival-context panel-details repository">
    @item.holder.map { holder =>
        <div class="panel-heading">
            <h3>@p.helpers.linkTo(holder)</h3>
        </div>
        <div class="panel-body">
            @if(!holder.model.primaryDescription.flatMap(_.parallelFormsOfName).isEmpty || !holder.model.logoUrl.isEmpty) {
                <ul class="list-unstyled other-name-list">
                    @holder.model.primaryDescription.map { d =>
                    @d.parallelFormsOfName.map { pfn =>
                    <li>@pfn</li>
                    }
                    }
                </ul>
            }
            @holder.model.logoUrl.map { logo =>
                @defining(holder.url.map(_.toString).getOrElse(req.path)) { url =>
                <a href="@url">
                    <img class="repository-logo" src="@logo" alt="@item.toStringLang" />
                </a>
                }
            }

            @item.parent.map { parent =>
                @wrapParent(parent) {
                    <div class="ancestor">
                        <h4>@p.helpers.linkTo(parent)</h4>
                    </div>
                }
            }
        </div>
    }
</section>
