@(item: AnyModel, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[AnyModel], path: Seq[AnyModel])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@item match {
    case d: DocumentaryUnit => {
        @itemDetails(d, annotations, links, watched, path)
    }
    case v: VirtualUnit => {
        @itemDetails(v.asDocumentaryUnit, annotations, links, watched, path)
    }
    case _ => {
    }
}
