@(item: AnyModel, path: Seq[AnyModel], watched: Boolean, showRepository: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, descriptionId: Option[String] = None, context: Option[Holder[_]] = None)

@p.layout.searchItemOutline(item, watched) {
    <a href="@controllers.portal.routes.Portal.browseVirtual(item.id, views.p.Helpers.pathToParam(path))">@item.toStringLang</a>
} {
    @item match {
        case d: DocumentaryUnit => {
            @p.documentaryUnit.listItemBody(d, showRepository)
        }
        case v: VirtualUnit => {
            @listItemBody(v, path)
        }
        case _ => {
        }
    }
}

