@(item: VirtualUnit, path: Seq[models.base.AnyModel], showAuthor: Boolean = true, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, descriptionId: Option[String] = None)

@item.model.primaryDescription(descriptionId).map { desc =>
    <div class="search-item-details">
        <ul class="doc-search-details">
            @if(showAuthor) {
                @item.author.map { author =>
                    <li>@views.html.p.helpers.linkTo(author)</li>
                }
            }
            @views.html.p.documentaryUnit.listItemMeta(item.asDocumentaryUnit, desc, highlighter)
        </ul>
        @views.html.common.childCount(item) { count =>
            @if(count > 0) {
                <a href="@views.p.Helpers.virtualUnitSearchUrl(path, item.id)">@Messages("documentaryUnit.childCount", count)</a>
            }
        }
    </div>

    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @highlighter.highlight(views.Helpers.renderMarkdown(sc))
    }
}.getOrElse {
    <small>@Messages("description.noDescriptions")</small>
}

