@(items: List[AnyModel] = Nil)(implicit lang: Lang, globalConfig: global.GlobalConfig)

@if(globalConfig.isStageMode) {
    <div class="testing-banner alert-info">
        <H1>STAGING <span class="info"><strong>Warning</strong>: Data is for staging purposes only.</span></H1>
    </div>
} else {
    @if(globalConfig.isTestMode) {
        <div class="testing-banner alert-danger">
            <H1>TESTING <span class="info"><strong>Warning</strong>: Data is for test purposes only.</span></H1>
        </div>
    }
}

<ol class="breadcrumb">
    @defining(if (!items.isEmpty) 200 / items.length else 300) { truncateLength =>
        @if(!items.isEmpty) {
            @items.init.map { i =>
                <li><a title="@i.toStringLang" href="@globalConfig.routeRegistry.urlFor(i)">@views.Helpers.ellipsize(i.toStringAbbr, truncateLength)</a></li>
            }

                <!-- TODO: Decide whether to show the last time -->
            <li title="@items.last.toStringLang" class="active"><a href="@globalConfig.routeRegistry.urlFor(items.last)"><em>@views.Helpers.ellipsize(items.last.toStringAbbr, truncateLength)</em></a></li>
        } else {
            <li></li>
        }
    }


</ol>

