@()(implicit lang: Lang)

<div class="markdown-cheatsheet">
	<dl class="description-markdown-cheatsheet">
		<dt>@Messages("mdCheatsheet.italic")</dt>
			<dd>*<i>@Messages("mdCheatsheet.asterisks")</i>* or _<i>@Messages("mdCheatsheet.underscores")</i>_.</dd>
		<dt>@Messages("mdCheatsheet.bold")</td>
			<dd>**<b>@Messages("mdCheatsheet.asterisks")</b>** or __<b>@Messages("mdCheatsheet.underscores")</b>__.</dd>
		<dt>@Messages("mdCheatsheet.ordered")</dt>
			<dd>1. @Messages("mdCheatsheet.ordered.item1")</dd>
			<dd>2. @Messages("mdCheatsheet.ordered.item2")</dd>
		<dt>@Messages("mdCheatsheet.unordered")</dt>
			<dd>- @Messages("mdCheatsheet.unordered.item1")</dd>
			<dd>- @Messages("mdCheatsheet.unordered.item2")</dd>
	</dl>
	<i><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">@Messages("mdCheatsheet.more")</a></i>
</div>