@(page: utils.AbstractPage[_], pageParam: String = "page")(implicit req: RequestHeader)

@if(page.hasMultiplePages) {
    <ul id="pagination" class="pagination">
        @views.Helpers.paginationRanges(page.page + 1, page.numPages).map { range =>
            @range.map { cp =>
                @if(cp == page.page) {
                    <li class="disabled"><a>@cp</a></li>
                } else {
                    <li><a href="@utils.joinPath(req.path, req.queryString.updated(pageParam, Seq(cp.toString)))">@cp</a></li>
                }
            }
            @if(range.last != page.numPages) {
                <li class="disabled"><a>...</a></li>
            }
        }
    </ul>
}