@(item: Temporal, label: String)(implicit fieldPrefix: String, userOpt: Option[UserProfile], request: RequestHeader, lang: Lang)

@if(!item.dates.isEmpty) {
    <h5>@Messages(fieldPrefix + "." + label)</h5>
    <table class="date-periods">
        @item.dates.map { dp =>
        <tr class="date-period" id="@dp.id">
            <td>
                @defining(dp.`type`) { typeOpt =>
                   @typeOpt.map { t =>
                        @Messages(fieldPrefix + "." + t)
                    }
                }
            </td>
            <td>@dp.years.trim</td>
        </tr>
        }
    </table>
}
