@(buttonText: String, defaultLogMessage: String = "", cancel: Option[AnyModel] = None)(implicit extra: Html = Html(""))

<div class="form-actions">
    <div class="control-group">
        <input class="span8" type="text" name="logMessage" placeholder="@Messages("forms.logMessagePlaceholder")" id="log-message" value="@defaultLogMessage" />
    </div>
    <button type="submit" class="btn btn-primary">@buttonText</button>
    @cancel.map { item =>
        <a href="@views.Helpers.urlFor(item).url" class="btn">@Messages("actions.cancel")</a>
    }
    @extra
</div>
