@(item: Option[Concept], f: play.api.data.Form[models.ConceptF])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@import models.ConceptF._
@import formHelpers._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@formHelpers.lineInput(f(""), Entity.IDENTIFIER)

@defining("concept") { implicit prefix =>
    <fieldset id="descriptions-area">
        <div class="inline-formset" data-prefix="descriptions">
            <label>
                <strong>@Messages(prefix + ".descriptions")</strong>
            </label>
            <hr />
            <div class="inline-element-template form-template">
                @concept.renderDescriptionForm(f("descriptions[IDX]"))
            </div>
            <div class="inline-element-list">
                @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
                    @concept.renderDescriptionForm(desc)
                }
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 text-right">
                    <a class="add-inline-element btn btn-success btn-xs" tabindex="-1" href="#">
                        <i class="glyphicon glyphicon-plus"></i>
                    @Messages("actions.addNewConceptDescription")
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
}