@(desc: play.api.data.Field)(implicit userOpt: Option[UserProfile], prefix: String, lang: Lang)

@import ConceptF._
@import formHelpers._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

<div class="concept-description-form inline-element well well-small">
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 text-right">
            <a class="remove-inline-element btn btn-danger btn-xs" tabindex="-1" href="#">
                <i class="glyphicon glyphicon-remove"></i>
                @Messages("actions.deleteConceptDescription")
            </a>
        </div>
    </div>

    @hiddenInput(desc(Entity.ID))

    @choiceInput(desc(LANGUAGE), LANGUAGE, views.Helpers.languagePairList, blank=true)

    @formHelpers.lineInput(desc, PREFLABEL)

    @formHelpers.inlineNameSet(desc, ALTLABEL)

    @* Fixme - not allowing more than one scopenote, definition for now... *@

    @helper.repeat(desc(SCOPENOTE), min = 1) { desc =>
        <div class="form-group ">
            <label class="form-label col-sm-3" for="@desc.id">@Messages(prefix + ".scopeNote")</label>
            <div class="col-sm-9">
                <textarea id="@desc.id" name="@desc.name" rows="4" class="form-control">@desc.value</textarea>
                <span class="help-block">@desc.errors.mkString(", ") </span>
            </div>
        </div>
    }

    @helper.repeat(desc(DEFINITION), min = 1) { desc =>
        <div class="form-group ">
            <label class="form-label col-sm-3" for="@desc.id">@Messages(prefix + ".definition")</label>
            <div class="col-sm-9">
                <textarea id="@desc.id" name="@desc.name" rows="4" class="form-control">@desc.value</textarea>
                <span class="help-block">@desc.errors.mkString(", ") </span>
            </div>
        </div>
    }

    <hr />

    @hiddenAccessPointSet(desc, ACCESS_POINTS)
    @hiddenUnknownDataSet(desc, UNKNOWN_DATA)

</div>
