@(item: Option[Concept], f: play.api.data.Form[models.ConceptF])(implicit userOpt: Option[UserProfile], req: RequestHeader, menuConfig: MenuConfig, lang: Lang)

@import models.ConceptF._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@helper.inputText(f(Entity.IDENTIFIER), '_label -> Messages(Entity.IDENTIFIER))

@defining("concept") { implicit prefix =>
    <fieldset id="descriptions-area">
        <div class="inline-formset">
            <label>
                <strong>@Messages(prefix + ".descriptions")</strong>
            </label>
            <hr />
            <div class="inline-element-template form-template">
                @concept.renderDescriptionForm(f("descriptions[IDX]"))
            </div>
            <div class="inline-element-list">
                @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
                    @concept.renderDescriptionForm(desc)
                }
            </div>

            <div class="pull-right">
                <a href="#" class="add-inline-element">
                    <i class="icon-plus-sign"></i>
                    @Messages("actions.addNewConceptDescription")
                </a>
            </div>
        </div>
    </fieldset>
}