@(item: Concept, page: rest.Page[Concept], params: utils.ListParams, annotations: Map[String,List[Annotation]])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@import models.ConceptF._
@import controllers.vocabs.Concepts

@rightSidebarLayout(item.toStringLang, breadcrumbs = concept.breadcrumbs(item)) {
    <div class="row-fluid">
        <div class="span8">

            @defining("concept") { implicit prefix =>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        @item.model.descriptions.headOption.map { desc =>
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">@views.Helpers.displayLanguage(desc.languageCode)</a>
                        </li>
                        }
                        @item.model.descriptions.zipWithIndex.tail.map { case (desc,i) =>
                        <li>
                            <a href="#tab@{i+1}" data-toggle="tab">@views.Helpers.displayLanguage(desc.languageCode)</a>
                        </li>
                        }
                    </ul>
                    <div class="tab-content">
                        @item.model.descriptions.headOption.map { desc =>
                        <div class="tab-pane active" id="tab1">
                            @concept.renderDescription(item, desc)
                        </div>
                        }
                        @item.model.descriptions.zipWithIndex.tail.map { case (desc,i) =>
                        <div class="tab-pane" id="tab@{i+1}">
                            @concept.renderDescription(item, desc)
                        </div>
                        }
                    </div>
                </div>
            }

        </div>
        <div class="span4">
            @if(!item.broaderTerms.isEmpty || item.vocabulary.isDefined) {
                <div class="well well-small">
                @item.vocabulary.map { v =>
                    <h5>@Messages("concept.inVocabulary")</h5>
                    <p class="muted"><a href="@controllers.vocabs.routes.Vocabularies.get(v.id)">@v.toStringLang</a></p>
                }
                @if(!item.broaderTerms.isEmpty) {
                    <hr />
                    <h5>@Messages("concept.broaderTerms")</h5>
                    <ul>
                    @item.broaderTerms.sortBy(_.toString).map { t =>
                        <li><a href="@controllers.vocabs.routes.Concepts.get(t.id)">@t.toStringLang</a></li>
                    }
                    </ul>
                }
                </div>
            }
        </div>
    </div>
    @common.filterableList("concept.narrowerTermsPageHeader", page, params) {
        <ul>
            @page.items.map(c => concept.listItem(c))
        </ul>
    }
} {

    @common.visibility(item, controllers.vocabs.routes.Concepts.visibility(item.id), ContentTypes.Concept)
    @common.latestAction(item, controllers.vocabs.routes.Concepts.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
        @userOpt.map { user =>
            @if(user.hasPermission(ContentTypes.Concept, PermissionType.Create)) {
                <li><a href="@controllers.vocabs.routes.Concepts.createConcept(item.id)">@Messages("actions.createNarrowerConcept")</a></li>
            }
            @if(user.hasPermission(ContentTypes.Concept, PermissionType.Update)) {
                <li><a href="@controllers.vocabs.routes.Concepts.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentTypes.Concept, PermissionType.Delete)) {
                <li><a href="@controllers.vocabs.routes.Concepts.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentTypes.Concept, PermissionType.Grant)) {
                <li><a href="@controllers.vocabs.routes.Concepts.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@controllers.vocabs.routes.Concepts.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}