@(item: AnyModel, f: play.api.data.Form[models.ConceptF], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(
implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@import models.ConceptF._

@breadcrumbs = {
    @item match {
        case c: ConceptMeta => {
            @concept.breadcrumbs(c)
        }

        case v: VocabularyMeta => {
            @common.breadcrumbs(List(v))
        }

        case _ => {
            @Html("")
        }
    }
}


@rightSidebarLayout(Messages("actions.createConcept")) {

	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @concept.renderForm(None, f)

        @permissions.renderVisibilityForm(vf, users, groups)

        @common.submitButtonWithLogMessageInput(Messages("submitButton.createConcept"), cancel = Some(item))
	}
} {

}
