@(item: AccessibleEntity, f: play.api.data.Form[models.forms.ConceptF], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@import models.forms.ConceptF._

@rightSidebarLayout(Messages("actions.createConcept"))(Some(user), req) {

	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @concept.renderForm(None, f)

        @permissions.renderVisibilityForm(vf, users, groups)
	
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("submitButton.createConcept")</button>
		</div>
	}
} {

}
