@(item: Option[Concept], f: play.api.data.Form[models.ConceptF])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@import models.ConceptF._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@helper.inputText(f(Entity.IDENTIFIER), '_label -> Messages(Entity.IDENTIFIER))

@defining("concept") { implicit prefix =>
    <fieldset id="descriptions-area">
        <div class="inline-element-set">
            <label>
                @Messages(prefix + ".descriptions") | <a href="#" class="add-inline-element">@Messages("actions.addNew")</a>
            </label>
            <script type="application/x-js-template" class="inline-element-template">
                @concept.renderDescriptionForm(f("descriptions[IDX]"))
            </script>
            @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
                @concept.renderDescriptionForm(desc)
            }
        </div>
    </fieldset>
}