@(item: Option[Concept], f: play.api.data.Form[models.ConceptF])

@import models.ConceptF._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@helper.inputText(f(Entity.IDENTIFIER), '_label -> Messages(Entity.IDENTIFIER))

@defining("concept") { implicit prefix =>
    <fieldset id="descriptions-area">
    <legend>@Messages("descriptions")</legend>
        @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
            @formHelpers.hiddenInput(desc(Entity.ID))
            @formHelpers.lineInput(desc, LANGUAGE)
            @formHelpers.lineInput(desc, PREFLABEL)
            @helper.repeat(desc(ALTLABEL), min = item.flatMap(_.listProperty(ALTLABEL).map(_.length)).getOrElse(0) + 1) { field =>
                @helper.inputText(field, '_label -> Messages(s"${prefix}.${ALTLABEL}"))
            }
            @formHelpers.textInput(desc, SCOPENOTE)
            @formHelpers.textInput(desc, DEFINITION)
        }
    </fieldset>
}