@(item: ConceptDescription)(implicit req: RequestHeader, lang: Lang)

@defining(item.item) { ownerOpt =>
    @ownerOpt.map { owner =>

        @common.searchItemOutline(item.id) {
            <a href="@routes.Concepts.get(owner.id)">@item.stringProperty(ConceptF.PREFLABEL)</a>
        } {
            @concept.searchItemBody(owner, item)
        }
    }.getOrElse {
        <div class="alert alert-error">
            <strong>Oh dear.</strong> Unable to fetch owner object for description @item.id.
        </div>
    }
}