@(item: Concept, page: rest.Page[Concept], params: ListParams, annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(item.vocabulary.map(List(_)).getOrElse(Nil) ::: item.ancestors.reverse.map(Concept(_)) ::: List(item)))(maybeUser, req) {
    @item.vocabulary.map { v =>
        <p class="muted"><small><a href="@routes.Vocabularies.get(v.id)">@v</a></small></p>
    }


    @common.annotated(item, annotations, routes.Concepts.annotate(item.id)) {
        TODO
    }

    @common.relatedLinks(item, annotations)

    @if(!item.broaderTerms.isEmpty) {
        <h3>@Messages("concept.broaderTerms")</h3>
        <ul>
        @item.broaderTerms.map { t =>
            <li><a href="@routes.Concepts.get(t.id)">
                @t.descriptions.headOption.map(_.stringProperty(models.forms.ConceptF.PREFLABEL))
            </a>
            </li>
        }
        </ul>
    }

    @common.filterableList("concept.narrowerTermsPageHeader", page, params, Concepts.listFilterMappings.keys, Concepts.orderMappings.keys) {
        <ul>
            @page.list.map { item =>
                <div class="list-item">
                    <h5>
                        <a href="@routes.Concepts.get(item.id)">
                        @item.descriptions.headOption.map(_.stringProperty(models.forms.ConceptF.PREFLABEL))
                        </a>
                    </h5>
                </div>
            }
        </ul>
    }

} {
    @common.latestAction(item, routes.Concepts.history(item.id))
    @common.visibility(item)

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Concept, PermissionType.Create)) {
                <li><a href="@routes.Concepts.createConcept(item.id)">@Messages("actions.createNarrowerConcept")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Update)) {
                <li><a href="@routes.Concepts.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Update)) {
                <li><a href="@routes.Concepts.visibility(item.id)">@Messages("actions.setVisibility")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Delete)) {
                <li><a href="@routes.Concepts.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Grant)) {
                <li><a href="@routes.Concepts.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.Concepts.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}