@(item: Concept, page: rest.Page[Concept], annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item.identifier)(maybeUser, req) {

    @common.annotated(item, annotations, routes.Concepts.annotate(item.id)) {
        TODO
    }

    @common.relatedLinks(item, annotations)

    <h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.list.size, page.total)</h3>

    @common.pagination(page)

    <ul class="unstyled">
    @page.list.map { item =>
        <div class="list-item">
        <h5>
        <a href="@routes.Concepts.get(item.id)">
            @item.descriptions.headOption.map(_.stringProperty(models.forms.ConceptF.PREFLABEL))
        </a>
        </h5>
        </div>
    }
    </ul>

} {
    @common.visibility(item)

    <ul class="item-actions nav nav-tabs nav-stacked affix">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Concept, PermissionType.Create)) {
                <li><a href="@routes.Concepts.createConcept(item.id)">@Messages("actions.createNarrowerConcept")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Update)) {
                <li><a href="@routes.Concepts.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Update)) {
                <li><a href="@routes.Concepts.visibility(item.id)">@Messages("actions.setVisibility")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Delete)) {
                <li><a href="@routes.Concepts.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Concept, PermissionType.Grant)) {
                <li><a href="@routes.Concepts.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.ActionLogs.historyFor(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}