@(field: play.api.data.Field, name: String)(implicit fieldPrefix: String, lang: Lang)

<div class="inline-element-set control-group">
    <label class="control-label">@Messages(fieldPrefix + "." + name)</label>
    <div class="controls controls-row">
        <a href="#"
            title="@views.Helpers.renderMarkdown(Messages(fieldPrefix + "." + name + ".description"))"
            class="add-inline-element btn btn-mini">@Messages("actions.addNew")</a>
    </div>

    <script type="application/x-js-template" class="inline-element-template">
        @formHelpers.inlineName(field(name + "[IDX]"))
    </script>
    @helper.repeat(field(name), min = 0) { field =>
        @formHelpers.inlineName(field)
    }
</div>
