@(f: play.api.data.Field, label: String, options: List[(String,String)])(implicit fieldPrefix: String = "", lang: Lang)

@import java.util.Locale
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@defining(views.Helpers.fieldValues(f)) { values =>
    @helper.input(f, 'title -> views.Helpers.renderMarkdown(Messages(fieldPrefix + "." + label + ".description")), '_label -> Messages(if(fieldPrefix.isEmpty) label else fieldPrefix + "." + label)) { (id, name, value, htmlArgs) =>
        @*NB: Appending a '[]' to the name param makes multi-select binding work *@
        <select class="span8 chzn-select" multiple name="@(name)[]" id="@id">
            @options.map { case (oid, oval) =>
                <option value="@oid" @{if(values.contains(oid)) "selected"}>@oval</option>
            }
        </select>
    }
}

