@(guide: Guide, page: GuidePage, pages: List[GuidePage], result: utils.search.SearchResult[(DocumentaryUnit,utils.search.SearchHit)], available: Map[String, Seq[models.base.AnyModel]], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@js = {
    <script type="text/javascript" src="@controllers.portal.routes.Assets.versioned("js/portal-guide.js")"></script>
    <script type="text/javascript" src="@controllers.portal.routes.Assets.versioned("js/portal-guide-facet.js")"></script>
    <script src="@controllers.portal.routes.Assets.versioned("js/select2/select2.js")"></script>

    @lang.language match {
            case "en" => {}
            case _ => {
             <script src="@controllers.portal.routes.Assets.versioned("js/select2/select2_locale_" + lang.language +".js")"></script>
        }
    }
    <script type="text/javascript">
        $(".facet-selected").select2(),

        $(".facet-browse").select2({
            minimumInputLength: 0,
            multiple: true,
            ajax: {
                url: function() {
                    console.log($(this));
                    return $(this).attr("data-target");
                },
                dataType: 'json',
                quietMillis: 100,
                data: function (term, page) { // page is the one-based page number tracked by Select2
                    return {
                        q: term, //search term
                        page_limit: 10, // page size
                        page: page // page number
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.total, // whether or not there are more results available
                            items = data.items;

                    $.each(items, function(i, e) {
                        if(typeof e.childCount !== "undefined" && e.childCount > 0) {
                          items[i].children = []
                        }
                        if(e.links === 0) {
                           items[i].disabled = true;
                        }
                    })
                    // notice we return the value of more so Select2 knows if more results can be loaded
                    return {results: data.items, more: more};
                }
            },
            formatResult: function(item) {
                var original = item;
                if(typeof original.parent !== "undefined" && original.parent !== null) {
                return "<div title ='" + original.parent.name + " > " + original.name + "'>" + original.name + " ("+ original.links+")" + "</div>";
                }
                return "<div title ='" + original.name + "'>" + original.name + " ("+ original.links+")" + "</div>";
                //return item.name;
            },
            formatSelection: function(item) {
                return item.name
            },
            //dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });
    </script>
}

@selectTwo(page: GuidePage) = {
    <div class="facet-class">
        <h4 class="facet-label">@page.name</h4>
        <div class="facet-options">
            <select multiple style="width: 100%" name="kw[]" data-placeholder="@page.name" class="form-control facet-selected select2 autosubmit">
                <option></option>
                @available.getOrElse(page.content, List.empty).map { f =>
                    <option value="@f.id">@f.toStringLang</option>
                }
            </select>
        </div>
    </div>
}

@facets = {
    @views.html.common.search.selectedFacets(result.facetClasses)
    <p class="small">
        @Messages(if(available.nonEmpty) "guides.facets.available" else "guides.facets.hierarchy")
    </p>
    @for(otherPage <- pages.filterNot(p => GuidePage.Layout.isFreeText(p.layout))) {
        @if(available.nonEmpty){
            @selectTwo(otherPage)
        } else {
            <div class="facet-class">
                <h4 class="facet-label">@otherPage.name</h4>
                <div class="facet-options">
                    <input type="text" style="width: 100%;" name="kw[]" data-placeholder="@otherPage.name" data-target="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, otherPage.path)" class="form-control select2 facet-browse autosubmit" />
                </div>
            </div>
        }
    }
}

@sidebar = {
    <div id="facets">
        @helper.form(action = action) {
            <div class="form-group">
                <label for="id_q" class="sr-only">@Messages("search")</label>
                <input type="text" id="id_q" name="q" value="@result.params.query" class="form-control" placeholder="@Messages("search")" />
            </div>
            <ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
                <li><button type="submit" class="nav-ehri nav-ehri-black nav-ehri-input"><span class="glyphicon glyphicon-search"></span><span class="text-hide">
                    Search</span></button></li>
            </ul>
            @facets
        }
    </div>
}


@views.html.p.layout.guideLayout(guide, page, pages, scripts = js, optionalContent = Some(sidebar), otherTitle = Some(Messages("guides.faceted"))) {
    <article>
            <header>
                <h1>@Messages("guides.faceted")</h1>
                <h3>@Messages("pagination.displayingItems", result.page.start, result.page.end, result.page.total)</h3>
            </header>
            <section>
                <section class="content-results">
                @result.page.items.map { case (doc, hit) =>
                    @views.html.p.guides.doc.itemResult(doc, guide.path)
                }
                </section>
            </section>
            <footer>
            @common.pagination(result.page)
            </footer>
    </article>
}
