@(item: DescribedMeta[_,_], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@defining(item.accessPointLinksByType(links)) { links =>
    @for(apt <- AccessPointF.AccessPointType.values.toSeq) {
        @links.get(apt).map { linksOfType =>
            <h4>@Messages("accessPoint.type." + apt.toString)</h4>
            <ul class="access-point-links">
                @for((link, accessPoint) <- linksOfType) {
                    @link.opposingTarget(item).map { other =>
                        <li class="access-point-link resolved-access-point">
                        @views.html.link.itemLink(link, other)
                        </li>
                    }.getOrElse {
                        @link.model.description.map { desc =>
                            <li class="access-point">
                                @desc
                            </li>
                        }
                    }
                }
            </ul>
        }
    }
}
