@(f: Form[RepositoryF], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.createRepository")) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @repository.renderForm(None, f)

        <fieldset id="admin-area">
            <legend>@Messages("Administration")</legend>
            @formHelpers.enumChoiceInput(f(Isdiah.PUBLICATION_STATUS), defines.PublicationStatus, Isdiah.PUBLICATION_STATUS)

            @permissions.renderVisibilityForm(vf, users, groups)
        </fieldset>

        @common.submitButtonWithLogMessageInput(Messages("submitButton.createAgent"))
	}
} {

}
