@(item: Repository)(implicit req: RequestHeader, lang: Lang)

@import Isdiah._

@common.searchItemOutline(item.id) {
    <a href="@routes.Repositories.get(item.id)">@item</a>
} {
    @item.descriptions.headOption.map { desc =>

        @defining((desc.listProperty(PARALLEL_FORMS_OF_NAME).toList ++ desc.listProperty(OTHER_FORMS_OF_NAME).toList).flatten) { ofn =>
            @if(!ofn.isEmpty) {
                <small>
                    <strong>
                        <ul class="unstyled inline inline-separator">
                            @ofn.map { on =>
                                <li>@on</li>
                            }
                        </ul>
                    </strong>
                </small>
            }
         }
        <small>
            <ul class="unstyled muted inline inline-separator">
                @item.country.map { ct =>
                    <li><strong><a class="alt" href="@routes.Countries.get(ct.id)">@ct.toStringLang</a></strong></li>
                }
                @desc.addresses.headOption.map { address =>
                    @List(STREET_ADDRESS, CITY, REGION).map { adpart =>
                        @address.stringProperty(adpart).filterNot(_.trim.isEmpty).map { part =>
                            <li>@part</li>
                        }
                    }
                }
                @item.latestEvent.map { event =>
                    <li title="@common.eventTitle(event)">
                        <time datetime="@event.timeStamp">@Messages("systemEvents.lastUpdated", views.Helpers.prettyDate(event.timeStamp))</time>
                    </li>
                }
            </ul>
        </small>
        <p>@desc.stringProperty(GEOCULTURAL_CONTEXT)</p>
    }.getOrElse {
        <small>@Messages("describedEntity.noDescriptions")</small>
    }
}
