@(page: rest.Page[Repository], params: ListParams)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listAgents")) {

	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

	@common.pagination(page)
	
	<ul class="unstyled">
	@page.items.map { item =>
	  	<li>
            @repository.listItem(item)
		</li>
	}
	</ul>
    
} {

    @common.sidebarSection(None) {
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Repository, PermissionType.Create)) {
                <a class="btn btn-primary" href="@routes.Repositories.create">@Messages("actions.createNewAgent")</a>
            }
        }
    }
}
