@(item: Repository)(implicit req: RequestHeader, lang: Lang)

@import Isdiah._

@common.searchItemOutline(item.id) {
    <a href="@routes.Repositories.get(item.id)">@item</a>
} {
    @item.descriptions.headOption.map { desc =>
        @defining(desc.listProperty(OTHER_FORMS_OF_NAME).getOrElse(Nil)) { ofn =>
            @if(!ofn.isEmpty) {
                <small>
                    <strong>
                        <ul class="unstyled inline inline-separator">
                            @ofn.map { on =>
                                <li>@on</li>
                            }
                        </ul>
                    </strong>
                </small>
            }
         }
        @defining(desc.listProperty(PARALLEL_FORMS_OF_NAME).getOrElse(Nil)) { ofn =>
            @if(!ofn.isEmpty) {
                <small>
                    <strong>
                        <ul class="unstyled inline inline-separator">
                            @ofn.map { on =>
                                <li>@on</li>
                            }
                        </ul>
                    </strong>
                </small>
            }
         }
        <small>
            <ul class="unstyled muted inline inline-separator">
                @desc.addresses.headOption.map { address =>
                    @List(STREET_ADDRESS, CITY, REGION).map { adpart =>
                        @address.stringProperty(adpart).filterNot(_.trim.isEmpty).map { part =>
                            <li>@part</li>
                        }
                    }
                    @address.stringProperty(COUNTRY_CODE).map { cc =>
                        <li>@views.Helpers.countryCodeToName(cc)</li>
                    }
                    @item.latestEvent.map { event =>
                        <li title="@common.eventTitle(event)">@Messages("systemEvents.lastUpdated", views.Helpers.prettyDate(event.timeStamp))</li>
                    }
                }
            </ul>
        </small>
        <p>@desc.stringProperty(GENERAL_CONTEXT)</p>
    }.getOrElse {
        <small>@Messages("describedEntity.noDescriptions")</small>
    }
}
