@(items: rest.Page[Repository], params: ListParams)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listAgents")) {

	<h3>@Messages("pagination.displayingItems", items.offset + 1, items.offset + items.items.size, items.total)</h3>

	@common.pagination(items)
	
	<ul class="unstyled">
	@items.items.map { item =>
	  	<li>
			<a href="@routes.Repositories.get(item.id)">@item</a>
		</li>
	}
	</ul>
    
} {

    @common.sidebarSection(None) {
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Agent, PermissionType.Create)) {
                <a class="btn btn-primary" href="@routes.Repositories.create">@Messages("actions.createNewRepository")</a>
            }
        }
    }
}
