@(item: Option[Repository], f: Form[RepositoryF])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@import Isdiah._
@import RepositoryF._
@import formHelpers._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@lineInput(f(""), IDENTIFIER)(prefix = FIELD_PREFIX)

@defining(FIELD_PREFIX) { implicit fieldPrefix =>
    @helper.repeat(f(DescribedEntity.DESCRIPTIONS), min=math.max(f(DescribedEntity.DESCRIPTIONS).indexes.length, 1)) { desc =>
        @choiceInput(desc(LANG_CODE), LANG_CODE, views.Helpers.languagePairList, blank=true)

        @descriptionFormSection(IDENTITY_AREA) {
            @hiddenInput(desc(Entity.ID))
            @lineInput(desc, AUTHORIZED_FORM_OF_NAME)
            @inlineNameSet(desc, PARALLEL_FORMS_OF_NAME)
            @inlineNameSet(desc, OTHER_FORMS_OF_NAME)
        }

        @descriptionFormSection(ADDRESS_AREA) {
            <div class="inline-element-set">
                <label>
                    @Messages(fieldPrefix + "." + ADDRESS_AREA) | <a href="#" class="add-inline-element">@Messages("actions.addNew")</a>
                </label>
                <script type="application/x-js-template" class="inline-element-template">
                    @repository.renderAddressForm(desc(ADDRESS_AREA + "[IDX]"))
                </script>
                @helper.repeat(desc(ADDRESS_AREA), min = 0) { desc =>
                    @repository.renderAddressForm(desc)
                }
            </div>
        }

        @descriptionFormSection(DESCRIPTION_AREA) {
            @defining(desc(DESCRIPTION_AREA)) { desc =>
                @textInput(desc, HISTORY)
                @textInput(desc, GEOCULTURAL_CONTEXT)
                @textInput(desc, MANDATES)
                @textInput(desc, ADMINISTRATIVE_STRUCTURE)
                @textInput(desc, RECORDS)
                @textInput(desc, BUILDINGS)
                @textInput(desc, HOLDINGS)
                @textInput(desc, FINDING_AIDS)
            }
        }

        @descriptionFormSection(ACCESS_AREA) {
            @defining(desc(ACCESS_AREA)) { desc =>
                @textInput(desc, OPENING_TIMES)
                @textInput(desc, CONDITIONS)
                @textInput(desc, ACCESSIBILITY)
            }
        }

        @descriptionFormSection(SERVICES_AREA) {
            @defining(desc(SERVICES_AREA)) { desc =>
                @textInput(desc, RESEARCH_SERVICES)
                @textInput(desc, REPROD_SERVICES)
                @textInput(desc, PUBLIC_AREAS)
            }
        }

        @descriptionFormSection(CONTROL_AREA) {
            @defining(desc(CONTROL_AREA)) { desc =>
                @lineInput(desc, DESCRIPTION_IDENTIFIER)
                @lineInput(desc, INSTITUTION_IDENTIFIER)
                @textInput(desc, RULES_CONVENTIONS)
                @textInput(desc, STATUS)
                @textInput(desc, LEVEL_OF_DETAIL)
                @textInput(desc, DATES_CVD)
                @multiselectInput(desc(LANGUAGES_USED), LANGUAGES_USED, views.Helpers.languagePairList)
                @multiselectInput(desc(SCRIPTS_USED), SCRIPTS_USED, views.Helpers.scriptPairList)
                @textInput(desc, SOURCES)
                @textInput(desc, MAINTENANCE_NOTES)
            }
        }
    }
}

@descriptionFormSection("forms.adminArea") {
    @enumChoiceInput(f(PUBLICATION_STATUS), defines.PublicationStatus, PUBLICATION_STATUS)
    @choiceInput(f(PRIORITY), PRIORITY, 1.to(5).map(i => (i.toString,i.toString)).toList ++ List(("-1", "Reject")), blank=true)
}

