@(field: play.api.data.Field)(implicit fieldPrefix: String, lang: Lang)

@import Isdiah._

<div class="address-form inline-element">
    <a class="close remove-inline-element pull-right" tabindex="-1" href="#">&times;</a>
    @formHelpers.hiddenInput(field(Entity.ID))
    @formHelpers.lineInput(field, ADDRESS_NAME)
    @formHelpers.lineInput(field, CONTACT_PERSON)
    @formHelpers.textInput(field, STREET_ADDRESS)
    @formHelpers.lineInput(field, CITY)
    @formHelpers.lineInput(field, REGION)
    @formHelpers.choiceInput(field(COUNTRY_CODE), COUNTRY_CODE, views.Helpers.countryPairList, blank=true)
    @formHelpers.lineInput(field, POSTAL_CODE)
    @formHelpers.lineInput(field, EMAIL)
    @formHelpers.lineInput(field, TELEPHONE)
    @formHelpers.lineInput(field, FAX)
    @formHelpers.lineInput(field, URL)
</div>
