@(item: RepositoryMeta, desc: RepositoryDescription, links: List[LinkMeta])(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, fieldPrefix: String)

@import Isdiah._
@import common.descriptionSection

@common.descriptionOutline(desc, desc.languageCode) {

    @descriptionSection(IDENTITY_AREA) {
        @common.stringValue(desc, IDENTIFIER)
        @common.stringValue(desc, AUTHORIZED_FORM_OF_NAME)
        @common.listValue(desc, PARALLEL_FORMS_OF_NAME)
        @common.listValue(desc, OTHER_FORMS_OF_NAME)
    }

    @descriptionSection(ADDRESS_AREA) {
        @if(!desc.addresses.isEmpty) {
            <div class="inline-block well well-small" style="display: inline-block">
            @desc.addresses.zipWithIndex.map { case (address, i) =>
                <address title="@address.stringProperty(ADDRESS_NAME)">
                    @address.stringProperty(ADDRESS_NAME).map { an =>
                        <strong>@an</strong><br/>
                    }
                    @address.stringProperty(CONTACT_PERSON).map { an =>
                        <i>@an</i><br/>
                    }
                    @address.stringProperty(STREET_ADDRESS).map { an =>
                        @an.split("\\n").map { addressLine =>
                            @addressLine<br />
                        }
                    }
                    @List(CITY,REGION,POSTAL_CODE).map { addressPart =>
                        @address.stringProperty(addressPart).map { addressPartValue =>
                            @addressPartValue<br />
                        }
                    }
                    @address.stringProperty(COUNTRY_CODE).map { cc =>
                        @views.Helpers.countryCodeToName(cc)<br />
                    }
                    <dl class="dl-horizontal">
                    @address.listProperty(TELEPHONE).map { t =>
                        <dt>@Messages("isdiah.telephone")</dt>
                        <dd>@t</dd>
                    }
                    @List(EMAIL, FAX, URL).map { addressPart =>
                        @address.stringProperty(addressPart).map { addressPartValue =>
                            <dt>@Messages("isdiah." + addressPart)</dt>
                            <dd>@addressPartValue</dd>
                        }
                    }
                    </dl>
                </address>
            }
            </div>
        }
    }

    @descriptionSection(DESCRIPTION_AREA) {
        @common.stringValue(desc, HISTORY)
        @common.stringValue(desc, GEOCULTURAL_CONTEXT)
        @common.stringValue(desc, MANDATES)
        @common.stringValue(desc, ADMINISTRATIVE_STRUCTURE)
        @common.stringValue(desc, RECORDS)
        @common.stringValue(desc, BUILDINGS)
        @common.stringValue(desc, HOLDINGS)
        @common.stringValue(desc, FINDING_AIDS)
    }

    @descriptionSection(ACCESS_AREA) {
        @common.stringValue(desc, OPENING_TIMES)
        @common.stringValue(desc, CONDITIONS)
        @common.stringValue(desc, ACCESSIBILITY)
    }

    @descriptionSection(SERVICES_AREA) {
        @common.stringValue(desc, RESEARCH_SERVICES)
        @common.stringValue(desc, REPROD_SERVICES)
        @common.stringValue(desc, PUBLIC_AREAS)
    }

    @descriptionSection(CONTROL_AREA) {
        @common.stringValue(desc, DESCRIPTION_IDENTIFIER)
        @common.stringValue(desc, INSTITUTION_IDENTIFIER)
        @common.stringValue(desc, RULES_CONVENTIONS)
        @common.stringValue(desc, STATUS)
        @common.stringValue(desc, LEVEL_OF_DETAIL)
        @common.stringValue(desc, DATES_CVD)
        @common.listValue(desc, LANGUAGES_USED, transformFunc = {s => views.Helpers.languageCodeToName(s)})
        @common.listValue(desc, SCRIPTS_USED, transformFunc = {s => views.Helpers.scriptCodeToName(s)})
        @common.listValue(desc, SOURCES)
        @common.stringValue(desc, MAINTENANCE_NOTES)
    }

    @common.relatedLinks(item, desc, links)

    @desc.unknownProperty.map { e =>
        @common.unknownData(e)
    }
}