@(item: RepositoryDescription)(implicit req: RequestHeader, lang: Lang)

@common.searchItemOutline {
    @item.item.map { logicalObject =>
        <a href="@views.Helpers.urlFor(logicalObject)">@logicalObject</a>
    }
} {
    <div class="muted">
        <small>
            @item.addresses.headOption.map { address =>
                @address.stringProperty(Isdiah.COUNTRY_CODE).map { cc =>
                    @views.Helpers.countryCodeToName(cc)
                }
            }
        </small>
    </div>
    @item.stringProperty(Isdiah.GENERAL_CONTEXT)
}
