@(item: RepositoryDescription)(implicit req: RequestHeader, lang: Lang)

@import Isdiah._

@defining(item.item) { ownerOpt =>
    @ownerOpt.map { owner =>
        @common.searchItemOutline(item.id) {
            <a href="@routes.Repositories.get(owner.id)">@owner</a>
        } {
            <small>
                <ul class="unstyled muted inline inline-separator">
                    @item.addresses.headOption.map { address =>
                        @List(STREET_ADDRESS, CITY, REGION).map { adpart =>
                            @address.stringProperty(adpart).filterNot(_.trim.isEmpty).map { part =>
                                <li>@part</li>
                            }
                        }
                        @address.stringProperty(COUNTRY_CODE).map { cc =>
                            <li>@views.Helpers.countryCodeToName(cc)</li>
                        }
                    }
                    @owner.latestEvent.map { event =>
                        <li title="@common.eventTitle(event)">
                            <time datetime="@event.timeStamp">@Messages("systemEvents.lastUpdated", views.Helpers.prettyDate(event.timeStamp))</time>
                        </li>
                    }
                </ul>
            </small>
            @item.stringProperty(GEOCULTURAL_CONTEXT)
        }
    }.getOrElse {
        <div class="alert alert-error">
            <strong>Oh dear.</strong> Unable to fetch owner object for description @item.id.
        </div>
    }
}
