@(item: Repository, result: solr.ItemPage[(Entity,String)], params: solr.SearchParams, facets: List[solr.facet.AppliedFacet], action: Call, annotations: Map[String,List[Annotation]], links: List[Link])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@repository.itemPage(item) {

    @common.annotated(item, annotations, routes.Repositories.annotate(item.id)) {
        @defining(Isdiah.FIELD_PREFIX) { implicit fieldPrefix =>
            @common.stringValue(item, Isdiah.IDENTIFIER)
            @if(!item.descriptions.isEmpty) {
                @item.descriptions.map { desc =>
                    @repository.renderDescription(item, desc, links)
                }
            }
        }
    }

    @views.html.search.searchSection(Messages("repository.searchInside", item.toStringAbbr(lang))) {
        @views.html.search.searchForm(result, params, action, autofocus = false)
    }
}