@(item: models.base.Model, f: Form[DocumentaryUnitF], config: forms.FormConfig, vf: Form[Seq[String]], usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@breadcrumbs = {
    @item match {
        case d: DocumentaryUnit => {
            @views.html.admin.documentaryUnit.breadcrumbs(d)
        }

        case r: Repository => {
            @views.html.admin.common.breadcrumbs(List(r))
        }

        case _ => {
            @Html("")
        }
    }
}

@views.html.admin.layout.rightSidebar(Messages("documentaryUnit.create"), breadcrumbs = breadcrumbs, scripts = formHelpers.dateJs()) {

	@helper.form(action = action) {
        @formHelpers.csrfToken()
		@views.html.admin.documentaryUnit.form(f, config)

        @views.html.admin.permissions.visibilityForm(vf, usersAndGroups)
		@formHelpers.submitButtonWithLogMessageInput(Messages("documentaryUnit.create.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {
   @formNav()
}
