@(item: DocumentaryUnit, f: Form[DocumentaryUnitF], did: String, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("describedEntity.deleteDescription"), item.isA, breadcrumbs = breadcrumbs(item), scripts = formHelpers.dateJs()) {

    @if(item.descriptions.size > 1) {
        <p>@Messages("describedEntity.deleteDescription.info", did)</p>
        @defining("documentaryUnit") { implicit fieldPrefix =>
            @helper.form(action = action) {
                @formHelpers.csrfToken()

                @views.html.admin.documentaryUnit.hiddenFormWrapper(f) {
                    @helper.repeat(f("descriptions"), min = 0) { desc =>
                        @if(!desc(Entity.ID).value.contains(did)) {
                            @views.html.admin.documentaryUnit.hiddenDescriptionForm(desc)
                        } else {
                        }
                    }
                }

                @formHelpers.submitButtonWithLogMessageInput(
                    Messages("describedEntity.deleteDescription.submit"),
                    defaultLogMessage = Messages("describedEntity.deleteDescription.logMessage", did),
                    cancel = views.admin.Helpers.linkToOpt(item))
            }
        }
    } else {
        <p class="alert alert-danger">
            @Messages("describedEntity.deleteDescription.lastError")

            <strong><a href="@views.admin.Helpers.linkTo(item)">@Messages("admin.goBack")</a></strong>
        </p>
    }
} {
}
