@(desc: Field)(implicit fieldPrefix: String, config: Option[forms.FormFieldHints], userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@import IsadG._
@import Entity._
@import Description._
@import views.html.formHelpers._


@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.common.descriptionForm(desc) {
    @choiceInput(desc, LANG_CODE, views.Helpers.languagePairList, attrs._blank -> true)
    @defining("description") { implicit fieldPrefix =>
        @lineInput(desc, IDENTIFIER, attrs._autocomplete -> "off")
    }

    @descriptionFormSection(IDENTITY_AREA) {
        @defining(desc(IDENTITY_AREA)) { desc =>

            @lineInput(desc, TITLE)
            @inlineNameSet(desc, PARALLEL_FORMS_OF_NAME)

            @lineInput(desc, REF)

            @inlineDateSet(desc, DATES)
            @hiddenInputSet(desc(UNIT_DATES))
            @enumChoiceInput(desc, LEVEL_OF_DESCRIPTION, LevelOfDescription, attrs._blank -> true)
            @hiddenInputSet(desc(PHYSICAL_LOCATION))
            @textInput(desc, EXTENT_MEDIUM)
        }
    }

    @descriptionFormSection(CONTEXT_AREA) {
        @defining(desc(CONTEXT_AREA)) { desc =>
            @textInput(desc, ADMIN_BIOG)
            @textInput(desc, ARCH_HIST)
            @textInput(desc, ACQUISITION)
        }
    }

    @descriptionFormSection(CONTENT_AREA) {
        @defining(desc(CONTENT_AREA)) { desc =>
            @textInput(desc, SCOPE_CONTENT)
            @textInput(desc, APPRAISAL)
            @textInput(desc, ACCRUALS)
            @textInput(desc, SYS_ARR)
        }
    }

    @descriptionFormSection(CONDITIONS_AREA) {
        @defining(desc(CONDITIONS_AREA)) { desc =>
            @textInput(desc, ACCESS_COND)
            @textInput(desc, REPROD_COND)
            @choiceInput(desc, LANG_MATERIALS, views.Helpers.languagePairList, attrs._multiple -> true, attrs._size -> 1)
            @choiceInput(desc, SCRIPT_MATERIALS, views.Helpers.scriptPairList, attrs._multiple -> true, attrs._size -> 1)
            @textInput(desc, PHYSICAL_CHARS)
            @inlineTextSet(desc, FINDING_AIDS, rows = 4)
        }
    }

    @descriptionFormSection(MATERIALS_AREA) {
        @defining(desc(MATERIALS_AREA)) { desc =>
            @inlineTextSet(desc, LOCATION_ORIGINALS)
            @inlineTextSet(desc, LOCATION_COPIES)
            @inlineTextSet(desc, RELATED_UNITS)
            @inlineTextSet(desc, SEPARATED_UNITS)
            @textInput(desc, PUBLICATION_NOTE)
        }
    }

    @descriptionFormSection(NOTES_AREA) {
        @inlineTextSet(desc, NOTES)
    }

    @descriptionFormSection(CONTROL_AREA) {
        @defining(desc(CONTROL_AREA)) { desc =>
            @textInput(desc, ARCHIVIST_NOTE)
            @inlineTextSet(desc, SOURCES)
            @textInput(desc, RULES_CONVENTIONS)
            @textInput(desc, DATES_DESCRIPTIONS)
            @inlineTextSet(desc, PROCESS_INFO)
        }
    }
}
