@(item: models.base.DescribedModel, desc: DocumentaryUnitDescriptionF, links: Seq[Link], annotations: Seq[Annotation], actions: Html = Html(""), visible: Boolean)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import models.IsadG._
@import models.base.Description._
@import views.html.admin.common.{descriptionSection,listValue,textValue,dateSet}

@views.html.admin.common.descriptionOutline(item, desc, actions = actions, visible) {
    @views.html.admin.common.descriptionHeader(desc.name)
    @textValue(SOURCE_FILE_ID, desc.sourceFileId)
    @descriptionSection(IDENTITY_AREA) {
        @listValue(PARALLEL_FORMS_OF_NAME, desc.identity.parallelFormsOfName)
        @textValue(REF, desc.identity.ref)
        @textValue(ABSTRACT, desc.identity.`abstract`)
        @dateSet(desc, DATES)
        @listValue(UNIT_DATES, desc.identity.unitDates)
        @textValue(LEVEL_OF_DESCRIPTION, desc.identity.levelOfDescription)
        @listValue(PHYSICAL_LOCATION, desc.identity.physicalLocation)
        @textValue(EXTENT_MEDIUM, desc.identity.extentAndMedium)
    }

    @descriptionSection(CONTEXT_AREA) {
        @textValue(ADMIN_BIOG, desc.context.biographicalHistory)
        @textValue(ARCH_HIST, desc.context.archivalHistory)
        @textValue(ACQUISITION, desc.context.acquisition)
    }

    @descriptionSection(CONTENT_AREA) {
        @textValue(SCOPE_CONTENT, desc.content.scopeAndContent)
        @textValue(APPRAISAL, desc.content.appraisal)
        @textValue(ACCRUALS, desc.content.accruals)
        @textValue(SYS_ARR, desc.content.systemOfArrangement)
    }

    @descriptionSection(CONDITIONS_AREA) {
        @textValue(ACCESS_COND, desc.conditions.conditionsOfAccess)
        @textValue(REPROD_COND, desc.conditions.conditionsOfReproduction)

        @listValue(LANG_MATERIALS, desc.conditions.languageOfMaterials, transformFunc = s => views.Helpers.languageCodeToName(s))
        @listValue(SCRIPT_MATERIALS, desc.conditions.scriptOfMaterials, transformFunc = s => views.Helpers.scriptCodeToName(s))
        @textValue(PHYSICAL_CHARS, desc.conditions.physicalCharacteristics)
        @listValue(FINDING_AIDS, desc.conditions.findingAids)
    }

    @descriptionSection(MATERIALS_AREA) {
        @listValue(LOCATION_ORIGINALS, desc.materials.locationOfOriginals)
        @listValue(LOCATION_COPIES, desc.materials.locationOfCopies)
        @listValue(RELATED_UNITS, desc.materials.relatedUnitsOfDescription)
        @listValue(SEPARATED_UNITS, desc.materials.separatedUnitsOfDescription)
        @textValue(PUBLICATION_NOTE, desc.materials.publicationNote)
    }

    @descriptionSection(NOTES_AREA) {
        @listValue(NOTES, desc.notes)
    }

    @descriptionSection(CONTROL_AREA) {
        @textValue(ARCHIVIST_NOTE, desc.control.archivistNote)
        @listValue(SOURCES, desc.control.sources)
        @textValue(RULES_CONVENTIONS, desc.control.rulesAndConventions)
        @textValue(DATES_DESCRIPTIONS, desc.control.datesOfDescriptions)
        @listValue(PROCESS_INFO, desc.control.processInfo)
    }

    @views.html.admin.link.accessPointLinks(item, desc, links)

    @desc.unknownProperties.map { e =>
        @views.html.admin.common.unknownData(e)
    }
}
