@(item: models.base.DescribedModel, desc: DocumentaryUnitDescriptionF)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages)

@userOpt.map { user =>
    @if(user.hasPermission(defines.ContentTypes.DocumentaryUnit, defines.PermissionType.Update)) {
        @desc.id.map { did =>
            <div class="description-actions">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    @Messages("item.actions")
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@controllers.units.routes.DocumentaryUnits.manageAccessPoints(item.id, did)">
                        @Messages("describedEntity.manageAccessPoints")
                    </a>
                    <a class="dropdown-item" href="@controllers.units.routes.DocumentaryUnits.updateDescription(item.id, did)">
                        @Messages("describedEntity.editDescription")
                    </a>
                    @if(item.descriptions.size > 1) {
                        <a class="dropdown-item" href="@controllers.units.routes.DocumentaryUnits.deleteDescription(item.id, did)">
                            @Messages("describedEntity.deleteDescription")
                        </a>
                    }
                </div>
            </div>
        }
    }
}
