@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, holderIds: Seq[String] = Seq.empty)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.documentaryUnit.itemPage(item) {
    @helper.javascriptRouter("adminJsRoutes")(
        controllers.portal.routes.javascript.Portal.filterItems,
        controllers.admin.routes.javascript.Data.forward,
        controllers.admin.routes.javascript.Data.getItemType,
        controllers.units.routes.javascript.DocumentaryUnits.get,
        controllers.units.routes.javascript.DocumentaryUnits.createLink,
        controllers.units.routes.javascript.DocumentaryUnits.createAccessPoint,
        controllers.units.routes.javascript.DocumentaryUnits.getLink,
        controllers.units.routes.javascript.DocumentaryUnits.getAccessPointsJson,
        controllers.units.routes.javascript.DocumentaryUnits.deleteAccessPoint,
        controllers.units.routes.javascript.DocumentaryUnits.deleteLink,
        controllers.units.routes.javascript.DocumentaryUnits.deleteLinkAndAccessPoint
    )

    <script>
        window.SERVICE = {
            filter: adminJsRoutes.controllers.portal.Portal.filterItems,
            get: adminJsRoutes.controllers.admin.Data.getItem,
            getItem: adminJsRoutes.controllers.admin.Data.getItemType,
            createLink: adminJsRoutes.controllers.units.DocumentaryUnits.createLink,
            createAccessPoint: adminJsRoutes.controllers.units.DocumentaryUnits.createAccessPoint,
            getAccessPoints: adminJsRoutes.controllers.units.DocumentaryUnits.getAccessPointsJson,
            deleteLink: adminJsRoutes.controllers.units.DocumentaryUnits.deleteLink,
            deleteAccessPoint: adminJsRoutes.controllers.units.DocumentaryUnits.deleteAccessPoint,
            deleteLinkAndAccessPoint: adminJsRoutes.controllers.units.DocumentaryUnits.deleteLinkAndAccessPoint,
            redirectUrl: function (id) {
                return adminJsRoutes.controllers.units.DocumentaryUnits.get(id).url;
            }
        };
    </script>
    @views.html.admin.common.accessPointForm(item, desc, holderIds)
}
