@(item: DocumentaryUnit, f: play.api.data.Form[DocumentaryUnitF], config: forms.FormConfig, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("documentaryUnit.update"), item.isA, breadcrumbs = views.html.admin.documentaryUnit.breadcrumbs(item), scripts = formHelpers.dateJs()) {
		
	@helper.form(action = action) {
        @formHelpers.csrfToken()

        @formHelpers.hiddenInput(f(Entity.IDENTIFIER))
        <p>@Messages("item.identifier"): <strong>@item.data.identifier</strong> [
            <a href="@controllers.units.routes.DocumentaryUnits.rename(item.id)">@Messages("item.rename.title")</a>]</p>

        @views.html.admin.documentaryUnit.form(f, config)
        @formHelpers.submitButtonWithLogMessageInput(Messages("documentaryUnit.update.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {
    @views.html.admin.documentaryUnit.formNav()
}
