@(item: DocumentaryUnit, f: Form[models.DocumentaryUnitF], config: forms.FormConfig, did: String, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebarWithType(Messages("describedEntity.updateDescription"), item.isA, breadcrumbs = breadcrumbs(item), scripts = formHelpers.dateJs()) {

    @defining("documentaryUnit") { implicit fieldPrefix =>
        @defining(Some(config)) { implicit implicitConfig =>
            @helper.form(action = action) {
                @formHelpers.csrfToken()

                @views.html.admin.documentaryUnit.hiddenFormWrapper(f) {
                    @helper.repeat(f("descriptions"), min = 0) { desc =>
                        @if(desc(Entity.ID).value.contains(did)) {
                            @views.html.admin.documentaryUnit.descriptionForm(desc)
                        } else {
                            @views.html.admin.documentaryUnit.hiddenDescriptionForm(desc)
                        }
                    }
                }

                @formHelpers.submitButtonWithLogMessageInput(
                    Messages("describedEntity.updateDescription.submit"),
                    defaultLogMessage = Messages("describedEntity.updateDescription.logMessage", did),
                    cancel = views.admin.Helpers.linkToOpt(item))
            }
        }
    }
} {
   @formNav()
}
