@(f: play.api.data.Form[DocumentaryUnitF], config: forms.FormConfig)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@import IsadG._
    @import DocumentaryUnitF._

@implicitField = @{views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f)}

@defining(Some(config)) { implicit implicitConfig =>

    @defining("documentaryUnit") { implicit fieldPrefix =>
        @formHelpers.inlineNameSet(f(""), OTHER_IDENTIFIERS)

        @formHelpers.descriptionFormTabs(f) { desc =>
            @views.html.admin.documentaryUnit.descriptionForm(desc)
        }

        @formHelpers.descriptionFormSection(ADMINISTRATION_AREA) {
            @defining(PUB_STATUS) { implicit fieldPrefix =>
                @formHelpers.enumChoiceInput(f(""), PUB_STATUS, PublicationStatus)
            }
            @defining(COPYRIGHT) { implicit fieldPrefix =>
                @formHelpers.enumChoiceInput(f(""), COPYRIGHT, CopyrightStatus)
            }
            @defining(SCOPE) { implicit fieldPrefix =>
                @formHelpers.enumChoiceInput(f(""), SCOPE, Scope)
            }
        }
    }
}
