@(f: play.api.data.Form[DocumentaryUnitF], defaults: Option[play.api.Configuration] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import models.IsadG._
@import models.DocumentaryUnitF._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining("documentaryUnit") { implicit fieldPrefix =>

    @formHelpers.lineInput(f(""), services.Entity.IDENTIFIER)
    @formHelpers.inlineNameSet(f(""), OTHER_IDENTIFIERS)

    @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
        @defining(defaults) { implicit defs =>
            @descriptionForm(desc)
        }
    }

    @formHelpers.descriptionFormSection(ADMINISTRATION_AREA) {
        @defining("publicationStatus") { implicit fieldPrefix =>
            @formHelpers.enumChoiceInput(f(PUB_STATUS), PublicationStatus, Messages(PUB_STATUS))
        }
        @defining("copyrightStatus") { implicit fieldPrefix =>
            @formHelpers.enumChoiceInput(f(COPYRIGHT), CopyrightStatus, Messages(COPYRIGHT))
        }
        @defining("scope") { implicit fieldPrefix =>
            @formHelpers.enumChoiceInput(f(SCOPE), Scope, Messages(SCOPE))
        }
    }
}
