@(f: play.api.data.Form[DocumentaryUnitF], defaults: Option[play.api.Configuration] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import models.IsadG._
@import models.DocumentaryUnitF._

@formHelpers.hiddenInput(f(Entity.IDENTIFIER))
@formHelpers.hiddenInputSet(f(""), OTHER_IDENTIFIERS)

@helper.repeat(f("descriptions")) { desc =>
    @hiddenDescriptionForm(desc)
}

@formHelpers.hiddenInput(f(PUB_STATUS))
@formHelpers.hiddenInput(f(COPYRIGHT))
@formHelpers.hiddenInput(f(SCOPE))
