@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@itemPage(item) {
    <h3>@Messages("link.create")</h3>
    <ul>
        <li><a href="@controllers.units.routes.DocumentaryUnits.linkAnnotateSelect(item.id, EntityType.HistoricalAgent)">@Messages("link.create.to.historicalAgent")</a></li>
        <li><a href="@controllers.units.routes.DocumentaryUnits.linkAnnotateSelect(item.id, EntityType.Concept)">@Messages("link.create.to.cvocConcept")</a></li>
        <li><a href="@controllers.units.routes.DocumentaryUnits.linkAnnotateSelect(item.id, EntityType.DocumentaryUnit)">@Messages("link.create.to.documentaryUnit")</a></li>
    </ul>
}
