@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, descriptionId: Option[String] = None)

@common.search.searchItemOutline(item) {
    @* include an anchor to the selected description *@
    @defining(descriptionId.map(did => "#desc-" + did).getOrElse("")) { anchor =>
        <a href="@{controllers.units.routes.DocumentaryUnits.get(item.id) + anchor}">
            <span class="primary-identifier">@item.model.identifier</span> | @item.toStringLang
        </a>
    }
} {
    @item.model.primaryDescription(descriptionId).map { desc =>
        @searchItemBody(item, desc)
    }.getOrElse {
        <small>@Messages("describedEntity.noDescriptions")</small>
    }
}
