@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, descriptionId: Option[String] = None)

@common.search.searchItemOutline(item) {
    @item.data.primaryDescription(descriptionId).map { desc =>
        @defining(if (item.descriptions.size > 1) desc.localId else None) { dlid =>
            <a href="@controllers.units.routes.DocumentaryUnits.get(item.id, dlid)">
                <span class="primary-identifier">@item.data.identifier</span> | @item.toStringLang
            </a>
        }
    }
} {
    @item.data.primaryDescription(descriptionId).map { desc =>
        @searchItemBody(item, desc)
    }.getOrElse {
        <small>@Messages("description.noDescriptions")</small>
    }
}
