@(result: services.search.SearchResult[(Model, services.search.SearchHit)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminSearchLayout(Messages("documentaryUnit.search"), result, action) {
    @views.html.admin.search.searchItemList(result)
} {
    @common.typeLabel(EntityType.DocumentaryUnit) {
    }
    @common.search.facetList(result.facetClasses, action)
}
