@(item: Accessible, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)


@views.html.admin.layout.rightSidebar(Messages("item.demote"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @formHelpers.submitButtonWithLogMessageInput(Messages("item.demote.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {

}
