@(item: models.base.Accessible, itemPage: utils.Page[PermissionGrant], scopePage: utils.Page[PermissionGrant], itemPermAction: Call, scopePermAction: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("permissions.manage.item", item.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <h3>@Messages("permissions.itemLevel.manage")</h3>
    <div class="well well-small text-muted">
        <i class="fa fa-info-circle-sign"></i>
        @Messages("permissions.itemLevel.manage.info")
    </div>
    <a href="@itemPermAction">@Messages("permissions.itemLevel.manage")</a>

    @views.html.admin.permissions.permissionList(None, itemPage)

    <hr />

    <h3>@Messages("permissions.scopeLevel.manage")</h3>
    <div class="well well-small text-muted">
        <i class="fa fa-info-circle-sign"></i>
        @Messages("permissions.scopeLevel.manage.info")
    </div>
    <a href="@scopePermAction">@Messages("permissions.scopeLevel.manage")</a>

    @views.html.admin.permissions.permissionList(None, scopePage, namespace = "s")

} {

}
