@(item: models.base.Accessible, page: utils.Page[PermissionGrant], itemPermAction: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("permissions.itemLevel.manage.item", item.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <a href="@itemPermAction">@Messages("permissions.itemLevel.manage")</a>
    @permissionList(None, page, "page")
} {
}
