@(item: models.base.Accessible, usersAndGroups: UsersAndGroups, action: (String, EntityType.Value,String) => Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("permissions.accessor.scopeLevel.item", item.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <p class="admin-help-notice">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        @Messages("permissions.scopeLevel.manage.info")
    </p>

    @if(usersAndGroups.groups.nonEmpty) {
        <strong>@Messages("contentTypes.Group"): </strong>&nbsp;
        <ul>
        @usersAndGroups.groups.map { case (id, name) =>
        <li>
            <a href="@action(item.id, EntityType.Group, id)">@name</a>
        </li>
        }
        </ul>
        <hr />
    }

    @if(usersAndGroups.users.nonEmpty) {
        <strong>@Messages("contentTypes.UserProfile"): </strong>&nbsp;
        <ul>
        @usersAndGroups.users.map { case (id, name) =>
        <li>
            <a href="@action(item.id, EntityType.UserProfile, id)">@name</a>
        </li>
        }
        </ul>
    }
} {

}
