@(accessorOpt: Option[models.base.Accessor], perm: PermissionGrant, showRevoke: Boolean = false)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

<li class="list-item list-unstyled">
        <h4>
            @perm.data.permission
            @if(showRevoke) {
                @accessorOpt.collect {
                    case u: UserProfile => {
                        <a href="@controllers.users.routes.UserProfiles.revokePermission(u.id, perm.id)" aria-label="@Messages("permissions.revoke")">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                        </a>
                    }
                    case u: Group => {
                        <a href="@controllers.groups.routes.Groups.revokePermission(u.id, perm.id)" aria-label="@Messages("permissions.revoke")">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                        </a>
                    }
                }
            }
        </h4>
    <ul>
        @perm.accessor.map { accessor =>
        <li>
            @Messages("permissionGrant.accessor"):
            <a href="@views.admin.Helpers.linkTo(accessor)">@accessor.toStringLang</a>
        </li>
        }
        @perm.targets.map { t =>
        <li>
            @Messages("permissionGrant.targets"):
            @t match {
            case c: DataContentType => {
            <strong>@Messages("contentTypes." + c.id)</strong>
            }
            case t => {
            <a href="@views.admin.Helpers.linkTo(t)">@t.toStringLang</a>
            }
            }

        </li>
        }
        @perm.scope.map { s =>
        <li>
            @Messages("permissionGrant.scope"):
            <a href="@views.admin.Helpers.linkTo(s)">@s.toStringLang</a>
        </li>
        }
        @perm.grantee.map { s =>
        <li>
            @Messages("permissionGrant.grantedBy"):
            <a href="@views.admin.Helpers.linkTo(s)">@s.toStringLang</a>
        </li>
        }
    </ul>
</li>
