@(item: models.base.Accessor, page: utils.Page[PermissionGrant])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("permissionGrant.heading", item.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @permissionList(Some(item), page)
} {

}