@(item: models.base.Accessor, perm: PermissionGrant, action: Call, cancel: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("permissions.revoke"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <ul>
        @permissionGrantItem(Some(item), perm)
    </ul>

    @helper.form(action = helper.CSRF(action), 'class -> "form-actions") {
        @formHelpers.submitButtonWithLogMessageInput(Messages("permissions.revoke.submit"), cancel = views.admin.Helpers.linkToOpt(item))
    }
} {

}

