@(item: models.base.Accessible, accessor: models.base.Accessor, perms: ItemPermissionSet, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("permissions.grant.item", item.toStringLang, accessor.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @helper.form(action = action) {
        @formHelpers.csrfToken()
        <fieldset id="permissionItem-area">
            <table class="table table-bordered permissions-matrix">
                <tr>
                @PermissionType.values.toList.map { perm =>
                    <th>@Messages("permissionTypes." + perm.toString)</th>
                }
                </tr>
                <tr>
                @PermissionType.values.toList.map { perm =>
                    <td>
                        @defining(accessor.getPermission(perms, perm)) { permOpt =>
                            <input type="checkbox" name="@item.contentType" value="@perm"
                        @if(permOpt.isDefined && permOpt.flatMap(_.inheritedFrom).isEmpty) {
                            checked
                        } />
                        @permOpt.flatMap(_.inheritedFrom).map { user =>
                            <span title="@Messages("permissions.inheritedFrom", user)">*</span>
                        }
                        }
                    </td>
                }
                </tr>
            </table>
        </fieldset>
        @formHelpers.submitButtonWithLogMessageInput(Messages("permissions.grant.submit"), cancel = views.admin.Helpers.linkToOpt(item))
    }
} {
}
