@(item: models.base.Accessible, accessor: models.base.Accessor, perms: GlobalPermissionSet, contentTypes: Seq[ContentTypes.Value], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("permissions.scopeLevel.grant.item", item.toStringLang, accessor.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @helper.form(action = action) {
        @formHelpers.csrfToken()
        <fieldset id="permissionScope-area">
            <table class="table table-bordered permissions-matrix">
                <tr>
                    <th></th>
                    @PermissionType.values.toList.map { perm =>
                        <th>@Messages("permissionTypes." + perm.toString)</th>
                    }
                </tr>
                @contentTypes.map { ct =>
                    <tr>
                        <td>@Messages("contentTypes." + ct)</td>
                        @PermissionType.values.toList.map { perm =>
                            <td>
                                @defining(accessor.getPermission(perms, ct, perm)) { permOpt =>
                                    <input type="checkbox" name="@ct" value="@perm"
                                    @{if(permOpt.isDefined && permOpt.flatMap(_.inheritedFrom).isEmpty) "checked"} />
                                    @permOpt.flatMap(_.inheritedFrom).map { user =>
                                        <span title="@Messages("permissions.inheritedFrom", user)">*</span>
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </fieldset>
        @formHelpers.submitButtonWithLogMessageInput(Messages("permissions.update"), cancel = views.admin.Helpers.linkToOpt(item))
    }
} {
}
