@(f: Form[Seq[String]], users: Seq[(String,String)], groups: Seq[(String,String)])(implicit req: RequestHeader, messages: Messages, md: views.MarkdownRenderer)

@import backend.rest.Constants.ACCESSOR_PARAM

<fieldset id="visibility-area">
    <legend>@Messages("visibility.update")</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="visibility_groups">@Messages("contentTypes.group")</label>
        <div class="col-sm-9">
            <select class="form-control select2" data-placeholder="@Messages("visibility.chooseGroups")" multiple
            name="@(ACCESSOR_PARAM)[]">
            @groups.map{ case(id, name) =>
                <option value="@id" @(if(f.value.exists(_.contains(id))) "selected")>@name</option>
            }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="visibility_users">@Messages("contentTypes.userProfile")</label>
        <div class="col-sm-9">
            <select class="form-control select2" data-placeholder="@Messages("visibility.chooseUsers")" multiple
            name="@(ACCESSOR_PARAM)[]">
            @users.map { case(id, name) =>
                <option value="@id" @(if(f.value.exists(_.contains(id))) "selected")>@name</option>
            }
            </select>
        </div>
    </div>
</fieldset>
