@(item: models.base.Accessible, f: Form[Seq[String]], usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(Messages("visibility.update"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @if(item.accessors.isEmpty) {
        <h3>@Messages("visibility.visibleToEveryone")</h3>
        <p class="minor-notice">@Messages("visibility.visibleToEveryoneMessage")</p>
    } else {
        <h3>
            <i class="fa fa-lock"></i>
            @Messages("visibility.restrictedVisibility")
        </h3>
        <p>
        @Messages("visibility.restrictedVisibilityMessage")
        <ul>
        @item.accessors.sortBy(_.isA).map { a =>
            <li><a href="@views.admin.Helpers.linkTo(a)">@a.toStringLang</a></li>
        }
        </ul>
        </p>
    }

    @helper.form(action = action) {
        @formHelpers.csrfToken()
        @views.html.admin.permissions.visibilityForm(f, usersAndGroups)
        @formHelpers.submitButtonWithLogMessageInput(Messages("visibility.update.submit"), cancel = views.admin.Helpers.linkToOpt(item))
    }
} {
}
