@(item: Concept)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Create)) {
        <a href="@controllers.keywords.routes.Concepts.createConcept(item.id)">@Messages("cvocConcept.narrower.create")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Update)) {
        <a href="@controllers.keywords.routes.Concepts.update(item.id)">@Messages("item.update")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Delete)) {
        <a href="@controllers.keywords.routes.Concepts.delete(item.id)">@Messages("item.delete")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Grant)) {
        <a href="@controllers.keywords.routes.Concepts.managePermissions(item.id)">@Messages("permissions.manage")</a>
    }
    @views.html.admin.common.sidebarAction() {
        <a href="@controllers.keywords.routes.Concepts.history(item.id)">@Messages("item.history")</a>
    }
}