@(item: Concept)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Create)) {
        <a href="@controllers.keywords.routes.Concepts.createConcept(item.id)">
            @Messages("cvocConcept.narrower.create")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Update)) {
        <a href="@controllers.keywords.routes.Concepts.setBroader(item.id)">
            @Messages("cvocConcept.broaderTerms.set")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Update)) {
        <a href="@controllers.keywords.routes.Concepts.update(item.id)">
            <i class="fa fa-fw fa-edit"></i>
            @Messages("item.update")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Annotate)) {
        <a href="@controllers.keywords.routes.Concepts.linkAnnotateSelect(item.id, EntityType.Concept)">
            <i class="fa fa-fw fa-chain"></i>
            @Messages("link.create")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Concept, PermissionType.Delete), danger = true) {
        <a href="@controllers.keywords.routes.Concepts.delete(item.id)">
            <i class="fa fa-fw fa-trash-o"></i>
            @Messages("item.delete")
        </a>
    }
}

@views.html.common.sidebarSection(Messages("export")) {
    @views.html.admin.common.sidebarActionGroup {
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.admin.routes.Data.getItemRawJson(item.isA, item.id)">
                <i class="fa fa-fw fa-file-code-o"></i>
                @Messages("export.format.json")
            </a>
        }
    }
}
