@(item: Model, f: play.api.data.Form[ConceptF], vf: Form[Seq[String]], usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@breadcrumbs = {
    @item match {
        case c: Concept => {
            @views.html.admin.concept.breadcrumbs(c)
        }

        case v: Vocabulary => {
            @views.html.admin.common.breadcrumbs(List(v))
        }

        case _ => {
            @Html("")
        }
    }
}


@views.html.admin.layout.rightSidebar(Messages("cvocConcept.create")) {

	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @form(f)

        @views.html.admin.permissions.visibilityForm(vf, usersAndGroups)

        @formHelpers.submitButtonWithLogMessageInput(Messages("cvocConcept.create.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {

}
