@(item: Concept, desc: ConceptDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import ConceptF._

@listItem(list: Seq[_], label: String) = {
    <dt>@Messages(prefix + "." + label)</dt>
    <dd>
    @if(list.isEmpty) {
        <i class="text-muted">@Messages("describedEntity.notGiven")</i>
    } else {
        <ul>@views.html.admin.common.propertyList(list.toList: _*)</ul>
    }
    </dd>
}

@views.html.admin.layout.descriptionOutline(item, desc) {
    @views.html.admin.common.descriptionHeader(desc.name)
    <dl class="dl-horizontal">
        <dt>@Messages(prefix + "." + PREFLABEL)</dt>
        <dd>
            @desc.name
            <i class="text-muted">
                [@views.Helpers.languageCodeToName(desc.languageCode)]
            </i>
        </dd>
        @listItem(desc.altLabels.toList.flatten, ALTLABEL)
        @listItem(desc.scopeNote.toList.flatten, SCOPENOTE)
        @listItem(desc.definition.toList.flatten, DEFINITION)
    </dl>
}
