@(item: Concept, desc: ConceptDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import ConceptF._

@listItem(list: Seq[String], label: String) = {
    <dt>@Messages(prefix + "." + label)</dt>
    <dd>
    @if(list.isEmpty) {
        <i class="text-muted">@Messages("describedEntity.notGiven")</i>
    } else {
        <ul class="list-unstyled">
            @views.html.admin.common.propertyList(list)
        </ul>
    }
    </dd>
}

@views.html.admin.common.descriptionOutline(item, desc) {
    @views.html.admin.common.descriptionHeader(desc.name)
    <dl class="dl-horizontal">
        <dt>@Messages(prefix + "." + PREFLABEL)</dt>
        <dd>
            @desc.name
            <i class="text-muted">
                [@views.Helpers.languageCodeToName(desc.languageCode)]
            </i>
        </dd>
        @Map(ALTLABEL -> desc.altLabels, HIDDENLABEL -> desc.hiddenLabels,
            SCOPENOTE -> desc.scopeNote, DEFINITION -> desc.definition).map { case (key, listOpt) =>
            @listOpt.map { list =>
                @listItem(list, key)
            }
        }
        @item.model.uri.map { uri =>
            <dt>@Messages(prefix + "." + URI)</dt>
            <dd><a href="@uri" class="external" target="_blank">@uri</a></dd>
        }
    </dl>

    @item.model.url.map { url =>
        <a href="@url" target="_blank">@url</a>
    }

    @if(item.model.seeAlso.nonEmpty) {
        <h4>@Messages("cvocConcept.seeAlso"):</h4>
        <ul class="list-unstyled">
            @for(list <- item.model.seeAlso.toList; item <- list) {
                <li><a href="@item" target="_blank">@item</a></li>
            }
        </ul>
    }

    @for(lat <- item.model.latitude; lng <- item.model.longitude) {
        <h4>@Messages("cvocConcept.latLon"):</h4>
        <p>
            <a target="_blank" href="http://maps.google.com/maps?q=@lat,@lng">@lat,@lng</a>
            @globalConfig.mapsApiKey.map { mapsApiKey =>
                <iframe width="300" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=@mapsApiKey&center=@lat%2C@lng&zoom=12"></iframe>
            }
        </p>
    }
}
