@(desc: play.api.data.Field)(implicit prefix: String, config: Option[forms.FormConfig], userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import Entity.IDENTIFIER
@import models.ConceptF._
@import views.html.formHelpers._
@import models.base.Description._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.common.descriptionForm(desc, cls = "concept-description-form inline-element") {
    <a class="close remove-inline-element" title="@Messages("item.field.remove")" aria-label="@Messages("item.field.remove")" tabindex="-1" href="#">&times;</a>
    @choiceInput(desc, LANG_CODE, views.Helpers.languagePairList, '_blank -> true)
    @choiceInput(desc, IDENTIFIER, views.Helpers.scriptPairList, '_blank -> true)
    @formHelpers.lineInput(desc, PREFLABEL)
    @formHelpers.inlineNameSet(desc, ALTLABEL)
    @formHelpers.inlineNameSet(desc, HIDDENLABEL)
    @formHelpers.inlineTextSet(desc, SCOPENOTE, rows = 4)
    @formHelpers.inlineTextSet(desc, DEFINITION, rows = 4)
}
