@(desc: play.api.data.Field)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, prefix: String, messages: Messages, md: views.MarkdownRenderer)

@import ConceptF._
@import views.html.formHelpers._
@import Description._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.common.descriptionForm(desc, cls = "concept-description-form inline-element well well-small") {
    <div class="inline-element-block-controls">
        <a class="remove-inline-element" tabindex="-1" href="#">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>


    @choiceInput(desc(LANG_CODE), LANG_CODE, views.Helpers.languagePairList, blank=true)

    @formHelpers.lineInput(desc, PREFLABEL)
    @formHelpers.inlineNameSet(desc, ALTLABEL)
    @formHelpers.inlineTextSet(desc, SCOPENOTE, rows = 4)
    @formHelpers.inlineTextSet(desc, DEFINITION, rows = 4)

    @formHelpers.lineInput(desc, LONGITUDE)
    @formHelpers.lineInput(desc, LATITUDE)

    @formHelpers.lineInput(desc, URL)
    <hr />
}
