@(item: Concept, desc: ConceptDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import ConceptF._

@listItem(list: Seq[_], label: String) = {
    <dt>@Messages(prefix + "." + label)</dt>
    <dd>
    @if(list.isEmpty) {
        <i class="text-muted">@Messages("describedEntity.notGiven")</i>
    } else {
        <ul>@views.html.admin.common.propertyList(list.toList: _*)</ul>
    }
    </dd>
}

@views.html.admin.layout.descriptionOutline(item, desc) {
    @views.html.admin.common.descriptionHeader(desc.name)
    <dl class="dl-horizontal">
        <dt>@Messages(prefix + "." + PREFLABEL)</dt>
        <dd>
            @desc.name
            <i class="text-muted">
                [@views.Helpers.languageCodeToName(desc.languageCode)]
            </i>
        </dd>
        @Map(ALTLABEL -> desc.altLabels, SCOPENOTE -> desc.scopeNote, DEFINITION -> desc.definition).map { case (key, listOpt) =>
            @listOpt.map { list =>
                @listItem(list, key)
            }
        }
        @Map(LONGITUDE -> desc.longitude.map(_.toString), LATITUDE -> desc.latitude.map(_.toString)).map { case (key, valueOpt) =>
            @valueOpt.map { value =>
                <dt>@Messages(prefix + "." + key)</dt>
                <dd>@value</dd>
            }
        }
    </dl>

    @desc.url.map { url =>
        <a href="@url" target="_blank">@url</a>
    }

    @for(lat <- desc.latitude; lng <- desc.longitude; mapsApiKey <- globalConfig.mapsApiKey) {
        <hr />
        <iframe width="300" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=@mapsApiKey&center=@lat%2C@lng&zoom=12"></iframe>
    }
}
