@(item: Concept, f: play.api.data.Form[models.ConceptF], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("cvocConcept.update"), breadcrumbs = breadcrumbs(item)) {
		
	@helper.form(action = action) {
        @formHelpers.csrfToken()
		@form(f)

        @formHelpers.submitButtonWithLogMessageInput(Messages("cvocConcept.update.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {

}
`
