@(f: play.api.data.Form[models.ConceptF])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import models.ConceptF._
@import views.html.formHelpers._

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@lineInput(f(""), Entity.IDENTIFIER)

@defining("cvocConcept") { implicit prefix =>
    @defining(Option.empty[forms.FormConfig]) { implicit implicitConfig =>
        @lineInput(f(""), URI)
        @lineInput(f(""), URL)
        @lineInput(f(""), LONGITUDE)
        @lineInput(f(""), LATITUDE)
        @inlineNameSet(f(""), SEEALSO)

        <fieldset id="descriptions-area">
            <div class="inline-formset" data-prefix="descriptions">
                <h3>@Messages(prefix + ".descriptions")</h3>
                <div class="inline-element-template form-template">
                    @descriptionForm(f("descriptions[IDX]"))
                </div>
                <div class="inline-element-list inline-element-block">
                    @helper.repeat(f("descriptions"), min=math.max(f("descriptions").indexes.length, 1)) { desc =>
                        @descriptionForm(desc)
                    }
                </div>
                <div class="add-description">
                    <a class="add-inline-element btn btn-success btn-xs" tabindex="-1" href="#">
                        <i class="fa fa-plus"></i>
                        @Messages("cvocConcept.createDescription")
                    </a>
                </div>
            </div>
        </fieldset>
    }
}
