@(field: play.api.data.Field, name: String)(implicit fieldPrefix: String, messages: Messages)

<div class="inline-formset clearfix" data-prefix="@name">
    <label class="control-label">
        @Messages(fieldPrefix + "." + name)
        <a href="#" class="add-inline-element"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </label>
    <div class="form-template inline-element-template">
        @inlineName(field(name + "[IDX]"))
    </div>
    <div class="inline-element-list">
	    @helper.repeat(field(name), min = 0) { field =>
	        @inlineName(field)
	    }
    </div>
</div>
