@(page: utils.Page[Concept], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.noSidebar(Messages("cvocConcept.list")) {

	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

	<ul class="list-unstyled">
	@page.items.map { item =>
	  	@listItem(item)
	}
	</ul>

    @common.pagination(page)
}
