@(item: Concept, page: utils.Page[Concept], params: utils.PageParams, links: Seq[Link], annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@extraCss = {
    @for(_ <- item.data.longitude ; _ <- item.data.latitude) {
        <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("js/lib/leaflet-1.3.1/leaflet.css")"/>
    }
}

@extraScript = {
    @for(_ <- item.data.longitude ; _ <- item.data.latitude) {
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/leaflet-1.3.1/leaflet.js")"></script>
    }
}

@views.html.admin.layout.adminLayout(item.toStringLang, styles = extraCss, scripts = extraScript) {
    @breadcrumbs(item)
    @common.mainContent {
        @common.itemDetails {
            @defining("cvocConcept") { implicit fieldPrefix =>
                @defining(item.data.descriptionsWithSelected()) { descriptions =>
                    @common.descriptionContainer(descriptions, dropdown = true) {
                        @descriptions.map { case (desc, selected) =>
                            @description(item, desc, links, annotations, selected)
                        }
                        @if(item.broaderTerms.nonEmpty || item.vocabulary.isDefined) {
                            <dl class="item-meta">
                            @item.vocabulary.map { v =>
                                <dt>@Messages("cvocConcept.inVocabulary")</dt>
                                <dd><a href="@controllers.vocabularies.routes.Vocabularies.get(v.id)">@v.toStringLang</a></dd>
                            }
                            @if(item.broaderTerms.nonEmpty) {
                                <dt>@Messages("cvocConcept.broaderTerms")</dt>
                                <dd>
                                    <ul>
                                    @item.broaderTerms.sortBy(_.toString).map { t =>
                                        <li><a href="@controllers.keywords.routes.Concepts.get(t.id)">@t.toStringLang</a></li>
                                    }
                                    </ul>
                                </dd>
                            }
                            </dl>
                        }


                        @item.data.url.map { url =>
                            <a href="@url" target="_blank">@url</a>
                        }

                        @if(item.data.seeAlso.nonEmpty) {
                            <h4>@Messages("cvocConcept.seeAlso"):</h4>
                            <ul class="list-unstyled">
                            @item.data.seeAlso.map { item =>
                                <li><a href="@item" target="_blank">@item</a></li>
                            }
                            </ul>
                        }
                        @for(longitude <- item.data.longitude; latitude <- item.data.latitude) {
                            <div class="point-map" style="height: 400px" data-lat="@latitude" data-lon="@longitude" data-point="@item.toStringLang"></div>
                            <script src="@controllers.portal.routes.PortalAssets.versioned("js/point-map.js")"></script>
                        }
                        @views.html.admin.common.filterableList("cvocConcept.narrowerTermsPageHeader", page, params) {
                            <ul>
                            @page.items.map(c => views.html.admin.concept.listItem(c))
                            </ul>
                        }

                    } {
                        @common.typeLabel(item.isA) {
                        }
                    } {
                        @views.html.admin.common.latestAction(item, controllers.keywords.routes.Concepts.history(item.id))
                        @views.html.admin.common.visibility(item, controllers.keywords.routes.Concepts.visibility(item.id), ContentTypes.Concept)
                        @adminActions(item)
                    }
                }
            }

            @views.html.admin.link.annotationLinks(item, links)
            @views.html.admin.link.externalLinks(item, links)
        }
    }
}
