@(item: Concept, page: utils.Page[Concept], params: utils.PageParams, links: Seq[Link], annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

@views.html.admin.layout.adminLayout(item.toStringLang) {
    @breadcrumbs(item)
    @layout.mainContent {
        @layout.itemDetails {
            @defining(item.isA.toString) { implicit fieldPrefix =>
                @layout.descriptionContainer(item.model.descriptions) {
                    <div class="row">
                        <div class="col-md-8">
                            @item.model.descriptions.map { desc =>
                                @description(item, desc, links, annotations)
                            }
                        </div>
                        <div class="col-md-4">
                            @if(item.broaderTerms.nonEmpty || item.vocabulary.isDefined) {
                                <div class="well well-small">
                                @item.vocabulary.map { v =>
                                    <h5>@Messages("cvocConcept.inVocabulary")</h5>
                                    <p class="text-muted"><a href="@controllers.vocabularies.routes.Vocabularies.get(v.id)">@v.toStringLang</a></p>
                                }
                                @if(item.broaderTerms.nonEmpty) {
                                    <hr />
                                    <h5>@Messages("cvocConcept.broaderTerms")</h5>
                                    <ul>
                                    @item.broaderTerms.sortBy(_.toString).map { t =>
                                        <li><a href="@controllers.keywords.routes.Concepts.get(t.id)">@t.toStringLang</a></li>
                                    }
                                    </ul>
                                }
                                </div>
                            }
                        </div>
                    </div>

                    @views.html.admin.common.filterableList("cvocConcept.narrowerTermsPageHeader", page, params) {
                        <ul>
                            @page.items.map(c => views.html.admin.concept.listItem(c))
                        </ul>
                    }

                } {

                } {
                    @views.html.admin.common.latestAction(item, controllers.keywords.routes.Concepts.history(item.id))
                    @views.html.admin.common.visibility(item, controllers.keywords.routes.Concepts.visibility(item.id), ContentTypes.Concept)
                    @adminActions(item)
                }
            }

            @views.html.admin.link.annotationLinks(item, links)
            @views.html.admin.link.externalLinks(item, links)
        }
    }
}