@(item: AnyModel, page: utils.Page[SystemEvent], params: utils.RangeParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import views.Helpers

@views.html.admin.layout.noSidebar(Messages("item.history.item", item.toStringLang), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)

    <ul class="list-unstyled">
        @page.items.map(s => listEntry(s))
    </ul>
}