@(page: utils.RangePage[SystemEvent], params: utils.RangeParams, filterForm: Form[utils.SystemEventParams], users: Seq[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import defines.EventType
@import backend.rest.Constants._
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.cleanFieldTemplate.f) }


@views.html.admin.layout.rightSidebar(Messages("systemEvent.list")) {

    <div class="event-filter">
        @helper.form(action = controllers.events.routes.SystemEvents.list, 'class -> "form-inline", 'role -> "form") {
            <input type="hidden" name="@OFFSET_PARAM" value="@params.offset" />
            <input type="hidden" name="@LIMIT_PARAM" value="@params.limit" />
            @defining(EntityType.SystemEvent.toString) { implicit fieldPrefix =>
                @formHelpers.multiselectInput(
                    filterForm(EVENT_TYPE),
                    EVENT_TYPE,
                    EventType.values.map(e => e.toString -> Messages(fieldPrefix + "." + e.toString)).toSeq.sorted,
                    autosubmit = true
                )
                @formHelpers.multiselectInput(
                    filterForm(USERS),
                    USERS,
                    users,
                    autosubmit = true
                )
            }
        }
    </div>

	<ul class="list-unstyled">
	    @page.map(e => listEntry(e))
	</ul>

    @common.rangePagination(page)
} {

}