@(item: AnyModel, form: play.api.data.Form[AnnotationF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, menuConfig: MenuConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.annotate", item)) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @formHelpers.textInput(form(""), AnnotationF.BODY)
        @formHelpers.hiddenInput(form(AnnotationF.FIELD))
        @formHelpers.hiddenInput(form(AnnotationF.ANNOTATION_TYPE))

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("submitButton.annotate")</button>
		</div>
	}
} {

}