@(item: Vocabulary)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.hasPermission(defines.ContentTypes.Concept, defines.PermissionType.Create)) {
        <a href="@controllers.vocabularies.routes.Vocabularies.createConcept(item.id)">@Messages("cvocConcept.topLevel.create")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(defines.ContentTypes.Vocabulary, defines.PermissionType.Update)) {
        <a href="@controllers.vocabularies.routes.Vocabularies.update(item.id)">@Messages("item.update")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(defines.ContentTypes.Vocabulary, defines.PermissionType.Delete)) {
        <a href="@controllers.vocabularies.routes.Vocabularies.delete(item.id)">@Messages("item.delete")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(defines.ContentTypes.Vocabulary, defines.PermissionType.Grant)) {
        <a href="@controllers.vocabularies.routes.Vocabularies.managePermissions(item.id)">@Messages("permissions.manage")</a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(defines.ContentTypes.Concept, defines.PermissionType.Update)) {
        <a href="@controllers.vocabularies.routes.VocabularyEditor.editor(item.id)">@Messages("cvocVocabulary.items.edit")</a>
    }
    @views.html.admin.common.sidebarAction(user.isAdmin) {
        <a href="@controllers.vocabularies.routes.Vocabularies.updateIndex(item.id)">@Messages("search.index.update")</a>
    }
}

@views.html.admin.common.sidebarSection(Some(Messages("export"))) {
    @views.html.admin.common.sidebarActionGroup {
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.admin.routes.Data.getItemRawJson(item.isA, item.id)">@Messages("export.format.json")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.vocabularies.routes.Vocabularies.exportSkos(item.id, format = Some("TTL"))">
            @Messages("export.format.ttl")
            </a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.vocabularies.routes.Vocabularies.exportSkos(item.id, format = Some("RDF/XML"))">
            @Messages("export.format.rdf_xml")
            </a>
        }
    }
}

@views.html.admin.common.sidebarSection(Some(Messages("ingest"))) {
    @views.html.admin.common.sidebarActionGroup {
        @views.html.admin.common.sidebarAction(userOpt.forall(_.isAdmin)) {
            <a href="@controllers.vocabularies.routes.Vocabularies.ingest(item.id)">@Messages("ingest.format.skos")</a>
        }
    }
}
