@(item: Vocabulary)(implicit req: RequestHeader, messages: Messages, md: MarkdownRenderer)

@common.search.searchItemOutline(item) {
    <a href="@controllers.vocabularies.routes.Vocabularies.get(item.id)">@item.toStringLang</a>
} {
    @item.latestEvent.map { event =>
        <ul class="search-item-details">
            <li title="@common.eventTitle(event)">
                <time datetime="@event.data.timestamp">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))</time>
            </li>
        </ul>
    }

    @item.data.description.filterNot(_.isEmpty).map { desc =>
        <p>@desc</p>
    }

    @views.html.common.childCount(item) { count =>
        @views.html.admin.helpers.linkToWithBody(item, fragment = s"#${item.id}-child-item-search", attributes = Seq('class -> "child-items-inline-load collapsed")) {
            <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
            @Messages("cvocVocabulary.childCount", count)
        }
    }
}
