@(page: utils.Page[Vocabulary], params: utils.PageParams)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(Messages("cvocVocabulary.list"), EntityType.Vocabulary) {

	<h3>@Messages("pagination.displayingItems", page.offset + 1, page.offset + page.items.size, page.total)</h3>

    @common.pagination(page)
	
	<ul class="list-unstyled">
	    @page.items.map { item =>
            <li>
                @listItem(item)
            </li>
        }
	</ul>

} {
    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.Vocabulary, PermissionType.Create)) {
            <a href="@controllers.vocabularies.routes.Vocabularies.create">
                <i class="fa fa-fw fa-plus-square-o"></i>
                @Messages("cvocVocabulary.create")
            </a>
        }
    }
}
