@(item: Vocabulary, result: services.search.SearchResult[(models.Concept, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebarWithType(item.toStringLang, item.isA, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @views.html.admin.common.annotated(item, annotations) {
        @defining("cvocVocabulary") { implicit  prefix =>
            @views.html.admin.common.textValue(VocabularyF.DESCRIPTION, item.data.description)
        }
    }

    @views.html.admin.search.searchSection(item, Messages("cvocVocabulary.items"), result) {
        @views.html.common.search.searchForm(result, action, autofocus = false) {
            @views.html.admin.search.searchItemList(result)
        } {
            @common.search.facetList(result.facetClasses, action)
        }
    }
} {
    @views.html.admin.common.promotion(item, controllers.vocabularies.routes.Vocabularies.promote(item.id), controllers.vocabularies.routes.Vocabularies.demote(item.id), ContentTypes.Vocabulary)
    @views.html.admin.common.visibility(item, controllers.vocabularies.routes.Vocabularies.visibility(item.id), ContentTypes.Vocabulary)
    @views.html.admin.common.latestAction(item, controllers.vocabularies.routes.Vocabularies.history(item.id))

    @views.html.admin.vocabulary.adminActions(item)
}
