@(item: Vocabulary)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@styles = {
    <link href="@controllers.admin.routes.AdminAssets.versioned("css/vocabeditor.css")" rel="stylesheet">
}

@views.html.admin.layout.adminSinglePageAppLayout(Messages("cvocVocabulary.items.editor", item.toStringLang),
        styles = styles, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @helper.javascriptRouter("vocabEditorRoutes")(
        controllers.vocabularies.routes.javascript.VocabularyEditor.search,
        controllers.vocabularies.routes.javascript.VocabularyEditor.get,
        controllers.vocabularies.routes.javascript.VocabularyEditor.list,
        controllers.vocabularies.routes.javascript.VocabularyEditor.langs,
        controllers.vocabularies.routes.javascript.VocabularyEditor.broader,
        controllers.vocabularies.routes.javascript.VocabularyEditor.narrower,
        controllers.vocabularies.routes.javascript.VocabularyEditor.createItem,
        controllers.vocabularies.routes.javascript.VocabularyEditor.updateItem,
        controllers.vocabularies.routes.javascript.VocabularyEditor.deleteItem,
        controllers.vocabularies.routes.javascript.VocabularyEditor.nextIdentifier,
    )
    <script>
            window.SERVICE = vocabEditorRoutes.controllers.vocabularies.VocabularyEditor;
            window.CONFIG = {
                vocabId: "@item.id",
                vocabName: "@item.toStringLang",
                title: "@Messages("cvocVocabulary.items.editor", item.toStringLang)"
            }
    </script>

} {
    <script src="@controllers.admin.routes.AdminAssets.versioned("js/vocabeditor/app.js")"></script>
    <script>
            Vue.createApp({
                render: function() {
                    return Vue.h(App.default);
                }
            }).mount("#vue-app");
    </script>

}
