@(item: Vocabulary)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@styles = {
    <link href="@controllers.admin.routes.AdminAssets.versioned("css/vocabeditor.css")" rel="stylesheet">
}

@views.html.admin.layout.adminSinglePageAppLayout(Messages("cvocVocabulary.items.editor", item.toStringLang),
        styles = styles, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    <script src="@controllers.vocabularies.routes.VocabularyEditor.jsRoutes("@item.id")"></script>
} {
    <script src="@controllers.admin.routes.AdminAssets.versioned("js/vocabeditor/app.js")"></script>
    <script>
            Vue.createApp({
                render: function() {
                    return Vue.h(App.default, {
                        service: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor,
                        config: {
                            vocabId: "@item.id",
                            vocabName: "@item.toStringLang",
                            title: "@Messages("cvocVocabulary.items.editor", item.toStringLang)"
                        },
                        langData: window.__languageData,
                        localeHelpers: window.LocaleData
                    });
                }
            }).mount("#vue-app");
    </script>

}
