@(item: Vocabulary)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

<!DOCTYPE html>
<html lang="@messages.lang.code">
    <head>
        <title>@Messages("cvocVocabulary.items.editor", item.toStringLang)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="@controllers.portal.routes.PortalAssets.versioned("img/favicon.png")">
        <link href="@controllers.admin.routes.AdminAssets.versioned("css/vocabeditor.css")" rel="stylesheet">

        @conf.extraHeadContent.map(c => Html(c))
    </head>
    <body>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/js/select2.full.min.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/bootstrap.bundle.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/common.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/admin.js")"></script>
        <script src="@controllers.portal.routes.PortalData.jsRoutes()"></script>
        @helper.javascriptRouter("vocabEditorRoutes")(
            controllers.portal.routes.javascript.Portal.filterItems,
            controllers.vocabularies.routes.javascript.VocabularyEditor.get,
            controllers.vocabularies.routes.javascript.VocabularyEditor.list,
            controllers.vocabularies.routes.javascript.VocabularyEditor.langs,
            controllers.vocabularies.routes.javascript.VocabularyEditor.broader,
            controllers.vocabularies.routes.javascript.VocabularyEditor.narrower,
            controllers.vocabularies.routes.javascript.VocabularyEditor.createItem,
            controllers.vocabularies.routes.javascript.VocabularyEditor.updateItem,
            controllers.vocabularies.routes.javascript.VocabularyEditor.deleteItem,
            controllers.vocabularies.routes.javascript.VocabularyEditor.nextIdentifier,
        )

        <script>
                window.SERVICE = {
                    search: vocabEditorRoutes.controllers.portal.Portal.filterItems,
                    get: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.get,
                    list: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.list,
                    langs: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.langs,
                    broader: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.broader,
                    narrower: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.narrower,
                    createItem: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.createItem,
                    updateItem: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.updateItem,
                    deleteItem: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.deleteItem,
                    nextIdentifier: vocabEditorRoutes.controllers.vocabularies.VocabularyEditor.nextIdentifier,
                };
                window.CONFIG = {
                    vocabId: "@item.id"
                }
        </script>

        <script src="@controllers.admin.routes.AdminAssets.versioned("js/lib/vue.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/lib/lodash.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/lib/luxon.js")"></script>
        <script src="@controllers.portal.routes.PortalData.localeData()"></script>

        <div id="flex-wrapper">
            <header id="header" class="navigation">
                @views.html.admin.common.adminNavBar()
            </header>
            @views.html.admin.common.testWarning()
            @views.html.admin.common.breadcrumbs(List(item))
            <div id="flex-content" class="container" >
                <h2>@Messages("cvocVocabulary.items.editor", item.toStringLang)</h2>
                <div id="vocab-editor"></div>
            </div>
        </div>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/vocabeditor.js")"></script>
    </body>
</html>
