@(annotation: Annotation, editable: Boolean, cls: String = "")(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

<li class="annotation @{cls} @{if(annotation.isPromoted) "promoted"}" id="@annotation.id">
    @Html(md.renderUntrustedMarkdown(annotation.data.body))
    @for(user <- annotation.user ; event <- annotation.latestEvent) {
        <div class="annotation-meta">
            @views.html.helpers.linkTo(user, attributes = Seq('rel -> "nofollow"))
            <a class="time-permalink" href="#@annotation.id">@views.Helpers.relativeDate(event.data.timestamp)</a>

            @if(editable && !annotation.isPromoted) {
                <a data-item="@annotation.id" title="@Messages("annotation.update.title")" class="edit-annotation" href="@controllers.portal.annotate.routes.Annotations.editAnnotation(annotation.id, context = models.view.AnnotationContext.Field)">
                    @Messages("annotation.update")
                </a>
                <a data-item="@annotation.id" title="@Messages("annotation.delete.title")" class="delete-annotation" href="@controllers.portal.annotate.routes.Annotations.deleteAnnotation(annotation.id)">
                    @Messages("annotation.delete")
                </a>
            }
            @userOpt.map { user =>
                @if(!annotation.isPromoted && user.hasPermission(defines.ContentTypes.Annotation, defines.PermissionType.Promote) && annotation.data.isPromotable) {
                    <a data-item="@annotation.id" title="@Messages("promotion.promote.title")" class="promote-annotation" href="@controllers.portal.annotate.routes.Annotations.promoteAnnotation(annotation.id, context = models.view.AnnotationContext.Field)">
                        @Messages("promotion.promote")
                    </a>
                } else {
                    @if(annotation.isPromoted && user.hasPermission(defines.ContentTypes.Annotation, defines.PermissionType.Promote)) {
                        <a data-item="@annotation.id" title="@Messages("promotion.demote.title")" class="demote-annotation" href="@controllers.portal.annotate.routes.Annotations.demoteAnnotation(annotation.id, context = models.view.AnnotationContext.Field)">
                            @Messages("promotion.demote")
                        </a>
                    }
                }
            }
        </div>
    }
</li>
