@(f: Form[AnnotationF])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

@import AnnotationF._
@import utils.ContributionVisibility.{Me,Groups,Custom,PARAM}

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateEmpty.f) }

<div class="form-group markdown">
    <textarea autofocus required class="form-control" name="@BODY"
        placeholder="@Messages("annotation.placeholder")">@f(BODY).value</textarea>

    <div class="markdown-helper" title="@Messages("markdown.cheatsheet.title")">@Messages("markdown.cheatsheet.title")</div>
    @common.markdownCheatsheet()
</div>