@(f: Form[AnnotationF])(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, globalConfig: global.GlobalConfig)

@import AnnotationF._

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateEmpty.f) }

<div class="markdown">
    <textarea autofocus required class="form-control" name="@BODY"
        placeholder="@Messages("annotation.placeholder")">@f(BODY).value</textarea>

    <div class="markdown-helper" title="@Messages("markdown.cheatsheet.title")">
        @Messages("markdown.cheatsheet.title")
        @common.markdownCheatsheet()
    </div>
</div>
