@(annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, lang: Lang, globalConfig: global.GlobalConfig)

@defining(views.p.Helpers.sortAnnotations(annotations)) { case (mine, promoted, others) =>
    <ul class="annotation-list">
        @for(ann <- mine) {
            <li class="personal">@views.html.annotation.annotationInline(ann, true)</li>
        }
        @for(ann <- promoted) {
            <li class="promoted user-content @{if(!prefs.showUserContent) "hidden"}">
                @views.html.annotation.annotationInline(ann, false)
            </li>
        }
        @for(ann <- others) {
            <li class="other user-content @{if(!prefs.showUserContent) "hidden"}">
                @views.html.annotation.annotationInline(ann, false)
            </li>
        }
    </ul>
}
