@(item: Annotation, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, md: views.MarkdownRenderer, globalConfig: global.GlobalConfig)

<div class="search-item-details">
    <ul class="annotation-search-details">
        @for(field <- item.model.field; target <- item.target) {
            <li><strong>@Messages(target.isA + "." + field)</strong></li>
        }
        @for(user <- item.user ; event <- item.latestEvent) {
            <li title="@event.model.timestamp">@Html(
                Messages("annotation.createdBy", views.html.helpers.linkTo(user).body.trim,
                    views.Helpers.relativeDate(event.model.timestamp)))</li>
        }
    </ul>
</div>

@views.html.annotation.annotationText(item, highlighter)
@views.html.annotation.listItemFooter(item, highlighter)