@(g: Guide, f: Form[models.GuidePage], pages: List[GuidePage], guides: List[Guide], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@breadcrumbs = {
	<ol class="breadcrumb">
		<li><a href="@controllers.guides.routes.Guides.list()">Guides</a></li>
		<li><a class="active" href="@controllers.guides.routes.Guides.show(g.path)">@g.name</a></li>
	</ol>
}

@guide.guidesAdminLayout(Messages("guidePage.create"), guides, Some(pages -> g), breadcrumbs) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
    	@common.errorFlash(flash)

        @formHelpers.csrfToken()
    	@renderForm(None, f)

        @formHelpers.submitButtonWithLogMessageInput(Messages("guidePage.create.submit"))
	}
}
