@(item: Option[GuidePage], f: Form[models.GuidePage])

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(GuidePage.PREFIX) { implicit fieldPrefix =>
    @formHelpers.lineInput(f(""), GuidePage.NAME)
    @formHelpers.lineInput(f(""), GuidePage.PATH)
   	@formHelpers.choiceInput(f("position"), GuidePage.POSITION, GuidePage.MenuPosition.values.toList.map(row => {
   		row.toString -> Messages(fieldPrefix + "." + row)
	}))

   	@formHelpers.choiceInput(f("layout"), GuidePage.LAYOUT, GuidePage.Layout.values.toList.map(row => {
   		row.toString -> Messages(fieldPrefix + "." + row)
	}))
    @formHelpers.textInput(f(""), GuidePage.CONTENT)
    @formHelpers.hiddenInput(f("parent"))
}