@(result: utils.search.ItemPage[(AnyModel, utils.search.SearchHit)])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<ul class="list-unstyled">
    @result.items.map { case(item, id) =>
        @defining(Some(id)) { implicit descriptionId =>
            <li>
                @item match {
                    case d: DocumentaryUnit => {
                        @documentaryUnit.listItem(d)
                    }
                    case d: HistoricalAgent => {
                        @historicalAgent.listItem(d)
                    }
                    case d: Repository => {
                        @repository.listItem(d)
                    }
                    case d: Concept => {
                        @concept.listItem(d)
                    }
                    case d: Country => {
                        @country.searchItem(d)
                    }
                    case d: UserProfile => {
                        @userProfile.listItem(d)
                    }
                    case d: Group => {
                        @group.listItem(d)
                    }
                    case d: AuthoritativeSet => {
                        @authoritativeSet.listItem(d)
                    }
                    case d: Vocabulary => {
                        @vocabulary.listItem(d)
                    }
                    case _ => {
                        @common.searchItem(item)
                    }
                }
            </li>
        }
    }
</ul>
