@(field: play.api.data.Field, name: String)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<div class="control-form" data-prefix="@name">
        <!-- Template for adding inline date forms via JS -->
    <label class="col-sm-3 control-label">@Messages(fieldPrefix + "." + name)
        <a href="#" class="add-inline-element btn btn-mini">@Messages("accessPoint.create")</a>
    </label>
    <script type="application/x-js-template" class="inline-element-template">
        @formHelpers.accessPoint(field(name + "[IDX]"))
    </script>

    <div class="col-sm-9">
        @helper.repeat(field(name), min = 0) { desc =>
            @formHelpers.accessPoint(desc)
        }
    </div>
</div>
