@(desc: play.api.data.Field)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import AccessPointF.{NAME, TYPE, DESCRIPTION}

<div class="inline-element form-group" id="@desc.id">
    <a class="close remove-inline-element pull-right" tabindex="-1" href="#">&times;</a>
    @formHelpers.hiddenInput(desc(Entity.ID))
    @formHelpers.hiddenInput(desc(TYPE))
    <div class="col-sm-12">
        @List(NAME, DESCRIPTION).map { fname =>
            @formHelpers.lineInput(desc, fname)
        }
    </div>
</div>
