@(f: Form[_])(fieldRenderer: Field => Html)(implicit messages: Messages)

<script>
    jQuery(function ($) {
        $('#description-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show')
        });
    });
</script>

<section class="descriptions">
    <ul id="description-tabs" class="nav nav-tabs" role="tablist">
        @helper.repeatWithIndex(f("descriptions")) { (desc, i) =>
            <li role="presentation" class="@(if(i == 0) "active")">
                <a href="#description_@(i)_tab" role="tab" data-toggle="tab">
                    @Messages("describedEntity.description", i + 1) -
                    @desc(Description.LANG_CODE).value.map(utils.i18n.languageCodeToName)
                </a>
            </li>
        }
    </ul>
    <div class="description-form-tabs tab-content">
    @helper.repeatWithIndex(f("descriptions")) { (desc, i) =>
        <div class="description-form-tab tab-pane @(if(i == 0) "active")" role="tabpanel" id="description_@(i)_tab">
            @fieldRenderer(desc)
        </div>
    }
    </div>
</section>
