@(f: Form[_])(fieldRenderer: Field => Html)(implicit messages: Messages)

<script>
    jQuery(function ($) {
        $('#description-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show')
        });
    });
</script>

<section class="form-descriptions card">
    <div class="card-header">
    <ul id="description-tabs" class="nav nav-tabs card-header-tabs" role="tablist">
        @helper.repeatWithIndex(f("descriptions")) { (desc, i) =>
            <li class="nav-item" role="presentation">
                <a href="#description_@(i)_tab" class="nav-link @(if(i == 0) "active")" role="tab" data-toggle="tab">
                    @Messages("describedEntity.description", i + 1) -
                    @desc(models.base.Description.LANG_CODE).value.map(i18n.languageCodeToName)
                </a>
            </li>
        }
    </ul>
    </div>
    <div class="description-form-tabs tab-content card-body">
    @helper.repeatWithIndex(f("descriptions")) { (desc, i) =>
        <div class="description-form-tab tab-pane @(if(i == 0) "active")" role="tabpanel" id="description_@(i)_tab">
            @fieldRenderer(desc)
        </div>
    }
    </div>
</section>
