@(elements: helper.FieldElements)

<div class="form-group @if(elements.hasErrors) {has-error}">
@defining(Messages("constraint.required")(elements.p)) { required =>
    <label class="control-label" for="@elements.id">
        @elements.label
        @if(elements.infos.contains(required)) {
            <span class="required-input">@required</span>
        }
    </label>
    <div class="control-elements">
        @elements.input
        @if(elements.hasErrors) {
            <span class="help-block invalid-feedback">@elements.errors.mkString(" / ")</span>
        } else {
            @elements.args.get('_hint).map { hint =>
                <span class="help-block info">
                    @hint
                </span>
            }
            <span class="help-block">
                @elements.infos.filter(_ != required).map(i => Messages(i.toString)(elements.p)).mkString(", ")
            </span>
        }
    </div>
}
</div>
