@(field: play.api.data.Field, name: String)(implicit fieldPrefix: String, lang: Lang, fieldConstructor: views.html.helper.FieldConstructor)

<div class="inline-formset form-group clearfix @{if(field.hasErrors) "has-error"}" data-prefix="@name">
    <label class="col-sm-3 control-label">
        @Messages(fieldPrefix + "." + name)
        <a href="#"
            title="@views.Helpers.renderMarkdown(Messages(fieldPrefix + "." + name + ".description"))"
            class="add-inline-element">
            <i class="glyphicon glyphicon-plus-sign"></i>
        </a>
    </label>

    <div class="inline-element-template form-template">
        @formHelpers.inlineName(field(name + "[IDX]"))
    </div>
    <div class="inline-element-list col-sm-9">
        @helper.repeat(field(name), min = 0) { f =>
            @formHelpers.inlineName(f)
        }
    </div>
</div>
