@(field: play.api.data.Field, name: String)(implicit fieldPrefix: String, messages: Messages, md: MarkdownRenderer, fieldConstructor: views.html.helper.FieldConstructor)

<div class="inline-formset form-group clearfix @{if(field.hasErrors) "has-error"}" data-prefix="@name">
    <label class="control-label">
        @Messages(fieldPrefix + "." + name)
        <a href="#" class="add-inline-element" title="@Messages("item.field.add")" aria-label="@Messages("item.field.add")">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
    </label>

    <div class="inline-element-template form-template">
        @formHelpers.inlineName(field(name + "[IDX]"), name)
    </div>
    <div class="inline-element-list">
        @helper.repeat(field(name), min = 0) { f =>
            @formHelpers.inlineName(f, name)
        }
    </div>
</div>
