@(field: Field, key: String, rows: Int = 2)(implicit fieldPrefix: String, config: Option[forms.FormFieldHints] = None, messages: Messages, md: MarkdownRenderer)

<div class="inline-formset form-group @{if(field(key).hasErrors) "has-error"}" data-prefix="@key">
        <!-- Template for adding inline date forms via JS -->
        <label class="inline-label control-label">
            @config.flatMap(_.name(key)).getOrElse(Messages(fieldPrefix + "." + key))
        </label>
        <div class="inline-element-template form-template ">
            @formHelpers.inlineText(field(key + "[IDX]"), key, rows)
        </div>
        <div class="control-elements">
            @* NB: we render the usage label here differently to the translated way used when using the fieldTemplate
            * because the usage label is not translated in the same way as the field label.
            *@
            @config.flatMap(_.usage(key)).map { usage =>
                <span class="input-@usage">@usage.toString.capitalize</span>
            }
            <div class="inline-element-list">
                @helper.repeat(field(key), min = 0) { nfield =>
                    @formHelpers.inlineText(nfield, key, rows)
                }
            </div>
            <a href="#" class="add-inline-element" title="@Messages("item.field.add")" aria-label="@Messages("item.field.add")">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>

        </div>
</div>
