@(desc: Field, label: String, rows: Int = 2)(implicit fieldPrefix: String, messages: Messages, md: views.MarkdownRenderer, fieldConstructor: views.html.helper.FieldConstructor)

<div class="inline-formset form-group clearfix" data-prefix="@label">
    <!-- Template for adding inline date forms via JS -->
    <label class="inline-label control-label">
        @Messages(fieldPrefix + "." + label)
        <a href="#" class="add-inline-element" title="@Messages("item.field.add")" aria-label="@Messages("item.field.add")">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
    </label>
    <div class="inline-element-template form-template ">
        @inlineText(desc(label + "[IDX]"), label, rows)
    </div>
    <div class="inline-element-list">
        @helper.repeat(desc(label), min = 0) { field =>
            @inlineText(field, label, rows)
        }
    </div>
</div>
