@(desc: Field, name: String, rows: Int = 2)(implicit fieldPrefix: String, messages: Messages, md: MarkdownRenderer, fieldConstructor: views.html.helper.FieldConstructor)

<div class="inline-element">
    <div class="form-group @{if(desc.hasErrors) "has-error"}">
        <div class="inline-control">
            <textarea class="form-control" rows="@rows" name="@desc.name" id="@desc.id"
                title="@(md.renderMarkdown(Messages((if (fieldPrefix != "") fieldPrefix + "." else "") + name + ".description")))">@desc.value</textarea>
            <span class="help-block errors">@desc.errors.map(e => Messages(e.message)).mkString(", ")</span>
        </div>
        <div class="inline-remove">
            <a class="remove-inline-element" title="@Messages("item.field.remove")" aria-label="@Messages("item.field.remove")" tabindex="-1" href="#">&times;</a>
        </div>
    </div>
</div>

