@(field: play.api.data.Field, key: String)(implicit fieldPrefix: String, config: Option[forms.FormFieldHints] = None, messages: Messages, md: MarkdownRenderer, fieldConstructor: views.html.helper.FieldConstructor)

<div class="inline-element">
    <div class="form-group @{if(field.hasErrors) "has-error"}">
        <div class="inline-control">
            <input type="text" class="form-control"
                name="@field.name" id="@field.id" value="@field.value"
                title="@(md.renderMarkdown(config.flatMap(_.description(key)).getOrElse(Messages((if (fieldPrefix != "") fieldPrefix + "." else "") + key + ".description"))))">
            <span class="help-block errors">@field.errors.map(e => Messages(e.message)).mkString(", ")</span>
        </div>
       <div class="inline-remove">
            <a class="remove-inline-element" title="@Messages("item.field.remove")" aria-label="@Messages("item.field.remove")" tabindex="-1" href="#">&times;</a>
        </div>
    </div>
</div>
