@(desc: play.api.data.Field)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@import models.DatePeriodF._

<div class="inline-element">
    <div class="form-group">
        <div class="inline-control">
            @formHelpers.hiddenInput(desc(Entity.ID))
            @formHelpers.hiddenInput(desc(DESCRIPTION))
            <table class="table-condensed" id="@desc.id">
                <tr>
                    <td>
                    @defining(desc(TYPE).value.toSet) { values =>
                        <label for="@desc(TYPE).id" class="sr-only">@Messages("datePeriod.type")</label>
                        <select class="form-control" name="@desc(TYPE).name" id="@desc(TYPE).id">
                            <option></option>
                            @DatePeriodType.values.toList.sortBy(_.id).map { v =>
                                <option @if(values.contains(v.toString)){selected} value="@v.toString">@Messages("datePeriod.type." + v)</option>
                            }
                        </select>
                    }
                    </td>
                    <td>
                    @defining(desc(PRECISION).value.toSet) { values =>
                        <label for="@desc(PRECISION).id" class="sr-only">@Messages("datePeriod.precision")</label>
                        <select class="form-control precision" name="@desc(PRECISION).name" id="@desc(PRECISION).id">
                            <option></option>
                            @DatePeriodPrecision.values.toList.sortBy(_.id).map { v =>
                                <option @if(values.contains(v.toString)){selected} value="@v.toString">@Messages("datePeriod.precision." + v)</option>
                            }
                        </select>
                    }
                    </td>
                    @Seq(START_DATE, END_DATE).map { fname =>
                        @defining(desc(fname)) { field =>
                            <td class="@{if(field.hasErrors) "has-error"}">
                                <div class="input-group">
                                    <label for="@field.id" class="sr-only">@Messages(fieldPrefix + "." + fname)</label>
                                    <span class="datepicker-activation input-group-addon" data-target="#@field.id"><span class="glyphicon glyphicon-calendar"></span></span>
                                    <input class="form-control datepicker"  data-date-format="mm-dd-yyyy" type="text" name="@field.name" id="@field.id" value="@field.value" placeholder="@Messages(fieldPrefix + "." + fname)" id="@field.id" />
                                </div>
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td colspan="2"></td>
                    @Seq(START_DATE, END_DATE).map { fname =>
                        @defining(desc(fname)) { field =>
                            <td class="has-error">
                                @if(field.hasErrors) {
                                    <small>
                                        <span class="help-block">@field.errors.map(e => Messages(e.message, e.key)).mkString("; ")</span>
                                    </small>
                                }
                            </td>
                        }
                    }
                </tr>
            </table>
        </div>
        <div class="inline-remove">
            <a class="remove-inline-element" tabindex="-1" href="#">&times;</a>
        </div>
    </div>
</div>


