@(f: play.api.data.Field, label: String, options: Seq[(String,String)], autosubmit: Boolean = false, multiple: Boolean = false)(implicit fieldPrefix: String = "", messages: Messages, fc: helper.FieldConstructor)

@defining(views.Helpers.fieldValues(f)) { values =>
    @helper.input(f, 'title -> views.Helpers.renderMarkdown(Messages(fieldPrefix + "." + label + ".description")), '_label -> Messages(if(fieldPrefix.isEmpty) label else fieldPrefix + "." + label)) { (id, name, value, htmlArgs) =>
        @*NB: Appending a '[]' to the name param makes multi-select binding work *@
        @defining(if(multiple) name + "[]" else name) { mname =>
            <select class="form-control select2 @{if(autosubmit) "autosubmit"}" @{if(multiple) "multiple"} name="@mname" data-placeholder=@Messages(if(fieldPrefix.isEmpty) label else fieldPrefix + "." + label) id="@id">
                @options.map { case (oid, oval) =>
                    <option value="@oid" @{if(values.contains(oid)) "selected"}>@oval</option>
                }
            </select>
        }

    }
}

