@(buttonText: String, defaultLogMessage: String = "", cancel: Option[Call] = None)(implicit extra: Html = Html(""), conf: AppConfig, messages: Messages)

<div class="form-actions">
    <label class="sr-only" for="log-message">@Messages("forms.logMessage")</label>
    <input maxlength="@conf.logMessageMaxLength"
            class="form-control" type="text" name="logMessage"
            placeholder="@Messages("forms.logMessagePlaceholder")" id="log-message" value="@defaultLogMessage" />

    <div class="buttons">
        <button type="submit" class="btn btn-post">@buttonText</button>
        @cancel.map { call =>
            <a href="@call" class="btn btn-cancel">@Messages("cancel")</a>
        }
        @extra
    </div>
</div>
