@(buttonText: String, defaultLogMessage: String = "", cancel: Option[Call] = None)(implicit extra: Html = Html(""), messages: Messages)

<div class="form-actions">
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input class="form-control" type="text" name="logMessage" placeholder="@Messages("forms.logMessagePlaceholder")" id="log-message" value="@defaultLogMessage" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class=" btn  btn-post ">@buttonText</button>
                @cancel.map { call =>
                <a href="@call" class=" btn  btn-cancel ">@Messages("cancel")</a>
                }
                @extra
            </div>
        </div>
</div>
