@(desc: play.api.data.Field, fieldName: String, args: (Symbol,Any)*)(implicit prefix: String = "", defaults: Option[play.api.Configuration] = None, messages: Messages, fieldConstructor: views.html.helper.FieldConstructor)

@defining(desc(fieldName)) { field =>
    @helper.textarea(
        field = field.copy(value = field.value.orElse(defaults.flatMap(_.getString(fieldName)))),
        args = views.Helpers.argsWithDefaults(
            args.map { case (s,v) => if(s == 'class) s -> (v.toString + " form-control") else s -> v },
            'rows -> 4,
            '_label -> Messages(if (prefix.isEmpty) fieldName else s"$prefix.$fieldName"),
            'title -> views.Helpers.renderMarkdown(Messages((if (prefix != "") prefix + "." else "") + fieldName + ".description")),
            'class -> "form-control"
        ): _*
    )
}
