@(item: models.base.Model, result: services.search.SearchResult[(models.base.Model,services.search.SearchHit)], action: Call, watched: Seq[String], path: Seq[models.base.Model] = Seq.empty)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, context: Option[models.base.Holder[_]] = None)

@views.html.common.search.searchForm(result, action, key = Messages("documentaryUnit.searchItems", item.toStringLang), autofocus = false) {
    @defining(Some(item)) { implicit context =>

        <ul class="list-unstyled search-result-list">
            @result.page.items.map { case(doc, hit) =>
                @defining(result.params.query.map(_ => hit.id)) { implicit descriptionId =>
                    @defining(watched.contains(doc.id)) { watched =>
                        <li>@searchItem(doc, path :+ item, hit, watched)</li>
                    }
                }
            }
        </ul>
    }
} {
    @views.html.common.search.facetList(result.facetClasses, action)
}
