@(item: models.base.Model, path: Seq[models.base.Model])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages)

@wrapParent(items: Seq[models.base.Model])(html: Html) = {
    @if(items.nonEmpty) {
    <div class="item" style="padding-left: 5px">
        @items.headOption.map { item =>
            <h4>@views.html.helpers.linkTo(item)</h4>
            @wrapParent(items.tail)(html)
        }
    </div>
    } else {
        @html
    }
}


@views.html.common.sidebarSection(cls = "collection-context virtualUnit") {
    <p class="alert alert-info">
        @Messages("virtualUnit.viewInArchivalContext.explanation")
        <br />
        @views.html.helpers.linkTo(item.asInstanceOf[DocumentaryUnit], Html(Messages("virtualUnit.viewInArchivalContext")))
    </p>
    @path.headOption.map { vc =>
        <h3>@views.html.helpers.linkTo(vc)</h3>
        @if(item.isInstanceOf[DocumentaryUnit]) {
            @wrapParent(path.tail) {
            }
        }
    }
}
