@(item: DocumentaryUnit, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String], dlid: Option[String], path: Seq[models.base.Model] = Seq.empty)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@views.html.common.itemDetails {
    @defining("documentaryUnit") { implicit fieldPrefix =>
        @defining(item.data.descriptionsWithSelected(dlid)) { descriptions =>
            @views.html.common.descriptionContainer(descriptions) {
                @descriptions.map { case (desc, selected) =>
                    @views.html.documentaryUnit.description(item, desc, links, annotations, selected)
                }

                @views.html.common.externalLinks(item, links)
                @views.html.common.annotationLinks(item, links)
            } {
                @views.html.common.typeLabelWithWatchButton(item, watched.contains(item.id))
            } {
                @collectionContext(item, path)
                @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
            }
        }
    }
}
