@(item: VirtualUnit, path: Seq[Model], showAuthor: Boolean = true, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, descriptionId: Option[String] = None)

@item.data.primaryDescription(descriptionId).map { desc =>
    <ul class="search-item-details">
        @if(showAuthor) {
            @item.author.map { author =>
                <li>@views.html.helpers.linkTo(author)</li>
            }
        }
        @views.html.documentaryUnit.listItemMeta(item.asDocumentaryUnit, desc, highlighter)
    </ul>

    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @Markdown(highlighter.highlight(sc))
    }
}.getOrElse {
    <small>@Messages("description.noDescriptions")</small>
}

@views.html.common.childCount(item) { count =>
    @views.html.helpers.link(views.Helpers.virtualUnitSearchUrl(path, item.id), attrs._class -> "child-items-inline-load collapsed") {
        <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
        @Messages("documentaryUnit.childCount", count)
    }
}



