@(item: Model, path: Seq[Model], highlighter: views.Highlighter, watched: Boolean, showRepository: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, descriptionId: Option[String] = None, context: Option[Holder[_]] = None)

@wrapParent(doc: Model, path: Seq[Model]) = {
    @if(path.lastOption.map(_.id) != context.map(_.id)) {
        @path.lastOption.map { p =>
            @wrapParent(doc, path.dropRight(1))
            <li>
                @views.html.helpers.link(views.Helpers.virtualUnitUrl(path, item.id), Symbol("class") -> s"search-item-parent-name type-highlight ${p.isA}") {
                    @Html(highlighter.highlight(p.toStringLang))
                }
            </li>
        }
    }
}

@wrapParent2(doc: VirtualUnit, parent: Option[VirtualUnit]) = {
    @if(parent.map(_.id) != context.map(_.id)) {
        @parent.map { p =>
            @wrapParent2(doc, p.parent)
        <li>
            @views.html.helpers.link(views.Helpers.virtualUnitUrl(path, item.id), Symbol("class") -> s"search-item-parent-name type-highlight ${p.isA}") {
              @Html(highlighter.highlight(p.toStringLang))
            }
        </li>
        }
    }
}

<div class="search-item" id="@item.id">
    <div class="search-item-actions">
        @views.html.common.watchButtonsSmall(item, watched)
    </div>
    <h3 class="search-item-heading type-highlight @item.isA.toString">
        <a class="@item.isA" href="@views.Helpers.virtualUnitUrl(path, item.id)">@Html(highlighter.highlight(item.toStringLang))</a>
    </h3>
    <div class="search-item-body">
        @views.html.virtualUnit.ifVirtual(item) { v =>
            @if(v.parent.isDefined) {
                <ol class="breadcrumb">@wrapParent2(v, v.parent)</ol>
            }
            @views.html.virtualUnit.listItemBody(v, path, highlighter = highlighter)
        } { d =>
            @if(path.nonEmpty) {
                <ol class="breadcrumb">@wrapParent(d, path)</ol>
            }
            @views.html.documentaryUnit.listItemBody(d, showRepository, highlighter = highlighter)
        }
    </div>
</div>
