@(item: Model, result: services.search.SearchResult[(Model,services.search.SearchHit)], action: Call, watched: Seq[String], path: Seq[Model] = Seq.empty)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@views.html.layout.itemSearchLayout(item, result) {
    @views.html.virtualUnit.infobar(item, path, watched.contains(item.id))
} {
    @views.html.common.itemDetailsLink(Messages("details.show"), views.Helpers.virtualUnitUrl(path, item.id)) {
        @views.html.common.itemHeader(item.toStringLang)
    }

    @views.html.virtualUnit.childItemSearch(item, result, action, watched, path)
}
