@(item: Model, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String], dlid: Option[String], path: Seq[Model] = Seq.empty)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@ogMeta = @{
    item match {
        case v: VirtualUnit => OgMeta(
            v.toStringLang,
            controllers.portal.routes.VirtualUnits.browseVirtualCollection(v.id),
            v.data.primaryDescription(messages).flatMap(_.displayText)
        )
        case d: DocumentaryUnit => OgMeta(
            item.toStringLang,
            controllers.portal.routes.DocumentaryUnits.browse(d.id),
            d.data.primaryDescription(messages).flatMap(_.displayText)
        )
    }
}

@views.html.layout.portalLayout(item.toStringLang, EntityType.VirtualUnit.toString, ogMeta = ogMeta.toMap) {
    @views.html.virtualUnit.infobar(item, path, watched.contains(item.id))

    @views.html.common.mainContent {
        @itemDetailsVc(item, annotations, links, watched, dlid, path)

        @childItemLinkVc(item, views.Helpers.virtualUnitSearchUrl(path, item.id))
    }
}
