@(item: models.base.Model, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String], dlid: Option[String], path: Seq[models.base.Model] = Seq.empty)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, EntityType.VirtualUnit.toString) {
    @views.html.virtualUnit.infobar(item, path, watched.contains(item.id))

    @views.html.common.mainContent {
        @itemDetailsVc(item, annotations, links, watched, dlid, path)

        @childItemLinkVc(item, views.Helpers.virtualUnitSearchUrl(path, item.id))
    }
}
