@(item: AuthoritativeSet)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages)

@views.html.admin.common.sidebarActions { user =>
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Create)) {
        <a href="@controllers.sets.routes.AuthoritativeSets.createHistoricalAgent(item.id)">
            <i class="fa fa-fw fa-tasks"></i>
            @Messages("historicalAgent.create")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Update)) {
        <a href="@controllers.sets.routes.AuthoritativeSets.update(item.id)">
            <i class="fa fa-fw fa-edit"></i>
            @Messages("item.update")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Grant)) {
        <a href="@controllers.sets.routes.AuthoritativeSets.managePermissions(item.id)">
            <i class="fa fa-fw fa-user-o"></i>
            @Messages("permissions.manage")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.isAdmin) {
        <a href="@controllers.sets.routes.AuthoritativeSets.updateIndex(item.id)">
            <i class="fa fa-fw fa-cogs"></i>
            @Messages("search.index.update")
        </a>
    }
    @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Delete), danger = true) {
        <a href="@controllers.sets.routes.AuthoritativeSets.delete(item.id)">
            <i class="fa fa-fw fa-trash-o"></i>
            @Messages("item.delete")
        </a>
    }
}

    @views.html.common.sidebarSection(Messages("export")) {
    @views.html.admin.common.sidebarActionGroup {
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.admin.routes.Data.getItemRawJson(item.isA, item.id)">
                <i class="fa fa-fw fa-file-code-o"></i>
                @Messages("export.format.json")
            </a>
        }
        @if(item.hasChildren) {
            @views.html.admin.common.sidebarAction() {
                <a href="@controllers.sets.routes.AuthoritativeSets.export(item.id)?format=eac">
                    <i class="fa fa-fw fa-file-code-o"></i>
                    @Messages("export.format.eac")
                </a>
            }
        }
    }
}

@views.html.common.sidebarSection(Messages("ingest")) {
    @views.html.admin.common.sidebarActionGroup {
        @views.html.admin.common.sidebarAction(userOpt.forall(_.isAdmin)) {
            <a href="@controllers.sets.routes.AuthoritativeSets.ingest(item.id)">
                <i class="fa fa-fw fa-cloud-upload"></i>
                @Messages("ingest.format.eac")
            </a>
        }
    }
}
