@(f: Form[AuthoritativeSetF], vf: Form[Seq[String]], fieldHints: forms.FormFieldHints, usersAndGroups: UsersAndGroups, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{views.admin.Helpers.fieldConstructorWithHints(Some(fieldHints))}

@views.html.admin.layout.rightSidebarWithType(Messages("authoritativeSet.create"), EntityType.AuthoritativeSet, scripts = formHelpers.formJs(f)) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @formHelpers.lineInput(f(""), Entity.IDENTIFIER, attrs._autocomplete -> "off")
        @views.html.admin.authoritativeSet.form(None, f, fieldHints)
        @views.html.admin.permissions.visibilityForm(vf, usersAndGroups)

        @formHelpers.submitButtonWithLogMessageInput(Messages("authoritativeSet.create.submit"))
	}
} {
    @views.html.formHelpers.formNavigation("authoritativeSet")
}
