@(item: AuthoritativeSet, f: play.api.data.Form[models.AuthoritativeSetF], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("authoritativeSet.update"), breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()
        @formHelpers.hiddenInput(f(Entity.IDENTIFIER))
        @views.html.admin.authoritativeSet.form(Some(item), f)

        @formHelpers.submitButtonWithLogMessageInput(Messages("authoritativeSet.update.submit"), cancel = views.admin.Helpers.linkToOpt(item))
	}
} {

}
