@(item: Option[AuthoritativeSet], f: Form[AuthoritativeSetF], fieldHints: forms.FormFieldHints)(implicit fieldConstructor: helper.FieldConstructor, messages: Messages, md: MarkdownRenderer)

@defining(Some(fieldHints)) { implicit implicitFieldHints =>
    @defining("authoritativeSet") { implicit fieldPrefix =>
        @formHelpers.lineInput(f(""), AuthoritativeSetF.NAME)
        @formHelpers.textInput(f(""), AuthoritativeSetF.DESCRIPTION)
        @formHelpers.hiddenInput(f(AuthoritativeSetF.ALLOW_PUBLIC))
    }
}
