@(item: AuthoritativeSet)(implicit req: RequestHeader, messages: Messages, md: views.MarkdownRenderer)

@common.search.searchItemOutline(item) {
    <a href="@controllers.sets.routes.AuthoritativeSets.get(item.id)">@item.toStringLang</a>
} {
    <div class="search-item-details">
        <ul>
            @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</li>
            }
        </ul>
    </div>
    @item.model.description.filterNot(_.isEmpty).map { desc =>
        <p>@desc</p>
    }
}