@(item: AuthoritativeSet, result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(item.toStringLang, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @defining("authoritativeSet") { implicit  prefix =>
        @views.html.admin.common.textValue(models.AuthoritativeSetF.DESCRIPTION, item.data.description)
    }

    @views.html.admin.search.searchSection(item, Messages("authoritativeSet.items"), result) {
        @views.html.common.search.searchForm(result, action, autofocus = false) {
            @views.html.admin.search.searchItemList(result)
        } {
            @common.search.facetList(result.facetClasses, action)
        }
    }
} {
    @common.typeLabel(item.isA) {
    }
    @views.html.admin.common.promotion(item, controllers.sets.routes.AuthoritativeSets.promote(item.id), controllers.sets.routes.AuthoritativeSets.demote(item.id), ContentTypes.Vocabulary)
    @views.html.admin.common.visibility(item, controllers.sets.routes.AuthoritativeSets.visibility(item.id), ContentTypes.AuthoritativeSet)
    @views.html.admin.common.latestAction(item, controllers.sets.routes.AuthoritativeSets.history(item.id))

    @views.html.admin.authoritativeSet.adminActions(item)
}
