@(item: AuthoritativeSet, result: utils.search.SearchResult[(models.base.AnyModel, utils.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

@views.html.admin.layout.rightSidebar(item.toStringLang, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {

    @defining(EntityType.AuthoritativeSet.toString) { implicit  prefix =>
        @views.html.admin.common.stringValue(item.model.description, models.AuthoritativeSetF.DESCRIPTION)
    }

    @views.html.common.search.searchSection(item, Messages("authoritativeSet.items"), result) {
        @views.html.common.search.searchForm(result, action, autofocus = false) {
            @views.html.admin.search.searchItemList(result)
        } {
            @common.search.facetList(result.facetClasses, action)
        }
    }
} {
    @views.html.admin.common.visibility(item, controllers.sets.routes.AuthoritativeSets.visibility(item.id), ContentTypes.AuthoritativeSet)
    @views.html.admin.common.latestAction(item, controllers.sets.routes.AuthoritativeSets.history(item.id))

    @views.html.admin.common.sidebarActions { user =>
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.HistoricalAgent, PermissionType.Create)) {
            <a href="@controllers.sets.routes.AuthoritativeSets.createHistoricalAgent(item.id)">@Messages("historicalAgent.create")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Update)) {
            <a href="@controllers.sets.routes.AuthoritativeSets.update(item.id)">@Messages("item.update")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Delete)) {
            <a href="@controllers.sets.routes.AuthoritativeSets.delete(item.id)">@Messages("item.delete")</a>
        }
        @views.html.admin.common.sidebarAction(user.hasPermission(ContentTypes.AuthoritativeSet, PermissionType.Grant)) {
            <a href="@controllers.sets.routes.AuthoritativeSets.managePermissions(item.id)">@Messages("permissions.manage")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.sets.routes.AuthoritativeSets.history(item.id)">@Messages("item.history")</a>
        }
        @views.html.admin.common.sidebarAction(user.isAdmin) {
            <a href="@controllers.sets.routes.AuthoritativeSets.updateIndex(item.id)">@Messages("search.index.update")</a>
        }
        @views.html.admin.common.sidebarAction() {
            <a href="@controllers.admin.routes.ApiController.getItem(item.isA, item.id)">@Messages("item.export.json")</a>
        }
    }
}