@(item: Repository, result: services.search.SearchResult[(DocumentaryUnit,services.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, context: Option[Holder[_]] = None)

@if(item.hasChildren) {
    <section id="@item.id-child-item-search" class="child-item-search">
        <h3>@Messages("repository.childItems", result.page.total)</h3>
        @views.html.common.search.searchForm(result, action, key = Messages("repository.searchItems", item.toStringLang), autofocus = false) {
            @views.html.common.search.searchItemList(result, watched)
        } {
            @views.html.common.search.facetList(result.facetClasses, action)
        }
    </section>
}
