@(item: Repository, desc: RepositoryDescriptionF, includeCountry: Boolean = true, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages)

<ul class="concise-address">
    @if(includeCountry) {
        @item.country.map { ct =>
            <li><strong><a class="alt" href="@controllers.portal.routes.Countries.browse(ct.id)">
                @Html(highlighter.highlight(ct.toStringLang))</a></strong></li>
        }
    }
    @desc.addresses.headOption.map(_.concise).filterNot(_.isEmpty).map { conciseAddress =>
        <li>@Html(highlighter.highlight(conciseAddress))</li>
    }
    @item.latestEvent.map { event =>
        <li title="@common.eventTitle(event)">
            <time datetime="@event.model.timestamp">@Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</time>
        </li>
    }
</ul>
