@(item: Repository, desc: RepositoryDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, fieldPrefix: String)

@import Isdiah._
@import views.html.common.{descriptionSection, textField, listField}

@views.html.common.descriptionOutline(item, desc, annotations) {
    @defining(Annotation.fieldAnnotations(desc.id, annotations)) { implicit fieldAnnotations =>
        @desc.id.map { descId =>
            @views.html.common.itemHeader(desc.name) {
                @views.html.common.otherNameList(desc.parallelFormsOfName)
                @views.html.common.otherNameList(desc.otherFormsOfName)
            }

            @descriptionSection(DESCRIPTION_AREA) {
                @textField(item, descId, HISTORY, desc.details.history)
                @textField(item, descId, GEOCULTURAL_CONTEXT, desc.details.generalContext)
                @textField(item, descId, MANDATES, desc.details.mandates)
                @textField(item, descId, ADMINISTRATIVE_STRUCTURE, desc.details.administrativeStructure)
                @textField(item, descId, RECORDS, desc.details.records)
                @textField(item, descId, BUILDINGS, desc.details.buildings)
                @textField(item, descId, HOLDINGS, desc.details.holdings)
                @textField(item, descId, FINDING_AIDS, desc.details.findingAids)
            }
    
            @descriptionSection(ACCESS_AREA) {
                @textField(item, descId, OPENING_TIMES, desc.access.openingTimes)
                @textField(item, descId, CONDITIONS, desc.access.conditions)
                @textField(item, descId, ACCESSIBILITY, desc.access.accessibility)
            }
    
            @descriptionSection(SERVICES_AREA) {
                @textField(item, descId, RESEARCH_SERVICES, desc.services.researchServices)
                @textField(item, descId, REPROD_SERVICES, desc.services.reproductionServices)
                @textField(item, descId, PUBLIC_AREAS, desc.services.publicAreas)
            }
    
            @descriptionSection(CONTROL_AREA) {
                @textField(item, descId, DESCRIPTION_IDENTIFIER, desc.control.descriptionIdentifier)
                @textField(item, descId, INSTITUTION_IDENTIFIER, desc.control.institutionIdentifier)
                @textField(item, descId, LEVEL_OF_DETAIL, desc.control.levelOfDetail)
                @textField(item, descId, DATES_CVD, desc.control.datesCDR)
                @listField(item, descId, SOURCES, desc.control.sources)
            }

            @descriptionSection(ACCESS_POINTS) {
                @views.html.common.accessPointLinks(item, desc, links)
            }
        }
    }
}