@(item: Repository, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@views.html.common.itemDetails {
    @defining("repository") { implicit fieldPrefix =>
        @defining(item.data.descriptionsWithSelected()) { descriptions =>
            @views.html.common.descriptionContainer(descriptions) {
                @descriptions.map { case (desc, _) =>
                    @description(item, desc, links, annotations)
                }
                @views.html.common.externalLinks(item, links)
                @views.html.common.annotationLinks(item, links)
            } {
                @views.html.common.typeLabelWithWatchButton(item, watched.contains(item.id))
            } {
                @views.html.repository.logo(item)
                @* FIXME: This will list addresses for multiple descriptions
                regardless of which one is being displayed *@
                @views.html.common.panel(Messages("contact")) {
                    @item.data.descriptions.map { desc =>
                        @address(item, desc)
                    }
                }
                @views.html.common.sidepanelToc {
                    @views.html.common.childItemSidebar(item, EntityType.DocumentaryUnit)
                    @views.html.common.exportItem(
                        Map("eag" -> controllers.portal.routes.Repositories.export(item.id, asFile = true)))
                    @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
                }
            }
        }
    }
}
