@(result: services.search.SearchResult[(Repository,services.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@countryHeaderLink(id: String) = {
    <h2 class="search-group-heading">
        <a class="alt" href="@controllers.portal.routes.Countries.browse(id)">@views.Helpers.countryCodeToName(id)</a>
    </h2>
}

@itemByCountryList(repos: Seq[(Repository,services.search.SearchHit)], lastOpt: Option[(Repository,services.search.SearchHit)]) = {
    
    @repos.headOption.map { case (repo, hit) =>
        @lastOpt.map { case (last, lhit) =>
            @if(last.country != repo.country) {
                @repo.country.map { c =>
                    @countryHeaderLink(c.id)
                }
            }
        }.getOrElse {
            @repo.country.map { c =>
                @countryHeaderLink(c.id)
            }
        }
        <div class="indented-search-item">
            @searchItem(repo, hit, watched.contains(repo.id), showCountry=false)
        </div>
    }
    @if(repos.nonEmpty) {
        @itemByCountryList(repos.tail, repos.headOption)
    }
}

@views.html.layout.portalLayout(Messages("type.Repository"), EntityType.Repository.toString) {
   <div class="main-content">
    @views.html.common.search.searchForm(result, action, autofocus = false) {
        @itemByCountryList(result.page.items, None)
    } {
        @views.html.common.search.facetList(result.facetClasses, action)
    }
</div>
}
