@(item: Repository, showCountry: Boolean, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, descriptionId: Option[String] = None)

@item.model.primaryDescription(descriptionId).map { desc =>

    @common.otherNameListSmall((desc.parallelFormsOfName ++ desc.otherFormsOfName).flatten.toList, highlighter)
    <div class="search-item-details">
        @conciseAddress(item, desc, includeCountry = showCountry, highlighter = highlighter)
        @views.html.common.childCount(item) { count =>
            @if(count > 0) {
                <a href="@controllers.portal.routes.Repositories.search(item.id)">
                    @Messages("repository.childCount", count)
                </a>
            }
        }
    </div>
    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @Markdown(highlighter.highlight(sc))
    }
}.getOrElse {
    <small>@Messages("description.noDescriptions")</small>
}
