@(item: Repository, result: services.search.SearchResult[(DocumentaryUnit,services.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.layout.itemSearchLayout(item, result) {
    @infobar(item)
} {
    @views.html.common.itemDetailsLink(Messages("details.show"), controllers.portal.routes.Repositories.browse(item.id)) {
        @views.html.common.itemHeader(item.toStringLang)
    }

    @childItemSearch(item, result, action, watched)
}
