@(item: Option[Actor], f: play.api.data.Form[ActorF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.updateActor")) {
    @helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @actor.renderForm(item, f)

        <fieldset id="admin-area">
        <legend>@Messages("Administration")</legend>
        @formHelpers.enumChoiceInput(f("publicationStatus"), defines.PublicationStatus, "Publication Status")
        </fieldset>

        @common.submitButtonWithLogMessageInput(Messages("submitButton.updateActor"))
    }
} {

}
