@(item: AnyModel, checkForm: Form[String], action: Call, cancel: Call)(
implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@layout.rightSidebar(Messages("actions.deleteItem", item.toStringLang), breadcrumbs = common.breadcrumbs(List(item))) {

    <p>@Messages("deleting.deleteConfirmationMessage", item.toStringLang)</p>
    <p class="alert alert-danger">
        @Messages("userProfile.deleteConfirmationMessage")
    </p>
    @helper.form(action = action, 'class -> "form-horizontal") {
        @formHelpers.csrfToken()

        @defining(EntityType.UserProfile.toString) { implicit fieldPrefix =>
            @formHelpers.lineInput(checkForm(""), "deleteCheck")
        }

        @formHelpers.submitButtonWithLogMessageInput(Messages("submitButton.deleteItem"), cancel = Some(cancel))
    }
} {

}

