@(item: UserProfile, f: play.api.data.Form[UserProfileF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, menuConfig: MenuConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@rightSidebarLayout(Messages("actions.updateUserProfile"), breadcrumbs = common.breadcrumbs(List(item))) {

    @helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @userProfile.renderForm(Some(item), f)

        @common.submitButtonWithLogMessageInput(Messages("submitButton.updateUserProfile"), cancel = Some(item))
	}
		
} {

}
