@(item: UserProfile)(implicit req: RequestHeader, lang: Lang)

@common.searchItemOutline(item.id) {
    <a href="@controllers.core.routes.UserProfiles.get(item.id)">@item.toStringLang</a>
} {

    <small>
        <ul class="unstyled muted inline inline-separator">
            @item.groups.distinct.map { acc =>
                <li><a class="alt" href="@controllers.core.routes.Groups.get(acc.id)">@acc.toStringLang</a></li>
            }
            @item.model.location.filterNot(_.trim.isEmpty).map { loc =>
                <li>@loc</li>
            }
        </ul>
        <ul class="unstyled muted inline inline-separator">
            @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">@Messages("systemEvents.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))</li>
            }
        </ul>
    </small>
    @item.model.about.filterNot(_.trim.isEmpty).map { about =>
        <p>@about</p>
    }
}
