@(result: utils.search.ItemPage[(AnyModel,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call)(
    implicit userOpt: Option[UserProfile], req: RequestHeader, menuConfig: MenuConfig, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("users.search")) {
    @views.html.search.searchForm(result, params, action) {
        @userProfile.searchItemList(result)
    }
} {
    @userOpt.map { user =>
        @if(user.isAdmin) {
            @if(user.hasPermission(ContentType.UserProfile, PermissionType.Create)) {
                <a class="btn btn-primary" href="@controllers.core.routes.Admin.createUser">@Messages("actions.createUserProfile")</a>
            }
        }
    }
    @common.facetList(result.facets, action)
}