@(item: UserProfile, annotations: Map[String,List[Annotation]])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@import UserProfileF._

@userProfile.itemPage(item) {

    @defining(FIELD_PREFIX) { implicit fieldPrefix =>
        @item.model.location.map { loc =>
            <strong>@Messages("profile.location"): </strong>
            @loc
        }

        @if(!item.model.languages.isEmpty) {
            <div>
                <strong>@Messages("profile.languages"):</strong>
                <ul class="inline inline-separator">
                    @item.model.languages.map { lang =>
                        <li>@views.Helpers.languageCodeToName(lang)</li>
                    }
                </ul>
            </div>
        }

        <div class="about">
            @item.model.about
        </div>
    }

    <hr />
    @if(item.groups.isEmpty) {
        <i>@Messages("accessor.notInAnyGroups")</i>
    } else {
        <strong>Groups: </strong>&nbsp;
        @item.groups.map { group =>
            <a class="badge" href="@controllers.core.routes.Groups.get(group.id)">@group.toStringLang</a>
        }
    }
}