@(item: AnyModel, action: Call, cancel: Call)(
implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, token: play.filters.csrf.CSRF.Token)

@layout.rightSidebar(Messages("actions.deleteItem", item.toStringLang), breadcrumbs = common.breadcrumbs(List(item))) {

    <p>@Messages("deleting.deleteConfirmationMessage", item.toStringLang)</p>
    @helper.form(action = action, 'class -> "form-actions") {
        @formHelpers.csrfToken()
        @formHelpers.submitButtonWithLogMessageInput(Messages("submitButton.deleteItem"), cancel = Some(globalConfig.routeRegistry.urlFor(item)))
    }
} {

}

