@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = common.breadcrumbs())(content: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, flash: Flash, lang: Lang)

@main(title, scripts, styles) {

    <div class="success-pullup pull-right">
        @common.successFlash(flash)
    </div>
    @breadcrumbs
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <h2>@title</h2>

                @common.errorFlash(flash)

                @content
            </div>
            <div class="right-sidebar span3">
                @sidebar
            </div>
        </div>
    </div>
}