@(group: GroupRepr, item: models.base.Accessor, action: Call, maybeUser: Option[models.sql.User], req: RequestHeader)
 
@import defines._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

  @main(Messages("Add %s to group: %s".format(group.name, item.name)))(maybeUser, req) {
	
    <h2>@Messages("Add %s to group: %s".format(item.name, group.name))</h2>
    
	<hr />
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Submit")</button>
        </div>
	}		
}
