@(f: Form[models.GroupF], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(
    implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@rightSidebarLayout(Messages("actions.createGroup")) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @group.renderForm(None, f)

        @common.submitButtonWithLogMessageInput(Messages("submitButton.createGroup"))
	}
} {

}
