@(item: Option[Group], f: play.api.data.Form[models.forms.GroupF], action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)

@import models.forms.GroupF

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.updateGroup"))(Some(user), req) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @group.renderForm(item, f)

		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("submitButton.updateGroup")</button>
        </div>
	}
} {

}
