@(item: Option[Group], f: play.api.data.Form[models.forms.GroupF], action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)

@import models.forms.GroupF

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages(item.map(s => "actions.updateGroup").getOrElse("actions.createGroup")), Some(user), req) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.lineInput(f(""), Entity.IDENTIFIER)
        @formHelpers.lineInput(f(""), GroupF.NAME)
        @formHelpers.textInput(f(""), GroupF.DESCRIPTION)

		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages(item.map(s => "submitButton.updateGroup").getOrElse("submitButton.createGroup"))</button>
        </div>
	}
} {

}
