@(items: rest.Page[Group])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listGroups"), maybeUser, req) {
	<h3>@Messages("pagination.displayingItems", items.offset + 1, items.offset + items.list.size, items.total)</h3>

    @common.pagination(items, req)
	
	<ul>
	@items.list.map { item =>
	  	<li>
			<a href="@routes.Groups.get(item.id)">@item.name</a>
		</li>
	}
	</ul>
    
} {
    @maybeUser.map { user =>
        @if(user.hasPermission(ContentType.Group, PermissionType.Create)) {
            <a href="@routes.Groups.create">@Messages("Create New Group")</a>
        }
    }
}
