@(items: rest.Page[Group])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@main(Messages("actions.listGroups"))(maybeUser, req) {

    @common.flash(flash)

    <h2>@Messages("actions.listGroups")</h2>
	<h3>@Messages("pagination.displayingItems", items.offset + 1, items.offset + items.list.size, items.total)</h3>
	@maybeUser.map { user =>
  		@if(user.hasPermission(ContentType.Group, PermissionType.Create)) {
  		  <a href="@routes.Groups.create">@Messages("Create New Group")</a>
  		}
	}

    @common.pagination(items, req)
	
	<ul>
	@items.list.map { item =>
	  	<li>
			<a href="@routes.Groups.get(item.id)">@item.name</a>
		</li>
	}
	</ul>
    
}
