@(item: models.base.Accessor, groups: List[(String,String)], user: UserProfileRepr, req: RequestHeader)
 
@import defines._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main(Messages("Manage Groups"))(Some(user), req) {
	
    <h2>@Messages("Manage Groups"): @item.name</h2>
    
	@if(!item.groups.isEmpty) {
	  <strong>@Messages("Current Groups"): </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@routes.Groups.get(group.id)">@group.name</a> (<a href="@routes.Groups.removeMember(group.id, item.isA.toString, item.id)">Remove</a>)
	  }	  
	}
    
	<hr />

	@if(groups.isEmpty) {
	  <strong>@Messages("This %s cannot be added to additional groups".format(item.isA))</strong>
	} else {
	  <strong>@Messages("Add Additional Group"): </strong>&nbsp;
	  <ul>
	  @groups.map { case (identifier, name) =>
	  	<li>
	    	<a href="@routes.Groups.addMember(identifier, item.isA.toString, item.id)">@name</a>
	  	</li>
	  }	  
	  </ul>
	}	
}
