@(item: Accessor, groups: List[(String,String)])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.manageGroups"), breadcrumbs = common.breadcrumbs(List(item))) {
	
	@if(!item.groups.isEmpty) {
	  <strong>@Messages("accessor.currentGroups"): </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@routes.Groups.get(group.id)">@group.name</a> (<a href="@routes.Groups.removeMember(group.id, item.isA.toString, item.id)">@Messages("accessor.removeGroup")</a>)
	  }	  
	}
    
	<hr />

	@if(groups.isEmpty) {
	  <strong>@Messages("accessor.itemCannotBeAddedToAdditionalGroups", item.isA)</strong>
	} else {
	  <strong>@Messages("actions.addNewGroup"): </strong>&nbsp;
	  <ul>
	  @groups.map { case (identifier, name) =>
	  	<li>
	    	<a href="@routes.Groups.addMember(identifier, item.isA.toString, item.id)">@name</a>
	  	</li>
	  }	  
	  </ul>
	}	
} {

}
