@(group: Group, item: Accessor, action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main(Messages("actions.removeItemFromGroup", group.name, item.name))(Some(user), req) {
	
    <h2>@Messages("Remove %s from group: %s".format(item.name, group.name))</h2>
    
	<hr />
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("submitButton.removeItemFromGroup")</button>
        </div>
	}		
}
