@(group: Group, item: models.base.Accessor, action: Call, user: UserProfile, req: RequestHeader)
 
@import defines._

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@main(Messages("Remove %s from group: %s".format(group.name, item.name)))(Some(user), req) {
	
    <h2>@Messages("Remove %s from group: %s".format(item.name, group.name))</h2>
    
	<hr />
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Submit")</button>
        </div>
	}		
}
