@(group: Group, item: Accessor, action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.removeItemFromGroup", group.name, item.name))(Some(user), req) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("submitButton.removeItemFromGroup")</button>
        </div>
	}		
} {

}
