@(item: GroupRepr, maybeUser: Option[models.sql.User], perms: Option[acl.ItemPermissionSet[_]], req: RequestHeader)

@import defines._

@main(item.name)(maybeUser, req) {
	
	<h3>Group: @item.name (@item.identifier)</h3>
		
	@if(!item.groups.isEmpty) {
	  <hr />
	  <strong>Parent Groups: </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@routes.Groups.get(group.id)">@group.name</a>
	  }	  
	}
	
	@common.visibility(item)

  	<hr />
	<a href="@routes.Groups.list(1, 20)">@Messages("Back to List")</a>	
	@maybeUser.map { user =>
	  @user.permissions.map { pset =>
  		@pset.get(ContentType.Group, PermissionType.Create).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Groups.create">@Messages("Create New Group")</a>
  		}
  		@pset.get(ContentType.Group, PermissionType.Update).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Groups.update(item.id)">@Messages("Modify Group")</a>
  		}
  		@pset.get(ContentType.Group, PermissionType.Update).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Groups.visibility(item.id)">@Messages("Set Visibility")</a>
  		}
  		@pset.get(ContentType.Group, PermissionType.Grant).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Groups.permissions(item.id)">@Messages("Modify Permissions")</a>
  		}	      		  		
  		@pset.get(ContentType.Group, PermissionType.Grant).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Groups.membership(item.isA.toString, item.id)">@Messages("Add/Remove Parent Groups")</a>
  		}	      		  		
  		@pset.get(ContentType.Group, PermissionType.Delete).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Groups.delete(item.id)">@Messages("Delete Group")</a>
  		}	    
	  }
	}	
}