@(item: Group, annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item)))(maybeUser, req) {

    <p>@item.stringProperty(models.forms.GroupF.DESCRIPTION)</p>

    @if(!item.groups.isEmpty) {
        <hr />
        <strong>Parent Groups: </strong>&nbsp;
        @item.groups.map { group =>
            <a href="@routes.Groups.get(group.id)">@group.name</a>
        }
    }
} {
    @common.latestAction(item, routes.Groups.history(item.id))
    @common.visibility(item)

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Group, PermissionType.Create)) {
                <li><a href="@routes.Groups.create">@Messages("actions.createNewGroup")</a></li>
            }
            @if(user.hasPermission(ContentType.Group, PermissionType.Update)) {
                <li><a href="@routes.Groups.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Group, PermissionType.Grant)) {
                <li><a href="@routes.Groups.permissions(item.id)">@Messages("actions.manageGlobalPermissions")</a></li>
                  <li><a href="@routes.Groups.grantList(item.id)">@Messages("actions.listPermissionGrants")</a></li>
            }
            @if(user.hasPermission(ContentType.Group, PermissionType.Grant)) {
                <li><a href="@routes.Groups.membership(item.isA.toString, item.id)">@Messages("actions.modifyGroups")</a></li>
            }
            @if(user.hasPermission(ContentType.Group, PermissionType.Delete)) {
                <li><a href="@routes.Groups.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            <li><a href="@routes.Groups.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}