@(item: Vocabulary, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: cookies.SessionPrefs, conf: config.AppConfig, messages: Messages, md: MarkdownRenderer)

@views.html.common.itemDetails {
    @views.html.common.rightSidebar {
        @views.html.common.itemHeader(item.toStringLang)
        @item.data.description.map { desc =>
            @Markdown(desc)
        }
    } {
        @views.html.common.typeLabelWithWatchButton(item, watched.contains(item.id), views.html.vocabulary.introNotice())
        @views.html.common.childItemSidebar(item, EntityType.Concept)
        @views.html.common.exportItem(
            Seq(
                "ttl" -> controllers.portal.routes.Vocabularies.render(item.id, format = Some("TTL")),
                "rdf_xml" -> controllers.portal.routes.Vocabularies.render(item.id, format = Some("RDF/XML")),
            ) ++ conf.exportProxies(item.isA, item.id)
        )
        @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
    }
}
