@(result: services.search.SearchResult[(Model,services.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash, context: Option[Holder[_]] = None)

@ogMeta = @{OgMeta(
    Messages("type.CvocVocabulary"),
    controllers.portal.routes.Vocabularies.searchAll(),
    Some(Messages("type.CvocVocabulary.description"))
)}

@views.html.layout.searchLayout(Messages("type.CvocVocabulary"), result, cls = EntityType.Vocabulary.toString, ogMeta = ogMeta.toMap) {
    @views.html.common.search.searchForm(result, action, key = "search.CvocVocabulary") {
        @views.html.common.search.searchItemList(result, watched)
    } {
        @views.html.vocabulary.introNotice()
        @views.html.common.search.facetList(result.facetClasses, action)
    }
}
