@(item: Vocabulary, result: services.search.SearchResult[(Concept,services.search.SearchHit)], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@views.html.layout.itemSearchLayout(item, result) {
} {
    @views.html.common.itemDetailsLink(Messages("details.show"), controllers.portal.routes.Vocabularies.browse(item.id)) {
        @views.html.common.itemHeader(item.toStringLang)
    }

    @childItemSearch(item, result, action, watched)
}
