@(parent: Option[AnyModel], them: UserProfile, items: Seq[AnyModel], params: utils.search.SearchParams, more: Boolean, watched: Seq[String])(implicit req: RequestHeader, userOpt: Option[UserProfile], lang: Lang, globalConfig: global.GlobalConfig)

@defining(userOpt.exists(_.id == them.id)) { isCurrentUser =>

    @if(!items.isEmpty) {
        <ul class="list-unstyled watched-items list-group">
            @itemListItems(parent, items, params, more, watched)
        </ul>

    } else {
        <p class="text-muted">
            @if(isCurrentUser) {
                @Messages("portal.bookmarkSet.noBookmarkSetsYet")
            } else {
                @Messages("portal.bookmarkSet.noUserBookmarkSetsYet", them.toStringLang)
            }
        </p>
    }
}