@(page: utils.AbstractPage[VirtualUnit], params: utils.search.SearchParams, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@js = {
    <script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery-ui/jquery-ui.js")" type="text/javascript"></script>

    <script>
            $(function() {

                /*
                 Bookmarks
                 */

                $(document).on("click", "a.bookmark-fetch-contents", function(e) {
                    e.preventDefault();
                    var $this = $(this);
                    var $parent = $this.closest(".bookmark-item");

                    if ($this.hasClass("closed")) {
                        $this.removeClass("closed").addClass("expanded");
                        var $container = $("<div class=\"children\"></div>");
                        $container.appendTo($parent);
                        $container.load(this.href, function() {
                            initDraggables($container);
                        });
                    } else {
                        $parent.find(".children").remove();
                        $this.removeClass("expanded").addClass("closed");
                    }
                });

                $(document).on("click", "a.bookmarks-fetchmore", function(e) {
                    e.preventDefault();
                    var $this = $(this);
                    var $container = $this.parent();
                    $.get(this.href, function(data) {
                        $container.replaceWith(data);
                        initDraggables($container);
                    });
                });

                function initDraggables($element) {
                    $(".bookmark-list li", $element).draggable({
                        revert: true,
                        stack: ".bookmark-list li"
                    }).droppable({
                                accept: ".bookmark-item",
                                drop: function(event, ui) {
                                    var $dropped = $(this);
                                    console.log("Dropped: ", ui.draggable.data("id"), "on", $dropped.data("id"))
                                }
                            });

                }

                initDraggables($(document));

            });
    </script>
}

@css = {
    <link rel="stylesheet" href="@controllers.portal.routes.Assets.versioned("js/lib/jquery-ui/jquery-ui.css")">
    <style>

    </style>
}

@* user should always be defined here *@
@userOpt.map { user =>
    @p.layout.portalLayout(Messages("portal.bookmarkSet.list"), EntityType.UserProfile.toString, scripts = js, styles = css) {
        @layout.infobar {
        } {
        }

        @views.html.layout.mainContent {
            <h1>@Messages("portal.bookmarkSet.list")</h1>
            @itemList(None, user, page, params, more = false, watched)
            <a class="btn post" href="@controllers.portal.routes.Bookmarks.createBookmarkSet()">@Messages("portal.bookmarkSet.create")</a>
        }
    }

}
