@(page: utils.AbstractPage[VirtualUnit], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@* user should always be defined here *@
@userOpt.map { user =>
    @p.layout.portalLayout(Messages("portal.bookmarkSet.list"), EntityType.UserProfile.toString) {
        @layout.infobar {
        } {
        }

        @views.html.layout.mainContent {
            <h1>@Messages("portal.bookmarkSet.list")</h1>
            @itemList(user, page, watched)
            <a class="btn post" href="@controllers.portal.routes.Bookmarks.createBookmarkSet()">@Messages("portal.bookmarkSet.create")</a>
        }
    }

}
