@(g: Guide, f: Form[models.Guide], guides: List[Guide], pages: List[GuidePage], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash, token: play.filters.csrf.CSRF.Token)

@breadcrumbs = {
	<ol class="breadcrumb">
		<li><a href="@controllers.guides.routes.Guides.list()">@Messages("guide.heading")</a></li>
		<li><a class="active" href="@controllers.guides.routes.Guides.show(g.path)">@g.name</a></li>
	</ol>
}

@sidebar = {
	<a class="btn btn-danger" href="@controllers.guides.routes.Guides.delete(g.path)">
        @Messages("guide.delete")
    </a>
}

@guide.guidesAdminLayout(Messages("guide.update.item", g.name), guides, breadcrumbs = breadcrumbs, sideBar= sidebar) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
    	@renderForm(None, f, pages)

        @formHelpers.submitButton(Messages("guide.update.submit"))
	}
}