@(item: Option[Guide], f: Form[models.Guide], pages: List[GuidePage])

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(Guide.PREFIX) { implicit fieldPrefix =>
    @formHelpers.lineInput(f(""), Guide.NAME)
    @formHelpers.lineInput(f(""), Guide.PATH)
    @formHelpers.lineInput(f(""), Guide.PICTURE)
    @formHelpers.lineInput(f(""), Guide.VIRTUALUNIT)
    @formHelpers.textInput(f(""), Guide.DESCRIPTION)
    @formHelpers.textInput(f(""), Guide.CSS)
    @formHelpers.checkbox(f(""), Guide.ACTIVE)

    @if(pages.nonEmpty) {
        @helper.select(
            f(Guide.DEFAULT),
            pages.map(p => p.id.getOrElse(0).toString -> p.name),
            'class -> "select2 form-control",
            '_default -> "---",
            '_label -> Messages(Guide.PREFIX + "." + Guide.DEFAULT)
        )
    } else {
        @formHelpers.hiddenInput(f(Guide.DEFAULT))
    }
}