@(item: Option[Guide], f: Form[models.Guide], pages: List[GuidePage])

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(Guide.PREFIX) { implicit fieldPrefix =>
    @formHelpers.lineInput(f(""), Guide.NAME)
    @formHelpers.lineInput(f(""), Guide.PATH)
    @formHelpers.lineInput(f(""), Guide.PICTURE)
    @formHelpers.textInput(f(""), Guide.DESCRIPTION)
    @formHelpers.checkbox(f("active"), Guide.ACTIVE)
    @if(pages.isEmpty) {
        @formHelpers.hiddenInput(f("default"))
    } else {
        @formHelpers.choiceNumericInput(f("default"), Guide.DEFAULT, pages.map(row => {
            row.id.getOrElse(0L) -> row.name
        }))
    }
}