@(title: String, guides: List[Guide], layouts: Option[(Guide, List[GuidePage])] = None, breadcrumbs:Html = Html(""), sideBar: Html= Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(title, breadcrumbs = views.html.common.infobar(breadcrumbs)) {
    @content
} {
	<h4>@Messages("guide.list")</h4>
	<ul class="nav nav-pills nav-stacked">
		@for(guide <- guides) {
			<li>
				<a href="@controllers.guides.routes.Guides.show(guide.path)">@guide.name</a>
			</li>
		}
		<li>
			<a href="@controllers.guides.routes.Guides.create()"><span class="fa fa-plus-circle"></span>
                @Messages("guide.create")
            </a>
		</li>
	</ul>
	@layouts.map { case (guide, pages) =>
		<h4>@Messages("guidePage.list")</h4>
		<ul class="nav nav-pills nav-stacked">
			@for(otherPage <- pages) {
				<li>
					<a href="@controllers.guides.routes.GuidePages.edit(guide.path, otherPage.path)">@otherPage.name</a>
				</li>
			}
			<li>
				<a href="@controllers.guides.routes.GuidePages.create(guide.path)">
                    <span class="fa fa-plus-circle"></span> @Messages("guidePage.create")
                </a>
			</li>
		</ul>
	}
	@sideBar
}
