@(title: String, guides: List[Guide], layouts: Option[(Guide, List[GuidePage])] = None, breadcrumbs:Html = Html(""), sideBar: Html= Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.rightSidebar(title, breadcrumbs = views.html.common.infobar(breadcrumbs)) {
    @content
} {
	@views.html.common.sidebarSection(Messages("guides"), cls = "type-heading") {
	}
	@views.html.common.sidebarSection(Messages("guide.list")) {
		@views.html.admin.common.sidebarActionGroup {
			@for(guide <- guides) {
				@views.html.admin.common.sidebarAction() {
					<a href="@controllers.guides.routes.Guides.show(guide.path)">@guide.name</a>
				}
			}
			@views.html.admin.common.sidebarAction() {
				<a href="@controllers.guides.routes.Guides.create()">
					<i class="fa fa-plus-circle"></i>
					@Messages("guide.create")
				</a>
			}
		}
	}
	@layouts.map { case (guide, pages) =>
		@views.html.common.sidebarSection(Messages("guidePage.list")) {
			@views.html.admin.common.sidebarActionGroup {
				@for(otherPage <- pages) {
					@views.html.admin.common.sidebarAction() {
						<a href="@controllers.guides.routes.GuidePages.edit(guide.path, otherPage.path)">@otherPage.name</a>
					}
				}
				@views.html.admin.common.sidebarAction() {
					<a href="@controllers.guides.routes.GuidePages.create(guide.path)">
						<i class="fa fa-plus-circle"></i>
						@Messages("guidePage.create")
					</a>
				}
			}
		}
	}
	@sideBar
}
