@(facets: utils.search.FacetClassList, call: Call)(implicit req: RequestHeader, lang: Lang)

@import utils.search._

@facetDropDown(fc: FacetClass[Facet]) = {
    @defining(fc.sorted.filter(_.count > 0).size > 0) { active =>
        @defining(fc.sorted.size <= 1) { disabled =>
            <div class="facet-class">
                <h4>@Messages(fc.name)</h4>
                <select multiple style="width: 100%" name="@fc.param" data-placeholder="@Messages("portal.facet.placeholder." + fc.param)" class="select2 autosubmit">
                    <option></option>
                    @fc.sorted.filter(_.count > 0).map { f =>
                        <option value="@f.value" @{if(f.applied) "selected"}>@fc.pretty(f) (@f.count)</option>
                    }
                </select>
            </div>
        }
    }
}

@facetChoice(fc: FacetClass[Facet]) = {
    @defining(fc.sorted.filter(_.count > 0).size > 0) { active =>
        @* Don't bother showing choices with only one choice! *@
        @if(fc.sorted.size > 1) {
            <div class="facet-class">
                <h4>@Messages(fc.name)</h4>
                @fc.sorted.map { f =>
                    <div class="checkbox">
                        <label class="@{if(!active) "disabled"}">
                            <input class="facet-toggle" type="checkbox" name="@fc.param" value="@f.value" id="id-@{fc.param}-@{f.value}" @{if(f.applied) "checked"}  @{if(!active) "disabled"} />
                            @fc.pretty(f) (@f.count)
                        </label>
                    </div>
                }
            </div>
        }
    }
}

@facetBoolean(fc: FacetClass[Facet]) = {
    @defining(fc.sorted.filter(_.count > 0).size > 0) { active =>
        <div class="facet-class">
            <h4>@Messages(fc.name)</h4>
            @fc.sorted.map { f =>
                <div class="checkbox">
                    <label class="@{if(!active) "disabled"}">
                        <input class="facet-toggle" type="checkbox" name="@fc.param" value="@f.value" id="id-@{fc.param}-@{f.value}" @{if(f.applied) "checked"}  @{if(!active) "disabled"} />
                        @fc.pretty(f) (@f.count)
                    </label>
                </div>
            }
        </div>
    }
}

@facetList(fc: FacetClass[Facet]) = {
    @defining(fc.sorted) { sortedActive =>
        <div class="facet-class">
            <h4>@Messages(fc.name)</h4>
            <ul class="list-unstyled facet-list">
                @sortedActive.map { f =>
                    @if(f.applied) {
                    <input type="hidden" name="@fc.param" value="@f.value" />
                    <li title="@fc.pretty(f)" class="selected-filter">
                        @views.Helpers.ellipsize(fc.pretty(f), 25)
                        (@f.count)
                        <a class="remove-filter alt" href="@pathWithoutFacet(fc, f,
                                                    call.url, req.queryString.filterKeys(_!="page"))"><span class="glyphicon glyphicon-remove"></span></a>
                    </li>
                    } else {
                    <li class="type-highlight @f.value" title="@fc.pretty(f)">
                        <a class="alt" href="@pathWithFacet(fc, f, call.url, req.queryString.filterKeys(_!="page"))">
                        @views.Helpers.ellipsize(fc.pretty(f), 25)
                        (@f.count)
                        </a>
                    </li>
                    }
                }
            </ul>
        </div>
    }
}

@facets.map { fc =>
    @fc.display match {
        case FacetDisplay.DropDown => {
            @facetDropDown(fc)
        }
        case FacetDisplay.Boolean => {
            @facetBoolean(fc)
        }
        case FacetDisplay.Choice => {
            @facetChoice(fc)
        }
        case _ => {
            @facetList(fc)
        }
    }
}