@(feedback: Seq[Feedback])(implicit userOpt: Option[UserProfile], prefs: utils.SessionPrefs, request: RequestHeader, lang: Lang, flash: Flash, globalConfig: global.GlobalConfig)

@p.layout.portalLayout(Messages("pages.feedback.list")) {
    @views.html.layout.mainContent {
        <h2>@Messages("pages.feedback.list")</h2>
        <table class="table-bordered table-hover table-condensed table-striped" width="100%">
            <tr>
                <th>User ID</th>
                <th>Submitted</th>
                <th>Instance</th>
                <th>Text</th>
            </tr>
            @feedback.map { f =>
                <tr>
                    <td>
                        @f.name.map { id =>
                            <a href="@controllers.portal.social.routes.Social.browseUser(id)">@id</a>
                        }.getOrElse {
                            Anonymous
                        }
                    </td>
                    <td>@f.createdAt.map(views.Helpers.relativeDate)</td>
                    <td>@f.mode.getOrElse("")</td>
                    <td>@f.text.getOrElse("")</td>
                </tr>
            }
        </table>
    }
}