@(form: Form[Feedback])(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, flash: Flash, globalConfig: global.GlobalConfig)


@p.layout.portalLayoutSimple(Messages("pages.feedback")) {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="@controllers.portal.routes.Assets.versioned("js/lib/jquery.validate.js")"></script>

    @views.html.layout.mainContent {
        @p.layout.feedback(form)
    }
}(None, request, globalConfig, flash, lang)