@(item: AnyModel, watched: Boolean, context: Option[AnyModel] = None)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@item match {
    case d: DocumentaryUnit => {
        @documentaryUnit.listItem(d, watched, context)
    }
    case d: HistoricalAgent => {
        @historicalAgent.listItem(d, watched)
    }
    case d: Repository => {
        @repository.listItem(d, watched)
    }
    case d: Country => {
        @country.listItem(d, watched)
    }
    case _ => {
        @item.toStringLang
    }
}