@(result: utils.search.ItemPage[(models.base.AnyModel,utils.search.SearchHit)], watching: List[models.base.AnyModel] = Nil)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<ul class="list-unstyled search-result-list">
    @result.items.map { case(item, id) =>
        @defining(Some(id)) { implicit descriptionId =>
            @defining(watching.exists(_.id == item.id)) { watched =>
            <li>
                @searchItem(item, watched)
            </li>
            }
        }
    }
</ul>
