@(result: utils.search.ItemPage[(models.base.AnyModel,String)], watching: List[models.base.AnyModel] = Nil)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<ul class="list-unstyled search-result-list">
    @result.items.map { case(item, id) =>
        @defining(Some(id)) { implicit descriptionId =>
            @defining(watching.exists(_.id == id)) { watched =>
            <li>
                @item match {
                    case d: DocumentaryUnit => {
                        @documentaryUnit.listItem(d, watched)
                    }
                    case d: HistoricalAgent => {
                        @historicalAgent.listItem(d, watched)
                    }
                    case d: Repository => {
                        @repository.listItem(d, watched)
                    }
                    case d: Country => {
                        @country.listItem(d, watched)
                    }
                    case _ => {
                        @views.html.common.searchItem(item)
                    }
                }
            </li>
            }
        }
    }
</ul>
