@(elements: helper.FieldElements)

@inputType = @{ elements.args.get('type).map(_.toString).getOrElse("text") }

<div class="form-group @if(elements.hasErrors) {has-error}">
    @if(inputType == "checkbox") {
        <div class="form-check checkbox">
            <label for="@elements.id" class="control-elements">
                @elements.input
                @elements.label
            </label>
        </div>
    } else {
        @defining(Messages("constraint.required")(elements.p)) { required =>
            <label for="@elements.id" class="control-label">
                @elements.label
                @if(elements.infos.contains(required)) {
                    <span class="required-input">@required</span>
                }
            </label>
            <div class="control-elements">
                @elements.input
                @if(elements.hasErrors) {
                    <span class="help-inline errors">@elements.errors</span>
                } else {
                    <span class="help-inline">@elements.infos.filter(_ != required).map(i => Messages(i.toString)(elements.p)).mkString(", ")</span>
                }
            </div>
        }
    }
</div>
