@(elements: helper.FieldElements)

@* FIXME: this matching is terrible *@
@if(elements.input.body.contains("type=\"checkbox\"") || elements.input.body.contains("type=\"radio\"")) {
    <div class="form-check checkbox @if(elements.hasErrors) {has-error}">
        @if(elements.input.body.contains("class=")) {
            @Html(elements.input.body.replaceFirst("(class=[\"'])", "$1form-check-input "))
        } else {
            @Html(elements.input.body.replaceFirst("(<\\w+ )", "$1class=\"form-check-input\" "))
        }
        <label for="@elements.id" class="form-check-label">@elements.label</label>
    </div>
} else {
    <div class="form-group @if(elements.hasErrors) {has-error}">
        @defining(Messages("constraint.required")(elements.p)) { required =>
            <label for="@elements.id" class="control-label">
                @elements.label
                @if(elements.infos.contains(required)) {
                    <span class="required-input">@required</span>
                }
            </label>
            <div class="control-elements">
                @if(elements.input.body.contains("class=")) {
                    @Html(elements.input.body.replaceFirst("(class=[\"'])", "$1form-control "))
                } else {
                    @Html(elements.input.body.replaceFirst("(<\\w+ )", "$1class=\"form-control\" "))
                }
                @if(elements.hasErrors) {
                    <span class="help-inline errors">@elements.errors</span>
                } else {
                    <span class="help-inline">@elements.infos.filter(_ != required).map(i => Messages(i.toString)(elements.p)).mkString(", ")</span>
                }
            </div>
        }
    </div>
}
