@(elements: helper.FieldElements)

@if(!elements.input.toString.contains("checkbox")) {
    <div class="form-field @if(elements.hasErrors) {has-error}">
        <label class="sr-only" for="@elements.id">@elements.label</label>
        @if(elements.input.toString.contains("class=")) {
            @Html(elements.input.toString.replaceFirst("(class=[\"'])", "$1form-control "))
        } else {
            @Html(elements.input.toString.replaceFirst("(<\\w+ )", "$1class=\"form-control\" "))
        }

        @if(elements.hasErrors) {
            <span class="help-block">@elements.errors.mkString(", ")</span>
        }
    </div>
} else {
    <div class="form-field checkbox @{if(elements.hasErrors) "has-error"}">
        <label>
            @elements.input
            @elements.label
        </label>
        @if(elements.hasErrors) {
            <span class="help-block">@elements.errors.mkString(", ")</span>
        }
    </div>
}
