@(params: services.search.SearchParams, id: String, label: String)(implicit req: RequestHeader, messages: Messages)

@import services.search.SearchParams.QUERY

<div class="inline-search-filter search-box">
    <label for="@id" class="sr-only" aria-hidden="true">@label</label>
    <input class="form-control form-control-sm @{if(params.query.nonEmpty) "active"}"
        id="@id" type="search" name="@QUERY" value="@params.query" title="@label"
        placeholder="@label" />
    <span class="input-group-append">
        <button class="btn submit-search" type="submit">
            <i class="material-icons form-control-feedback">search</i>
        </button>
    </span>
</div>
