@(params: services.search.SearchParams, id: String, label: String)(implicit req: RequestHeader, messages: Messages)

@import services.search.SearchParams.QUERY

<div class="inline-search-filter">
    <label for="@id" class="sr-only" aria-hidden="true">@label</label>
    <input class="@{if(params.query.nonEmpty) "active"}" id="@id" type="text" name="@QUERY" value="@params.query" title="@label" />
    @params.query.map { q =>
        <a title="@Messages("search.clear")" class="alt" href="@utils.http.joinPath(req.path, req.queryString - QUERY)"><span class="fa fa-times"></span></a>
    }
</div>