@(title: String, action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, flash: Flash)

@views.html.layout.portalLayout(Messages(title)) {
    @views.html.common.mainContent {
        <h1>@Messages(title)</h1>
        @helper.form(action = action, 'role -> "role") {
            @formHelpers.csrfToken()

            <div class="form-group">
                <button type="submit" class=" btn  btn-post ">
                    @Messages(title + ".submit")
                </button>
            </div>
        }
    }
}
