@(item: models.base.DescribedModel, desc: models.base.Description, links: Seq[Link], accessPointTypes: List[AccessPointF.AccessPointType.Value] = AccessPointF.AccessPointType.values.toList)(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@if(desc.accessPoints.nonEmpty) {
    @accessPointTypes.map { accessPointType =>
        @defining(desc.accessPoints.filter(_.accessPointType == accessPointType)) { apLinks =>
            @if(apLinks.nonEmpty) {
                <div class="item-text-field">
                    <header class="item-text-field-header">
                        <h4>@Messages("accessPoint.type." + accessPointType)</h4>
                    </header>
                    <ul class="item-text-field-value item-text-field-list item-access-point-links" dir="auto">
                        @apLinks.map { accessPoint =>
                            @views.html.common.accessPointLink(item, accessPoint, links)
                        }
                    </ul>
                </div>
            }
        }
    }
}
