@(item: models.base.Model, accessPoint: AccessPointF, links: Seq[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@*
 * Render an access point which may or may not have a corresponding
 * link target.
 *@
@accessPoint.target(item, links).map { case (link, other) =>
    <li class="resolved-access-point" id="@accessPoint.id" dir="@views.Helpers.textDirectionAttr(accessPoint.name)">
        @views.html.helpers.linkTo(other, content = Html(accessPoint.name),
            attributes = link.data.description.filterNot(_.trim.isEmpty).toSeq.map('title -> _))
    </li>
}.getOrElse {
    <li @{accessPoint.description.filterNot(_.trim.isEmpty).map{d => }}
        class="unresolved-access-point" id="@accessPoint.id" dir="@views.Helpers.textDirectionAttr(accessPoint.name)">
        @accessPoint.name
    </li>
}
