@(item: models.base.DescribedModel, desc: models.base.Description, links: Seq[Link])(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@relatedLinks(list: Seq[AccessPointF], accessPointType: AccessPointF.AccessPointType.Value) = {
    @if(list.nonEmpty) {
        <ul class="item-annotation-links list-unstyled">
            @list.map { accessPoint =>
                @accessPoint.target(item, links).map { case (link, other) =>
                    <li class="resolved-access-point" id="@accessPoint.id">
                        @views.html.helpers.linkTo(other, Html(accessPoint.name))
                        @if(link.data.dates.nonEmpty) {
                            <span class="small">@link.data.dateRange</span>
                        }
                        @link.data.description.map { desc =>
                            <p class="small muted">@desc</p>
                        }
                    </li>
                }.getOrElse {
                    <li class="unresolved-access-point" id=" @accessPoint.id">
                        @accessPoint.name
                        @accessPoint.description.filter(_.trim.isEmpty).map { desc =>
                            <p class="small muted">@desc</p>
                        }
                    </li>
                }
            }
        </ul>
    }
}


@if(desc.accessPoints.nonEmpty) {
    <div class="access-points description-section">
        <h4>@Messages(prefix + ".accessPoints")</h4>
        @AccessPointF.AccessPointType.values.toList.map { accessPointType =>
            @relatedLinks(desc.accessPoints.filter(_.accessPointType == accessPointType), accessPointType)
        }
    </div>
}
