@(item: models.base.DescribedMeta[models.base.Description, models.base.Described[models.base.Description]], desc: models.base.Description, links: Seq[Link])(implicit prefix: String, userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, globalConfig: global.GlobalConfig)

@relatedLinks(list: Seq[AccessPointF], accessPointType: AccessPointF.AccessPointType.Value) = {
    @if(list.nonEmpty) {
        <ul class="item-annotation-links list-unstyled">
            @list.map { accessPoint =>
                @accessPoint.target(item, links).map { case (link, other) =>
                    <li class="resolved-access-point" id="@accessPoint.id">
                         @views.html.helpers.linkTo(other, Html(accessPoint.name))
                        @if(link.model.dates.nonEmpty) {
                            <small>@link.model.dateRange</small>
                        }
                        @link.model.description.map { desc =>
                            <small><p class="text-muted">@desc</p></small>
                        }
                    </li>
                }.getOrElse {
                    <li class="unresolved-access-point" id=" @accessPoint.id">
                        @accessPoint.name
                        @accessPoint.description.filter(_.trim.isEmpty).map { desc =>
                            <small><p class="text-muted">@desc</p></small>
                        }
                    </li>
                }
            }
        </ul>
    }
}


@if(desc.accessPoints.nonEmpty) {
    <div class="access-points description-section">
        <h4>@Messages(prefix + ".accessPoints")</h4>
        @AccessPointF.AccessPointType.values.toList.map { accessPointType =>
            @relatedLinks(desc.accessPoints.filter(_.accessPointType == accessPointType), accessPointType)
        }
    </div>
}
