@(showFeedback: Boolean = true, showAdminLink: Boolean = false, showLogin: Boolean = true, prefsOpt: Option[utils.SessionPrefs] = None)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

<ul>
    @if(showFeedback) {
        <li class="feedback-container dropdown">
            <a href="#" id="feedback-toggle" class="dropbox-toggle" data-toggle="dropdown" aria-expanded="false">
                @Messages("feedback")
                <span class="caret"></span>
            </a>
            <ul id="feedback-dropdown" class="dropdown-menu" role="menu">
                <li class="feedback">
                    @views.html.feedback.form(models.Feedback.form)
                </li>
            </ul>
        </li>
    }
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            @Messages("help")
            <span class="caret"></span>
        </a>
        <ul id="help-dropdown" class="dropdown-menu" role="menu">
            @globalConfig.configuration.get[Option[String]]("ehri.portal.manualUrl").map { url =>
                <li>
                    <a href="@url" target="_blank">
                        <i class="fa fa-info-circle"></i> @Messages("help.manual")
                    </a>
                </li>
            }
            <li>
                <a href="@controllers.portal.routes.Portal.externalPage("faq")">
                    <i class="fa fa-question-circle"></i> @Messages("help.faq")
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@controllers.portal.routes.Portal.about()">@Messages("about")</a>
            </li>
            <li>
                <a href="@controllers.portal.routes.Portal.contact()">@Messages("help.contact")</a>
            </li>
        </ul>
    </li>
    @userOpt.map { user =>
        @if(showAdminLink && user.account.exists(_.staff)) {
        <li>
            <a href="/admin">@Messages("admin.site")</a>
        </li>
        }

        <li class="view-options">
            <a href="#" class="@views.Helpers.maybeActive(controllers.portal.users.routes.UserProfiles.profile().url) gravitar dropdown-toggle" data-toggle="dropdown">
                <img height="20" width="20" class="user-img-icon"
                     src="@views.Helpers.gravitar(user.data.imageUrl)"/>
                <span class="caret"></span>
            </a>
            <ul class="boolean-preferences dropdown-menu" role="menu">
                <li class="">
                    <a href="@controllers.portal.users.routes.UserProfiles.profile()" class="gravitar">
                        <span class="fa fa-user-o"></span>
                        @Messages("profile.menu.link")
                    </a>
                </li>
                <li role="presentation" class="dropdown-header">@Messages("profile.preferences.view")</li>
                @prefsOpt.map { prefs =>
                    <li>
                        <a href="#" class="toggle-boolean-preference boolean-@prefs.showUserContent"
                        data-preference-name="showUserContent"
                        data-preference-value="@prefs.showUserContent">
                        @Messages("profile.preferences.view.showUserContent")
                        </a>
                    </li>
                }

                <li role="presentation" class="dropdown-header">@Messages("account")</li>
                <li>
                    <a href="@controllers.portal.account.routes.Accounts.logout()">
                        @Messages("logout")
                    </a>
                </li>
            </ul>
        </li>
    }.getOrElse {
        @if(showLogin) {
            <li>
                <a href="@controllers.portal.account.routes.Accounts.login()">
                    @Messages("login")
                </a>
            </li>
            <li>
                <a href="@controllers.portal.account.routes.Accounts.signup()">
                    @Messages("login.signup")
                </a>
            </li>
        }
    }
</ul>
