@(showFeedback: Boolean = false, showAdminLink: Boolean = false, prefsOpt: Option[utils.SessionPrefs] = None)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

<ul>
    @if(showFeedback) {
        <li class="feedback-container dropdown">
            <a href="#" id="feedback-toggle" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                @Messages("feedback")
                <span class="caret"></span>
            </a>
            <div id="feedback-dropdown" class="dropdown-menu">
                <div class="feedback">
                    @views.html.feedback.form(models.Feedback.form)
                </div>
            </div>
        </li>
    }
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            @Messages("help")
            <span class="caret"></span>
        </a>
        <div id="help-dropdown" class="dropdown-menu" role="menu">
            @globalConfig.configuration.get[Option[String]]("ehri.portal.manualUrl").map { url =>
                <a class="dropdown-item" role="menuitem" href="@url" target="_blank" rel="noopener">
                    @Messages("help.manual")
                </a>
            }
            <a class="dropdown-item" role="menuitem" href="@controllers.portal.routes.Portal.externalPage("faq")">
                @Messages("help.faq")
            </a>
            <div class="dropdown-divider" role="presentation"></div>
            <a class="dropdown-item" role="menuitem" href="@controllers.portal.routes.Portal.about()">@Messages("about")</a>
            <a class="dropdown-item" role="menuitem" href="@controllers.portal.routes.Portal.contact()">@Messages("help.contact")</a>
        </div>
    </li>
    @userOpt.map { user =>
        @if(showAdminLink && user.account.exists(_.staff)) {
        <li>
            <a href="/admin">@Messages("admin.site")</a>
        </li>
        }

        <li class="view-options">
            <a href="#" aria-label="@Messages("profile.menu")" class="@views.Helpers.maybeActive(controllers.portal.users.routes.UserProfiles.profile().url) gravitar dropdown-toggle" data-toggle="dropdown">
                <div class="user-img-icon" style="background-image: url('@views.Helpers.gravitar(user.data.imageUrl)')"></div>
                <span class="caret"></span>
            </a>
            <div class="boolean-preferences dropdown-menu" role="menu">
                <a href="@controllers.portal.users.routes.UserProfiles.profile()" class="dropdown-item gravitar" role="menuitem">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    @Messages("profile.menu.link")
                </a>
                @prefsOpt.map { prefs =>
                    <div role="presentation" class="dropdown-header">@Messages("profile.preferences.view")</div>
                    <a href="#" class="dropdown-item toggle-boolean-preference boolean-@prefs.showUserContent"
                            role="menuitemcheckbox"
                            data-preference-name="showUserContent"
                            data-preference-value="@prefs.showUserContent">
                        @Messages("profile.preferences.view.showUserContent")
                    </a>
                }

                <div role="presentation" class="dropdown-header">@Messages("account")</div>
                <a class="dropdown-item" role="menuitem" href="@controllers.portal.account.routes.Accounts.logout()">
                    @Messages("logout")
                </a>
            </div>
        </li>
    }.getOrElse {
        <li>
            <a href="@controllers.portal.account.routes.Accounts.login()">
                @Messages("login")
            </a>
        </li>
        <li>
            <a href="@controllers.portal.account.routes.Accounts.signup()">
                @Messages("login.signup")
            </a>
        </li>
    }
</ul>
