@(showFeedback: Boolean = true, showAdminLink: Boolean = false, showLogin: Boolean = true, prefsOpt: Option[utils.SessionPrefs] = None)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@views.html.common.topNavBar {
    @if(userOpt.isDefined) {
        <ul>
            <li class="@views.Helpers.maybeActive(controllers.portal.routes.Portal.personalisedActivity().url)">
                <a href="@controllers.portal.routes.Portal.personalisedActivity()">@Messages("activity")</a>
            </li>
            <li class="@views.Helpers.maybeActivePath(controllers.portal.social.routes.Social.browseUsers().url)">
                <a href="@controllers.portal.social.routes.Social.browseUsers()">@Messages("social.users")</a>
            </li>
        </ul>
    }
} {
    @views.html.common.accountHeaderRightMenu(showFeedback, showAdminLink, showLogin, prefsOpt)
}
