@(item: Holder[_], childType: EntityType.Value)(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages)

@item.childCount.filter(_ > 0).map { childCount =>
    @views.html.common.sidebarSection(Messages(s"${views.Helpers.prefixFor(item.isA)}.childItems"), cls = "child-items") {
        <a class="type-highlight @childType child-item-link" href="#@(item.id)-child-item-search">
            @Messages(s"${views.Helpers.prefixFor(item.isA)}.childItems.search", childCount)
        </a>
    }
}
