@(descriptions: List[models.base.Description])(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@if(descriptions.size > 1) {
<div class="sidebar-section">
    <header>@Messages("description.multiple.text")</header>
    <div class="list-group description-switcher">
        @descriptions.map { desc =>
        @desc.id.map { id =>
        <a class="list-group-item description-switch"
            title="@views.Helpers.languageCodeToName(desc.languageCode) - @desc.name"
            href="#desc-@id"
            data-id="@id">
            @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
        </a>
        }
        }
    </div>
</div>
}