@(item: models.base.DescribedMeta, desc: models.base.Description, annotations: Seq[Annotation])(html: Html)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import models.base.Description.CreationProcess

<div class="description-holder" id="desc-@desc.localId">
    <div class="description @desc.isA" id="@desc.id">
        @html

        <div class="description-footer">
            @if(desc.creationProcess == CreationProcess.Import) {
                <div class="import-disclaimer">
                @Messages("documentaryUnit.creationProcess.IMPORT.disclaimer")
                </div>
            }
            @views.html.common.descriptionAnnotations(item, desc, Annotation.itemAnnotations(desc.id, annotations))
        </div>
    </div>
</div>