@(descriptions: Seq[(models.base.Description, Boolean)], dropdown: Boolean = false, labelKey: String = "description.multiple.text")(html: Html)(sidebarBefore: Html)(sidebarAfter: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages)

<section class="double descriptions">
    <aside class="right-sidebar description-sidebar">
        @sidebarBefore
        @if(descriptions.size > 1) {
            @views.html.common.sidebarSection(Messages(labelKey), cls = "description-switcher") {
                @if(dropdown) {
                    <div class="dropdown">
                        <div class="dropdown-toggle" id="description-switcher-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <label>
                            @descriptions.find(_._2).map { case (desc, _) =>
                                @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
                            }.getOrElse {
                                @Messages(labelKey)
                            }
                            </label>
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="description-switcher-toggle">
                            @descriptions.map { case (desc, selected) =>
                                <li @(if(selected) "active")>
                                    <a title="@views.Helpers.languageCodeToName(desc.languageCode) - @desc.name"
                                            href="@utils.http.joinPath(req.path, req.queryString.updated("dlid", desc.localId.toSeq))"
                                            data-id="@desc.localId">
                                        @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
                                </a>
                                </li>
                            }
                        </ul>
                    </div>
                } else {
                    <ul>
                        @descriptions.map { case (desc, selected) =>
                            <li class="@(if(selected) "active")">
                                <a title="@views.Helpers.languageCodeToName(desc.languageCode) - @desc.name"
                                        href="@utils.http.joinPath(req.path, req.queryString.updated("dlid", desc.localId.toSeq))"
                                        data-id="@desc.localId">
                                    @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
                                </a>
                            </li>
                        }
                    </ul>
                }
            }
        }

        @sidebarAfter
    </aside>
    <article class="description-viewport">
        @html
    </article>
</section>
