@(descriptions: Seq[(models.base.Description, Boolean)], dropdown: Boolean = false, labelKey: String = "description.multiple")(html: Html)(sidebarBefore: Html)(sidebarAfter: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages)

<section class="double descriptions">
    <aside class="sidebar description-sidebar">
        @sidebarBefore
        @views.html.common.descriptionSwitcher(descriptions, dropdown, labelKey)
        @sidebarAfter
    </aside>
    <article class="description-viewport">
        @html
    </article>
</section>
