@(item: models.base.Model, desc: models.base.Description, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

<div class="description-annotations annotation-set">
    @defining(Annotation.itemAnnotations(desc.id, annotations).filter(_.data.field.isEmpty)) { annotations =>
        @if(userOpt.isDefined || annotations.nonEmpty) {
            <h3 class="description-annotations-header">@Messages("annotation.description")</h3>
        }
        @views.html.annotation.annotationInlineList(annotations)
        @userOpt.map { user =>
            @item.contentType.map { ct =>
                @if(user.hasPermission(ct, PermissionType.Annotate)) {
                    <div class="annotate-item-controls">
                        @desc.id.map { did =>
                            <a data-item="@item.id" data-did="@did" class="annotate-item"
                                title="@Messages("annotation.create.title")"
                               href="@controllers.portal.annotate.routes.Annotations.annotate(item.id, did)">
                                <span class="fa fa-comment-o"></span>
                                @Messages("annotation.create")
                            </a>
                        }
                    </div>
                }
            }
        }
    }
</div>
