@(descriptions: Seq[(models.base.Description, Boolean)], dropdown: Boolean = false, labelKey: String = "description.multiple")(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages)

@if(descriptions.size > 1) {
    @views.html.common.sidebarSection(Messages(labelKey), cls = "description-switcher") {
        @if(dropdown) {
            <div class="dropdown">
                <div class="dropdown-toggle" id="description-switcher-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @descriptions.find(_._2).map { case (desc, _) =>
                        @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
                    }.getOrElse {
                        @Messages(labelKey)
                    }
                    <span class="caret"></span>
                </div>
                <div class="dropdown-menu" aria-labelledby="description-switcher-toggle">
                    @descriptions.map { case (desc, selected) =>
                        <a class="dropdown-item @(if(selected) "active")"
                                title="@views.Helpers.languageCodeToName(desc.languageCode) - @desc.name"
                                href="@utils.http.joinPath(req.path, req.queryString.updated("dlid", desc.localId.toSeq))"
                                data-id="@desc.localId">
                            @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
                        </a>
                    }
                </div>
            </div>
        } else {
            <p class="multiple-description-help">
                @Messages("description.multiple.text")
            </p>
            <ul class="description-list" aria-labelledby="description-switcher-toggle">
                @descriptions.map { case (desc, selected) =>
                    <li class="description-list-item">
                        <a class="@(if(selected) "active")"
                                title="@views.Helpers.languageCodeToName(desc.languageCode) - @desc.name"
                                href="@utils.http.joinPath(req.path, req.queryString.updated("dlid", desc.localId.toSeq))"
                                data-id="@desc.localId">
                            <strong>@views.Helpers.languageCodeToName(desc.languageCode)</strong> - @desc.name
                        </a>
                    </li>
                }
            </ul>
        }
    }
}
