@(fmts: Map[String, Call])(implicit request: RequestHeader, messages: Messages)

@if(fmts.nonEmpty) {
    @views.html.common.sidebarSection(Messages("export.metadata"), cls = "export") {
        <ul class="export-formats">
        @for((fmt, url) <- fmts) {
            <li class="export-format-item">
                <a rel="nofollow" href="@url">
                    <i class="fa fa-download"></i>
                    @Messages(s"export.format.$fmt")
                </a>
            </li>
        }
        </ul>
    }
}
