@(item: models.base.DescribedModel, links: Seq[Link], accessPointTypes: List[AccessPointF.AccessPointType.Value] = AccessPointF.AccessPointType.values.toList)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, globalConfig: global.GlobalConfig)

@defining(item.externalLinks(links)) { links =>
    @if(links.nonEmpty) {
        <h3>@Messages("item.related")</h3>
        @accessPointTypes.map { accessPointType =>
            @defining(AccessPoint.linksOfType(links, accessPointType).distinct) { apLinks =>
                @if(apLinks.nonEmpty) {
                    <div class="item-text-field">
                        <header class="item-text-field-header">
                            <h4>@Messages("accessPoint.type." + accessPointType + ".reverse")</h4>
                        </header>
                        <ul class="item-text-field-value item-text-field-list item-external-links" dir="auto">
                            @apLinks.map { link =>
                                @itemLink(link, item)
                            }
                        </ul>
                    </div>
                }
            }
        }
    }
}
