@(item: Model, nodeId: String, key: String, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages)

@for(user <- userOpt; ct <- item.contentType if user.hasPermission(ct, PermissionType.Annotate)) {
    <div class="field-annotation-controls">
        @defining(annotations.filterNot(_.isOwnedBy(userOpt)).size) { other =>
            @if(other > 0) {
                <a href="#" title="@Messages("annotation.field.showHidden", other)" class="hidden-toggle fa fa-comments@{if(!prefs.showUserContent) "-o"}">@other</a>
            }
        }
        <a class="annotate-field inactive" title="@Messages("annotation.field.create.title")" data-item="@item.id" data-did="@nodeId" data-field="@key" data-target="@nodeId-@key" href="@controllers.portal.annotate.routes.Annotations.annotateField(item.id, nodeId, key)">
            <span class="fa fa-comment-o"></span>
            @Messages("annotation.field.create")
        </a>
    </div>
}
