@()(implicit req: RequestHeader, conf: AppConfig, messages: Messages)

@import org.apache.commons.lang3.StringUtils

@footerLink(call: Call, code: String) = {
    <li class="@views.Helpers.maybeActive(call.url)">
        <a href="@call">@Messages(code)</a>
    </li>
}

<footer id="portal-footer" class="footer sticky">
    <div id="footer-content">
        <div id="footer-navs">
            <div class="newsletter">
                <h3>@Messages("mailingList.prompt")</h3>
                @conf.configuration.getOptional[String]("ehri.portal.mailingListUrl").map { url =>
                    <a href="@url" class="btn btn-primary" target="_blank" rel="noopener" id="subscribe-to-newsletter">
                        @Messages("mailingList.subscribe")
                    </a>
                }
                <div class="social-links">
                    <a href="https://facebook.com/EHRIproject">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a>
                    <a href="https://twitter.com/EHRIproject">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a>
                </div>
            </div>
            <ul id="lang-switcher">
            @conf.languages.map(c => (c, new java.util.Locale(c))).map { case (changeLang, locale) =>
                <li class="@{if(messages.lang.toString.toLowerCase.contains(changeLang)) "active"}">
                    <a href="@controllers.portal.routes.Portal.changeLocale(changeLang)">
                        @StringUtils.capitalize(locale.getDisplayName(locale))
                    </a>
                </li>
            }
            </ul>
        </div>

        <div id="footer-blurb">
            <div class="copyright">&copy; @Messages("copyright.holder", java.time.Year.now(java.time.ZoneId.systemDefault()).getValue)</div>
            <div class="funding">@Messages("footer.funding")</div>
            <div id="footer-logos">
                <img class="eu-logo" alt="EU Logo" src="@controllers.portal.routes.PortalAssets.versioned("img/eulogo.svg")" />
                <a target="_blank" rel="noopener" title="Ars Electronica 2018 Honorary Mention" href="http://prix2018.aec.at/prixwinner/28933/">
                    <img alt="Ars Electronica 2018 Honorary Mention" src="@controllers.portal.routes.PortalAssets.versioned("img/ars_2018_hm.jpg")" />
                </a>
            </div>
        </div>

        <ul id="navbar-tertiary">
            @footerLink(controllers.portal.routes.Portal.terms(), "termsAndConditions")
            @footerLink(controllers.portal.routes.Portal.dataPolicy(), "dataPolicy")
            <li class="@views.Helpers.maybeActive("/api")">
                <a href="/api">API</a>
            </li>
            @footerLink(controllers.portal.routes.Portal.externalPage("faq"), "help.faq")
            @footerLink(controllers.portal.routes.Portal.dataModel(), "help.dataModel")
        </ul>
    </div>
</footer>
