@()(implicit req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@import org.apache.commons.lang3.StringUtils

@footerLink(call: Call, code: String) = {
    <li class="@views.Helpers.maybeActive(call.url)">
        <a href="@call">@Messages(code)</a>
    </li>
}

<footer id="portal-footer" class="footer sticky">
    <div id="footer-content">
        <div id="footer-navs">
            <div class="newsletter">
                <h3>@Messages("mailingList.prompt")</h3>
                @globalConfig.configuration.getOptional[String]("ehri.portal.mailingListUrl").map { url =>
                    <a href="@url" class="btn btn-primary" target="_blank" id="subscribe-to-newsletter">
                        @Messages("mailingList.subscribe")
                    </a>
                }
                <div class="social-links">
                    <a href="https://facebook.com/EHRIproject">
                        <i class="fa fa-facebook"></i>
                        Facebook
                    </a>
                    <a href="https://twitter.com/EHRIproject">
                        <i class="fa fa-twitter"></i>
                        Twitter
                    </a>
                </div>
            </div>
            <ul id="lang-switcher">
            @globalConfig.languages.map(c => (c, new java.util.Locale(c))).map { case (changeLang, locale) =>
                <li class="@{if(messages.lang.toString.toLowerCase.contains(changeLang)) "active"}">
                    <a href="@controllers.portal.routes.Portal.changeLocale(changeLang)">
                        @StringUtils.capitalize(locale.getDisplayName(locale))
                    </a>
                </li>
            }
            </ul>
        </div>

        <div id="footer-blurb">
            <span class="copyright">&copy; @Messages("copyright.holder")</span>
            <span class="funding">@Messages("footer.funding")</span>
            <div id="footer-logos">
                <img class="eu-logo" alt="EU Logo" src="//ehri-assets.s3-eu-west-1.amazonaws.com/eulogo.svg" />
                <a target="_blank" title="Ars Electronica 2018 Honorary Mention" href="http://prix2018.aec.at/prixwinner/28933/">
                    <img alt="Ars Electronica 2018 Honorary Mention" src="//ehri-assets.s3-eu-west-1.amazonaws.com/ars_2018_hm.jpg" />
                </a>
            </div>
        </div>
        <ul id="navbar-tertiary">
            @footerLink(controllers.portal.routes.Portal.terms(), "termsAndConditions")
            @footerLink(controllers.portal.routes.Portal.dataPolicy(), "dataPolicy")
            <li class="@views.Helpers.maybeActive("/api")">
                <a href="/api">API</a>
            </li>
        </ul>

    </div>
</footer>
