@(title: Any, styles: Html = Html(""), meta: Map[String,String] = Map.empty)(implicit globalConfig: global.GlobalConfig, messages: Messages)

<head>
    <title>EHRI - @title</title>

    <link rel="shortcut icon" type="image/png" href="@controllers.portal.routes.PortalAssets.versioned("img/favicon.png")">
    @*<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("css/font-awesome.css")">
    <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("css/portal.css")">

    @if(messages.lang.code.startsWith("he")) {
        <!-- experimental hebrew right-to-left support -->
        <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("css/lib/bootstrap-rtl.css")">
    }

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="EHRI Consortium 2015">
    <meta name="description" content="@meta.getOrElse("description", "The European Holocaust Research Infrastructure Online Portal")">
    <meta name="keywords" content="@meta.getOrElse("keywords", "EHRI,Portal,Holocaust,Research,Shoah,Archives,History,Deportations,Camps,Ghettos")">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @styles
    @globalConfig.extraHeadContent.map(c => Html(c))
</head>
