@(title: Any, styles: Html = Html(""), meta: Map[String,String] = Map.empty, ogMeta: Map[String, String] = Map.empty)(implicit req: RequestHeader, conf: AppConfig, messages: Messages)

@import org.apache.commons.lang3.StringUtils

@ogMetaValue(key: String, default: Option[String] = None) = @{
    val pageValue = ogMeta.get(key).filterNot(_.trim.isEmpty)
    val confValue = conf.configuration.getOptional[String]("ehri.portal.og." + key)
    pageValue.orElse(confValue).orElse(default)
}

@ogMetaTag(key: String, default: Option[String] = None) = {
    @ogMetaValue(key, default).map { value =>
        <meta property="og:@key" content="@StringUtils.normalizeSpace(StringUtils.abbreviate(value, 600))">
    }
}

<head>
    <title>EHRI - @title</title>

    @views.html.common.favicons()
    <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("css/portal.css")">

    @if(messages.lang.code.startsWith("he")) {
        <!-- experimental hebrew right-to-left support -->
        <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("css/lib/bootstrap-rtl.css")">
    }

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="@(Messages("copyright.holder", java.time.Year.now(java.time.ZoneId.systemDefault()).getValue))">
    <meta name="description" content="@meta.getOrElse("description", conf.configuration.get[String]("ehri.portal.meta.description"))">
    <meta name="keywords" content="@meta.getOrElse("keywords", conf.configuration.get[String]("ehri.portal.meta.keywords"))">

    <!-- Open Graph meta tags -->
    <meta property="og:site_name" content="@Messages("siteName")">
    @ogMetaTag("title", Some(Messages("welcome.title")))
    @ogMetaTag("description", Some(Messages("welcome.blurb")))
    @ogMetaTag("url", Some(controllers.portal.routes.Portal.index().absoluteURL(conf.https)))
    @conf.configuration.getOptional[String]("ehri.portal.og.image").map { ogImage =>
        <meta property="og:image" content="@controllers.portal.routes.PortalAssets.versioned(ogImage).absoluteURL(conf.https)">
    }
    @conf.configuration.getOptional[Int]("ehri.portal.og.imageWidth").map { ogImageWidth =>
        <meta property="og:image:width" content="@ogImageWidth">
    }
    @conf.configuration.getOptional[Int]("ehri.portal.og.imageHeight").map { ogImageHeight =>
        <meta property="og:image:height" content="@ogImageHeight">
    }
    <meta property="og:type" content="website">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @styles
    @conf.extraHeadContent.map(c => Html(c))
</head>
