@(text: String, link: Call)(html: Html = Html(""))(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages)

<div class="content-load">
    <div class="content-load-placeholder">@html</div>
    <div class="content-load-data" style="display: none"></div>
    <a class="content-load-toggle" data-inverse-text="@Messages("details.hide")" href="@link">
        <span class="load-prompt">@text</span>
        <span class="loading-indicator spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </a>
</div>
