@(link: Link, item: DescribedModel)(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, conf: AppConfig)

@linkItemHtml(html: Html) = {
    @if(html.body.trim.nonEmpty) {
        <li class="item-link">
            @html
        </li>
    }
}

@linkItemHtml {
    @link.opposingTarget(item).map { t =>
        <div class="link-target" dir="@views.Helpers.textDirectionAttr(t.toStringLang)">
            @views.html.helpers.linkTo(t)
        </div>
    }
    @link.data.description.filterNot(_.trim.isEmpty).map { desc =>
        <p class="link-description">
            @desc
        </p>
    }
}
