@(item: Accessible, historyUrl: Call)(implicit request: RequestHeader, messages: Messages)

@item.latestEvent.map { ev =>
    @views.html.common.sidebarSectionWithFooter(Messages("item.history"), cls = "history") {
        <strong title="@common.eventTitle(ev)">@views.Helpers.relativeDate(ev.data.timestamp)</strong>
        <div class="event-label">@ev.toStringLang</div>
    } {
        <a data-toggle="modal" href="@historyUrl" data-toggle="modal" data-target="#history-modal" data-backdrop="false">
            @Messages("item.history.more")
        </a>
    }
}
