@(options: Seq[(String, String)], current: Option[String] = None)(implicit req: RequestHeader, messages: Messages)

@import services.search.SearchParams

<div class="search-sort">
    <span class="fa fa-sort" title="@Messages("search.sort.title")"></span>
    @options.map { case (sortKey, i18nKey) =>
        @defining((Messages(i18nKey), Messages(i18nKey + ".title"))) { case (name, title) =>
            @if(current.contains(sortKey)) {
                <a rel="nofollow" class="active" title="@title" href="@utils.http.joinPath(req.path, req.queryString.filterKeys(_ != SearchParams.SORT))">
                @name
                </a>
            } else {
                <a rel="nofollow" title="@title" href="@utils.http.joinPath(req.path, req.queryString.updated(SearchParams.SORT, Seq(sortKey.toString)))">
                @name
                </a>
            }
        }
    }
    @current.map { currentSort =>
        @if(req.getQueryString(SearchParams.SORT).isDefined) {
            <input type="hidden" name="@SearchParams.SORT" value="@currentSort">
        }
    }
</div>
