@(options: Seq[(String, String)], current: Option[String] = None)(implicit req: RequestHeader, messages: Messages)

@import services.search.SearchParams

<div class="search-sort">
    <i class="material-icons" title="@Messages("search.sort.title")">sort</i>
    <ul>
    @options.map { case (sortKey, i18nKey) =>
        <li class="sort-option @{if(current.contains(sortKey)) "active"}">
        @defining((Messages(i18nKey), Messages(i18nKey + ".title"))) { case (name, title) =>
            @if(current.contains(sortKey)) {
                <a rel="nofollow" title="@title" href="@utils.http.joinPath(req.path, req.queryString.filterKeys(_ != SearchParams.SORT))">
                @name
                </a>
            } else {
                <a rel="nofollow" title="@title" href="@utils.http.joinPath(req.path, req.queryString.updated(SearchParams.SORT, Seq(sortKey.toString)))">
                @name
                </a>
            }
        }
        </li>
    }
    </ul>
    @current.map { currentSort =>
        @if(req.getQueryString(SearchParams.SORT).isDefined) {
            <input type="hidden" name="@SearchParams.SORT" value="@currentSort">
        }
    }
</div>
