@(item: Model, nodeId: String, key: String, list: Seq[String], transformFunc: String => String = identity)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, fieldAnnotations: Seq[Annotation])

@if(list.nonEmpty) {
    @defining(fieldAnnotations.filter(_.data.field.contains(key))) { anns =>
        <div class="item-text-field @{if(views.Helpers.isAnnotatable(item, userOpt)) "annotable"}" id="@nodeId-@key">
            <header class="item-text-field-header">
                <h4>@Messages(if(fieldPrefix.isEmpty) key else s"$fieldPrefix.$key")</h4>
                @fieldAnnotationButton(item, nodeId, key, anns)
            </header>
            <ul class="item-text-field-value item-text-field-list">
            @list.map { item =>
                <li dir="@views.Helpers.textDirectionAttr(item)">@Markdown(transformFunc(item))</li>
            }
            </ul>
            @fieldAnnotationControls(item, nodeId, key, anns)
        </div>
    }
}
