@()(implicit messages: Messages)

<div class="markdown-cheatsheet">
    <dl class="description-markdown-cheatsheet">
        <dt>@Messages("markdown.cheatsheet.italic")</dt>
        <dd>*<i>@Messages("markdown.cheatsheet.asterisks")</i>* or _<i>@Messages("markdown.cheatsheet.underscores")</i>_.</dd>
        <dt>@Messages("markdown.cheatsheet.bold") </dt>
        <dd>**<b>@Messages("markdown.cheatsheet.asterisks")</b>** or __<b>@Messages("markdown.cheatsheet.underscores")</b>__.</dd>
        <dt>@Messages("markdown.cheatsheet.ordered")</dt>
        <dd>1. @Messages("markdown.cheatsheet.ordered.item1")</dd>
        <dd>2. @Messages("markdown.cheatsheet.ordered.item2")</dd>
        <dt>@Messages("markdown.cheatsheet.unordered")</dt>
        <dd>- @Messages("markdown.cheatsheet.unordered.item1")</dd>
        <dd>- @Messages("markdown.cheatsheet.unordered.item2")</dd>
    </dl>
    <i><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
            target="_blank">@Messages("markdown.cheatsheet.more")</a></i>
</div>
