@(page: utils.AbstractPage[_], call: Option[Call] = None, namespace: String = "")(implicit req: RequestHeader)

@import services.data.Constants.PAGE_PARAM

@if(page.hasMultiplePages) {
    <nav aria-label="Pagination">
        <ul class="pagination">
        @views.Helpers.paginationRanges(page.page + 1, page.numPages).map { range =>
            @range.map { cp =>
                @if(cp == page.page) {
                    <li class="disabled"><a>@cp</a></li>
                } else {
                    @defining(namespace + PAGE_PARAM) { pageParam =>
                        <li><a href="@utils.http.joinPath(
                            call.map(_.url).getOrElse(req.path),
                            req.queryString.updated(pageParam, Seq(cp.toString))
                        )">@cp</a>
                        </li>
                    }
                }
            }
            @if(range.last != page.numPages) {
                <li class="disabled"><a>...</a></li>
            }
        }
        </ul>
    </nav>
}
