@(passwordFieldId: String = "password")(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)

@metaKeywordsAsJson = @{
    // Bit of a hack: use the site meta keywords as a source for password strength checking
    // to avoid guessable passwords.
    import play.api.libs.json.Json
    val keywords: Seq[String] = appConfig.configuration.get[String]("ehri.portal.meta.keywords")
        .split(",").map(_.trim).filter(_.nonEmpty)
    Json.prettyPrint(Json.toJson(keywords))
}

<script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/zxcvbn.js")"></script>
<script>
        const strengthLabels = [
            '@Messages("login.password.veryWeak")',
            '@Messages("login.password.weak")',
            '@Messages("login.password.fair")',
            '@Messages("login.password.strong")',
            '@Messages("login.password.veryStrong")',
        ];
        const strengthMeter = document.getElementById('password-strength');
        const strengthText = document.getElementById('strength-text');
        document.addEventListener('DOMContentLoaded', function() {
            const passwordField = document.getElementById("@passwordFieldId");

            // Password strength
            passwordField.addEventListener("keyup", function() {
                var password = this.value;
                if (password.length < 1) {
                    strengthMeter.className = 'strength-meter';
                    strengthText.textContent = 'Enter a password to see strength';
                    return;
                }
                var result = zxcvbn(password, @Html(metaKeywordsAsJson));
                var score = result.score;

                strengthMeter.className = `strength-meter strength-${score}`;
                strengthText.textContent = strengthLabels[score];
            });
        });
</script>

