@(item: PersistentIdentifiable)(implicit req: RequestHeader, userOpt: Option[UserProfile], messages: Messages, appConfig: AppConfig)

@item.pid.map { pid =>
    @views.html.common.sidebarSection(Messages("item.pid")) {
        @defining(appConfig.configuration.getOptional[String]("ehri.portal.arks.urlPrefix")) { prefixOpt =>
            @defining(prefixOpt.fold(controllers.portal.routes.Portal.lookupPid(pid).absoluteURL(appConfig.https))(prefix => s"$prefix$pid")) { url =>
                <a class="permalink" rel="nofollow" href="@url">
                    <span id="permalink-@(item.pid)">@url</span>
                    <span onclick="return false" data-clipboard-target="#permalink-@(item.pid)" class="fa fa-regular fa-fw fa-copy copy-button"></span>
                </a>
            }
        }
    }
}
