@(item: PersistentIdentifiable)(implicit req: RequestHeader, userOpt: Option[UserProfile], messages: Messages, appConfig: AppConfig)

@if(appConfig.configuration.get[Boolean]("ehri.portal.arks.display")) {
    @item.pid.map { pid =>
        @views.html.common.sidebarSection(Messages("item.pid")) {
            @defining(views.Helpers.pidUrl(pid)) { url =>
                <a class="permalink" rel="nofollow" href="@url">
                    <span class="permalink-label" id="permalink-@pid">@url.replaceFirst("https?://", "")</span>
                    <span onclick="return false" data-clipboard-target="#permalink-@pid" class="fa fa-regular fa-fw fa-copy copy-button"></span>
                </a>
            }
        }
    }
}
