@(showSearch: Boolean = true)(implicit request: RequestHeader, messages: Messages)

<div id="navbar-primary-container">
    <nav id="navbar-primary">
        <a id="navbar-logo" href="@controllers.portal.routes.Portal.index()" title="@Messages("home")">
            <img alt="European Holocaust Research Infrastructure" height="auto" width="106"
                src="@controllers.portal.routes.PortalAssets.versioned("img/ehri-logo@2x.png")" rel="logo" />
        </a>
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                data-target="#navbar-primary-dropdown" aria-expanded="false" aria-controls="navbar-dropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-primary-dropdown" class="navbar-collapse collapse">
            <ul>
                <li class="country @views.Helpers.maybeActivePath(controllers.portal.routes.Countries.searchAll().url)">
                    <a href="@controllers.portal.routes.Countries.searchAll()">@Messages("type.Country")</a>
                </li>
                <li class="repository @views.Helpers.maybeActivePath(controllers.portal.routes.Repositories.searchAll().url)">
                    <a href="@controllers.portal.routes.Repositories.searchAll()">@Messages("type.Repository")</a>
                </li>
                <li class="documentaryUnit @views.Helpers.maybeActivePath(controllers.portal.routes.DocumentaryUnits.searchAll().url)">
                    <a href="@controllers.portal.routes.DocumentaryUnits.searchAll()">@Messages("type.DocumentaryUnit")</a>
                </li>
                <li class="vocabulary @views.Helpers.maybeActivePath(controllers.portal.routes.Vocabularies.searchAll().url)">
                    <a href="@controllers.portal.routes.Vocabularies.searchAll()">@Messages("type.CvocVocabulary")</a>
                </li>
                <li class="authoritativeSet @views.Helpers.maybeActivePath(controllers.portal.routes.AuthoritativeSets.searchAll().url)">
                    <a href="@controllers.portal.routes.AuthoritativeSets.searchAll()">@Messages("type.AuthoritativeSet")</a>
                </li>
                @if(showSearch) {
                    <li>
                        @helper.form(action = controllers.portal.routes.Portal.search()) {
                            <div id="site-search-controls" class="search-box">
                                <label class="sr-only" for="quicksearch">@Messages("search.site")</label>
                                <input class="form-control" type="search" name="q" placeholder="@Messages("search.site")" id="quicksearch" value="">
                                <span class="input-group-append">
                                    <button class="btn submit-search" type="submit" aria-label="@Messages("search.site")">
                                        <i class="material-icons form-control-feedback" aria-hidden="true">search</i>
                                    </button>
                                </span>
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
