@(page: utils.RangePage[_], namespace: String = "")(implicit req: RequestHeader, messages: Messages)

@import backend.rest.Constants._

<ul class="pagination" id="pagination">
    @if(page.offset > 0) {
    <li>
        <a href="@utils.joinPath(req.path, req.queryString.updated(OFFSET_PARAM, Seq((math.max(0, page.offset - page.limit)).toString)))">
            @Messages("systemEvent.newerEvents")</a>
    </li>
    } else {
    <li class="disabled"><a>@Messages("systemEvent.newerEvents")</a></li>
    }

    @if(page.more) {
    <li><a href="@utils.joinPath(req.path, req.queryString.updated(OFFSET_PARAM, Seq((page.offset + page.limit).toString)))">
        @Messages("systemEvent.olderEvents")</a></li>
    }
</ul>
