@(id: String, itemType: String, image: Html = Html(""), footer: Html = Html(""))(heading: Html)(actions: Html)(body: Html = Html(""))(implicit userOpt: Option[UserProfile], messages: Messages)

<div class="search-item @itemType" id="@id">
    <div class="search-item-image">@image</div>
    @if(actions.body.trim.nonEmpty) {
        <div class="search-item-actions">
            @actions
        </div>
    }
    <h3 class="search-item-heading type-highlight @itemType">
        @heading
    </h3>
    <div class="search-item-body">
        @body
    </div>
    @if(footer.body.trim.nonEmpty) {
        <div class="search-item-footer">
            @footer
        </div>
    }
</div>
