@(item: models.base.Model, nodeId: String, key: String, valueOpt: Option[String])(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, fieldAnnotations: Seq[Annotation])

@defining(fieldAnnotations.filter(_.data.field.contains(key))) { anns =>
    @valueOpt.filterNot(_.isEmpty).map { value =>
        <div class="item-text-field @{if(views.Helpers.isAnnotatable(item, userOpt)) "annotable"}" id="@nodeId-@key">
            <header class="item-text-field-header" dir="auto">
                <h4>@Messages(fieldPrefix + "." + key)</h4>
                @fieldAnnotationButton(item, nodeId, key, anns)
            </header>
            <div class="item-text-field-value" dir="@views.Helpers.textDirectionAttr(value)">
                @Markdown(value)
            </div>
            @fieldAnnotationControls(item, nodeId, key, anns)
        </div>
    }
}
