@(item: models.base.Model, nodeId: String, valueOpt: Option[String], key: String)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, fieldAnnotations: Seq[Annotation])

@defining(fieldAnnotations.filter(_.data.field.contains(key))) { anns =>
    @valueOpt.filterNot(_.isEmpty).map { value =>
        <div class="item-text-field @{if(views.Helpers.isAnnotatable(item, userOpt)) "annotable"}" id="@nodeId-@key">
            <h4 class="item-text-field-header" dir="auto">
                @Messages(fieldPrefix + "." + key)
                @fieldAnnotationButton(item, nodeId, key, anns)
            </h4>
            <div class="item-text-field-value" dir="auto">
                @Markdown(value)
            </div>
            @fieldAnnotationControls(item, nodeId, key, anns)
        </div>
    }
}