@(leftMenu: Html)(rightMenu: Html)(implicit request: RequestHeader, messages: Messages)

<div id="navbar-top-container">
    <nav id="navbar-top">
        <div id="navbar-actions">
            @leftMenu
        </div>
        <div id="navbar-account-toggle">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
            data-target="#navbar-account" aria-expanded="false" aria-controls="navbar-account">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="navbar-account" class="navbar-collapse collapse">
            @rightMenu
        </div>
    </nav>
</div>
