@(item: models.base.Model, watching: Boolean)(implicit userOpt: Option[UserProfile], messages: Messages)

@if(userOpt.isDefined) {
    <div class="watch-controls @item.isA">
        <a data-item="@item.id"
           role="button"
           class="unwatch glyphicon glyphicon-star" title="@Messages("profile.unwatch.tooltip")"
           style="@(if(!watching) "display: none")" href="@controllers.portal.users.routes.UserProfiles.unwatchItem(item.id)"></a>
        <a data-item="@item.id"
           role="button"
           class="watch glyphicon glyphicon-star-empty"  title="@Messages("profile.watch.tooltip")"
           style="@(if(watching) "display: none")" href="@controllers.portal.users.routes.UserProfiles.watchItem(item.id)"></a>
    </div>
}
