@(facetClasses: Seq[services.search.FacetClass[services.search.Facet]], call: Call)(implicit req: RequestHeader, messages: Messages)

@import services.search._

@facetLabel(fc: FacetClass[_]) = {
    <h4 data-toggle="tooltip"
        title="@Messages("facet." + fc.param + ".tooltip")" class="facet-label@{if(fc.isApplied) " active"}">@fc.name
        <i class="fa fa-question-circle" aria-hidden="true"></i>
    </h4>
}

@facetItem(fc: FacetClass[Facet], f: Facet) = {
    @if(f.applied) {
        <li class="remove-filter">
            <a rel="nofollow" href="@pathWithoutFacet(fc, f.value, call.url, req.queryString.filter(_._1 != "page"))">
                <span class="facet-name">@fc.pretty(f)</span>
                <span class="facet-count">(@f.count)</span>
                <span class="sr-only">@Messages("search.facets.remove")</span>
                <i class="material-icons" aria-hidden="true" title="@Messages("search.facets.remove")">close</i>
            </a>
        </li>
    } else {
        <li class="apply-filter">
            <a rel="nofollow" href="@pathWithFacet(fc, f.value, call.url, req.queryString.filter(_._1 != "page"))">
                <span class="facet-name">@fc.pretty(f)</span>
                <span class="facet-count">(@f.count)</span>
            </a>
        </li>
    }
}

@facetDropDown(fc: FacetClass[Facet]) = {
        @defining(fc.facets.count(_.count > 0) > 0) { active =>
        @defining(fc.facets.size <= 1) { disabled =>
            <li class="facet-class facet-dropdown @{if(fc.isActive) "active"}">
                @facetLabel(fc)
                <div class="facet-options">
                    <label class="sr-only" for="facets-select-@fc.param">@Messages("facet." + fc.param)</label>
                    <select id="facets-select-@fc.param"
                            multiple style="width: 100%"
                            name="@fc.param"
                            data-placeholder="@Messages("facet." + fc.param + ".placeholder")"
                            class="form-control select2 autosubmit">
                        <option></option>
                        @fc.facets.filter(_.count > 0).map { f =>
                            <option value="@f.value" @{if(f.applied) "selected"}>@fc.pretty(f) (@f.count)</option>
                        }
                    </select>
                </div>
            </li>
        }
    }
}

@facetBoolean(fc: FacetClass[Facet]) = {
    @defining(fc.facets.filter(_.count > 0)) { active =>
        <li class="facet-class facet-boolean @{if(fc.isActive) "active"}">
            @facetLabel(fc)
            <ol class="facet-options choice">
            @fc.facets.map { f =>
                <li class="@(if(f.applied) "remove-filter")">
                    @if(f.applied) {
                        <input type="hidden" name="@fc.param" value="@f.value" />
                        <a rel="nofollow" class="remove-filter" href="@pathWithoutFacet(fc, f.value, call.url, req.queryString.filter(_._1 != "page"))">
                            <span class="facet-name">@fc.pretty(f)</span>
                            <span class="facet-count">(@f.count)</span>
                            <span class="sr-only">@Messages("search.facets.remove")</span>
                            <i class="material-icons" aria-hidden="true" title="@Messages("search.facets.remove")">close</i>
                        </a>
                    } else {
                        <a rel="nofollow" class="apply-filter" href="@pathWithFacet(fc, f.value, call.url, req.queryString.filter(_._1 != "page"))">
                            <span class="facet-name">@fc.pretty(f)</span>
                            <span class="facet-count">(@f.count)</span>
                        </a>
                    }
                </li>
            }
            </ol>
        </li>
    }
}

@facetList(fc: FacetClass[Facet]) = {
    @if(fc.facets.nonEmpty) {
        @defining(fc.facets.filter(_.count > 0)) { sortedActive =>
            <li class="facet-class facet-list @{if(fc.isActive) "active"}">
                @facetLabel(fc)
                <ol class="facet-options">
                    @defining(sortedActive.splitAt(fc.displayLimit)) { case (first, rest) =>
                        @first.map(f => facetItem(fc, f))
                        @if(rest.nonEmpty) {
                            <div id="facet-extra-@fc.key" class="collapse collapsed">
                                @rest.map(f => facetItem(fc, f))
                            </div>
                            <a rel="nofollow" class="more-less-options" href="#facet-extra-@fc.key">More...</a>
                        }
                    }
                </ol>
            </li>
        }
    }
}

@facetChoiceList(fc: FacetClass[Facet]) = {
    @if(fc.facets.nonEmpty) {
        @defining(fc.facets.filter(_.count > 0)) { sortedActive =>
            <li class="facet-class facet-choice @{if(fc.isActive) "active"}">
                @facetLabel(fc)
                <ul class="facet-options choice">
                    @sortedActive.map(f => facetItem(fc, f))
                </ul>
            </li>
        }
    }
}


@facetDate(fc: FacetClass[Facet]) = {
    <li class="facet-class facet-date @{if(fc.isActive) "active"}">
        <h4 class="facet-label">
            @facetLabel(fc)
            @if(fc.facets.isEmpty) {
                <a rel="nofollow" href="#" class="date-submit">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <span class="sr-only">@Messages("facet.dates")</span>
                </a>
            }
        </h4>
        @if(fc.facets.nonEmpty) {
            <ol class="facet-options">
                @defining(fc.facets.filter(_.count > 0)) { sortedActive =>
                    @sortedActive.map(f => facetItem(fc, f))
                }
            </ol>
        } else {
            <div class="facet-options">
                <input type="hidden" class="target" name="@fc.param" value="" />
                <div class="form-group">
                    <label for="facet-options-@(fc.param)-begin" class="control-label">@Messages("dates.start.year")</label>
                    <div class="controls">
                        <input type="text" id="facet-options-@(fc.param)-begin" data-target="begin" class="form-control date input-sm" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="facet-options-@(fc.param)-end" class="control-label">@Messages("dates.start.year")</label>
                    <div class="controls">
                        <input type="text" id="facet-options-@(fc.param)-end" data-target="end" class="form-control date input-sm" />
                    </div>
                </div>
                <br style="clear: both" />
            </div>
        }
    </li>
}

@defining(facetClasses.filter(_.isActive)) { activeClasses =>
    @if(activeClasses.nonEmpty) {
        <div class="sidebar-section search-facets">
            @if(activeClasses.exists(_.isApplied)) {
                <a href="@pathWithoutFacets(facetClasses, call.url, req.queryString)" class="search-facets-remove-all">
                    @Messages("search.facets.removeAll")
                    <i class="material-icons" title="@Messages("search.facets.removeAll")" aria-hidden="true">close</i>
                </a>
            }
            <div class="search-facets-heading sidebar-section-heading" data-toggle="collapse" data-target="#facet-class-expander">
                <h3>@Messages("search.facets.heading")</h3>
            </div>
            <ul class="facet-classes collapse navbar-collapse" id="facet-class-expander">
                @activeClasses.filter(_.display != FacetDisplay.Hidden).map { fc =>
                    @fc.display match {
                        case FacetDisplay.DropDown => {
                            @facetDropDown(fc)
                        }
                        case FacetDisplay.Boolean => {
                            @facetBoolean(fc)
                        }
                        case FacetDisplay.Choice => {
                            @facetChoiceList(fc)
                        }
                        case FacetDisplay.Date => {
                            @facetDate(fc)
                        }
                        case _ => {
                            @facetList(fc)
                        }
                    }
                }
            </ul>
        </div>
    }
}
