@(result: utils.search.SearchResult[_], action: Call, key: String = "search", headerKey: String = "pagination.displayingItems", autofocus: Boolean = false)(html: Html)(facets: Html = Html(""))(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@helper.form(action = action, 'role -> "form") {

    @common.search.searchBar(result.params, autofocus = autofocus, placeholder = key)
    <div class="search-results">
        <div class="search-results-body">
            <div class="search-result-errata">
                @common.search.searchSummary(result)
                @common.search.searchSort(result.params)
            </div>

            @common.search.selectedFacets(result.facetClasses)

            @html
            @views.html.common.pagination(result.page)
        </div>
        <div class="search-facets sidebar">
            @facets
        </div>
    </div>
}
