@(params: services.search.SearchParams, fields: Seq[services.search.SearchField.Value] = Seq.empty, autofocus: Boolean = false, tips: Boolean = true, fielded: Boolean = false, placeholder: String = "search.queryPlaceholder")(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@import services.search.{SearchParams,SearchField}

@defaultFields = @{if(fields.isEmpty) SearchField.values.toSeq else fields}

<div class="search-bar">
    <div class="search-box">
        <div class="input-group">
            <label for="id_q" class="sr-only">@Messages(placeholder)</label>
            <input type="search" id="id_q"
                placeholder="@Messages(placeholder)" class="form-control" name="@SearchParams.QUERY" value="@params.query" @{if(autofocus) "autofocus"}>
            @if(fielded) {
                <span class="input-group-addon field-selector">
                    <label for="id_field" class="sr-only">@Messages("search.field")</label>
                    <select name="@{SearchParams.FIELD}[]" id="id_field">
                        <option value=>@Messages("search.field.all")</option>
                        @defaultFields.map { f =>
                            <option value="@f.toString" @{if(params.fields.contains(f)) "selected"}>@Messages("search.field." + f)</option>
                        }
                    </select>
                </span>
            }
            <span class="input-group-append">
                <button>
                    <span class="fa fa-search"></span>
                    @Messages("search.submit")
                </button>
            </span>
        </div>
        @if(tips) {
            @views.html.helpers.searchTips()
        }
    </div>
    @if(tips) {
        <div class="search-helper-container">
            <a class="search-helper-toggle" data-toggle="helper" data-target="#search-helper">
            @Messages("search.helper.linkTitle")
            </a>
        </div>
    }
</div>
