@(result: services.search.SearchResult[_], action: Call, key: String = "search", headerKey: String = "pagination.displayingItems", autofocus: Boolean = false, inline: Boolean = false)(html: Html)(facets: Html = Html(""))(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages)

@import services.data.Constants.PAGE_PARAM

@body = {
    <section class="search-results-body">
        <div class="search-controls">
            @common.search.searchBar(result.params, autofocus = autofocus, placeholder = key)
            <div class="search-result-errata">
                @common.search.searchSummary(result)
                @common.search.searchSort(result.params)
            </div>

            @req.getQueryString("dlid").map { did =>
                <input type="hidden" name="dlid" value="@did"/>
            }
        </div>
        @common.search.selectedFacets(result.facetClasses, result.facets)
        @html

        @if(inline && result.page.page == 1) {
            @if(result.page.hasMore) {
                <a class="search-item-list-more btn-progress"
                    data-limit="@result.page.limit" data-page="@(result.page.page + 1)"
                    href="@utils.http.joinPath(req.path, req.queryString.filter(_._1 != "modal")
                        .updated(PAGE_PARAM, Seq((result.page.page + 1).toString)))">
                    <span class="load-prompt">@Messages("activity.fetchMore")</span>
                    <span class="loading-indicator spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                </a>
            }
        } else {
            @views.html.common.pagination(result.page, call = Some(action))
        }
    </section>
}

@helper.form(action = action) {
    @if(facets.body.trim.nonEmpty) {
        <div class="search-results">
            <aside class="sidebar">
                @facets
            </aside>
            @body
        </div>
    } else {
        <div class="search-results-no-facets">
            @body
        </div>
    }
}
