@(result: utils.search.SearchResult[_])(implicit req: RequestHeader, messages: Messages)

@import utils.search.SearchParams

<div class="search-summary">
    @Messages("pagination.displayingItems", result.page.start, result.page.end, result.page.total)

    @result.spellcheck.map { case (actual, corrected) =>
        @* Argh, lots of weirdness with spelling correction and multi-lingual expansion. *@
        @result.params.query.map(_.trim.toLowerCase).map { query =>
            @if(query != corrected.trim.toLowerCase && query.contains(actual.trim.toLowerCase)) {
                (@Messages("search.spellingSuggestion") <i>
                    <strong>
                        <a href="@utils.joinPath(req.path, req.queryString.updated(SearchParams.QUERY, Seq(corrected)))">@corrected</a>
                    </strong>
                </i>?)
            }
        }
    }
</div>