@(params: utils.search.SearchParams = utils.search.SearchParams.empty, autofocus: Boolean = false, placeholder: String = "search.queryPlaceholder")(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import utils.search.SearchParams
<div class="search-bar">
    <div class="form-group search-box">
        <div class="input-group">
            <input type="search"
                   placeholder="@Messages(placeholder)" class="form-control" name="@SearchParams.QUERY" value="@params.query" @{if(autofocus) "autofocus"} />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            @Messages("search.submit")
                        </button>
                    </span>
        </div>
        <div id="search-helper">
            <a href="#" class="close" aria-hidden="true">&times;</a>

            <h1>@Messages("search.helper")</h1>
            <dl class="dl-horizontal">
                <dt>"@Messages("search.helper.example")"</dt>
                <dd>@Messages("search.helper.quotes")</dd>
                <dt>+@Messages("search.helper.example")</dt>
                <dd>@Messages("search.helper.plus")</dd>
                <dt>-@Messages("search.helper.example")</dt>
                <dd>@Messages("search.helper.minus")</dd>
            </dl>
        </div>
    </div>
    <div class="search-helper-container">
        <a class="search-helper-toggle" data-toggle="helper" data-target="#search-helper">
            @Messages("search.helper.linkTitle")
        </a>
    </div>
</div>