@(params: utils.search.SearchParams, values: Seq[utils.search.SearchOrder.Value] = Seq.empty)(implicit req: RequestHeader, messages: Messages)

@import utils.search.{SearchParams,SearchOrder}

@defaultValues = @{if(values.nonEmpty) values else Seq(SearchOrder.Score, SearchOrder.Id, SearchOrder.Name, SearchOrder.DateNewest, SearchOrder.Detail)}

<div class="search-sort btn-group btn-group-xs">
    <span class="fa fa-sort" title="@Messages("search.sort.title")"></span>
    @defaultValues.map { sortKey =>
        @defining("search.sort." + sortKey.replace(",", "-")) { i18nKey =>
            @defining((Messages(i18nKey), Messages(i18nKey + ".title"))) { case (name, title) =>
                @if(params.sort.equals(Some(sortKey))) {
                    <a class="current-search-sort btn btn-xs btn-default btn-active" title="@title" href="@utils.joinPath(req.path, req.queryString.filterKeys(_ != SearchParams.SORT))">
                        @name
                    </a>
                } else {
                    <a class="btn btn-xs btn-default" style="" title="@title" href="@utils.joinPath(req.path, req.queryString.updated(SearchParams.SORT, Seq(sortKey.toString)))">
                        @name
                    </a>
                }
            }
        }
    }

    @params.sort.map { currentSort =>
        @if(req.getQueryString(SearchParams.SORT).isDefined) {
            <input type="hidden" name="@SearchParams.SORT" value="@currentSort">
        }
    }
</div>
