@(facetClasses: Seq[services.search.FacetClass[services.search.Facet]], applied: Seq[services.search.AppliedFacet])(implicit req: RequestHeader, messages: Messages)

@if(applied.nonEmpty) {
    <div class="selected-facets">
    @applied.collect { case ap: services.search.AppliedFacet =>
        @facetClasses.find(_.key == ap.name).map { fclass =>
            @ap.values.distinct.filter(v => fclass.isValidValue(v)).map { value =>
                <div class="selected-facet">
                    <input type="hidden" name="@fclass.param" value="@value" />
                    @fclass.name: @fclass.render(value)
                    <a class="remove-filter" aria-label="@Messages("search.facets.remove")" href="@services.search.pathWithoutFacet(fclass, value, req.path, req.queryString.filterKeys(_ != "page"))">
                        <i class="material-icons" aria-hidden="true">close</i>
                    </a>
                </div>
            }
        }
    }
    </div>
}
