@(f: Form[models.admin.BatchDeleteTask], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@import models.admin.BatchDeleteTask.{VERSION, SCOPE, COMMIT, LOG_MSG, IDS}
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.noSidebar(Messages("admin.utils.batchDelete")) {

    <p>@Messages("admin.utils.batchDelete.description")</p>
    <p class="alert alert-danger">@Messages("admin.utils.batchDelete.warning")</p>


    @helper.form(action = action, 'id -> "batch-delete-form") {
        @formHelpers.csrfToken()
        @views.html.formHelpers.globalErrors(f)
        @defining("admin.utils.batchDelete") { implicit fieldPrefix =>
            @formHelpers.lineInput(f(""), SCOPE)
            @formHelpers.checkbox(f(""), VERSION)
            @formHelpers.lineInput(f(""), LOG_MSG)
            @formHelpers.textInput(f(""), IDS)
            @formHelpers.checkbox(f(""), COMMIT)

            <div class="form-actions">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="@Messages("admin.utils.batchDelete.submit")"/>
                </div>
            </div>
        }
    }
}
