@(scope: models.base.Model, fonds: Option[models.base.Model], form: Form[services.ingest.IngestParams], dataType: services.ingest.IngestApi.IngestDataType.Value, action: Call, sync: Boolean = false)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@import services.ingest.IngestParams._
@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.adminLayout(Messages("ingest.header", fonds.getOrElse(scope).toStringLang)) {
    @views.html.admin.common.breadcrumbs(scope +: fonds.toSeq)
    @common.mainContent {
        <script>
            $(function() {
                var DONE_MSG = "@utils.WebsocketConstants.DONE_MESSAGE";
                var ERR_MSG = "@utils.WebsocketConstants.ERR_MESSAGE";

                function appendProgressMessage(msg) {
                    var $elem = $("#update-progress");
                    var $inner = $elem.find("> pre");
                    if ($inner.length === 0) {
                        $inner = $("<pre></pre>");
                        $elem.append($inner);
                    }
                    $inner.append(msg + "<br/>");
                    $elem.show().scrollTop($inner.height());
                }

                function setRunning($elem, run) {
                    $elem.attr("disabled", run).toggleClass("running", run);
                }

                console.log("running...");
              $("#ingest-form").submit(function () {
                  var formData = new FormData(this),
                          $submit = $(this).find("[type='submit']"),
                          $progress = $(this).find("#upload-progress");

                  $.ajax({
                      url: $(this).attr("action"),
                      type: 'POST',
                      data: formData,
                      async: true,
                      cache: false,
                      contentType: false,
                      processData: false,
                      timeout: 20 * 60 * 60 * 1000,
                      xhr: function() {
                        var xhr = $.ajaxSettings.xhr();
                        if (xhr.upload) {
                          xhr.upload.addEventListener("progress", function (e) {
                              var percent = (e.loaded / e.total) * 100;
                              $progress.css("width", percent.toString() + "%");
                              if (percent > 0) {
                                  $progress.addClass("active")
                              }
                              if (percent === 100) {
                                $progress.removeClass("active")
                                appendProgressMessage("Finished uploading data...")
                              }
                          });
                        }
                        return xhr;
                      },
                      beforeSend: function() {
                          setRunning($submit, true);
                      },
                      success: function (data) {
                          var websocket = new WebSocket(data.url);
                          websocket.onopen = function() {
                              console.debug("Opened monitoring socket...")
                          };
                          websocket.onerror = function(e) {
                              appendProgressMessage("ERROR. Try refreshing the page. ");
                              $submit.attr("disabled", false);
                              console.error("Socket error!", e);
                          };
                          websocket.onclose = function() {
                              console.debug("Closed!");
                          };
                          websocket.onmessage = function(e) {
                              var msg = JSON.parse(e.data);
                              appendProgressMessage(msg);
                              if (msg.indexOf(DONE_MSG) !== -1 || msg.indexOf(ERR_MSG) !== -1) {
                                  websocket.close();
                                  console.debug("Closed socket")
                                  setRunning($submit, false);
                              }
                          };
                      },
                      error: function (xhr, text) {
                          appendProgressMessage(xhr.responseText);
                      }
                  });

                  return false;
              });
            });
        </script>

        @common.itemDetails {
            @defining("ingest") { implicit prefix =>
                @helper.form(action = action, 'enctype -> "multipart/form-data", 'id -> "ingest-form") {
                    @formHelpers.csrfToken()
                    @formHelpers.hiddenInput(form(SCOPE_TYPE).copy(value = Some(scope.isA.toString)))
                    @formHelpers.hiddenInput(form(SCOPE).copy(value = Some(scope.id)))
                    @formHelpers.hiddenInput(form(FONDS).copy(value = fonds.map(_.id)))

                    <h2>@Messages("ingest.header", fonds.getOrElse(scope).toStringLang)</h2>
                    @if(sync) {
                        <p class="alert alert-warning">
                            <strong>@Messages("ingest.sync.warning.note")</strong>: @Messages("ingest.sync.warning")
                        </p>
                    }

                    @defining(form("")) { f =>
                        <fieldset>
                            @formHelpers.checkbox(f, ALLOW_UPDATE)
                            @formHelpers.checkbox(f, TOLERANT)
                            @formHelpers.choiceInput(f, LANG, views.Helpers.languagePairList, '_blank -> true)
                        </fieldset>

                        <fieldset>
                        @if(dataType == services.ingest.IngestApi.IngestDataType.Skos) {
                            @formHelpers.lineInput(f, BASE_URI)
                            @formHelpers.lineInput(f, SUFFIX)
                        } else {
                            @formHelpers.lineInput(f, HANDLER)
                            @formHelpers.lineInput(f, IMPORTER)
                            @formHelpers.fileInput(f, PROPERTIES_FILE)
                        }
                        </fieldset>

                        @if(sync) {
                            <fieldset>
                                @formHelpers.textInput(f, EXCLUDES)
                            </fieldset>
                        }

                        <fieldset>
                            @formHelpers.textInput(f, LOG, 'required -> true)
                            @formHelpers.fileInput(f, DATA_FILE, 'required -> true)
                        </fieldset>

                        @formHelpers.checkbox(f, COMMIT)
                    }

                    <div class="form-actions">
                        <input type="submit" class="btn btn-danger btn-progress" value="@Messages("ingest.submit")"/>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" id="upload-progress" role="progressbar"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">0% Complete</span>
                        </div>
                    </div>

                    <div id="update-progress"></div>
                }
            }
        }
    }
}
