@(form: Form[String], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("admin.utils.movedItems")) {
    <p>@Messages("admin.utils.movedItems.description")</p>
    @helper.form(action = action, 'enctype -> "multipart/form-data") {
        @views.html.admin.common.pathRemapForm(Messages("admin.utils.movedItems.submit"), form) {
            <div class="form-group">
                <label class="control-label" for="id_csv">
                    @Messages("admin.utils.movedItems.csv")
                </label>
                <div class="control-elements">
                    <input class="form-control" type="file" name="csv" id="id_csv" />
                </div>
            </div>
        }
    }
} {

}

