@(form: Form[(String, Seq[(String, String, Boolean)])], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@css = {
    <style>
        .progress {
            min-height: 200px;
            background: rgba(255, 255, 255, .8) url('@controllers.admin.routes.AdminAssets.versioned("img/ajax-loader-large.gif")') 50% 50% no-repeat;
        }
    </style>
}


@views.html.admin.layout.rightSidebar(Messages("admin.utils.regenerateIds"), styles = css) {

    <div id="form-container">
        <p class="alert alert-info">@Messages("admin.utils.regenerateIds.scanning")</p>
        <div class="progress">&nbsp;</div>
    </div>
    <script>
        jQuery(function($) {
            $("#form-container").load("@action", function(r, status, xhr) {
                if (status === "error") {
                    $(".progress").remove();
                    alert("Error: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    </script>
} {

}

