@(form: Form[(String, Seq[(String, String, Boolean)])], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(form("items")) { field =>
    @if(field.indexes.isEmpty) {
        @if(form.hasGlobalErrors) {
            @formHelpers.globalErrors(form)
            <div class="alert alert-warning">@Messages("admin.utils.regenerateIds.collisions")</div>
        } else {
            <p class="alert alert-info">@Messages("admin.utils.regenerateIds.noIdsFound")</p>
        }
    } else {
        @helper.form(action = action, attrs._id -> "regenerate-ids") {
            @views.html.admin.common.pathRemapForm(Messages("admin.utils.regenerateIds.submit"), form) {
                <p>@Messages("admin.utils.regenerateIds.description")</p>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th><input type="checkbox" id="check-all" checked><label for="check-all"></label> Rename?</th>
                        </tr>
                    </thead>
                    @helper.repeat(field) { f =>
                        <tr>
                            <td>
                                @f("from").value
                                @formHelpers.hiddenInput(f("from"))
                            </td>
                            <td>
                                @f("to").value
                                @formHelpers.hiddenInput(f("to"))
                            </td>
                            <td>
                            @helper.checkbox(f("active"), attrs._label -> "", attrs._class -> "select-item")
                            </td>
                        </tr>
                    }
                </table>
                <script>
                    jQuery(function($) {
                        $("#check-all").on("change", function () {
                            $(".select-item").prop("checked", this.checked);
                        });
                    });
                </script>
            }
        }
    }
}
