@(form: Form[(Option[defines.ContentTypes.Value], Option[String], Boolean)], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f)}

@helper.form(action = action) {
    @defining("admin.utils.regenerateIds") { implicit fieldPrefix =>
        <fieldset>
            @formHelpers.globalErrors(form)
            @formHelpers.csrfToken()
            <div class="form-group"><strong>Choose either:</strong></div>
            @formHelpers.choiceInput(form(""), "type",
                defines.ContentTypes.values.toList.map(et => et.toString -> et.toString), '_blank -> true)
            <div class="form-group"><strong>OR</strong></div>
            @formHelpers.lineInput(form(""), "scope")

            @formHelpers.checkbox(form(""), "tolerant")

        </fieldset>
    }

    @formHelpers.submitButton(Messages("admin.utils.regenerateIds.scan"))
}

