@(results: Map[String, Seq[services.ingest.XmlValidationError]], f: play.api.data.Form[String], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.noSidebar(Messages("admin.utils.validate")) {
    @if(results.nonEmpty) {
        <table id="validation-results" class="table table-bordered table-sm">
            <thead>
                <tr>
                    <td>@Messages("admin.utils.validate.file.name")</td>
                    <td>@Messages("admin.utils.validate.file.errors")</td>
                </tr>
            </thead>
            <tbody>
                @results.map { case (name, errs) =>
                    <tr>
                        <td class="file-name">@name</td>
                        <td>
                            @if(errs.isEmpty) {
                                @Messages("admin.utils.validate.okay")
                            } else {
                                @Messages("admin.utils.validate.file.errors.number", errs.size)
                                <div class="validation-errors">
                                    <table class="table table-sm">
                                        <tr>
                                            <th>@Messages("admin.utils.validate.file.line")</th>
                                            <th>@Messages("admin.utils.validate.file.pos")</th>
                                            <th>@Messages("admin.utils.validate.file.details")</th>
                                        </tr>
                                        @errs.map { err =>
                                            <tr class="table-danger">
                                                <td class="lineno">@err.line</td>
                                                <td class="linepos">@err.pos</td>
                                                <td class="ead-error">@err.error</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                        </td>
                    </tr>
               }
            </tbody>
        </table>
        <hr>
    }
    @helper.form(action = action, 'enctype -> "multipart/form-data") {
        @formHelpers.csrfToken()
        @formHelpers.globalErrors(f)

        @helper.inputFile(f("files"), '_label -> Messages("admin.utils.validate.files"), 'multiple -> true)

        @formHelpers.submitButton(Messages("admin.utils.validate.submit"))
    }
}
