@(guide: Guide, page: GuidePage, items: utils.Page[(Any,services.search.SearchHit)], params: services.search.SearchParams, links: Map[String, Long], pageParam: String = "page")(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@getTitle(d: Concept, href:Boolean = false) = {
    <a @d.broaderTerms.map { bt =>  data-toggle="tooltip" data-placement="top" title="@bt.toStringLang" } @if(href) { href="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path)?parent=@d.id" }>
}

@items.items.map { case(item, hit) =>
    @item match {
        case d: HistoricalAgent => {
            <li class="facet" data-target="@d.id" >
                <a class="item-title">@d.toStringLang</a>
        }
        case d: Concept => {
            <li class="facet" data-target="@d.id" >
                <span class="item-title">
                    @page.layout match {
                        case GuidePage.Layout.Organisation => {
                            @if(d.hasChildren) {
                                 @getTitle(d, href = true)
                            } else {
                                 @getTitle(d)
                            }
                        }
                        case _ => {
                             @getTitle(d)
                        }
                    }
                    @d.toStringLang
                    <a class="popover-accesspoints" data-count="@links.getOrElse(d.id, 0)" data-target="@d.id"><span class="fa fa-search"></span></a>
                </span>
                @if(d.hasChildren) {
                    <ul></ul>
                }
            }
            case _ => {
            }
        }
    </li>
}
@if(items.hasMultiplePages) {
    @if(items.numPages >= items.page + 1) {
        <li class="facet-scroll" data-target="@utils.http.joinPath(request.path, request.queryString.updated(pageParam, Seq((items.page + 1).toString)))">
            @Messages("guides.loading")
        </li>
    }
}
