@(guide: Guide, page: GuidePage, pages: List[GuidePage], item: DocumentaryUnit, result: services.search.SearchResult[(DocumentaryUnit, services.search.SearchHit)], action: Call, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash, md: views.MarkdownRenderer)

@sidebar(page: GuidePage) = {
    <div class="guides-notice">
        <small class="minor-notice">@Messages("guides.annotation")</small><br />
        <small><a href="@controllers.portal.routes.DocumentaryUnits.browse(item.id)">@Messages("guides.seeOnPortal")</a></small>
    </div>
    @views.html.common.descriptionSwitcher(descriptions = item.data.descriptions.zipWithIndex.map { case (d,i) => d -> (i == 0)})
    @views.html.documentaryUnit.archivalContext(item)
    @page.description.map(d => Html(md.renderTrustedMarkdown(d)))
}

@views.html.layout.guideLayout(guide, page, pages, optionalContent = Some(sidebar(page))) {
    <article class="description-viewport">
    @defining("documentaryUnit") { implicit fieldPrefix =>
        @defining(annotations) { implicit annotations =>
            @item.data.descriptions.zipWithIndex.map { case (desc, i) =>
                @views.html.documentaryUnit.description(item, desc, links, annotations, i == 0)
            }
        }
    }
    </article>
    @views.html.guides.doc.childItemSearch(guide, item, result, action, watched)
}
