@(guide: Guide, page: GuidePage, pages: List[GuidePage], result: services.search.SearchResult[(DocumentaryUnit, services.search.SearchHit)], available: Map[String, Seq[models.base.Model]], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@import services.search.SearchSort

@styles = {
    <link href="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/css/select2.css")" rel="stylesheet">
}

@js = {
    <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/js/select2.full.js")"></script>
    <script type="text/javascript" src="@controllers.portal.guides.routes.GuideAssets.versioned("js/portal-guide-facet.js")"></script>

    <script type="text/javascript">
            jQuery(function ($) {
                $(".facet-selected").select2();

                $(".facet-browse").select2({
                    minimumInputLength: 0,
                    multiple: true,
                    ajax: {
                        url: function (params) {
                            console.log(params);
                            return $(this).attr("data-target");
                        },
                        dataType: 'json',
                        delay: 100,
                        data: function (params) { // page is the one-based page number tracked by Select2
                            return {
                                q: params.term, //search term
                                limit: 10, // page size
                                page: params.page // page number
                            };
                        },
                        processResults: function (data, params) {
                            var more = (params.page * 10) < data.total, // whether or not there are more results available
                                    items = data.items;

                            $.each(items, function (i, e) {
                                if (typeof e.childCount !== "undefined" && e.childCount > 0) {
                                    items[i].children = []
                                }
                                if (e.links === 0) {
                                    items[i].disabled = true;
                                }
                            });
                            // notice we return the value of more so Select2 knows if more results can be loaded
                            return {results: data.items, more: more};
                        }
                    },
                    templateResult: function (item) {
                        if (item.name) {
                            var original = item;
                            if (typeof original.parent !== "undefined" && original.parent !== null) {
                                return "<div title ='" + original.parent.name + " > " + original.name + "'>" + original.name + " (" + original.links + ")" + "</div>";
                            }
                            return "<div title ='" + original.name + "'>" + original.name + " (" + original.links + ")" + "</div>";
                        } else {
                            return item.text;
                        }
                    },
                    templateSelection: function (item) {
                        return item.name
                    },
                    escapeMarkup: function (m) {
                        return m;
                    } // we do not want to escape markup since we are displaying html in results
                });

            });
    </script>
}

@selectTwo(page: GuidePage) = {
    <div class="facet-class">
        <h4 class="facet-label">@page.name</h4>
        <div class="facet-options">
            <select multiple style="width: 100%" name="kw" data-placeholder="@page.name" class="form-control facet-selected autosubmit">
                <option></option>
                @available.getOrElse(page.content, List.empty).map { f =>
                    <option value="@f.id">@f.toStringLang</option>
                }
            </select>
        </div>
    </div>
}

@facets = {
@views.html.common.search.selectedFacets(result.facetClasses, result.facets)
@if(available.isEmpty) {
    <p class="small">@Messages("guides.facets.hierarchy")</p>
}
@for(otherPage <- pages.filterNot(p => GuidePage.Layout.isFreeText(p.layout))) {
    @if(available.nonEmpty) {
        @selectTwo(otherPage)
    } else {
        <div class="facet-class">
            <h4 class="facet-label">@otherPage.name</h4>
            <div class="facet-options">
                <select
                style="width: 100%;"
                name="kw"
                data-placeholder="@otherPage.name"
                data-target="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, otherPage.path)"
                class="form-control facet-browse autosubmit">
                </select>
            </div>
        </div>
    }
}
}

@sidebar(page: GuidePage) = {
    <div id="facets">
    @helper.form(action = action) {
        <div class="search-box">
            <div class="input-group">
                <label for="id_q" class="sr-only">@Messages("search")</label>
                <input type="search" id="id_q" name="q" value="@result.params.query" class="form-control" placeholder="@Messages("search")" />
                <span class="input-group-addon">
                    <button type="submit" class="btn submit-search">
                        <em class="fa fa-search form-control-feedback"></em>
                        <span class="sr-only">@Messages("search")</span>
                    </button>
                </span>
            </div>
        </div>
        @common.search.searchSort(result.params, Seq(SearchSort.Score, SearchSort.Name, SearchSort.Detail))
        @facets
    }
    </div>
@page.description.map(d => Html(md.renderTrustedMarkdown(d)))
}


@views.html.layout.guideLayout(guide, page, pages, scripts = js, styles = styles, optionalContent = Some(sidebar(page)), otherTitle = Some(Messages("guides.faceted"))) {
    <article>
        <header>
            <h1>@Messages("guides.faceted")</h1>
            <h3>@Messages("pagination.displayingItems", result.page.start, result.page.end, result.page.total)</h3>
        </header>
        <section>
            <section class="content-results">
            @result.page.items.map { case (doc, hit) =>
                @views.html.guides.doc.itemResult(guide, doc)
            }
            </section>
        </section>
        <section>
            @common.pagination(result.page)
        </section>
    </article>
}
