@(guides: List[Any])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@import models.Guide

@views.html.layout.portalLayoutSimple(Messages("guides.heading")) {
    <div>
        <h3 class="landing-header user">
            <a class="" href="./">@Messages("guides.heading")</a>
        </h3>

        <div class="landing-blurb">
            <ul class="media-list">
            @for(guide <- guides.collect { case g: Guide => g}) {
                <li class="media">
                    <a class="pull-left" href="@controllers.portal.guides.routes.Guides.home(guide.path)">
                        <img class="media-object" width="128px" src="@guide.picture" alt="@guide.name" style="width : 128px ; height : auto ;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="@controllers.portal.guides.routes.Guides.home(guide.path)">@guide.name</a></h4>
                        @guide.description.map(d => Html(md.renderTrustedMarkdown(d)))
                    </div>
                </li>
            }
            </ul>
        </div>
    </div>
}