@(guides: List[Any])(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@views.html.layout.portalLayoutSimple(Messages("guides.heading"), itemClass = "guides") {
    @views.html.common.mainContent {
        <h2 class="landing-header">
            <a class="" href="./">@Messages("guides.heading")</a>
        </h2>

        <ul class="guide-list">
            @for(guide <- guides.collect { case g: Guide => g}) {
                <li class="guide-item">
                    <a class="" href="@controllers.portal.guides.routes.Guides.home(guide.path)">
                        <img class="media-object" width="128px" src="@guide.picture" alt="Guide Header Image" style="width : 128px ; height : auto ;">
                    </a>
                    <div class="guide-description">
                        <h4><a href="@controllers.portal.guides.routes.Guides.home(guide.path)">@guide.name</a></h4>
                        @guide.description.map(d => Html(md.renderTrustedMarkdown(d)))
                    </div>
                </li>
            }
        </ul>
    }
}
