@(item: models.base.Model, hit: services.search.SearchHit, action: Call, guidePath: Option[String] = None, mode: GuidePage.Layout.Value)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages)

@item match {
    case d: Concept => {
        <span class="item-title keyword-title">
            @d.broaderTerms.map { bt =>
                <span class="item-parent">
                    @bt.toStringLang
                </span>
            }
            @mode match {
                case GuidePage.Layout.Organisation => {
                    @if(d.hasChildren) {
                        <a href="@action?parent=@d.id">@d.toStringLang</a>
                    } else {
                        @d.toStringLang
                    }
                } 
                case _ => {
                    @d.toStringLang
                }
            }
        </span>
    }
    case _ => {}
}
