@(guide: Guide, page: GuidePage, pages: List[GuidePage], items: utils.Page[(Model, services.search.SearchHit)], params: services.search.SearchParams, links: Map[String, Long])(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@js = {
    <script type="text/javascript">
	$(document).ready(function() {
		var loadOrganisation = function($ul, $href, append) {
			if(typeof append === "undefined") {
				append = false;
			}
			$.get($href, function(data) {
                var $data = $("<ul>");
                $data.html(data)
                $data.find("li").removeClass("facet").addClass("item-wrapper")
                if($data.find(".facet-scroll.item-wrapper").length == 1) {
                   var page = $data.find(".facet-scroll.item-wrapper").attr("data-target")
                    $data.find(".facet-scroll.item-wrapper").html("<a href='" + page + "'>@Messages("guides.more")</a>");
                }
                if(append === false){
				    $ul.html($data.html());
			    } else {
				    $ul.append($data.html());
			    }
            }, "html");
		}
		$(".content-results").on("click", "a[href]", function(e) {
           		 e.preventDefault();
			var $elem = $(this),
				$href = $elem.attr("href"),
				$parent = $elem.parents("li:first"),
				$ul = $parent.find("ul:first"),
				$scroll = $elem.parent(".facet-scroll");

			if($scroll.length === 0){
				if($ul === "undefined" || $ul.length === 0) {
					$parent.append($("<ul>", {"class" : "list-item hierarchy"}))
					loadOrganisation($parent.find("ul:first"), $href);
				} else {
					var $li = $ul.find("li:first");
					if($li === "undefined" || $li.length === 0) {
						loadOrganisation($ul, $href);
					} else {
						$ul.toggle()
					}
				}
			} else {
				loadOrganisation($scroll.parent("ul").first(), $href, true);
				$scroll.remove();
			}
		});
	});
	</script>
}

@sidebar(page: GuidePage) = {
    @page.description.map(d => Html(md.renderTrustedMarkdown(d)))
}

@views.html.layout.guideLayout(guide, page, pages, scripts = js, optionalContent = Some(sidebar(page))) {
    <article>
        <header>
            <h1>@page.name</h1>
            <form role="form" action="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path)">
                <ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
                    <li><input class="nav-ehri nav-ehri-black nav-ehri-input" name="q" placeholder="Quick Search"></li>
                    <li><button type="submit" class="nav-ehri nav-ehri-black nav-ehri-input"><span class="fa fa-search"></span><span class="text-hide">
                        Search</span></button></li>
                </ul>
            </form>
        </header>
        <section>
            <section class="content-results">
                <ul class="list-unstyled">
                    @items.items.map { case (item, hit) =>
                        <li>
                            <div class="search-item" id="@item.id">
                                <h3 class="search-item-heading type-highlight @item.isA.toString">
                                    @views.html.guides.guideItem(
                                        item,
                                        hit,
                                        controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path),
                                        Some(guide.path),
                                        page.layout
                                    )
                                    <a class="popover-accesspoints" data-count="@links.getOrElse(item.id, 0)" data-target="@item.id"><span class="fa fa-search"></span></a>
                                </h3>
                                <div class="search-item-body">
                                @item match {
                                    case d: HistoricalAgent => {
                                        @views.html.historicalAgent.listItemBody(d)
                                    }
                                    case _ => {
                                    }
                                }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </section>
        </section>
        <footer>
            @common.pagination(items)
        </footer>
    </article>

}
