@(guide: Guide, page: GuidePage, pages: List[GuidePage], items: utils.Page[(HistoricalAgent, services.search.SearchHit)], params: services.search.SearchParams, linkCount: Map[String, Long])(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@sidebar(page: GuidePage) = {
    @page.description.map(d => Html(md.renderTrustedMarkdown(d)))
}

@views.html.layout.guideLayout(guide, page, pages, optionalContent = Some(sidebar(page))) {
    <article xmlns="http://www.w3.org/1999/html">
        <header>
            <h1>@page.name</h1>
            <form role="form" action="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path)">
                <ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
                    <li><input class="nav-ehri nav-ehri-black nav-ehri-input" name="q" placeholder="Name" value="@params.query" /></li>
                    <li><button type="submit" class="nav-ehri nav-ehri-black nav-ehri-input"><span class="fa fa-search"></span><span class="text-hide">
                        Search</span></button></li>
                </ul>
            </form>
        </header>
        <section>
            <ul class="list-unstyled">
            @items.items.map { case (item, hit) =>
                <li>
                    <div class="search-item" id="@item.id">
                        <h3 class="search-item-heading type-highlight @item.isA.toString">
                        @item.toStringLang
                        </h3>
                        <div class="search-item-body">
                            <div class="small">
                                <a class="popover-accesspoints" data-count="@linkCount.getOrElse(item.id, 0)" data-target="@item.id"><span class="fa fa-search"></span></a>
                            </div>
                            @item.data.descriptions.headOption.map { desc =>
                                <div class="item-description">
                                    @desc.details.history.map { d =>
                                        <p>@Markdown(d)</p>
                                    }
                                    @desc.details.generalContext.map { d =>
                                        <p>@Markdown(d)</p>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
            </ul>
        </section>
        <footer>
            @common.pagination(items)
        </footer>
    </article>

}
