@(guide: Guide, page: GuidePage, pages: List[GuidePage], concepts: utils.Page[(Concept,services.search.SearchHit)], params: services.search.SearchParams, links: Map[String, Long], json: play.api.libs.json.JsValue)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)


@import play.api.libs.json._

@js = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script type="text/javascript">
    templateParams = "@Html(page.params.getOrElse(""))";
    redIcon_URL = "@controllers.portal.routes.PortalAssets.versioned("img/marker-icon-red.png")";
    MAP_URL = "@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path)";
    $originalMarkers = @Html(Json.stringify(json));
    </script>
    <script type="text/javascript" src="@controllers.portal.guides.routes.GuideAssets.versioned("js/portal-guide-map.js")"></script>
}
@css = {
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
}


@optionalContent(page: GuidePage) = {
    @params.query.map { text =>
        <section class="archival-context sidebar-section repository">
            <div class="sidebar-section-heading">
                <h3>Search results</h3>
            </div>
            <div class="sidebar-section-body map-result-list">
                <ul class="list-unstyled">
                    @concepts.items.map { case(item, hit) =>
                        <li>
                            <div class="search-item" id="@item.id">
                                @if(item.data.longitude.nonEmpty) {
                                    <a class="zoom-to" href="#map" data-id="@item.id" data-longitude="@item.data.longitude" data-latitude="@item.data.latitude">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </a>
                                }
                                @guideItem(item, hit, controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path), Some(guide.path), page.layout)
                            </div>
                        </li>
                    }
                </ul>
                @common.pagination(concepts)
            </div>
        </section>
    }

    @page.description.map(d => Html(md.renderTrustedMarkdown(d)))
}
@views.html.layout.guideLayout(guide, page, pages, js, css, optionalContent = Some(optionalContent(page))) {
    <article>
        <header>
            <h1>@page.name</h1>
            <form role="form" action="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path)">
                <ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
                    <li><input class="nav-ehri nav-ehri-black nav-ehri-input" value="@params.query" name="q" placeholder="Quick Search" /></li>
                    <li><button type="submit" class="nav-ehri nav-ehri-black nav-ehri-input">Search</button></li>
                </ul>
            </form>
        </header>
        <section>
            <div id="map" style="height:400px;"></div>
        </section>
        <footer>
        </footer>
    </article>
}
