@(guide: Guide, page: GuidePage, pages: List[GuidePage], concepts: utils.Page[(Concept,utils.search.SearchHit)], params: utils.search.SearchParams, links: Map[String, Long], json: play.api.libs.json.JsValue)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)


@import play.api.libs.json._

@js = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script type="text/javascript">
    templateParams = "@Html(page.params.getOrElse(""))";
    redIcon_URL = "@controllers.portal.routes.PortalAssets.versioned("img/marker-icon-red.png")";
    MAP_URL = "@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path)";
    $originalMarkers = @Html(Json.stringify(json));
    </script>
    <script type="text/javascript" src="@controllers.portal.routes.PortalAssets.versioned("js/portal-guide-map.js")"></script>
}
@css = {
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
}


@optionalContent(page: GuidePage) = {
    @params.query.map { text =>
        <section class="archival-context panel-details repository">
            <div class="panel-heading">
                <h3>Search results</h3>
            </div>
            <div class="panel-body map-result-list">
                <ul class="list-unstyled">
                    @concepts.items.map { case(item, hit) =>
                        @defining(Some(hit.id)) { implicit descriptionId =>
                            <li>
                                <div class="search-item" id="@item.id">
                                    @item.model.descriptions.headOption.map { desc =>
                                        @if(desc.longitude.nonEmpty) {
                                            <a class="zoom-to" href="#map" data-id="@item.id" data-longitude="@desc.longitude" data-latitude="@desc.latitude"><span class=" glyphicon glyphicon-map-marker"></span></a>
                                        }
                                    }
                                    @guideItem(item, hit, controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path), Some(guide.path), page.layout)
                                </div>
                            </li>
                        }
                    }
                </ul>
                @common.pagination(concepts)
            </div>
        </section>
    }

    @page.description.map(d => Html(views.Helpers.renderTrustedMarkdown(d)))
}
@views.html.layout.guideLayout(guide, page, pages, js, css, optionalContent = Some(optionalContent(page))) {
    <article>
        <header>
            <h1>@page.name</h1>
            <form role="form" action="@controllers.portal.guides.routes.Guides.layoutRetrieval(guide.path, page.path)">
                <ul class="nav nav-pills nav-ehri nav-ehri-black nav-justified">
                    <li><input class="nav-ehri nav-ehri-black nav-ehri-input" value="@params.query" name="q" placeholder="Quick Search" /></li>
                    <li><button type="submit" class="nav-ehri nav-ehri-black nav-ehri-input">Search</button></li>
                </ul>
            </form>
        </header>
        <section>
            <div id="map" style="height:400px;"></div>
        </section>
        <footer>
        </footer>
    </article>
}