@(guide: Guide, page: GuidePage, pages: List[GuidePage], item: Repository)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, prefs: utils.SessionPrefs, flash: Flash)

@optionalContent(page: GuidePage) = {
    @item.data.logoUrl.map { logo =>
        @defining(item.url.getOrElse(controllers.portal.guides.routes.Repositories.browse(guide.path, page.path).absoluteURL(request.secure))) { url =>
            <a href="@url">
                <img class="repository-logo" src="@logo" alt="Institution Logo" />
            </a>
        }
    }

    @page.description.map(d => Html(md.renderTrustedMarkdown(d)))
}
@views.html.layout.guideLayout(guide, page, pages, optionalContent = Some(optionalContent(page))) {
    @defining("repository") { implicit prefix =>
        @item.data.descriptions.map { desc =>
            @views.html.repository.description(item, desc, Seq.empty, Seq.empty)
        }
    }
}
