@(guide: Guide, page: GuidePage, allPages: Seq[GuidePage])(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@styles = {
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
}
@js = {
    <script type="text/javascript" src="https://s3.amazonaws.com/cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
    <script>
        $(document).ready(function() {
            createStoryJS({
                type:       'timeline',
                width:      '750',
                height:     '600',
                source:     '@page.content.trim',
                embed_id:   'my-timeline'
            });
        });
    </script>
}

@views.html.layout.guideLayout(guide, page, allPages, scripts = js, optionalContent = page.description.map(d => Html(md.renderTrustedMarkdown(d)))) {
    <article>
        <header>
            <h1>@page.name</h1>
        </header>
        <div id="my-timeline"></div>
    </article>
}
