@(guide: Guide, page: GuidePage, allPages: Seq[GuidePage])(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@styles = {
    <link title="timeline-styles" rel="stylesheet"  href="https://cdn.knightlab.com/libs/timeline3/3.8.19/css/timeline.css">
    <style>
        #my-timeline {
            width: 100%;
            height: 600px;
        }
    </style>
}
@js = {
    <script type="text/javascript" src="https://cdn.knightlab.com/libs/timeline3/3.8.19/js/timeline-min.js"></script>
    <script>
        timeline = new TL.Timeline('my-timeline', '@page.content.trim');
    </script>
}

@views.html.layout.guideLayout(guide, page, allPages, styles = styles, scripts = js, optionalContent = page.description.map(d => Html(md.renderTrustedMarkdown(d)))) {
    <article>
        <header>
            <h1>@page.name</h1>
        </header>
        <div id="my-timeline"></div>
    </article>
}
