@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@wrapParent(doc: DocumentaryUnit)(html: Html) = {
    @doc.parent.map { parent =>
        @wrapParent(parent) {
            <div class="ancestor">
                @views.html.helpers.linkTo(parent)
                @html
            </div>
        }
    }.getOrElse {
        @html
    }
}

@wrapCountry(countryOpt: Option[Country])(html: Html) = {
    @countryOpt.map { country =>
        @views.html.helpers.linkTo(country)
        <div class="ancestor">
            @html
        </div>
    }.getOrElse {
        @html
    }
}

@item.holder.map { holder =>
    @views.html.common.sidebarSection(Messages("documentaryUnit.archivalContext"), cls = "archival-context") {
        @wrapCountry(holder.country) {
            @views.html.helpers.linkTo(holder)
            @item.parent.map { parent =>
                @wrapParent(parent) {
                    <div class="ancestor">
                    @views.html.helpers.linkTo(parent)
                    </div>
                }
            }
        }
    }
}
