@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, links: Seq[Link], annotations: Seq[Annotation], selected: Boolean)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import models.IsadG._
@import views.html.common.{descriptionSection, textField, listField}

@views.html.common.descriptionOutline(item, desc, annotations, selected) {
    @defining(Annotation.fieldAnnotations(desc.id, annotations)) { implicit fieldAnnotations =>
        @desc.id.map { descId =>
            @views.html.common.itemHeader(desc.name)
            @views.html.common.otherNameList(desc.identity.parallelFormsOfName)

            @views.html.documentaryUnit.details(item, desc)

            @descriptionSection(IDENTITY_AREA) {
                @textField(item, descId, REF, desc.externalLink(item))
                @textField(item, descId, ABSTRACT, desc.identity.`abstract`)
                @textField(item, descId, EXTENT_MEDIUM, desc.identity.extentAndMedium)
            }

            @descriptionSection(CONTEXT_AREA) {
                @views.html.common.accessPointLinks(item, desc, links, List(AccessPointF.AccessPointType.CreatorAccess))
                @textField(item, descId, ADMIN_BIOG, desc.context.biographicalHistory)
                @textField(item, descId, ARCH_HIST, desc.context.archivalHistory)
                @textField(item, descId, ACQUISITION, desc.context.acquisition)
            }
            
            @descriptionSection(CONTENT_AREA) {
                @textField(item, descId, SCOPE_CONTENT, desc.content.scopeAndContent)
                @textField(item, descId, APPRAISAL, desc.content.appraisal)
                @textField(item, descId, ACCRUALS, desc.content.accruals)
                @textField(item, descId, SYS_ARR, desc.content.systemOfArrangement)
            }
            
            @descriptionSection(CONDITIONS_AREA) {
                @textField(item, descId, ACCESS_COND, desc.conditions.conditionsOfAccess)
                @textField(item, descId, REPROD_COND, desc.conditions.conditionsOfReproduction)
                @textField(item, descId, PHYSICAL_CHARS, desc.conditions.physicalCharacteristics)
                @listField(item, descId, FINDING_AIDS, desc.conditions.findingAids)
            }
            
            @descriptionSection(MATERIALS_AREA) {
                @listField(item, descId, LOCATION_ORIGINALS, desc.materials.locationOfOriginals)
                @listField(item, descId, LOCATION_COPIES, desc.materials.locationOfCopies)
                @listField(item, descId, RELATED_UNITS, desc.materials.relatedUnitsOfDescription)
                @listField(item, descId, SEPARATED_UNITS, desc.materials.separatedUnitsOfDescription)
                @textField(item, descId, PUBLICATION_NOTE, desc.materials.publicationNote)
            }
            
            @descriptionSection(NOTES_AREA) {
                @listField(item, descId, NOTES, desc.notes)
            }
            
            @descriptionSection(CONTROL_AREA) {
                @textField(item, descId, ARCHIVIST_NOTE, desc.control.archivistNote)
                @listField(item, descId, SOURCES, desc.control.sources)
                @textField(item, descId, RULES_CONVENTIONS, desc.control.rulesAndConventions)
                @textField(item, descId, DATES_DESCRIPTIONS, desc.control.datesOfDescriptions)
                @listField(item, descId, PROCESS_INFO, desc.control.processInfo)
            }

            @descriptionSection(ACCESS_POINTS) {
                @views.html.common.accessPointLinks(item, desc, links, AccessPointF.AccessPointType.exceptCreator.toList)
            }
        }
    }
}
