@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)
@import models.base.Description.CreationProcess

@import models.IsadG._
@import views.html.common.descriptionSection
@import views.html.common.textField
@import views.html.common.listField


@views.html.common.descriptionOutline(item, desc, annotations) {

    @defining(Annotation.fieldAnnotations(desc.id, annotations)) { implicit fieldAnnotations =>
        @* Description *must* have an ID here or something bad has gone wrong! *@
        @desc.id.map { descId =>

            @views.html.common.itemHeader(desc.name) {
                @views.html.common.otherNameList(desc.identity.parallelFormsOfName)
            }

            @views.html.documentaryUnit.details(item, desc)

            @descriptionSection(IDENTITY_AREA) {
                @textField(item, descId, desc.externalLink(item), REF)
                @textField(item, descId, desc.identity.`abstract`, ABSTRACT)
                @textField(item, descId, desc.identity.extentAndMedium, EXTENT_MEDIUM)
            }

            @descriptionSection(CONTEXT_AREA) {
                @views.html.common.accessPointLinks(item, desc, links, List(AccessPointF.AccessPointType.CreatorAccess))
                @textField(item, descId, desc.context.biographicalHistory, ADMIN_BIOG)
                @textField(item, descId, desc.context.archivalHistory, ARCH_HIST)
                @textField(item, descId, desc.context.acquisition, ACQUISITION)
            }
            
            @descriptionSection(CONTENT_AREA) {
                @textField(item, descId, desc.content.scopeAndContent, SCOPE_CONTENT)
                @textField(item, descId, desc.content.appraisal, APPRAISAL)
                @textField(item, descId, desc.content.accruals, ACCRUALS)
                @textField(item, descId, desc.content.systemOfArrangement, SYS_ARR)
            }
            
            @descriptionSection(CONDITIONS_AREA) {
                @textField(item, descId, desc.conditions.conditionsOfAccess, ACCESS_COND)
                @textField(item, descId, desc.conditions.conditionsOfReproduction, REPROD_COND)
                @textField(item, descId, desc.conditions.physicalCharacteristics, PHYSICAL_CHARS)
                @listField(item, descId, desc.conditions.findingAids, FINDING_AIDS)
            }
            
            @descriptionSection(MATERIALS_AREA) {
                @listField(item, descId, desc.materials.locationOfOriginals, LOCATION_ORIGINALS)
                @listField(item, descId, desc.materials.locationOfCopies, LOCATION_COPIES)
                @listField(item, descId, desc.materials.relatedUnitsOfDescription, RELATED_UNITS)
                @listField(item, descId, desc.materials.separatedUnitsOfDescription, SEPARATED_UNITS)
                @textField(item, descId, desc.materials.publicationNote, PUBLICATION_NOTE)
            }
            
            @descriptionSection(NOTES_AREA) {
                @listField(item, descId, desc.notes, NOTES)
            }
            
            @descriptionSection(CONTROL_AREA) {
                @textField(item, descId, desc.control.archivistNote, ARCHIVIST_NOTE)
                @listField(item, descId, desc.control.sources, SOURCES)
                @textField(item, descId, desc.control.rulesAndConventions, RULES_CONVENTIONS)
                @textField(item, descId, desc.control.datesOfDescriptions, DATES_DESCRIPTIONS)
                @listField(item, descId, desc.control.processInfo, PROCESS_INFO)
            }

            @descriptionSection(ACCESS_POINTS) {
                @views.html.common.accessPointLinks(item, desc, links, AccessPointF.AccessPointType.exceptCreator.toList)
            }
        }
    }
}
