@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF)(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages, globalConfig: global.GlobalConfig)

<dl class="item-meta">
    <dt>@Messages("documentaryUnit.identifier")</dt>
    <dd>@item.model.identifier</dd>
    <dt>@Messages("documentaryUnit.languageCode")</dt>
    <dd>@views.Helpers.languageCodeToName(desc.languageCode)</dd>

    @item.model.otherIdentifiers.map { idents =>
        <dt>@Messages("documentaryUnit.otherIdentifiers")</dt>
        <dd>
            <ul class="list-inline">
            @idents.map { ident =>
                <li>@ident</li>
            }
            </ul>
        </dd>
    }
    @if(desc.dates.nonEmpty) {
        <dt>@Messages("documentaryUnit.dates")</dt>
        <dd>@desc.dates.map(_.years).mkString(", ")</dd>
    }
    @desc.identity.levelOfDescription.map { e =>
        <dt>@Messages("documentaryUnit.levelOfDescription")</dt>
        <dd>@Messages("documentaryUnit.levelOfDescription." + e)</dd>
    }
    @desc.conditions.languageOfMaterials.map { langs =>
        @if(langs.nonEmpty) {
            <dt>@Messages("documentaryUnit.languageOfMaterials")</dt>
            <dd>
                <ul class="list-unstyled list-inline comma-sep">
                    @langs.map { l =>
                        <li>@views.Helpers.languageCodeToName(l)</li>
                    }
                </ul>
            </dd>
        }
    }
    @desc.conditions.scriptOfMaterials.map { scr =>
        @if(scr.nonEmpty) {
            <dt>@Messages("documentaryUnit.scriptOfMaterials")</dt>
            <dd>
                <ul class="list-unstyled list-inline comma-sep">
                    @scr.map { s =>
                    <li>@views.Helpers.scriptCodeToName(s)</li>
                    }
                </ul>
            </dd>
        }
    }
    <dt>@Messages("documentaryUnit.creationProcess")</dt>
    <dd>@Messages("documentaryUnit.creationProcess." + desc.creationProcess)</dd>
</dl>
