@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF)(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages, conf: AppConfig)

@translationOrCode(key: String, suffix: String) = @{
    val fullKey = s"$key.$suffix"
    val translation = Messages(fullKey)
    if (fullKey == translation) suffix else translation
}

<dl class="item-meta">
    <dt>@Messages("documentaryUnit.identifier")</dt>
    <dd class="item-meta-identifier">@item.data.identifier</dd>
    <dt>@Messages("documentaryUnit.languageCode")</dt>
    <dd class="item-meta-lang-code">@views.Helpers.languageCodeToName(desc.languageCode)</dd>

    @item.data.otherIdentifiers.map { idents =>
        <dt>@Messages("documentaryUnit.otherIdentifiers")</dt>
        <dd class="item-meta-alternate-identifiers">
            <ul>
            @idents.map { ident =>
                <li>@ident</li>
            }
            </ul>
        </dd>
    }
    @if(desc.dates.nonEmpty) {
        <dt>@Messages("documentaryUnit.dates")</dt>
        <dd>@desc.dates.sortBy(_.startDate).map(_.toString).distinct.mkString(", ")</dd>
    }
    @desc.identity.levelOfDescription.map { e =>
        <dt>@Messages("documentaryUnit.levelOfDescription")</dt>
        <dd>@translationOrCode("documentaryUnit.levelOfDescription", e)</dd>
    }
    @if(desc.conditions.languageOfMaterials.nonEmpty) {
        <dt>@Messages("documentaryUnit.languageOfMaterials")</dt>
        <dd class="item-meta-languages">
            <ul>
                @desc.conditions.languageOfMaterials.map { l =>
                    <li>@views.Helpers.languageCodeToName(l)</li>
                }
            </ul>
        </dd>
    }
    @if(desc.conditions.scriptOfMaterials.nonEmpty) {
        <dt>@Messages("documentaryUnit.scriptOfMaterials")</dt>
        <dd class="item-meta-languages">
            <ul>
                @desc.conditions.scriptOfMaterials.map { s =>
                    <li>@views.Helpers.scriptCodeToName(s)</li>
                }
            </ul>
        </dd>
    }
    <dt>@Messages("documentaryUnit.creationProcess")</dt>
    <dd>@Messages("documentaryUnit.creationProcess." + desc.creationProcess)</dd>
</dl>
