@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages)

@common.infobar {
    @item.holder.flatMap(_.country).map { country =>
        <li>@views.html.helpers.linkTo(country)</li>
    }
    @item.holder.map { repo =>
        <li>@views.html.helpers.linkTo(repo, textContent = Some(views.Helpers.ellipsize(repo.toStringLang, 100)))</li>
    }
    @item.ancestors.reverse.map { ann =>
        <li>@views.html.helpers.linkTo(ann, textContent = Some(views.Helpers.ellipsize(ann.toStringLang, 100)))</li>
    }
}

