@(item: DocumentaryUnit, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

<h5>@views.html.helpers.linkTo(item)</h5>
@item.data.primaryDescription.map { desc =>
    <div class="search-item-details">
        <ul class="doc-search-details">
            @views.html.documentaryUnit.listItemMeta(item, desc, highlighter)
        </ul>
    </div>
}
@views.html.common.childCount(item) { count =>
    @views.html.helpers.link(controllers.portal.routes.DocumentaryUnits.search(item.id), 'class -> "child-items-inline-load collapsed") {
        <i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i>
        @Messages("documentaryUnit.childCount", count)
    }
}
