@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, highlighter: views.Highlighter)(implicit req: RequestHeader, conf: AppConfig, messages: Messages)

<li class="truncate truncate-100" title="@Messages("documentaryUnit.identifier"): @item.data.identifier">@item.data.identifier</li>

@defining(item.data.descriptions.map(_.languageCode).distinct.sorted.map(views.Helpers.languageCodeToName).mkString(", ")) { langCodes =>
    <li title="@Messages("documentaryUnit.languageCode"): @langCodes">@langCodes</li>
}

@desc.dates.headOption.map { dp =>
    <li title="@Messages("documentaryUnit.dates"): @dp.years">@dp.years</li>
}
@desc.identity.extentAndMedium.map { s =>
    <li class="truncate truncate-200">@Html(s)</li>
}
@item.latestEvent.map { event =>
    <li title="@common.eventTitle(event)">
        <time datetime="@event.data.timestamp">
            @Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))
        </time>
    </li>
}
