@(item: DocumentaryUnit, showRepository: Boolean = true, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, descriptionId: Option[String] = None)

@item.data.primaryDescription(descriptionId).map { desc =>
    @common.otherNameList(desc.identity.parallelFormsOfName)
    <div class="search-item-details">
        <ul class="doc-search-details">
            @if(showRepository) {
                @item.holder.map { holder =>
                  <li>
                      @views.html.helpers.link(views.Helpers.linkTo(holder), Symbol("class") -> "alt") {
                          @Html(highlighter.highlight(holder.toStringLang))
                      }
                  </li>
                }
            }
            @views.html.documentaryUnit.listItemMeta(item, desc, highlighter)
        </ul>
    </div>

    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @Markdown(highlighter.highlight(md.renderMarkdown(sc)))
    }

    @views.html.common.childCount(item) { count =>
        @views.html.helpers.link(controllers.portal.routes.DocumentaryUnits.search(item.id), 'class -> "child-items-inline-load collapsed") {
            <i class="fa fa-plus-square-o"></i>
            @Messages("documentaryUnit.childCount", count)
        }
    }
}.getOrElse {
    <small>@Messages("description.noDescriptions")</small>
}

