@(item: DocumentaryUnit, watched: Boolean, showRepository: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, descriptionId: Option[String] = None, context: Option[models.base.Holder[_]] = None)


@views.html.layout.searchItemOutline(item, watched) {
    <a href="@controllers.portal.routes.DocumentaryUnits.browse(item.id)">@item.model.primaryDescription(descriptionId).map(_.name).getOrElse(item.toStringLang)</a>
} {
    @listItemBody(item, showRepository)
}
