@(item: DocumentaryUnit, showRepository: Boolean = true, highlighter: views.Highlighter = views.NoopHighlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, descriptionId: Option[String] = None)

@item.model.primaryDescription(descriptionId).map { desc =>
    @common.otherNameListSmall(desc.identity.parallelFormsOfName.toList.flatten)
    <div class="search-item-details">
        <ul class="doc-search-details">
            @if(showRepository) {
                @item.holder.map { holder =>
                  <li>
                      @views.html.helpers.link(views.Helpers.linkTo(holder), Symbol("class") -> "alt") {
                          @Html(highlighter.highlight(holder.toStringLang))
                      }
                  </li>
                }
            }
            @views.html.documentaryUnit.listItemMeta(item, desc, highlighter)
        </ul>
    </div>

    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @Markdown(highlighter.highlight(md.renderMarkdown(sc)))
    }
    <div class="search-item-meta">
        @item.childCount.filter(_ > 0).map { count =>
            <div class="child-count">
                @views.html.helpers.link(controllers.portal.routes.DocumentaryUnits.search(item.id)) {
                    @Messages("documentaryUnit.childCount", count)
                }
                <a class="child-items-inline-load fa fa-plus-square-o" href="@controllers.portal.routes.DocumentaryUnits.search(item.id, inline = true)">
                </a>
            </div>
        }
    </div>
}.getOrElse {
    <small>@Messages("description.noDescriptions")</small>
}

