@(item: DocumentaryUnit, watched: Boolean, showRepository: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, descriptionId: Option[String] = None, context: Option[models.base.Holder[_]] = None)


@views.html.common.searchItemOutline(item, watched) {
    <a href="@controllers.portal.routes.DocumentaryUnits.browse(item.id)">@item.data.primaryDescription(descriptionId).map(_.name).getOrElse(item.toStringLang)</a>
} {
    @listItemBody(item, showRepository)
}
