@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, highlighter: views.Highlighter)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

@import org.apache.commons.lang3.StringUtils

<li title="@Messages("documentaryUnit.identifier"): @item.model.identifier">@Html(highlighter.highlight(StringUtils
        .abbreviate(item.model.identifier, 15)))</li>

@defining(item.model.descriptions.map(_.languageCode).distinct.sorted.map(views.Helpers.languageCodeToName).mkString(", ")) { langCodes =>
    <li title="@Messages("documentaryUnit.languageCode"): @langCodes">@langCodes</li>
}

@desc.dates.headOption.map { dp =>
    <li title="@Messages("documentaryUnit.dates"): @dp.years">@dp.years</li>
}
@desc.identity.extentAndMedium.map { s =>
    <li title="@Messages("documentaryUnit.extentAndMedium"): @s">@StringUtils.abbreviate(s, 25)</li>
}
@item.latestEvent.map { event =>
    <li title="@common.eventTitle(event)">
        <time datetime="@event.model.timestamp">
            @Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))
        </time>
    </li>
}
