@(item: DocumentaryUnit, highlighter: views.Highlighter, watched: Boolean, showRepository: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, descriptionId: Option[String] = None, context: Option[models.base.Holder[_]] = None)

@wrapParent(doc: DocumentaryUnit, parent: Option[DocumentaryUnit]) = {
    @if(parent.map(_.id) != context.map(_.id)) {
        @parent.map { p =>
            @wrapParent(doc, p.parent)
            <li>
              @views.html.helpers.linkTo(p, content = Html(highlighter.highlight(p.toStringLang)), Seq(Symbol("class") -> "search-item-parent-name"))
            </li>
        }
    }
}

@item.data.primaryDescription(descriptionId).map { desc =>
    @defining(views.Helpers.textDirection(desc)) { dir =>
        <div class="search-item" id="@item.id" dir="@dir">
            <div class="search-item-actions">
                @views.html.common.watchButtonsSmall(item, watched)
            </div>
            <h3 class="search-item-heading type-highlight @item.isA.toString" dir="@dir">
                @defining(if (item.descriptions.size > 1) desc.localId else None) { localDescId =>
                    @views.html.helpers.linkTo(item, content = Html(highlighter.highlight(desc.name)),
                        call = Some(controllers.portal.routes.DocumentaryUnits.browse(item.id, localDescId)))
                }
            </h3>
            <div class="search-item-body" dir="@dir">
                @item.parent.map { parent =>
                    @if(!context.map(_.id).contains(parent.id)) {
                        <ol class="holders">@wrapParent(item, Some(parent))</ol>
                    }
                }
                @views.html.documentaryUnit.listItemBody(item, showRepository, highlighter = highlighter)
            </div>
        </div>
    }
}
