@(item: DocumentaryUnit, highlighter: views.Highlighter, watched: Boolean, showRepository: Boolean = true)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, descriptionId: Option[String] = None, context: Option[models.base.Holder[_]] = None)

@wrapParent(doc: DocumentaryUnit, parent: Option[DocumentaryUnit]) = {
    @if(parent.map(_.id) != context.map(_.id)) {
        @parent.map { p =>
            @wrapParent(doc, p.parent)
            <li>
                <a class="search-item-parent-name" href="@controllers.portal.routes.DocumentaryUnits.browse(p.id)">
                    @Html(highlighter.highlight(p.toStringLang))
                </a>
            </li>
        }
    }
}

@anchor = @{descriptionId.map(id => s"#desc-$id").getOrElse("")}

@item.model.primaryDescription(descriptionId).map { desc =>
    @defining(views.Helpers.textDirection(desc)) { dir =>
        <div class="search-item" id="@item.id" dir="@dir">
            <div class="search-item-actions">
            @views.html.common.watchButtonsSmall(item, watched)
            </div>
            <h3 class="search-item-heading type-highlight @item.isA.toString" dir="@dir">
                <a href="@{controllers.portal.routes.DocumentaryUnits.browse(item.id)}@{anchor}">@Html(highlighter.highlight(desc.name))</a>
            </h3>
            <div class="search-item-body" dir="@dir">
                @if(item.parent.isDefined) {
                    <ol class="breadcrumb">@wrapParent(item, item.parent)</ol>
                }
                @views.html.documentaryUnit.listItemBody(item, showRepository, highlighter = highlighter)
            </div>
        </div>
    }
}