@(item: DocumentaryUnit, result: services.search.SearchResult[(DocumentaryUnit, services.search.SearchHit)], annotations: Seq[Annotation], links: Seq[Link], action: Call, watched: Seq[String], dlid: Option[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, EntityType.DocumentaryUnit.toString) {
    @infobar(item)

    @views.html.common.mainContent {
        @itemDetails(item, annotations, links, watched, dlid)

        @childItemSearch(item, result, action, watched)
    }
}
