@(action: Call, request: RequestHeader)

@main("Logging In")(None, request) {
	<script>
		(function($) {
		  $(document).ready(function() {
		    // Save some time by automatically submitting this form.
			$("#login-form").submit();		  		    
		  });
		})(jQuery);
	</script>
    <div class="row">
        <div class="span12 columns">
            <h2>Posting the login form...</h2>
                        
            <form id="login-form" method="POST" action="@action" class="form-actions">
                <button type="submit" class="btn btn-danger">@Messages("Login")</button>
            </form>
        </div>
    </div>
}

