.spin {
  -webkit-animation: spin .5s infinite linear;
  -moz-animation: spin .5s infinite linear;
  -o-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  -webkit-transform-origin: 50% 58%;
  transform-origin: 50% 58%;
  -ms-transform-origin: 50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-actions {
  @include make-row();
  // FIXME: BS4
  background-color: #f5f5f5; //$well-bg
  border-top: 1px solid darken(#f5f5f5, 7%); //$well-border;
  padding: 3 * $small-padding $small-padding;
  margin: 0;

  &.sticky {
    @extend .container;
    bottom: 0 !important;
  }

  .form-group {
    @include make-col-ready();
    @include make-col(9);
    @include make-col-offset(3);
  }
}

.btn-post {
  @extend .btn-primary;
}

.btn-cancel {
  //@extend .btn-default;
}

.btn-facebook, .btn-google, .btn-yahoo, .btn-openid {
  margin: $medium-margin auto;
}

.btn-facebook {
  @include button-variant(#ffffff, #354E84, #354E84);
}

.btn-google {
  @include button-variant(#ffffff, #DD4B39, #DD4B39);
}

.btn-yahoo {
  @include button-variant(#ffffff, #7B0099, #7B0099);
}

.btn-openid {
  @include button-variant(#ffffff, #949494, #949494);
}

.remove-inline-element {
  text-shadow: rgba(215, 0, 0, 1) 0 0 10px;
}

.progress-button {
  padding-left: $large-padding;
  padding-right: $large-padding;

  &.running, &.loading {
    background-image: url('../img/ajax-loader-small.gif');
    background-position: right $small-margin center;
    background-repeat: no-repeat;
  }
}
