@mixin make-entity-color($color, $secondary-color:white) {
  &.landing-header {
    background-color: $color;
    color: $secondary-color;
    > a,
    > a:hover,
    > a:visited {
      text-decoration: none;
      color: white !important;
    }
  }
  &.block-header {
    color: $color;
    > a,
    > a:hover,
    > a:visited {
      text-decoration: none;
      color: $color;
    }
  }
  // MB: Removing this, even though it
  // was probably added for a very good reason...
  //a:not([class]),
  & > a {
    color: $color;
  }
  &.type-highlight > a, &.type-highlight {
    color: $color;
  }
}

.UserProfile, .Group {
  @include make-entity-color($user-color);
}

.DocumentaryUnit {
  @include make-entity-color($doc-color);
}

.Repository {
  @include make-entity-color($repo-color);
}

.Country {
  @include make-entity-color($country-color);
}

.HistoricalAgent, .AuthoritativeSet {
  @include make-entity-color($agent-color);
}

.VirtualUnit {
    @include make-entity-color($virtual-color);
}

.Annotation, .Link {
  @include make-entity-color($annotation-color);
}

.CypherQuery {
  @include make-entity-color($doc-color);
}

//a.text-muted, .text-muted a {
//  @extend .text-muted;
//}

.CvocConcept, .CvocVocabulary {
  @include make-entity-color($concept-color);
}
