.make-entity-color(@color, @secondary-color:white) {
  &.landing-header {
    background-color: @color;
    color: @secondary-color;
    > a,
    > a:hover,
    > a:visited {
      text-decoration: none;
      color: white !important;
    }
  }
  &.block-header {
    color: @color;
    > a,
    > a:hover,
    > a:visited {
      text-decoration: none;
      color: @color;
    }
  }
  // MB: Removing this, even though it
  // was probably added for a very good reason...
  //a:not([class]),
  & > a {
    color: @color;
  }
  &.type-highlight > a, &.type-highlight {
    color: @color;
  }
}

.UserProfile, .Group {
  .make-entity-color(@user-color);
}

.DocumentaryUnit {
  .make-entity-color(@doc-color);
}

.Repository {
  .make-entity-color(@repo-color);
}

.Country {
  .make-entity-color(@country-color);
}

.HistoricalAgent, .AuthoritativeSet {
  .make-entity-color(@agent-color);
}

.VirtualUnit {
    .make-entity-color(@virtual-color);
}

.Annotation, .Link {
  .make-entity-color(@annotation-color);
}

.CypherQuery {
  .make-entity-color(@doc-color);
}

a.text-muted, .text-muted a {
  .text-muted
!important;
}

.CvocConcept, .CvocVocabulary {
  .make-entity-color(@concept-color);
}