//@import "panels";
//@import "../portal/index";

.search-facets {
  //@extend .panel;
  @include panel-rework();
  @include panel-color($medium-gray, #000000);
}

.search-facets-heading {
  //@extend .panel-heading;
  margin-top: 0;
}

.facet-classes {
  //@extend .panel-body, .list-unstyled;
  @include list-unstyled;
  padding: 15px;
  padding-top: 0;
}

.selected-facets {
  margin-top: $small-margin;
}

.selected-facet {
  margin-right: $small-margin;
  margin-bottom: $small-margin;
  display: inline-block;
  color: #fff;
  background-color: $search-glow;

  > .facet, .remove {
    padding: 2px $small-padding;
    border-color: $almost-black;
    font-size: 0.9em;
  }

  > a.remove-filter {
    color:white!important;
    .remove {
      // FIXME: BS4
      //@extend .glyphicon, .glyphicon-remove;
      &:hover {
        background-color: darken($search-glow, 10%);
      }
    }
    &:hover {
      text-decoration:none;
      color:$pale-gray;
    }
  }
}

.facet-options-extra {
  @extend .collapse;
}

.facet-class {
  padding-bottom: $large-padding;
  border-bottom: 1px dashed $dark-gray;
}

.facet-class:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.facet-class a {
  color: lighten($almost-black, 10%);
  &:hover {
    text-shadow: rgba(82, 168, 236, 0.8) 0 0 10px
  }
}

.facet-class .facet-label {
  margin: $large-margin 0;
  font-size: $font-size-base * 1.2;
}

.facet-class .facet-label.active {
  text-shadow: 0 0 .5px black;
}

.facet-class .facet-label i {
  opacity: .5;
}

.facet-options {
  list-style-type: none;
  padding: 0;

  .remove-filter {
    font-weight: bolder;
    @include highlight-glow();
    a {
      &:after {
        content: "\00D7";
      }
    }
  }

  a {
    text-decoration: none;
    color: $almost-black;
    //font-size: 0.9em;
    font-weight: normal;
    &:hover {
      @include highlight-glow();
    }
  }

  &.choice {
    .apply-filter:before {
      content: "\2610";
    }
    .remove-filter {
      &:after {
        content: "";
      }
      &:before {
        content: "\2611";
      }
    }
  }

  li {
    margin-bottom: $small-margin;
  }

  li:last-child {
    margin-bottom: 0;
  }
}
