footer#portal-footer {
  color: $text-muted;
  a {
    color: $almost-black;
  }

  border-top: 1px solid darken($pale-gray, 6.5%);
  background-color: $pale-gray;
  padding: $large-padding;

  #navbar-tertiary, #lang-switcher {
    @extend .list-inline;
    font-size: $font-size-sm;
  }

  #navbar-tertiary {
    @extend .pull-left;
  }

  #lang-switcher {
    @extend .pull-right;
  }

  .footer-blurb {
    @extend .text-center;
    font-size: 0.95em;
    margin: 2*$large-margin 0;
    img {
      vertical-align: top;
      margin: 0 $medium-margin;
      height: 70px;
    }
  }
}
