footer#portal-footer {
  &:extend(.text-muted, .text-center);
  a {
    color: @almost-black;
  }

  background-color: @pale-gray;
  border-left: 1px solid @dark-gray;
  border-right: 1px solid @dark-gray;
  padding-left: @large-padding;
  padding-right: @large-padding;

  padding-top: @large-padding;

  #navbar-tertiary, #lang-switcher {
    &:extend(.list-unstyled, .small);
    .list-inline;
    .pull-left;
  }

  #lang-switcher {
    .pull-right;
  }

  .footer-blurb {
    &:extend(.clearfix, .small);
    margin-top: @large-margin;
    img.eu-logo {
      width: 20px;
      height: 20px;
    }
  }
}