.form-group {
  margin-bottom: 15px;
}

// Fix for misaligned input group buttons
// TODO: get rid of this when upgrading Bootstrap from 3.x
.input-group > .input-group-btn > .btn {
  line-height: 1.44 !important;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
}

// Extra hack for search box...
.welcome-container .input-group > .input-group-btn > .btn {
  line-height: 1.36 !important;
}

