html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #FCFCFC;
}

body {
  //max-width: $max-body-width;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  padding-bottom: $large-padding;
  padding-top: $large-padding;
}

.info-bar, .main-content, .footer-content {
  @extend .container;
}

.fullscreen {
  .info-bar, .main-content, .footer-content {
    width: 100%;
  }
}

/* Wrapper for page content to push down footer */
#wrap {
  background-color: white;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto;
  margin-bottom: -$footer-height;
}

/* Set the fixed height of the footer here */
.page-content > #push, #portal-footer {
  height: $footer-height - 1;
}

article.double {
  @include make-row();

  > aside.right-sidebar {
    // FIXME: BS4
    @include make-col-ready();
    @include make-col(3);
    @include make-col-offset(9);
  }
  > section.main {
    @include make-col-ready();
    @include make-col(9);
    //@include make-(3);
  }
}
