/** Inline lists - Bootstrap doesn't actually do this by itself */
.inline li {
  display: inline;
  padding-left: 0;
}

/** Put a separator between the bars of inline lists */
.inline-separator li:after {
  content: " | ";
}

.inline-separator li:last-child:after {
  content: "";
}

/** Inline lists with a comma separator */
.comma-sep, ul.slash-sep {
  display: inline;
  margin: 0;
  padding: 0;
}

.comma-sep li, ul.slash-sep li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.comma-sep li:after {
  content: ", ";
  color: #aaa;
}

.comma-sep li:last-child:after, ul.slash-sep li:last-child:after {
  content: "";
}

.slash-sep li:after {
  content: " / ";
  color: #aaa;
}

.other-name-list {
  font-size: 1.3em;
  @extend .list-inline;
  margin-left: 0; // corrects Bootstraps -5px neg margin
  display: block;
}

.other-name-list-small {
  font-weight: bold;
  font-size: $font-size-sm;
  @extend .list-inline;
  margin-left: 0;
}


