.login-page {
  @include make-row();

  .login-or-signup {
	@include make-md-column-push(2);
	@include make-md-column(8);
  }
}

.login-disclaimer {
  @extend .small, .text-muted;
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}

form.openid {
  input.login, input[name="openid_identifier"] {

	@extend .form-control;
	margin: $medium-margin auto;

  }

  .oauth-providers {
	margin: $medium-margin 0;
  }

  .more-login-options {
	display:none;

	&.errors {
	  display: block;
	}
  }
}
