@mixin highlight-glow {
  text-shadow: rgba(82, 168, 236, 0.8) 0 0 10px;
}

@mixin gravitar-image($size) {
  float: left;
  width: $gravitar-size;
  height: $gravitar-size;
  margin-right: $small-margin;
  margin-bottom: $small-margin;

  img {
    border-radius: $size;
  }
}

@mixin small-muted {
  font-size: floor((100% * $font-size-sm / $font-size-base));
  color: $text-muted;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
