@mixin panel-color($header-bg: $ehri-purple, $header-color: white, $headerSelector : panel-heading, $footerSelector : panel-footer, $opacity-ft : 1) {
  .#{$headerSelector} {
    background-color: $header-bg;
    color: $header-color;
  }
  .#{$footerSelector} {
    opacity: $opacity-ft;
    color: $header-color;
  }
}

@mixin panel-rework($headerSelector : panel-heading, $bodySelector : panel-body, $footerSelector : panel-footer) {

  border: 0;
  border-radius: 0;
  @include box-shadow(none);

  .#{$headerSelector} {
    @extend .panel-heading;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
  .#{$bodySelector} {
    border-radius: 0;
    border: 0;
  }
  .#{$footerSelector} {
    border: 0;
  }
}

@mixin panel-rework($headerSelector : panel-heading, $bodySelector : panel-body, $footerSelector : panel-footer) {
  @if ($headerSelector: panel-heading) {
    .#{$headerSelector} {
      h3 {
        @extend .card-title;
      }

      .expander {
        display: none;
      }

      &:hover {
        .expander {
          display: inline-block;
        }
      }
    }
  } @else {
    .#{$headerSelector} {
      @extend .card-title;
    }
  }
}


.sidebar-section {

  // FIXME: BS4
  border: 1px solid #ccc; //$panel-default-border;
  margin-bottom: 20px;

  .sidebar-section-heading {
    background-color: #fdfdfd; //$panel-default-heading-bg;
    padding: 0.5rem 1rem; //$panel-heading-padding;

    h1, h2, h3, h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    border-left: none;
    border-right: none;
  }

  .list-group-item:last-child {
    border-bottom: none;
  }


  .sidebar-section-footer {
    background-color: #fdfdfd; //$panel-footer-bg;
    padding: 0.5rem 1rem; //$panel-footer-padding
  }
}


.panel-history {
  @include panel-color($medium-gray, #000000);
  @include hidden-one-col;

  .glyphicon {
    font-size: $font-size-sm;
    cursor: pointer;
  }

  .expander {
    @extend .pull-right;
  }

  .panel-body {
    padding: $small-padding, 3 * $small-padding;
  }

  .panel-footer {
    padding: 0, 3 * $small-padding;
  }

  &.inactive {
    .panel-body, .panel-footer {
      display: none;
    }
  }
}

.panel-details, .panel-type {
  @include panel-rework();
  @include panel-color($medium-gray, #000000);

  margin-bottom: $large-margin;
}

//.panel-type {
//  margin-bottom: $large-margin;
//}

body.DocumentaryUnit .panel-type {
  @include panel-color($doc-color);
}

body.Country .panel-type {
  @include panel-color($country-color);
}

body.Repository .panel-type {
  @include panel-color($repo-color);
}

body.HistoricalAgent .panel-type, body.AuthoritativeSet .panel-type {
  @include panel-color($agent-color);
}

body.UserProfile .panel-type, body.group .panel-type {
  @include panel-color($user-color);
}

body.VirtualUnit .panel-type {
  @include panel-color($virtual-color);
}

body.CvocConcept .panel-type, body.CvocVocabulary .panel-type {
  @include panel-color($concept-color);
}

body.Annotation .panel-type, body.Link .panel-type {
  @include panel-color($annotation-color);
}
