
.inline-search-filter {
  @extend .pull-right;
  input {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: $font-size-base;
    font-family: $font-family-base;
    padding: 2px 20px 2px 2px;
    background-repeat: no-repeat;
    background-position: right 0;
    display: inline !important;
    width: 22px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/ehri-assets/search-small.png);
    color: #333;
    cursor: pointer;
    &:focus, &.active {
      width: auto;
      display: block;
      border: 1px solid #999;
      background-color: #fff;
      background-position: right -20px;
      cursor: text;
    }
  }
}

/** child items */
.item-children > a {
  font-size: $font-size-sm;
  padding-right: $large-padding; //$medium-padding + $small-padding;
  font-weight: lighter;
  color: $almost-black;
  text-decoration: none;
  @include highlight-glow;
  &:hover {
    text-decoration: none;
  }
  &.loading {
    background-image: url('../img/ajax-loader-small.gif');
    background-repeat: no-repeat;
    background-position: right;
  }
}

.search-sort {
  @extend .list-unstyled, .list-inline;
  float: right;
  span.fa {
    padding: $small-padding;
    float: left;
  }
}

.search-summary {
  font-size: 1.3em;
  line-height: 1.1;
  font-weight: 500;
}

/* Highlight the current search sort */
.current-search-sort {
  text-decoration: underline;
  text-shadow: rgba(82, 168, 236, 0.8) 0 0 10px;
}

em.highlight {
  text-shadow: rgba(255, 255, 180, 0.8) 0 0 10px;
}

/** Search items */
.search-item-parent {
  padding-left: $large-padding;
}

.search-item {
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0;
  }

  padding-bottom: 0.5em;
  border-bottom: 1px dashed $dark-gray;
  margin-bottom: $search-item-spacing;
}

.search-item-heading {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0.2em;
  padding-right: $large-padding * 2;
}

.search-item-details {
  font-size: $font-size-sm;

  ul, ol {
    @include list-unstyled;
    @extend .list-inline;
    color: $text-muted;

    time {
      display: inline;
    }
  }
}

.search-item-body {
  margin-top: $small-margin;
  padding-right: $large-padding * 2;
}

.search-item-actions {
  float: right;
  width: $large-margin;

  .watch-item {
    text-decoration: none;
  }

  .watch-item.watch {
    opacity: 0.3;
  }

  .bookmark-item {
    opacity: 0.2;

    &.bookmarked {
      opacity: 0.7;
    }
  }
}

.search-results, .search-results-no-facets {
  .search-result-errata {
    @include clearfix;
    .search-summary {
      float: left;
    }

    .search-sort {
      float: right;
    }
  }
}

.search-results {
  @include make-row();
  .search-sidebar {
    @include make-col-ready();
    @include make-col-offset(9);
    @include make-col(3);
    margin-bottom: $medium-margin;
  }

  .search-results-body {
    @include make-col-ready();
    //@include make-col-offset(2);
    @include make-col(9);

  }
}

.search-results-no-facets {
  @include make-row();
  .search-results-body {
    @include make-col-ready();
    @include make-col-offset(12);
  }
}

.search-result-list {
  @include list-unstyled;
  // Allows both left-to-right and right-to-left elements
  // in the same list
  li {
    text-align: unset;
  }
  margin-top: $large-margin;
  padding-right: $medium-padding;
}

.search-item-footer {
  text-align: right;
}

.list-item-actions, .list-item-meta {
  @extend .list-inline;
  @include small-muted;
  display: inline-block;
  margin-left: $small-margin;
}

.child-item-search {
  margin-top: $large-margin;
  padding-top: $large-padding;
}

.field-selector {
  background-color: #fff;
  select {

  }
}

.child-items-inline {
  margin: $medium-margin 0;
  padding-left: $large-padding;
}

.child-items-inline .child-items-inline-list {
  margin: $small-margin 0;
  padding: 0;
  display: block;
}

.child-items-inline .child-items-inline-list .child-items-inline-item {
  list-style: none;
  display: block;
  border-bottom: 1px dashed $dark-gray;
  margin-bottom: $small-margin;
  padding-bottom: $small-padding;
}

.child-items-inline .child-items-inline-list .child-items-inline-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.child-items-inline-list-more {
  @extend .btn, .btn-sm;
  width: 100%;
  padding: 3px;
  &:hover {
    text-decoration: none;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.search-item-list-more {
  @extend .btn;
  width: 100%;
  &:hover {
    text-decoration: none;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
