
.sidebar-section {
  @extend .panel;
  @extend .panel-default;

  header {

    // FIXME: Can't get this to pull through from
    // the panel-default defaults
    background-color: $gray-lighter;

    @extend .panel-default;
    @extend .panel-heading;
    h3 {
      @extend .panel-title;
    }
  }

  .sidebar-section-body {
    @extend .panel-body;
  }

  .sidebar-section-footer {
    @extend .panel-footer;
  }
}


/** Cut off text in description switch without wrap... */
.description-switcher > a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.vertical-navbar {
  width: 200px;
}

.vertical-navbar > ul > li.active > a,
.vertical-navbar > ul > li.active > a:focus,
.vertical-navbar > ul > li.active > a:hover {
  background-color: #fff;
  color: $link-color;
  font-weight: bolder;
}

.vertical-navbar > ul > li > ul > li {
  margin-left: 1em;
  font-size: 0.9em;
}

.vertical-navbar > ul > li.active > ul > li.active > a,
.vertical-navbar > ul > li.active > ul > li.active > a:focus,
.vertical-navbar > ul > li.active > ul > li.active > a:hover {
  background-color: #fff;
  color: $link-color;
  font-weight: bold;
}
