$primary-highlight: #360f4f;

//Border radius stuff
$border-radius: 1px;
$border-radius-base: $border-radius;
$border-radius-large: $border-radius;
$border-radius-small: $border-radius;

$ehri-purple: #360f4f;
$pale-gray: #f8f8f8;
$muted-gray: #999999;
$medium-gray: #dddddd;
$dark-gray: #cccccc;
$almost-black: #333;
$glow-color: #fff9c0;
$search-glow: #508fd1;

$doc-color: #6c003b;
$repo-color: #034153;
$country-color: #864300;
$agent-color: #517c00;
$user-color: #6c0f00;
$concept-color: #283e00;
$annotation-color: $doc-color;
$group-color: $user-color;
$virtual-color: #544f5f; //#758689;

$promoted-color: #f6f6ff;
$promoted-arrow-color: #dd9300;

$gray-light: lighten(#000, 46.7%); // #777


$max-body-width: 1100px;
$about-page-width: 320px;

$shadow-depth: 5px;
$shadow-blur: 5px;
$shadow-color: $dark-gray;
$shadow-opacity: 0.7;

$search-hit-highlight: #ffffdd;

$gravitar-size: 48px;

$footer-height: 200px;

// Spacings
$search-item-spacing: 1.5em;

// Min width for mobile devices
//$page-min-width: 320px;

// Top navbar
$navbar-height: 25px;
$navbar-margin-bottom: 0px;
$navbar-inverse-link-color: #fff;
$navbar-inverse-color: #000;
$navbar-inverse-link-active-bg: #333;

// Margins
$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 20px;

// Padding
$small-padding: 5px;
$medium-padding: 10px;
$large-padding: 20px;

// Fonts
$headings-font-family: "serif";

// Icons
$icon-font-path: "/v/fonts/";
$icon-font-name: "glyphicons-halflings-regular";
$icon-font-svg-id: "glyphicons_halflingsregular";

$input-color: $almost-black;

$link-color: $doc-color;
$link-hover-color: darken($link-color, 15%);

// Override primary button color
$btn-primary-color: #fff;
$btn-primary-bg: $doc-color;
$btn-primary-border: darken($btn-primary-bg, 10%);

$btn-post-color: $btn-primary-color;
$btn-post-bg: $btn-primary-bg; //$ehri-purple;
$btn-post-border: $btn-primary-border;

$btn-get-color: #333;
$btn-get-bg: #fff;
$btn-get-border: #ccc;

$btn-cancel-color: $btn-get-color;
$btn-cancel-bg: $btn-get-bg;
$btn-cancel-border: $btn-get-border;

$navbar-inverse-link-active-color: #fff;

