@(item: Option[UserProfile], f: play.api.data.Form[UserProfileF], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages(item.map(s => "actions.updateUserProfile").getOrElse("actions.createUserProfile"))) {

    @helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @userProfile.renderForm(item, f)

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages(item.map(s => "submitButton.updateUserProfile").getOrElse("submitButton.createUserProfile"))</button>
        </div>
	}
		
} {

}
