@(item: Option[UserProfile], f: play.api.data.Form[models.forms.UserProfileF], action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)
 
@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

  @main(Messages(item.map(s => "actions.updateUserProfile").getOrElse("actions.createUserProfile")))(Some(user), req) {
	
		<h2>@Messages(item.map(s => "actions.updateUserProfile").getOrElse("actions.createUserProfile"))</h2>
	
		@helper.form(action = action, 'class -> "entity-form form-horizontal") {
			<fieldset id="identity-area">
				<legend>@Messages("Identity")</legend>
				@helper.inputText(f("identifier"), '_label -> "Identifier")
				@helper.inputText(f("name"), '_label -> "Name")
				@helper.inputText(f("location"), '_label -> "Location")
				@helper.repeat(f("languages"), min=math.max(f("languages").indexes.length, 1)) { fl =>
				  @helper.inputText(fl, '_label -> "Languages")
				}				
				@helper.textarea(f("about"), '_label -> "About")
			</fieldset>
		  			
			<div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages(item.map(s => "submitButton.updateUserProfile").getOrElse("submitButton.createUserProfile"))</button>
        </div>
	}
		
}
