@(items: rest.Page[UserProfileMeta], params: ListParams)(implicit userOpt: Option[UserProfileMeta], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.listUserProfiles")) {

    @common.filterableList("pagination.displayingItems", items, params, UserProfiles.listFilterMappings.keys, UserProfiles.orderMappings.keys) {
        <ul class="unstyled">
        @items.items.map { item =>
            <li>
                @userProfile.listItem(item)
            </li>
        }
        </ul>
    }
} {
    @common.sidebarSection(None) {
        @userOpt.map { user =>
            @if(user.isAdmin) {
                @if(user.hasPermission(ContentType.UserProfile, PermissionType.Create)) {
                    <a class="btn btn-primary" href="@routes.Admin.createUser">@Messages("actions.createUserProfile")</a>
                }
            }
        }
    }
}
