@(items: rest.Page[UserProfile])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@main(Messages("actions.listUserProfiles"))(maybeUser, req) {

    <h2>@Messages("actions.listUserProfiles")</h2>
	<h3>@Messages("pagination.displayingItems", items.offset + 1, items.offset + items.list.size, items.total)</h3>
	@maybeUser.map { user =>
  		@if(user.hasPermission(ContentType.UserProfile, PermissionType.Create)) {
  		  <a href="@routes.UserProfiles.create">@Messages("Create New User")</a>
  		}
	}
  
	<div id="pagination" class="pagination">
    	<ul>
		@views.Helpers.paginationRanges(items.page.toInt + 1, items.numPages.toInt).map { range =>
			@range.map { cp =>
	        	@if(cp == items.page.toInt) {
	                <li class="disabled"><a>@cp</a></li>
	            } else {
	                <li><a href="@utils.joinPath(req.path, req.queryString.updated("page", Seq(cp.toString)))">@cp</a></li>
	            }
	        }
	        @if(range.last != items.numPages) {
	        	<li class="disabled"><a>...</a></li>
	        }
		}
		</ul>
	</div>
	
	<ul>
	@items.list.map { item =>
	  	<li>
			<a href="@routes.UserProfiles.get(item.id)">@item.name</a>
		</li>
	}
	</ul>
    
}
