@(item: UserProfile)(implicit req: RequestHeader, lang: Lang)

@common.searchItemOutline(item.id) {
    <a href="@routes.UserProfiles.get(item.id)">@item</a>
} {

    <small>
        <ul class="unstyled muted inline inline-separator">
            @item.groups.map { acc =>
                <li><a class="alt" href="@routes.Groups.get(acc.id)">@acc</a></li>
            }
            @item.model.location.filterNot(_.trim.isEmpty).map { loc =>
                <li>@loc</li>
            }
        </ul>
        <ul class="unstyled muted inline inline-separator">
            @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">@Messages("systemEvents.lastUpdated", views.Helpers.prettyDate(event.timeStamp))</li>
            }
        </ul>
    </small>
    @item.stringProperty(UserProfileF.ABOUT).filterNot(_.trim.isEmpty).map { about =>
        <p>@about</p>
    }
}
