@(item: UserProfile, annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item))) {

    @common.descriptionValue(Some(item.property("location").flatMap(_.asOpt[String]).getOrElse(Messages("profile.noLocationGiven"))), Messages("profile.location"))
    @* @common.descriptionValue(if (item.languages.mkString(", ").isEmpty) None else Some(item.languages.mkString(", ")), Messages("profile.languages")) *@
    @* @common.descriptionValue(Some(item.about.getOrElse(Messages("profile.noBioGiven"))), Messages("profile.about")) *@

    @if(item.groups.isEmpty) {
        <i>@Messages("accessor.notInAnyGroups")</i>
    } else {
        <strong>Groups: </strong>&nbsp;
        @item.groups.map { group =>
            <a class="badge" href="@routes.Groups.get(group.id)">@group.name</a>
        }
    }
} {
    <hr />
    @common.latestAction(item, routes.UserProfiles.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
        @if(user.hasPermission(ContentType.UserProfile, PermissionType.Update)) {
            <li><a href="@routes.UserProfiles.update(item.id)">@Messages("Modify Profile")</a></li>
        }
        @if(user.hasPermission(ContentType.UserProfile, PermissionType.Grant)) {
            <li><a href="@routes.UserProfiles.permissions(item.id)">@Messages("actions.manageGlobalPermissions")</a></li>
              <li><a href="@routes.UserProfiles.grantList(item.id)">@Messages("actions.listPermissionGrants")</a></li>
        }
        @if(user.hasPermission(ContentType.UserProfile, PermissionType.Grant)) {
            <li><a href="@routes.Groups.membership(item.isA.toString, item.id)">@Messages("actions.modifyGroups")</a></li>
        }
        @if(user.hasPermission(ContentType.UserProfile, PermissionType.Delete)) {
            <li><a href="@routes.UserProfiles.delete(item.id)">@Messages("actions.deleteItem")</a></li>
        }
        <li><a href="@routes.UserProfiles.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}