@(item: UserProfileRepr, maybeUser: Option[models.sql.User], req: RequestHeader)

@import defines._

@main(item.name)(maybeUser, req) {
	
	<h3>User: @item.name (@item.identifier)</h3>
	
	@common.descriptionValue(Some(item.property("location").flatMap(_.asOpt[String]).getOrElse("No location information given")), "Location")
	@* @common.descriptionValue(if (item.languages.mkString(", ").isEmpty) None else Some(item.languages.mkString(", ")), "Languages") *@
	@* @common.descriptionValue(Some(item.about.getOrElse("No biographical information given")), "About") *@
	
	<hr />
	@if(item.groups.isEmpty) {
	  <i>This user does not belong to any groups.</i>	  
	} else {
	  <strong>Groups: </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@routes.Groups.get(group.identifier)">@group.name</a>
	  }	  
	}
	
	@common.visibility(item)
	
  	<hr />
	<a href="@routes.UserProfiles.list(1, 20)">@Messages("Back to List")</a>	
	@maybeUser.map { user =>
	  @user.permissions.map { pset =>
  		@pset.get(ContentType.UserProfile, PermissionType.Create).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.UserProfiles.create">@Messages("Create New User")</a>
  		}
  		@pset.get(ContentType.UserProfile, PermissionType.Update).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.UserProfiles.update(item.id)">@Messages("Modify Profile")</a>
  		}
  		@pset.get(ContentType.UserProfile, PermissionType.Update).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.UserProfiles.visibility(item.id)">@Messages("Set Visibility")</a>
  		}  		
  		@pset.get(ContentType.UserProfile, PermissionType.Grant).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.UserProfiles.permissions(item.id)">@Messages("Modify Permissions")</a>
  		}	      		
  		@pset.get(ContentType.UserProfile, PermissionType.Grant).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.Groups.membership(item.isA.toString, item.id)">@Messages("Add/Remove Parent Groups")</a>
  		}	      		  		
  		@pset.get(ContentType.UserProfile, PermissionType.Delete).map { p =>
  		  &nbsp;|&nbsp;
  		  <a href="@routes.UserProfiles.delete(item.id)">@Messages("Delete User")</a>
  		}	    
	  }
	}	
	
}