@(item: UserProfile, maybeUser: Option[UserProfile], req: RequestHeader)

@import defines._

@main(item.name)(maybeUser, req) {
	
	<h3>User: @item.name (@item.identifier)</h3>
	
	@common.descriptionValue(Some(item.property("location").flatMap(_.asOpt[String]).getOrElse("No location information given")), "Location")
	@* @common.descriptionValue(if (item.languages.mkString(", ").isEmpty) None else Some(item.languages.mkString(", ")), "Languages") *@
	@* @common.descriptionValue(Some(item.about.getOrElse("No biographical information given")), "About") *@
	
	<hr />
	@if(item.groups.isEmpty) {
	  <i>@Messages("accessor.notInAnyGroups")</i>
	} else {
	  <strong>Groups: </strong>&nbsp;
	  @item.groups.map { group =>
	    <a href="@routes.Groups.get(group.identifier)">@group.name</a>
	  }	  
	}
	
	@common.visibility(item)

    <ul class="item-actions">
        <li><a href="@routes.UserProfiles.list()">@Messages("Back to List")</a></li>
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.UserProfile, PermissionType.Update)) {
                <li><a href="@routes.UserProfiles.update(item.id)">@Messages("Modify Profile")</a></li>
            }
                @if(user.hasPermission(ContentType.UserProfile, PermissionType.Update)) {
                    <li><a href="@routes.UserProfiles.visibility(item.id)">@Messages("Set Visibility")</a></li>
            }
                @if(user.hasPermission(ContentType.UserProfile, PermissionType.Grant)) {
                    <li><a href="@routes.UserProfiles.permissions(item.id)">@Messages("Modify Permissions")</a></li>
            }
                @if(user.hasPermission(ContentType.UserProfile, PermissionType.Grant)) {
                    <li><a href="@routes.Groups.membership(item.isA.toString, item.id)">@Messages("Add/Remove Parent Groups")</a></li>
                }
                @if(user.hasPermission(ContentType.UserProfile, PermissionType.Delete)) {
                    <li><a href="@routes.UserProfiles.delete(item.id)">@Messages("Delete User")</a></li>
            }
            <li><a href="@routes.ActionLogs.historyFor(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>

}