@(item: HistoricalAgent, desc: HistoricalAgentDescriptionF, links: Seq[Link], annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, fieldPrefix: String)

@import Isaar._
@import views.html.common.descriptionSection
@import views.html.common.textField
@import views.html.common.listField

@views.html.common.descriptionOutline(item, desc, annotations) {
    @defining(Annotation.fieldAnnotations(desc.id, annotations)) { implicit fieldAnnotations =>
        @desc.id.map { descId =>

            @views.html.common.itemHeader(desc.name) {
                @views.html.common.otherNameList(desc.parallelFormsOfName)
            }

            @details(item, desc)

            @descriptionSection(DESCRIPTION_AREA) {
                @textField(item, descId,   desc.details.datesOfExistence, DATES_OF_EXISTENCE)
                @textField(item, descId,   desc.details.history, HISTORY)
                @listField(item, descId,   desc.details.places, PLACES)
                @textField(item, descId,   desc.details.legalStatus, LEGAL_STATUS)
                @textField(item, descId,   desc.details.functions, FUNCTIONS)
                @textField(item, descId,   desc.details.mandates, MANDATES)
                @textField(item, descId,   desc.details.internalStructure, INTERNAL_STRUCTURE)
                @textField(item, descId,   desc.details.generalContext, GENERAL_CONTEXT)
            }
        
            @descriptionSection(CONTROL_AREA) {
                @textField(item, descId,   desc.control.descriptionIdentifier, DESCRIPTION_IDENTIFIER)
                @textField(item, descId,   desc.control.institutionIdentifier, INSTITUTION_IDENTIFIER)
                @textField(item, descId,   desc.control.rulesAndConventions, RULES_CONVENTIONS)
                @textField(item, descId,   desc.control.status, STATUS)
                @textField(item, descId,   desc.control.levelOfDetail, LEVEL_OF_DETAIL)
                @textField(item, descId,   desc.control.datesCDR, DATES_CVD)
                @listField(item, descId,   desc.control.languages, LANGUAGES_USED, transformFunc = s => views.Helpers.languageCodeToName(s))
                @listField(item, descId,   desc.control.scripts, SCRIPTS_USED, transformFunc = s => views.Helpers.scriptCodeToName(s))
                @listField(item, descId,   desc.control.sources, SOURCES)
                @textField(item, descId,   desc.control.maintenanceNotes, MAINTENANCE_NOTES)
            }

            @descriptionSection(ACCESS_POINTS) {
                @views.html.common.accessPointLinks(item, desc, links)
            }
        }
    }
}
