@(item: HistoricalAgent, desc: HistoricalAgentDescriptionF, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, fieldPrefix: String)

@import Isaar._
@import views.html.common.{descriptionSection, textField, listField}

@views.html.common.descriptionOutline(item, desc, annotations) {
    @defining(Annotation.fieldAnnotations(desc.id, annotations)) { implicit fieldAnnotations =>
        @desc.id.map { descId =>
            @views.html.common.itemHeader(desc.name)
            @views.html.common.otherNameList(desc.parallelFormsOfName)
            @views.html.common.otherNameList(desc.otherFormsOfName)

            @views.html.historicalAgent.details(item, desc)

            @descriptionSection(DESCRIPTION_AREA) {
                @textField(item, descId, DATES_OF_EXISTENCE, desc.details.datesOfExistence)
                @textField(item, descId, HISTORY, desc.details.history)
                @listField(item, descId, PLACES, desc.details.places)
                @listField(item, descId, LEGAL_STATUS, desc.details.legalStatus)
                @listField(item, descId, FUNCTIONS, desc.details.functions)
                @listField(item, descId, MANDATES, desc.details.mandates)
                @textField(item, descId, INTERNAL_STRUCTURE, desc.details.internalStructure)
                @textField(item, descId, GENERAL_CONTEXT, desc.details.generalContext)
            }
        
            @descriptionSection(CONTROL_AREA) {
                @textField(item, descId, RULES_CONVENTIONS, desc.control.rulesAndConventions)
                @textField(item, descId, LEVEL_OF_DETAIL, desc.control.levelOfDetail)
                @textField(item, descId, DATES_CVD, desc.control.datesCDR)
                @listField(item, descId, SOURCES, desc.control.sources)
                @textField(item, descId, MAINTENANCE_NOTES, desc.control.maintenanceNotes)
            }
        }
    }
}
