@(item: HistoricalAgent, desc: HistoricalAgentDescriptionF)(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages, conf: AppConfig)

<dl class="item-meta">
    <dt>@Messages("historicalAgent.identifier")</dt>
    <dd>@item.data.identifier</dd>
    @if(desc.dates.nonEmpty) {
        <dt>@Messages("historicalAgent.dates")</dt>
        <dd>@desc.dates.map(_.years).mkString(", ")</dd>
    }
    <dt>@Messages("historicalAgent.entityType")</dt>
    <dd>@Messages("historicalAgent.entityType." + desc.entityType)</dd>
</dl>
