@(item: HistoricalAgent, highlighter: views.Highlighter = views.NoopHighlighter)(implicit req: RequestHeader, messages: Messages, globalConfig: global.GlobalConfig, md: views.MarkdownRenderer)

@item.data.descriptions.headOption.map { desc =>
    @common.otherNameList(desc.parallelFormsOfName ++ desc.otherFormsOfName, highlighter)
    <div class="search-item-details">
        <ul class="agent-search-details">
            <li><span class="badge badge-historical-agent">@Messages("type.HistoricalAgent")</span></li>
            @item.set.map { set =>
                <li>
                    @views.html.helpers.linkTo(set, attributes = Seq(Symbol("class") -> "alt"))
                </li>
            }
            <li>@Messages("historicalAgent." + desc.entityType.toString)</li>
                @desc.dates.map { dp =>
            <li>@dp.years</li>
            }
            @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">
                <time datetime="@event.data.timestamp">
                    @Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.data.timestamp))
                </time>
            </li>
            }
        </ul>
    </div>
    @desc.details.datesOfExistence.map { d =>
        @Markdown(highlighter.highlight(d))
    }
    @desc.displayText.map(s => views.Helpers.ellipsize(s, 600)).map { d =>
        @Markdown(highlighter.highlight(d))
    }
}.getOrElse {
    <small>@Messages("description.noDescriptions")</small>
}
