@(item: HistoricalAgent, highlighter: views.Highlighter = views.NoopHighlighter)(implicit req: RequestHeader, lang: Lang)

@item.model.descriptions.headOption.map { desc =>
    @common.otherNameListSmall((desc.parallelFormsOfName ++ desc.otherFormsOfName).flatten.toList, highlighter)
    <div class="search-item-details">
        <ul class="agent-search-details">
            <li>@Messages("historicalAgent." + desc.entityType.toString)</li>
                @desc.dates.map { dp =>
            <li>@dp.years</li>
            }
            @item.latestEvent.map { event =>
            <li title="@common.eventTitle(event)">
                <time datetime="@event.model.timestamp">
                    @Messages("systemEvent.lastUpdated", views.Helpers.relativeDate(event.model.timestamp))
                </time>
            </li>
            }
        </ul>
    </div>
    @desc.details.datesOfExistence.map { d =>
        @highlighter.highlight(views.Helpers.renderMarkdown(d))
    }
    @desc.displayText.map(s => views.Helpers.ellipsize(s, 600)).map { d =>
        @highlighter.highlight(views.Helpers.renderMarkdown(d))
    }
}.getOrElse {
    <small>@Messages("description.noDescriptions")</small>
}
