//
// Load Dependencies
// --------------------------------------------------
@import "lib/docview-portal/css/ehri/_variables.scss";
@import "lib/docview-portal/css/ehri/_mixins.scss";
@import "lib/docview-portal/css/bootstrap/_variables.scss";
@import "lib/docview-portal/css/bootstrap/_mixins.scss";

// Guides Stuff
// --------------------------------------------------
@import "guides/variables";
@import "guides/nav";

//
// General
// --------------------------------------------------
body {
  background-color: $ehri-light-grey;
  font-family: $ehri-font;
}

body > .container {
  background-color: $content-color;
}

#wrap {
  margin-bottom: auto;
}

//
// Content
// --------------------------------------------------
#page-title {
  background-color: #360f4f;
}

h1.guide-title {
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  margin-right: 19px;

  & > a {
    color: white;
  }
}

.map-result-list {
  height: 500px;
  overflow: auto;
}

#facets {
  .btn-sm {
    cursor: pointer;
  }

  .popover-accesspoints {
    display: none;
  }

  .facet-type {
    display: none;
  }

  .search-sort {
    float: none;
    margin-bottom: $medium-margin;
  }
}

.popover-accesspoints[data-count="0"] {
  display: none;
}

.facet-form {
  > h1 > .btn-sm {
    margin-top: -4px;
  }

  > ul.facet-search {
    display: none;
  }

  > ul.facet-list {
    display: none;
    overflow-y: scroll;
    max-height: 200px;
    position: relative;
  }

  .facet-scroll {
    height: 1px;
    min-height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;

    &.loading {
      height: auto;
      min-height: 20px;
      visibility: visible;
    }
  }
}

#main {
  article {
    background-color: $content-color;
    padding: $large-padding 0 2 * $large-padding 0;

    header {
      margin-top: 0;
      padding-top: 0;
      margin: 0 -15px 10px -15px;

      h1, h3 {
        padding: 5px;
        margin: 0;
      }

      .breadcrumb {
        li + li:before {
          content: " › ";
        }

        li.active {
          color: white;
        }

        background-color: $ehri-darkest-grey;
        border-radius: 0;

        a, a:hover, a:focus {
          color: #999999;
          text-decoration: none;
        }

        &.documentaryUnit {
          background-color: $ehri-documentary-unit;
          color: white;
        }

        &.repository {
          background-color: $ehri-repository;
          color: white;
        }

        &.virtualCollection {
          background-color: $ehri-virtual-collections;
          color: white;
        }

        &.historicalAgent {
          background-color: $ehri-historical-agent;
          color: white;
        }
      }
    }

    & > section {
      .person-item {
        h2 {
          background-image: url(../images/test-data/default.jpg);
          @include box-sizing(border-box);
          @include border-top-radius(5px);
          background-position: center center;
          height: 80px;
          margin: 0;
          padding: 0;
          text-align: right;
          color: white;
          font-size: 1em;
          font-weight: bold;
          padding-right: 5px;
          padding-bottom: 5px;

          line-height: 145px;
          text-shadow: 0.1em 0.1em 0.2em black;
          display: none;
        }

        .person-desc {
          dl {
            text-align: right;
          }

          display: none;
          font-size: 0.7em;
          color: $ehri-dark-grey;
          padding: 5px;
          text-align: justify;
          border: 1px solid $ehri-dark-grey;
          border-top: none;
          @include border-bottom-radius(5px);

        }

        .preview-closer {
          display: none;
        }

        &.in {
          @include transition(all 2s ease);
          position: relative;

          > h2, .person-desc {
            display: block;
          }

          &:hover .preview-closer {
            display: block;
            float: left;
            padding: 5px;

            .close {
              float: none;
            }
          }
        }
      }
    }

    footer {
      clear: both;
      min-height: 20px;

      text-align: center;

      .pagination {
        background-color: $ehri-darkest-grey;

        li {
          background-color: $ehri-darkest-grey;

          a {
            background-color: $ehri-darkest-grey;
            border: none;
            color: $content-color;

            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .form-noborder {
    border: none;
    @include box-shadow(none);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }

  .list-item {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .item-wrapper {
      margin: 0 0 1em 0;
      padding: 0;
      display: block;
      position: relative;

      a {
        color: $ehri-darkest-grey;

        &[href] {
          color: $ehri-purple;
        }

        &:hover {
          text-decoration: none;
        }
      }

      .item-option {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: -30px;
        height: 30px;
        width: 0;
        overflow: hidden;
        background-color: $ehri-dark-purple;
        color: white;
        line-height: 30px;
        text-align: center;

        @include transition(all 0.5s ease);
      }

      &:hover, &.checked {
        > .item-option {
          width: 30px;
          @include transition(all 0.5s ease);
        }
      }

      .item-title {
        display: block;
        min-height: 30px;
        line-height: 30px;
        font-weight: bolder;
        padding-left: 1em;
        border-left: 5px solid $ehri-dark-purple;

        &.keyword-title {
          cursor: pointer;
          color: inherit;
          text-decoration: none;

          .item-parent {
            color: $ehri-dark-grey;

            &:after {
              content: " › ";
              opacity: 0.7;
            }
          }
        }
      }

      .item-checkbox {
        display: none;
      }

      .item-description {
        display: none;
        font-style: italic;
        padding-left: 1em;
        border-left: 5px solid lighten($ehri-dark-purple, 20%);
        min-height: 0;
        max-height: 0;
        text-align: justify;
        @include transition(all 0.5s ease);

        &.in {
          display: block;
          min-height: 30px;
          max-height: 2000px;
          @include transition(all 0.5s ease);
        }
      }

      //Color code
      &.documentaryUnit {
        .item-title {
          border-color: $ehri-documentary-unit;
        }

        .item-description {
          border-color: lighten($ehri-documentary-unit, 20%);
        }

        .item-option {
          background-color: $ehri-documentary-unit;
          color: white;
        }
      }

      &.repository {
        .item-title {
          border-color: $ehri-repository;
        }

        .item-description {
          border-color: lighten($ehri-repository, 20%);
        }

        .item-option {
          background-color: $ehri-repository;
          color: white;
        }
      }

      &.virtualCollection {
        .item-title {
          border-color: $ehri-virtual-collections;
        }

        .item-description {
          border-color: lighten($ehri-virtual-collections, 20%);
        }

        .item-option {
          background-color: $ehri-virtual-collections;
          color: white;
        }
      }

      &.historicalAgent {
        .item-title {
          border-color: $ehri-historical-agent;
        }

        .item-description {
          border-color: lighten($ehri-historical-agent, 20%);
        }

        .item-option {
          background-color: $ehri-historical-agent;
          color: white;
        }
      }
    }

    .list-item {
      padding-top: 1em;
    }

    &.hierarchy {
      .list-item {
        margin-left: 20px;

        .item-wrapper {
          > .item-title {
            border-left: none !important;
          }

          margin: 0;
        }
      }

      .item-parent {
        display: none;
      }
    }
  }

  #description-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: justify;
    @include transition(all 1s ease);
    overflow: hidden;
  }

  .in > #description-hover {
    height: 100%;
    @include transition(all 1s ease);
    overflow: auto;
    padding: 10px;
  }
}

//
// Top Bar
// --------------------------------------------------
header#top {
  padding-top: 0;
  background-color: $ehri-darkest-grey;

  li {
    border-right: 0 !important;
  }

  form {
    margin-top: 40px;
  }
}

//
// Right Bar
// --------------------------------------------------
#right-bar {

  //
  //	Carousel
  //
  #carousel {
    .carousel-inner {
      border-radius: 5px;
    }

    .left {
      @include border-left-radius(5px);
    }

    .right {
      @include border-right-radius(5px);
    }
  }

  //
  //	Well
  //
  .well {
    border: none;
    background-color: $content-color;
    @include box-shadow(none);

    article {
      header {
        h1 {
          font-size: 30px;
          font-weight: bold;
          font-variant: small-caps;
          margin: 0;
          padding: 0;
        }
      }

      section {
        text-align: justify;
      }
    }

    .nav {

      li > a {
        color: $ehri-darkest-grey;
        font-weight: bold;
        font-variant: small-caps;
        font-size: 12px;

        &:hover {
          background-color: $ehri-light-grey;
          //Nothing to do there
        }
      }
    }
  }

  hr {
    opacity: 0;
  }
}

//
//	Responsive utilities on dropdown / Little screens
//-----
@media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
  //
  //	MENU
  //---------------------
  #top {
    padding-top: 5px;
    padding-bottom: 5px;

    &:after, &:before {
      @include clearfix();
      display: table;
      content: " ";
      clear: both;
    }

    .dropdown-toggle {
      display: none !important;
      clear: both;
    }

    .dropdown-menu {
      position: static;
      z-index: auto;
      display: block;
      float: none;
      border: none;
      @include box-shadow(none);

      > li {
        display: block;
        width: 100%;

        > a {
          display: block;
          width: 100%;
          cursor: pointer;
        }
      }

    }
  }

  //
  //	Content
  //---------------------
  #main {
    article header {
      margin: 0 0 10px 0;
    }

    .btn-group.pull-right, .form-group.pull-right {
      float: none !important;
    }

    #slider-range {
      display: none;
    }

    .form-noborder {
      border: 1px solid $ehri-input-border-color;
    }

    .min-show:before, .max-show:before {
      content: attr(placeholder) " ";
      color: $ehri-input-border-color;
      background-color: $ehri-input-border-color;
      margin-right: 5px;
      display: block;
    }

    .list-item {
      .item-wrapper {
        .item-title {
          padding-left: 40px;
        }

        .item-option {
          width: 30px;
          left: 0;
        }
      }
    }
  }
}
