@(form: Form[Feedback])(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages)

@import Feedback.{NAME,EMAIL}
    @import forms.HoneyPotForm.BLANK_CHECK
    @import forms.TimeCheckForm.TIMESTAMP

<div class="feedback-thanks">
    <h4>@Messages("feedback.thanks")</h4>
    @Messages("feedback.thanks.message")
</div>

@helper.form(action = controllers.portal.routes.Feedback.feedbackPost(), attrs._class -> "feedback-form") {
    <fieldset>
        @formHelpers.csrfToken()
        @if(userOpt.isEmpty) {
            <div class="form-field">
                <label for="feedback_name" class="sr-only">@Messages(NAME)</label>
                <input id="feedback_name" type="text" class="form-control" name="@NAME" placeholder="@Messages(NAME) (@Messages("optional"))" />
            </div>
            <div class="form-field">
                <label for="feedback_email" class="sr-only">@Messages(EMAIL)</label>
                <input id="feedback_email" type="email" class="form-control" name="@EMAIL" placeholder="@Messages(EMAIL) (@Messages("optional"))" />
            </div>
        }

        <div class="form-field">
            <label for="feedback_text" class="sr-only">@Messages("feedback.message")</label>
            <textarea id="feedback_text" rows="4" class="form-control" name="text" placeholder="@Messages("feedback.message") " required=""></textarea>
        </div>

        <div class="blank-check" style="display: none">
            <input tabindex="-1" type="hidden" name="@TIMESTAMP" value="@java.time.ZonedDateTime.now().toString" />
            <input tabindex="-1" type="text" name="@BLANK_CHECK" title="[Leave this blank]" autocomplete="off" value="" />
        </div>
    </fieldset>
    <div class="feedback-form-footer">
        <a tabindex="-1" class="btn feedback-cancel" data-toggle="dropdown" href="@controllers.portal.routes.Portal.index()">@Messages("cancel")</a>
        <button type="submit" class="btn btn-success feedback-submit">@Messages("feedback.submit")</button>
    </div>
}
