@(feedback: utils.Page[Feedback])(implicit userOpt: Option[UserProfile], prefs: SessionPrefs, request: RequestHeader, messages: Messages, flash: Flash, conf: AppConfig)

@views.html.layout.portalLayout(Messages("feedback.list")) {
    @views.html.common.mainContent {
        @views.html.common.itemHeader(Messages("feedback.list"))
        <table class="feedback-list">
            <tr>
                <th>User ID</th>
                <th>Submitted</th>
                <th>Instance</th>
                <th>Text</th>
                @if(userOpt.exists(_.isAdmin)) {
                    <th></th>
                }
            </tr>
            @feedback.map { f =>
                <tr>
                    <td>
                        @f.userId.map { id =>
                            <a href="@controllers.portal.social.routes.Social.userProfile(id)">@f.name.getOrElse(id)</a>
                        }.getOrElse {
                            @f.name.getOrElse("Anonymous")
                        }
                    </td>
                    <td>@f.createdAt.map(views.Helpers.relativeDate)</td>
                    <td>@f.mode.getOrElse("")</td>
                    <td>@f.text.getOrElse("")</td>
                    @for(id <- f.objectId; user <- userOpt if user.isAdmin) {
                        <td>
                            <a class="ajax-action" title="@Messages("feedback.delete.submit")?" href="@controllers.portal.routes.Feedback.deletePost(id)">
                                @Messages("feedback.delete")
                            </a>
                        </td>
                    }
                </tr>
            }
        </table>
        @views.html.common.pagination(feedback)
    }
}
