@(feedback: utils.Page[Feedback])(implicit userOpt: Option[UserProfile], prefs: utils.SessionPrefs, request: RequestHeader, messages: Messages, flash: Flash, globalConfig: global.GlobalConfig)

@views.html.layout.portalLayout(Messages("feedback.list")) {
    @views.html.layout.mainContent {
        <h2>@Messages("feedback.list")</h2>
        <table class="table-bordered table-hover table-condensed table-striped" width="100%">
            <tr>
                <th>User ID</th>
                <th>Submitted</th>
                <th>Instance</th>
                <th>Text</th>
            </tr>
            @feedback.map { f =>
                <tr>
                    <td>
                        @f.userId.map { id =>
                            <a href="@controllers.portal.social.routes.Social.userProfile(id)">@f.name.getOrElse(id)</a>
                        }.getOrElse {
                            @f.name.getOrElse("Anonymous")
                        }
                    </td>
                    <td>@f.createdAt.map(views.Helpers.relativeDate)</td>
                    <td>@f.mode.getOrElse("")</td>
                    <td>@f.text.getOrElse("")</td>
                </tr>
            }
        </table>
        @views.html.common.pagination(feedback)
    }
}