@(form: Form[Feedback])(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages)

<a class="feedback-handle" role="button" aria-expanded="false" href="@controllers.portal.routes.Feedback.feedback()">
    @Messages("feedback")
    <span class="caret"></span>
</a>
<div class="feedback">
    <div class="feedback-thanks">
        <h4>@Messages("feedback.thanks")</h4>
        @Messages("feedback.thanks.message")
    </div>

    @views.html.feedback.form(models.Feedback.form)
</div>
