@(group: Group, item: Accessor, action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, menuConfig: MenuConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@rightSidebarLayout(Messages("actions.addUserToGroup", item, group)) {
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("Submit")</button>
        </div>
	}		
} {

}
