@(item: Group, f: play.api.data.Form[models.GroupF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@import models.GroupF

@layout.rightSidebar(Messages("actions.updateGroup"), breadcrumbs = common.breadcrumbs(List(item))) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @formHelpers.csrfToken()
        @group.renderForm(Some(item), f)

        @common.submitButtonWithLogMessageInput(Messages("submitButton.updateGroup"), cancel = Some(globalConfig.routeRegistry.urlFor(item)))
	}
} {

}
