@(item: Group, page: backend.Page[Accessor], params: utils.PageParams, annotations: Seq[Annotation])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(item.toStringLang, breadcrumbs = common.breadcrumbs(List(item))) {

    @defining("group") { implicit prefix =>
        @common.stringValue(item.model.description, models.GroupF.DESCRIPTION)
    }

    @if(!item.groups.isEmpty) {
        <hr />
        <strong>Parent Groups: </strong>&nbsp;
        @item.groups.map { group =>
            <a href="@controllers.core.routes.Groups.get(group.id)">@group</a>
        }
    }

    @common.filterableList("group.membersPageHeader", page, params) {
        <ul>
            @page.items.map {
                case u: UserProfile => {
                    @userProfile.listItem(u)
                }
                case g: Group => {
                    @group.listItem(g)
                }
            }
        </ul>
    }
} {
    @common.latestAction(item, controllers.core.routes.Groups.history(item.id))

    @common.sidebarActions { user =>
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Create)) {
            <a href="@controllers.core.routes.Groups.create">@Messages("actions.createNewGroup")</a></li>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Update)) {
            <a href="@controllers.core.routes.Groups.update(item.id)">@Messages("actions.updateItem")</a></li>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.core.routes.Groups.permissions(item.id)">@Messages("actions.manageGlobalPermissions")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.core.routes.Groups.grantList(item.id)">@Messages("actions.listPermissionGrants")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
            <a href="@controllers.core.routes.Groups.membership(item.isA, item.id)">@Messages("actions.modifyGroups")</a>
        }
        @common.sidebarAction(user.hasPermission(ContentTypes.Group, PermissionType.Delete)) {
            <a href="@controllers.core.routes.Groups.delete(item.id)">@Messages("actions.deleteItem")</a>
        }
        @common.sidebarAction() {
            <a href="@controllers.core.routes.Groups.history(item.id)">@Messages("actions.showHistory")</a>
        }
    }
}