@(item: Group, page: rest.Page[Accessor], params: utils.PageParams, annotations: Map[String,List[Annotation]])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash)

@layout.rightSidebar(item.toStringLang, breadcrumbs = common.breadcrumbs(List(item))) {

    @defining("group") { implicit prefix =>
        @common.stringValue(item.model.description, models.GroupF.DESCRIPTION)
    }

    @if(!item.groups.isEmpty) {
        <hr />
        <strong>Parent Groups: </strong>&nbsp;
        @item.groups.map { group =>
            <a href="@controllers.core.routes.Groups.get(group.id)">@group</a>
        }
    }

    @common.filterableList("group.membersPageHeader", page, params) {
        <ul>
            @page.items.map {
                case u: UserProfile => {
                    @userProfile.listItem(u)
                }
                case g: Group => {
                    @group.listItem(g)
                }
            }
        </ul>
    }
} {
    @common.latestAction(item, controllers.core.routes.Groups.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
        @userOpt.map { user =>
            @if(user.hasPermission(ContentTypes.Group, PermissionType.Create)) {
                <li><a href="@controllers.core.routes.Groups.create">@Messages("actions.createNewGroup")</a></li>
            }
            @if(user.hasPermission(ContentTypes.Group, PermissionType.Update)) {
                <li><a href="@controllers.core.routes.Groups.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
                <li><a href="@controllers.core.routes.Groups.permissions(item.id)">@Messages("actions.manageGlobalPermissions")</a></li>
                  <li><a href="@controllers.core.routes.Groups.grantList(item.id)">@Messages("actions.listPermissionGrants")</a></li>
            }
            @if(user.hasPermission(ContentTypes.Group, PermissionType.Grant)) {
                <li><a href="@controllers.core.routes.Groups.membership(item.isA.toString, item.id)">@Messages("actions.modifyGroups")</a></li>
            }
            @if(user.hasPermission(ContentTypes.Group, PermissionType.Delete)) {
                <li><a href="@controllers.core.routes.Groups.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            <li><a href="@controllers.core.routes.Groups.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}