@(events: Seq[SystemEvent], params: utils.ListParams, more: Boolean)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

<div class="activity-stream-wrapper">
    @if(!events.isEmpty) {
    <div class="timeline-container">
        <ul id="activity-stream" class="timeline">
            @eventItems(events)
        </ul>
    </div>
    @if(more) {
    <button data-limit="@params.limit" data-offset="@(params.offset + params.limit)"
            id="activity-stream-fetchmore" class="btn btn-default btn-block">
        @Messages("portal.activity.fetchMore")
    </button>
    }
    } else {
    <p class="text-muted">
        @Messages("portal.activity.noActivityYet")
    </p>
    }
</div>