@(page: utils.RangePage[SystemEvent])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang)

@import backend.rest.Constants.OFFSET_PARAM

<div class="activity-stream-wrapper">
    @if(!page.isEmpty) {
        <div class="timeline-container">
            <ul id="activity-stream" class="timeline timeline-user">
                @eventItems(page)
            </ul>
        </div>
        @if(page.more) {
            <a id="activity-stream-fetchmore" class="btn btn-default btn-block"
               data-limit="@page.limit" data-offset="@(page.offset + page.limit)"
               href="@utils.joinPath(req.path, req.queryString.updated(OFFSET_PARAM, Seq((page.offset + page.limit).toString)))">
                @Messages("portal.activity.fetchMore")
            </a>

        }
    } else {
        <p class="text-muted">
            @Messages("portal.activity.noActivityYet")
        </p>
    }
</div>