@(events: Seq[SystemEvent], params: utils.ListParams, more: Boolean)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)


@p.layout.portalLayout(Messages("portal.activity"), "user") {
    @p.layout.infobar {
    } {
    }

    @views.html.layout.mainContent {
        <h1>@Messages("portal.activity.latestActivity")</h1>
        <div class="row">
            <div class="col-md-12">
                @activityStream(events, params, more)
            </div>
        </div>
    }
}
