@(result: utils.Page[SystemEvent], params: utils.RangeParams)(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig, prefs: utils.SessionPrefs, flash: Flash)

@p.layout.portalLayout(Messages("portal.activity"), "user") {
    @views.html.layout.mainContent {
        @p.common.itemHeader(Messages("portal.activity.latestActivity")) {
        }
        <ul class="list-unstyled modal-body">
            @p.common.eventItems(result.items)
        </ul>
    }
}