@(g: Guide, f: Form[models.GuidePage], pages: List[GuidePage], guides: List[Guide], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@breadcrumbs = {
    <li><a href="@controllers.guides.routes.Guides.list()">@Messages("guide.heading")</a></li>
    <li><a class="active" href="@controllers.guides.routes.Guides.show(g.path)">@g.name</a></li>
}

@views.html.admin.layout.guidesAdminLayout(Messages("guidePage.create"), guides, Some(g -> pages), breadcrumbs) {
	@helper.form(action = action) {
    	@common.errorFlash(flash)

        @formHelpers.csrfToken()
    	@renderForm(None, f)

        @formHelpers.submitButton(Messages("guidePage.create.submit"))
	}
}
