@(g: Guide, page: GuidePage, guides: List[Guide], pages: List[GuidePage], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@breadcrumbs = {
    <li><a href="@controllers.guides.routes.Guides.list()">@Messages("guide.heading")</a></li>
    <li><a class="active" href="@controllers.guides.routes.Guides.show(g.path)">@g.name</a></li>
    <li><a class="active" href="@controllers.guides.routes.GuidePages.edit(g.path, page.path)">@page.name</a></li>
}

@views.html.admin.layout.guidesAdminLayout(Messages("guidePage.delete.item", page.name), guides, Some(g -> pages), breadcrumbs) {
	@helper.form(action = action) {
        @formHelpers.csrfToken()

        @views.html.common.errorFlash(flash)
        <p class="alert alert-danger">
            @Messages("guidePage.delete.check")
        </p>

        @formHelpers.submitButton(Messages("guidePage.delete.submit"))
	}
}
