@(item: Option[GuidePage], f: Form[GuidePage])(implicit messages: Messages, md: MarkdownRenderer)

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@defining(GuidePage.PREFIX) { implicit fieldPrefix =>
    @formHelpers.lineInput(f(""), GuidePage.NAME)
    @formHelpers.lineInput(f(""), GuidePage.PATH)
   	@formHelpers.choiceInput(f(""), GuidePage.POSITION, GuidePage.MenuPosition.values.toList.map(row => {
   		row.toString -> Messages(fieldPrefix + "." + row)
	}))

   	@formHelpers.choiceInput(f(""), GuidePage.LAYOUT, GuidePage.Layout.values.toList.map(row => {
   		row.toString -> Messages(fieldPrefix + "." + row)
	}))
    @formHelpers.textInput(f(""), GuidePage.CONTENT)
    @formHelpers.textInput(f(""), GuidePage.DESCRIPTION)
    @formHelpers.textInput(f(""), GuidePage.PARAMS)
    @formHelpers.hiddenInput(f("parent"))
}
