@(item: DocumentaryUnit)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, descriptionId: Option[String] = None)

@import org.apache.commons.lang3.StringUtils

@common.searchItemOutline(item.id) {
    @* include an anchor to the selected description *@
    @defining(descriptionId.map(did => "#desc-" + did).getOrElse("")) { anchor =>
        <a href="@{controllers.portal.routes.Portal.browseDocument(item.id) + anchor}">@item.toStringLang</a>
    }
} {
    @item.model.primaryDescription(descriptionId).map { desc =>

        @if(!item.ancestors.isEmpty) {
        <small>
            <ul class="list-unstyled text-muted list-inline inline-separator">
                @item.ancestors.reverse.map { parent =>
                <li>
                    <a href="@controllers.archdesc.routes.DocumentaryUnits.get(parent.id)">@views.Helpers.ellipsize(parent.toStringLang,100)</a>
                </li>
                }
            </ul>
        </small>
        }
        <small>
            <ul class="list-unstyled text-muted list-inline inline-separator">
                @item.holder.map { holder =>
                <li><a class="alt" href="@controllers.portal.routes.Portal.browseRepository(holder.id)">@holder.toStringAbbr</a></li>
                }
                <li><span class="text-muted">@views.Helpers.displayLanguage(desc.languageCode)</span></li>

                @desc.dates.headOption.map { dp =>
                <li>@dp.years</li>
                }
                @desc.extentAndMedium.map { s =>
                <li>@s</li>
                }
                @item.latestEvent.map { event =>
                <li title="@common.eventTitle(event)">
                    <time datetime="@event.model.timestamp">@Messages("systemEvents.lastUpdated", views.Helpers.prettyDate(event.model.timestamp))</time>
                </li>
                }
            </ul>
        </small>

        @desc.displayText.map(StringUtils.abbreviate(_, 600)).map { sc =>
            <p>@sc</p>
        }
    }.getOrElse {
        <small>@Messages("describedEntity.noDescriptions")</small>
    }
}
