@(item: DocumentaryUnit, desc: DocumentaryUnitDescriptionF, links: List[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang)

@dlEntry(s: Option[String], key: String)(implicit fieldPrefix: String) = {
    @s.map { v =>
        <dt>@Messages(fieldPrefix + "." + key)</dt>
        <dd>@v</dd>
    }
}


<div class="row">
    <div class="container">
        @defining(IsadG.FIELD_PREFIX) { implicit fieldPrefix =>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 container">
                    @item.holder.map { repo =>
                    <p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>@Messages("portal.item.details")</strong>
                        </div>
                        <div class="panel-body">
                            <strong><a href="@controllers.portal.routes.Portal.browseRepository(repo.id)">@repo.toStringLang</a></strong>
                            @repo.model.descriptions.flatMap(_.addresses).headOption.map { address =>
                                @views.html.portal.repository.renderAddress(repo, address)
                            }
                            <hr />

                            <dl class="dl-horizontal">
                                @desc.dates.headOption.map { dp =>
                                    <dt>@Messages(fieldPrefix + "." + IsadG.DATES)</dt>
                                    <dd id="@dp.id">@dp.years.trim</dd>
                                }
                                @dlEntry(desc.levelOfDescription, IsadG.LEVEL_OF_DESCRIPTION)
                                @dlEntry(desc.extentAndMedium, IsadG.EXTENT_MEDIUM)

                                @desc.conditions.languageOfMaterials.map { lopt =>
                                    @if(!lopt.isEmpty) {
                                        <dt>@Messages(fieldPrefix + "." + IsadG.LANG_MATERIALS)</dt>
                                        <dd>
                                            <ul class="list-unstyled comma-sep">
                                                @lopt.map { l =>
                                                    <li>@views.Helpers.languageCodeToName(l)</li>
                                                }
                                            </ul>
                                        </dd>
                                    }
                                }

                                @desc.conditions.scriptOfMaterials.map { lopt =>
                                    @if(!lopt.isEmpty) {
                                        <dt>@Messages(fieldPrefix + "." + IsadG.SCRIPT_MATERIALS)</dt>
                                        <dd>
                                            <ul class="list-unstyled comma-sep">
                                                @lopt.map { l =>
                                                    <li>@views.Helpers.scriptCodeToName(l)</li>
                                                }
                                            </ul>
                                        </dd>
                                    }
                                }

                            </dl>

                        </div>
                    </div>
                    </p>
                    }
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                        @renderDescription(item, desc, links)

                    @link.externalLinks(item, links)
                    @link.annotationLinks(item, links)
                </div>
            </div>
        }
    </div>
</div>
