@(result: services.search.SearchResult[(Model, services.search.SearchHit)], itemClass: String = "")(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@import services.data.Constants.PAGE_PARAM

<div class="child-items-inline">
    <ol class="inline-load-list">
    @result.page.map { case (child, hit) =>
        <li class="@itemClass">
            @child match {
                case r: Repository => {
                    @views.html.admin.repository.inlineListItem(r, hit)
                }
                case d: DocumentaryUnit => {
                        @views.html.admin.documentaryUnit.inlineListItem(d, hit)
                }
                case d: VirtualUnit => {
                    @views.html.admin.virtualUnit.inlineListItem(d, hit)
                }
                case d: HistoricalAgent => {
                    @views.html.admin.historicalAgent.inlineListItem(d, hit)
                }
                case d: Concept => {
                    @views.html.admin.concept.inlineListItem(d, hit)
                }
                case _ => {
                    <h5>@views.html.admin.helpers.linkTo(child)</h5>
                }
            }
        </li>
    }
    </ol>

    @if(result.page.hasMore) {
        <a class="inline-load-more btn-progress"
            data-limit="@result.page.limit" data-page="@(result.page.page + 1)"
            href="@utils.http.joinPath(req.path, req.queryString.view.filterKeys(_ != "modal").toMap
                    .updated(PAGE_PARAM, Seq((result.page.page + 1).toString)))">
            <span class="load-prompt">@Messages("activity.fetchMore")</span>
            <span class="loading-indicator spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        </a>
    }
</div>
