@(result: services.search.SearchResult[(Model, services.search.SearchHit)])(priorContent: Model => Html = _ => Html(""))(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

<ol class="search-result-list">
    @result.page.map { case(item, hit) =>
        <li>
        @defining(result.params.query.map(_ => hit.id)) { implicit descriptionId =>
            @views.html.admin.search.searchItem(item)
            @priorContent(item)
        }
        </li>
    }
</ol>
