@(form: Form[(Boolean,Boolean,List[EntityType.Value])], types: Seq[EntityType.Value], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages)

@import defines.EntityType

@extraStyle = {
    <style>
        #update-progress {
            max-height: 200px;
            overflow: auto;
        }
        #update-progress pre {
            background-color: #fff;
            font-size: 0.7em;
        }
    </style>
}

@extraScript = {
    <script type="application/javascript">
        var POLL_URL = "@action.url";
        var DONE_MSG = "<message>@controllers.generic.Indexable.DONE_MESSAGE</message>";
        var ERR_MSG = "<message>@controllers.generic.Indexable.ERR_MESSAGE</message>";
    </script>
    <script src="@controllers.admin.routes.AdminAssets.versioned("js/index_utils.js")" type="text/javascript"></script>
}

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("search.index.update"), scripts=extraScript, styles = extraStyle) {
    @helper.form(action = action, 'id -> "update-form", 'class -> "form-horizontal") {
        @formHelpers.csrfToken()
        
        @helper.checkbox(form("clearAll"), '_label -> Messages("search.index.clear.all"))
        @helper.checkbox(form("clearTypes"), '_label -> Messages("search.index.clear.types"))

        <div class="form-group">
            <label class="control-label">@Messages("search.index.types")</label>
            <div class="control-elements">
                <label class="checkbox"><input type="checkbox" id="select-all" /> @Messages("search.index.types.selectAll")</label>
                <hr />
                @types.map { et =>
                    <label class="checkbox">
                        <input type="checkbox" name="type[]" value="@et" />
                        @Messages("contentTypes." + et.toString)
                    </label>
                }
            </div>
        </div>
        <div class="form-actions">
            <div class="form-group">
                <input type="submit" id="submit-update" class="btn btn-danger progress-button" value="@Messages("search.index.update")" />
            </div>
        </div>

        <div id="update-progress">
        </div>
    }
} {

}
