@(item: AnyModel, action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages, token: play.filters.csrf.CSRF.Token)

@import defines.EntityType

@extraStyle = {
    <style>
        #update-progress {
            max-height: 200px;
            overflow: auto;
        }
        #update-progress pre {
            background-color: #fff;
            font-size: 0.7em;
        }
    </style>
}

@extraScript = {

    <script type="application/javascript">
        var POLL_URL = "@action.url";
        var DONE_MSG = "<message>@controllers.generic.Indexable.DONE_MESSAGE</message>";
        var ERR_MSG = "<message>@controllers.generic.Indexable.ERR_MESSAGE</message>";
    </script>
    <script src="@controllers.portal.routes.PortalAssets.at("/public/lib/docview-portal", "js/index_utils.js")" type="text/javascript"></script>
}

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("search.index.update.for", item.toStringLang), scripts=extraScript, styles = extraStyle, breadcrumbs = views.html.admin.common.breadcrumbs(List(item))) {
    @helper.form(action = action, 'id -> "update-form", 'class -> "form-horizontal") {
        @formHelpers.csrfToken()

        <div class="form-actions">
            <input type="submit" id="submit-update" class="btn btn-danger" value="@Messages("search.index.update")" />
        </div>

        <div id="update-progress">
        </div>
    }
} {

}
