@(form: Form[(Boolean,Boolean,List[defines.EntityType.Value])], types: Seq[defines.EntityType.Value], action: Call, breadcrumbs: Html = Html(""))(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, prefs: SessionPrefs, flash: Flash)

@import controllers.admin.IndexTypes._


@extraScripts = {
    <script>
            var SOCKET_URI = "@action.webSocketURL(conf.https)";
            var DONE_MSG = "@utils.WebsocketConstants.DONE_MESSAGE";
            var ERR_MSG = "@utils.WebsocketConstants.ERR_MESSAGE";
            function getData() {
                return JSON.stringify({
                    @CLEAR_ALL: $("[name=@(CLEAR_ALL)]").prop("checked"),
                    @CLEAR_TYPES: $("[name=@(CLEAR_TYPES)]").prop("checked"),
                    @TYPES: $("[name='@(TYPES)[]']:checked").map(function() { return this.value;}).get()
                });
            }
    </script>
    <script src="@controllers.admin.routes.AdminAssets.versioned("js/index_utils.js")"></script>
}

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("search.index.update"), scripts = extraScripts, breadcrumbs = breadcrumbs) {
    @helper.form(action = action, 'id -> "update-form") {
        @helper.checkbox(form(CLEAR_ALL), '_label -> Messages("search.index.clear.all"))
        @helper.checkbox(form(CLEAR_TYPES), '_label -> Messages("search.index.clear.types"))

        <div class="form-group">
            <label class="control-label">@Messages("search.index.types")</label>
            <div class="control-elements">
                <label class="checkbox"><input type="checkbox" id="select-all" /> @Messages("search.index.types.selectAll")</label>
                <hr />
                @types.map { et =>
                    <div class="content-type">
                        <label class="checkbox">
                            <input type="checkbox" name="@(TYPES)[]" value="@et" />
                            @Messages("contentTypes." + et.toString)
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" id="submit-update" class="btn btn-danger btn-progress">
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                @Messages("search.index.update")
            </button>
        </div>

        <div id="update-progress"></div>
    }
} {

}
