@(item: models.base.Model, field: String, action: Call, breadcrumbs: Html = Html(""))(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@import controllers.admin.IndexChildren._

@extraScript = {
    <script type="application/javascript">
            var SOCKET_URI = "@action.webSocketURL(conf.https)";
            var DONE_MSG = "@utils.WebsocketConstants.DONE_MESSAGE";
            var ERR_MSG = "@utils.WebsocketConstants.ERR_MESSAGE";
            function getData() {
                return JSON.stringify({
                    @ID: "@item.id",
                    @TYPE: "@item.isA",
                    @FIELD: "@field"
                });
            }
    </script>
    <script src="@controllers.admin.routes.AdminAssets.versioned("js/index_utils.js")" type="text/javascript"></script>
}

@implicitField = @{ views.html.helper.FieldConstructor(formHelpers.fieldTemplate.f) }

@views.html.admin.layout.rightSidebar(Messages("search.index.update.for", item.toStringLang), scripts=extraScript, breadcrumbs = breadcrumbs) {
    @helper.form(action = action, 'id -> "update-form") {
        @formHelpers.csrfToken()

        <div class="form-actions">
            <button type="submit" id="submit-update" class="btn btn-danger btn-progress">
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                @Messages("search.index.update")
            </button>
        </div>

        <div id="update-progress"></div>
    }
} {

}
