@(form: Form[AccountPreferences], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages,fieldConstructor: helper.FieldConstructor)

@helper.form(action = action, 'role -> "form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(form)

    @helper.checkbox(
        form("allowMessaging"),
        'type -> "checkbox",
        '_label -> Messages("profile.preferences.allowMessaging"),
        'title -> Messages("profile.preferences.allowMessaging.description"),
        '_showConstraints -> false
    )

<div class="form-field">
    <div class="form-submit">
        <button type="submit" class="btn btn-warning">@Messages("profile.preferences.updatePreferences")</button>
    </div>
</div>

}
