@(account: Account, form: Form[(String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, flash: Flash, messages: Messages, sessionPrefs: SessionPrefs)

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateSignUp.f) }

@views.html.layout.portalLayout(Messages("login.email.change")) {
    @views.html.common.mainContent {
        @views.html.common.itemDetails {
            @views.html.common.rightSidebar {
                @views.html.common.itemHeader(Messages("login.email.change"))
                @if(userOpt.exists(_.account.exists(_.hasPassword))) {
                    @views.html.account.changeEmailForm(form, action)
                } else {
                    <p class="alert alert-info">
                    @Messages("login.email.emailIsOAuth")
                    </p>
                }
            } {
                @userOpt.map { user =>
                    @views.html.userProfile.currentUserSidebar(user)
                }
            }
        }
    }
}

