@(form: Form[(String,String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages,fieldConstructor: helper.FieldConstructor)

@helper.form(action = action, 'class -> "login-form signup-form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(form)

    @helper.inputPassword(form("current"), 'type -> "password", 'placeholder -> Messages("login.password.current"))
    @helper.inputPassword(form("password"), 'type -> "password", 'placeholder -> Messages("login.password.new"))
    @helper.inputPassword(form("confirm"), 'type -> "password", 'placeholder -> Messages("login.password.new.confirm"))

    <div class="form-field">
        <input type="submit" class="login-button btn btn-warning" value="@Messages("login.password.change.submit")" />
    </div>
}
