@(form: Form[(String,String,String)], action: Call)(passwordFeedback: Html = Html(""))(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, flash: Flash, messages: Messages,fieldConstructor: helper.FieldConstructor)

@helper.form(action = action, attrs._class -> "login-form signup-form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(form)

    @helper.inputPassword(
        form("current"),
        attrs._type -> "password",
        attrs._required -> true,
        attrs._placeholder -> Messages("login.password.current")
    )
    @helper.inputPassword(
        form("password"),
        attrs._type -> "password",
        attrs._required -> true,
        attrs._placeholder -> Messages("login.password.new"),
        attrs._minlength -> conf.minPasswordLength,
    )
    @helper.inputPassword(
        form("confirm"),
        attrs._type -> "password",
        attrs._required -> true,
        attrs._placeholder -> Messages("login.password.new.confirm"),
        attrs._minlength -> conf.minPasswordLength,
        attrs._oninput -> attrs.passwordCustomValidity()
    )

    @passwordFeedback

    <div class="form-field">
        <input type="submit" class="btn btn btn-warning" value="@Messages("login.password.change.submit")">
        <a class="btn btn-cancel" href="@controllers.portal.users.routes.UserProfiles.updateProfile()">@Messages("cancel")</a>
    </div>
}
