@(form: Form[(String,String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, flash: Flash, messages: Messages,fieldConstructor: helper.FieldConstructor)

@helper.form(action = action, attrs._class -> "login-form signup-form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(form)

    @helper.inputPassword(
        form("current"),
        attrs._type -> "password",
        attrs._placeholder -> Messages("login.password.current")
    )
    @helper.inputPassword(
        form("password"),
        attrs._type -> "password",
        attrs._placeholder -> Messages("login.password.new")
    )
    @helper.inputPassword(
        form("confirm"),
        attrs._type -> "password",
        attrs._placeholder -> Messages("login.password.new.confirm")
    )

    <div class="form-field">
        <input type="submit" class="btn btn btn-warning" value="@Messages("login.password.change.submit")" />
        <a class="btn btn-cancel" href="@controllers.portal.users.routes.UserProfiles.updateProfile()">@Messages("cancel")</a>
    </div>
}
