@(form: Form[String], recaptchaKey: String, action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages,prefs: utils.SessionPrefs)

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateSignUp.f) }

@views.html.layout.loginLayout(Messages("login.password.reset")) {
    @views.html.common.itemHeader(Messages("login.password.reset"))
    <p>@Messages("login.password.reset.text")</p>
    @helper.form(action = action, 'class -> "form signup-form login-form") {
        @formHelpers.csrfToken()
        @formHelpers.globalErrors(form)
        @common.recaptcha(recaptchaKey)
        @helper.inputText(form("email"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.email"), 'type -> "email")

        <div class="form-field">
            <input type="submit" class="login-button btn btn-post" value="@Messages("login.password.reset.submit")" />
        </div>
    }
}

