@(pwForm: Form[(String,String)])(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages, fieldConstructor: helper.FieldConstructor)

@helper.form(action = controllers.portal.account.routes.Accounts.passwordLoginPost(), 'class -> "login-form form validate-form", 'role -> "form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(pwForm)

    @helper.inputText(pwForm("email"), 'id -> "signup_email", 'class -> "form-control", 'autocomplete -> "email", 'autofocus -> "autofocus", 'placeholder -> Messages("login.email"), 'type -> "email", 'required -> true)
    @helper.inputPassword(pwForm("password"), 'id -> "login_password", 'class -> "form-control", 'autocomplete -> "current-password", 'placeholder -> Messages("login.password"), 'required -> true)

    <p>
        <a class="forgot-password-link" href="@controllers.portal.account.routes.Accounts.forgotPassword()">@Messages("login.recover.link")</a>
    </p>

    <div class="form-field">
        <p class="login-disclaimer">@Html(Messages(
            "login.dataPolicyNag",
            Html(s"<a target='_blank' tabindex='-1' href='${controllers.portal.routes.Portal.dataPolicy()}'>${Messages("dataPolicy").toLowerCase(messages.lang.toLocale)}</a>"),
            Html(s"<a target='_blank' tabindex='-1' href='${controllers.portal.routes.Portal.terms()}'>${Messages("termsAndConditions").toLowerCase(messages.lang.toLocale)}</a>")
        ))</p>

        <input type="submit" class="login-button btn btn-post" value="@Messages("login.password.submit")" />
    </div>
}
