@(pwForm: Form[(String,String)])(implicit request: RequestHeader, conf: AppConfig, flash: Flash, messages: Messages, fieldConstructor: helper.FieldConstructor)

@helper.form(action = controllers.portal.account.routes.Accounts.passwordLoginPost(), attrs._class -> "login-form form validate-form", attrs._role -> "form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(pwForm)

    @helper.inputText(
        pwForm("email"),
        attrs._id -> "login_email",
        attrs._class -> "form-control form-control-lg",
        attrs._autocomplete -> "email",
        attrs._autofocus -> "autofocus",
        attrs._placeholder -> Messages("login.email"),
        attrs._label -> Messages("login.email"),
        attrs._type -> "email",
        attrs._required -> true
    )
    @helper.inputPassword(
        pwForm("password"),
        attrs._id -> "login_password",
        attrs._class -> "form-control form-control-lg",
        attrs._autocomplete -> "current-password",
        attrs._placeholder -> Messages("login.password"),
        attrs._label -> Messages("login.password"),
        attrs._required -> true
    )

    <p>
        <a class="forgot-password-link" href="@controllers.portal.account.routes.Accounts.forgotPassword()">@Messages("login.recover.link")</a>
    </p>

    <div class="form-field">
        <p class="login-disclaimer">@Html(Messages(
            "login.dataPolicyNag",
            Html(s"<a target='_blank' tabindex='-1' href='${controllers.portal.routes.Portal.dataPolicy()}'>${Messages("dataPolicy").toLowerCase(messages.lang.toLocale)}</a>"),
            Html(s"<a target='_blank' tabindex='-1' href='${controllers.portal.routes.Portal.terms()}'>${Messages("termsAndConditions").toLowerCase(messages.lang.toLocale)}</a>")
        ))</p>

        <input type="submit" class="login-button btn btn-lg btn-post" value="@Messages("login.password.submit")" />
    </div>
}
