@(pwForm: Form[(String,String)], registerForm: Form[SignupData], registerAction: Call, recaptchaKey: String, openIdForm: Form[String], oauthConfig: auth.oauth2.OAuth2Config, isLogin: Boolean = true)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages,prefs: utils.SessionPrefs)

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateSignUp.f) }

@extraScripts = {
    <script>
        jQuery(function($) {
            // Openid
            $(".show-more").on("click", function(e) {
                e.preventDefault();
                $(".more-login-options").slideToggle();
            })
        });
    </script>
}

@views.html.layout.loginLayout(Messages("login.title"), scripts = extraScripts) {
    @views.html.common.itemHeader(Messages("login")) {
        <p>@Messages("login.benefits")</p>
        <ol>
            <li>@Messages("login.benefits.1")</li>
            <li>@Messages("login.benefits.2")</li>
            <li>@Messages("login.benefits.3")</li>
        </ol>
    }

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="@{if(isLogin) "active"}">
                <a href="#login" aria-controls="login" role="tab" data-toggle="tab">@Messages("login")</a>
            </li>
            <li role="presentation" class="@{if(!isLogin) "active"}">
                <a href="#register" aria-controls="signup" role="tab" data-toggle="tab">@Messages("login.signup")</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane @{if(isLogin) "active"}" id="login">
                @oauth2Form("login.loginWith", openIdForm, oauthConfig, isLogin)
                @loginForm(pwForm)
            </div>
            <div role="tabpanel" class="tab-pane @{if(!isLogin) "active"}" id="register">
                @oauth2Form("login.signupWith", openIdForm, oauthConfig, isLogin)
                @signupForm(registerForm, registerAction, recaptchaKey)
            </div>
        </div>
    </div>
}

