@(loginOrSignup: String, openIdForm: Form[String], oauthProviders: Seq[auth.oauth2.providers.OAuth2Provider], isLogin: Boolean)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages,fieldConstructor: helper.FieldConstructor)

@helper.form(action = controllers.portal.account.routes.Accounts.openIDLoginPost(isLogin), 'class -> "openid form validate-form", 'role -> "form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(openIdForm)

    <div class="oauth-providers">
        @oauthProviders.map { provider =>
            <a href="@controllers.portal.account.routes.Accounts.oauth2(provider.name)" class="btn btn-@provider.name"
                title="@Html(Messages(loginOrSignup, provider.name.capitalize))">
               @Html(Messages(loginOrSignup, Html("<i class='icon-social " + provider.name + "'></i>")))
            </a>
        }
        <a href="#" class="btn btn-openid show-more" title="@Messages(loginOrSignup, "OpenID")">
            @Html(Messages(loginOrSignup, Html("<i class='icon-social openid'></i>")))
        </a>
    </div>

    <div class="more-login-options @{if(openIdForm.hasErrors) "errors"}">
        <div class="form-block">
            @helper.inputText(
                openIdForm("openid_identifier"),
                'placeholder -> Messages("login.openid.urlPlaceholder"),
                'type -> "url"
            )
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-post login-button openid" value="@Messages(loginOrSignup, "OpenID")" />
        </div>
    </div>
}