@(registerForm: Form[SignupData], registerAction: Call, recaptchaKey: String, openIdForm: Form[String], oauthConfig: auth.oauth2.OAuth2Config)(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, flash: Flash, messages: Messages,prefs: SessionPrefs)

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateSignUp.f) }

@extraScripts = {
    <script>
        jQuery(function($) {
            // Openid
            $(".show-more").on("click", function(e) {
                e.preventDefault();
                $(".more-login-options").slideToggle();
            })
        });
    </script>
    @views.html.common.passwordValidationScripts()
}

@views.html.layout.loginLayout(Messages("login.signup"), cls = "register", scripts = extraScripts) {
    @views.html.common.itemHeader(Messages("login.signup"))

    <p>@Messages("login.benefits")</p>
    <ol>
        <li>@Messages("login.benefits.1")</li>
        <li>@Messages("login.benefits.2")</li>
        <li>@Messages("login.benefits.3")</li>
    </ol>

    <p>@Html(Messages("login.login.prompt",
        Html(s"<a href='${controllers.portal.account.routes.Accounts.login()}'>${Messages("login.login.prompt.text")}</a>")))</p>

    <div id="register">
        @views.html.account.signupForm(registerForm, registerAction, recaptchaKey) {
            @views.html.common.passwordValidationWidget()
        }

        <h4 class="or-oauth"><span>Or</span></h4>

        @views.html.account.oauth2Form(
            openIdForm,
            oauthConfig,
            isLogin = false,
            oauth2Call = name => controllers.portal.account.routes.Accounts.oauth2Register(name)
        )
    </div>
}

