@(form: Form[SignupData], action: Call, recaptchaKey: String)(implicit request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages, fieldConstructor: helper.FieldConstructor)

@import forms.HoneyPotForm.BLANK_CHECK
@import forms.TimeCheckForm.TIMESTAMP
@import SignupData._

@helper.form(action = action, 'class -> "signup-form", 'role -> "form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(form)

    @helper.inputText(form(NAME), 'autocomplete -> "name", 'required -> "required", 'placeholder -> Messages("profile.name"))
    @helper.inputText(form(EMAIL), 'id -> "login_email", 'autocomplete -> "email", 'placeholder -> Messages("login.email"), 'type -> "email", 'required -> "required")
    @helper.inputPassword(form(PASSWORD), 'id -> "signup_password", 'autocomplete -> "new-password", 'placeholder -> Messages("login.password"))
    @helper.inputPassword(form(CONFIRM), 'autocomplete -> "new-password", 'placeholder -> Messages("login.password.confirm"))

    @helper.checkbox(form(AGREE_TERMS), 'required -> "required", '_label -> "", '_text -> Html(Messages(
        "signup.dataPolicyNag",
        Html(s"<a target='_blank' rel='noopener' tabindex='-1' href='${controllers.portal.routes.Portal.terms()}'>${Messages("termsAndConditions")}</a>"),
        Html(s"<a target='_blank' rel='noopener' tabindex='-1' href='${controllers.portal.routes.Portal.dataPolicy()}'>${Messages("dataPolicy")}</a>")
    )))
    @common.recaptcha(recaptchaKey)

    <div class="signup-check">
        <input type="hidden" name="@TIMESTAMP" value="@java.time.ZonedDateTime.now().toString" />
        <input type="text" name="@BLANK_CHECK" title="[Leave this blank]" autocomplete="off" value="" />
    </div>

    <div class="form-field">
        <input type="submit" class="btn btn-post" value="@Messages("login.signup.submit")" />
    </div>
}
