@(form: Form[SignupData], action: Call, recaptchaKey: String)(implicit request: RequestHeader, conf: AppConfig, flash: Flash, messages: Messages, fieldConstructor: helper.FieldConstructor)

@import forms.HoneyPotForm.BLANK_CHECK
@import forms.TimeCheckForm.TIMESTAMP
@import SignupData._

@helper.form(action = action, attrs._class -> "signup-form", attrs._role -> "form") {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(form)

    @helper.inputText(
        form(NAME),
        attrs._autocomplete -> "name",
        attrs._required -> "required",
        attrs._class -> "form-control form-control-lg",
        attrs._placeholder -> Messages("profile.name"),
        attrs._label -> Messages("profile.name")
    )
    @helper.inputText(
        form(EMAIL),
        attrs._id -> "login_email",
        attrs._autocomplete -> "email",
        attrs._class -> "form-control form-control-lg",
        attrs._placeholder -> Messages("login.email"),
        attrs._label -> Messages("login.email"),
        attrs._type -> "email",
        attrs._required -> true
    )
    @helper.inputPassword(
        form(PASSWORD),
        attrs._id -> "signup_password",
        attrs._class -> "form-control form-control-lg",
        attrs._autocomplete -> "new-password",
        attrs._placeholder -> Messages("login.password"),
        attrs._label -> Messages("login.password")
    )
    @helper.inputPassword(
        form(CONFIRM),
        attrs._autocomplete -> "new-password",
        attrs._class -> "form-control form-control-lg",
        attrs._placeholder -> Messages("login.password.confirm"),
        attrs._label -> Messages("login.password.confirm")
    )

    @helper.checkbox(form(AGREE_TERMS), attrs._required -> "required", attrs._label -> Html(Messages(
        "signup.dataPolicyNag",
        Html(s"<a target='_blank' rel='noopener' tabindex='-1' href='${controllers.portal.routes.Portal.terms()}'>${Messages("termsAndConditions")}</a>"),
        Html(s"<a target='_blank' rel='noopener' tabindex='-1' href='${controllers.portal.routes.Portal.dataPolicy()}'>${Messages("dataPolicy")}</a>")
    )))
    @common.recaptcha(recaptchaKey)

    <div class="signup-check">
        <input type="hidden" name="@TIMESTAMP" value="@java.time.ZonedDateTime.now().toString">
        <input type="text" name="@BLANK_CHECK" title="[Leave this blank]" autocomplete="off" value="">
    </div>

    <div class="form-field">
        <input type="submit" class="login-button btn btn-lg btn-post" value="@Messages("login.signup.submit")">
    </div>
}
