@(item: models.base.Model, desc: models.base.Description, holderIds: Seq[String] = Seq.empty)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

<script>
    window.CONFIG = {
        id: "@item.id",
        descId: "@desc.id",
        holderIds: [@Html(holderIds.map(id => "\"" + id + "\"").mkString(", "))],
        linkType: "@LinkF.LinkType.Associative",
        typeFilters: {
            creator: ["@defines.EntityType.HistoricalAgent"],
            person: ["@defines.EntityType.HistoricalAgent"],
            family: ["@defines.EntityType.HistoricalAgent"],
            corporateBody: ["@defines.EntityType.HistoricalAgent"],
            place: ["@defines.EntityType.Concept"],
            subject: ["@defines.EntityType.Concept"],
            genre: ["@defines.EntityType.Concept"]

        }
    };
    window.LABELS = {
    @AccessPointF.AccessPointType.values.map { apt => @apt: "@Messages("accessPoint.type." + apt)",
    }
    };
</script>

<i>@Messages("accessPoint.editing", desc.name)</i>
<div id="ap-editor"></div>

<script src="@controllers.admin.routes.AdminAssets.versioned("js/lib/vue.js")"></script>
<script src="@controllers.admin.routes.AdminAssets.versioned("js/accesspoints.js")"></script>

