@()(implicit userOpt: Option[UserProfile], request: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs)

@activeIfCurrent(url: String, text: String, f: String => Boolean = url => request.path.startsWith(url)) = {
    <li class="@{if(f(url)) "active" else ""}"><a href="@url">@Html(text)</a></li>
}

@dropdownMenu(key: String, url: String) = {
    @if(url == "-") {
        <div role="presentation" class="dropdown-divider"></div>
    } else {
        <a class="dropdown-item @{if(request.path.startsWith(url)) "active" else ""}" href="@url">@Messages(key)</a>
    }
}

@views.html.common.topNavBar {
    <ul class="nav navbar-nav navbar-left">
        @activeIfCurrent(controllers.admin.routes.Home.index().url, Messages("admin.home"), url => request.path.equals(url))
        @views.admin.Helpers.mainMenu.map { case (key, url) =>
            @activeIfCurrent(url, Messages(key))
        }
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="more-menu">
                @Messages("pages.more")
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="more-menu">
                @views.admin.Helpers.moreMenu.map { case (key, url) =>
                    @dropdownMenu(key, url)
                }
                @if(userOpt.exists(_.isAdmin)) {
                    @views.admin.Helpers.adminMenu.map { case (key, url) =>
                        @dropdownMenu(key, url)
                    }
                }
            </ul>
        </li>
    </ul>
} {
    @views.html.common.accountHeaderRightMenu(showPortalLink = true, prefsOpt = Some(prefs))
}
