@**
* Render annotation comments around some HTML content
*
*@
@(item: Model, annotations: Seq[Annotation])(body: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages)

@annotationList(notes: Seq[Annotation]) = {
    @if(notes.nonEmpty) {
        <ul>
        @notes.map { ann =>
            <li class="annotatable" id="@ann.id">
                @ann.user.map { accessor =>
                    <a href="@views.admin.Helpers.linkTo(accessor)">@accessor.toStringLang</a> -
                }
                @ann.data.body
                @if(ann.annotations.nonEmpty) {
                    @annotationList(ann.annotations)
                }
            </li>
        }
        </ul>

    }
}

<div class="annotatable" id="@item.id">
    @body
    @defining(annotations.filter(_.targetParts.isEmpty)) { list =>
        <hr>
        <div class="item-annotations">
            @annotationList(list)
        </div>
    }
</div>
