@(items: Seq[models.base.Model] = Nil)(implicit messages: Messages, conf: AppConfig)

@common.infobar {
    @defining(if (items.nonEmpty) 200 / items.length else 300) { truncateLength =>
        @if(items.nonEmpty) {
            @items.init.map { i =>
                <li>
                    <a title="@i.toStringLang" href="@views.admin.Helpers.linkTo(i)">
                        @i.toStringAbbr
                    </a>
                </li>
            }

            <li title="@items.last.toStringLang" class="active">
                <a href="@views.admin.Helpers.linkTo(items.last)">
                    <em>@items.last.toStringAbbr</em>
                </a>
            </li>
        }
    }
}

