@(descriptionField: Field, cls: String = "description-form")(data: Html)(implicit fieldPrefix: String, userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@import Description.CreationProcess
@import Description.{MAINTENANCE_EVENTS, UNKNOWN_DATA, ACCESS_POINTS, CREATION_PROCESS, SOURCE_FILE_ID}

<div class="@cls" id="@descriptionField("form").id">
    @*
     * If a description has the creation process set to IMPORT show a warning that
     * subsequent data updates might overwrite changes to manually inputted data
     *@
    @descriptionField(CREATION_PROCESS).value.map { creationProcess =>
        @if(creationProcess == CreationProcess.Import.toString) {
            <p class="alert alert-danger" role="alert">
                @Messages("describedEntity.creationProcess.importWarning")
            </p>
        }
    }

    @views.html.formHelpers.hiddenInput(descriptionField(Entity.ID))
    @views.html.formHelpers.hiddenInput(descriptionField(SOURCE_FILE_ID))
    @views.html.formHelpers.hiddenInput(descriptionField(CREATION_PROCESS))

    @data

    @* NB: Access points are hidden in this form because they are managed *@
    @* separately from the accessPoints page. Maintenance events are not *@
    @* currently editable. *@
    @views.html.formHelpers.hiddenAccessPointSet(descriptionField(ACCESS_POINTS))
    @views.html.formHelpers.hiddenMaintenanceEventSet(descriptionField(MAINTENANCE_EVENTS))
    @views.html.formHelpers.hiddenUnknownDataSet(descriptionField(UNKNOWN_DATA))
</div>
