@(item: models.base.Model, desc: models.base.Description, holderIds: Seq[String] = Seq.empty)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import defines.EntityType
@import models.AccessPointF.AccessPointType

@filterDropdown(t: EntityType.Value, option: String = "") = {
    <li data-value="@t" class="active type" @option><a>@Messages("contentTypes." + t.toString)</a></li>
}

<script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/handlebar.js")"></script>
<script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/typeahead.js")"></script>
<script src="@controllers.portal.routes.PortalAssets.versioned("js/bootstrap.confirmation.js")"></script>
<script src="@controllers.admin.routes.AdminAssets.versioned("js/access-points.js")"></script>
<style type="text/css">
    ul.type-filters { display: none; }
    ul.holder-filters { display: none; }
    .modal-dialog { width: 80%;}
    .model { display:none; }
    .new-access-point { display: none; }
    .pages { display: none; }
    .submit-group { display : none; }

    .modal-spinner {
        width: 80%;
        background-repeat: no-repeat;
        background-image: url('@controllers.admin.routes.AdminAssets.at("img/ajax-loader-large.gif")');
        background-position: center;
        min-height: 128px;
        float: left;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<i>@Messages("accessPoint.editing", desc.name)</i>
<ul class="list-unstyled">
@AccessPointType.values.toList.map { accessPointType =>
    <li class="accessPointList @accessPointType">
        <h3>@Messages("accessPoint.type." + accessPointType)</h3>
        <ul class="item-annotation-links list-unstyled" data-id="@item.id" data-did="@desc.id">
            <li class="access-saved model" id="linkId">
                <a href="#" class="access-saved-name"></a>
                <a class="access-saved-delete" title="@Messages("accessPoint.delete")"><span class="glyphicon glyphicon-remove"></span></a>
                <small class="access-saved-description text-muted"></small>
            </li>
            <li class="add-access-toggle-container">
                <a href="#" class="add-access-toggle"><small><i class="glyphicon glyphicon-plus-sign"></i>@Messages("accessPoint.create")</small></a>

                <div class="form-horizontal new-access-point" data-type="@accessPointType.toString" style="">
                    <h4>@Messages("accessPoint.newAccessPoint")</h4>
                    <div class="form-group">
                        <label class="control-label">@Messages("accessPoint.name")</label>
                        <div class="control-elements">
                            <div class="input-group">
                                <input class="form-control quicksearch" name="@accessPointType.toString" type="text" placeholder="@Messages("accessPoint.name")" autofocus="autofocus" />
                                <div class="input-group-btn">
                                    <button class="btn btn-success add-access-text" title="@Messages("accessPoint.newTextAccessPoint.description")" disabled>
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                    <ul class="dropdown-menu holder-filters pull-right">
                                    @holderIds.map { holderId =>
                                        <li data-value="@holderId" class="active holder"><a>@holderId</a></li>
                                    }
                                    </ul>
                                    <ul class="dropdown-menu type-filters pull-right">
                                        <li class="dropdown-header">@Messages("contentTypes")</li>
                                        @accessPointType match {
                                            case AccessPointType.CreatorAccess | AccessPointType.PersonAccess | AccessPointType.FamilyAccess => {
                                                @filterDropdown(EntityType.HistoricalAgent, "data-disabled='true'")
                                            }
                                            case AccessPointType.CorporateBodyAccess => {
                                                @filterDropdown(EntityType.Concept, "data-disabled='true'")
                                                @filterDropdown(EntityType.HistoricalAgent, "data-disabled='true'")
                                            }
                                            case AccessPointType.PlaceAccess  => {
                                                @filterDropdown(EntityType.Concept, "data-disabled='true'")
                                            }
                                            case AccessPointType.SubjectAccess | AccessPointType.GenreAccess => {
                                                @filterDropdown(EntityType.Concept, "data-disabled")
                                            }
                                        }
                                        <li class="divider"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="append-in">
                        <div class="form-group model element" style="display:none;">
                            <div class="col-sm-10 col-sm-offset-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <a class="btn btn-success">
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <button class="btn btn-success element-name" name="@accessPointType.toString" data-did="" value=""></button>
                                    </div>
                                    <input type="text" class="form-control element-description" placeholder="@Messages("accessPoint.description")" />
                                    <div class="input-group-btn">
                                        <a title="@Messages("accessPoint.delete")" class="btn btn-danger cancel-item"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group submit-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-small btn-primary element-save" disabled>
                            @Messages("accessPoint.create.submit")</button>
                            <button class="btn btn-small btn-danger element-cancel">@Messages("cancel")</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <hr />
    </li>
}
</ul>

<div class="modal fade waiting-modal" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Please Wait</div>
            <div class="modal-spinner"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
