@(submitName: String, form: Form[_])(html: Html)(implicit fieldConstructor: views.html.helper.FieldConstructor, request: RequestHeader, conf: AppConfig, messages: Messages)

@formHelpers.csrfToken()
@views.html.formHelpers.globalErrors(form)

@helper.inputText(form("path-prefix"), attrs._class -> "form-control", attrs._label -> Messages("admin.utils.renameItems.pathPrefix"))

@html

<div class="form-group">
    <input disabled id="id_submit" type="submit" class="btn btn-danger" value="@submitName">
</div>
<script>
    jQuery(function($) {
        var $path = $("#path-prefix"),
            $submit = $("#id_submit");
        $submit.attr("disabled", $path.val().trim() === "");
        $path.on("keyup", function(e) {
            $submit.attr("disabled", e.target.value.trim() === "");
        });
    });
</script>

