@(item: models.base.Promotable, promoteUrl: Call, demoteUrl: Call, contentType: ContentTypes.Value)(implicit userOpt: Option[UserProfile], conf: AppConfig, messages: Messages)

@if(item.promoters.nonEmpty || (item.isPromotable && userOpt.exists(_.hasPermission(contentType, PermissionType.Promote)))) {
    @common.sidebarSection(Messages("promotion")) {
        @if(item.promoters.nonEmpty) {
            <h4>
                <i class="fa fa-star" aria-hidden="true"></i>
                @Messages("promotion.isPromoted")
            </h4>
            <ul>
            @item.promoters.map { acc =>
                <li><a href="@views.admin.Helpers.linkTo(acc)">@acc.toStringLang</a></li>
            }
            </ul>
        }

        @userOpt.map { user =>
            @if(item.promoters.exists(p => p.id == user.id)) {
                <p><small><a href="@demoteUrl">@Messages("item.demote")</a></small></p>
            } else {
                @if(user.hasPermission(contentType, PermissionType.Promote)) {
                    <h4>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        @Messages("promotion.notPromoted")
                    </h4>
                    <p><small><a href="@promoteUrl">@Messages("item.promote")</a></small></p>
                }
            }
        }
    }
}
