@(properties: Seq[Any])(implicit messages: Messages, highlighter: views.Highlighter = views.NoopHighlighter)

@properties.map { property =>
    @property match {
        case None => {
        }
        case s: String if s.isEmpty => {
        }
        case Some(s) => {
            <li>@highlighter.highlightText(s.toString)</li>
        }
        case s: String => {
            <li>@highlighter.highlightText(s)</li>
        }
        case s => {
            <li>@highlighter.highlightText(s.toString)</li>
        }
    }
}
