@()(implicit conf: AppConfig)

@if(conf.isStageMode) {
    <div class="testing-banner alert alert-info">
        <div class="container">
            STAGING <span class="info"><strong>Warning</strong>: Data is for staging purposes only.</span>
        </div>
    </div>
} else {
    @if(conf.isTestMode) {
        <div class="testing-banner alert alert-danger">
            <div class="container">
                TESTING <span class="info"><strong>Warning</strong>: Data is for test purposes only.</span>
            </div>
        </div>
    }
}


