@(item: Accessible, url: Call, contentType: ContentTypes.Value)(implicit userOpt: Option[UserProfile], conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@views.html.common.sidebarSectionWithFooter(Messages("visibility")) {
    @if(item.accessors.nonEmpty) {
        <h4>@Messages("visibility.visibilityRestrictedTo")</h4>
        <ul>
        @item.accessors.map { acc =>
            <li><a href="@views.admin.Helpers.linkTo(acc)">@acc.toStringLang</a></li>
        }
        </ul>
    } else {
        <h4>@Messages("visibility.visibleToEveryone")</h4>
    }
} {
    @userOpt.map { user =>
        @if(user.hasPermission(contentType, PermissionType.Update)) {
            <a href="@url">
                <i class="fa fa-fw fa-eye"></i>
                @Messages("visibility.update")
            </a>
        }
    }
}
