@(title: Any, result: services.search.SearchResult[(Model, services.search.SearchHit)], action: Call, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs:Html = Html(""))(main: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(Messages("documentaryUnit.search")) {
    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    } else {
        @breadcrumbs
    }
    @common.mainContent {
        @views.html.common.search.searchForm(result, action)(main)(sidebar)
    }
}

