@(title: Any, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

<!DOCTYPE html>

<html lang="@messages.lang.code">
    <head>
        <title>@title</title>

        @views.html.common.favicons()
        <link href="@controllers.admin.routes.AdminAssets.versioned("css/lib/bootstrap-datepicker.standalone.css")" rel="stylesheet">
        <link href="@controllers.admin.routes.AdminAssets.versioned("css/admin.css")" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="copyright" content="EHRI Consortium @(java.time.Year.now(java.time.ZoneId.systemDefault()).getValue)">

        @styles
    </head>
    <body class="admin" data-spy="scroll" data-target="#form-nav-sidebar">
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2.full.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/bootstrap.bundle.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/common.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/admin.js")"></script>
        <script src="@controllers.portal.routes.PortalData.jsRoutes()"></script>
        @scripts
        @views.html.common.readOnly()
        @views.html.common.message()
        @views.html.common.ipFilter()
        <header id="header" class="navigation">
            @views.html.admin.common.adminNavBar()
        </header>
        @views.html.admin.common.testWarning()
        <div class="admin-content">
            @views.html.common.flash(flash)
            @content
        </div>
        @views.html.common.footer()
    </body>
</html>
