@(title: Any, result: utils.search.SearchResult[(models.base.AnyModel, utils.search.SearchHit)], action: Call, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs:Html = Html(""))(main: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

@views.html.admin.layout.adminLayout(Messages("documentaryUnit.search")) {
    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    } else {
        @breadcrumbs
    }
    @layout.mainContent {
        @views.html.common.search.searchForm(result, action)(main)(sidebar)
    }
}

