@(title: Any, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile] = None, req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@controllers.core.routes.Assets.versioned("images/favicon.png")">
        <link href="@controllers.core.routes.Assets.at("css/admin.css")" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @styles
    </head>
    <body>
        <div id="wrap" class="page-container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="@{if(req.path.equalsIgnoreCase(controllers.admin.routes.Home.index.url)) "active" else ""}">
                            <a href="@controllers.admin.routes.Home.index"><i class="glyphicon glyphicon-home icon-white"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-content">
                @content
            </div>
            <div id="push"></div>
        </div>
        @layout.footer()
        @scripts
    </body>
</html>
