@(title: Any, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

<!DOCTYPE html>

<html lang="@messages.lang.code">
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@controllers.portal.routes.PortalAssets.versioned("img/favicon.png")">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="@controllers.portal.routes.PortalAssets.versioned("bootstrap/css/datepicker.css")" rel="stylesheet">
        <link href="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/css/select2.css")" rel="stylesheet">
        <link href="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/css/select2-bootstrap.css")" rel="stylesheet">
        <link href="@controllers.admin.routes.AdminAssets.versioned("css/admin.css")" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="copyright" content="EHRI Consortium @(java.time.Year.now(java.time.ZoneId.systemDefault()).getValue)">

        @styles
    </head>
    <body class="admin" data-spy="scroll" data-target="#form-nav-sidebar">
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery-3.4.1.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/jquery.history.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/js/select2.full.min.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/bootstrap.bundle.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/bootstrap-modal.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/bootstrap-modalmanager.js")"></script>
        <script src="@controllers.portal.routes.PortalAssets.versioned("js/common.js")"></script>
        <script src="@controllers.admin.routes.AdminAssets.versioned("js/admin.js")"></script>
        <script src="@controllers.portal.routes.PortalData.jsRoutes()"></script>
        @scripts
        @views.html.common.readOnly()
        @views.html.common.message()
        @views.html.common.ipFilter()
        <header id="header" class="navigation">
            @views.html.admin.common.adminNavBar()
        </header>
        @views.html.admin.common.testWarning()
        <div class="admin-content">
            @views.html.common.flash(flash)
            @content
        </div>
        @views.html.common.footer()
    </body>
</html>
