@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""))(content: Html)(sidebar1: Html)(sidebar2: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(title, scripts, styles) {
    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    }

    <div class="container">
        <article class="triple">
            <section class="main">
                <h2>@title</h2>
                @common.flash(flash)
                @content
            </section>
            <aside class="right-sidebar">
                @sidebar1
            </aside>
            <aside class="right-sidebar">
                @sidebar2
            </aside>
        </article>
    </div>
}