@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""))(content: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(title, scripts, styles) {
    <div class="success-pullup pull-right">
        @common.successFlash(flash)
    </div>
    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    }
    @common.mainContent {
        <article class="bar">
            <aside class="left-sidebar">
                @sidebar
            </aside>
            <section class="main">
                <h2>@title</h2>
                @common.errorFlash(flash)
                @content
            </section>
        </article>
    }
}
