@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang)

@views.html.admin.layout.adminLayoutSimple(title, scripts, styles) {

    @layout.mainContent {
        <article class="single">
            <section class="main">
                <h2>@title</h2>

                @common.errorFlash(flash)

                @content
            </section>
        </article>
    }
}