@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(title, scripts, styles) {
    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    }

    @breadcrumbs
    @common.mainContent {
        <article class="single">
            <section class="main">
                <h2>@title</h2>
                @content
            </section>
        </article>
    }
}
