@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""), footer: Html = Html(""), extraTitle: Html = Html(""))(content: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, prefs: SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(title, scripts, styles) {
    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    } else {
        @breadcrumbs
    }
    @common.mainContent {
        <section class="double">
            <aside class="sidebar">
                @sidebar
            </aside>
            <article class="main">
                @views.html.common.itemHeader(title.toString, extra = extraTitle)
                @content
            </article>
        </section>

        @footer
    }
}
