@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""), footer: Html = Html(""))(content: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, prefs: utils.SessionPrefs, flash: Flash)

@views.html.admin.layout.adminLayout(title, scripts, styles) {
    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    }
    <div class="success-pullup">
        @common.successFlash(flash)
    </div>
    @breadcrumbs
    @common.mainContent {
        <section class="double">
            <aside class="sidebar">
                @sidebar
            </aside>
            <article class="main">
                @views.html.common.itemHeader(title.toString) {
                }
                @common.errorFlash(flash)
                @content
            </article>
        </section>

        @footer
    }
}
