@(title: Any, scripts: Html = Html(""), styles: Html = Html(""), breadcrumbs: Html = Html(""))(content: Html)(sidebar: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang)

@views.html.admin.layout.adminLayout(title, scripts, styles) {

    @if(breadcrumbs.body.trim.isEmpty) {
        @views.html.admin.common.breadcrumbs()
    }

    <div class="success-pullup pull-right">
        @common.successFlash(flash)
    </div>
    @breadcrumbs

    @layout.mainContent {
        <article class="double">
            <aside class="right-sidebar">
                @sidebar
            </aside>
            <section class="main">
                <h2>@title</h2>

                @common.errorFlash(flash)

                @content
            </section>
        </article>
    }
}
