@(item: MetaModel[_], action: Call, cancel: Call)(
implicit userOpt: Option[UserProfileMeta], request: RequestHeader, flash: Flash, token: play.filters.csrf.CSRF.Token)

@rightSidebarLayout(Messages("actions.deleteItem", item), breadcrumbs = common.breadcrumbs(List(item))) {

    <p>@Messages("deleting.deleteConfirmationMessage", item.toString)</p>
    @helper.form(action = action, 'class -> "form-actions") {
        @formHelpers.csrfToken()
        @common.submitButtonWithLogMessageInput(Messages("submitButton.deleteItem")) {
            <a href="@cancel.url" class="btn">@Messages("actions.cancel")</a>
        }
    }
} {

}

