@(f: play.api.data.Form[String], action: Call, maybeUser: Option[models.sql.User], req: RequestHeader)

@import helper.twitterBootstrap._

@main("View item")(maybeUser.map(u => UserProfile(Entity.fromString(u.profile_id, defines.EntityType.UserProfile)).copy(account=Some(u))), req) {

    @helper.form(action = action) {
        @helper.inputText(f("email"), 'id -> "email", 'size -> 30)

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("login.submitEmail")</button>
        </div>
    }
}