@(title: String)(maybeUser: Option[models.sql.User], req: RequestHeader)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
     <!--   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">-->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link href="@routes.Assets.at("jquery-openid/openid.css")" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("jquery-openid/jquery.openid.js")"></script>
		<style>
			body {
				font-family: monospace;
			}

			#head-section {
			  float: right;
			}
			
			#entity-types ul {
			    list-style: none;
			    padding-left: 0px;
			}
			
			#entity-types li {
			  display: inline;
			  padding-right: 20px;
			}
			
			legend {
			  font-weight: bold;
			}
		</style>

    </head>
    <body>

	    <div id="head-section">
			@maybeUser.map { user =>
			  <span>@user.email (<a href="/logout" id="signout">Sign out</a>)</span>			  
			}.getOrElse {
			  <a href="/login" id="signin">Sign in</a>
			}
		</div>

		<h2>EHRI Test</h2>
		<hr />

		<div id="entity-types">
			<ul>
				<li><a href="@routes.DocumentaryUnits.list(0, 20)">@defines.EntityType.DocumentaryUnit.toString</a></li>
				<li><a href="@routes.Agents.list(0, 20)">@defines.EntityType.Agent.toString</a></li>
				<li><a href="@routes.UserProfiles.list(0, 20)">@defines.EntityType.UserProfile.toString</a></li>
				<li><a href="@routes.Groups.list(0, 20)">@defines.EntityType.Group.toString</a></li>				
			</ul>
			<hr />
		</div>

        @content
    </body>
</html>
