@(item: models.base.AccessibleEntity, accessor: models.base.Accessor, perms: acl.GlobalPermissionSet[models.base.Accessor], contentTypes: Seq[defines.ContentType.Value], action: Call, user: UserProfile, req: RequestHeader)

@import defines._

@main(Messages("actions.grantPermissionsInScope", item, accessor))(Some(user), req) {
	
  
	<h2>@Messages("actions.grantPermissionsInScope", item, accessor)</h2>

	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<fieldset id="permissionScope-area">

        <table class="permissions-matrix">
        <tr>
        <th></th>
        @PermissionType.values.toList.map { perm =>
            <th>@perm.toString</th>
        }
        </tr>
        @contentTypes.map { entity =>
            <tr>
                <td>@entity.toString</td>
                @PermissionType.values.toList.map { perm =>
                    <td>
                    @defining(perms.get(entity, perm)) { permOpt =>
                        <input type="checkbox" name="@entity.toString" value="@perm.toString"
                        @if(permOpt.isDefined && permOpt.flatMap(_.inheritedFrom).isEmpty) {
                            checked
                        } />
                        @permOpt.flatMap(_.inheritedFrom).map { user =>
                            <span title="@Messages("Inherited from " + user.name)">*</span>
                        }
                    }
                    </td>
                }
            </tr>
        }
    </table>


		</fieldset>
	  
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("permissionScope.update")</button>
		</div>
	}
}