@(form: Form[(String,String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(common.fieldTemplate.f) }

@noSidebarLayout(Messages("login.changePassword")) {

    @form.globalErrors.map { e =>
        <div class="alert alert-error">
            @Messages(e.message)
        </div>
    }

    @helper.form(action = action, 'class -> "login-form form-horizontal") {
        @formHelpers.csrfToken()

        @helper.inputPassword(form("current"), 'autofocus -> "autofocus", 'placeholder -> Messages("login.existingPassword"))
        @helper.inputPassword(form("password"), 'placeholder -> Messages("login.newPassword"))
        @helper.inputPassword(form("confirm"), 'placeholder -> Messages("login.confirmPassword"))

        <div>
            <input type="submit" class="btn btn-primary" value="@Messages("submitButton.changePassword")" />
        </div>
    }
}

