@(result: solr.ItemPage[solr.SearchDescription], showAction: String => Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@noSidebarLayout("View item") {

	<h3>Items:</h3>
  
	<ul>
	@result.items.map { item =>
	  	<li>
			<h5>
				<a href="@showAction(item.itemId)">@item.name</a>
				@item.data.get("holderName").filterNot(_.isEmpty).map { n =>
					<span class="muted">&nbsp; @n</span>
				}
			</h5>
			<p class="search-hit-description">
				@item.data.getOrElse(IsadG.SCOPE_CONTENT, "")
			</p>
		</li>
	}
	</ul>
    
}