@(result: solr.ItemPage[models.base.DescribedEntity], params: solr.SearchParams, action: Call, showAction: String => Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout("View item") {
	@helper.form(action = action) {
		<div class="control-group">
			<div class="controls controls-row">
				<input type="text" class="span12" name="q" value="@params.query" />
			</div>
		</div>  
		<ul class="unstyled">
		@result.items.map { item =>
            @item match {

                case d: DocumentaryUnit => {
                    @documentaryUnit.listItem(d)
                }

                case _ => {
                    <li>
                        <h5>
                            <a href="@showAction(item.e.id)">@item.stringProperty("name")</a>

                        </h5>
                        <p class="search-hit-description">
                            @{println(item.e)}
                            @item.descriptions.headOption.map { d =>
                            @d.e.stringProperty(IsadG.SCOPE_CONTENT)
                            }
                        </p>
                    </li>
                }
            }
		}
		</ul>
	}
} {
	
}