@(item: models.base.AccessibleEntity, maybeUser: Option[models.sql.User], perms: Option[models.ItemPermissionSet[_]], req: RequestHeader)

@accView(item: models.base.AccessibleEntity) = {
	<table>
		<tr>
			<th>Item:</th>
			<th>@item.identifier</th>
		</tr>
		<tr>
			<td></td>
			<td>@itemView(item)</td>
		</tr>
	</table>    
}

@itemView(item: models.base.AccessibleEntity) = {
	<table>
		@item.data.map { case (k, v) =>
			<tr>
				<td>@k</td>
				<td>@v</td>
			</tr>
		}
	</table>  
}

@main("View item")(maybeUser, req) {
	
  
	<h4>Properties</h4>
	@itemView(item)
}