@(item: models.base.AccessibleEntity)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@accView(item: models.base.AccessibleEntity) = {
	<table>
		<tr>
			<th>Item:</th>
			<th>@item.identifier</th>
		</tr>
		<tr>
			<td></td>
			<td>@itemView(item)</td>
		</tr>
	</table>    
}

@itemView(item: models.base.AccessibleEntity) = {
	<table>
		@item.data.map { case (k, v) =>
			<tr>
				<td>@k</td>
				<td>@v</td>
			</tr>
		}
	</table>  
}

@noSidebarLayout("View item")(maybeUser, req) {
	
  
	<h4>Properties</h4>
	@itemView(item)
}