@(action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@import defines.EntityType

@extraScript = {
}

@rightSidebarLayout(Messages("search.updateIndex"), scripts=extraScript) {

    @helper.form(action = action, 'id -> "update-form", 'class -> "form-horizontal") {
        @formHelpers.csrfToken()
        <div class="control-group">
            <label class="control-label">@Messages("search.typesToUpdate")</label>
            <div class="controls">

                @List(EntityType.DocumentaryUnit,EntityType.Agent,EntityType.Concept,EntityType.Vocabulary,EntityType.UserProfile,EntityType.Group).map { et =>
                    <label class="checkbox"><input type="checkbox" name="type[]" value="@et" />
                        @Messages("contentTypes." + et.toString)
                    </label>
                }
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" id="submit-update" class="btn btn-danger" value="@Messages("search.updateIndex")" />
        </div>

        <div id="output">

        </div>
    }

} {

}
