@(action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, flash: Flash, lang: Lang, token: play.filters.csrf.CSRF.Token)

@import defines.EntityType

@rightSidebarLayout(Messages("search.updateIndex")) {

    @helper.form(action = action, 'class -> "form-horizontal") {
        @formHelpers.csrfToken()
        <div class="control-group">
            <label class="control-label">@Messages("search.typesToUpdate")</label>
            <div class="controls">
                <label class="checkbox"><input type="checkbox" name="type[]" value="@EntityType.DocumentaryUnit" />
                    @Messages("contentTypes." + EntityType.DocumentaryUnit.toString)
                </label>
                <label class="checkbox"><input type="checkbox" name="type[]" value="@EntityType.Agent" />
                    @Messages("contentTypes." + EntityType.Agent.toString)
                </label>
                <label class="checkbox"><input type="checkbox" name="type[]" value="@EntityType.Concept" />
                    @Messages("contentTypes." + EntityType.Concept.toString)
                </label>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-danger" value="@Messages("search.updateIndex")" />
        </div>
    }

} {

}
