@(item: AccessibleEntity, users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(implicit user: UserProfile, req: RequestHeader, lang: Lang, flash: Flash)


@rightSidebarLayout(Messages("actions.setVisibility"))(Some(user), req) {
	
	@common.visibility(item)
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<fieldset id="visibility-area">

			<div class="control-group">
              <label class="control-label" for="visibility_groups">@Messages("contentTypes.group")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("visibility.chooseGroups")" multiple
                      id="visibility_groups"
                      name="@defines.EntityType.Group">
                    @groups.map{t =>
                        <option value="@t._1" @(if(item.accessors.map(_.id).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="visibility_users">@Messages("contentTypes.userProfile")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("visibility.chooseUsers")" multiple
                      id="visibility_users"
                      name="@defines.EntityType.UserProfile">
                    @users.map{t =>
                        <option value="@t._1" @(if(item.accessors.map(_.id).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>

		</fieldset>
	  
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("submitButton.setVisibility")</button>
		</div>
	}
} {

}