@(item: AccessibleEntity, users: List[(String,String)], groups: List[(String,String)], action: Call, user: UserProfile, req: RequestHeader)


@main("actions.setVisibility")(Some(user), req) {
	
  
	<h2>@Messages("actions.setVisibility")</h2>
	
	@common.visibility(item)
	
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
		<fieldset id="visibility-area">

			<div class="control-group">
              <label class="control-label" for="visibility_groups">@Messages("Groups")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("Choose Groups")" multiple
                      id="visibility_groups"
                      name="@defines.EntityType.Group">
                    @groups.map{t =>
                        <option value="@t._1" @(if(item.accessors.map(_.identifier).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>

          <div class="control-group">
              <label class="control-label" for="visibility_users">@Messages("Users")</label>
              <div class="controls input">
                  <select class="chzn-select" placeholder="@Messages("Choose Users")" multiple
                      id="visibility_users"
                      name="@defines.EntityType.UserProfile">
                    @users.map{t =>
                        <option value="@t._1" @(if(item.accessors.map(_.identifier).contains(t._1))
                        "selected" else "")>@t._2</option>
                    }
                  </select>
              </div>
          </div>

		</fieldset>
	  
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">@Messages("submitButton.setVisibility")</button>
		</div>
	}
}