@(token: java.util.UUID)(implicit req: RequestHeader, conf: AppConfig, messages: Messages)

@views.html.layout.mailLayout(Messages("mail.confirmEmailHeading")) {

    <p>
        @Messages("mail.confirmEmailMessage")
    </p>

    <p>
        <a href="@controllers.portal.account.routes.Accounts.confirmEmail(token.toString).absoluteURL(secure = conf.https)">
            @controllers.portal.account.routes.Accounts.confirmEmail(token.toString).absoluteURL(secure = conf.https)
        </a>
    </p>

    <p>
        @Messages("mail.confirmEmailFooter")
    </p>
}

