@(token: java.util.UUID)(implicit req: RequestHeader, conf: AppConfig, messages: Messages)

@views.html.layout.mailLayout(Messages("mail.forgotPasswordMailHeading")) {

    <p>
        @Messages("mail.forgotPasswordMessage")
    </p>

    <p>
        <a href="@controllers.portal.account.routes.Accounts.resetPassword(token.toString).absoluteURL(secure = conf.https)">
            @controllers.portal.account.routes.Accounts.resetPassword(token.toString).absoluteURL(secure = conf.https)
        </a>
    </p>

    <p>
        @Messages("mail.forgotPasswordFooter")
    </p>
}

