@(item: Repository, desc: RepositoryDescriptionF)(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="item-details">
    @desc.addresses.headOption.map { address =>
        <address>
            <p>
            @address.streetAddress.map { s =>
                @s<br>
            }
            @address.city.map { s =>
                @s<br>
            }
            @address.region.map { s =>
                @s<br>
            }
            @item.country.map { c =>
                @p.helpers.linkTo(c)
            }
            </p>

            <p>
            @address.telephone.map { t =>
                <span class="glyphicon glyphicon-phone" title="@Messages("portal.repository.phone")"></span>
                @t<br>
            }
            @address.fax.map { t =>
                <span class="glyphicon glyphicon-print" title="@Messages("portal.repository.fax")"></span>
                @t<br>
            }
            @address.email.map { t =>
                <a class="email" href="mailto:@t">
                    <span class="glyphicon glyphicon-envelope" title="@t"></span>
                    @t
                </a><br>
            }
            @address.url.map { t =>
                <a class="url" href="@views.p.Helpers.normalizeUrl(t)" title="Website">
                    <span class="glyphicon glyphicon-globe" title="@t"></span>
                    @t
                </a><br>
            }
            </p>
        </address>
    }
</div>
