@(item: Repository, annotations: Seq[Annotation], links: Seq[Link], watched: Seq[String])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@defining(EntityType.Repository.toString) { implicit fieldPrefix =>
    @views.html.layout.descriptionContainer(item.model.descriptions) {
        @item.model.descriptions.map { desc =>
            @description(item, desc, links, annotations)
        }
    } {
        @views.html.p.common.typeLabelWithWatchButton(item, watched.contains(item.id))
    } {
        @item.model.logoUrl.map { logo =>
            @defining(item.url.getOrElse(controllers.portal.routes.Repositories.browse(item.id).absoluteURL(req.secure))) { url =>
                <a href="@url">
                    <img class="repository-logo" src="@logo" alt="@item.toStringLang" />
                </a>
            }
        }

        @* FIXME: This will list addresses for multiple descriptions
        regardless of which one is being displayed *@
        @views.html.p.common.panel(Messages("repository.contact")) {
            @item.model.descriptions.map { desc =>
                @address(item, desc)
            }
        }

        @views.html.p.common.childItemSidebar(
            item,
            EntityType.DocumentaryUnit,
            controllers.portal.routes.Repositories.search(item.id)
        )
        @views.html.p.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
    }
}
