@(item: Repository, showCountry: Boolean)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

@item.model.primaryDescription.map { desc =>

    @defining((desc.parallelFormsOfName ++ desc.otherFormsOfName).flatten) { ofn =>
        @if(!ofn.isEmpty) {
            <small>
                <strong>
                    <ul class="list-unstyled list-inline inline-separator">
                        @ofn.map { on =>
                        <li>@on</li>
                        }
                    </ul>
                </strong>
            </small>
        }
    }
    <small>
        @conciseAddress(item, desc, includeCountry = showCountry)
    </small>
    @desc.details.generalContext.map { gc =>
        <p>@Html(views.Helpers.renderMarkdown(gc))</p>
    }
}.getOrElse {
    <small>@Messages("describedEntity.noDescriptions")</small>
}
