@(page: utils.search.ItemPage[(Repository,String)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call, watched: List[models.base.AnyModel] = Nil)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@countryHeaderLink(id: String) = {
    <h2 class="search-group-heading">
        <a class="alt" href="@controllers.portal.routes.Portal.browseCountry(id)">@views.Helpers.countryCodeToName(id)</a>
    </h2>
}

@itemByCountryList(repos: Seq[(Repository,String)], lastOpt: Option[(Repository,String)]) = {

    @repos.headOption.map { case (repo, did) =>
        @lastOpt.map { case (last, ldid) =>
            @if(last.country != repo.country) {
                @repo.country.map { c =>
                    @countryHeaderLink(c.id)
                }
            }
        }.getOrElse {
            @repo.country.map { c =>
                @countryHeaderLink(c.id)
            }
        }
        <div class="indented-search-item">
            @listItem(repo, watched.exists(_.id == repo.id), showCountry=false)
        </div>
    }
    @if(!repos.isEmpty) {
        @itemByCountryList(repos.tail, repos.headOption)
    }
}

@p.layout.portalLayout(Messages("actions.listRepositories")) {
    @p.layout.breadcrumbs(defines.EntityType.Repository.toString) {
        @p.helpers.breadcrumbCurrent(Messages("portal.browse.countries"))
    }

    @p.searchForm(page, params, action, autofocus = false) {
        @itemByCountryList(page.items, None)
    } {
        @p.facetList(page.facets, action)
    }
}