@(page: utils.search.ItemPage[(Repository,utils.search.SearchHit)], params: utils.search.SearchParams, facets: List[utils.search.AppliedFacet], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, context: Option[Holder[_]] = None)

@p.layout.portalLayout(Messages("portal.type.repository"), EntityType.Repository.toString) {
    @views.html.layout.mainContent {
        @views.html.common.search.searchForm(page, params, action, autofocus = false) {
            @p.searchItemList(page, watched)
        } {
            @views.html.common.search.facetList(page.facets, action)
        }
    }
}