@(item: Repository, showCountry: Boolean)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, descriptionId: Option[String] = None)

@item.model.primaryDescription(descriptionId).map { desc =>

    @common.otherNameListSmall((desc.parallelFormsOfName ++ desc.otherFormsOfName).flatten.toList)
    <small>
        @conciseAddress(item, desc, includeCountry = showCountry)
        @views.html.common.childCount(item) { count =>
            <a href="@controllers.portal.routes.Portal.browseRepository(item.id)#search-items">@Messages("repository.childCount", count)</a>
        }
    </small>
    @desc.displayText.map(views.Helpers.ellipsize(_, 600)).map { sc =>
        @Html(views.Helpers.renderMarkdown(sc))
    }
}.getOrElse {
    <small>@Messages("describedEntity.noDescriptions")</small>
}
