@(item: Repository, result: utils.search.SearchResult[(DocumentaryUnit, utils.search.SearchHit)], annotations: Seq[Annotation], links: Seq[Link], action: Call, watched: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@views.html.p.layout.portalLayout(item.toStringLang, item.isA.toString) {
    @infobar(item)

    @views.html.layout.mainContent {
        @itemDetails(item, annotations, links, watched)

        @childItemSearch(item, result, action, watched)
    }
}