@(item: Repository, annotations: Seq[Annotation], links: List[Link], watched: Boolean = false)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@p.layout.portalLayout(item.toStringLang, item.isA.toString) {
    @infobar(item, watched)

    @p.layout.mainContent {
        @itemDetails(item, annotations, links, watched)

        @p.common.childItemLink(item, controllers.portal.routes.Portal.searchRepository(item.id))
    }
}