@(showSearch: Boolean = true, showFeedback: Boolean = true, showAdminLink: Boolean = false)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages)

@topNavBar {
    @if(userOpt.isDefined) {
    <div id="navbar-portal-actions" class="pull-left">
        <ul class="nav navbar-nav navbar-left portal-actions">
            <li class="@views.Helpers.maybeActive(controllers.portal.routes.Portal.personalisedActivity().url)">
                <a href="@controllers.portal.routes.Portal.personalisedActivity()">@Messages("activity")</a>
            </li>
            <li class="@views.Helpers.maybeActivePath(controllers.portal.social.routes.Social.browseUsers().url)">
                <a href="@controllers.portal.social.routes.Social.browseUsers()">@Messages("social.users")</a>
            </li>
        </ul>
    </div>
    }
} {
    @accountHeaderRightMenu(showSearch, showFeedback, showAdminLink)
}