@(descriptions: Seq[models.base.Description])(html: Html)(sidebarBefore: Html)(sidebarAfter: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang)

<article class="double descriptions">
    <aside class="right-sidebar description-sidebar">
        @sidebarBefore
        @if(descriptions.size > 1) {
        <div class="sidebar-section">
            <header>@Messages("description.multiple.text")</header>
            <div class="list-group description-switcher">
                @descriptions.map { desc =>
                    <a class="list-group-item description-switch"
                        title="@views.Helpers.languageCodeToName(desc.languageCode) - @desc.name" href="#desc-@desc.localId" data-id="@desc.localId">
                        @views.Helpers.languageCodeToName(desc.languageCode) - @desc.name
                    </a>
                }
            </div>
        </div>
        }

        @sidebarAfter
    </aside>
    <section class="main description-viewport">
        @html
    </section>
</article>