@(title: Any)(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

<!DOCTYPE html>

<html lang="@messages.lang.code">
    @views.html.common.head(title)
    <body class="error">
        @views.html.common.preambleScripts()
        <header id="header" class="navigation">
            @views.html.common.accountHeader(showAdminLink = true, showFeedback = globalConfig.showFeedback)
            @views.html.common.primaryHeader()
        </header>
        @views.html.common.mainContent {
            <article class="error-block">
                <h1 class="error-title" id="error-title">@title</h1>
                @content
            </article>
        }
        @views.html.common.footer()
        @views.html.common.postambleScripts()
    </body>
</html>
