@(title: Any)(content: Html)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages)

<!DOCTYPE html>

<html lang="@messages.lang.code">
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@controllers.portal.routes.PortalAssets.versioned("img/favicon.png")">
        <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("css/portal.css")">
    </head>
    <body class="error">
        <header class="error-page-header">
            <div class="container">
                <img alt="EHRI" src="@controllers.portal.routes.PortalAssets.versioned("img/logo_small.png")" />
                <h1 id="error-title">@title</h1>
            </div>
        </header>
        @content
        @views.html.common.footer()
    </body>
</html>
