@(title: Any)(content: Html)(implicit req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

<!DOCTYPE html>

<html lang="@lang.code">
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@controllers.portal.routes.Assets.at("img/favicon.png")">
        <link rel="stylesheet" href="@controllers.portal.routes.Assets.versioned("css/portal.css")">
    </head>
    <body>
        <div id="wrap" class="error-page page-container">
            <div class="error-page-header">
                <div class="container">
                    <img src="@controllers.portal.routes.Assets.at("img/logo_small.png")" />
                    <h1 id="error-title">@title</h1>
                </div>
            </div>
            <div class="page-content container">
                @content
            </div>
            <div id="push"></div>
        </div>
        @views.html.layout.footer()
    </body>
</html>
