@(title: Any, cls: String = "", scripts: Html = Html(""), styles: Html = Html(""), meta: Map[String,String] = Map.empty, ogMeta: Map[String, String] = Map.empty)(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, flash: Flash)

<!DOCTYPE html>

@fsstyles = {
    @styles
    @if(conf.isEmbedMode) {
        <link rel="stylesheet" href="@controllers.portal.routes.PortalAssets.versioned("css/fullscreen.css")">
    }
}

<html lang="@messages.lang.code">
    @defining(conf.isEmbedMode) { fullscreen =>
        @views.html.common.head(title, styles = fsstyles, meta = meta, ogMeta = ogMeta)
        <body class="@cls @(if(fullscreen) "fullscreen")">
            @views.html.common.preambleScripts()
            @if(!fullscreen) {
                @views.html.common.readOnly()
                @views.html.common.message()
                @views.html.common.ipFilter()
                <header id="header" class="navigation">
                    @views.html.common.accountHeader(showAdminLink = true, showFeedback = conf.showFeedback, prefsOpt = Some(prefs))
                    @views.html.common.primaryHeader()
                </header>
                @views.html.common.flash(flash)
            }
            @content
            @if(!fullscreen) {
                @views.html.common.footer()
                @views.html.dataPolicyModal()
            } else {
                <footer id="fullscreen-footer" class="footer sticky">
                    <a id="open-in-portal" class="external" target="_blank" href="@conf.absolutePath">@Messages("fullscreen.viewOnPortal")</a>
                </footer>
            }
            @views.html.common.postambleScripts(extra = scripts)
            <script>
                jQuery(function($) {
                    setupAutoSuggest(document.getElementById("quicksearch"), ["@EntityType.Repository", "@EntityType.Country"]);
                });
            </script>
        </body>
    }
</html>
