@(title: Any, itemClass: String = "", scripts: Html = Html(""), styles: Html = Html(""), meta: Map[String,String] = Map.empty)(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

<!DOCTYPE html>

<html lang="@messages.lang.code">
    @head(title, styles = styles, meta = meta)
    <body class="@itemClass">
        @preambleScripts()
        <div id="wrap">
            @views.html.layout.readOnly()
            @views.html.layout.message()
            @views.html.layout.ipFilter()
            <header id="header" class="navigation">
                @accountHeader(showSearch = true, showFeedback = true, showAdminLink = true)
                @primaryHeader()
            </header>

            @views.html.common.flash(flash)
            <div class="page-content container">
                @content
                <div id="push"></div>
            </div>
        </div>
        @views.html.layout.footer()
        @views.html.dataPolicyModal()
        @postambleScripts(extra = scripts)
    </body>
</html>
