@(title: Any, itemClass: String = "", scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, messages: Messages)

<!DOCTYPE html>

<html lang="@messages.lang.code">
    @views.html.common.head(title, styles = styles)
    <body>
        @views.html.common.readOnly()
        @views.html.common.message()
        @views.html.common.preambleScripts()
        @defining(utils.SessionPrefs()) { implicit prefs =>
            <header id="header" class="navigation">
                @views.html.common.accountHeader(showSearch = false)
                @views.html.common.primaryHeader()
            </header>
        }
        @views.html.common.flash(flash)
        @content
        @views.html.common.footer()

        <script>
            // Validate any forms with 'validate-form' class...
            $(".validate-form").validate();
        </script>

        @scripts
    </body>
</html>
