@()(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, messages: Messages)

<nav class="navbar navbar-default" role="navigation" id="navbar-primary-container">
    <div class="container">
        <div class="navbar-header" id="navbar-primary-toggle">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-primary" aria-expanded="false" aria-controls="navbar-primary">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar-logo" class="pull-left">
            <a href="@controllers.portal.routes.Portal.index()">
                <img alt="European Holocaust Research Infrastructure" height="45" width="90" src="//s3-eu-west-1.amazonaws.com/ehri-assets/logo-trans-small.png" rel="logo" />
            </a>
        </div>
        <div id="navbar-primary" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="country @views.Helpers.maybeActivePath(controllers.portal.routes.Countries.searchAll().url)">
                    <a href="@controllers.portal.routes.Countries.searchAll()">@Messages("type.country")</a>
                </li>
                <li class="repository @views.Helpers.maybeActivePath(controllers.portal.routes.Repositories.searchAll().url)">
                    <a href="@controllers.portal.routes.Repositories.searchAll()">@Messages("type.repository")</a>
                </li>
                <li class="documentaryUnit @views.Helpers.maybeActivePath(controllers.portal.routes.DocumentaryUnits.searchAll().url)">
                    <a href="@controllers.portal.routes.DocumentaryUnits.searchAll()">@Messages("type.documentaryUnit")</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
