@(title: Any, result: services.search.SearchResult[_], cls: String = "", styles: Html = Html(""), scripts: Html = Html(""), meta: Map[String,String] = Map.empty)(html: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

@views.html.layout.portalLayout(Messages("search.results.list", title, result.page.start, result.page.end, result.page.total, result.params.query.getOrElse("")), cls = cls, styles = styles, scripts = scripts, meta = meta) {
    @views.html.common.mainContent {
        @views.html.common.itemHeader(title.toString) {
        }
        @html
    }
}
