@(item: Accessible)(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, cls = item.isA.toString) {
    @views.html.common.mainContent {
        @views.html.common.itemDetails {
            @views.html.common.rightSidebar {
                @views.html.common.itemHeader(item.toStringLang)
                @content
            } {
                @views.html.common.typeLabel(item.isA) {
                }
                @views.html.common.latestAction(item, controllers.portal.routes.Portal.itemHistory(item.id, modal = true))
            }
        }
    }
}
