@(title: Any, itemClass: String = "", scripts: Html = Html(""), styles: Html = Html(""), meta: Map[String,String] = Map.empty)(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, flash: Flash, lang: Lang, prefs: utils.SessionPrefs)



@views.html.layout.portalLayout(title, itemClass = itemClass, scripts = scripts, styles = styles, meta = meta) {
    @views.html.layout.mainContent {
        <main class="block-text">
            <article>
                @content
            </article>
        </main>
    }
}