@(leftMenu: Html)(rightMenu: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, messages: Messages)

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header pull-right" id="navbar-admin-toggle">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-admin" aria-expanded="false" aria-controls="navbar-admin">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        @leftMenu
        <div id="navbar-admin" class="navbar-collapse collapse">
            @rightMenu
        </div>
    </div>
</nav>
