@(summary: EventSummary)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@views.html.activity.eventContainer {
    @summary.user.collect {
        case user: UserProfile => {
            <img src="@views.Helpers.gravitar(user.data.imageUrl)" alt="User Avitar" class="timeline-event-title-image" />
        }
    }
} {
    @for(timestamp <- summary.timestamp; user <- summary.user) {
        <h4 class="timeline-event-title">@views.html.helpers.linkTo(user)</h4>
        <a href="@controllers.portal.social.routes.Social.userActivity(
            userId = user.id,
            params = utils.SystemEventParams(from = summary.from.map(_.toLocalDateTime), to = summary.to.map(_.toLocalDateTime)))"
                class="timeline-event-time" title="@timestamp">
                    <i class="fa fa-clock-o"></i>
                    @views.Helpers.relativeDate(timestamp)
        </a>
    }
} {
    @if(summary.sameType && summary.sameSubject) {
        @for(ev <- summary.events.headOption; s <- ev.effectiveSubject; et <- ev.effectiveType; accessor <- summary.user) {
            @views.html.activity.eventBody(ev, s, accessor, et, subjectCount = 1)
        }
    } else {
        <dl class="timeline-summary">
        @for((et, subjects) <- summary.byTypeAndFirstSubject.toSeq.sortBy(_._1)) {
            <dt>@Messages("systemEvent." + et)</dt>
            <dd>
                <ul class="timeline-summary-subjects">
                    @for(s <- subjects.toSeq.sortBy(_.isA)) {
                        <li>@views.html.helpers.linkTo(s, content = Html(s.toStringAbbr))</li>
                    }
                </ul>
            </dd>
        }
        </dl>
    }
} {
    @if(summary.eventTypes.size == 1) {
        @views.html.activity.eventBadge(summary.eventTypes.head)
    } else {
        <div class="timeline-badge success"><i class="fa fa-fw fa-inverse fa-lg fa-tasks"></i></div>
    }
}
