@(event: SystemEvent, subject: Model, user: Accessor, et: EventType.Value, subjectCount: Int)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)


@annotationBody(ann: Annotation) = {
    <blockquote>@Html(md.renderUntrustedMarkdown(ann.data.body))</blockquote>
}

@eventModification(subject: Annotation) = {
    @subject.target.map{ target =>
        @eventFooter(target, views.html.helpers.linkToWithFragment(target, "#" + subject.id))
    }
}

@eventFooter(item : Model, link: Html) = {
    <div class="event-footer @item.isA">@link</div>
}

@et match {
    case EventType.modification if user.id == subject.id => {
        @* No text for this one... *@
    }
    case EventType.modification => {
        @subject match {
            case m: Annotation => {
                @annotationBody(m)
                @eventModification(m)
            }
            case _ => {
                @eventFooter(subject, views.html.helpers.linkTo(subject))
            }
        }
    }
    case EventType.link => {
        @* Annotations and links are special cases. We could link directly to the item but it wouldn't be very useful for the user.
        Instead we link to the scope item (if it's available), with the link/comment id as a fragment. *@
        @event.scope.map { scope =>
            @if(scope.id == subject.id) {
                @eventFooter(subject, views.html.helpers.linkTo(subject))
            } else {
                @eventFooter(scope, views.html.helpers.linkToWithFragment(scope, "#" + subject.id))
            }
        }
    }
    case EventType.annotation => {
        @subject match {
            case m: Annotation => {
                @annotationBody(m)
            }
            case _ => { @* Nothing to do there *@ }
        }
        @event.scope.map { scope =>
            @if(scope.id == subject.id) {
                @eventFooter(subject, views.html.helpers.linkTo(subject))
            } else {
                @eventFooter(scope, views.html.helpers.linkToWithFragment(scope, "#" + subject.id))
            }
        }
    }
    case EventType.ingest => {
        @if(subjectCount > 1) {
            <div class="event-footer @subject.isA">
                <a href="@controllers.portal.routes.Portal.eventDetails(event.id)">
                    @Messages("systemEvent.ingest.subjects", subject.toStringLang, subjectCount - 1)
                </a>
            </div>
        } else {
            @eventFooter(subject, views.html.helpers.linkTo(subject))
        }
    }
    case _ => {
        @* Not bothering with other events yet... *@
        @eventFooter(subject, views.html.helpers.linkTo(subject))
    }
}
