@(events: Iterable[Seq[SystemEvent]])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@for(eventSeq <- events) {
    @if(eventSeq.size == 1) {
        @views.html.activity.eventItem(eventSeq.head)
    } else {
        @defining(EventSummary(eventSeq)) { summary =>
            @if(summary.sameSubject && summary.sameType) {
                @views.html.activity.eventItem(eventSeq.head)
            } else {
                @views.html.activity.eventSummary(summary)
            }
        }
    }
}
