@(event: SystemEvent)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@for(et <- event.effectiveType; user <- event.actioner; subject <- event.effectiveSubject; count <- event.childCount) {
    @views.html.activity.eventContainer {
        @event.actioner.collect {
            case up: UserProfile => {
                <img src="@views.Helpers.gravitar(up.data.imageUrl)" alt="User Avatar" class="timeline-event-title-image">
            }
        }
    } {
        <h4 class="timeline-event-title">
            @Html(Messages("timeline.eventType." + et.toString,
                views.html.helpers.linkTo(user),
                Messages("timeline.target." + subject.isA.toString)))
        </h4>
        <a href="@controllers.portal.routes.Portal.eventDetails(event.id)" class="timeline-event-time" title="@event.data.timestamp">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            @views.Helpers.relativeDate(event.data.timestamp)
        </a>
    } {
        @views.html.activity.eventBody(event, subject, user, et, count)
    } {
        @views.html.activity.eventBadge(et)
    }
}
