@(event: SystemEvent, subjects: utils.Page[models.base.Model], params: utils.PageParams)(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, prefs: utils.SessionPrefs, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(Messages("activity"), defines.EntityType.UserProfile.toString) {
    @views.html.common.mainContent {
        @views.html.common.itemHeader(Messages("activity"))
        <div class="timeline-heading">
            @for(eventType <- event.data.eventType; user <- event.actioner; item <- event.effectiveSubject) {
                <h4 class="event-title">
                    @Html(Messages("timeline.eventType." + eventType, views.html.helpers.linkTo(user), Messages("timeline.target." + item.isA.toString)))
                </h4>
            }
            <a class="event-time"
                    href="@controllers.portal.routes.Portal.eventDetails(event.id)"
                    title="@event.data.timestamp">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                @views.Helpers.relativeDate(event.data.timestamp)
            </a>
        </div>

        <ul class="event-subjects">
            @for(item <- subjects) {
                <li>@views.html.helpers.linkTo(item)</li>
            }
        </ul>
        @views.html.common.pagination(subjects)
    }
}
