@(summary: EventSummary)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang)

@summary.user.map { accessor =>
    <li xmlns="http://www.w3.org/1999/html">
        <div class="timeline-panel-container">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    @accessor match {
                        case user: UserProfile => {
                            <img src="@views.p.Helpers.gravitar(user.model.imageUrl)" alt="@user.model.name" class="gravitar pull-left" />
                            <h4 class="timeline-title">@views.html.helpers.linkTo(user)</h4>
                        }
                        case _ => {}
                    }

                    @summary.timestamp.map { ts =>
                        <small class="timeline-time">
                            <i class="glyphicon glyphicon-time"></i>
                            @views.Helpers.relativeDate(ts)
                        </small>
                    }
                </div>
                @if(summary.sameType && summary.sameSubject) {
                    @for(ev <- summary.events.headOption; s <- ev.effectiveSubject; et <- ev.effectiveType) {
                        @views.html.activity.eventBody(ev, s, accessor, et)
                    }
                } else {
                    <dl class="timeline-body timeline-summary dl-horizontal">
                    @summary.byTypeAndFirstSubject.toSeq.sortBy(_._1).map { case (et, subjects) =>
                        <dt>@Messages("systemEvent." + et)</dt>
                        <dd>
                            <ul class="list-unstyled">
                            @subjects.toSeq.sortBy(_.isA).map { s =>
                                <li>@views.html.helpers.linkTo(s, content = Html(s.toStringAbbr))</li>
                            }
                           </ul>
                        </dd>
                        }
                    </dl>
                }
            </div>
        </div>
        <div class="timeline-separator">&nbsp;</div>
        <div class="timeline-badge-container">
            <div class="timeline-badge-spacer">&nbsp;</div>
            @if(summary.eventTypes.size == 1) {
                @views.html.activity.eventBadge(summary.eventTypes.head)
            } else {
                <div class="timeline-badge success"><i class="glyphicon glyphicon-tasks"></i></div>
            }
        </div>
    </li>
}
