@(img: Html)(heading: Html)(content: Html)(badge: Html)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

<li class="timeline-event">
    @img
    <div class="timeline-body">
        <header class="timeline-heading">@heading</header>
        @content
    </div>
    <div class="timeline-separator">&nbsp;</div>
    <div class="timeline-badge-container">
        <div class="timeline-badge-spacer">&nbsp;</div>
        @badge
    </div>
</li>
