@(events: utils.RangePage[SystemEvent])(implicit userOpt: Option[UserProfile], request: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig, prefs: utils.SessionPrefs)

<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="history-modal-label">@Messages("item.history")</h4>
</div>
<div class="modal-body">
    @itemActivityStream(events)
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
</div>
