@(events: utils.RangePage[Seq[SystemEvent]])(implicit userOpt: Option[UserProfile], request: RequestHeader, globalConfig: global.GlobalConfig, prefs: utils.SessionPrefs, messages: Messages, md: views.MarkdownRenderer)

<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="history-modal-label">@Messages("item.history")</h4>
</div>
<div class="modal-body">
    @views.html.activity.activityStream(events)
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal">@Messages("close")</button>
</div>
