@(page: utils.RangePage[Seq[SystemEvent]])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages)

@import backend.rest.Constants.OFFSET_PARAM

<div class="timeline-container">
    <ol id="activity-stream" class="timeline timeline">
        @views.html.activity.eventItems(page)
    </ol>
</div>
@if(page.more) {
    <a id="activity-stream-fetchmore" class="btn btn-default btn-block"
    data-limit="@page.limit" data-offset="@(page.offset + page.limit)"
    href="@utils.joinPath(req.path, req.queryString.filterKeys(_ != "modal").updated(OFFSET_PARAM, Seq((page.offset + page.limit).toString)))">
    @Messages("activity.fetchMore")
    </a>
}
