@(page: utils.RangePage[Seq[SystemEvent]])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import services.data.Constants.OFFSET_PARAM

<div class="timeline-container">
    <ol id="activity-stream" class="timeline">
        @views.html.activity.eventItems(page)
    </ol>
</div>
@if(page.more) {
    <a id="activity-stream-fetchmore" class="timeline-fetch-more"
    data-limit="@page.limit" data-offset="@(page.offset + page.limit)"
    href="@utils.http.joinPath(req.path, req.queryString.filterKeys(_ != "modal").updated(OFFSET_PARAM, Seq((page.offset + page.limit).toString)))">
        <span class="load-prompt">@Messages("activity.fetchMore")</span>
        <span class="loading-indicator spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </a>
}
