@(user: UserProfile, page: utils.RangePage[Seq[SystemEvent]])(implicit userOpt: Option[UserProfile], req: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

<div class="activity-stream-wrapper">
    @if(page.nonEmpty) {
        @views.html.activity.timeline(page)
    } else {
        <p class="no-content">
            @if(userOpt.exists(_.id != user.id)) {
                @Messages("activity.noUserActivityYet", user.toStringLang)
            } else {
                @Messages("activity.noActivityYet")
            }
        </p>
    }
</div>
