@**
* Render annotation comments around some HTML content
*
*@
@(item: MetaModel[_], annotations: Map[String,List[AnnotationMeta]])(body: Html)(implicit userOpt: Option[UserProfileMeta], req: RequestHeader)

@annotationList(notes: List[AnnotationMeta]) = {
    @if(!notes.isEmpty) {
        <ul>
        @notes.map { ann =>
            <li class="annotatable" id="@ann.id">
                @ann.user.map { accessor =>
                    <a href="@views.Helpers.urlFor(accessor)">@accessor</a> -
                }
                @ann.model.body
                @if(!ann.annotations.isEmpty) {
                    @annotationList(ann.annotations)
                }
            </li>
        }
        </ul>

    }
}

<div class="annotatable" id="@item.id">
    @body
    @annotations.get(item.id).map { list =>
        @if(!list.isEmpty) {
            <hr />
            <div class="item-annotations">
                @annotationList(list)
            </div>
        }
    }
</div>