@**
* Render annotation comments around some HTML content
*
*@
@(item: AccessibleEntity, annotations: Map[String,List[Annotation]])(body: Html)(implicit userOpt: Option[UserProfileMeta], req: RequestHeader)

@annotationList(notes: List[Annotation]) = {
    @if(!notes.isEmpty) {
        <ul>
        @notes.map { ann =>
            <li class="annotatable" id="@ann.id">
                @ann.accessor.map { accessor =>
                    <a href="@views.Helpers.urlFor(accessor)">@accessor.name</a> -
                }
                @ann.stringProperty(AnnotationF.BODY).map { body =>
                    @body.trim
                }
                @if(!ann.annotations.isEmpty) {
                    @annotationList(ann.annotations)
                }
            </li>
        }
        </ul>

    }
}

<div class="annotatable" id="@item.id">
    @body
    @annotations.get(item.id).map { list =>
        @if(!list.isEmpty) {
            <hr />
            <div class="item-annotations">
                @annotationList(list)
            </div>
        }
    }
</div>