@**
* Render annotation comments around some HTML content
*
*@
@(item: AccessibleEntity, annotations: Map[String,List[Annotation]])(body: Html)(implicit maybeUser: Option[UserProfile], req: RequestHeader)

@annotationList(annotations: List[Annotation]) = {
    @if(!annotations.isEmpty) {
        <ul>
        @annotations.map { ann =>
            <li class="annotatable" id="@ann.e.id">
                @ann.accessor.map { accessor =>
                    <a href="@views.Helpers.urlFor(accessor)">@accessor.name</a> -
                }
                @ann.to.body.map(_.trim)
                @annotationList(ann.annotations)
            </li>
        }
        </ul>

    }
}

<div class="annotatable" id="@item.id">
    @body
    @annotations.get(item.id).map { list =>
        @defining(list.filter(_.to.annotationType == models.forms.AnnotationType.Comment)) { alist =>
            @if(!alist.isEmpty) {
                <hr />
                <div class="item-annotations">
                    @annotationList(alist)
                </div>
            }
        }
    }
</div>