@**
* Render annotation comments around some HTML content
*
*@
@(item: models.base.LinkableEntity, links: List[Link])(implicit maybeUser: Option[UserProfile], req: RequestHeader)

<div class="annotatable" id="@item.id">
    @defining(item.annotationLinks(links)) { annotationLinks =>
        @if(!annotationLinks.isEmpty) {
            <hr />
            <h3>@Messages("linking.linkTo")</h3>
            <ul class="item-annotation-links">
                @* Assume items with an access point body have been rendered previously *@

                @annotationLinks.map { link =>
                    @item.opposingTarget(link).map { other =>
                        <li class="resolved-access-point">
                            <a href="@views.Helpers.urlForEntity(other.e)">@other.toStringLang</a>
                            @link.stringProperty(LinkF.DESCRIPTION).map { desc =>
                                <p>@desc</p>
                            }
                        </li>
                    }.getOrElse {
                        @link.stringProperty(LinkF.DESCRIPTION).map { desc =>
                            <p>@desc</p>
                        }
                    }
                }
            </ul>
        }
    }
</div>