@(items: List[AccessibleEntity] = Nil)(implicit lang: Lang)

<ul class="breadcrumb">
    @defining(if (!items.isEmpty) 200 / items.length else 300) { truncateLength =>
        @if(!items.isEmpty) {
            @items.init.map { i =>
                <li><a title="@i" href="@views.Helpers.urlFor(i)">@views.Helpers.ellipsize(i.toStringLang, truncateLength)</a> <span class="divider">/</span></li>
            }

                <!-- TODO: Decide whether to show the last time -->
            <li title="@items.last" class="muted"><em>@views.Helpers.ellipsize(items.last.toStringLang, truncateLength)</em></li>
        } else {
            <li></li>
        }
    }
</ul>
