@(facets: List[solr.facet.FacetClass], call: Call)(implicit req: RequestHeader, lang: Lang)

@import solr.facet.Utils

@facets.map { fc =>
    @if(fc.count > 0) {
        <small>
            <h4>@Messages(fc.name)</h4>
            <ul class="unstyled facet-list">
            @fc.sorted.filter(_.count > 0).map { f =>
                @if(f.applied) {
                    <li class="selected-filter">
                        @{fc.pretty(f)}
                        (@f.count)
                        <a class="remove-filter" href="@Utils.pathWithoutFacet(fc, f,
                            req.path, req.queryString.filterKeys(_!="page"))"><i class="icon-remove"></i></a>
                    </li>
                } else {
                    <li>
                        <a href="@Utils.pathWithFacet(fc, f, call.toString, req.queryString.filterKeys(_!="page"))">
                            @fc.pretty(f)
                            (@f.count)
                        </a>
                    </li>
                }
            }
            </ul>
        </small>
    }
}