@(paginationKey: String, page: rest.Page[AccessibleEntity], params: ListParams, filterNames: Iterable[String], orderNames: Iterable[String]
)(listBody: Html)(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@searchInput(propertyName: String, propertyValue: String, fieldOptions: Iterable[String], index: Integer) = {
    <div class="control-group">
        <input class="input-large search-query" placeholder="@Messages("search.filterItems")" type="text" name="@{s"${ListParams.PROPERTY_VALUE}[${index}]"}" value="@propertyValue" />
        <select name="@{s"${ListParams.PROPERTY_NAME}[${index}]"}">
        @fieldOptions.toList.sorted.map { option =>
            <option @{if (propertyName == option) "selected" else ""} value="@option">@Messages(option)</option>
        }
        </select>
        <button type="submit" class="btn">@Messages("search.filterItems")</button>
    </div>
}

@if(page.total > 0 || (page.total == 0 && !params.pfn.isEmpty)) {
    <hr />
    <div class="item-list">
        <form method="GET" class="form-search">

            <div class="btn-group pull-right">
                @if(params.reverse.getOrElse(false)) {
                    <a class="btn btn-toggle" href="@utils.joinPath(req.path, req.queryString.filterKeys(_ != ListParams.REVERSE))">
                        <i class="icon-chevron-down"></i>
                        Order
                    </a>
                } else {
                    <a class="btn" href="@utils.joinPath(req.path, req.queryString.updated(ListParams.REVERSE, Seq("true")))">
                        <i class="icon-chevron-up"></i>
                        Order
                    </a>
                }
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    @Messages("search.sortItems")
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                @orderNames.toList.sorted.map { sortKey =>
                    <li>
                        <a href="@utils.joinPath(req.path, req.queryString.updated(ListParams.SORT, Seq(sortKey)))">
                            @Messages(sortKey)
                            @if(params.sort.equals(Some(sortKey))) {
                                <i class="icon-ok"></i>
                            }
                        </a>
                    </li>
                }
                </ul>
            </div>

            @if(page.total > 0) {
                <h3>@Messages(paginationKey, page.offset + 1, page.offset + page.list.size, page.total)</h3>
                <div class="item-list-filter well well-small">
                    @params.sort.map { s =>
                        <input type="hidden" name="@ListParams.SORT" VALUE="@s" />
                    }

                    @if(params.pfn.isEmpty) {
                        @searchInput(propertyName = "", propertyValue = "", fieldOptions = filterNames, index = 0)
                    } else {
                        @params.pfn.zip(params.pfv).zipWithIndex.map { case (pv,i) =>
                            @searchInput(propertyName = pv._1, propertyValue = pv._2, fieldOptions = filterNames, index = i)
                        }
                    }
                </div>
                @common.pagination(page)
            } else {
                @Messages("search.noItemsFound")
            }

            @listBody
        </form>
    </div>
}
