@(page: utils.AbstractPage[_], pageParam: String = "page")(implicit req: RequestHeader)

@if(page.hasMultiplePages) {
    <div id="pagination" class="pagination pull-right">
        <ul>
        @views.Helpers.paginationRanges(page.page.toInt + 1, page.numPages.toInt).map { range =>
            @range.map { cp =>
                @if(cp == page.page.toInt) {
                    <li class="disabled"><a>@cp</a></li>
                } else {
                    <li><a href="@utils.joinPath(req.path, req.queryString.updated(pageParam, Seq(cp.toString)))">@cp</a></li>
                }
            }
            @if(range.last != page.numPages) {
                <li class="disabled"><a>...</a></li>
            }
        }
        </ul>
    </div>
}