@**
* Render annotation comments around some HTML content
*
*@
@(item: models.base.LinkableEntity, desc: models.base.Description, links: List[Link])(implicit prefix: String, maybeUser: Option[UserProfile], req: RequestHeader)

@import AccessPointF._

@relatedLinks(list: List[AccessPoint], accessPointType: AccessPointType.Value) = {
    @if(!list.isEmpty) {
        <h4>@Messages(prefix + "." + IsadG.ACCESS_POINTS + "." + accessPointType)</h4>
        <ul class="item-annotation-links">
            @list.map { accessPoint =>
                @accessPoint.target(item, links).map { case (link, other) =>
                    <li class="resolved-access-point" id="@accessPoint.id">
                        <a href="@views.Helpers.urlForEntity(other.e)">@accessPoint.targetName</a> [<a href="@routes.Links.get(link.id)">*</a>]
                        @link.stringProperty(LinkF.DESCRIPTION).map { desc =>
                        <small><p class="muted">@desc</p></small>
                    }
                    </li>
                }.getOrElse {
                    <li class="unresolved-access-point" id=" @accessPoint.id">
                        @accessPoint.targetName.map { t =>
                            @t
                        }
                        @accessPoint.stringProperty(AccessPointF.DESCRIPTION).map { desc =>
                            <small><p class="muted">@desc</p></small>
                        }
                        <a ng-click="addAccessPointLink('@item.id', '@accessPoint.id')">+</a>
                    </li>
                }
            }
        </ul>
    }
}

@if(!desc.accessPoints.isEmpty) {
    <h3>@Messages(prefix + "." + IsadG.ACCESS_POINTS)</h3>
    @AccessPointType.values.toList.map { accessPointType =>
        @relatedLinks(desc.accessPoints.filter(_.`type` == accessPointType), accessPointType)
    }
}
