@**
* Render annotation comments around some HTML content
*
*@
@(item: models.base.LinkableEntity, desc: models.base.Description, links: List[Link])(implicit maybeUser: Option[UserProfile], req: RequestHeader)

<div class="annotatable" id="@item.id">
    @if(!desc.accessPoints.isEmpty) {
        <hr />
        <h3>@Messages(IsadG.FIELD_PREFIX + "." + IsadG.ACCESS_POINTS)</h3>
        <ul class="item-annotation-links">
            @desc.accessPoints.map { accessPoint =>
                @accessPoint.target(item, links).map { case (link, other) =>
                    <li class="resolved-access-point">
                        <a href="@views.Helpers.urlForEntity(other.e)">@accessPoint.targetName</a>
                        @link.stringProperty(LinkF.DESCRIPTION).map { desc =>
                            <p>@desc</p>
                        }
                    </li>
                }.getOrElse {
                    <li class="unresolved-access-point">
                        @accessPoint.targetName.map { t =>
                            <strong>@t</strong>
                        }
                        @accessPoint.stringProperty(AccessPointF.DESCRIPTION).map { desc =>
                            <p>@desc</p>
                        }
                    </li>
                }
            }
        </ul>
    }
</div>