@(item: TemporalEntity, label: String)(implicit fieldPrefix: String, userOpt: Option[UserProfileMeta], request: RequestHeader, lang: Lang)

@if(!item.dates.isEmpty) {
    <h4>@Messages(fieldPrefix + "." + label)</h4>
    <table>
        @item.dates.map(_.model).map { dp =>
        <tr id="@dp.id">
            <td>
                @defining(dp.`type`) { typeOpt =>
                   @typeOpt.map { t =>
                        @Messages(fieldPrefix + "." + t)
                    }
                }
            </td>
            <td>@dp.years.trim</td>
        </tr>
        }
    </table>
}
