@(page: solr.ItemPage[_])(implicit req: RequestHeader, lang: Lang)

@import solr.Utils

<p class="selected-facets muted">
    @page.facets.map{ fclass =>
        @fclass.sorted.map{ facet =>
            @if(facet.applied) {
                <input type="hidden" name="@fclass.param" value="@facet.param" />
                <span class="label label-info">
                    @fclass.name: @fclass.pretty(facet) <a class="remove-filter"
                        href="@Utils.pathWithoutFacet(fclass, facet, req.path, req.queryString.filterKeys(_!="page"))">
                    <i class="icon-remove"></i></a>
                </span>
            }
        }
    }
</p>