#jr_overlay {
	@extend modal;
	@extend modal-backdrop;
	opacity:0.7;
	@include box-sizing(border-box);
	display:block;
	overflow:hidden;
}

#jr_container {
	@include make-md-column-offset(3);
	@include make-md-column(6);
	@extend modal;
	@extend fade;
	display:block;
	overflow:hidden;
	#jr_wrap {
		@extend modal-dialog;

		display:block;

		#jr_inner {
			@extend modal-content;

			#jr_header {
				@extend modal-header;
			}
			#jr_content {
				@extend modal-body;

				ul {
					@extend nav;
					@extend nav-justified;
					li {
						text-align:center;
						.jr_icon {
							@extend icon-social;
							&:before{
								font-size:50px;
							}
						}
						
					}
				}
			}
			#jr_close {
				@extend modal-footer;
				a {
					@extend btn;
					@extend btn-sm;
					@extend btn-danger;
				}
			}
		}
	}
}