@(perm: Option[services.data.PermissionDenied] = None)(implicit req: RequestHeader, messages: Messages)

<p class="error-notice">@Messages("errors.permissionDenied.explanation")</p>

@perm.map { error =>
    <p class="error-notice">
        <strong>@Messages("errors.errorDetails"):</strong>
    </p>
    <dl>
        <dt>user</dt><dd>@error.user</dd>
        <dt>item</dt><dd>@error.item</dd>
        <dt>permission</dt><dd>@error.permission</dd>
        <dt>scope</dt><dd>@error.scope</dd>
    </dl>
}.getOrElse {
    <p class="minor-notice">@Messages("errors.noFurtherInfo")</p>
}
