@(item: UserProfile, annotations: services.search.SearchResult[(Annotation,services.search.SearchHit)], searchAction: Call, followed: Boolean, messagingInfo: view.MessagingInfo)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, defines.EntityType.UserProfile.toString) {
    @views.html.common.mainContent {
        @helper.form(action = searchAction) {
            @views.html.userProfile.itemDetails(item, followed = followed, messagingInfo = messagingInfo) {
                <div class="user-profile-content">
                    <header class="block-header">
                        <h2>@Messages("annotation.list")</h2>
                        @views.html.helpers.inlineSearchFilter(annotations.params, id = "search-notes-q", label = Messages("annotation.search"))
                    </header>
                    <div id="user-annotations">
                        @views.html.userProfile.annotationList(annotations)
                    </div>
                </div>
            }
        }
    }
}
