@(annotations: services.search.SearchResult[(Annotation,services.search.SearchHit)])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@if(annotations.nonEmpty) {
    <ul class="user-annotation-list">
    @annotations.page.map { case (ann, hit) =>
        @views.html.userProfile.annotation(ann, highlighter = hit, cls = "user-annotation")
    }
    </ul>
    @common.pagination(annotations.page)
    <ul class="list-export-options">
        <i class="fa fa-download"></i>
        @for(fmt <- Seq(DataFormat.Text, DataFormat.Csv, DataFormat.Tsv, DataFormat.Json)) {
            <li>
                <a class="download-link" target="_blank" title="@Messages("download.format." + fmt)"
                    href="@controllers.portal.users.routes.UserProfiles.annotations(format = fmt)&limit=1000">
                    @fmt
                </a>
            </li>
        }
    </ul>
} else {
     <p class="no-content">
         @annotations.params.query.map { q =>
             @Messages("annotation.search.noneFound", q)
         }.getOrElse {
             @Messages("annotation.none")
         }
     </p>
}
