@(annotation: Annotation, highlighter: views.Highlighter = views.NoopHighlighter, cls: String = "")(implicit userOpt: Option[UserProfile], req: RequestHeader, messages: Messages, md: MarkdownRenderer, conf: AppConfig)

<li class="annotation @cls" id="@annotation.id">
    <div class="annotation-header">
        @for(user <- annotation.user ; event <- annotation.latestEvent) {
            <div class="annotation-meta" title="@event.data.timestamp">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                @views.Helpers.relativeDate(event.data.timestamp)
            </div>
        }
        @annotation.target.map { src =>
            @views.html.helpers.linkToWithFragment(src, "#" + annotation.id, content = Html(highlighter.highlight(src.toStringLang)))
            @annotation.data.field.map { field =>
            - <strong>@Messages(views.Helpers.prefixFor(src.isA) + "." + field)</strong>
            }
        }
    </div>

    @views.html.annotation.annotationText(annotation, highlighter)
    @views.html.annotation.listItemFooter(annotation, highlighter)
</li>
