@(item: UserProfile, annotations: utils.search.SearchResult[(Annotation,utils.search.SearchHit)], searchAction: Call, followed: Boolean, canMessage: Boolean)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@import utils.search.SearchParams._

@views.html.layout.portalLayout(item.toStringLang, EntityType.UserProfile.toString) {
    @views.html.layout.mainContent {
        @helper.form(action = searchAction) {
            @itemDetails(item, followed = followed, canMessage = canMessage) {
                <div class="user-profile-content">
                    <h2 class="block-header user">
                        @Messages("annotation.list")
                        @views.html.helpers.inlineSearchFilter(annotations.params, id = "search-notes-q", label = Messages("annotation.search"))
                    </h2>
                    <div id="user-annotations">
                    @views.html.userProfile.annotationList(annotations)
                    </div>
                </div>
            }
        }
    }
}