@(them: UserProfile, result: services.search.SearchResult[(UserProfile,services.search.SearchHit)], searchAction: Call, following: Seq[UserProfile])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)

@import services.search.SearchParams

@userInfo(html: Html) = {
    @if(html.body.trim.nonEmpty) {
        <ul class="user-info">@html</ul>
    }
}

@views.html.layout.portalLayout(Messages("social.browseUsers"), itemClass = "userProfile") {
    @views.html.common.mainContent {
        @views.html.common.itemHeader(Messages("social.browseUsers")) {
        }
        @if(result.params.isFiltered || result.nonEmpty) {
            @helper.form(action = searchAction, 'role -> "form") {
                <div class="search-bar">
                    <div class="form-group search-box">
                        <div class="input-group">
                            <input type="search" class="form-control"
                                    placeholder="@Messages("search.UserProfile")"
                                    name="@SearchParams.QUERY" value="@result.params.query" autofocus />
                            <span class="input-group-btn">
                                <button class="btn">
                                    <span class="glyphicon glyphicon-search"></span>
                                    @Messages("search.submit")
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="user-grid clearfix">
                    @result.page.map { case (user, hit) =>
                        <li class="user-grid-item user-info">
                            <a href="@controllers.portal.social.routes.Social.userProfile(user.id)" class="gravitar img-container">
                                <span class="helper"></span>
                                <img src="@views.Helpers.gravitar(user.data.imageUrl)" />
                            </a>
                            <div class="user-info-details">
                                <h3><a class="name" href="@controllers.portal.social.routes.Social.userProfile(user.id)">@user.toStringLang</a></h3>
                                @userInfo {
                                    @user.data.institution.map { inst =>
                                        <li>@inst</li>
                                    }
                                    @user.data.location.map { loc =>
                                        <li>@loc</li>
                                    }
                                }
                            </div>
                        </li>
                    }
                </ul>
                @common.pagination(result.page)
            }
        }
    }
}
