@(f: play.api.data.Form[String], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, flash: Flash)

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateHorizontal.f) }

@userName(name: String) = {
    <strong>@name</strong>
}

@userOpt.map { user =>
    @helper.form(action = action, attrs._role -> "form", attrs._class -> "validate-form", attrs._id -> "update-profile-form") {
        @formHelpers.csrfToken()

        <div class="alert alert-warning">
            <strong>@Messages("warning")</strong>
            @Messages("profile.delete.check.text")

            <h3><strong>@user.data.name</strong></h3>
        </div>

        @formHelpers.globalErrors(f)

        <div class="form-field">
            <label for="confirm-delete" class="sr-only">@Messages("profile.delete.check")</label>
            <input id="confirm-delete" type="text" class="form-control" name="confirm" placeholder="@Messages("profile.delete.check")" autocomplete="off">
        </div>
        <div class="form-field">
            <button type="submit" class="btn btn-danger">@Messages("profile.delete")</button>
            <a class="btn btn-cancel" href="@controllers.portal.users.routes.UserProfiles.updateProfile()">@Messages("cancel")</a>
        </div>
    }
}
