@(user: UserProfile, profilePage: Boolean = false)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@textSection(key: String, data: Option[String]) = {
    @data.filterNot(_.trim.isEmpty).map { text =>
        <dt>@Messages(key)</dt><dd>@Html(md.renderUntrustedMarkdown(text))</dd>
    }
}

<dl class="user-profile-info">
    @user.data.location.map { loc =>
        <dt>
            @Messages("profile.location")
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </dt>
        <dd>
            @loc
        </dd>
    }
    @user.data.url.map { url =>
        <dt>
            @Messages("profile.url")
            <i class="fa fa-link" aria-hidden="true"></i>
        </dt>
        <dd><a href="@url" target="_blank" rel="noopener">@views.Helpers.ellipsize(url, 50)</a></dd>
    }
    @user.data.workUrl.map { url =>
        <dt>
            @Messages("profile.workUrl")
            <i class="fa fa-link" aria-hidden="true"></i>
        </dt>
        <dd><a href="@url" target="_blank" rel="noopener">@views.Helpers.ellipsize(url, 50)</a></dd>
    }
    @textSection("profile.institution", user.data.institution)
    @textSection("profile.role", user.data.role)
    @textSection("profile.about", user.data.about)
    @textSection("profile.interests", user.data.interests)

    @user.data.orcid.map { orcid =>
        @views.html.userProfile.orcidUrl(user, orcid)
    }
</dl>
