@(f: Form[ProfileData], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer, fieldConstructor: helper.FieldConstructor)

@import UserProfileF._

@helper.form(action = action) {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(f)

    @defining(f("")) { field =>
        @defining(FIELD_PREFIX) { implicit fieldPrefix =>
            @formHelpers.lineInput(field, NAME, attrs._title -> "")
            @formHelpers.lineInput(field, TITLE, attrs._title -> "")
            @formHelpers.lineInput(field, LOCATION, attrs._title -> Messages("profile.location.description"))
            @formHelpers.lineInput(field, INSTITUTION, attrs._title -> Messages("profile.institution.description"))
            @formHelpers.lineInput(field, ROLE, attrs._title -> "")
            @formHelpers.lineInput(field, URL, attrs._type -> "url", attrs._title -> "")
            @formHelpers.lineInput(field, WORK_URL, attrs._type -> "url", attrs._title -> "")
            @formHelpers.choiceInput(field, LANGUAGES, views.Helpers.languagePairList, attrs._multiple -> true, attrs._size -> 1, attrs._title -> "")
            @formHelpers.textInput(field, ABOUT, attrs._title -> "")
            @formHelpers.textInput(field, INTERESTS, attrs._title -> "")
            @* Currently for compatibility only *@
            @formHelpers.hiddenInput(f(FIRST_NAMES))
            @formHelpers.hiddenInput(f(LAST_NAME))
        }
    }

    <div class="form-field">
        <div class="form-submit">
            <button type="submit" class="btn btn-info">@Messages("profile.update.submit")</button>
        </div>
    </div>
}
