@(profileForm: play.api.data.Form[ProfileData], imageForm: Form[String], accForm: Form[AccountPreferences])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@extraCss = {
    <link href="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/css/select2.css")" rel="stylesheet">
    <link href="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/css/select2-bootstrap.css")" rel="stylesheet">
}

@extraJs = {
    <script src="@controllers.portal.routes.PortalAssets.versioned("js/lib/select2/js/select2.full.min.js")"></script>
}

@implicitField = @{ views.html.helper.FieldConstructor(views.html.helpers.fieldTemplateHorizontal.f) }

@views.html.layout.portalLayout(Messages("profile"), EntityType.UserProfile.toString, styles = extraCss, scripts = extraJs) {
    @views.html.common.mainContent {
        @views.html.common.itemHeader(Messages("profile.edit"))
        @userOpt.flatMap(_.account).map { account =>
            @if(!account.verified) {
                <fieldset>
                    <legend>@Messages("mail.unverifiedEmailWarning")</legend>
                    @unverified()
                </fieldset>
            }

            @if(userOpt.exists(_.account.exists(_.hasPassword))) {
                <div class="profile-form-section">
                    <h3>@Messages("profile.section.security")</h3>
                    <div class="form-field">
                        <div class="form-submit">
                            <a href="@controllers.portal.account.routes.Accounts.changePassword()">@Messages("login.password.change.link")</a>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="profile-form-section">
            <h3>@Messages("profile.section.general")</h3>
            @editProfileForm(profileForm, controllers.portal.users.routes.UserProfiles.updateProfilePost())
        </div>

        <div class="profile-form-section">
            <h3>@Messages("profile.section.image")</h3>
            @imageUploadForm(imageForm, controllers.portal.users.routes.UserProfiles.updateProfileImagePost())
        </div>

        <div class="profile-form-section">
            @userOpt.flatMap(_.account).map { acc =>
                <h3>@Messages("profile.section.preferences")</h3>
                @views.html.account.accountPrefsForm(accForm, controllers.portal.users.routes.UserProfiles.updateAccountPrefsPost())
            }
        </div>

        <div class="profile-form-section">
            <h3>@Messages("profile.section.delete")</h3>
            <div class="form-field">
                <div class="form-submit">
                    <a href="@controllers.portal.users.routes.UserProfiles.deleteProfile()" class="btn  btn-danger ">@Messages("profile.delete.link")</a>
                </div>
            </div>
        </div>
    }
}
