@(f: Form[ProfileData], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, fieldConstructor: helper.FieldConstructor)

@import UserProfileF._

@helper.form(action = action) {
    @formHelpers.csrfToken()
    @formHelpers.globalErrors(f)

    @defining(f("")) { field =>
        @defining(FIELD_PREFIX) { implicit fieldPrefix =>
            @formHelpers.lineInput(field, NAME)
            @formHelpers.lineInput(field, TITLE)
            @formHelpers.lineInput(field, LOCATION)
            @formHelpers.lineInput(field, INSTITUTION)
            @formHelpers.lineInput(field, ROLE)
            @formHelpers.lineInput(field, URL, 'type -> "url")
            @formHelpers.lineInput(field, WORK_URL, 'type -> "url")
            @formHelpers.choiceInput(field, LANGUAGES, views.Helpers.languagePairList, 'multiple -> true)
            @formHelpers.textInput(field, ABOUT)
            @formHelpers.textInput(field, INTERESTS)
            @* Currently for compatibility only *@
            @formHelpers.hiddenInput(f(FIRST_NAMES))
            @formHelpers.hiddenInput(f(LAST_NAME))
        }
    }
    <div class="form-field">
        <div class="form-submit">
            <button type="submit" class="btn btn-post">@Messages("profile.update.submit")</button>
        </div>
    </div>
}
