@(f: Form[String], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash, fieldConstructor: helper.FieldConstructor)

@userOpt.map { user =>
    @helper.form(action = action, 'role -> "form", 'enctype -> "multipart/form-data") {
        @formHelpers.csrfToken()
        @formHelpers.globalErrors(f)

        <div class="form-group">
            <label class="control-label">
                <img height="100" width="100" class="img-responsive img-thumbnail" src="@views.Helpers.gravitar(user.data.imageUrl)" />
            </label>
            <div class="control-elements">
                <input class="form-control" type="file" name="image" />
            </div>
        </div>

        <div class="form-group">
            <div class="form-submit">
                <button type="submit" class=" btn  btn-post ">@Messages("profile.image.edit")</button>
            </div>
        </div>
    }
}
