@(f: Form[String], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, flash: Flash, fieldConstructor: helper.FieldConstructor)

@userOpt.map { user =>
    @helper.form(action = action, attrs._role -> "form", attrs._enctype -> "multipart/form-data") {
        @formHelpers.csrfToken()
        @formHelpers.globalErrors(f)

        <div class="form-field">
            <label class="control-label">
                <img alt="Current Image" height="100" width="100" class="img-responsive img-thumbnail" src="@views.Helpers.gravitar(user.data.imageUrl)" />
            </label>
            <div class="control-elements">
                <input type="file" name="image" accept=".png, .jpg, .jpeg, .gif" />
            </div>
        </div>

        <div class="form-field">
            <div class="form-submit">
                <button type="submit" class="btn btn-info">@Messages("profile.image.edit")</button>
            </div>
        </div>
    }
}
