@(them: UserProfile, result: services.search.SearchResult[(Model, services.search.SearchHit)], currentWatchedIds: Seq[String])(implicit userOpt: Option[UserProfile], req: RequestHeader, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@defining(userOpt.exists(_.id == them.id)) { isCurrentUser =>

    @if(result.nonEmpty) {
        @views.html.common.search.searchItemList(result, currentWatchedIds)
        @common.pagination(result.page)

        <ul class="list-export-options">
            <i class="fa fa-download" aria-hidden="true"></i>
            @for(fmt <- Seq(DataFormat.Text, DataFormat.Csv, DataFormat.Tsv, DataFormat.Json)) {
                <li>
                    <a class="alt" target="_blank" title="@Messages("download.format." + fmt.toString)" href="@controllers.portal.users.routes.UserProfiles.watching(format = fmt)&limit=-1">
                        @fmt
                    </a>
                </li>
            }
        </ul>
    } else {
        @if(isCurrentUser) {
            <p class="no-content">@Messages("social.noItemsWatchedYet")</p>
            <p class="small minor-notice">
                <i class="fa fa-info-circle"></i>
                @Messages("social.noItemsWatchedYet.detail")
            </p>
        } else {
            <p class="no-content">@Messages("social.noUserItemsWatchedYet", them.toStringLang)</p>
        }
    }
}
