@(item: UserProfile, followed: Boolean, messagingInfo: models.view.MessagingInfo)(content: Html)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@isCurrentUser = @{userOpt.exists(_.id == item.id)}

@views.html.common.itemDetails {
    @views.html.common.rightSidebar {
        @views.html.common.itemHeader(item.toStringLang)
        @views.html.userProfile.details(item)

        @content
    } {

        @if(isCurrentUser) {
            @views.html.userProfile.currentUserSidebar(item)
        } else {
            @views.html.userProfile.userSidebar(item, followed, messagingInfo)
        }

    }
}
