@(them: UserProfile, result: services.search.SearchResult[(models.base.Model, services.search.SearchHit)], currentWatchedIds: Seq[String])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@defining(userOpt.exists(_.id == them.id)) { isCurrentUser =>

    @if(result.nonEmpty) {
        @views.html.common.search.searchItemList(result, currentWatchedIds)
        @common.pagination(result.page)

        <ul class="list-export-options">
            <i class="fa fa-download"></i>
            @for(fmt <- Seq(DataFormat.Text, DataFormat.Csv, DataFormat.Tsv, DataFormat.Json)) {
                <li>
                    <a class="alt" target="_blank" title="@Messages("download.format." + fmt.toString)" href="@controllers.portal.users.routes.UserProfiles.watching(format = fmt)&limit=-1">
                        @fmt
                    </a>
                </li>
            }
        </ul>
    } else {
        <p class="no-content">
            @if(isCurrentUser) {
                @Messages("social.noItemsWatchedYet")
            } else {
                @Messages("social.noUserItemsWatchedYet", them.toStringLang)
            }
        </p>
    }
}
