@(item: UserProfile, users: utils.AbstractPage[UserProfile], params: utils.PageParams, myFollowing: Seq[UserProfile], canMessage: Boolean)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, EntityType.UserProfile.toString) {

    @views.html.common.mainContent {
        @itemDetails(item, followed = myFollowing.exists(_.id == item.id), canMessage = canMessage) {
            <div class="user-profile-activity">
                <div class="block-header">
                    <h2>@Messages("social.usersFollowedBy", item.toStringLang)</h2>
                </div>
                <div class="browse-users-following">
                    @followingList(item, users, params, myFollowing)
                </div>
            </div>
        }
    }
}
