@(item: UserProfile, users: utils.AbstractPage[UserProfile], params: utils.PageParams, myFollowing: Seq[UserProfile], messagingInfo: view.MessagingInfo)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, defines.EntityType.UserProfile.toString) {

    @views.html.common.mainContent {
        @views.html.userProfile.itemDetails(item, followed = myFollowing.exists(_.id == item.id), messagingInfo = messagingInfo) {
            <div class="user-profile-activity">
                <header class="block-header">
                    <h2>@Messages("social.userFollowing", item.toStringLang)</h2>
                </header>
                <div class="browse-users-followers">
                    @views.html.userProfile.followerList(item, users, params, myFollowing)
                </div>
            </div>
        }
    }
}
