@(item: UserProfile, users: utils.AbstractPage[UserProfile], params: utils.PageParams, myFollowing: Seq[UserProfile], messagingInfo: view.MessagingInfo)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, EntityType.UserProfile.toString) {

    @views.html.common.mainContent {
        @views.html.userProfile.itemDetails(item, followed = myFollowing.exists(_.id == item.id), messagingInfo = messagingInfo) {
            <div class="user-profile-activity">
                <div class="block-header">
                    <h2>@Messages("social.usersFollowedBy", item.toStringLang)</h2>
                </div>
                <div class="browse-users-following">
                    @views.html.userProfile.followingList(item, users, params, myFollowing)
                </div>
            </div>
        }
    }
}
