@(user: UserProfile, info: view.MessagingInfo)(implicit userOpt: Option[UserProfile], messages: Messages, request: RequestHeader)

@if(info.canMessage) {
    <a class="btn btn-sm btn-default message-user"
       data-toggle="modal"
       data-target="#message-modal"
       role="button"
       href="@controllers.portal.social.routes.Social.sendMessage(user.id)">
        @Messages("social.message.send", user.toStringLang)
    </a>
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @views.html.userProfile.messageForm(user, info)
            </div>
        </div>
    </div>
}
