@(user: UserProfile, info: view.MessagingInfo)(implicit userOpt: Option[UserProfile], request: RequestHeader, messages: Messages)

@implicitField = @{ helper.FieldConstructor(views.html.helpers.fieldTemplateHorizontal.f) }

@helper.form(action = info.action, 'class -> "message-form", 'role -> "form") {
    @formHelpers.csrfToken()
    <div class="modal-header">
        <h4 class="modal-title">@Messages("social.message.send", user.toStringLang)</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <p class="minor-notice">
            @Messages("social.message.send.warning")
        </p>
        @helper.inputText(info.form("subject"), 'required -> "true", '_label -> Messages("social.message.send.subject"))
        @helper.textarea(info.form("message"), 'required -> "true", 'rows -> "6", '_label -> Messages("social.message.send.message"))
        @helper.checkbox(info.form("copySelf"), '_label -> Messages("social.message.send.copy"))
    </div>
    <div class="modal-footer">
        <button type="submit" class=" btn  btn-post ">@Messages("social.message.send.submit")</button>
    </div>

}

