@(user : UserProfile, additionalTitle : String = "")(controls: Html = Html(""))(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, flash: Flash)


<nav class="info-bar user-profile-bar collapse navbar-collapse">
    @if(controls.body.nonEmpty) {
        <div class="nav navbar-nav navbar-right">
            @controls
        </div>
    }
   
    <a href="#" class="gravitar">
        <img src="@views.p.Helpers.gravitar(user.model.imageUrl)" alt="@user.model.name"/>
    </a>
    <h1><a 
        @for(us <- userOpt if user.id != us.id) { href="@controllers.portal.social.routes.Social.userProfile(user.id)" }
        @for(us <- userOpt if user.id == us.id) { href="@controllers.portal.users.routes.UserProfiles.profile()" }>
        @if(additionalTitle.nonEmpty) {
            @additionalTitle
        } else {
            @user.model.name
        }
        </a>
    </h1>
</nav>

