@(item: UserProfile, watchList: services.search.SearchResult[(models.base.Model,services.search.SearchHit)], followed: Boolean, canMessage: Boolean, currentWatchedIds: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, "userProfile") {
    @views.html.common.mainContent {
        @itemDetails(item, followed = followed, canMessage = canMessage) {
            <div class="user-profile-content">
                <header class="block-header">
                    <h2>@Messages("profile.watch.list")</h2>
                </header>
                <div id="user-watched">
                    @views.html.userProfile.itemWatchList(item, watchList, currentWatchedIds)
                </div>
            </div>
        }
    }
}
