@(item: UserProfile, events: utils.RangePage[Seq[SystemEvent]], params: utils.RangeParams, eventParams: utils.SystemEventParams)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer)

@import org.joda.time.format.DateTimeFormat

<div class="user-profile-content">
    <h2 class="block-header UserProfile">
        @Messages("activity")
        @for(from <- eventParams.from; to <- eventParams.to) {
            @defining(DateTimeFormat.shortDateTime()) { fmt =>
                @fmt.print(to) - @fmt.print(from)
            }
        }
    </h2>
    @views.html.activity.userActivityStream(item, events)
</div>