@(item: UserProfile, events: utils.RangePage[Seq[SystemEvent]], params: utils.RangeParams, eventParams: utils.SystemEventParams)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer)

@import java.time.format.DateTimeFormatter.ISO_LOCAL_DATE

<div class="user-profile-content">
    <header class="block-header">
        <h2>@Messages("activity")
        @for(from <- eventParams.from; to <- eventParams.to) {
            @ISO_LOCAL_DATE.format(to) - @ISO_LOCAL_DATE.format(from)
        }</h2>
    </header>
    @views.html.activity.userActivityStream(item, events)
</div>
