@(item: UserProfile, watchList: services.search.SearchResult[(Model,services.search.SearchHit)], searchAction: Call, followed: Boolean, messagingInfo: view.MessagingInfo, currentWatchedIds: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, EntityType.UserProfile.toString) {
    @views.html.common.mainContent {
        @views.html.userProfile.itemDetails(item, followed = followed, messagingInfo = messagingInfo) {
            @helper.form(action = searchAction) {
                <div class="user-profile-content">
                    <header class="block-header">
                        <h2>@Messages("profile.watch.list")</h2>
                        @views.html.helpers.inlineSearchFilter(watchList.params, id = "watched-q", label = Messages("profile.watch.search"))
                    </header>
                    <div id="user-watched">
                    @views.html.userProfile.itemWatchList(item, watchList, currentWatchedIds)
                    </div>
                </div>
            }
        }
    }
}
