@(item: UserProfile, watchList: services.search.SearchResult[(models.base.Model,services.search.SearchHit)], searchAction: Call, followed: Boolean, canMessage: Boolean, currentWatchedIds: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, messages: Messages, md: views.MarkdownRenderer, flash: Flash)

@views.html.layout.portalLayout(item.toStringLang, EntityType.UserProfile.toString) {
    @views.html.common.mainContent {
        @itemDetails(item, followed = followed, canMessage = canMessage) {
            @helper.form(action = searchAction) {
                <div class="user-profile-content">
                    <h2 class="block-header UserProfile">
                        @Messages("profile.watch.list")
                        @views.html.helpers.inlineSearchFilter(watchList.params, id = "watched-q", label = Messages("profile.watch.search"))
                    </h2>
                    <div id="user-watched">
                    @views.html.userProfile.itemWatchList(item, watchList, currentWatchedIds)
                    </div>
                </div>
            }
        }
    }
}
