@(watchList: services.search.SearchResult[(models.base.Model,services.search.SearchHit)], currentWatchedIds: Seq[String])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: SessionPrefs, conf: AppConfig, messages: Messages, md: MarkdownRenderer, flash: Flash)

@* user should always be defined here *@
@userOpt.map { user =>
    @views.html.layout.portalLayout(Messages("profile.watch.list"), EntityType.UserProfile.toString) {
        @views.html.common.mainContent {
            <h1>@Messages("profile.watch.list")</h1>
            @itemWatchList(user, watchList, currentWatchedIds)
        }
    }
}
