@(f: Form[models.VocabularyF], vf: Form[List[String]], users: Seq[(String,String)], groups: Seq[(String,String)], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.createVocabulary")) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @vocabulary.renderForm(None, f)
        @permissions.renderVisibilityForm(vf, users, groups)

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("submitButton.createVocabulary")</button>
        </div>
	}
} {

}
