@(item: Option[Vocabulary], f: play.api.data.Form[models.forms.VocabularyF], action: Call)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(Messages("actions.updateVocabulary")) {
	@helper.form(action = action, 'class -> "entity-form form-horizontal") {
        @vocabulary.renderForm(item, f)

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Messages("submitButton.updateVocabulary")</button>
        </div>
	}
} {

}
