@(item: Vocabulary, annotations: Map[String,List[Annotation]])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item.identifier)(maybeUser, req) {

    @common.annotated(item, annotations, routes.Vocabularies.annotate(item.id)) {
        @common.stringValue(item, models.forms.VocabularyF.NAME)
        @common.stringValue(item, models.forms.VocabularyF.DESCRIPTION)
    }

    @common.relatedLinks(item, annotations)

} {
    @common.visibility(item)

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Create)) {
                <li><a href="@routes.Vocabularies.createConcept(item.id)">@Messages("actions.createTopLevelConcept")</a></li>
            }
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Update)) {
                <li><a href="@routes.Vocabularies.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Update)) {
                <li><a href="@routes.Vocabularies.visibility(item.id)">@Messages("actions.setVisibility")</a></li>
            }
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Delete)) {
                <li><a href="@routes.Vocabularies.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Grant)) {
                <li><a href="@routes.Vocabularies.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.ActionLogs.historyFor(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}