@(item: Vocabulary, result: solr.ItemPage[(Entity,String)], params: solr.SearchParams, facets: List[solr.facet.AppliedFacet], action: Call, annotations: Map[String,List[Annotation]], links: List[Link])(implicit maybeUser: Option[UserProfile], req: RequestHeader, lang: Lang, flash: Flash)

@rightSidebarLayout(item, breadcrumbs = common.breadcrumbs(List(item))) {

    @common.annotated(item, annotations, routes.Vocabularies.annotate(item.id)) {
        @defining("vocabulary") { implicit  prefix =>
            @common.stringValue(item, models.VocabularyF.DESCRIPTION)
        }
    }

    @views.html.search.searchSection(Messages("vocabulary.items")) {
        @views.html.search.searchForm(result, params, action, autofocus = false)
    }
} {
    @common.visibility(item, routes.Vocabularies.visibility(item.id), ContentType.Vocabulary)
    @common.latestAction(item, routes.Vocabularies.history(item.id))

    <ul class="item-actions nav nav-tabs nav-stacked">
        @maybeUser.map { user =>
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Create)) {
                <li><a href="@routes.Vocabularies.createConcept(item.id)">@Messages("actions.createTopLevelConcept")</a></li>
            }
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Update)) {
                <li><a href="@routes.Vocabularies.update(item.id)">@Messages("actions.updateItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Delete)) {
                <li><a href="@routes.Vocabularies.delete(item.id)">@Messages("actions.deleteItem")</a></li>
            }
            @if(user.hasPermission(ContentType.Vocabulary, PermissionType.Grant)) {
                <li><a href="@routes.Vocabularies.managePermissions(item.id)">@Messages("actions.managePermissions")</a></li>
            }
            <li><a href="@routes.Vocabularies.history(item.id)">@Messages("actions.showHistory")</a></li>
        }
    </ul>
}