@(annotation: Annotation)(implicit userOpt: Option[UserProfile], req: RequestHeader, lang: Lang, globalConfig: global.GlobalConfig)

<div class="annotation clearfix" id="@annotation.id">
    <div class="annotation-header">
        @annotation.target.map { src =>
            @p.helpers.linkToWithFragment(src, "#" + annotation.id)
        }
        @annotation.model.field.map { field =>
            - <strong>@Messages(field)</strong>
        }
    </div>
    <blockquote>@annotation.model.body</blockquote>
    <div class="annotation-footer">
        @for(user <- annotation.user ; event <- annotation.latestEvent) {
            <small><span class="glyphicon glyphicon-time"></span> @views.Helpers.relativeDate(event.model.timestamp)s</small>
        }
    </div>
</div>