@(f: Form[ProfileData], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateHorizontal.f) }
@import UserProfileF._

@helper.form(action = action, 'role -> "form", 'class -> "form-horizontal validate-form", 'id -> "update-profile-form") {
    @formHelpers.csrfToken()

    @defining(FIELD_PREFIX) { implicit fieldPrefix =>
        @formHelpers.lineInput(f(""), NAME)
        @formHelpers.lineInput(f(""), LOCATION)
        <div class="form-group">
           <label class="col-sm-4 control-label" for="@LANGUAGES">@Messages(FIELD_PREFIX + "." + LANGUAGES)</label>
            <div class="col-sm-8">
           @defining(views.Helpers.fieldValues(f(LANGUAGES))) { values =>
                <select class="select2 form-control" multiple name="@{f(LANGUAGES).name}[]" id="@f(LANGUAGES).id">
                    @views.Helpers.languagePairList.map { case (oid, oval) =>
                    <option value="@oid" @{if(values.contains(oid)) "selected"}>@oval</option>
                    }
                </select>
            }
            </div>
        </div>
        @helper.textarea(f(ABOUT), '_label -> Messages(FIELD_PREFIX + "." + ABOUT), 'class -> "input-lg")
    }
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="button post">
                @Messages("submitButton.updateUserProfile")
            </button>
        </div>
    </div>
}
