@(f: play.api.data.Form[ProfileData], action: Call)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@p.layout.portalLayout(Messages("portal.profile.updateProfile")) {
    @p.layout.infobar {
    } {
        <h1>@Messages("portal.profile.updateProfile")</h1>
    } {
    }

    @p.layout.mainContent {
        <div class="col-sm-10">
            @editProfileForm(f, action)
        </div>
    }
}
