@(item: UserProfile, f: play.api.data.Form[UserProfileF], action: Call)(
implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@implicitField = @{ views.html.helper.FieldConstructor(p.helpers.fieldTemplateHorizontal.f) }
@import UserProfileF._

@helper.form(action = action, 'role -> "form", 'class -> "form-horizontal", 'id -> "update-profile-form") {
    @formHelpers.csrfToken()
    @* NB: The value of this hidden input can be changed, but will be ignored on the server *@
    @formHelpers.hiddenInput(f(Entity.IDENTIFIER))

    <div class="pull-right">
        <button id="cancel-profile-update" class="btn btn-xs btn-default">@Messages("actions.cancel")</button>
        <button id="submit-profile-update" class="btn btn-xs btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            @Messages("submitButton.updateUserProfile")
        </button>
    </div>


    @defining(FIELD_PREFIX) { implicit fieldPrefix =>
        @profileDetailsLayout {
            <input type="text" name="@f(NAME).name" value="@f(NAME).value" id="@f(NAME).id" />
        } {
            <input type="text" name="@f(LOCATION).name" value="@f(LOCATION).value" id="@f(LOCATION).id" />
        } {
            @defining(views.Helpers.fieldValues(f(LANGUAGES))) { values =>
                <select class="select2 clearfix" multiple name="@{f(LANGUAGES).name}[]" id="@f(LANGUAGES).id">
                    @views.Helpers.languagePairList.map { case (oid, oval) =>
                        <option value="@oid" @{if(values.contains(oid)) "selected"}>@oval</option>
                    }
                </select>
            }
        } {
            <textarea name="@f(ABOUT).name" id="@f(ABOUT).id">@f(ABOUT).value</textarea>
        }
    }
}
