@(error: Option[String] = None)(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash, token: play.filters.csrf.CSRF.Token)

@error.map { err =>
    <div class="alert alert-danger"> @Messages(err)</div>
}

@helper.form(action = controllers.portal.routes.Profile.uploadProfileImagePost, 'role -> "form", 'enctype -> "multipart/form-data", 'class -> "form-inline") {
    @formHelpers.csrfToken()
    <input class="form-control" type="file" name="image" />

    <input type="submit" class="btn btn-primary" value="Submit" />
}
