@(watchList: utils.AbstractPage[models.base.AnyModel], annotations: utils.AbstractPage[Annotation])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@* user should always be defined here *@
@userOpt.map { user =>
    @p.layout.portalLayout(user.model.name, "user") {

        @p.social.profileBar(user) {
            <a class="btn btn-get" href="@controllers.portal.routes.Profile.updateProfile">
                @Messages("portal.profile.updateProfile")
            </a>
        }

        <div class="main-content">
            @p.social.profileForUser(user, true)

            <div class="user-profile-content">
                @defining(request.getQueryString("tab").getOrElse("0")) { activeTab =>
                    <div class="tab-header">
                        <h3 class="block-header user @(if(activeTab == "0") "active")"><a href="#user-watch-list" data-tabidx="0" data-toggle="tab">@Messages("portal.profile.watchedItems")</a></h3>
                        <h3 class="block-header user @(if(activeTab == "1") "active")"><a href="#user-annotations" data-tabidx="1" data-toggle="tab">@Messages("portal.annotation.list")</a></h3>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane @(if(activeTab == "0") "active")" id="user-watch-list">
                            @itemWatchList(user, watchList)
                        </div>
                        <div class="tab-pane @(if(activeTab == "1") "active")" id="user-annotations">
                            @annotationList(annotations)
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
