@(watchList: utils.AbstractPage[models.base.AnyModel], annotations: utils.AbstractPage[Annotation], links: utils.AbstractPage[Link])(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@* user should always be defined here *@
@userOpt.map { user =>
    @p.layout.portalLayout(user.toStringLang) {
        @p.layout.infobar {
        } {
            <h1>@Messages("portal.profile")</h1>
        } {
            <a class="btn btn-sm btn-info" href="@controllers.portal.routes.Portal.updateProfile">
                <span class="glyphicon glyphicon-wrench"></span>
                @Messages("portal.profile.updateProfile")
            </a>
        }

        <div class="container main-content">
            <div class="row">
                <div class="col-md-2">
                    @p.social.profileForUser(user)
                </div>
                <div class="col-md-10">
                    @defining(req.getQueryString("tab").getOrElse("0")) { activeTab =>
                    <ul class="nav nav-tabs">
                        <li class="@(if(activeTab == "0") "active")"><a href="#user-watch-list" data-tabidx="0" data-toggle="tab">@Messages("portal.social.watchedItems")</a></li>
                        <li class="@(if(activeTab == "1") "active")"><a href="#user-annotations" data-tabidx="1" data-toggle="tab">@Messages("portal.social.annotations")</a></li>
                        <li class="@(if(activeTab == "2") "active")"><a href="#user-links" data-tabidx="2" data-toggle="tab">@Messages("portal.social.links")</a></li>
                    </ul>

                    <div class="tab-content tab-content-panel">
                        <div class="tab-pane @(if(activeTab == "0") "active") panel-body" id="user-watch-list">
                            @itemWatchList(user, watchList)
                        </div>
                        <div class="tab-pane @(if(activeTab == "1") "active") panel-body" id="user-annotations">
                            <p>
                                @annotationList(annotations)
                        </div>
                        <div class="tab-pane @(if(activeTab == "2") "active") panel-body" id="user-links">
                            <p>
                                @linkList(links)
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    }
}
