@(item: UserProfile)(implicit userOpt: Option[UserProfile], req: RequestHeader, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash)

@import UserProfileF._

<div id="profile-details">
    <div class="pull-right">
        <a id="edit-profile" class="btn btn-info btn-xs" href="@controllers.portal.routes.Portal.updateProfile">
            <span class="glyphicon glyphicon-wrench"></span>
            @Messages("actions.edit")
        </a>
    </div>
    @profileDetailsLayout {
        @Html(views.Helpers.renderMarkdown(item.model.name))
    } {
        @item.model.location.map { loc =>
            @Html(views.Helpers.renderMarkdown(loc))
        }
    } {
        @if(!item.model.languages.isEmpty) {
            <ul class="list-inline list-unstyled comma-sep">
                @item.model.languages.map { lang =>
                    <li>@views.Helpers.languageCodeToName(lang)</li>
                }
            </ul>
        }
    } {
        @item.model.about.map { about =>
            @Html(views.Helpers.renderMarkdown(about))
        }
    }
    <hr />
</div>
