@(watchList: utils.AbstractPage[models.base.AnyModel])(implicit userOpt: Option[UserProfile], request: RequestHeader, prefs: utils.SessionPrefs, globalConfig: global.GlobalConfig, lang: Lang, flash: Flash) Flash)

@* user should always be defined here *@
@userOpt.map { user =>
    @p.layout.portalLayout(Messages("portal.social.watchedItems")) {
        @layout.infobar {
        } {
        }

        @views.html.layout.mainContent {
            <h1>@Messages("portal.social.watchedItems")</h1>
            @itemWatchList(user, watchList)
        }
    }
}
