<section class="result-column">
	<article>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">&nbsp;</div>
				
				<div id="content" class="span8">
					<article id="{{item.id}}" class="search-item" ng-repeat="item in basket.content" >
						
						<div class="logo" data-tooltip="{{item.isA}}">
							<i class="iehri-{{item.isA}} icon-4x"></i>
						</div>
						<!-- If desc inside relationship -->
						<div ng-repeat="desc in item.descriptions | descLang:ui.general.lang">
							<header>
								<a ng-show="desc.name" href="#/item/{{item.isA}}/{{item.id}}"><b>{{desc.name}}</b></a>
							</header>
							
							<p ng-show="desc.content.scopeAndContent">
								{{(desc.content.scopeAndContent > 360 && (desc.content.scopeAndContent.substring(0, 360) + '...')) || desc.content.scopeAndContent}}
							</p>
						</div>						
					</article>
					<div ng-show="ui.general.loading" style="text-align:center;"><i class="icon-spinner icon-spin icon-large"></i></div>
				</div>
				<div class="span2">
					&nbsp;
				</div>
			</div>
		</div>
	</article>
</section>