<div class="search-bar">
<h1>{{item.descriptions.0.name}}</h1>
</div>
<article class="container document" style="padding-top:30px;">
	
	<div class="row">
		<div class="span8">
			<ul class="unstyled">
				<li title="Concept connections" class="simpleBlock">
					<div id="Translation">
						<h3>Translations</h3>
						<span class="badge" ng-repeat="desc in item.descriptions" style="margin-right:5px;">{{desc.name}} ({{desc.languageCode}})</span> 
					</div>
					<div id="Vocab">
						<h3>Vocabulary</h3>
						<span class="badge" >{{item.vocabulary.id}}</span> 
					</div>
					<div id="parent" ng-show="item.parent">
						<h3>Parent</h3>
						<a class="badge badge-info" title="Go to this term page" href="#/item/cvocConcept/{{item.parent.id}}">+</a>
						<span class="badge" ng-repeat="desc in item.parent.descriptions" style="margin-right:5px;">>{{desc.name}} ({{desc.languageCode}})</span> 
					</div>
					<div id="broaderTerms" ng-show="item.broaderTerms">
						<h3>Broader Terms</h3>
						<ul class="unstyled">
							<li ng-repeat="term in item.broaderTerms">
								<a class="badge badge-info" title="Go to this term page" href="#/item/cvocConcept/{{term.id}}">+</a>
								<span class="badge" ng-repeat="desc in term.descriptions" style="margin-right:5px;">{{desc.name}} ({{desc.languageCode}})</span> 
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="span4">
			<ul class="unstyled">
				<li title="Identifier" class="simpleBlock">
					<a href="{{item.identifier}}" target="_blank">Link to identifier</a>
				</li>
			</ul>
		</div>
	</div>
</article>