<article class="container document">
<h1>{{item.desc.name}}</h1>

<div class="row">
		<div class="span8">
			<ul class="unstyled">
				<li identifier="Identity" title="Identity" itemtitle="item.desc.name" class="documentBlock" level="1" itemid="item.desc.id" show="item.desc.identity">
					<div ng-repeat="(fieldName, fieldValue) in item.desc.identity" id="{{fieldName}}">
						<h3>{{fieldName}}</h3>
						<p ng-show="fieldName != 'dates'">{{fieldValue}}</p>
						<ul ng-show="fieldName == 'dates'" class="unstyled">
							<li ng-repeat="date in fieldValue" id="{{desc.id}}-{{fieldName}}-{{date.isA}}">
								{{date.startDate}} / {{date.endDate}}
							</li>
						</ul>
					</div>
				</li>
				<li identifier="Details" title="Details" itemtitle="item.desc.name" class="documentBlock" level="1" itemid="item.desc.id" show="item.desc.details">
					<div ng-repeat="(fieldName, fieldValue) in item.desc.details" id="{{fieldName}}">
						<h3>{{fieldName}}</h3>
						<p>{{fieldValue}}</p>
					</div>
				</li>
				<li identifier="Control" title="Control" itemtitle="item.desc.name" class="documentBlock" level="1" itemid="item.desc.id" show="item.desc.control">
					<div ng-repeat="(fieldName, fieldValue) in item.desc.control" id="{{control}}">
						<h3>{{fieldName}}</h3>
						<p ng-show="fieldValue.0.length == 1">{{fieldValue}}</p>
						<ul ng-show="fieldValue.0.length > 1" class="unstyled">
							<li ng-repeat="row in fieldValue">
								{{row}}
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="span4">
			<ul class="unstyled">
				<li class="ui-block">
					<h2 class="nomargin">Available blocks<div class="pull-right"><a class="filterBar-icon" ng-click="ui.blocks.functions.toggleClose()"><i class="icon-minus"></i></a><a class="filterBar-icon" ng-click="ui.blocks.functions.toggleHide()"><i class="icon-remove"></i></a></div></h2>
					<ul class="list-item">
						<li ng-repeat="(blockId, block) in ui.blocks.list" ng-show="(block.hidden)">
							{{block.legend}}
							<a ng-click="ui.blocks.functions.toggleHide(blockId)" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</article>
<!--
        @descriptionFormSection(IDENTITY_AREA) {
            @hiddenInput(desc(Entity.ID))
            @enumChoiceInput(desc(ENTITY_TYPE), HistoricalAgentType, ENTITY_TYPE, blank=true)
            @lineInput(desc, AUTHORIZED_FORM_OF_NAME)
            @inlineNameSet(desc, PARALLEL_FORMS_OF_NAME)
            @inlineNameSet(desc, OTHER_FORMS_OF_NAME)
        }

        @descriptionFormSection(DESCRIPTION_AREA) {
            <div class="inline-formset control-group clearfix">
                Template for adding inline date forms via JS 
                <label class="control-label">
                    @Messages(fieldPrefix + "." + DATES)
                    <a href="#" class="add-inline-element"><i class="icon-plus-sign"></i></a>
                </label>
                <div class="inline-element-template form-template">
                    @common.renderDateSetForm(desc(DATES + "[IDX]"))
                </div>
                <div class="inline-element-list">
                    @helper.repeat(desc(DATES), min = 0) { desc =>
                    @common.renderDateSetForm(desc)
                    }
                </div>
            </div>

            @defining(desc(DESCRIPTION_AREA)) { desc =>
                @textInput(desc, DATES_OF_EXISTENCE)
                @textInput(desc, HISTORY)
                @textInput(desc, PLACES)
                @textInput(desc, LEGAL_STATUS)
                @textInput(desc, FUNCTIONS)
                @textInput(desc, MANDATES)
                @textInput(desc, INTERNAL_STRUCTURE)
                @textInput(desc, GENERAL_CONTEXT)
            }
        }

        @descriptionFormSection(CONTROL_AREA) {
            @defining(desc(CONTROL_AREA)) { desc =>
                @lineInput(desc, DESCRIPTION_IDENTIFIER)
                @lineInput(desc, INSTITUTION_IDENTIFIER)
                @textInput(desc, RULES_CONVENTIONS)
                @textInput(desc, STATUS)
                @textInput(desc, LEVEL_OF_DETAIL)
                @textInput(desc, DATES_CVD)
                @multiselectInput(desc(LANGUAGES_USED), LANGUAGES_USED, views.Helpers.languagePairList)
                @multiselectInput(desc(SCRIPTS_USED), SCRIPTS_USED, views.Helpers.scriptPairList)
                @inlineTextSet(desc, SOURCES)
                @textInput(desc, MAINTENANCE_NOTES)
            }
        }
-->