<article class="container document">
<h1>{{item.desc.name}}</h1>

<div class="row">
		<div class="span8">
			<ul class="unstyled">
				<li identifier="Identity" title="Identity" itemtitle="item.desc.name" class="documentBlock" level="1" itemid="item.desc.id" show="item.desc.identity">
					<div ng-repeat="(fieldName, fieldValue) in item.desc.identity" id="{{fieldName}}">
						<h3>{{fieldName}}</h3>
						<p ng-show="fieldName != 'dates'">{{fieldValue}}</p>
						<ul ng-show="fieldName == 'dates'" class="unstyled">
							<li ng-repeat="date in fieldValue" id="{{desc.id}}-{{fieldName}}-{{date.isA}}">
								{{date.startDate}} / {{date.endDate}}
							</li>
						</ul>
					</div>
				</li>
				<li identifier="Details" title="Details" itemtitle="item.desc.name" class="documentBlock" level="1" itemid="item.desc.id" show="item.desc.details">
					<div ng-repeat="(fieldName, fieldValue) in item.desc.details" id="{{fieldName}}">
						<h3>{{fieldName}}</h3>
						<p>{{fieldValue}}</p>
					</div>
				</li>
				<li identifier="Control" title="Control" itemtitle="item.desc.name" class="documentBlock" level="1" itemid="item.desc.id" show="item.desc.control">
					<div ng-repeat="(fieldName, fieldValue) in item.desc.control" id="{{control}}">
						<h3>{{fieldName}}</h3>
						<p ng-show="fieldValue.0.length == 1">{{fieldValue}}</p>
						<ul ng-show="fieldValue.0.length > 1" class="unstyled">
							<li ng-repeat="row in fieldValue">
								{{row}}
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="span4">
			<ul class="unstyled">
				<li class="ui-block">
					<h2 class="nomargin">Available blocks<div class="pull-right"><a class="filterBar-icon" ng-click="ui.blocks.functions.toggleClose()"><i class="icon-minus"></i></a><a class="filterBar-icon" ng-click="ui.blocks.functions.toggleHide()"><i class="icon-remove"></i></a></div></h2>
					<ul class="list-item">
						<li ng-repeat="(blockId, block) in ui.blocks.list" ng-show="(block.hidden)">
							{{block.legend}}
							<a ng-click="ui.blocks.functions.toggleHide(blockId)" class="filterBar-icon"><i class="icon-chevron-right"></i></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</article>