<div>
	<section >
	
		<section class="result-column">
		
			<article>
					<header>
						<div class="search-bar">
							<nav class="navbar">
								<div class="navbar-inner">
									<ul class="nav">
										<li class="dropdown">
											<a class="dropdown-toggle"><i class="icon-sort-by-order"></i> Sort</a> 
											<ul class="dropdown-menu">
												<li>
													<a ng-click="ui.search.filter.set('sort', 'score.desc')"> Relevance </a>
													<a ng-click="ui.search.filter.set('sort', 'name_sort.desc')"> Name </a>
													<a ng-click="ui.search.filter.set('sort', 'lastUpdated.desc')"> Recently Updated </a>
												</li>
											</ul>
										</li>
										<li ng-repeat="facet in ui.search.facets" ng-show="facet.count > 1"  class="dropdown">
											<a class="dropdown-toggle"><i class="icon-{{facet.param}}"></i> {{(searchParams[facet.param]) || facet.name}}</a> 
											<ul class="dropdown-menu">
												<li ng-click="ui.search.filter.remove(facet.param)"><a>All</a></li>
												<li ng-repeat="option in facet.facets.0" ng-show="option.count != 0" ng-click="ui.search.filter.set(facet.param, option.param)" ng-class="(option.applied && 'disabled')">
													<a>{{option.param}} ({{option.count}})</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</nav>
							</div>
							
						</div>
						<div class="container">
							<div class="row">
								<form class="filterBar" ng-submit="ui.search.filter.set('q', searchTerm)">
									<input type="text" class="filterBar-input span8 open" style="width:80%; padding-left:10px;" ng-change="ui.search.input()" ng-model="searchTerm" placeholder="Type your query here"/><div class="filterBar-icon">
										<a ng-click="ui.search.filter.set('q', searchTerm)"><i class="icon-search"></i></a></div><div class="filterBar-icon" ng-class="{'desactivated':ui.search.auto==false}">
										<a ng-click="ui.search.auto = !ui.search.auto;"><i class="icon-refresh"></a></i></div>
								</form>
								<p class="muted" ng-show="(bla)">
									<small>
										<em>
											Displaying item {{(page.offset + 1)}} to {{page.limit + page.offset}} of {{page.total}}
										</em>
									</small>
								</p>
							</div>
							
						</div>
					</header>
					
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span2" ng-class="(ui.map.state && 'hide')">
							</div>
							
							<div id="content" class="span8" when-scrolled="ui.pagination.next()" >
								<div ng-repeat="page in results.pages| orderBy:page.id:number">
									<article annotate="item" id="{{item.id}}" class="search-item" ng-repeat="item in page.items" >
										
										<div ng-show="item.page" class="pagination-page muted" id="page-{{item.page}}">
											<a title="Page {{item.page}}">
												{{item.page}}
											</a>
										</div>
										
										<div class="logo" data-tooltip="{{item.isA}}">
											<i class="iehri-{{item.isA}} icon-4x"></i>
										</div>
										<!-- If desc inside relationship -->
										<div ng-repeat="desc in item.descriptions | descLang:ui.general.lang">
											<header>
												<a ng-show="desc.name" href="#/item/{{item.isA}}/{{item.id}}"><b>{{desc.name}}</b></a> 
												<span class="filterBar filterBar-inline pull-right">
													<a class="filterBar-icon" title="Add to basket" ng-click="ui.basket.add(item)">
														<i class="icon-bookmark"></i>
													</a>
												</span>
												
											</header>
											
											<p ng-show="desc.content.scopeAndContent">
												{{(desc.content.scopeAndContent > 360 && (desc.content.scopeAndContent.substring(0, 360) + '...')) || desc.content.scopeAndContent}}
											</p>
										</div>
									</article>
								</div>
								<div ng-show="ui.general.loading" class="well" style="text-align:center;"><i class="icon-spinner icon-spin icon-large"></i></div>
							</div>
							<div ng-class="(ui.map.state && 'span3') || 'span2'">
								&nbsp;
								<div>
									
									<div class="square-container">
										<div class="square-hack"></div>
										<div class="square-content">
											<sap id="map" style="width:100%; height:100%; background-color:red;" data-lat="49.32" data-lon="10.15"></sap>
										</div>
									</div>
									<ul class="unstyled basket">
										<li class="basket-item" ng-repeat="marker in mapMarkers.markers">
											<div class="basket-item-title">{{marker.data.title}}</div>
											<div class="icon-pack">
												<a ng-click="map.center(marker.data)"><i class="icon-map-marker"></i></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
						
				
			</article>
				
		</section>
		
	</section>
</div>